@{
    ViewBag.ModalTitle = "CentralResourceAssigment";
    ViewBag.ModalId = "CentralResourceAssigmentModalSearch";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="CentralResourceAssigmentFormSearch" method="post">
    
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="approval_status_id">Approval Status Id</span></label>
                <input class="md-input" name="search_approval_status_id" id="search_approval_status_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="central_resource_id">Central Resource Id</span></label>
                <input class="md-input" name="search_central_resource_id" id="search_central_resource_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="client_brief_id">Client Brief Id</span></label>
                <input class="md-input" name="search_client_brief_id" id="search_client_brief_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="jobnumber">Jobnumber</span></label>
                <input class="md-input" name="search_jobnumber" id="search_jobnumber"   maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="button" onclick="fnCentralResourceAssigment.initsearch()" class="md-btn md-btn-primary"><i class="uk-icon-search"></i> Search</button>
        <button type="button" onclick="fnCentralResourceAssigment.initsearch('reset')" class="md-btn md-btn-success"><i class="uk-icon-times-circle"></i> Reset</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>