@{
    ViewBag.ModalTitle = "CentralResourceAssigment";
    ViewBag.ModalId = "CentralResourceAssigmentModalUpdate";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="CentralResourceAssigmentFormUpdate" method="POST">
<input value="" type="hidden" name="id" />
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="approval_status_id">Approval Status Id</span> </label>
                <input class="md-input" name="approval_status_id" id="approval_status_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="central_resource_id">Central Resource Id</span> </label>
                <input class="md-input" name="central_resource_id" id="central_resource_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="client_brief_id">Client Brief Id</span> </label>
                <input class="md-input" name="client_brief_id" id="client_brief_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="jobnumber">Jobnumber</span> </label>
                <input class="md-input" name="jobnumber" id="jobnumber"  maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="submit" class="md-btn md-btn-primary"><i class="uk-icon-save"></i> Save</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>