@{
    ViewData["Title"] = "Travel";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    <a href="@Url.Content("~/Hris/Travel/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
}

@section Paneltools{
    <a  data-target="#TravelModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>
}
@section Panelbody{
    <table class="table table-striped table-bordered table-hover table-checkable" id="TravelList"></table>
    @Html.Partial("Travel/Search")
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/Travel.js"></script>
}
