﻿@{
    ViewData["Title"] = "Service Receipt";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<link href="~/bundles/css/datatable.min.css?@DateTime.Now" rel="stylesheet" />
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Service Receipt</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Service Receipt</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a href="@Url.Content("~/Finance/ServiceReceipt/Detail/")" class="m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
                                @*<button id="btn-delete" type="button" class="m-btn btn btn-danger btn-sm m-btn--sm"><i class="la la-trash"></i></button>*@
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text input-group-sm"><i class="la la-search"></i></span></div>
                                        <input autocomplete="off" type="text" name="q" class="form-control form-control-sm m-input searchbox" placeholder="Search">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">                    
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.ServiceReceipt.ServiceReceipt>()
                                                              .Name("grid")
                                                              .Columns(columns =>
                                                              {
                                                                  columns.Command(command =>
                                                                  {
                                                                      command.Custom("").TemplateId("btnAction-template");
                                                                  }).Title("Action").HtmlAttributes(new { style = "text-align:center;" })
                                                                  .HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                                  columns.Bound("").Title("#").Width(35).Filterable(false)
                                                                    .HtmlAttributes(new { style = "text-align:center;", @class = "row-number" })
                                                                    .HeaderHtmlAttributes(new { style = "text-align:center;" });
                                                                  columns.Bound(p => p.Id).Width(200).Hidden();
                                                                  columns.Bound("").ClientTemplate("#= LinktoDetail(data) #").Title("Service Receipt Number").Width(200);
                                                                  columns.Bound(p => p.PurchaseOrderNumber).Width(200);
                                                                  columns.Bound(p => p.VendorName).Width(200);
                                                                  columns.Bound(p => p.ReceivedByName).Title("Received By").Width(200);
                                                                  columns.Bound(p => p.ServiceReceiptDatetime).Title("Received on").Format("{0:MMMM dd, yyyy}").Width(200);
                                                              })
                                                              .Pageable(pageable => pageable
                                                                  .Refresh(true)
                                                                  .PageSizes(true)
                                                                  .ButtonCount(5))
                                                              .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                              .Scrollable(s => s.Enabled(true).Height("auto"))
                                                              .Resizable(rsz => rsz.Columns(true))
                                                              .DataSource(dataSource => dataSource
                                                                  .Ajax()
                                                                  .PageSize(10)
                                                                  .Events(events => events.Error("errorHandler"))
                                                                  .Model(model =>
                                                                  {
                                                                      model.Id(p => p.Id);
                                                                  })
                                                                  .Read(read => read.Action("Read", "ServiceReceipt"))
                                                              )
                                                            //.Events(x => x.DataBound("dataBoundEvent"))
                                                            .NoRecords()
                    )                    

                </div>
            </div>


        </div>
    </div>
</div>

<style>
    /*.k-grid .k-state-selected {
        background-color: #ffffff !important;
        color: #000000;
    }*/
    /*#grid tbody tr:hover {
        background: #b6b6b6;
    }*/
    /*.k-grid .k-alt.k-state-selected {
        background-color: #f1f1f1 !important;
        color: #000000;
    }*/
</style>

@*@section Scripts{
    <script src="~/vendors/custom/datatables/datatables.bundle.js" asp-append-version="true"></script>
    <script src="~/Vendors/custom/KendoUI/js/kendo.all.min.js" asp-append-version="true"></script>
    <script src="~/Areas/Finance/Scripts/ServiceReceipt.Index.js" asp-append-version="true"></script>
}*@

<script id="btnAction-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'><span style='color:green'><i class='fa fa-edit'></i></span></a>
    <a href='javascript: void(0);' onclick='deleteGridRow(this)' title='Delete' class='delete'><span style='color:maroon'><i class='fa fa-trash-alt'></i></span></a>
</script>

<script>
    function LinktoDetail(data) {

        return "<center><a href='javascript: void(0);' onclick='DetailServiceReceipt(this)' title='Edit' class='edit'>" + data.ServiceReceiptNumber + "</a></center>";

    }

    function editGridRow(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("Detail", "ServiceReceipt")?Id=' + item.Id;
    }

     function deleteGridRow(e) {
        deleteRow(e, '@Url.Action("Delete", "ServiceReceipt")');
    }

    function DetailServiceReceipt(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("Detail", "ServiceReceipt")?Id=' + item.Id;
    }

</script>

