@{
    ViewData["Title"] = "EmployeeIdentity";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="EmployeeIdentityFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id" id="employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="expired">expired</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="expired" id="expired"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="file_upload">file_upload</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="file_upload" id="file_upload"  maxlength="150" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="name_card">name_card</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="name_card" id="name_card"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="no_card">no_card</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="no_card" id="no_card"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="published">published</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="published" id="published"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="published_by">published_by</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="published_by" id="published_by"  maxlength="200" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/EmployeeIdentity" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/EmployeeIdentity.create.js"></script>
}
