@{
    ViewData["Title"] = "Resignation";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="ResignationFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id" id="employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="notes">notes</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="notes" id="notes"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="notice_date">notice_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="notice_date" id="notice_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="resignation_date">resignation_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="resignation_date" id="resignation_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="resignation_reason">resignation_reason</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="resignation_reason" id="resignation_reason"  maxlength="2147483647" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/Resignation" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/Resignation.create.js"></script>
}
