@{
    ViewBag.ModalTitle = "Resignation";
    ViewBag.ModalId = "ResignationModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="ResignationFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_employee_basic_info_id" id="search_employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="notes">notes</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_notes" id="search_notes"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="notice_date">notice_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_notice_date" id="search_notice_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="resignation_date">resignation_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_resignation_date" id="search_resignation_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="resignation_reason">resignation_reason</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_resignation_reason" id="search_resignation_reason"  maxlength="2147483647" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnResignation.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnResignation.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>