@{
    ViewBag.ModalTitle = "ClientBriefAccount";
    ViewBag.ModalId = "ClientBriefAccountModalCreate";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="ClientBriefAccountFormCreate" method="post">
    

    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="account_management_id">Account Management Id</span> </label>
                <input class="md-input" name="account_management_id" id="account_management_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="approval_status_id">Approval Status Id</span> </label>
                <input class="md-input" name="approval_status_id" id="approval_status_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="client_brief_id">Client Brief Id</span> </label>
                <input class="md-input" name="client_brief_id" id="client_brief_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_posting_requisition_id">Job Posting Requisition Id</span> </label>
                <input class="md-input" name="job_posting_requisition_id" id="job_posting_requisition_id"  maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="submit" class="md-btn md-btn-primary"><i class="uk-icon-save"></i> Save</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>