@{
    ViewBag.ModalTitle = "ClientBriefAccount";
    ViewBag.ModalId = "ClientBriefAccountModalSearch";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="ClientBriefAccountFormSearch" method="post">
    
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="account_management_id">Account Management Id</span></label>
                <input class="md-input" name="search_account_management_id" id="search_account_management_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="approval_status_id">Approval Status Id</span></label>
                <input class="md-input" name="search_approval_status_id" id="search_approval_status_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="client_brief_id">Client Brief Id</span></label>
                <input class="md-input" name="search_client_brief_id" id="search_client_brief_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_posting_requisition_id">Job Posting Requisition Id</span></label>
                <input class="md-input" name="search_job_posting_requisition_id" id="search_job_posting_requisition_id"   maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="button" onclick="fnClientBriefAccount.initsearch()" class="md-btn md-btn-primary"><i class="uk-icon-search"></i> Search</button>
        <button type="button" onclick="fnClientBriefAccount.initsearch('reset')" class="md-btn md-btn-success"><i class="uk-icon-times-circle"></i> Reset</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>