﻿<div id="modalDetailTempApproval" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="max-width:95%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">DETAIL TEMPLATE APPROVAL</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 row">
                    <div class="col-md-12" style="margin-bottom:15px">
                        <label class="label-block"><b>#TEMPLATE NAME</b></label>
                        <input type="text" class="form-control" id="tbTemplateName" readonly disabled="disabled" placeholder="template name" />
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <br />
                    <div class="clearfix"></div>
                    <div class="col-lg-4 col-md-4">
                        <table class="table table-striped- table-bordered table-hover table-checkable">
                            <thead><tr><th colspan="2"><b>NOTIFICATION</b></th></tr></thead>
                            <tr>
                                <td>WEB</td>
                                <td>
                                    <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                        <input type="checkbox" value="" class="m-group-checkable" name="cbWeb" id="cbWeb" disabled>
                                        <span></span>
                                    </label>

                                </td>
                            </tr>
                            <tr>
                                <td>EMAIL</td>
                                <td>
                                    <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                        <input type="checkbox" value="" class="m-group-checkable" name="cbEmail" id="cbEmail" disabled>
                                        <span></span>
                                    </label>

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <table class="table table-striped- table-bordered table-hover table-checkable">
                            <thead><tr><th colspan="2"><b>REMINDER</b></th></tr></thead>
                            <tr>
                                <td>DUE DATE TIME</td>
                                <td width="105px">
                                    <input type="number" class="form-control" id="tbduedatetime" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td>REMINDER TIME</td>
                                <td width="105px">
                                    <input type="number" class="form-control" id="tbReminderTIme" disabled />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <table class="table table-striped- table-bordered table-hover table-checkable">
                            <thead><tr><th><b>TYPE APPROVAL</b></th></tr></thead>
                            <tr>
                                <td>SELECT TYPE</td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="ddlType" name="ddlType" class="form-control form-control-sm" style="width:100%" disabled>
                                        <option value="0">SQUANCE</option>
                                        <option value="1">PARALEL</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <table class="table table-striped- table-bordered table-hover table-checkable">
                            <thead><tr><th><b>APPROVAL CATEGORY</b></th></tr></thead>
                            <tr>
                                <td>SELECT CATEGORY</td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="ddlCategory" name="ddlCategory" class="form-control form-control-sm" style="width:100%" disabled>
                                        <option value="1">PM</option>
                                        <option value="2">HRIS</option>
                                        <option value="3">FINANCE</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="tableListUser">
                            <thead>
                                <tr>
                                    <th colspan="3">
                                        <b>LIST OF USER APPROVAL</b>
                                    </th>
                                </tr>
                                <tr>
                                    <th>CONCURRENT USER</th>
                                    <th>CONDITIONAL</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <input type="hidden" id="HidTempApprovalId" value="0" />
                <input type="hidden" id="HidId" value="0" />
                <input type="hidden" id="HidTypeUserApp" value="CURRENT" />
                <input type="hidden" id="HidCurrentEmpId" value="0" />
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn md-btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

