﻿<div class="col-lg-12 col-md-12">
    <table class="table table-striped- table-bordered table-hover table-checkable" id="TblStatusTransApproval">
        <thead>
            <tr>
                <th colspan="4">
                    <b>APPROVAL TYPE : </b>
                    <b class="app-type-info"></b>
                </th>
            </tr>
            <tr>
                <th>
                    <b>#USER APPROVAL</b>
                </th>
                <th>
                    <b>#CONDITION USER APPROVAL</b>
                </th>
                <th>
                    <b>#STATUS</b>
                </th>
                <th>
                    <b>#APPROVED DATE</b>
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
