﻿@model PhoenixERPWebApp.Models.BudgetMaster
@{
    ViewData["Title"] = "Budget Master";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            @*<h3 class="m-subheader__title m-subheader__title--separator">Cost Allocation Sharing</h3>*@
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Master Data</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="masterbudgetopex" asp-area="finance" class="m-nav__link"><span class="m-nav__link-text">Master Budget Opex</span></a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (string.IsNullOrEmpty(Model.Id))
                    {
                        <a asp-action="addedit" asp-controller="masterbudgetopex" asp-area="finance" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else
                    {
                        <a asp-action="addedit" asp-controller="masterbudgetopex" asp-area="finance" asp-route-Id="@Model.Id" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-success">@ViewBag.Header Master Budget Opex</h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">

                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formbudget" class="form-horizontal form-bordered" role="form" asp-action="submit" asp-controller="masterbudgetopex" asp-area="Finance">
                        <div class="row ">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="ModifiedBy" />
                                <input type="hidden" asp-for="ModifiedOn" />
                                <input type="hidden" asp-for="ApprovedBy" />
                                <input type="hidden" asp-for="ApprovedOn" />
                                <input type="hidden" asp-for="IsActive" />
                                <input type="hidden" asp-for="IsLocked" />
                                <input type="hidden" asp-for="IsDefault" />
                                <input type="hidden" asp-for="OwnerId" />
                                <input type="hidden" asp-for="DeletedBy" />
                                <input type="hidden" asp-for="DeletedOn" />
                                <input type="hidden" asp-for="IsDeleted" />
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Budget Year</label> <span class="req">*</span>  :
                                            @(Html.Kendo().DropDownListFor(i => i.BudgetYear)
                                                                  .DataTextField("Text")
                                                                  .DataValueField("Value")
                                                                  .HtmlAttributes(new { style = "width:100%;", required = "required", validationmessage = "Budget Name is required!" })
                                                                  .OptionLabel($"Choose budget year..")
                                                                  .DataSource(source =>
                                                                      source.Read(read =>
                                                                      {
                                                                          read.Action("GetBudgetYear", "masterbudgetopex", new { area = "Finance" });
                                                                      })
                                                                      .ServerFiltering(false)
                                                                  ))
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Budget Name</label> <span class="req">*</span>  :
                                            @(Html.Kendo().TextBoxFor(m => m.BudgetName)
                                                                          .HtmlAttributes(new
                                                                          {
                                                                              style = "width:100%",
                                                                              maxlength = 500,
                                                                              placeholder = "Input Budget Name",
                                                                              validationmessage = "Budget Name is required!",
                                                                              @required = "required"
                                                                          }
                                                                       ))
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Created By</label> <span class="req">*</span>  :
                                            @(Html.Kendo().TextBoxFor(m => m.CreatedBy)
                                                                  .HtmlAttributes(new
                                                                  {
                                                                      style = "width:100%",
                                                                      @readonly = "readonly",
                                                                      maxlength = 400
                                                                  }
                                                               ))
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Period Start</label><span class="req">*</span>  :
                                            @(Html.Kendo().DatePickerFor(m => m.StartPeriode)
                                                                          .Format("dd MMM yyyy")
                                                                          .HtmlAttributes(new
                                                                          {
                                                                              style = "width:100%",
                                                                              @class = "form-control form-control-sm m-input",
                                                                              @required = "required",
                                                                              validationmessage = "Start Periode is required!"
                                                                          })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Period End</label> <span class="req">*</span> :
                                            @(Html.Kendo().DatePickerFor(m => m.EndPeriode)
                                                                  .Format("dd MMM yyyy")
                                                                  .HtmlAttributes(new
                                                                  {
                                                                      style = "width:100%",
                                                                      @class = "form-control form-control-sm m-input",
                                                                      @required = "required",
                                                                      validationmessage = "End Periode is required!"
                                                                  })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Currency</label><span class="req">*</span>
                                            @(Html.Kendo().DropDownListFor(i => i.CurrencyId)
                                                                          .DataTextField("Text")
                                                                          .DataValueField("Value")
                                                                          .Filter(FilterType.Contains)
                                                                          //.Events(e => e.Change("OnChange"))
                                                                          .OptionLabel("All")
                                                                          .HtmlAttributes(new { style = "width:100%;", @required = "required", validationmessage = "Currency is required!" })
                                                                          .DataSource(source => source
                                                                              .Custom()
                                                                              .Transport(transport => transport
                                                                              .Read(read =>
                                                                              {
                                                                                  read.Action("GetDDLCurrency", "Dropdown", new { area = "Finance" });
                                                                              }))
                                                                              .ServerFiltering(false)
                                                                          ))
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Exchange</label><span class="req">*</span>
                                            @(Html.Kendo().TextBoxFor(m => m.ExchangeRate).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", style = "width:100%" }))
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Status</label><span class="req">*</span>
                                            @(Html.Kendo().TextBoxFor(m => m.BudgetStatus).HtmlAttributes(new { @class = "form-control form-control-sm", style = "width:100%" }))
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 m-row--no-padding">
                                        <div class="form-group">
                                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.CostSharingAllocationDetail>()
                                                                                                  .Name("grid-detail")
                                                                                                  .Columns(columns =>
                                                                                                  {
                                                                                                      columns.Command(command =>
                                                                                                      {
                                                                                                          command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                                                                      }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(50);

                                                                                                      columns.Bound(p => p.MonthlyDescription).Title("Business Unit").Width(250);
                                                                                                      columns.Bound(p => p.CostSharingAllocationPercent).EditorTemplateName("Finance/CostAllocation/Number").Width(100);//.ClientTemplate("#=kendo.format('{0:p0}', CostSharingAllocationPercent/100)#");
                                                                                                                              })
                                                                                                  .Editable(x => x.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(true))
                                                                                                  .DataSource(dataSource => dataSource
                                                                                                      .Ajax()
                                                                                                      .Events(events => events.Error("errorHandler"))
                                                                                                      .Model(model => { model.Id(p => p.Id); })
                                                                                                      //.Read(read => read.Action("ReadDetail", "mastermonthlybudget").Data("gridDetail_params"))
                                                                                                      .Create(create => create.Action("CreateDetail", "mastermonthlybudget"))
                                                                                                      .Update(update => update.Action("UpdateDetail", "mastermonthlybudget"))
                                                                                                      .Destroy(destroy => destroy.Action("DestroyDetail", "mastermonthlybudget"))
                                                                                                  )
                                                                                                  //.Events(e => e.Save("saveDetail_event"))
                                                                                                  .NoRecords()
                                            )
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="modal-footer">
                                        <button type="button" id="btn-add-budget" class="btn btn-primary" data-dismiss="modal">Add Budget</button>
                                        <button type="button" id="btn-download-template" class="btn btn-primary" data-dismiss="modal">Download Template</button>
                                        <button type="button" id="btn-upload-template" class="btn btn-primary" data-dismiss="modal">Upload Template</button>
                                        <div class="form-group">
                                            <label class="">File :</label>
                                            @Html.Kendo().Upload().Name("fileupload").Multiple(false)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    <button type="button" id="btn-save" class="btn btn-primary">Save</button>
                                    <a asp-action="index" asp-controller="mastermonthlybudget" asp-area="finance" class="fakelink btn btn-secondary">Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#btn-upload-template').click(function () {
        callActionFile({ formId: "formbudget", title: "save", type: "POST", url: '@Url.Action("UploadFile", "masterbudgetopex")' });
    });
        
        
</script>