@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="TeamFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">


            <div class="form-group">
                <label><span class="translate" data-args="team_name">team_name</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="team_name" id="team_name" required maxlength="400" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/ProjectManagement/Team" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/ProjectManagement/Form/Team/create.js"></script>
}
