@{
    ViewBag.ModalTitle = "MasterSearchContent";
    ViewBag.ModalId = "MasterSearchContentModalSearch";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="MasterSearchContentFormSearch" method="post">
    
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="created_date">Created Date</span></label>
                <input class="md-input" name="search_created_date" id="search_created_date"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="isdeleted">Isdeleted</span></label>
                <input class="md-input" name="search_isdeleted" id="search_isdeleted"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="screen">Screen</span></label>
                <input class="md-input" name="search_screen" id="search_screen"   maxlength="250" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="search_content">Search Content</span></label>
                <input class="md-input" name="search_search_content" id="search_search_content"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="updated_by">Updated By</span></label>
                <input class="md-input" name="search_updated_by" id="search_updated_by"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="updated_date">Updated Date</span></label>
                <input class="md-input" name="search_updated_date" id="search_updated_date"   type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="button" onclick="fnMasterSearchContent.initsearch()" class="md-btn md-btn-primary"><i class="uk-icon-search"></i> Search</button>
        <button type="button" onclick="fnMasterSearchContent.initsearch('reset')" class="md-btn md-btn-success"><i class="uk-icon-times-circle"></i> Reset</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>