@{
    ViewBag.ModalTitle = "Vacancy";
    ViewBag.ModalId = "VacancyModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="VacancyFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="applicant_total">applicant_total</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_applicant_total" id="search_applicant_total"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="approval_id">approval_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_approval_id" id="search_approval_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="business_unit_id">business_unit_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_business_unit_id" id="search_business_unit_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="hiring_request_id">hiring_request_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_hiring_request_id" id="search_hiring_request_id"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="reg">reg</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_reg" id="search_reg"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="vacancy_name">vacancy_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_vacancy_name" id="search_vacancy_name"  maxlength="255" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnVacancy.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnVacancy.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>