@{
    ViewData["Title"] = "Vacancy";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="VacancyFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="applicant_total">applicant_total</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="applicant_total" id="applicant_total"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="approval_id">approval_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="approval_id" id="approval_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="business_unit_id">business_unit_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="business_unit_id" id="business_unit_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="hiring_request_id">hiring_request_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="hiring_request_id" id="hiring_request_id"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="reg">reg</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="reg" id="reg"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="vacancy_name">vacancy_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="vacancy_name" id="vacancy_name"  maxlength="255" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/Vacancy" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/Vacancy.update.js"></script>
}
