@{
    ViewBag.ModalTitle = "MasterTax";
    ViewBag.ModalId = "MasterTaxModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="MasterTaxFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="bpjs_tk">bpjs_tk</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_bpjs_tk" id="search_bpjs_tk"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="bruto_calculate">bruto_calculate</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_bruto_calculate" id="search_bruto_calculate"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="calculatetax">calculatetax</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_calculatetax" id="search_calculatetax"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="code">code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_code" id="search_code"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="percent_value">percent_value</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_percent_value" id="search_percent_value"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="tax_name">tax_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_tax_name" id="search_tax_name"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="tax_no">tax_no</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_tax_no" id="search_tax_no"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="type">type</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_type" id="search_type"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="value">value</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_value" id="search_value"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnMasterTax.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnMasterTax.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>