@{
    ViewBag.ModalTitle = "Information";
    ViewBag.ModalId = "InformationModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="InformationFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="body">body</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_body" id="search_body"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="date_information">date_information</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_date_information" id="search_date_information"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="flag_active">flag_active</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_flag_active" id="search_flag_active"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="title">title</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_title" id="search_title"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnInformation.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnInformation.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>