@{
    ViewData["Title"] = "Information";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="InformationFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="body">body</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="body" id="body"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="date_information">date_information</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="date_information" id="date_information"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="flag_active">flag_active</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="flag_active" id="flag_active"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="title">title</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="title" id="title"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/Information" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/Information.update.js"></script>
}
