﻿@{
    ViewData["Title"] = "Media Plan Estimates";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Media Plan Estimates</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Media</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="mediaplanestimates" asp-area="media" class="m-nav__link"><span class="m-nav__link-text">Media Plan Estimates</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a asp-action="addedit" asp-controller="mediaplanestimates" asp-area="media" class="m-btn btn btn-primary btn-sm m-btn--sm" title="Add Media Plan"><i class="la la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item" style="width:200px">
                                @(Html.Kendo().DropDownList()
                                               .Name("FilterStatus")
                                               .DataTextField("Text")
                                               .DataValueField("Value")
                                               .Events(e => e.Change("OnChangeFilter"))
                                               .BindTo(new List<SelectListItem>() {
                                                 new SelectListItem() {
                                                 Text = "All Status",
                                                 Value = ""
                                                 },
                                                 new SelectListItem() {
                                                 Text = PhoenixERPWebApp.Models.MediaPlanStatus.StatusDescMedia(PhoenixERPWebApp.Models.MediaPlanStatus.Open),
                                                 Value = PhoenixERPWebApp.Models.MediaPlanStatus.Open.ToString()
                                                 },new SelectListItem() {
                                                 Text = PhoenixERPWebApp.Models.MediaPlanStatus.StatusDescMedia(PhoenixERPWebApp.Models.MediaPlanStatus.WaitingApproval),
                                                 Value = PhoenixERPWebApp.Models.MediaPlanStatus.WaitingApproval.ToString()
                                                 },
                                                 new SelectListItem() {
                                                  Text = PhoenixERPWebApp.Models.MediaPlanStatus.StatusDescMedia(PhoenixERPWebApp.Models.MediaPlanStatus.Approved),
                                                 Value = PhoenixERPWebApp.Models.MediaPlanStatus.Approved.ToString()
                                                 },
                                                 new SelectListItem() {
                                                  Text = PhoenixERPWebApp.Models.MediaPlanStatus.StatusDescMedia(PhoenixERPWebApp.Models.MediaPlanStatus.Rejected),
                                                 Value = PhoenixERPWebApp.Models.MediaPlanStatus.Rejected.ToString()
                                                 },
                                                 new SelectListItem() {
                                                 Text = PhoenixERPWebApp.Models.MediaPlanStatus.StatusDescMedia(PhoenixERPWebApp.Models.MediaPlanStatus.Published),
                                                 Value = PhoenixERPWebApp.Models.MediaPlanStatus.Published.ToString()
                                                 },
                                                 new SelectListItem() {
                                                  Text = PhoenixERPWebApp.Models.MediaPlanStatus.StatusDescMedia(PhoenixERPWebApp.Models.MediaPlanStatus.Finish),
                                                 Value = PhoenixERPWebApp.Models.MediaPlanStatus.Finish.ToString()
                                                 }
                                                
                                               })
                                               .HtmlAttributes(new { style = "width: 100%", @Id = "FilterStatus" })
                                )


                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">
                                    <div class="tooltip-arrow arrow" style="left: 48px;"></div>
                                    <div class="tooltip-inner">Fullscreen</div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Media.MediaPlanEstimates.MediaPlanHeader>
                                        ()
                                        .Name("grid")
                                        .Columns(columns =>
                                        {

                                            columns.Bound(p => p.PlanNo).Width(150);
                                            columns.Bound(p => p.JobIdName).Width(150);
                                            columns.Bound(p => p.MediaTypeName).Width(130);
                                            //columns.Bound(p => p.Campaign).ClientTemplate("#= (Campaign == true)? 'Yes' : 'No' #").Width(120);
                                            columns.Bound(p => p.ClientName).Width(200);
                                            columns.Bound(p => p.Brand).Width(100);
                                            columns.Bound(p => p.Gross).Width(100).Format("{0:N}");
                                            columns.Bound(p => p.ASF).Width(100).Format("{0:N}");
                                            columns.Bound("").ClientTemplate("#= LinktoAddEdit(data) #").Title("Status").Width(150);
                                                //columns.Bound(p => p.StatusID).Title("Status").Width(100);

                                            })
                                        .NoRecords()
                                        .Pageable(pageable => pageable
                                        .Refresh(true)
                                        .PageSizes(true)
                                        .ButtonCount(5))
                                        .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                        .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                        .Extra(false)
                                        .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                        .Contains("Contains")
                                        .StartsWith("Start sWith")
                                        .EndsWith("End sWith")
                                        )))
                                        .Scrollable(s => s.Enabled(true).Height("auto"))
                                        .Resizable(rsz => rsz.Columns(true))
                                        .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .Events(events => events.Error("errorHandler"))
                                        .Model(model => { model.Id(p => p.Id); })
                                        .Read(read => read.Action("read", "MediaPlanEstimates").Data("grid_params"))
                                        )
                    )
                </div>
            </div>
        </div>
    </div>
</div>
<script id="btnAction-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'><span style='color:green'><i class='fa fa-edit'></i></span></a>
    <a href='javascript: void(0);' onclick='deleteGridRow(this)' title='Delete' class='delete'><span style='color:maroon'><i class='fa fa-trash-alt'></i></span></a>
</script>
<script>
    function editGridRow(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("addedit", "MediaPlanEstimates")?Id=' + item.Id;
    }

    function deleteGridRow(e) {
        deleteRow(e, '@Url.Action("delete", "MediaPlanEstimates")');
    }

    function LinktoAddEdit(data) {
        return "<center><a href='javascript: void(0);' onclick='OpenAddEdit(this)' title='Edit' class='edit'>" + data.StatusName + "</a></center>";
    }

    function OpenAddEdit(e) {
        var item = dataItem(e);
         //if (item.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.SattlementCheck || item.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Complete) {

             //window.location.href = '@Url.Action("Settle", "CashAdvance")/?CaId=' + item.Id + '&isApprove=true';
        //} else {
             // window.location.href = '@Url.Action("AddEdit", "MediaPlanEstimates")/?Id=' + item.Id;
        //}
        if (item.StatusID != "") {
            if (item.StatusID == '1' || item.StatusID == '0')
                window.location.href = '@Url.Action("AddEdit", "MediaPlanEstimates")/?Id=' + item.Id;
            else
                window.location.href = '@Url.Action("AddEdit", "MediaPlanEstimates")/?Id=' + item.Id + '&isApprove=true';
        } else {
            window.location.href = '@Url.Action("AddEdit", "MediaPlanEstimates")/?Id=' + item.Id;
        }
    }

    function grid_params() {
        return {
            status: $("#FilterStatus").data("kendoDropDownList").value()
        };
    }

    function OnChangeFilter() {
        mApp.block("#m_blockui_list", {
            overlayColor: "#000000",
            type: "loader",
            state: "primary",
            message: "Processing..."
        });

        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();
        mApp.unblock("#m_blockui_list");
    };
</script>
