﻿<div class="tab-pane" id="tab-mail" role="tabpanel">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet__body">
                <div class="m-form__group row">
                    <div class="row">
                        <div class="col-lg-3 m-form__group-sub">
                            <div class="form-group">
                                <label>Server Name:</label>
                                <input name="smtp_server" type="text" class="form-control form-control-sm m-input" placeholder="Enter server name or hostname">
                            </div>
                        </div>
                        <div class="col-lg-3 m-form__group-sub">
                            <div class="form-group">
                                <label class="">Port:</label>
                                <input name="smtp_port" type="number" class="form-control form-control-sm m-input" placeholder="Enter port">
                            </div>
                        </div>
                        <div class="col-lg-6 m-form__group-sub">
                            <div class="form-group">
                                <label class="">From Address:</label>
                                <input name="smtp_from_address" type="text" class="form-control form-control-sm m-input" placeholder="Enter from address">
                            </div>
                        </div>
                        <div class="col-lg-6 m-form__group-sub">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label>User Name:</label>
                            <input name="smtp_username" type="text" class="form-control form-control-sm m-input" placeholder="Enter username">
                        </div>
                        <div class="col-lg-6">
                            <label>Password:</label>
                            <input name="smtp_password" type="text" class="form-control form-control-sm m-input" placeholder="Enter password">
                        </div>
                    </div>*@

            </div>
        </div>
    </div>
</div>
