@model PhoenixERPWebApp.Models.Rotation
@{
    if (Model.IsApprove == true)
    {
        ViewData["Title"] = "Employee Rotation Request Form Approval";
    }
    else
    {
        ViewData["Title"] = "Employee Rotation Request Form";
    }
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";

    DateTime? EffectiveDate = DateTime.Now;
    DateTime? EndDate = DateTime.Now;
    if (!string.IsNullOrEmpty(Model.Id))
    {
        if (EffectiveDate >= Model.EffectiveDate)
        {
            EffectiveDate = Model.EffectiveDate;
        }
        if (EndDate >= Model.EndDate)
        {
            EndDate = Model.EndDate;
        }
    }
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">HRIS</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (Model.IsApprove == true)
                    {
                        <a asp-action="indexapproval" asp-controller="rotation" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Employee Rotation Request Approval</span></a>
                    }
                    else
                    {
                        <a asp-action="index" asp-controller="rotation" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Employee Rotation Request</span></a>
                    }
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (Model.IsApprove == true)
                    {
                        <a asp-action="addedit" asp-controller="rotation" asp-area="hrisnew" asp-route-Id="@Model.Id" asp-route-isApprove="true" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else if (string.IsNullOrEmpty(Model.Id))
                    {
                        <a asp-action="addedit" asp-controller="rotation" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else
                    {
                        <a asp-action="addedit" asp-controller="rotation" asp-area="hrisnew" asp-route-Id="@Model.Id" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-success">Employee Rotation Request Form</h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formRotation" class="form-horizontal form-bordered" role="form">
                        <div class="row ">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="CreatedOn" />
                                <input type="hidden" asp-for="ModifiedBy" />
                                <input type="hidden" asp-for="ModifiedOn" />
                                <input type="hidden" asp-for="ApprovedBy" />
                                <input type="hidden" asp-for="ApprovedOn" />
                                <input type="hidden" asp-for="IsActive" />
                                <input type="hidden" asp-for="IsLocked" />
                                <input type="hidden" asp-for="IsDefault" />
                                <input type="hidden" asp-for="IsDeleted" />
                                <input type="hidden" asp-for="OwnerId" />
                                <input type="hidden" asp-for="DeletedBy" />
                                <input type="hidden" asp-for="DeletedOn" />
                                <input type="hidden" asp-for="BusinessUnitDivisionId" />
                                <input type="hidden" asp-for="BusinessUnitDepartementId" />
                                <input type="hidden" asp-for="SubmitUser" />
                                <input type="hidden" asp-for="IsSynchronize" />

                                <partial name="_RequestEmploye" />
                                <br />
                                <partial name="_AssignEmploye" />
                                <br />

                                <div class="row" id="rotation_data_detail">
                                    <div class="col-lg-12 m-row--no-padding">
                                        <div class="m-accordion m-accordion--bordered m-accordion--solid" id="rotation_Detail" role="tablist">
                                            <!--begin::Item-->
                                            <div class="m-accordion__item">
                                                <div class="m-accordion__item-head show" role="tab" id="rotation_Detail_head" data-toggle="collapse" href="#rotation_Detail_body" aria-expanded="true">
                                                    <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                                    <span class="m-accordion__item-title">Rotation Information</span>
                                                    <span class="m-accordion__item-mode"></span>
                                                </div>
                                                <div class="m-accordion__item-body show" id="rotation_Detail_body" role="tabpanel" aria-labelledby="rotation_Detail_head" data-parent="#rotation_Detail">
                                                    <div class="m-accordion__item-content">
                                                        <div class="row">
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="EffectiveDate"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DatePickerFor(m => m.EffectiveDate)
        .Format("dd MMM yyyy")
        .Min($"{EffectiveDate}")
        .HtmlAttributes(new
        {
            style = "width:100%",
            @class = "form-control form-control-sm m-input",
            required = "required",
            //placeholder = $"Choose a {Html.DisplayNameFor(m => m.EffectiveDate)}",
            onkeydown = "javascript:return false;"
        })
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="EndDate"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DatePickerFor(m => m.EndDate)
        .Format("dd MMM yyyy")
        .Min($"{EndDate}")
        .HtmlAttributes(new
        {
            style = "width:100%",
            @class = "form-control form-control-sm m-input",
            required = "required",
            //placeholder = $"Choose a {Html.DisplayNameFor(m => m.EndDate)}",
            onkeydown = "javascript:return false;"
        })
                                                                    )
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="RotationSubgroupId"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DropDownListFor(x => x.RotationSubgroupId)
        .DataTextField("Text")
        .DataValueField("Value")
        //.OptionLabel($"Choose a {Html.DisplayNameFor(m => m.RotationSubgroupId)}")
        .HtmlAttributes(new { style = "width:100%;", required = "required" })
        .Filter(FilterType.Contains)
        .DataSource(source => source
            .Custom()
            .Transport(transport => transport
            .Read(read =>
            {
                read.Action("GetDDLSubGroups", "Dropdown", new { area = "HrisNew" });
            }))
            .ServerFiltering(false)
        )
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="RotationDivisionId"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DropDownListFor(x => x.RotationDivisionId)
        .DataTextField("Text")
        .DataValueField("Value")
        //.OptionLabel($"Choose a {Html.DisplayNameFor(m => m.RotationDivisionId)}")
        .HtmlAttributes(new { style = "width:100%;", required = "required" })
        .Filter(FilterType.Contains)
        .DataSource(source => source
            .Custom()
            .Transport(transport => transport
            .Read(read =>
            {
                read.Action("GetDDLDivisions", "Dropdown", new { area = "HrisNew" }).Data("filterDivisions");
            }))
            .ServerFiltering(true)
        )
        .Events(x => x.DataBound("Division_DataBound"))
        .Enable(false)
        .AutoBind(false)
        .CascadeFrom("RotationSubgroupId")
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="RotationDepartmentId"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DropDownListFor(x => x.RotationDepartmentId)
        .DataTextField("Text")
        .DataValueField("Value")
        //.OptionLabel($"Choose a {Html.DisplayNameFor(m => m.RotationDepartmentId)}")
        .HtmlAttributes(new { style = "width:100%;", required = "required" })
        .Filter(FilterType.Contains)
        .DataSource(source => source
            .Custom()
            .Transport(transport => transport
            .Read(read =>
            {
                read.Action("GetDDLDepartments", "Dropdown", new { area = "HrisNew" }).Data("filterDepartment");
            }))
            .ServerFiltering(true)
        )
        .Events(x => x.DataBound("Department_DataBound"))
        .Enable(false)
        .AutoBind(false)
        .CascadeFrom("RotationDivisionId")
                                                                    )
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="JobLevelId"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DropDownListFor(x => x.JobLevelId)
        .DataTextField("Text")
        .DataValueField("Value")
        //.OptionLabel($"Choose a {Html.DisplayNameFor(m => m.JobLevelId)}")
        .HtmlAttributes(new { style = "width:100%;", required = "required" })
        .Filter(FilterType.Contains)
        .DataSource(source => source
            .Custom()
            .Transport(transport => transport
            .Read(read =>
            {
                read.Action("GetDDLJobLevels", "Dropdown", new { area = "HrisNew" });
            }))
            .ServerFiltering(false)
        )
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="JobGradeId"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DropDownListFor(x => x.JobGradeId)
        .DataTextField("Text")
        .DataValueField("Value")
        //.OptionLabel($"Choose a {Html.DisplayNameFor(m => m.JobGradeId)}")
        .HtmlAttributes(new { style = "width:100%;", required = "required" })
        .Filter(FilterType.Contains)
        .DataSource(source => source
            .Custom()
            .Transport(transport => transport
            .Read(read =>
            {
                read.Action("GetDDLJobGrades", "Dropdown", new { area = "HrisNew" });
            }))
            .ServerFiltering(false)
        )
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="JobTitleId"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DropDownListFor(x => x.JobTitleId)
        .DataTextField("Text")
        .DataValueField("Value")
        //.OptionLabel($"Choose a {Html.DisplayNameFor(m => m.JobTitleId)}")
        .HtmlAttributes(new { style = "width:100%;", required = "required" })
        .Filter(FilterType.Contains)
        .DataSource(source => source
            .Custom()
            .Transport(transport => transport
            .Read(read =>
            {
                read.Action("GetDDLJobTitles", "Dropdown", new { area = "HrisNew" });
            }))
            .ServerFiltering(false)
        )
                                                                    )
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="LocationId"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DropDownListFor(x => x.LocationId)
        .DataTextField("Text")
        .DataValueField("Value")
        //.OptionLabel($"Choose a {Html.DisplayNameFor(m => m.LocationId)}")
        .HtmlAttributes(new { style = "width:100%;", required = "required" })
        .Filter(FilterType.Contains)
        .DataSource(source => source
            .Custom()
            .Transport(transport => transport
            .Read(read =>
            {
                read.Action("GetDDLLocations", "Dropdown", new { area = "HrisNew" });
            }))
            .ServerFiltering(false)
        )
                                                                    )
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-12 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="Notes"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().EditorFor(x => x.Notes)
                .HtmlAttributes(new { style = "width:100%", aria_label = "editor", required = "required" })
                .Resizable(resizable => resizable.Content(true).Toolbar(true))
    //.Placeholder($"Type your {Html.DisplayNameFor(m => m.Notes)} here")
                                                                    )
                                                                </div>
                                                            </div>
                                                        </div>


                                                        @if (ViewBag.isHcAdmin == true || Model.IsApprove == true || Model.SubmitUser == true)
                                                        {
                                                            <hr />
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="row">
                                                                        <div class="col-lg-7 m-form__group-sub">
                                                                            <div class="form-group">
                                                                                <label asp-for="CurrentSalary"></label> :
                                                                                @(Html.Kendo().NumericTextBoxFor(m => m.CurrentSalary)
            .Spinners(false)
            .Format("n2")
            .HtmlAttributes(new
            {
                style = "width:100%",
                maxlength = 15,
                @readonly = "readonly"

            }))
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-5 m-form__group-sub">
                                                                            <div class="form-group">
                                                                                <label asp-for="CurrentSalaryZone"></label> :
                                                                                @(Html.Kendo().DropDownListFor(x => x.CurrentSalaryZone)
            .DataTextField("Text")
            .DataValueField("Value")
            .HtmlAttributes(new { style = "width:100%;", @readonly = "readonly" })
            .Filter(FilterType.Contains)
            .DataSource(source => source
                .Custom()
                .Transport(transport => transport
                .Read(read =>
                {
                    read.Action("GetDDLSalaryZone", "Dropdown", new { area = "HrisNew" });
                }))
                .ServerFiltering(false)
            )
                                                                                )
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="row">
                                                                        <div class="col-lg-4 m-form__group-sub">
                                                                            <div class="form-group">
                                                                                <label asp-for="IncrementPercentage"></label> <span class="req">*</span>  :
                                                                                @(Html.Kendo().NumericTextBoxFor(m => m.IncrementPercentage)
            .Spinners(false)
            .Format("n2")
            .Max(100)
            .Events(x => x.Change("IncrementPercentage_Change"))
            .HtmlAttributes(new
            {
                style = "width:100%",
                maxlength = 5,
                //placeholder = $"Input type a {Html.DisplayNameFor(m => m.IncrementPercentage)}",
                required = "required",
                validationmessage = $"{Html.DisplayNameFor(m => m.IncrementPercentage)} is required"

            }))
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-5 m-form__group-sub">
                                                                            <div class="form-group">
                                                                                <label asp-for="NextSalary"></label> <span class="req">*</span>  :
                                                                                @(Html.Kendo().NumericTextBoxFor(m => m.NextSalary)
            .Spinners(false)
            .Format("n2")
            .HtmlAttributes(new
            {
                style = "width:100%",
                maxlength = 15,
                //placeholder = $"Input type a {Html.DisplayNameFor(m => m.NextSalary)}",
                required = "required",
                validationmessage = $"{Html.DisplayNameFor(m => m.NextSalary)} is required",
                @readonly = "readonly"

            }))
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-3 m-form__group-sub">
                                                                            <div class="form-group">
                                                                                <label asp-for="NextSalaryZone"></label> <span class="req">*</span> :
                                                                                @(Html.Kendo().DropDownListFor(x => x.NextSalaryZone)
            .DataTextField("Text")
            .DataValueField("Value")
            //.OptionLabel($"Choose a {Html.DisplayNameFor(m => m.NextSalaryZone)}")
            .HtmlAttributes(new { style = "width:100%;", required = "required" })
            .Filter(FilterType.Contains)
            .DataSource(source => source
                .Custom()
                .Transport(transport => transport
                .Read(read =>
                {
                    read.Action("GetDDLSalaryZone", "Dropdown", new { area = "HrisNew" });
                }))
                .ServerFiltering(false)
            )
                                                                                )
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="margin-top:10px;">
                                                                <div class="col-lg-6 m-row--no-padding">
                                                                    <h5>Detail Salary</h5>
                                                                    <div class="m-section__content">
                                                                        <div class="m-demo">
                                                                            <div class="m-demo__preview">
                                                                                <div class="row">
                                                                                    <div class="col-lg-12"><label style="font-weight:bold">Additional</label></div>
                                                                                </div>
                                                                                <hr />
                                                                                <div id="divAdditional"></div>
                                                                                
                                                                                <div class="row">
                                                                                    <div class="col-lg-12"><label style="font-weight:bold">Deduction</label></div>
                                                                                </div>
                                                                                <hr />
                                                                                <div id="divDeduction"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-6 m-row--no-padding">
                                                                    <h5>Detail New Propose Salary</h5>
                                                                    <div class="m-section__content">
                                                                        <div class="m-demo">
                                                                            <div class="m-demo__preview">
                                                                                <div class="row">
                                                                                    <div class="col-lg-12"><label style="font-weight:bold">Additional</label></div>
                                                                                </div>
                                                                                <hr />
                                                                                <div id="divAdditionalNew"></div>                                                                                
                                                                                
                                                                                <div class="row">
                                                                                    <div class="col-lg-12"><label style="font-weight:bold">Deduction</label></div>
                                                                                </div>
                                                                                <hr />
                                                                                <div id="divDeductionNew"></div>                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <partial name="_HistoryApproval" />
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    @if (ViewBag.isRequestor == true)
                                    {
                                        @if (ViewBag.isHcAdmin == true)
                                        {
                                            @if ((Model.Status ?? 0) == PhoenixERPWebApp.Models.StatusTransaction.Draft)
                                            {
                                                <button type="button" id="btnSave" class="btn btn-success edit"><span class="fa fa-save"></span> Save</button>
                                            }
                                            <button type="button" id="btnSubmit" class="btn btn-primary edit"><span class="fa fa-paper-plane"></span> Submit</button>
                                        }
                                        else
                                        {
                                            if (Model.SubmitUser == false)
                                            {
                                                <button type="button" id="btnSubmitToHC" class="btn btn-primary edit"><span class="fa fa-paper-plane"></span> Submit To HC</button>
                                            }
                                        }
                                    }

                                    @if (Model.IsApprove == true)
                                    {
                                        @if (ViewBag.processApprove == true)
                                        {
                                            <button type="button" id="btnShow" class="btn btn-danger"><span class="fa fa-ban"></span> Reject</button>
                                            <button type="button" id="btnApprove" class="btn btn-primary edit"><span class="fa fa-bookmark"></span> Approve</button>
                                        }
                                        <a asp-action="Indexapproval" asp-controller="rotation" asp-area="hrisnew" class="fakelink btn btn-secondary"><span class="fa fa-arrow-circle-left"></span> Cancel</a>
                                    }
                                    else
                                    {
                                        <a asp-action="index" asp-controller="rotation" asp-area="hrisnew" class="fakelink btn btn-secondary"><span class="fa fa-arrow-circle-left"></span> Cancel</a>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modalRemark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Remarks</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            @Html.TextAreaFor(x => x.RemarkRejected, new { style = "height:150px;width:100%" })
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" id="btnReject" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var additional_salary_current = [];
    var additional_salary_new = [];
    var deduction_salary_current = [];
    var deduction_salary_new = [];

    $(document).ready(function () {
        if ('@Model.Status' != '') {
            if ('@Model.IsApprove' == "True" || !('@Model.Status' == '@PhoenixERPWebApp.Models.StatusTransaction.Draft') ||
                ('@ViewBag.isHcAdmin' == "False" && '@Model.SubmitUser' == "True")) {
                // || '@Model.Status' == '@PhoenixERPWebApp.Models.StatusTransaction.Rejected')) {
                $('.k-editor-toolbar').hide();
                $($("#Notes").data().kendoEditor.body).attr("contentEditable", false);
                $($("#Notes").data().kendoEditor.body).css("background-color", "#F8F9FA");

                $("#EffectiveDate").data("kendoDatePicker").readonly();
                $("#EndDate").data("kendoDatePicker").readonly();

                $("#RotationSubgroupId").data("kendoDropDownList").readonly();
                $("#JobLevelId").data("kendoDropDownList").readonly();
                $("#JobGradeId").data("kendoDropDownList").readonly();
                $("#JobTitleId").data("kendoDropDownList").readonly();
                $("#LocationId").data("kendoDropDownList").readonly();

                if ('@ViewBag.isHcAdmin' == 'True' || '@Model.IsApprove' == "True") {
                    $("#NextSalaryZone").data("kendoDropDownList").readonly();
                    $("#NextSalary").data("kendoNumericTextBox").readonly();
                    $("#IncrementPercentage").data("kendoNumericTextBox").readonly();
                }
                $("#search").remove();
            }
        }

        if ('@ViewBag.isHcAdmin' == "True" && '@Model.SubmitUser' == "True") {
            $("#search").remove();
        }

        SalaryDetail("@Model.EmployeeBasicInfoId","@Model.Id");
    });
    
    function Department_DataBound(e) {
         if ('@Model.Status' != '') {
             if ('@Model.IsApprove' == "True" || !('@Model.Status' == '@PhoenixERPWebApp.Models.StatusTransaction.Draft')) {
                 // || '@Model.Status' == '@PhoenixERPWebApp.Models.StatusTransaction.Rejected')) {
                 $("#RotationDepartmentId").data("kendoDropDownList").readonly();
             }
         }
    }

    function Division_DataBound(e) {
        if ('@Model.Status' != '') {
            if ('@Model.IsApprove' == "True" || !('@Model.Status' == '@PhoenixERPWebApp.Models.StatusTransaction.Draft')) {
                // || '@Model.Status' == '@PhoenixERPWebApp.Models.StatusTransaction.Rejected')) {
                $("#RotationDivisionId").data("kendoDropDownList").readonly();
             }
         }
    }

    function filterDivisions() {
        return {
            subGroupId: $("#RotationSubgroupId").val()
        };
    }

    function filterDepartment() {
        return {
            divisionId: $("#RotationDivisionId").val()
        };
    }

    $('#btnShow').click(function () {
        $("#RemarkRejected").attr("required", "required");
        $('#modalRemark').modal('show');
    });

    $('#btnApprove').click(function () {
        $("#RemarkRejected").removeAttr("required", "required");
        callAction({ formId:"formRotation", title: "approve", type:"POST", url: '@Url.Action("approve", "rotation")'});
    });

    $('#btnReject').click(function () {
        callAction({ formId:"formRotation", title: "reject", type:"POST", url: '@Url.Action("reject", "rotation")'});
    });

    $('#btnSubmit').click(function () {
        callAction({ formId: "formRotation", title: "submit", type: "POST", url: '@Url.Action("submit", "rotation")', objects: result() });
    });


    $("#btnSubmitToHC").click(function () {
        callAction({ formId: "formRotation", title: "submit to hc", type: "POST", url: '@Url.Action("submithc", "rotation")' });
    });

    $('#btnSave').click(function () {
        callAction({ formId: "formRotation", title: "save", type: "POST", url: '@Url.Action("save", "rotation")', objects: result() });
    });

     function result() {
        var ComponentAdditional = [];
        var ComponentDeduction = [];
         
         $.each(additional_salary_current, function (index, data) {
             ComponentAdditional.push({
                Id: data.Id,
                AdditionalEmployeeBasicInfoId: data.AdditionalEmployeeBasicInfoId,
                AdditionalSalaryComponent:data.AdditionalSalaryComponent,
                AdditionalComponentId: data.AdditionalComponentId,
                AdditionalPercent: data.AdditionalPercent,
                AdditionalAmount: $("#current_" + data.Id).data("kendoNumericTextBox").value(),
                AdditionalRotationId: data.AdditionalRotationId,
                Type: data.Type,
                AdditionalComponentTypeName: data.AdditionalComponentTypeName,
                IsBasicSalary: data.IsBasicSalary
            });
         });

         $.each(additional_salary_new, function (index, data) {
             ComponentAdditional.push({
                 Id: data.Id,
                 AdditionalEmployeeBasicInfoId: data.AdditionalEmployeeBasicInfoId,
                 AdditionalSalaryComponent: data.AdditionalSalaryComponent,
                 AdditionalComponentId: data.AdditionalComponentId,
                 AdditionalPercent: data.AdditionalPercent,
                 AdditionalAmount: $("#new_" + data.Id).data("kendoNumericTextBox").value(),
                 AdditionalRotationId: data.AdditionalRotationId,
                 Type: data.Type,
                 AdditionalComponentTypeName: data.AdditionalComponentTypeName,
                 IsBasicSalary: data.IsBasicSalary
             });
         });

         $.each(deduction_salary_current, function (index, data) {
              ComponentDeduction.push({
                    Id: data.Id,
                    EmployeeBasicInfoId: data.EmployeeBasicInfoId,
                    SalaryComponent: data.SalaryComponent,
                    ComponentId: data.ComponentId,
                    DeductionPercent: data.DeductionPercent,
                    DeductionAmount: $("#current_" + data.Id).data("kendoNumericTextBox").value(),
                    RotationId: data.RotationId,
                    Type: data.Type,
                    ComponentTypeName: data.ComponentTypeName,
                    IsBasicSalary: data.IsBasicSalary
                });
         });

         $.each(deduction_salary_new, function (index, data) {
             ComponentDeduction.push({
                 Id: data.Id,
                 EmployeeBasicInfoId: data.EmployeeBasicInfoId,
                 SalaryComponent: data.SalaryComponent,
                 ComponentId: data.ComponentId,
                 DeductionPercent: data.DeductionPercent,
                 DeductionAmount: $("#new_" + data.Id).data("kendoNumericTextBox").value(),
                 RotationId: data.RotationId,
                 Type: data.Type,
                 ComponentTypeName: data.ComponentTypeName,
                 IsBasicSalary: data.IsBasicSalary
             });
         });

        var dataList = {
            ComponentAdditionalList: ComponentAdditional,
            ComponentDeductionList: ComponentDeduction
        }
        return dataList;
    }

    function IncrementPercentage_Change() {
        var result = 0;
        var percentage = this.value();
        $.each(additional_salary_current, function (index, data) {
            if (data.IsBasicSalary == true) {
                result += data.AdditionalAmount + (data.AdditionalAmount * (percentage / 100));
            }
        });

        $.each(additional_salary_new, function (index, data) {
            if (data.IsBasicSalary == true) {
                $("#hdNew_" + data.Id).val(result);
                $("#new_" + data.Id).data("kendoNumericTextBox").value(result);
            }
        });

        $.each(additional_salary_new, function (index, data) {
            if (data.IsBasicSalary != true) {
                result += $("#new_" + data.Id).data("kendoNumericTextBox").value();
            }
        });

        $.each(deduction_salary_new, function (index, data) {
            if (data.IsBasicSalary != true) {
                result += $("#new_" + data.Id).data("kendoNumericTextBox").value();
            }
        });

        $("#NextSalary").data("kendoNumericTextBox").value(result);
    }

    function salary_change(e) {
        var id = this.element.prop("id").replace("new_", "");
        var isBasicSalary = $("#hdIsBasicSalary_" + id).val();
        var oldValue = $("#hdNew_"+id).val();
        var newValue = this.value();
        var newSalary = $("#NextSalary").data("kendoNumericTextBox").value();

        if (newSalary != null) {
            if (oldValue > newValue) {
                newSalary = newSalary - (oldValue - newValue);
            } else {
                newSalary = newSalary + (newValue - oldValue);
            }

            $("#NextSalary").data("kendoNumericTextBox").value(newSalary);
            $("#hdNew_" + id).val(newValue);
        } else {
            $("#NextSalary").data("kendoNumericTextBox").value(0);
        }

        if (isBasicSalary == "true") {
            $.each(additional_salary_current, function (index, data) {
                if (data.IsBasicSalary == true) {
                    var currentBasicSalary = data.AdditionalAmount;
                    var percentage = ((newValue - currentBasicSalary) / currentBasicSalary) * 100;
                    $("#IncrementPercentage").data("kendoNumericTextBox").value(percentage);
                }
            });
        }
    }

    function SalaryDetail(employeeId, rotationId) {
        var currentSalary = 0;
        var nextSalary = 0;
        $.ajax({
            type: "GET",
            async: false,
            url: '@Url.Action("GetAdditionalList", "Rotation")',
            data: { employeeId: employeeId, rotationId: rotationId },
            success: function (result) {
                $("#divAdditional").empty();
                $("#divAdditionalNew").empty();
                if (result != undefined) {
                    $.each(result, function (index, data) {                        
                        if (data.AdditionalAmount != null) {
                            if (data.Type == "@PhoenixERPWebApp.Models.Payroll.Type.CurrentSallary") {
                                currentSalary += data.AdditionalAmount;
                            } else if (data.Type == "@PhoenixERPWebApp.Models.Payroll.Type.NewSallary") {
                                nextSalary += data.AdditionalAmount;
                            }
                        }

                        if (data.Type == "@PhoenixERPWebApp.Models.Payroll.Type.CurrentSallary" || rotationId=="") {
                            var current_additional = '<div class="row">' +
                                '<div class="col-lg-7"><label>' + data.AdditionalComponentTypeName + '</label></div>' +
                                '<div class="col-lg-5">' +
                                '<div class="form-group">' +
                                '<input type="text" name="current_' + data.Id + '" id="current_' + data.Id + '" value="' + data.AdditionalAmount + '" readonly>' +
                                '</div>' +
                                '</div>' +
                                '</div>';

                            $("#divAdditional").append(current_additional);
                            $("#current_" + data.Id).kendoNumericTextBox({ format: "n2", spinners: false });

                            additional_salary_current.push({
                                Id: data.Id,
                                AdditionalEmployeeBasicInfoId: data.AdditionalEmployeeBasicInfoId,
                                AdditionalSalaryComponent:data.AdditionalSalaryComponent,
                                AdditionalComponentId: data.AdditionalComponentId,
                                AdditionalPercent: data.AdditionalPercent,
                                AdditionalAmount: data.AdditionalAmount,
                                AdditionalRotationId: data.AdditionalRotationId,
                                Type: "@PhoenixERPWebApp.Models.Payroll.Type.CurrentSallary",
                                AdditionalComponentTypeName: data.AdditionalComponentTypeName,
                                IsBasicSalary: data.IsBasicSalary
                            });
                        }

                        if (data.Type == "@PhoenixERPWebApp.Models.Payroll.Type.NewSallary" || rotationId == "") {
                            var new_additional = '<div class="row">' +
                                '<div class="col-lg-7"><label>' + data.AdditionalComponentTypeName + '</label></div>' +
                                '<div class="col-lg-5">' +
                                '<div class="form-group">' +
                                '<input type="hidden" id="hdNew_' + data.Id + '" value="' + data.AdditionalAmount + '" />' +
                                '<input type="hidden" id="hdIsBasicSalary_' + data.Id + '" value="' + data.IsBasicSalary + '" />';

                            if ('@Model.IsApprove' == "True" || !('@(Model.Status?? PhoenixERPWebApp.Models.StatusTransaction.Draft)' == '@PhoenixERPWebApp.Models.StatusTransaction.Draft') ||
                               ('@ViewBag.isHcAdmin' == "False" && '@Model.SubmitUser' == "True")) {
                                new_additional += '<input type="text" name="new_' + data.Id + '" id="new_' + data.Id + '" value="' + data.AdditionalAmount + '" readonly>';
                            } else {
                                new_additional += '<input type="text" name="new_' + data.Id + '" id="new_' + data.Id + '" value="' + data.AdditionalAmount + '">';
                            }

                            new_additional += '</div>' +
                                '</div>' +
                                '</div>';

                            $("#divAdditionalNew").append(new_additional);
                            $("#new_" + data.Id).kendoNumericTextBox({ format: "n2", spinners: false, change: salary_change });

                            additional_salary_new.push({
                                Id: data.Id,
                                AdditionalEmployeeBasicInfoId: data.AdditionalEmployeeBasicInfoId,
                                AdditionalSalaryComponent: data.AdditionalSalaryComponent,
                                AdditionalComponentId: data.AdditionalComponentId,
                                AdditionalPercent: data.AdditionalPercent,
                                AdditionalAmount: data.AdditionalAmount,
                                AdditionalRotationId: data.AdditionalRotationId,
                                Type: "@PhoenixERPWebApp.Models.Payroll.Type.NewSallary",
                                AdditionalComponentTypeName: data.AdditionalComponentTypeName,
                                IsBasicSalary: data.IsBasicSalary
                            });
                        }
                    });
                }
                mApp.unblock("#m_blockui_list");
            },
            error: function (e, t, s) {
                swal('Information', 'Ooops, something went wrong !', 'info');
                mApp.unblock("#m_blockui_list");
            }
        });

        $.ajax({
            type: "GET",
            async: false,
            url: '@Url.Action("GetDeductionList", "Rotation")',
            data: { employeeId: employeeId, rotationId: rotationId },
            success: function (result) {
                $("#divDeduction").empty();
                $("#divDeductionNew").empty();
                if (result != undefined) {
                    $.each(result, function (index, data) {
                         if (data.DeductionAmount != null) {
                            if (data.Type == "@PhoenixERPWebApp.Models.Payroll.Type.CurrentSallary") {
                                currentSalary += data.DeductionAmount;
                            } else if (data.Type == "@PhoenixERPWebApp.Models.Payroll.Type.NewSallary") {
                                nextSalary += data.DeductionAmount;
                            }
                        }

                        if (data.Type == "@PhoenixERPWebApp.Models.Payroll.Type.CurrentSallary" || rotationId == "") {
                            var current_deduction = '<div class="row">' +
                                '<div class="col-lg-7"><label>' + data.ComponentTypeName + '</label></div>' +
                                '<div class="col-lg-5">' +
                                '<div class="form-group">' +
                                '<input type="text" name="current_' + data.Id + '" id="current_' + data.Id + '" value="' + data.DeductionAmount + '" readonly>' +
                                '</div>' +
                                '</div>' +
                                '</div>';

                            $("#divDeduction").append(current_deduction);
                            $("#current_" + data.Id).kendoNumericTextBox({ format: "n2", spinners: false });

                            deduction_salary_current.push({
                                Id: data.Id,
                                EmployeeBasicInfoId: data.EmployeeBasicInfoId,
                                SalaryComponent: data.SalaryComponent,
                                ComponentId: data.ComponentId,
                                DeductionPercent: data.DeductionPercent,
                                DeductionAmount: data.DeductionAmount,
                                RotationId: data.RotationId,
                                Type: "@PhoenixERPWebApp.Models.Payroll.Type.CurrentSallary",
                                ComponentTypeName: data.ComponentTypeName,
                                IsBasicSalary: data.IsBasicSalary
                            });
                        }
                        if (data.Type == "@PhoenixERPWebApp.Models.Payroll.Type.NewSallary" || rotationId == "") {
                            var new_deduction = '<div class="row">' +
                                '<div class="col-lg-7"><label>' + data.ComponentTypeName + '</label></div>' +
                                '<div class="col-lg-5">' +
                                '<div class="form-group">' +
                                '<input type="hidden" id="hdNew_' + data.Id + '" value="' + data.DeductionAmount + '" />' +
                                '<input type="hidden" id="hdIsBasicSalary_' + data.Id + '" value="' + data.IsBasicSalary + '" />';

                            if ('@Model.IsApprove' == "True" || !('@(Model.Status ?? PhoenixERPWebApp.Models.StatusTransaction.Draft)' == '@PhoenixERPWebApp.Models.StatusTransaction.Draft') ||
                               ('@ViewBag.isHcAdmin' == "False" && '@Model.SubmitUser' == "True")) {
                                new_deduction += '<input type="text" name="new_' + data.Id + '" id="new_' + data.Id + '" value="' + data.DeductionAmount + '" readonly>';
                            } else {
                                new_deduction += '<input type="text" name="new_' + data.Id + '" id="new_' + data.Id + '" value="' + data.DeductionAmount + '">';
                            }

                            new_deduction += '</div>' +
                                '</div>' +
                                '</div>';

                            $("#divDeductionNew").append(new_deduction);
                            $("#new_" + data.Id).kendoNumericTextBox({ format: "n2", spinners: false, change: salary_change });
                            
                            deduction_salary_new.push({
                                Id: data.Id,
                                EmployeeBasicInfoId: data.EmployeeBasicInfoId,
                                SalaryComponent: data.SalaryComponent,
                                ComponentId: data.ComponentId,
                                DeductionPercent: data.DeductionPercent,
                                DeductionAmount: data.DeductionAmount,
                                RotationId: data.RotationId,
                                Type: "@PhoenixERPWebApp.Models.Payroll.Type.NewSallary",
                                ComponentTypeName: data.ComponentTypeName,
                                IsBasicSalary: data.IsBasicSalary
                            });
                        }
                    });
                }
                mApp.unblock("#m_blockui_list");
            },
            error: function (e, t, s) {
                swal('Information', 'Ooops, something went wrong !', 'info');
                mApp.unblock("#m_blockui_list");
            }
        });

        if ($("#CurrentSalary").data("kendoNumericTextBox") != null) {
            $("#CurrentSalary").data("kendoNumericTextBox").value(currentSalary);
            if (nextSalary == 0) {
                $("#NextSalary").data("kendoNumericTextBox").value(currentSalary);
            } else {
                $("#NextSalary").data("kendoNumericTextBox").value(nextSalary);
            }
        }
    }
</script>