﻿
@{
    ViewData["Title"] = "Menu";
}

<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Menu Setup</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-gear"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">System</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Application</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Core/LegalEntity")" class="m-nav__link">
                        <span class="m-nav__link-text">Menu Setup</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row" id="m_blockui_list">
        <div class="col-lg-12">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button id="btn-add" type="button" class="btn btn-sm btn-primary">New</button>
                <button id="btn-add_group" type="button" class="btn btn-sm btn-info">New Group</button>
                <button id="btn-delete" type="button" class="btn btn-sm btn-danger"><i class="la la-trash"></i></button>
                <div class="btn-group" role="group">
                    <div class="col-lg-3">
                        <div class="input-group">
                            <select id="application_module_id" name="application_module_id" class="form-control form-control-sm m-input m-input--square"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 m--padding-top-10">
            <div id="tree_menu" class="tree-demo"> </div>
            <div class="alert alert-success m--margin-top-10">
                Menu filtered by application module
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Areas/Core/Scripts/Menu.Index.js?@DateTime.Now" asp-append-version="true"></script>

}


