﻿@{
    ViewBag.ModalTitle = "LIST";
    ViewBag.ModalId = "categorylist";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}


<div>
    <form action="#" method="post" id="TimesheetTaskCreate">
        <div class="form-group">
            <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand" style="width:100px">
                Use Non Job
                <input type="checkbox" class="m-group-checkable" id="usenonjob">
                <span></span>
            </label>
        </div>
        <div id="optitem" class="form-group">
            <div id="jobselect">
                <label><span class="translate" data-args="Job"></span></label>
                <select id="job_number" name="task_id"></select>
            </div>

        </div>
        @*<div class="form-group" id="jobselect">
            <label><span class="translate" data-args="Job"></span></label>
            <select id="job_number" name="job_number"></select>
        </div>*@
        @*<div class="form-group" style="display:none" id="jobinput">
            <label>Non Job</label>
            <input type="text" id="nonjobname" name="nonjobname" class="form-control" />
        </div>*@

        <div class="form-group">
            <label>Remarks</label>
            <input type="text" id="remarks" name="remarks" required class="form-control" />
        </div>

        @*<div class="form-group non-user">
            <label>Date</label>
            <input type="text" id="dateMon" name="date" required data-date-format="yyyy-mm-dd" readonly class="form-control datepick" />

        </div>*@
        <div class="form-group non-user">
            <label>Date Start</label>
            <input type="text" id="dateStart" name="date" required data-date-format="yyyy-mm-dd" readonly class="form-control datepicker" style="width:100%" />

        </div>
        <div class="form-group non-user">
            <label>Date End</label>
            <input type="text" id="dateEnd" name="date" required data-date-format="yyyy-mm-dd" readonly class="form-control datepicker" style="width:100%" />

        </div>

        @*<div class="form-group non-user">
            <label>Hours</label>
            <input type="text" id="hours" name="hours" class="timepick form-control" readonly />
        </div>*@

        @*<div class="form-group non-user" style="display:none">
            <label>Task NonJob</label>
            <input type="text" name="non_job" class="form-control" />
        </div>

        <div class="form-group non-user" style="display:none">
            <label>Description</label>
            <textarea class="form-control form-control-sm m-input m-input--square" required name="description" id="description"></textarea>
        </div>*@
    </form>
</div>

<div id="tmpl_acc_item" class="xtemplate">
</div>

@*<div id="tmpl_acc_item" class="xtemplate">
        <form action="#" method="post" id="TimesheetTaskCreate">
            <div class="m-accordion__item">
                <div class="m-accordion__item-head collapsed" role="tab" id="acclist_{{id}}_head" data-toggle="collapse" href="#acclist_{{id}}_body" aria-expanded="    false">
                    <span class="m-accordion__item-icon">
                        <i class="fa flaticon-list-2 "></i>
                    </span>
                    <span class="m-accordion__item-title">
                        {{title}}
                    </span>
                    <span class="m-accordion__item-mode"></span>
                </div>

                <div class="m-accordion__item-body collapse" id="acclist_{{id}}_body" class=" " role="tabpanel" aria-labelledby="acclist_{{id}}_head">
                    <div class="m-accordion__item-content">
                        {{loopdata}}
                    </div>
                </div>
            </div>
        </form>

    </div>*@
<div class="m-accordion m-accordion--bordered m-accordion--solid" id="acclist" role="tablist">
    <!--begin::Item-->
    <!--end::Item-->

</div>
<hr />

@*<button type="button" onclick="fnTimesheet.addNewTask()" class="btn btn-primary"><i class="fa fa-save"></i> Save </button>*@
<button type="button" id="addBtn" class="btn btn-primary"><i class="fa fa-save"></i> Save </button>
@*<button type="button" onclick="fnTimesheet.addtask()" class="btn btn-primary"><i class="fa fa-save"></i> Save </button>*@
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
