﻿@{
    ViewData["Title"] = "Time Sheet";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}

@section Panelhead{
    <link href="~/assets/plugins/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />
    <style>
        .datepicker table tr td.disabled {
            color : #fff;
        }
        .datepicker tbody tr > td.day.new {
            color: #fff;
        }
        .datepicker tbody tr > td.day.old {
            color: #fff;
        }
        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
            background: 0 0;
            color : #fff;
            /*cursor: not-allowed;*/
        }

        .w50px {
            width: 70px !important
        }

        .sabming {
            background-color: #c8c1c1;
        }

        #timesheettable tbody td.timewrap {
            padding: 0px;
            position: relative;
        }

            #timesheettable tbody td.timewrap input {
                position: absolute;
                top: 0px;
                font-size: 14pt;
                height: 100%;
            }

        #timesheettable tfoot td.timewrap {
            padding: 0px;
            position: relative;
        }

            #timesheettable tfoot td.timewrap input {
                position: absolute;
                text-align: right;
                top: 0px;
                font-size: 14pt;
                height: 100%;
            }

        .xtemplate {
            display: none;
        }

    </style>
}

@section Paneltools{

}
@section Panelbody{
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="To Date"></span> :</label>
                <div class="input-group date form_datetime form_datetime bs-datetime">
                    <input type="text" size="16" name="to_date" id="to_date" data-date-format="yyyy-mm-dd" autocomplete="off" class="datepicker form-control form-control-sm ">
                    <span class="input-group-addon">
                        <button class="btn default date-set btn-sm" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="btn-group mb-3">
                @*<button type="button" id="previous_week" class="btn btn-default"><</button>*@
                <button type="button" id="this_week" class="btn btn-default">week</button>
             
            </div>
        </div>
    </div>
    <form id="TimesheetCreate">
        <table class="table table-striped table-bordered table-hover " style="width:100%;" id="timesheettable">
            <thead>

            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td style="min-width:300px" colspan="3">
                        <button type="button" id="addMods" onclick="fnTimesheet.opencategorylist()" class="btn btn-success" data-backdrop="false"><i class="fa fa-plus"></i> Add Row </button>
                        @*<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save </button>*@
                        @*<button type="button" onclick="fnTimesheet.addTimehseet()" class="btn btn-primary"><i class="fa fa-save"></i> Save </button>*@
                        <button type="button" onclick="fnTimesheet.addNewTimesheet()" class="btn btn-primary"><i class="fa fa-save"></i> Save </button>
                        <button type="button" disabled class="btn md-btn-warning"><i class="fa fa-print"></i> Report </button>
                        <a href="~/ProjectManagement/Timesheet/" class="fakelink btn btn-secondary">Close</a>
                    </td>
                    <td class="timewrap">

                        <input type="text" max="24" id="ttltime_0" readonly class="ttltime form-control form-control-sm m-input m-input--square">

                    </td>

                    <td class="timewrap">

                        <input type="text" id="ttltime_1" readonly class="ttltime form-control form-control-sm m-input m-input--square">

                    </td>
                    <td class="timewrap">

                        <input type="text" id="ttltime_2" readonly class="ttltime form-control form-control-sm m-input m-input--square">

                    </td>
                    <td class="timewrap">

                        <input type="text" id="ttltime_3" readonly class="ttltime form-control form-control-sm m-input m-input--square">

                    </td>
                    <td class="timewrap">

                        <input type="text" id="ttltime_4" readonly class="ttltime form-control form-control-sm m-input m-input--square">

                    </td>
                    <td class="timewrap">

                        <input type="text" id="ttltime_5" readonly class="ttltime form-control form-control-sm m-input m-input--square">


                    </td>
                    <td class="timewrap">

                        <input type="text" id="ttltime_6" readonly class="ttltime form-control form-control-sm m-input m-input--square">

                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    



    @Html.Partial("timesheet/categorylist")

}
@section Panelscript{
    <script>
        var currentdate = '@DateTime.Now.ToString("yyyy-MM-dd")';
         $("#categorylist").removeAttr("tabindex");
    </script>
    <script src="~/assets/plugins/jquery.mask/jquery.mask.js"></script>
    <script src="~/assets/js/Areas/ProjectManagement/Form/Timesheet/index.js"></script>
}

