@{
    ViewBag.ModalTitle = "WorkingEffective";
    ViewBag.ModalId = "WorkingEffectiveModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="WorkingEffectiveFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            
            <div class="form-group">
                <label><span class="translate" data-args=">Working Start Time">Working Start Time</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_from_time" id="search_from_time"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="Working End Time">Working End Time</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_to_time" id="search_to_time"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnWorkingEffective.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnWorkingEffective.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>