@{
    ViewData["Title"] = "ApplicationEntity";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="ApplicationEntityFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="display_name">display_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="display_name" id="display_name"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="entity_name">entity_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="entity_name" id="entity_name"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="organization_id">organization_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="organization_id" id="organization_id"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/General/ApplicationEntity" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/General/Form/ApplicationEntity.update.js"></script>
}
