@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="StatusFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">
            <div class="form-group">
                <label><span class="translate" data-args="status_name">Code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="code" id="code" maxlength="50" type="text">
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="status_name">Status Name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="status_name" id="status_name" maxlength="50" type="text">
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="status_name">Description</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="description" id="description" maxlength="255" type="text">
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="value">value</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="value" id="value" type="number">
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/Status" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/Status.create.js"></script>
}
