@{
    ViewData["Title"] = "Applicant Detail Info";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    @*<a href="@Url.Content("~/Hris/Activity/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>*@
}

@section Paneltools{
    @*<a  data-target="#ActivityModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>*@
}
@section Panelbody{
    <legend>Applicant Detail Info</legend>
    <input value="@ViewBag.RecordIDSec" type="hidden" name="job_vacancy_id" id="job_vacancy_id" />
    <div class="row">
        <div class="col-lg-10">
            <div class="form-group">&nbsp;</div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <a href="@Url.Content("~/Hris/Applicant/TrackingNewApplicant/")@ViewBag.RecordIDSec" class="btn btn-primary">< Back to Job Tracking</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                &nbsp;
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                &nbsp;
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <a href="@Url.Content("~/Hris/ApplicantDetail/Approval/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Approved</a>
                <a href="@Url.Content("~/Hris/ApplicantDetail/Interview/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Interview</a>
                <a href="@Url.Content("~/Hris/ApplicantDetail/Comment/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Comment</a>
                <a href="@Url.Content("~/Hris/ApplicantDetail/Training/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Training</a>
                <a href="@Url.Content("~/Hris/ApplicantDetail/ApplicantReject/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Reject</a>
                <a href="@Url.Content("~/Hris/ApplicantDetail/ApplicantMoveStage/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-primary">Move Stage</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Applicant ID">Applicant ID</span> :</label>
                <input type="text" class="form-control form-control-sm m-input m-input--square" name="applicant_code" id="applicant_code" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Posting Code">Posting Code</span> :</label>
                <input type="text" class="form-control form-control-sm m-input m-input--square" name="posting_code" id="posting_code" readonly />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Status">Status</span> :</label>
                <input type="text" class="form-control form-control-sm m-input m-input--square" name="posting_status" id="posting_status" readonly />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Reqruitment Status">Reqruitment Status</span> :</label>
                <input type="text" class="form-control form-control-sm m-input m-input--square" name="recruitment_status" id="recruitment_status" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Vacancy">Vacancy</span> :</label>
                <input type="text" class="form-control form-control-sm m-input m-input--square" name="vacancy_name" id="vacancy_name" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">&nbsp;</div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">&nbsp;</div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">&nbsp;</div>
        </div>
    </div>
    <hr />
    <form id="AplicantMoveStageFrom" name="AplicantMoveStageFrom" method="post">
        <legend>Applicant Move Stage</legend>
        <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
        <input type="hidden" name="applicant_progress_id" id="applicant_progress_id" />
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label><span class="translate" data-args="Move Stage"><b>Move Stage</b></span> :</label>
                </div>
                <div class="form-group">
                    <select class="form-control" name="candidate_recruitment_id" id="candidate_recruitment_id" onchange="ShowData(this.value)">
                        <option value="1">01. Screening / New Applicant</option>
                        <option value="2">02. Invite 1st Interview</option>
                        <option value="3">03. 1st Interview Accepted</option>
                        <option value="4">04. Job Offering</option>
                        <option value="5">05. Waiting Approval</option>
                        @*<option value="6">06. Accepted</option>*@
                    </select>
                </div>
                <div class="row" id="approval_page_applicant" style="display:none">
                    <input type="hidden" id="template_approval_id" name="template_approval_id">
                    <div class="col-lg-12 m-form__group-sub">
                        <div class="form-group">
                            <label>
                                <h5>Approval</h5>
                            </label>
                            <div class="m-section__content">
                                <table class="table table-striped table-bordered table-hover table-checkable" id="JobVacancyListApprover">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Title</th>
                                            <th>Approver Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="no_data">
                                            <td colspan="3">No Data</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" onclick="SubmitData()"><span class="translate" data-args="Save">Save</span></button>
                <a href="~/Hris/Applicant/TrackingNewApplicant/@ViewBag.RecordIDSec" class="fakelink btn btn-secondary">Cancel</a>
            </div>

        </div>
    </form>

}
@section Panelscript{
    <script src="~/approval/gmApproval.js"></script>
    <script src="~/assets/js/Areas/Hris/Form/ApplicantDetail.applicantmovestage.js"></script>
}
