@{
    ViewBag.ModalTitle = "Course Seminar Create";
    ViewBag.ModalId = "CourseSeminarModalCreate";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="CourseSeminarFormCreate" method="post">
    <input type="hidden" name="candidate_recruitment_id" id="candidate_recruitment_id" value="@ViewBag.RecordID" />
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label><span class="translate" data-args="Course Name">Course Name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="course_name" id="course_name" />
               
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="Year">Year</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="year" id="year" type="hidden">
                <input class="form-control form-control-sm m-input m-input--square" name="year_from" id="year_from" type="number" placeholder="From">
                <input class="form-control form-control-sm m-input m-input--square" name="year_to" id="year_to" type="number" placeholder="To">

            </div>

        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label><span class="translate" data-args="Remarks">Remarks</span> :</label>
                <textarea class="form-control form-control-sm m-input m-input--square" name="remarks" id="remarks" cols="30"></textarea>
            </div>

         

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" id="btn-save" class="btn btn-primary" onclick="submitEducationDate()">Save</button>
            <button type="button" data-dismiss="modal" class="fakelink btn btn-secondary">Closed</button>
        </div>

    </div>
</form>