@{
    ViewData["Title"] = "Applicant Detail Info";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    @*<a href="@Url.Content("~/Hris/Activity/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>*@
}

@section Paneltools{
    @*<a  data-target="#ActivityModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>*@
}
@section Panelbody{
    <legend>Applicant Detail Info</legend>
    <form id="AplicantTrackingFormNewApplicant" name="AplicantTrackingFormNewApplicant" method="post">
        <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
        <input value="@ViewBag.RecordIDSec" type="hidden" name="job_vacancy_id" id="job_vacancy_id" />
        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">&nbsp;</div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <a href="@Url.Content("~/Hris/Applicant/TrackingNewApplicant/")@ViewBag.RecordIDSec" class="btn btn-primary">< Back to Job Tracking</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <a href="#" class="btn btn-secondary" onclick="ApprovedData()">Approved</a>
                    <a href="@Url.Content("~/Hris/ApplicantDetail/Interview/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Interview</a>
                    <a href="@Url.Content("~/Hris/ApplicantDetail/Comment/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Comment</a>
                    <a href="@Url.Content("~/Hris/ApplicantDetail/Training/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Training</a>
                    <a href="@Url.Content("~/Hris/ApplicantDetail/ApplicantReject/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Reject</a>
                    <a href="@Url.Content("~/Hris/ApplicantDetail/ApplicantMoveStage/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Move Stage</a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Applicant ID">Applicant ID</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="applicant_code" id="applicant_code" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Posting Code">Posting Code</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="posting_code" id="posting_code" readonly />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Status">Status</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="posting_status" id="posting_status" readonly />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Reqruitment Status">Reqruitment Status</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="recruitment_status" id="recruitment_status" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Vacancy">Vacancy</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="vacancy_name" id="vacancy_name" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">&nbsp;</div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">&nbsp;</div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">&nbsp;</div>
            </div>
        </div>
        <hr />
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="fakelink nav-link " href="@Url.Content("~/Hris/ApplicantDetail/PersonalInfo/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" role="tab" data-toggle="tab">Personal Info</a>
            </li>
            <li class="nav-item">
                <a class="fakelink nav-link active " href="@Url.Content("~/Hris/ApplicantDetail/EducationInfo/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" role="tab" data-toggle="tab">Education Info</a>
            </li>
            <li class="nav-item">
                <a class="fakelink nav-link" href="@Url.Content("~/Hris/ApplicantDetail/EmploymentHistory/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" role="tab" data-toggle="tab">Employment History</a>
            </li>
            <li class="nav-item">
                <a class="fakelink nav-link" href="@Url.Content("~/Hris/ApplicantDetail/CourseSeminar/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" role="tab" data-toggle="tab">Course/Seminar</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="PersonalInfo">
                <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
                <input value="@ViewBag.RecordIDSec" type="hidden" name="job_vacancy_id" id="job_vacancy_id" />
                <div class="row">
                    <div class="col-lg-11">
                        <div class="form-group">&nbsp;</div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <a href="#" data-target="#EducationInfoModalCreate" data-toggle="modal" class="btn btn-primary">+New</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <table class="table table-striped table-bordered table-hover table-checkable" id="EducationInfoList"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @Html.Partial("ApplicantDetail/EducationInfoCreate")
 
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/ApplicantDetail.educationinfo.js"></script>
}
