@{
    ViewBag.ModalTitle = "Employment History Create";
    ViewBag.ModalId = "EmploymentHistoryModalCreate";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="EmploymentHistoryFormCreate" method="post">
    <input type="hidden" name="candidate_recruitment_id" id="candidate_recruitment_id" value="@ViewBag.RecordID" />
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label><span class="translate" data-args="Company Name">Company Name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="company_name" id="company_name" />
               
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="Year">Year</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="year" id="year" type="hidden">
                <input class="form-control form-control-sm m-input m-input--square" name="year_from" id="year_from" type="number" placeholder="From">
                <input class="form-control form-control-sm m-input m-input--square" name="year_to" id="year_to" type="number" placeholder="To">

            </div>

            <div class="form-group">
                <label><span class="translate" data-args="Company Address">Company Address</span> :</label>
                <textarea class="form-control form-control-sm m-input m-input--square" name="company_address" id="company_address" cols="30"></textarea>
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="Main Responsibilities">Main Responsibilities</span> :</label>
                <textarea class="form-control form-control-sm m-input m-input--square" name="main_responsibilities" id="main_responsibilities" cols="30"></textarea>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label><span class="translate" data-args="Company Phone">Company Phone</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="company_phone" id="company_phone" type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="Position">Position</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="position" id="position" type="text">
            </div>

            <div class="form-group">
                &nbsp;
            </div>
            <div class="form-group">
                &nbsp;
            </div>
            <div class="form-group">
                &nbsp;
            </div>
            <div class="form-group">
                &nbsp;
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="Achievements">Achievements</span> :</label>
                <textarea class="form-control form-control-sm m-input m-input--square" name="achievements" id="achievements" cols="30"></textarea>
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" id="btn-save" class="btn btn-primary" onclick="submitEducationDate()">Save</button>
            <button type="button" data-dismiss="modal" class="fakelink btn btn-secondary">Closed</button>
        </div>

    </div>
</form>