@{
    ViewData["Title"] = "Applicant Detail Info";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    @*<a href="@Url.Content("~/Hris/Activity/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>*@
}

@section Paneltools{
    @*<a  data-target="#ActivityModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>*@
}
@section Panelbody{
    <legend>Applicant Detail Info</legend>
    <form id="AplicantTrackingFormNewApplicant" name="AplicantTrackingFormNewApplicant" method="post">
        <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
        <input value="@ViewBag.RecordIDSec" type="hidden" name="job_vacancy_id" id="job_vacancy_id" />
        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">&nbsp;</div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <a href="@Url.Content("~/Hris/Applicant/TrackingNewApplicant/")@ViewBag.RecordIDSec" class="btn btn-primary">< Back to Job Tracking</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <a href="@Url.Content("~/Hris/ApplicantDetail/Approval/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Approved</a>
                    <a href="@Url.Content("~/Hris/ApplicantDetail/Interview/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Interview</a>
                    <a href="@Url.Content("~/Hris/ApplicantDetail/Comment/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Comment</a>
                    <a href="@Url.Content("~/Hris/ApplicantDetail/Training/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Training</a>
                    <a href="@Url.Content("~/Hris/ApplicantDetail/ApplicantReject/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Reject</a>
                    <a href="@Url.Content("~/Hris/ApplicantDetail/ApplicantMoveStage/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Move Stage</a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Applicant ID">Applicant ID</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="applicant_code" id="applicant_code" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Posting Code">Posting Code</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="posting_code" id="posting_code" readonly />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Status">Status</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="posting_status" id="posting_status" readonly />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Reqruitment Status">Reqruitment Status</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="recruitment_status" id="recruitment_status" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Vacancy">Vacancy</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="vacancy_name" id="vacancy_name" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">&nbsp;</div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">&nbsp;</div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">&nbsp;</div>
            </div>
        </div>
        <hr />
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="fakelink nav-link active" href="@Url.Content("~/Hris/ApplicantDetail/PersonalInfo/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" role="tab" data-toggle="tab">Personal Info</a>
            </li>
            <li class="nav-item">
                <a class="fakelink nav-link " href="@Url.Content("~/Hris/ApplicantDetail/EducationInfo/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" role="tab" data-toggle="tab">Education Info</a>
            </li>
            <li class="nav-item">
                <a class="fakelink nav-link" href="@Url.Content("~/Hris/ApplicantDetail/EmploymentHistory/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" role="tab" data-toggle="tab">Employment History</a>
            </li>
            <li class="nav-item">
                <a class="fakelink nav-link" href="@Url.Content("~/Hris/ApplicantDetail/CourseSeminar/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" role="tab" data-toggle="tab">Course/Seminar</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="PersonalInfo">
                <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
                <input type="hidden" name="applicant_progress_id" id="applicant_progress_id" />
                <input type="hidden" name="code" id="code" />
                <input value="@ViewBag.RecordIDSec" type="hidden" name="job_vacancy_id" id="job_vacancy_id" />
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="First Name">First Name</span> :</label>
                            <input type="text" class="form-control" name="first_name" id="first_name" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Last Name">Last Name</span> :</label>
                            <input type="text" class="form-control" name="last_name" id="last_name" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Nick Name">Nick Name</span> :</label>
                            <input type="text" class="form-control" name="nick_name" id="nick_name" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Gender">Gender</span> :</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="gender" id="gender" value="male" /> Male
                            <input type="radio" name="gender" id="gender" value="female" /> Female
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Birth Place">Birth Place</span> :</label>
                            <input type="text" class="form-control" name="birth_place" id="birth_place" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="date_birth">Date of Birth*</label>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" data-date-format="yyyy-mm-dd" id="date_birth" name="date_birth">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Last Education">Last Education</span> :</label>
                            <select class="form-control" name="last_education" id="last_education">
                                <option value="S1">S1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Year Experience">Year Experience</span> :</label>
                            <input type="text" class="form-control" name="year_experience" id="year_experience">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Mobile Phone">Mobile Phone</span> :</label>
                            <input type="text" class="form-control" name="phone_number" id="phone_number" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label><span class="translate" data-args="Email">Email</span> :</label>
                                <input type="text" class="form-control" name="email" id="email" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Willing Work With Alcohol Brand">Willing Work With Alcohol Brand</span> :</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="alcohol_willing" id="alcohol_willing" value="true" /> Yes
                            <input type="radio" name="alcohol_willing" id="alcohol_willing" value="false" /> No
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label><span class="translate" data-args="Souce">Source</span> :</label>
                                <select type="text" class="form-control" name="source" id="source">
                                    <option value="Jobs DB">Jobs DB</option>
                                    <option value="Likedin">Likedin</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Adress">Adress</span> :</label>
                            <textarea name="address" id="address" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label><span class="translate" data-args="CV/Resume">CV/Resume</span> :</label>
                                <input type="text" class="form-control" name="cv" id="cv" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Willing Work With Alcohol Brand">Willing Work With Cigarete Brand</span> :</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="cigaret_willing" id="cigaret_willing" value="true" /> Yes
                            <input type="radio" name="cigaret_willing" id="cigaret_willing" value="false" /> No
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Photo">Photo</span> :</label>
                            <input type="text" class="form-control" name="photo" id="photo" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label><span class="translate" data-args="Portfolio">Portfolio</span> :</label>
                                <input type="text" class="form-control" name="portfolio" id="portfolio" />
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </form>
        @*<table class="table table-striped table-bordered table-hover table-checkable" id="ActivityList"></table>
            @Html.Partial("Activity/Search")*@
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/ApplicantDetail.personalinfo.js"></script>
}
