@{
    ViewData["Title"] = "Applicant Detail Info";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    @*<a href="@Url.Content("~/Hris/Activity/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>*@
}

@section Paneltools{
    @*<a  data-target="#ActivityModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>*@
}
@section Panelbody{
    <legend>Applicant Detail Info</legend>
   

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                &nbsp;
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                &nbsp;
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <a href="#" class="btn btn-secondary" onclick="ApprovedData()">Approved</a>
                <a href="@Url.Content("~/Hris/ApplicantDetail/Interview/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Interview</a>
                <a href="@Url.Content("~/Hris/ApplicantDetail/Comment/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Comment</a>
                <a href="@Url.Content("~/Hris/ApplicantDetail/Training/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-primary">Training</a>
                <a href="@Url.Content("~/Hris/ApplicantDetail/ApplicantReject/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Reject</a>
                <a href="@Url.Content("~/Hris/ApplicantDetail/ApplicantMoveStage/"+@ViewBag.RecordID+"/"+@ViewBag.RecordIDSec)" class="btn btn-secondary">Move Stage</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Applicant ID">Applicant ID</span> :</label>
                <input type="text" class="form-control form-control-sm m-input m-input--square" name="applicant_code" id="applicant_code" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Posting Code">Posting Code</span> :</label>
                <input type="text" class="form-control form-control-sm m-input m-input--square" name="posting_code" id="posting_code" readonly />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Status">Status</span> :</label>
                <input type="text" class="form-control form-control-sm m-input m-input--square" name="posting_status" id="posting_status" readonly />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Reqruitment Status">Reqruitment Status</span> :</label>
                <input type="text" class="form-control form-control-sm m-input m-input--square" name="recruitment_status" id="recruitment_status" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Vacancy">Vacancy</span> :</label>
                <input type="text" class="form-control form-control-sm m-input m-input--square" name="vacancy_name" id="vacancy_name" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">&nbsp;</div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">&nbsp;</div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">&nbsp;</div>
        </div>
    </div>
    <hr />
    <legend>Training Score Applicant</legend>
    <form id="TrainingFormUpdate" method="post">
        <input value="@ViewBag.RecordIDSec" type="hidden" name="job_vacancy_id" id="job_vacancy_id" />
        <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
        <input value="@ViewBag.RecordIDThd" type="hidden" name="candidate_recruitment_id" id="candidate_recruitment_id" />
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label><span class="translate" data-args="Training Name">Training Name</span> :</label>
                    <input name="training_name" id="training_name" class="form-control form-control-sm m-input m-input--square" type="text">
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="Subject">Subject</span> :</label>
                    <select name="status" id="status" class="form-control form-control-sm m-input m-input--square">
                        <option value="PASS">PASS</option>
                        <option value="NOT PASS">NOT PASS</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label><span class="translate" data-args="Score">Score</span> :</label>
                    <input name="score" id="score" class="form-control form-control-sm m-input m-input--square" type="text">
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" onclick="SubmitEditDataEducation()"><span class="translate" data-args="Save">Save</span></button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
            </div>

        </div>
    </form>


}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/ApplicantDetail.training.update.js"></script>
}
