.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav >
.m-menu__item.m-menu__item--expanded >
.m-menu__heading, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav >
.m-menu__item.m-menu__item--expanded > .m-menu__link {
    background: linear-gradient(60deg, #47b7bc, #6b4475) !important;
}

    .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav >
    .m-menu__item.m-menu__item--expanded >
    .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav >
    .m-menu__item.m-menu__item--expanded >
    .m-menu__link .m-menu__link-text {
        color: white !important;
    }


.tab-content > .active {
    background-color: unset;
}
