@{
    ViewData["Title"] = "User Management";
}
<div id="page_content_inner">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Home</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                            <i class="fa fa-home fa-fw"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                    <li class="m-nav__item">
                        <a href="javascript:return;" class="m-nav__link">
                            <span class="m-nav__link-text">User Management</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="m-portlet m-portlet--skin-dark m-portlet--bordered-semi">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="flaticon-home"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        ERP Phoenix User Management Modul
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            Welcome to User Management Modul
        </div>
    </div>
</div>

