﻿@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />
<link href="~/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" />
<style>
    .dataTables_wrapper .dataTables_paginate .pagination .page-item > .page-link {
        border: 1px solid #ddd;
        border-radius: 15px;
    }

    .pagination > .active, ul > .active {
        background-color: rgba(0,0,0,0.0);
    }
</style>

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Manage Menu</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-gear"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">System</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Application</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Um/ManageMenu")" class="m-nav__link">
                        <span class="m-nav__link-text">Manage Menu</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a href="javascript:openForm()" class="m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <input autocomplete="off" type="hidden" name="q" class="form-control form-control-sm m-input searchbox" placeholder="Search">
                                @*<form id="form-search-dt_basic">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text input-group-sm find-data"><i class="la la-search"></i></span></div>
                                            <input autocomplete="off" type="text" name="q" class="form-control form-control-sm m-input searchbox" placeholder="Search">
                                        </div>
                                    </form>*@
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <!--begin: Datatable -->

                    <table class="table table-striped- table-bordered table-hover table-checkable" id="dt_basic">
                        <thead>
                            <tr>
                                <th>Menu Name</th>
                                <th>Menu Link</th>
                                <th>Menu Unique</th>
                                <th>Parent Name</th>
                                <th><i class="fa fa-cogs pull-right"></i></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADD MENU</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="hidId" value="0" />
                    <label class="uk-form-label">Menu Name</label>
                    <input class="form-control" id="tbMenuName" placeholder="menu name" />
                </div>
                <div class="form-group">
                    <label class="uk-form-label">Menu Link</label>
                    <input class="form-control" id="tbMenuLink" placeholder="menu link" />
                </div>
                <div class="form-group">
                    <label class="uk-form-label">Menu Unique</label>
                    <input class="form-control" id="tbMenuUnique" placeholder="menu unique" />
                </div>
                <div class="form-group">
                    <label class="uk-form-label">Parent Menu</label>
                    <select id="ddlParentMenuId" class="form-control form-control-sm" style="width:100%"></select>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    @*<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Um/Scripts/TmMenu.js" asp-append-version="true"></script>

}


