﻿@{
    ViewData["Title"] = "Finance Approval";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Approval Request-<strong>Finance</strong></h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">System</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:;" class="m-nav__link">
                        <span class="m-nav__link-text">Approval Request Finance</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body m-portlet__body--no-padding">
                    <div class="row m-row--no-padding m-row--col-separator-xl">
                        <div class="col-md-12 col-lg-12 col-xl-4">

                            <!--begin:: Widgets/Stats2-1 -->
                            <div class="m-widget1">
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title"><a href="@Url.Content("~/ApprovalFinance/JournalEntry/?entity_id=1a60d708-94e2-80e8-eabe-3e74b9145849&Title=Journal%20Entry")" class="link-approval" entity_id="1a60d708-94e2-80e8-eabe-3e74b9145849" title="Journal Entry">Journal Entry</a></h3>
                                            <span class="m-widget1__desc">Begining Balance, Ending Balance, Mutation, Budgeting</span>
                                        </div>
                                        <div class="col m--align-right">
                                            <span class="m-widget1__number m--font-brand">2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Adjustment Journal Entry</h3>
                                            <span class="m-widget1__desc">Mutation</span>
                                        </div>
                                        <div class="col m--align-right">
                                            <span class="m-widget1__number m--font-danger">10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Cash Advance Request</h3>
                                            <span class="m-widget1__desc"></span>
                                        </div>
                                        <div class="col m--align-right">
                                            <span class="m-widget1__number m--font-success">0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end:: Widgets/Stats2-1 -->
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-4">

                            <!--begin:: Widgets/Stats2-2 -->
                            <div class="m-widget1">
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <h3 class="m-widget1__title">Bank Payment</h3>
                                            <span class="m-widget1__desc">Payment Transaction</span>
                                        </div>
                                        <div class="col m--align-right">
                                            <span class="m-widget1__number m--font-accent">0</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--begin:: Widgets/Stats2-2 -->
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-4">
                            
                            <!--begin:: Widgets/Stats2-3 -->
                            <div class="m-widget1">

                            </div>

                            <!--begin:: Widgets/Stats2-3 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/Areas/Core/Scripts/Approval.Index.js?@DateTime.Now" asp-append-version="true"></script>

}


