@{
    ViewBag.ModalTitle = "SalaryProcess";
    ViewBag.ModalId = "SalaryProcessModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="SalaryProcessFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="basic_salary">basic_salary</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_basic_salary" id="search_basic_salary"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="bonus">bonus</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_bonus" id="search_bonus"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="bruto">bruto</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_bruto" id="search_bruto"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="bruto_ofyears">bruto_ofyears</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_bruto_ofyears" id="search_bruto_ofyears"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_employee_basic_info_id" id="search_employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employement_status_id">employement_status_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_employement_status_id" id="search_employement_status_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="loan">loan</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_loan" id="search_loan"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="location">location</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_location" id="search_location"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="month">month</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_month" id="search_month"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="netto">netto</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_netto" id="search_netto"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="netto_ofyears">netto_ofyears</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_netto_ofyears" id="search_netto_ofyears"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="pkp_ofyears">pkp_ofyears</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_pkp_ofyears" id="search_pkp_ofyears"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="position_cost">position_cost</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_position_cost" id="search_position_cost"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="ptkp_ofmonths">ptkp_ofmonths</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_ptkp_ofmonths" id="search_ptkp_ofmonths"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="ptkp_ofyears">ptkp_ofyears</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_ptkp_ofyears" id="search_ptkp_ofyears"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="status_employee_id">status_employee_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_status_employee_id" id="search_status_employee_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="tax_no_npwp">tax_no_npwp</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_tax_no_npwp" id="search_tax_no_npwp"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="tax_ofmonths">tax_ofmonths</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_tax_ofmonths" id="search_tax_ofmonths"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="tax_ofyears">tax_ofyears</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_tax_ofyears" id="search_tax_ofyears"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="transport">transport</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_transport" id="search_transport"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="year">year</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_year" id="search_year"   type="number">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnSalaryProcess.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnSalaryProcess.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>