@{
    ViewBag.ModalTitle = "Entity";
    ViewBag.ModalId = "EntityModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="EntityFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">
        
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnEntity.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnEntity.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>