@{
    ViewData["Title"] = "EmployeeWarning";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="EmployeeWarningFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="description">description</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="description" id="description"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="notes">notes</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="notes" id="notes"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="subject">subject</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="subject" id="subject"  maxlength="100" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="warning_by">warning_by</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="warning_by" id="warning_by"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="warning_date">warning_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="warning_date" id="warning_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="warning_to">warning_to</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="warning_to" id="warning_to"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/EmployeeWarning" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/EmployeeWarning.update.js"></script>
}
