@{
    ViewData["Title"] = "BankBranch";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="BankBranchFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="adress">adress</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="adress" id="adress" required maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="bank_branch_id">bank_branch_id</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="bank_branch_id" id="bank_branch_id" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="bank_id">bank_id</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="bank_id" id="bank_id" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="branch_code">branch_code</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="branch_code" id="branch_code" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="phone">phone</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="phone" id="phone" required maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/BankBranch" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/BankBranch.create.js"></script>
}
