﻿@model PhoenixERPWebApp.Models.Finance.CashAdvanceSattlement
@{
    object htmlAttributes = new { style = "width: 100%", @readonly = "readonly" };
}
<div class="row">
    <div class="col-lg-12 m-row--no-padding">
        <label><h5></h5></label>
        <div class="m-section__content">
            <div class="m-demo">
                <div class="m-demo__preview">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-xs-12 m-form__group-sub">
                            <div class="form-group">
                                <label>Job Name</label> :
                                @(Html.Kendo().ComboBoxFor(x => x.JobId)
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        //.Enable(!disableCombo)
                                                        .Placeholder($"Choose a {Html.DisplayNameFor(m => m.JobId)}")
                                                        .HtmlAttributes(htmlAttributes)
                                                        .Filter(FilterType.Contains)
                                                        .DataSource(source => source
                                                            .Custom()
                                                            .Transport(transport => transport
                                                            .Read(read =>
                                                            {
                                                                read.Action("GetDDLJobNotExistsInPCAandJobId", "Dropdown", new { area = "Pm" }).Data("job_params");
                                                            }))
                                                            .ServerFiltering(true)
                                                        ))
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="ClientName"></label> :
                                @(Html.Kendo().ComboBoxFor(x => x.ClientName)
                                                                                    .DataTextField("Text")
                                                                                    .DataValueField("Value")
                                                                                    .Filter(FilterType.Contains)
                                                                                    .Suggest(true)
                                                                                    .Placeholder($"Choose a {Html.DisplayNameFor(m => m.ClientName)}")
                                                                                    .HtmlAttributes(htmlAttributes)

                                                                                    .DataSource(source => source
                                                                                        .Custom()
                                                                                        .Transport(transport => transport
                                                                                        .Read(read =>
                                                                                        {
                                                                                            read.Action("GetDDLClientInv", "Dropdown", new { area = "Finance" });
                                                                                        }))
                                                                                        .ServerFiltering(true)
                                                                                    )
                                )
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="LegalEntityId"></label> :
                                @(Html.Kendo().ComboBoxFor(x => x.LegalEntityId)
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .Placeholder($"Choose a {Html.DisplayNameFor(m => m.LegalEntityId)}")
                                                            .HtmlAttributes(htmlAttributes)
                                                            .Filter(FilterType.Contains)
                                                            .DataSource(source => source
                                                                .Custom()
                                                                .Transport(transport => transport
                                                                .Read(read =>
                                                                {
                                                                    read.Action("GetLegalEntity", "Dropdown");
                                                                }))
                                                                .ServerFiltering(true)
                                                            ))
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="JobNumber"></label> :
                                @(Html.Kendo().TextBoxFor(m => m.JobNumber)
                                                            //.Enable(!disableCombo)
                                                            .HtmlAttributes(htmlAttributes))
                            </div>
                        </div>
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label>Main Service Category</label> :
                                @(Html.Kendo().ComboBoxFor(x => x.ProjectActivity)
                                                                            .DataTextField("Text")
                                                                            .DataValueField("Value")
                                                                            //.Enable(!disableCombo)
                                                                            .Placeholder($"Choose a {Html.DisplayNameFor(m => m.ProjectActivity)}")
                                                                            .HtmlAttributes(htmlAttributes)
                                                                            .Filter(FilterType.Contains)
                                                                            .DataSource(source => source
                                                                                .Custom()
                                                                                .Transport(transport => transport
                                                                                .Read(read =>
                                                                                {
                                                                                    read.Action("GetDDLMainserviceCategory", "Dropdown", new { area = "Pm" });
                                                                                }))
                                                                                .ServerFiltering(true)
                                                                            ))
                            </div>
                        </div>
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label>Business Unit</label> :
                                @(Html.Kendo().ComboBoxFor(x => x.BusinessUnitId)
                                                                                                .DataTextField("Text")
                                                                                                .DataValueField("Value")
                                                                                                .HtmlAttributes(htmlAttributes)
                                                                                                .Filter(FilterType.Contains)
                                                                                                .DataSource(source => source
                                                                                                    .Custom()
                                                                                                    .Transport(transport => transport
                                                                                                    .Read(read =>
                                                                                                    {
                                                                                                        read.Action("GetDivisionFinance", "Dropdown", new { area = "Finance" });
                                                                                                    }))
                                                                                                    .ServerFiltering(true)
                                                                                                ))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label>PCE Number</label> :
                                @(Html.Kendo().TextBoxFor(m => m.Ca_pceId)
                                                                                            .HtmlAttributes(new
                                                                                            {
                                                                                                style = "width:100%",
                                                                                                @readonly = "readonly",
                                                                                                @class = "form-control form-control-sm m-input",
                                                                                            }))
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12 m-form__group-sub">
                            <div class="form-group">
                                <label>PCE Type</label> :
                                @(Html.Kendo().ComboBoxFor(X => X.Ca_PCETypeId)
                                                                                                                                .DataTextField("Text")
                                                                                                                                .DataValueField("Value")
                                                                                                                                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
                                                                                                                                .Filter(FilterType.Contains)
                                                                                                                                .DataSource(source => source
                                                                                                                                    .Custom()
                                                                                                                                    .Transport(transport => transport
                                                                                                                                    .Read(read =>
                                                                                                                                    {
                                                                                                                                        read.Action("GetDDLTypeOfExpense", "Dropdown", new { area = "Pm" });
                                                                                                                                    }))
                                                                                                                                    .ServerFiltering(true)
                                                ))
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12 m-form__group-sub">
                            <div class="form-group">
                                <label>Client Brand</label> :
                                @(Html.Kendo().ComboBoxFor(x => x.Ca_BrandId)
                                                                                                                .DataTextField("Text")
                                                                                                                .DataValueField("Value")
                                                                                                                //.Enable(!disableCombo)
                                                                                                                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
                                                                                                                .Filter(FilterType.Contains)
                                                                                                                .DataSource(source => source
                                                                                                                    .Custom()
                                                                                                                    .Transport(transport => transport
                                                                                                                    .Read(read =>
                                                                                                                    {
                                                                                                                        read.Action("GetDDLBrand", "Dropdown", new { area = "finance" });
                                                                                                                    }))
                                                                                                                    .ServerFiltering(true)
                                                                                                                ))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-xs-12 m-form__group-sub">
                            <div class="form-group">
                                <label>Share Service :</label>
                                @(Html.Kendo().ComboBoxFor(X => X.Ca_ShareservicesId)
                                                                                                                .DataTextField("Text")
                                                                                                                .DataValueField("Value")
                                                                                                                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
                                                                                                                .DataSource(source => source
                                                                                                                    .Custom()
                                                                                                                    .Transport(transport => transport
                                                                                                                    .Read(read =>
                                                                                                                    {
                                                                                                                        read.Action("GetAllDDLShareservices", "Dropdown", new { area = "finance" });
                                                                                                                    }))
                                                                                                                    .ServerFiltering(true)
                                                                                                                ))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	   function job_params() {
        return {
            status: "@Model.Status",
            jobId : "@Model.JobId"
        };
    }
</script>
