﻿@model PhoenixERPWebApp.Models.Finance.CashAdvanceSattlement
@{
	ViewData["Title"] = "Cash Advance Request Form";
	if (Model != null && Model.IsApprove == true)
	{
		ViewData["Title"] = "Cash Advance Request Form Approval";
	}
	Layout = "~/Views/Shared/_LayoutKendo.cshtml";

	DateTime? EffectiveDate = DateTime.Now;
	DateTime? EndDate = DateTime.Now;
    
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">Cash Advance Sattlement</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="javascript:return;" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon flaticon-cart"></i>
					</a>
				</li>
				<li class="m-nav__item">
					<a href="javascript:return;" class="m-nav__link">
						<span class="m-nav__link-text">Cas</span>
					</a>
				</li>
				<li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
				<li class="m-nav__item">
					<a href="@Url.Content("~/Finance/CashAdvanceSattlement")" class="m-nav__link">
						<span class="m-nav__link-text">Cash Advance</span>
					</a>
				</li>
				<li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
				<li class="m-nav__item">
					<a href="javascript:return;" class="m-nav__link">
							@if (String.IsNullOrEmpty(Model.Id))
							{
								<span class="m-nav__link-text">Create</span>
							}
							else
							{
								<span class="m-nav__link-text">Edit</span>
							}
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content">
	<div class="row">
		<!--NEW -->
		<div class="col-xl-12 col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--last m-portlet--head-sm m-portlet--responsive-mobile" id="main_portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-wrapper">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    @if (string.IsNullOrEmpty(Model.Id))
                                    {
                                        <span>@ViewBag.Header  &nbsp;</span>
                                    }
                                    else
                                    {
                                        <span>@ViewBag.Header  &nbsp;</span>
                                    }

                                    @if (!string.IsNullOrEmpty(Model.CaStatusId))
                                    {
                                        @if (Model.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Open)
                                        {
                                            <span class="m-badge m-badge--info m-badge--wide" id="status">@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Open)</span>
                                        }
                                        else if (Model.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.WaitingApproval)
                                        {
                                            <span class="m-badge m-badge--warning m-badge--wide" id="status">@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.WaitingApproval)</span>
                                        }
                                        else if (Model.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Reject)
                                        {
                                            <span class="m-badge m-badge--danger m-badge--wide" id="status">@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Reject)</span>
                                        }
                                        else if (Model.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Approved)
                                        {
                                            <span class="m-badge m-badge--success m-badge--wide" id="status">@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Approved)</span>
                                        }
                                        else if (Model.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Complete)
                                        {
                                            <span class="m-badge m-badge--success m-badge--wide" id="status">@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Complete)</span>
                                        }
                                        else if (Model.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.SattlementCheck)
                                        {
                                            <span class="m-badge m-badge--focus m-badge--wide" id="status">@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.SattlementCheck)</span>
                                        }
                                        else
                                        {
                                            <span class="m-badge m-badge--info m-badge--wide" id="status">@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Open)</span>
                                        }
                                    }
                                    <span id="status"></span>
                                </h3>
							</div>
						</div>
						<div class="m-portlet__head-tools">


							<a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>

						</div>
					</div>
				</div>


				<input hidden name="approval_id" />
             
				<div class="m-portlet__body">
					<!--begin::Form-->
                    <form id="form-ca-detail" class="m-form" role="form">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="CreatedBy" />
                        <input type="hidden" asp-for="CreatedOn" />
                        <input type="hidden" asp-for="ModifiedBy" />
                        <input type="hidden" asp-for="ModifiedOn" />
                        <input type="hidden" asp-for="ApprovedBy" />
                        <input type="hidden" asp-for="ApprovedOn" />
                        <input type="hidden" asp-for="IsActive" />
                        <input type="hidden" asp-for="IsLocked" />
                        <input type="hidden" asp-for="IsDefault" />
                        <input type="hidden" asp-for="IsDeleted" />
                        <input type="hidden" asp-for="OwnerId" />
                        <input type="hidden" asp-for="DeletedBy" />
                        <input type="hidden" asp-for="DeletedOn" />
                        @*<input type="hidden" asp-for="EmployeeId" />*@
                        <input type="hidden" asp-for="Revision" />
                        <input type="hidden" asp-for="RequestedBy" />
                        <input type="hidden" asp-for="BusinessUnitId" />
                        <input type="hidden" asp-for="CaStatusId" />
                        @*<input type="hidden" asp-for="MainserviceCategoryId" />*@
                        <input type="hidden" asp-for="Amount" />
                        <!-- Start: Header -->

                        <div class="row" id="request_data_detail" style="display:block">
                            <div class="col-lg-12 m-row--no-padding">
                                <div class="m-accordion m-accordion--bordered m-accordion--solid" id="request_detail" role="tablist">
                                    <!--begin::Item-->
                                    <div class="m-accordion__item">
                                        <div class="m-accordion__item-head" role="tab" id="request_detail_head" data-toggle="collapse" href="#request_detail_body" aria-expanded="true">
                                            <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                            <span class="m-accordion__item-title">Request Detail</span>
                                            <span class="m-accordion__item-mode"></span>
                                        </div>
                                        <div class="m-accordion__item-body show" id="request_detail_body" role="tabpanel" aria-labelledby="request_detail_head" data-parent="#request_detail" style="">
                                            <div class="m-accordion__item-content">
                                                <div class="row">

                                                    <div class="col-lg-6 col-sm-6 col-xs-12 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label asp-for="CaNumber"></label> :
                                                            @(Html.Kendo().TextBoxFor(m => m.CaNumber)
                                                                                                                        .HtmlAttributes(new
                                                                                                                        {
                                                                                                                            style = "width:100%",
                                                                                                                            @readonly = "readonly",
                                                                                                                            @class = "form-control",
                                                                                                                        }))
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6 col-xs-12 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label asp-for="CaDate"></label> :
                                                            @(Html.Kendo().TextBoxFor(m => m.CaDate)
                                                                                                                                .HtmlAttributes(new
                                                                                                                                {
                                                                                                                                    style = "width:100%",
                                                                                                                                    @readonly = "readonly",
                                                                                                                                    @class = "form-control",
                                                                                                                                }))
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">

                                                    <div class="col-lg-6 col-sm-6 col-xs-12 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label asp-for="RequestedOn"></label> :
                                                            @(Html.Kendo().DatePickerFor(m => m.RequestedOn)
                                                                                                                        .Format("dd MMM yyyy")
                                                                                                                        .HtmlAttributes(new
                                                                                                                        {
                                                                                                                            style = "width:100%",
                                                                                                                            @readonly = "readonly",
                                                                                                                            @class = "form-control form-control-sm m-input",
                                                                                                                        })
                                                            )
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6 col-xs-12 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Requester</label> :
                                                            @(Html.Kendo().TextBoxFor(m => m.RequestEmployeeName)
                                                                                .HtmlAttributes(new
                                                                                {
                                                                                    style = "width:100%",
                                                                                    @readonly = "readonly",
                                                                                    @class = "form-control form-control-sm m-input",
                                                                                }))
                                                            <input type="hidden" asp-for="RequestEmployeeId" />
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="row">


                                                    <div class="col-lg-6 col-sm-6 col-xs-12 m-form__group-sub">
                                                        <div class="form-group">
                                                            @*<label asp-for="RequestEmployee.JobTitle"></label> :*@
                                                            <label>RequestJobTitleName : </label>
                                                            @(Html.Kendo().TextBoxFor(m => m.RequestJobTitleName)
                                                                                            .HtmlAttributes(new
                                                                                            {
                                                                                                style = "width:100%",
                                                                                                @readonly = "readonly",
                                                                                                @class = "form-control form-control-sm m-input",
                                                                                            }))
                                                            <input type="hidden" asp-for="RequestJobTitleId" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6 col-xs-12 m-form__group-sub">
                                                        <div class="form-group">
                                                            @*<label asp-for="RequestEmployee.Grade"></label> :*@
                                                            @(Html.Kendo().TextBoxFor(m => m.RequestJobGradeName)
                                                                                        .HtmlAttributes(new
                                                                                        {
                                                                                            style = "width:100%",
                                                                                            @readonly = "readonly",
                                                                                            @class = "form-control form-control-sm m-input",
                                                                                        }))
                                                            @*<input type="hidden" asp-for="RequestJobGradeId" />
                                                            <input type="hidden" asp-for="RequestEmployee.Id" value="@ViewBag.EmployeeIdx" /*@>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*@await Html.PartialAsync("_Requestor", Model)*@

                        <br>

                        <div class="row" id="job_data_detail" style="display:block">
                            <div class="col-lg-12 m-row--no-padding">
                                <div class="m-accordion m-accordion--bordered m-accordion--solid" id="job_detail" role="tablist">
                                    <!--begin::Item-->
                                    <div class="m-accordion__item">
                                        <div class="m-accordion__item-head" role="tab" id="job_detail_head" data-toggle="collapse" href="#job_detail_body" aria-expanded="true">
                                            <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                            <span class="m-accordion__item-title">Job Request Detail</span>
                                            <span class="m-accordion__item-mode"></span>
                                        </div>
                                        <div class="m-accordion__item-body show" id="job_detail_body" role="tabpanel" aria-labelledby="job_detail_head" data-parent="#job_detail" style="">
                                            <div class="m-accordion__item-content">
                                                @await Html.PartialAsync("_BusinessPurpose", Model)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <br>
                        <div class="row" id="pt_data_detail" style="display:block">
                            <div class="col-lg-12 m-row--no-padding">
                                <div class="m-accordion m-accordion--bordered m-accordion--solid" id="pt_detail" role="tablist">
                                    <!--begin::Item-->
                                    <div class="m-accordion__item">
                                        <div class="m-accordion__item-head" role="tab" id="pt_detail_head" data-toggle="collapse" href="#pt_detail_body" aria-expanded="true">
                                            <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                            <span class="m-accordion__item-title">Pay to</span>
                                            <span class="m-accordion__item-mode"></span>
                                        </div>
                                        <div class="m-accordion__item-body show" id="pt_detail_body" role="tabpanel" aria-labelledby="pt_detail_head" data-parent="#pt_detail" style="">
                                            <div class="m-accordion__item-content">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Name / Company</label>
                                                            @Html.Kendo().TextBoxFor(m => m.VendorName).HtmlAttributes(new { @class = "form-control form-control-sm", style = "width:100%", @placeholder = "Name / Company" })

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Account Name</label>
                                                            @Html.Kendo().TextBoxFor(m => m.PayeeAccountName).HtmlAttributes(new { @class = "form-control form-control-sm", style = "width:100%", @placeholder = "Account Name" })

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Account Number</label>
                                                            @Html.Kendo().TextBoxFor(m => m.PayeeAccountNumber).HtmlAttributes(new { @class = "form-control form-control-sm", style = "width:100%", @placeholder = "Account Number" })


                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Bank Name</label>
                                                            @Html.Kendo().TextBoxFor(m => m.PayeeBankId).HtmlAttributes(new { @class = "form-control form-control-sm", style = "width:100%", @placeholder = "Bank Name" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Bank Branch</label>
                                                            @Html.Kendo().TextBoxFor(m => m.PayeeBankBranch).HtmlAttributes(new { @class = "form-control form-control-sm", style = "width:100%", @placeholder = "Bank Branch" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <label class="control-label">(Maximum 30 Calender Days)</label>
                                                <div class="row">
                                                    <div class="col-md-4">

                                                        <div class="form-group">
                                                            <label asp-for="CaPeriodFrom"></label> <span class="req">*</span> :
                                                            @(Html.Kendo().DatePickerFor(m => m.CaPeriodFrom)
                                                                                                        .Format("dd MMM yyyy")
                                                                                                        .Min($"{EffectiveDate}")
                                                                                                        .HtmlAttributes(new
                                                                                                        {
                                                                                                            style = "width:100%",
                                                                                                            @class = "form-control form-control-sm m-input",
                                                                                                            required = "required",
                                                                                                            placeholder = $"Choose a {Html.DisplayNameFor(m => m.CaPeriodFrom)}",
                                                                                                            onkeydown = "javascript:return false;"
                                                                                                        })
                                                            )

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="form-group">
                                                            <label asp-for="CaPeriodFrom"></label> <span class="req">*</span> :
                                                            @(Html.Kendo().DatePickerFor(m => m.CaPeriodTo)
                                                                                                        .Format("dd MMM yyyy")
                                                                                                        .Min($"{EffectiveDate}")
                                                                                                        .HtmlAttributes(new
                                                                                                        {
                                                                                                            style = "width:100%",
                                                                                                            @class = "form-control form-control-sm m-input",
                                                                                                            required = "required",
                                                                                                            placeholder = $"Choose a {Html.DisplayNameFor(m => m.CaPeriodTo)}",
                                                                                                            onkeydown = "javascript:return false;"
                                                                                                        })
                                                            )

                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group ">
                                                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.CashAdvanceDetail>()
                                                                        .Name("DetailGrid")
                                                                            .ToolBar(toolBar =>
                                                                            {
                                                                                if (string.IsNullOrEmpty(Model.Id))
                                                                                {
                                                                                    toolBar.Create();
                                                                                }
                                                                            })
                                                                        .Columns(columns =>
                                                                        {
                                                                            if (string.IsNullOrEmpty(Model.Id))
                                                                            {
                                                                                columns.Command(command =>
                                                                                {
                                                                                    command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                                                    command.Destroy().Text(" ");
                                                                                }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                                            }

                                                                            columns.Bound(p => p.CashAdvanceId).Hidden(true);
                                                                            columns.Bound(p => p.TaskId).Hidden(true);
                                                                            columns.Bound(p => p.TaskDetail).Width(200);
                                                                            columns.Bound(p => p.Qty).Width(200);
                                                                            columns.Bound(p => p.UnitPrice).Width(200);
                                                                            columns.Bound(p => p.Amount).Width(200).EditorTemplateName("StringReadOnly");
                                                                        })
                                                                        .AutoBind(false)
                                                                        .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                        .NoRecords()
                                                                        .DataSource(dataSource => dataSource
                                                                            .Ajax() 
                                                                            .Events(events =>
                                                                            {
                                                                                events.Error("errorHandler").Change("onChange");
                                                                            })
                                                                            .Model(model =>
                                                                            {
                                                                                model.Id(p => p.Id);
                                                                                model.Field(p => p.Id).DefaultValue("1");
                                                                                model.Field(p => p.CashAdvanceId).DefaultValue("1");
                                                                                model.Field(p => p.Amount).DefaultValue(0);
                                                                            })
                                                                            .Read(read => read.Action("ReadDetail", "CashAdvance", new { caId = Model.Id }))
                                                                            .Create(update => update.Action("EditingInline_Create", "CashAdvance"))
                                                                            .Update(update => update.Action("EditingInline_Update", "CashAdvance"))
                                                                            .Destroy(update => update.Action("EditingInline_Destroy", "CashAdvance"))
                                                                            )
                                                                            .Events(x => x.Save("saveCADetail"))
                                                            )
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        @await Html.PartialAsync("_HistoryApproval", Model)


                        <br>


                        <!-- End: Header -->
                        <!-- #region tombol -->
                        <div class="row">
                            <hr>
                            <br><hr>
                                <div class="form-group" style="text-align: right;">

                                    @if (ViewBag.IsApprove == true)
                                    {
                                        @if (ViewBag.processApprove == true)
                                        {
                                            @if (Model.Status != null)
                                            {
                                                @if (Model.Status < PhoenixERPWebApp.Models.StatusTransaction.Approved)
                                                {
                                                    <button type="button" id="btnApprove" class="btn btn-primary edit"><span class="fa fa-bookmark"></span> Approve</button>
                                                    <button type="button" id="btnShow" class="btn btn-danger"><span class="fa fa-ban"></span> Reject</button>
                                                }
                                                else if (((Model.Status ?? 0) == PhoenixERPWebApp.Models.StatusTransaction.Approved))
                                                {
                                                    <a href="@Url.Content($"~/Finance/CashAdvance/Settle/?CaId={Model.Id}")" class="btn btn-warning"><i class="fa fa-check"></i> Settlement</a>
                                                }

                                            }

                                        }
                                        else
                                        {
                                            <a href="@Url.Content("~/Finance/CashAdvance")" class="btn btn-danger"><i class="fa fa-times-circle "></i>  Cancel</a>
                                        }

                                    }
                                    else
                                    {
                                        @if (Model.Status != null)
                                        {
                                            @if (Model.Status < PhoenixERPWebApp.Models.StatusTransaction.Approved)
                                            {
                                                <button type="button" id="btnSave" class="btn btn-success edit"><span class="fa fa-save"></span> Save</button>
                                                <button type="button" id="btnSubmit" class="btn btn-primary edit"><span class="fa fa-paper-plane"></span> Submit</button>
                                                <a href="@Url.Content("~/Finance/CashAdvance")" class="btn btn-danger"><i class="fa fa-times-circle "></i>  Cancel</a>
                                            }
                                            else if (((Model.Status ?? 0) == PhoenixERPWebApp.Models.StatusTransaction.Approved))
                                            {
                                                <a href="@Url.Content($"~/Finance/CashAdvance/Settle/?CaId={Model.Id}")" class="btn btn-warning"><i class="fa fa-check"></i> Settlement</a>
                                            }

                                        }
                                        else
                                        {

                                            <button type="button" id="btnSave" class="btn btn-success edit"><span class="fa fa-save"></span> Save</button>
                                            <button type="button" id="btnSubmit" class="btn btn-primary edit"><span class="fa fa-paper-plane"></span> Submit</button>
                                            <a href="@Url.Content("~/Finance/CashAdvance")" class="btn btn-danger"><i class="fa fa-times-circle "></i>  Cancel</a>
                                        }


                                    }

                                </div>
                        </div>
                        <!-- #endregion -->
                        <div class="modal fade" id="modalRemark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Remarks</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            @Html.TextAreaFor(x => x.RemarkRejected, new { style = "height:150px;width:100%" })
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" id="btnReject" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


				</div>
			</div>

			<!--end::Portlet-->
		</div>
		<!--END::NEW-->

	</div>
</div>

<!-- Modal Container -->
<div class="modal-container"></div>
<script>
    function saveCADetail(e) {
        var CashAdvanceId = $("#CashAdvanceId").val();
        var TaskId = $("#TaskId").val();
        var TaskDetail = $("#TaskDetail").val();
        var Qty = $("#Qty").val();
        var UnitPrice = $("#UnitPrice").val();
        var Amount = $("#Qty").val() * $("#UnitPrice").val();

        e.model.set("CashAdvanceId", CashAdvanceId);
        e.model.set("TaskId", TaskId);
        e.model.set("TaskDetail", TaskDetail);
        e.model.set("Qty", Qty);
        e.model.set("UnitPrice", UnitPrice);
        e.model.set("Amount", Amount);

    }
    $(document).ready(function () {
       
        var detailCAGrid = $("#DetailGrid").data("kendoGrid");
        detailCAGrid.dataSource.read();
		$('#btnSubmit').click(function () {
			detailCAGrid.saveRow();

			var dataList = {
				CashAdvanceDetails: detailCAGrid.dataSource.data()
			}
			callAction({ formId: "form-ca-detail", title: "submit", type: "POST", url: '@Url.Action("submit", "CashAdvance")', objects: dataList });
		});

		$('#btnSave').click(function () {
			callAction({ formId: "form-ca-detail", title: "save", type: "POST", url: '@Url.Action("save", "CashAdvance")' });
		});

        $('#btnApprove').click(function () {
            callAction({ formId: "form-ca-detail", title: "Approve", type: "POST", url: '@Url.Action("Approve", "CashAdvance")' });
        });

        
         $('#btnShow').click(function () {
            $("#RemarkRejected").attr("required", "required");
            $('#modalRemark').modal('show');
        });

        $('#btnReject').click(function () {
            callAction({ formId: "form-ca-detail", title: "Reject", type: "POST", url: '@Url.Action("Reject", "CashAdvance")'});
        });

		@*if ('@string.IsNullOrEmpty(Model.Id)' === 'True') {
			RetrieveDataFromSession();
		} else {*@
			
		//}

		
	});

	function RetrieveDataFromSession() {
		try {
			var currentSessionData = JSON.parse(sessionStorage.getItem('cadetail'));
			sessionStorage.removeItem('cadetail');

			//if (!currentSessionData) {
			//	//debug
			//	currentSessionData = JSON.parse('{"content":{"id":"","is_project_cost":true,"ca_number":"","ca_date":"2019 / 07 / 24","revision":"0","requested_on":"2019 / 07 / 24","requested_by":"189f3ca3 - 83b0 - 41aa - 8af6 - 9c0a346d002c","business_unit_id":"0c540a1a - eb30 - 42b4 - b326 - 3e3ab1b9dc1a","legal_entity_id":"37233a65 - 4dec - 4888 - 989d - 7bead019c991","client_name":"","notes":"","payee_account_number":"","payee_account_name":"","payee_bank_branch":"","ca_period_from":"","ca_period_to":"","cashAdvanceDetails":[{"id":"","amount":1,"quantity":"1","unit_price":80000},{"id":"","amount":2,"quantity":"1","unit_price":100000},{"id":"","amount":1,"quantity":"1","unit_price":120000}]}}');
			//}

			if (currentSessionData.content) {
				if (currentSessionData.content.cashAdvanceDetails) {
					var detailCAGrid = $("#DetailGrid").data("kendoGrid");
					var total = detailCAGrid.dataSource.data().length;
					currentSessionData.content.cashAdvanceDetails.forEach((caDetail, index) => {
						var newRow = {
							Id: caDetail.id,
							TaskId: caDetail.task_id || "",
							TaskDetail: caDetail.task_detail || "",
							Qty: caDetail.quantity || 0,
							UnitPrice: caDetail.unit_price || 0,
							Amount: caDetail.amount,
						}
						detailCAGrid.dataSource.insert(total + index, newRow);
					})
				}
			}

		} catch (ex) {

		}
	}

	function onChange(arg, b, c) {
		if (arg && arg.items && arg.items[0]) {
			if (arg.action === "itemchange") {
				if (arg.field === "UnitPrice" || arg.field === "Qty") {

					$.each(arg.items, function (index, value) {
						value.set("Amount", value.Qty * value.UnitPrice)
					});
				}
			} else if (arg.action === "add") {
				arg.items[0].Id = Date.now().toString(16);
				arg.items[0].CashAdvanceId = "0";
				arg.items[0].TaskId = "0";
			}
		}
		
	}

	function onSave(e) {
		debugger;
		this.dataSource.getByUid(e.model.uid).set("Amount", e.model.UnitPrice * e.values.Qty); 
	}

	function SumAmount(data) {
		var result = data.Qty * data.UnitPrice;
		return result;
	}

	function DetailCA_DataBound(arg) {
		
	}

    function Department_DataBound(e) {
        
    }

    function Division_DataBound(e) {
        
	}

	function errorHandler(e) {
		if (e.errors) {
			debugger;
			var message = "Errors:\n";
			$.each(e.errors, function (key, value) {
				if ('errors' in value) {
					$.each(value.errors, function () {
						message += this + "\n";
					});
				}
			});
			alert(message);
		}
	}

   
</script>