﻿
@{
    ViewData["Title"] = "Cash Advance Sattlement";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Cash Advance Settlement</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/CashAdvanceSattlement")" class="m-nav__link">
                        <span class="m-nav__link-text">Cash Advance Sattlement</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                @*<a asp-action="Detail" asp-controller="CashAdvance" asp-area="Finance" class="m-btn btn btn-primary btn-sm m-btn--sm" title="Add New Record"><i class="la la-plus"></i></a>*@
                                @*<button id="btn-delete" type="button" class="m-btn btn btn-danger btn-sm m-btn--sm" title="Delete Selection"><i class="la la-trash"></i></button>*@
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="col-lg-6">
                            @(Html.Kendo().ComboBox()
                                  .Name("Filter-LegalEntity")
                                  .DataTextField("Text")
                                  .DataValueField("Value")
                                  .Filter(FilterType.Contains)
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetLegalEntity", "Dropdown");
                                      });
                                  })
                                  .Placeholder("Select Legal Entity...")
                                  .Events(e =>
                                  {
                                      e.Change("onSelectFilter");
                                  })
                                  .HtmlAttributes(new { style = "width:100%;" })
                            )
                        </div>
                        <div class="col-lg-6">
                            @(Html.Kendo().ComboBox()
                                  .Name("Filter-Main-Service")
                                  .DataTextField("Text")
                                  .DataValueField("Value")

                                  .Placeholder($"Choose Main Service Category")
                                      .HtmlAttributes(new { style = "width:100%;" })
                                  .Filter(FilterType.Contains)
                                  .DataSource(source => source
                                      .Custom()
                                      .Transport(transport => transport
                                      .Read(read =>
                                      {
                                          read.Action("GetDDLMainserviceCategory", "Dropdown", new { area = "Pm" });
                                      }))
                                      .ServerFiltering(true)
                                  )
                                  .Events(e =>
                                      {
                                          e.Change("onSelectFilter");
                                      })
                            )
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.CashAdvanceSattlement>()
                                  .Name("grid")
                                  .Columns(columns =>
                                  {
                                      //columns.Bound("").ClientTemplateId("btnAction-template").Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                      columns.Bound("").Title("#").Width(35).Filterable(false).HtmlAttributes(new { style = "text-align:center;", @class = "row-number" }).HeaderHtmlAttributes(new { style = "text-align:center;" });
                                      columns.Bound(p => p.Id).Width(200).Hidden();
                                      columns.Bound(p => p.CaNumber).Width(150).ClientTemplateId("code-template");//columns.Bound("").ClientTemplate("#= LinktoInv(data) #").Title("CaNumber").Width(200);
                                      columns.Bound(p => p.CashAdvanceId).Hidden();
                                      columns.Bound(p => p.CaPeriodTo).Title("Due Date").Format("{0:dd  MMM  yyyy}").Width(150);
                                      columns.Bound(p => p.JobName).Width(200).Hidden();
                                      columns.Bound(p => p.JobId).Width(160).ClientTemplateId("jobid-template").HeaderHtmlAttributes(new { @style = "white-space: normal" }).Title("Job ID-Name");
                                      //columns.Bound(p => p.ClientName).Width(200);
                                      //columns.Bound(p => p.StatusDesc).Width(200);
                                      columns.Bound("").ClientTemplate("#= GetStatusButton(data) #").Title("Status").Width(150);
                                      columns.Bound(p => p.RequestEmployeeName).Title("Division").Width(200);
                                      columns.Bound(p => p.BusinessUnitName).Title("Business Unit").Width(200);
                                      columns.Bound(p => p.LegalEntityName).Title("Legal Entity").Width(200);
                                      columns.Bound(p => p.MainServiceVategoryName).Title("Main Service Category").Width(200);
                                  })
                                  .Pageable(pageable => pageable
                                      .Refresh(true)
                                      .PageSizes(true)
                                      .ButtonCount(5))
                                  .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                  .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                      .Extra(false)
                                      .Operators(operators => operators
                                      .ForString(str => str.Clear()
                                          .Contains("Contains")
                                          .StartsWith("Start sWith")
                                          .EndsWith("End sWith")
                                      )))
                                  .Scrollable(s => s.Enabled(true).Height("auto"))
                                  .Resizable(rsz => rsz.Columns(true))
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .PageSize(10)
                                      .Events(events => events.Error("errorHandler"))
                                      .Model(model =>
                                      {
                                          model.Id(p => p.Id);
                                      })
                                      .Read(read => read.Action("Read", "CashAdvanceSattlement"))
                                  )
                                  .Events(x => x.DataBound("dataBoundEvent"))
                    )
                </div>
            </div>
        </div>
    </div>
</div>
<script id="jobid-template" type="text/x-kendo-template">
    <span'>#=JobId# - #=JobName# </span'>
</script>
<script id="code-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='ApprovalGridRow(this)' title='Edit' class='edit'><span style='color:blue; text-decoration:underline;'>#=CaNumber#</span></a>
</script>
<script id="btnAction-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'><span style='color:green'><i class='fa fa-edit'></i></span></a>
    #if(Status==@PhoenixERPWebApp.Models.StatusTransaction.Draft){ #
    <a href='javascript: void(0);' onclick='deleteGridRow(this)' title='Delete' class='delete'><span style='color:maroon'><i class='fa fa-trash-alt'></i></span></a>
    #}#
</script>
<script id="employee-template" type="text/x-kendo-template">

</script>
<script>
     function GetStatusButton(data) {
          var statusName = "";
          var style = "";

         if (data.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Open) {

            statusName = '@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Open)';
            style = 'm-badge--info';

         } else if (data.CaStatusId ==  @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.WaitingApproval) {

            statusName = '@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.WaitingApproval)';
            style = 'm-badge--warning';

         } else if (data.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.SattlementCheck) {

            statusName = '@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.SattlementCheck)';
            style = 'm-badge--focus';

         } else if (data.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Approved) {

            statusName = '@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Approved)';
            style = 'm-badge--success';

         } else if (data.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Reject) {

            statusName = '@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Reject)';
            style = 'm-badge--danger';

         } else if (data.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Complete) {

            statusName = '@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Complete)';
            style = 'm-badge--success';

        } else {

            statusName = '@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Open)';
            style = 'm-badge--info';
        }
          return "<center><a href='javascript: void(0);' onclick='#' class='m-badge " + style + " m-badge--wide'>" + statusName + "</a></center>";
    }

    function LinktoInv(data) {
        return "<center><a href='javascript: void(0);' onclick='ApprovalGridRow(this)' title='Edit' class='edit'>" + data.CaNumber + "</a></center>";
    }

    function editGridRow(e) {
        var item = dataItem(e);
        if (item.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.SattlementCheck || item.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Complete) {

             window.location.href = '@Url.Action("Settle", "CashAdvance")/?CaId=' + item.Id;
        } else {
             window.location.href = '@Url.Action("Detail", "CashAdvance")/?Id=' + item.Id;
        }
    }

    function ApprovalGridRow(e) {
        var item = dataItem(e);
        if (item.CaStatusId == @PhoenixERPWebApp.Models.Enum.CashAdvanceStatus.Open)
            window.location.href = '@Url.Action("Settle", "CashAdvanceSattlement")/?Id=' + item.Id + '&isApprove=false';
        else
            window.location.href = '@Url.Action("Settle", "CashAdvanceSattlement")/?Id=' + item.Id + '&isApprove=true';
    }
    
    function deleteGridRow(e) {
        deleteRow(e, '@Url.Action("Delete", "CashAdvance")');
	}
	function onSelectFilter() {
		 mApp.block("#m_blockui_list", {
            overlayColor: "#000000",
            type: "loader",
            state: "primary",
            message: "Processing..."
        });
		var svc = $("#Filter-Main-Service").data("kendoComboBox").value();
		var legal = $("#Filter-LegalEntity").data("kendoComboBox").value();

       var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    type: "json",
                    url: '@Url.Action("Read", "CashAdvance")',
					data: {
						legalEntity: legal,
						mainServiceCategory: svc
                    }
                }
            }, schema: {
                data: (response) => {
                    response.slice = () => JSON.parse(JSON.stringify(response.Data));
                    return response.Data;
                },
                total: (response) => {
                    return response.Total;
                }
            },
            pageSize: 10
        });
        var gridv = $('#grid').data('kendoGrid');
        gridv.setDataSource(dataSource);
        mApp.unblock("#m_blockui_list");
	}
    
</script>

