﻿<input hidden id="detail-id" value="@ViewBag.RecordID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Team Detail</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Master Data</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Core/Team")" class="m-nav__link">
                        <span class="m-nav__link-text">Team</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-4 col-md-12">
            <div class="m-portlet">
                <form id="form-team" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                    <input hidden name="id" value="@ViewBag.RecordID" />
                    <div class="m-portlet__body">
                        <div class="m-form__group">
                            <div class="row">
                                <div class="col-lg-12 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Team Name :</label>
                                        <input id="team_name" name="team_name" type="text" class="form-control form-control-sm m-input" placeholder="Enter team">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Assign Team Leader :</label>
                                        <select id="team_leader" name="team_leader" class="form-control form-control-sm m-input m-input--square"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="button" id="btn-save" class="btn btn-sm btn-primary">Save</button>
                                    <a href="@Url.Content("~/Core/Team")" class="btn btn-sm btn-secondary">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-8 col-md-12">
            <div class="m-portlet m-portlet--tabs m-portlet--head-solid-bg m-portlet--head-sm">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Setup
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line  m-tabs-line--right" role="tablist" id="tabs-setup">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_member" role="tab">
                                    Member
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_role_access" role="tab">
                                    Role Access
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_tabs_member" role="tabpanel">
                            <div class="row" id="loadteammember" data-url="@Url.Content("~/core/TeamMember/AssignTeamMember")">
                                <div class="col-xl-12 no-record collapse">
                                    <div class="alert m-alert--default" role="alert">
                                        <strong>Cannot Assign Member</strong> Please save your activity.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_tabs_role_access" role="tabpanel">
                            <div class="row">
                                <div class="col-xl-12" id="loadroleaccess">
                                    <div class="alert m-alert--default" role="alert">
                                        <strong>Cannot Role Access</strong> Please save your activity.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/Team.Detail.js" asp-append-version="true"></script>

}