@{
    ViewData["Title"] = "EmployeeAbsence";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="EmployeeAbsenceFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="date_absence">date_absence</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="date_absence" id="date_absence" required  type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id" id="employee_basic_info_id" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="note">note</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="note" id="note"  maxlength="100" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="time_back">time_back</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="time_back" id="time_back" required  type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="time_come">time_come</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="time_come" id="time_come" required  type="number">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/EmployeeAbsence" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/EmployeeAbsence.update.js"></script>
}
