@{
    ViewData["Title"] = "Holiday";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="HolidayFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="date">date</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="date" id="date" required  type="date">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="name">name</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="name" id="name" required maxlength="100" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/Holiday" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/Holiday.create.js"></script>
}
