@{
    ViewBag.ModalTitle = "Holiday";
    ViewBag.ModalId = "HolidayModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="HolidayFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="date">date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_date" id="search_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="name">name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_name" id="search_name"  maxlength="100" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnHoliday.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnHoliday.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>