﻿@model PhoenixERPWebApp.Models.Finance.PettyCash
@{
    ViewData["Title"] = "Detail Petty Cash";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<style>
    tr:nth-child(even) {
        background: #ebebe0
    }

    tr:nth-child(odd) {
        background: #FFF
    }

    td {
        white-space: nowrap;
    }

    .account {
        font-weight: bold;
        text-decoration: underline;
    }

    .percent_width {
        width: 90px;
    }

    td {
        padding: 4px !important;
    }

    input {
        height: 30px !important;
    }

    .file {
        position: relative;
        overflow: hidden;
    }

    .tombol {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;
    }
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Cash Advance</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/PettyCash")" class="m-nav__link">
                        <span class="m-nav__link-text">PettyCash</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <!--NEW -->
        <div class="col-xl-12 col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--last m-portlet--head-sm m-portlet--responsive-mobile" id="main_portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    Petty Cash &nbsp;
                                    <span id="status"></span>
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>
                        </div>
                    </div>
                </div>

                <input hidden name="approval_id" />

                <div class="m-portlet__body">
                    <div class="m-accordion m-accordion--bordered m-accordion--solid" id="invoice_detail" role="tablist">
                        <div class="m-accordion__item">
                            <div class="m-accordion__item-head" role="tab" id="invoice_detail_head" data-toggle="collapse" href="#invoice_detail_body" aria-expanded="true">
                                <span class="m-accordion__item-icon"><i class="fa flaticon-interface-3"></i></span>
                                <span class="m-accordion__item-title">Invoice Detail</span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse show" id="invoice_detail_body" role="tabpanel" aria-labelledby="invoice_detail_head" data-parent="#invoice_detail" style="">
                                <div class="m-accordion__item-content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form id="petty_form" class="m-form">
                                                <!--#region header info-->
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group row">
                                                            <label asp-for="RefNumber" class="col-lg-4 form-label"></label>
                                                            <div class="col-lg-8">
                                                                @Html.Kendo().TextBoxFor(m => m.RefNumber).HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @class = "m-input"
                                                                })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group row">
                                                            <label asp-for="RequestorName" class="col-lg-3 form-label"></label>
                                                            <div class="col-lg-9">
                                                                @Html.Kendo().TextBoxFor(m => m.RefNumber).HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @redonly = "readonly",
                                                                    @class = "m-input"
                                                                })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group row">
                                                            <label asp-for="Id" class="col-lg-4 form-label"></label>
                                                            <div class="col-lg-8">
                                                                @Html.Kendo().TextBoxFor(m => m.Id).HtmlAttributes(new
                                                                {
                                                                   style = "width:100%",
                                                                   @redonly = "readonly",
                                                                   @class = "m-input"
                                                                })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group row">
                                                            <label asp-for="LegalEntityId" class="col-lg-3 form-label"></label>
                                                            <div class="col-lg-9">
                                                                @(Html.Kendo().DropDownListFor(i => i.LegalEntityId)
                                                                .DataTextField("Text")
                                                                .DataValueField("Value")
                                                                .Events(e => e.Change("OnChange"))
                                                                .OptionLabel("All")
                                                                .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                                .DataSource(source => source
                                                                .Custom()
                                                                .Transport(transport => transport
                                                                .Read(read =>
                                                                {
                                                                    read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
                                                                }))
                                                                .ServerFiltering(false)))
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group row">
                                                            <label asp-for="BankAcctName" class="col-lg-4 form-label"></label>
                                                            <div class="col-lg-8">
                                                                @Html.Kendo().TextBoxFor(m => m.BankAcctName).HtmlAttributes(new
                                                           {
                                                               style = "width:100%",
                                                               @class = "m-input"
                                                           }).Value(Model.BankAcctName + "-" + Model.BankAcctName)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group row">
                                                            <input hidden asp-for="BusinessUnitId" />
                                                            <label asp-for="BusinessUnit" class="col-lg-3 form-label"></label>
                                                            <div class="col-lg-9">
                                                                @Html.Kendo().TextBoxFor(m => m.BusinessUnit).HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @redonly = "readonly",
                                                                    @class = "m-input"
                                                                })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <div class="form-group row">
                                                                <label class="col-md-1">Start Date</label>
                                                                <div class="col-md-5">
                                                                    @Html.Kendo().DatePickerFor(x=>x.StartDate).HtmlAttributes(new {
                                                                        @class = "m-input ", style = "width:100%"
                                                                    })
                                                                </div>
                                                                <label class="col-md-1">End Date</label>
                                                                <div class="col-md-5">
                                                                    @Html.Kendo().DatePickerFor(x => x.EndDate).HtmlAttributes(new {
                                                                   @class = "m-input ", style = "width:100%"
                                                               })
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group row">
                                                            <input hidden asp-for="AffiliationId" />
                                                            <label asp-for="Affiliation" class="col-lg-3 form-label"></label>
                                                            <div class="col-lg-9">
                                                                @Html.Kendo().TextBoxFor(m => m.Affiliation).HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @redonly = "readonly",
                                                                    @class = "m-input"
                                                                })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--#end region header info-->

                                                <br />

                                                <!--#region grid-->
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.PettyCashDetail>()
                                                                .Name("grid")
                                                                .ToolBar(x =>
                                                                {
                                                                    if ((Model.IsDraft ?? true) == true)
                                                                    {
                                                                        x.Create();
                                                                    }

                                                                })
                                                                .Columns(columns =>
                                                                {
                                                                    if ((Model.IsDraft ?? true) == true)
                                                                    {
                                                                        columns.Command(command =>
                                                                        {
                                                                            command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                                            command.Destroy().Text(" ");
                                                                        }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                                    }
                                                                    columns.Bound(p => p.TransactionDate).EditorTemplateName("Date").Width(150);
                                                                    columns.Bound(p => p.TransactionDetail).Width(200);
                                                                    columns.Bound(p => p.Debit).Width(160);
                                                                    columns.Bound(p => p.Credit).Width(160);
                                                                    //columns.Bound(p => p.File).EditorTemplateName("Finance/PettyCash/Upload").Width(250);
                                                                    columns.Bound(p => p.JobId).EditorTemplateName("Finance/PettyCash/DdlJobByPCEApproved").ClientTemplate("#=JobName#").Width(200);
                                                                    columns.Bound(p => p.PceId).EditorTemplateName("StringReadOnly").Width(250);
                                                                    columns.Bound(p => p.PcaId).EditorTemplateName("StringReadOnly").Width(250);
                                                                })
                                                                .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                                //.Scrollable(s => s.Enabled(true).Height("auto"))
                                                                .Resizable(rsz => rsz.Columns(true))
                                                                .NoRecords()
                                                                .Editable(x => x.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(true))
                                                                .DataSource(dataSource => dataSource
                                                                    .Ajax()
                                                                    .Events(events => events.Error("errorHandler"))
                                                                    .Model(model => { model.Id(p => p.Id); model.Field(f => f.Debit).Editable(false); })
                                                                    .Read(read => read.Action("getpettycashdetail", "pettycash").Data("grid_params"))
                                                                    .Create(create => create.Action("createdetail", "pettycash"))
                                                                    .Update(update => update.Action("updatedetail", "pettycash"))
                                                                    .Destroy(destroy => destroy.Action("destroydetail", "pettycash"))
                                                                )
                                                                .Events(evt => evt.Save("save_event"))
                                                            )
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--#end region grid-->

                                                <hr />
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="pull-right">
                                                            @if ((Model.IsDraft ?? true) == true)
                                                            {
                                                                <button type="button" id="btnSave" class="btn btn-success edit"><span class="fa fa-save"></span> Save</button>
                                                                <button type="button" id="btnSubmit" class="btn btn-primary edit"><span class="fa fa-paper-plane"></span> Submit</button>
                                                                @if (Model.Id != null)
                                                                {
                                                                    <button type="button" id="btnDelete" class="btn btn-danger delete"><span class="fa fa-trash-alt"></span> Delete</button>
                                                                }
                                                            }
                                                            <a asp-action="index" asp-controller="pettycash" asp-area="finance" class="fakelink btn btn-secondary">Close</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!--end::Portlet-->
        </div>
        <!--END::NEW-->

    </div>
</div>
