﻿@{
    ViewData["Title"] = "Petty Cash";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
@model PhoenixERPWebApp.Models.Finance.PettyCash

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Petty Cash Settlement List</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Petty Cash Settlement</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="pettycash" asp-area="Finance" class="m-nav__link"><span class="m-nav__link-text">Petty Cash</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a asp-action="addedit" asp-controller="pettycash" asp-area="hrisnew" class="m-btn btn btn-primary btn-sm m-btn--sm" title="Add New Record"><i class="la la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <div class="m-form__group">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label asp-for="Id"></label><span class="req">*</span>
                                </div>
                                <div class="col-lg-8">
                                    @Html.Kendo().TextBoxFor(m => m.Id).HtmlAttributes(new
                                    {
                                        style = "width:100%",
                                        @readonly = "readonly",
                                        @class = "m-input"
                                    })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label asp-for="LegalEntity"></label><span class="req">*</span>
                                </div>
                                <div class="col-lg-8">
                                    @(Html.Kendo().DropDownListFor(m => m.LegalEntityId)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                //.Events(e => e.Change("OnChange"))
                                                .OptionLabel("All")
                                                .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                .DataSource(source => source
                                                    .Custom()
                                                    .Transport(transport => transport
                                                    .Read(read =>
                                                    {
                                                        read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
                                                    }))
                                                    .ServerFiltering(false)
                                                ))
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label></label><span class="req">*</span>
                                </div>
                                <div class="col-lg-8">
                                    <div class="col-lg-4">
                                        <label asp-for="BusinessUnit"></label><span class="req">*</span>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownListFor(i => i.BusinessUnitId)
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    //.Events(e => e.Change("OnChange"))
                                                    .OptionLabel("All")
                                                    .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                    .DataSource(source => source
                                                        .Custom()
                                                        .Transport(transport => transport
                                                        .Read(read =>
                                                        {
                                                            read.Action("GetDivisionFinance", "Dropdown", new { area = "Finance" });
                                                        }))
                                                        .ServerFiltering(false)
                                                    ))
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label asp-for="TransferBankAccname"></label><span class="req">*</span>
                                </div>
                                <div class="col-lg-8">
                                    @(Html.Kendo().DropDownListFor(i => i.TransferBankAccno)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                //.Events(e => e.Change("OnChange"))
                                                .OptionLabel("All")
                                                .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                .DataSource(source => source
                                                    .Custom()
                                                    .Transport(transport => transport
                                                    .Read(read =>
                                                    {
                                                        read.Action("GetDDLBank", "Dropdown", new { area = "Finance" });
                                                    }))
                                                    .ServerFiltering(false)
                                                ))
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label asp-for="Status"></label><span class="req">*</span>
                                </div>
                                <div class="col-lg-8">
                                    @(Html.Kendo().DropDownListFor(i => i.Status)
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        //.Events(e => e.Change("change"))
                                        .BindTo(new List<SelectListItem>()
                                        {
                                                new SelectListItem() { Text = PhoenixERPWebApp.Models.PettyCashStatus.Open, Value = PhoenixERPWebApp.Models.PettyCashStatus.Open },
                                                new SelectListItem() { Text = PhoenixERPWebApp.Models.PettyCashStatus.TAP, Value =PhoenixERPWebApp.Models.PettyCashStatus.TAP },
                                                new SelectListItem() { Text = PhoenixERPWebApp.Models.PettyCashStatus.Completed, Value =PhoenixERPWebApp.Models.PettyCashStatus.Completed }
                                        })
                                        .OptionLabel("Select Operator...")
                                        .HtmlAttributes(new { style = "width: 100%", @class = "form-control" })
                                    )
                                    @*@(Html.Kendo().DropDownListFor(i => i.Status)
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        //.Events(e => e.Change("OnChange"))
                                        .OptionLabel("All Status")
                                        .DataSource(source => source
                                            .Custom()
                                            .Transport(transport => transport
                                            .Read(read =>
                                            {
                                                read.Action("GetInvoiceClientStatus", "Dropdown", new { area = "Finance" });
                                            }))
                                            .ServerFiltering(false)
                                        ))*@
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <label class="col-md-1">Start Date</label>
                                        <div class="col-md-5">
                                            <input id="inStart" style="width: 100%;" class="m-input" />
                                        </div>
                                        <label class="col-md-1">End Date</label>
                                        <div class="col-md-5">
                                            <input id="EndDate" style="width: 100%;" class="m-input" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.PettyCash>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound("").ClientTemplate("#= LinktoDtl(data) #").Title("Ref Number").Width(150);
                            columns.Bound(p => p.RefNumber).Width(200);
                            columns.Bound(p => p.Id).Width(200);
                            columns.Bound("").ClientTemplate("#= BankAccountName # - #= AccountId #").Title("Bank Account").Width(200);
                            columns.Bound(p => p.BusinessUnit).Width(200);
                            columns.Bound(p => p.LegalEntity).Width(200);
                            columns.Bound(p => p.StartDate).Width(200);
                            columns.Bound(p => p.EndDate).Width(200);
                            columns.Bound(p => p.Amount).Width(200);
                            columns.Bound(p => p.Status).Width(200);
                        })
                        .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(true)
                            .ButtonCount(5))
                        .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                        .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                            .Extra(false)
                            .Operators(operators => operators
                            .ForString(str => str.Clear()
                                .Contains("Contains")
                                .StartsWith("Start sWith")
                                .EndsWith("End sWith")
                            )))
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(rsz => rsz.Columns(true))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Events(events => events.Error("errorHandler"))
                            .Model(model => { model.Id(p => p.Id); })
                            .Read(read => read.Action("ReadIndex", "PettyCash"))
                        )
                        .Events(e => e.DataBound("dataBoundEvent"))
                    )
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function LinktoDtl(data) {
        return "<center><a href='javascript: void(0);' onclick='detailRow(this)' title='Detail' class='edit'>" + data.RefNumber + "</a></center>";
    }

    function detailRow(e) {
        var item = dataItem(e);
        var serviceType = item.ServiceType;
        window.location.href = '@Url.Action("Detail", "PettyCash")?Id=' + item.Id + '&rn=' + item.RefNumber;
    }
</script>