﻿<input hidden id="detail-id" value="@ViewBag.RecordID" />

<style>
    tr:nth-child(even) {background: #ebebe0}
tr:nth-child(odd) {background: #FFF}
td {
  white-space: nowrap;
}
.account { font-weight: bold;text-decoration: underline; }
.percent_width{ width:90px;}

td {
  padding: 4px !important;
}
input{height: 30px !important;}

.file {
  position: relative;
  overflow: hidden;
}
.tombol {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}


</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Petty Cash Settlement</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/PettyCashs")" class="m-nav__link">
                        <span class="m-nav__link-text">Petty Cash Settlement</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <!--NEW -->
        <div class="col-xl-12 col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--last m-portlet--head-sm m-portlet--responsive-mobile" id="main_portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    Petty Cash Settlement &nbsp;
                                    <span id="status"></span>
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                          
                         
                            <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>

                        </div>
                    </div>
                </div>


                <input hidden name="approval_id" />

                <div class="m-portlet__body">
                    <!--begin::Form-->
                    <form id="form-BudgetManagement" class="m-form">
                        <input hidden name="id" value="@ViewBag.RecordID" />
                    <!-- Start: Header -->
                      <div class="row">
                                            <div class="col-md-6">

                                                    <div class="form-group">
                                                            <label class="control-label">Settlement No</label>
                                                            <input type="text" id="firstName" class="form-control" placeholder="Number" value="P2829398838" disabled >
            
                                                        </div>
                                                </div>
                                            <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label class="control-label">Settlement Date</label>
                                                        <div class="m-input-icon m-input-icon--right">
                                                            <input type="text" class="form-control date-picker m-input"
                                                                   placeholder="Date Create">
                                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span>
                                                                    <i class="fa fa-calendar-alt"></i></span></span>
                                                        </div>
        
                                                    </div>
                                                </div>
                                               
                                                  
                                     </div>
                                     <div class="row">
                                            <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label class="control-label">Beginning Date</label>
                                                        <div class="m-input-icon m-input-icon--right">
                                                            <input type="text" class="form-control date-picker m-input"
                                                                   placeholder="Date Create">
                                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span>
                                                                    <i class="fa fa-calendar-alt"></i></span></span>
                                                        </div>
        
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label class="control-label">Ending Date</label>
                                                            <div class="m-input-icon m-input-icon--right">
                                                                <input type="text" class="form-control date-picker m-input"
                                                                       placeholder="Date Create">
                                                                <span class="m-input-icon__icon m-input-icon__icon--right"><span>
                                                                        <i class="fa fa-calendar-alt"></i></span></span>
                                                            </div>
            
                                                        </div>
                                                    </div>
                                                  
                                     </div>
                                     <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Cash Holder</label>
                                                <select class="form-control selectpicker">
                                                    <option>Secretary</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Amount</label>
                                                    
                                                        <select class="form-control selectpicker">
                                                            <option>IDR</option>
                                                            <option>USD</option>
                                                        </select>
                                                   
            
                                                </div>
                                            </div>
                                         <div class="col-md-4">
                                                <div class="form-group">
                                                        <label class="control-label"><br></label>
                                                   <input type="text" id="firstName" class="form-control" placeholder="Number" value="4.000.000,00" >
                                                    
            
                                                </div>
                                            </div>
                                     </div>
                                      <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Status</label>
                                                    <select class="form-control selectpicker">
                                                        <option>Settle</option>
                                                        <option>Open</option>
                                                    </select>
                                                </div>
                                            </div>
                                         
                                             <div class="col-md-6">
                                                    <div class="form-group">
                                                            <label class="control-label">Exchange</label>
                                                       <input type="text" id="firstName" class="form-control" placeholder="Rate" value="" >
                                                        
                
                                                    </div>
                                                </div>
                                    </div>
                                   <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Division</label>
                                                    <input type="text" id="firstName" class="form-control" placeholder="" disabled value="" >
                                                </div>
                                            </div>
                                         
                                             <div class="col-md-6">
                                                    <div class="form-group">
                                                            <label class="control-label">Account Payable</label>
                                                       <input type="text" id="firstName" class="form-control" placeholder="AP No" value="AP.233132132" >
                                                        
                
                                                    </div>
                                                </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Remarks</label>
                                                    <textarea class="form-control"></textarea>
                                                </div>
                                            </div>
                                         
                                    </div>

                                     <br>
                                     
                                     <div class="row">
                                        <div class="col-xs-12" >
                                            <div class="form-group ">

                                                <table class="table table-responsive table m-table m-table--head-bg-success display" style="display: inline-block;width: 100%; margin-bottom: 0; " id="">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">No</th>
                                    <th style="text-align: center;">Tanggal</th>
                                    <th style="text-align: center; " nowrap>Chart Of Account</th>
                                    <th style="text-align: center; ">Nota</th>
                                    <th style="text-align: center; ">Job Name</th>
                                    <th style="text-align: center;">Reference</th>
                                    <th style="text-align: center;">Transaction</th>
                                    <th style="text-align: center;">Debit</th>
                                    <th style="text-align: center;">Credit</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                
                               <tr>
                                   <td>1</td>
                                   <td nowrap>3 January 2017</td>
                                   <td nowrap> 
                                       <select class="form-control selectpicker">
                                            <option>Tol/Gasoline/Parking</option>
                                            <option>Telephone And Other Communication</option>
                                            <option>Travel Expense</option>
                                            <option>Fotocopy</option>
                                            <option>Courier & Postage</option>
                                            <option>Water & Electricity</option>
                                            <option>Account Payable Trade</option>
                                        </select>
                                   </td>
                                   <td>
                                        <div class="file btn btn-primary">
                                                <i class="fa fa-paperclip"></i> Attach File
                                                <input type="file" class="tombol" name="file"/>
                                        </div>
                                   </td>
                                   <td>BB Dancow</td>
                                    <td></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control numeric"></td>
                                    <td><input type="text" class="form-control numeric"></td>
                               </tr>
                               <tr>
                                    <td>2</td>
                                    <td>3 January 2017</td>
                                    <td>
                                        <select class="form-control selectpicker">
                                             <option>Tol/Gasoline/Parking</option>
                                             <option>Telephone And Other Communication</option>
                                             <option>Travel Expense</option>
                                             <option>Fotocopy</option>
                                             <option>Courier & Postage</option>
                                             <option>Water & Electricity</option>
                                             <option>Account Payable Trade</option>
                                         </select>
                                    </td>
                                    <td>
                                         <div class="file btn btn-primary">
                                                 <i class="fa fa-paperclip"></i> Attach File
                                                 <input type="file" class="tombol" name="file"/>
                                         </div>
                                    </td>
                                    <td>BB Dancow</td>
                                    <td></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control numeric"></td>
                                    <td><input type="text" class="form-control numeric"></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3 January 2017</td>
                                    <td>
                                        <select class="form-control selectpicker">
                                             <option>Tol/Gasoline/Parking</option>
                                             <option>Telephone And Other Communication</option>
                                             <option>Travel Expense</option>
                                             <option>Fotocopy</option>
                                             <option>Courier & Postage</option>
                                             <option>Water & Electricity</option>
                                             <option>Account Payable Trade</option>
                                         </select>
                                    </td>
                                    <td>
                                         <div class="file btn btn-primary">
                                                 <i class="fa fa-paperclip"></i> Attach File
                                                 <input type="file" class="tombol" name="file"/>
                                         </div>
                                    </td>
                                    <td>BB Dancow</td>
                                    <td></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control numeric"></td>
                                    <td><input type="text" class="form-control numeric"></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>3 January 2017</td>
                                    <td>
                                        <select class="form-control selectpicker">
                                             <option>Tol/Gasoline/Parking</option>
                                             <option>Telephone And Other Communication</option>
                                             <option>Travel Expense</option>
                                             <option>Fotocopy</option>
                                             <option>Courier & Postage</option>
                                             <option>Water & Electricity</option>
                                             <option>Account Payable Trade</option>
                                         </select>
                                    </td>
                                    <td>
                                         <div class="file btn btn-primary">
                                                 <i class="fa fa-paperclip"></i> Attach File
                                                 <input type="file" class="tombol" name="file"/>
                                         </div>
                                    </td>
                                    <td>BB Dancow</td>
                                    <td></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control numeric"></td>
                                    <td><input type="text" class="form-control numeric"></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>3 January 2017</td>
                                    <td>
                                        <select class="form-control selectpicker">
                                             <option>Tol/Gasoline/Parking</option>
                                             <option>Telephone And Other Communication</option>
                                             <option>Travel Expense</option>
                                             <option>Fotocopy</option>
                                             <option>Courier & Postage</option>
                                             <option>Water & Electricity</option>
                                             <option>Account Payable Trade</option>
                                         </select>
                                    </td>
                                    <td>
                                         <div class="file btn btn-primary">
                                                 <i class="fa fa-paperclip"></i> Attach File
                                                 <input type="file" class="tombol" name="file"/>
                                         </div>
                                    </td>
                                    <td>BB Dancow</td>
                                    <td></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control numeric"></td>
                                    <td><input type="text" class="form-control numeric"></td>
                                </tr>
                                 <tr>
                                    <td>6</td>
                                    <td>3 January 2017</td>
                                    <td>
                                        <select class="form-control selectpicker">
                                             <option>Tol/Gasoline/Parking</option>
                                             <option>Telephone And Other Communication</option>
                                             <option>Travel Expense</option>
                                             <option>Fotocopy</option>
                                             <option>Courier & Postage</option>
                                             <option>Water & Electricity</option>
                                             <option>Account Payable Trade</option>
                                         </select>
                                    </td>
                                    <td>
                                         <div class="file btn btn-primary">
                                                 <i class="fa fa-paperclip"></i> Attach File
                                                 <input type="file" class="tombol" name="file"/>
                                         </div>
                                    </td>
                                    <td>BB Dancow</td>
                                    <td></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control numeric"></td>
                                    <td><input type="text" class="form-control numeric"></td>
                                </tr>
                            </tbody>
                        </table>
                                            </div>
                                        </div>
                                    </div>
                                    
<br>
                                
                        <!-- End: Header -->
                     
                        <!-- #region tombol -->
                        <div class="row">
                            <hr>
                            <br><hr>
                            <div class="form-group" style="text-align: right;">
                                     <button type="button" class="btn btn-info"><i class="fa fa-save"></i> Save</button>
                                      <button type="button" class="btn btn-success"><i class="fa fa-location-arrow"></i>  Submit</button>
                                      <button type="button" class="btn btn-danger"><i class="fa fa-times-circle "></i>  Cancel</button>
                                     </div>
                        </div>
                        <!-- #endregion -->
                    </form>
                 

                </div>
            </div>

            <!--end::Portlet-->
        </div>
        <!--END::NEW-->

    </div>
</div>

<!-- Modal Container -->
<div class="modal-container"></div>

@section Scripts{
    <script src="~/demo/demo_12/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="~/vendors/custom/momenjs/moment.min.js"></script>
    <script src="~/vendors/custom/jquery-doublescroll/jquery.doubleScroll.js"></script>
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Finance/Scripts/CashAdvance.Detail.js?@DateTime.Now" asp-append-version="true"></script>
}