﻿@{
    ViewData["Title"] = "Cash Advance Non Project";
}

<input hidden id="detail-id" value="@ViewBag.RecordID" />
<input hidden id="entity_id" value="@ViewBag.EntityID" />
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Cash Advance</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/CashAdvanceNonProject")" class="m-nav__link">
                        <span class="m-nav__link-text">Cash Advance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="m-form__group">
                        <h5>Cash Advance <span style="width: 100px;" id="status"></span></h5>
                        <input hidden name="approval_id" />
                        <form id="form-CashAdvanceNonProject" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input hidden name="id" value="@ViewBag.RecordID" />
                            <input hidden name="is_project_cost" value="false" />

                            <div class="row">

                                <div class="col-lg-4 m-form__group-sub">
                                    <div class="form-group">
                                        <label>CA Number :</label>
                                        <input id="ca_number" name="ca_number" type="text" class="form-control form-control-sm m-input" readonly>
                                    </div>
                                </div>

                                <!-- Begin: CA Date -->
                                <div class="col-lg-4 m-form__group-sub">
                                    <label class="form-control-label">CA Date :</label>
                                    <div class="input-group input-group-sm date">
                                        <input type="text" class="form-control form-control-sm m-input" name="ca_date" readonly="" placeholder="Select Date" id="ca_date">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End: CA Date -->
                                <!-- Begin: Input Revision -->
                                <div class="col-lg-4 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Revision :</label>
                                        <input id="revision" name="revision" type="text" class="form-control form-control-sm m-input" placeholder="Enter Revision Number">
                                    </div>
                                </div>
                                <!-- End: Input Revision -->
                            </div>

                            <!-- Begin: Requester -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Requester</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Requester Data -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <label class="form-control-label">Request Date :</label>
                                                        <div class="input-group input-group-sm date">
                                                            <input type="text" class="form-control form-control-sm m-input" name="requested_on" readonly="" placeholder="Select Date" id="requested_on">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <i class="la la-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End: Requester Date -->
                                                    <!-- Begin: Input Name Of Request -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">Name :</label>
                                                            <select id="employee_id" name="requested_by" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Name Of Request -->
                                                    <!-- Begin: Bussines Unit -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Business Unit :</label>
                                                            <select id="business_unit_id" name="business_unit_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Bussines Unit -->
                                                    <!-- Begin: Legal Entity -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Legal Entity :</label>
                                                            <select id="legal_entity_id" name="legal_entity_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Legal Entity -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Requester -->
                            <!-- Begin: Business Purposes -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Business Purposes</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Input Client Name -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">Client Name :</label>
                                                            <input type="text" id="client_name" name="client_name" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter Client Name">
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Client Name -->
                                                    <!-- Begin: Input Description -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">Description :</label>
                                                            <input type="text" id="notes" name="notes" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter Description">
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Client Name -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Business Purposes -->
                            <!-- Begin: Payee -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Payee</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Input Account Number -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Account Number :</label>
                                                            <input type="text" id="payee_account_number" name="payee_account_number" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter Account Number">
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Account Number -->
                                                    <!-- Begin: Input Account Name -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Account Name :</label>
                                                            <input type="text" id="payee_account_name" name="payee_account_name" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter Account Name">
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Account Number -->
                                                </div>
                                                <div class="row">
                                                    <!-- Begin: Lookup Bank Name -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Bank Name :</label>
                                                            <select id="payee_bank_id" name="payee_bank_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Lookup Bank Name -->
                                                    <!-- Begin: Lookup Bank Branch -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Bank Branch :</label>
                                                            <input type="text" id="payee_bank_branch" name="payee_bank_branch" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter Bank Branch">
                                                        </div>
                                                    </div>
                                                    <!-- End: Lookup Bank Branch -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Payee -->
                            <!-- Begin: Details -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Cash Advance Period</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: CA Period From -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <label class="form-control-label">CA Period From :</label>
                                                        <div class="input-group input-group-sm date">
                                                            <input type="text" class="form-control form-control-sm m-input" name="ca_period_from" readonly="" placeholder="Select Date" id="ca_period_from">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <i class="la la-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End: CA Period From -->
                                                    <!-- Begin: CA Period To -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <label class="form-control-label">CA Period To :</label>
                                                        <div class="input-group input-group-sm date">
                                                            <input type="text" class="form-control form-control-sm m-input" name="ca_period_to" readonly="" placeholder="Select Date" id="ca_period_to">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <i class="la la-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End: CA Period To -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Details -->
                            @*<!-- Begin: Approval -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Approval</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Approval By -->
                                                    <div class="col-lg-12 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Approved By :</label>
                                                            <select id="approval_id" name="approval_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Approval By -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Approval -->*@
                        </form>
                    </div>
                    <div class="form-group m-form__group row m-row--no-padding">

                        

                        <div class="col-lg-12 m-row--no-padding" id="m_blockui_list">
                            <h5>Cash Advance Details</h5>
                            <div id="grid"></div>
                            
                            @*<table id="dgdetail" class="easyui-datagrid" style="width:100%">
                                <thead>
                                </thead>
                            </table>

                            <div id="tb" style="height:auto;display:none">
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" id="btn-append">New</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" id="btn-removeit">Remove</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" id="btn-accept">Accept</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" id="btn-reject">Reject</a>
                            </div>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" id="btn-save" class="btn btn-sm btn-success">Save to Draft</button>
                            <button type="button" id="btn-approval" class="btn btn-sm btn-warning" disabled="disabled">Setup Approval</button>
                            <button type="button" id="btn-remove_approval" class="btn btn-sm btn-danger" disabled="disabled">Remove Approval</button>
                            <button type="button" id="btn-submit" class="btn btn-sm btn-primary" disabled="disabled">Submit</button>
                            <a href="@Url.Content("~/Finance/CashAdvanceNonProject")" class="fakelink btn btn-sm btn-secondary">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Vendors/custom/KendoUI/js/kendo.all.min.js"></script>    
    @*<script type="text/javascript" src="~/vendors/custom/jeasyui/jquery.easyui.min.js"></script>*@
    <script src="~/Areas/Finance/Scripts/CashAdvanceNonProject.Detail.js?@DateTime.Now" asp-append-version="true"></script>

}
