﻿@{
    ViewData["Title"] = "Cash Advance";
}

<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />


<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Cash Advance</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-folder-1"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance View</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/CashAdvanceNonProject")" class="m-nav__link">
                        <span class="m-nav__link-text">Cash Advance</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a href="@Url.Content("~/Finance/CashAdvanceNonProject/Detail/")" class="m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
                                <button id="btn-delete" type="button" class="m-btn btn btn-danger btn-sm m-btn--sm"><i class="la la-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text input-group-sm"><i class="la la-search"></i></span></div>
                                        <input autocomplete="off" type="text" name="q" class="form-control form-control-sm m-input searchbox" placeholder="Search">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                @*<div class="m-portlet__body" id="m_blockui_list">
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="dt_basic">
                        <thead>
                            <tr>
                                <th width="30px">
                                    <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                        <input type="checkbox" value="" class="m-group-checkable" name="select_all">
                                        <span></span>
                                    </label>
                                </th>
                                <th>CA Number</th>
                                <th>Total Amount</th>
                                <th>CA Date</th>
                                <th>Due Date</th>
                                <th width="100px">Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>*@
                <div class="m-portlet__body" id="m_blockui_list">
                    <div id="grid"></div>
                    <script type="text/x-kendo-template" id="detail_template">
                        <div class="tabstrip">
                            <ul>
                                <li class="k-state-active">
                                    Details
                                </li>
                                <li>
                                    Status
                                </li>
                            </ul>
                            <div>
                                <div class="ca_detail"></div>
                            </div>
                            <div>
                                <div class='status-approval'></div>
                            </div>
                        </div>
                        

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .k-detail-cell .k-tabstrip .k-content {
        padding: 0.2em;
    }
</style>

@section Scripts{
    <script src="~/Vendors/custom/KendoUI/js/kendo.all.min.js"></script>
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Finance/Scripts/CashAdvanceNonProject.Index.js"></script>
    <script src="~/Areas/Finance/Scripts/CashAdvanceNonProject.Index.js?@DateTime.Now" asp-append-version="true"></script>
}