@{
    ViewBag.ModalTitle = "RoleAccessMenu";
    ViewBag.ModalId = "RoleAccessMenuModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="RoleAccessMenuFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="application_menu_id">application_menu_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_application_menu_id" id="search_application_menu_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="application_role_id">application_role_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_application_role_id" id="search_application_role_id"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnRoleAccessMenu.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnRoleAccessMenu.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>