@{
    ViewData["Title"] = "Group";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="GroupFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12">
            <input value="@ViewBag.RecordID" type="hidden" name="id" />

            <input type="hidden" name="business_unit_type_id" id="business_unit_type_id" value="group" />
            <input type="hidden" name="parent_unit" id="parent_unit" value="0" />
            <input type="hidden" name="organization_id" id="organization_id" />
            <input type="hidden" name="created_on" id="created_on" />
            <input type="hidden" name="default_team" id="default_team" />
            <div class="row ">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label><span class="translate" data-args="group_code">Group Code</span> :</label>
                        <input class="form-control form-control-sm m-input m-input--square" name="unit_code" id="unit_code" maxlength="50" type="text">
                    </div>
                    <div class="form-group">
                        <label><span class="translate" data-args="group_name">Group Name</span> :</label>
                        <input class="form-control form-control-sm m-input m-input--square" name="unit_name" id="unit_name" maxlength="100" type="text">
                    </div>
                    <div class="form-group">
                        <label><span class="translate" data-args="description">Description</span> :</label>
                        <input class="form-control form-control-sm m-input m-input--square" name="unit_description" id="unit_description" maxlength="100" type="text">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/Subgroup" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/Group.update.js"></script>
}
