@{
    ViewBag.ModalTitle = "StatusEmployee";
    ViewBag.ModalId = "StatusEmployeeModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="StatusEmployeeFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="compare">compare</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_compare" id="search_compare"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="level_position_id">level_position_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_level_position_id" id="search_level_position_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="month">month</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_month" id="search_month"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="name">name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_name" id="search_name"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="ptkp">ptkp</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_ptkp" id="search_ptkp"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="tax">tax</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_tax" id="search_tax"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnStatusEmployee.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnStatusEmployee.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>