@{
    ViewData["Title"] = "StatusEmployee";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="StatusEmployeeFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="compare">compare</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="compare" id="compare"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="level_position_id">level_position_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="level_position_id" id="level_position_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="month">month</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="month" id="month"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="name">name</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="name" id="name" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="ptkp">ptkp</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="ptkp" id="ptkp"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="tax">tax</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="tax" id="tax"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/StatusEmployee" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/StatusEmployee.update.js"></script>
}
