﻿@{
    ViewData["Title"] = "Vendor Selection";
}

<input hidden id="detail-id" value="@ViewBag.RecordID" />
@*<input hidden id="p-bidding_id" value="@ViewBag.BiddingId" />*@
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Vendor Selection</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/Bidding")" class="m-nav__link">
                        <span class="m-nav__link-text">Bidding</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Vendor Selection</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body">

                    <div class="m-form__group">
                        <h5>Vendor Selection <span style="width: 100px;" id="status"></span></h5>
                        <!--begin::Form-->
                        <form id="form-bidding" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input hidden name="id" value="@ViewBag.BiddingId" />
                            <div class="row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Budget Id :</label>
                                        <input name="bidding_number" class="form-control form-control-sm " disabled />
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>RFQ Number :</label>
                                        <input name="request_for_quotation_number" id="request_for_quotation_number" class="form-control form-control-sm " disabled />
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Bidding Date :</label>
                                        <input name="bidding_date" id="bidding_date" class="form-control form-control-sm " disabled />
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Status :</label>
                                        <select class="form-control form-control-sm" readonly name="status" id="status"></select>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end::Form-->

                        <div class="row m-row--col-separator-xl">
                            <div class="col-lg-12">
                                <h5>Detail Information</h5>
                                <hr />
                            </div>
                            <div class="col-lg-12" id="detail-information">
                                @*Using Kendo Template*@
                            </div>
                        </div>

                        <script id="detail-information-template" type="text/x-kendo-template">
                            <div class="col-lg-12 row">
                                <!--begin::Form-->
                                <form id="form-vendor_quotation" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                                    <input hidden name="id" value="" />
                                    <div class="row">
                                        <div class="col-lg-3 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Quotation Number :</label>
                                                <input name="" class="form-control form-control-sm " value="#= quotation_number #" disabled />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Vendor Name :</label>
                                                <input name="" class="form-control form-control-sm " value="#= vendor_name #" disabled />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Quotation Date :</label>
                                                <input name="" class="form-control form-control-sm " disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Delivery Date :</label>
                                                <input name="" class="form-control form-control-sm " disabled />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Delivery Time :</label>
                                                <input name="" class="form-control form-control-sm " disabled />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Delivery Place :</label>
                                                <input name="" class="form-control form-control-sm " disabled />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Term of Payment :</label>
                                                <input name="" class="form-control form-control-sm " disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Form-->
                                    # if(purchase_order_id != null) { #
                                    <a href="@Url.Content("~/Finance/PurchaseOrder/Detail/?id=")#= purchase_order_id #">Go to Purchase Order</a>
                                    # } #

                                </form>
                                <div data-id="#= id #" class="grid-item"></div>

                            </div>
                            <hr />
                        </script>

                        <!--begin::Modal-->
                        <div class="modal fade" id="m_modal_preview_item" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="grid_preview"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end::Modal-->

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div id="gridDetail"></div>
                            <script type="text/x-kendo-template" id="grid_template">
                                <div class="grid-detail-marvel">
                                    <div class="col-lg-6">
                                        <div class="status-approval"></div>

                                    </div>

                                </div>
                            </script>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" id="btn-save" class="btn btn-sm btn-success"><i class="la la-save"></i>Save</button>
                            <button type="button" id="btn-submit" class="btn btn-sm btn-primary" disabled="disabled">Submit</button>
                            <button type="button" id="btn-create-po" class="btn btn-sm">Create PO</button>
                            <a href="@Url.Content("~/Finance/Bidding")" class="fakelink btn btn-sm btn-secondary">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/Vendors/custom/KendoUI/js/kendo.all.min.js"></script>
    <script src="~/Areas/Finance/Scripts/Bidding.VendorSelection.js?@DateTime.Now" asp-append-version="true"></script>

}
