@{
    ViewData["Title"] = "Job Closing";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Job Closing</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Job</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="jobclosing" asp-area="finance" class="m-nav__link"><span class="m-nav__link-text">Job Closing</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                @*<a asp-action="Detail" asp-controller="jobclosing" asp-area="finance" class="m-btn btn btn-primary btn-sm m-btn--sm" title="Add New Record"><i class="la la-plus"></i></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.VwJobClosing>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound("").Title("#").Width(35).Filterable(false).HtmlAttributes(new { style = "text-align:center;", @class = "row-number" }).HeaderHtmlAttributes(new { style = "text-align:center;" });
                            columns.Bound(p => p.JobNumber).ClientTemplateId("job-template").Width(160);
                            columns.Bound(p => p.JobName).Width(200);
                            columns.Bound(p => p.ClientName).Width(200);
                            columns.Bound(p => p.DivisionName).Width(200);
                            columns.Bound(p => p.FinanceStatus).ClientTemplate("#= GetStatusButton(data) #").Width(150);
                            columns.Bound(p => p.LegalEntityName).Width(200);
                            columns.Bound(p => p.BrandName).Width(200);
                            columns.Bound(p => p.CampaignName).Width(200);
                            columns.Bound(p => p.Deadline).Width(200);
                            columns.Bound(p => p.JobStatus).Width(200);
                        })
                        .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(true)
                            .ButtonCount(5))
                        .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                        .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                            .Extra(false)
                            .Operators(operators => operators
                            .ForString(str => str.Clear()
                                .Contains("Contains")
                                .StartsWith("Start sWith")
                                .EndsWith("End sWith")
                            )))
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(rsz => rsz.Columns(true))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Events(events => events.Error("errorHandler"))
                            .Model(model => { model.Id(p => p.Id); })
                            .Read(read => read.Action("Read", "jobclosing"))
                        )
                        .Events(e => e.DataBound("dataBoundEvent"))
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<script id="job-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='ViewJob(this)' title='View Job' class='edit'><span style='color:blue; text-decoration:underline;'>#=JobNumber#</span></a>
</script>

<script>
    function ViewJob(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("Detail", "jobclosing")?jobId=' + item.JobId;
    }

    function GetStatusButton(data) {
        var buttonType = "";
        if (data.FinanceStatus == "@PhoenixERPWebApp.Models.StatusTransactionName.Draft") buttonType = "m-badge--info";
        else if (data.FinanceStatus == "@PhoenixERPWebApp.Models.StatusTransactionName.WaitingApproval") buttonType = " m-badge--warning";
        else if (data.FinanceStatus == "@PhoenixERPWebApp.Models.StatusTransactionName.Rejected") buttonType = " m-badge--danger";
        else if (data.FinanceStatus == "@PhoenixERPWebApp.Models.StatusTransactionName.Approved") buttonType = " m-badge--success";
        return "<center><a href='javascript: void(0);' onclick='ViewJob(this)' class='m-badge " + buttonType + " m-badge--wide'>" + data.FinanceStatus+"</a></center>";
    }
</script>