﻿
@*@model System.Data.DataTable*@
@model PhoenixERPWebApp.Models.ProjectManagement.Timesheet
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Time Sheet</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Project Management</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="TimeSheet" asp-area="pm" class="m-nav__link"><span class="m-nav__link-text">User Time Sheet</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__body" id="m_blockui_list">
                    <b>Employee Info</b><hr /><br />
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Name</label>:
                            @Html.Kendo().TextBox().Name("EmployeeName").Value(ViewBag.Name).HtmlAttributes(new { style = "width:100%;", @readonly = "readonly" })
                        </div>
                        <div class="col-lg-4">
                            <label>Department</label>:
                            @(Html.Kendo().DropDownList()
                                .Name("BusinessUnit")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Filter(FilterType.Contains)
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetDDLDepartment", "Dropdown", new { area = "Pm" });
                                    });
                                })
                                .Value("46821c0c-a48a-4b3e-8bf8-a55b58aa23c8")
                                .HtmlAttributes(new { style = "width:100%;", required = "required", @readonly = "readonly" })
                            )
                        </div>
                        <div class="col-lg-4">
                            <label>Division</label>:
                            @Html.Kendo().TextBox().Name("Division").Value(ViewBag.Division).HtmlAttributes(new { style = "width:100%;", @readonly = "readonly" })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Choose Date</label>:
                            @(Html.Kendo().DatePicker()
                                 .Name("timesheetdate")
                                 .Value(DateTime.Now)
                                 .HtmlAttributes(new { style = "width: 50%", title = "datepicker" })
                                 .Min(DateTime.Now.AddDays(-7))
                                 .Max(DateTime.Now.AddDays(+7))
                                 .Events(e =>
                                 {
                                     e.Change("dateChange");
                                 })
                                 .HtmlAttributes(new { style = "width:100%;", required = "required" })
                            )
                        </div>
                        <div class="col-lg-8"></div>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <div class="row">
                        <div class="col-lg-12">
                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.ProjectManagement.Timesheet>()
                                .Name("TimeSheet")
                                .Columns(columns =>
                                {
                                    columns.Bound(b => b.id).Hidden(true);
                                    columns.Bound(b => b.job_id).Hidden(true);
                                    columns.Bound(b => b.company_id).Title("Client").EditorTemplateName("Pm/Timesheet/CompanyDropdown").ClientTemplate("#=company_name#");
                                    columns.Bound(b => b.job_name);
                                    columns.Bound(b => b.non_job_name);
                                    columns.Bound(b => b.start_date).Hidden(true);
                                    columns.Bound(b => b.end_date).Hidden(true);
                                    columns.Bound(b => b.Sunday).ClientFooterTemplate("#=minTommss(totalSunday())#");
                                    columns.Bound(b => b.Monday).ClientFooterTemplate("#=minTommss(totalMonday())#");
                                    columns.Bound(b => b.Tuesday).ClientFooterTemplate("#=minTommss(totalTuesday())#");
                                    columns.Bound(b => b.Wednesday).ClientFooterTemplate("#=minTommss(totalWednesday())#");
                                    columns.Bound(b => b.Thursday).ClientFooterTemplate("#=minTommss(totalThursday())#");
                                    columns.Bound(b => b.Friday).ClientFooterTemplate("#=minTommss(totalFriday())#");
                                    columns.Bound(b => b.Saturday).ClientFooterTemplate("#=minTommss(totalSaturday())#");

                                    columns.Command(cmd => cmd.Edit()).Title("Action").ClientFooterTemplate("Total: #=totalAllHours()#");
                                })
                                .ToolBar(t =>
                                {
                                    t.Create().Text("Add Non Job");
                                    t.Custom().Text("Submit").HtmlAttributes(new { id = "customCommand" });
                                })
                                .Pageable()
                                .Resizable(rsz => rsz.Columns(true))
                                .Sortable()
                                .Editable(editable => editable.Mode(GridEditMode.InLine))
                                .Filterable()
                                .Groupable()
                                .Scrollable()
                                .Events(e => e.DataBinding("onDataBinding").Edit("onEdit"))
                                .DataSource(dataSource => dataSource
                                    .Ajax().Events(e => e.Sync("endRequest"))
                                    .Model(model =>
                                    {
                                        model.Id(p => p.id);
                                        model.Field(p => p.id);
                                        model.Field(m => m.start_date);
                                        model.Field(m => m.end_date);
                                        model.Field(m => m.job_id);
                                        model.Field(m => m.company_name);
                                        model.Field(m => m.job_name);
                                        model.Field(m => m.non_job_name);
                                        model.Field(m => m.Sunday).DefaultValue(new DateTime());
                                        model.Field(m => m.Monday).DefaultValue(new DateTime());
                                        model.Field(m => m.Tuesday).DefaultValue(new DateTime());
                                        model.Field(m => m.Wednesday).DefaultValue(new DateTime());
                                        model.Field(m => m.Thursday).DefaultValue(new DateTime());
                                        model.Field(m => m.Friday).DefaultValue(new DateTime());
                                        model.Field(m => m.Saturday).DefaultValue(new DateTime());
                                    })
                                    .Aggregates(aggregates =>
                                    {
                                        aggregates.Add(p => p.Sunday.TimeOfDay.TotalHours).Sum();
                                        aggregates.Add(p => p.Monday.TimeOfDay.TotalHours).Sum();
                                        aggregates.Add(p => p.Tuesday.TimeOfDay.TotalHours).Sum();
                                        aggregates.Add(p => p.Wednesday.TimeOfDay.TotalHours).Sum();
                                        aggregates.Add(p => p.Thursday.TimeOfDay.TotalHours).Sum();
                                        aggregates.Add(p => p.Friday.TimeOfDay.TotalHours).Sum();
                                        aggregates.Add(p => p.Saturday.TimeOfDay.TotalHours).Sum();
                                    })
                                    .Read(read =>
                                    {
                                        read.Action("Read", "timesheet", new { area = "Pm" }).Data("grid_params");
                                    })
                                    .Update(update => update.Action("update", "timesheet", new { area = "Pm" }))
                                )
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='popupEditor'></div>
    <script>
        function setCompanyName(e) {
            console.log(e);
            return 'xsxsx'
        }
        function endRequest() {
            var grid = $("#TimeSheet").data("kendoGrid");
            grid.dataSource.read();
        }
        function onEdit(e) {
            if (!e.model.isNew()) {
                e.container.find("input[name='company_id']").data("kendoDropDownList").enable(false)
                //e.container.find("input[name='company_name']").each(function () {
                //    $(this).attr("disabled", "disabled")
                //});

                e.container.find("input[name='job_name']").each(function () {
                    $(this).attr("disabled", "disabled")
                });

                e.container.find("input[name='non_job_name']").each(function () {
                    $(this).attr("disabled", "disabled")
                });
                e.container.find("input[name='start_date']").each(function () {
                    $(this).attr("disabled", "disabled")
                });
                e.container.find("input[name='end_date']").each(function () {
                    $(this).attr("disabled", "disabled")
                });
            }
            else {
                var curr = new Date($("#timesheetdate").data("kendoDatePicker").value()); // get current date
                var first = curr.getDate() - curr.getDay(); // First day is the day of the month - the day of the week
                var last = first + 6; // last day is the first day + 6

                //var firstday = new Date(curr.setDate(first)).toUTCString();
                //var lastday = new Date(curr.setDate(last)).toUTCString();
                var sundayDate = kendo.toString(kendo.parseDate(new Date(curr.setDate(first)), 'MM/dd/yyyy'));
                var saturdayDate = kendo.toString(kendo.parseDate(new Date(curr.setDate(last)), 'MM/dd/yyyy'));
                console.log(sundayDate);
                console.log(saturdayDate);
                e.model.start_date = sundayDate;
                e.model.end_date = saturdayDate;
                //.data("kendoDatePicker").value(saturdayDate);
                e.container
                 .find("input[name=id]") // get the input element for the field
                 .val('xxxxx') // set the value
                    .change(); // trigger change in order to notify the model binding
                e.container.find("input[name='id']").each(function () {
                    $(this).attr("disabled", "disabled")
                });
                e.container.find("input[name='job_id']").each(function () {
                    $(this).attr("disabled", "disabled")
                });
                e.container.find("input[name='job_name']").each(function () {
                    $(this).attr("disabled", "disabled")
                });
            }
        }
        //function getSunday(d) {
        //      d = new Date(d);
        //      var day = d.getDay(),
        //          diff = d.getDate() - day + (day == 0 ? -6:0); // adjust when day is sunday
        //      return new Date(d.setDate(diff));
        //}
        //function getSaturday(d) {
        //      d = new Date(d);
        //      var day = d.getDay(),
        //          diff = d.getDate() - day + (day == 0 ? -6:6); // adjust when day is sunday
        //      return new Date(d.setDate(diff));
        //}
        //function onDataBound() {
        ////Selects all edit buttons
        //$("#TimeSheet tbody tr .k-grid-edit").each(function () {
        //    var currentDataItem = $("#TimeSheet").data("kendoGrid").dataItem($(this).closest("tr"));

        //    //Check in the current dataItem if the row is editable
        //    if (currentDataItem.job_name == '#') {
        //        $(this).remove();
        //    }


        //    })
        //}

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }
        function grid_params() {
            var date = formatDate(new Date($("#timesheetdate").data("kendoDatePicker").value()));
            console.log(date);
            return {
                date: date
            }
        }

        function dateChange() {
            var grid = $("#TimeSheet").data("kendoGrid");
            grid.dataSource.read();
        }

        function getDate(startDate, endDate) {
            var dates = [],
                currentDate = startDate,
                addDays = function (days) {
                    var date = new Date(this.valueOf());
                    date.setDate(date.getDate() + days);
                    return date;
                };
            while (currentDate <= endDate) {
                dates.push(currentDate);
                currentDate = addDays.call(currentDate, 1);
            }
            return dates;
        };

        function onDataBinding() {
            const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
            ];
            var grid = $("#TimeSheet").data("kendoGrid");
            var date = getDate(new Date(grid.dataSource.data()[0]['start_date']), new Date(grid.dataSource.data()[0]['end_date']))
            console.log(date);
            if (date.length != 0) {
                $("#TimeSheet thead [data-field=Sunday] .k-link").html(date[0].getDate() + '-' + monthNames[date[0].getMonth()]);
                if (date.length > 1) {
                    $("#TimeSheet thead [data-field=Monday] .k-link").html(date[1].getDate() + '-' + monthNames[date[1].getMonth()])
                    $("#TimeSheet thead [data-field=Tuesday] .k-link").html(date[2].getDate() + '-' + monthNames[date[2].getMonth()])
                    $("#TimeSheet thead [data-field=Wednesday] .k-link").html(date[3].getDate() + '-' + monthNames[date[3].getMonth()])
                    $("#TimeSheet thead [data-field=Thursday] .k-link").html(date[4].getDate() + '-' + monthNames[date[4].getMonth()])
                    $("#TimeSheet thead [data-field=Friday] .k-link").html(date[5].getDate() + '-' + monthNames[date[5].getMonth()])
                    $("#TimeSheet thead [data-field=Saturday] .k-link").html(date[6].getDate() + '-' + monthNames[date[6].getMonth()])
                }
            }
        }

        function totalSunday() {
            var hours = $("#TimeSheet").data("kendoGrid").dataSource._aggregateResult['Sunday.TimeOfDay.TotalHours'].sum;
            return hours;
        }
        function totalMonday() {
            var hours = $("#TimeSheet").data("kendoGrid").dataSource._aggregateResult['Monday.TimeOfDay.TotalHours'].sum;
            return hours;
        }
        function totalTuesday() {
            var hours = $("#TimeSheet").data("kendoGrid").dataSource._aggregateResult['Tuesday.TimeOfDay.TotalHours'].sum;
            return hours;
        }
        function totalWednesday() {
            var hours = $("#TimeSheet").data("kendoGrid").dataSource._aggregateResult['Wednesday.TimeOfDay.TotalHours'].sum;
            return hours;
        }
        function totalThursday() {
            var hours = $("#TimeSheet").data("kendoGrid").dataSource._aggregateResult['Thursday.TimeOfDay.TotalHours'].sum;
            return hours;
        }
        function totalFriday() {
            var hours = $("#TimeSheet").data("kendoGrid").dataSource._aggregateResult['Friday.TimeOfDay.TotalHours'].sum;
            return hours;
        }
        function totalSaturday() {
            var hours = $("#TimeSheet").data("kendoGrid").dataSource._aggregateResult['Saturday.TimeOfDay.TotalHours'].sum;
            return hours;
        }
        function totalAllHours() {
            var data1 = totalSunday();
            var data2 = totalMonday();
            var data3 = totalTuesday();
            var data4 = totalWednesday();
            var data5 = totalThursday();
            var data6 = totalFriday();
            var data7 = totalSaturday();
            var summary = minTommss(data1 + data2 + data3 + data4 + data5 + data6 + data7)
            return summary;
        }
        function minTommss(minutes){
             var sign = minutes < 0 ? "-" : "";
             var min = Math.floor(Math.abs(minutes))
             var sec = Math.floor((Math.abs(minutes) * 60) % 60);
             return sign + (min < 10 ? "0" : "") + min + ":" + (sec < 10 ? "0" : "") + sec;
        }

        //$("#customCommand").click(function (e) {
        //    var dataSource = $("#TimeSheet").data("kendoGrid").dataSource;

        //    var window = $("<div id='popupEditor'>")
        //        .appendTo($("body"))
        //        .kendoWindow({
        //            title: "Add new record",
        //            modal: true,
        //            content: {
        //                //sets window template
        //                template: kendo.template($("#createTemplate").html())
        //            }
        //        })
        //        .data("kendoWindow")
        //        .center();

        //    //determines at what position to insert the record (needed for pageable grids)
        //    var index = dataSource.indexOf((dataSource.view() || [])[0]);

        //    if (index < 0) {
        //        index = 0;
        //    }
        //    //insets a new model in the dataSource
        //    var model = dataSource.insert(index, {});
        //    //binds the editing window to the form
        //    kendo.bind(window.element, model);
        //    //initialize the validator
        //    var validator = $(window.element).kendoValidator().data("kendoValidator")

        //    $("#btnUpdate").on("click", function (e) {
        //        if (validator.validate()) {
        //            dataSource.sync(); //sync changes
        //            window.close();
        //            window.element.remove();
        //        }
        //    });

        //    $("#btnCancel").on("click", function (e) {
        //        dataSource.cancelChanges(model); //cancel changes
        //        window.close();
        //        window.element.remove();
        //    });
        //});
        $(document).ready(function () {
            //var gridTImesheet = $("#TimeSheet").data("kendoGrid");
            //$(".k-grid-add").click( function () {
            //    //$("#TimeSheet").data("kendoGrid").options.editable = "popup";
                
            //    $("#TimeSheet").data("kendoGrid").setOptions({
            //        editable: {
            //            mode: "popup",
            //            template: kendo.template($("#popup-editor").html())
                    
            //        }
            //    });

            //    gridTImesheet.addRow();
            //    gridTImesheet.options.editable = "inline";
            //});

            //$(".k-grid-edit").click(function () {
            //    console.log('test');
            //    $("#TimeSheet").data("kendoGrid").options.editable = "inline";
            //});

        })
       
        
    </script>
