@{
    ViewBag.ModalTitle = "Campaign";
    ViewBag.ModalId = "CampaignModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="CampaignFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="campaign_code">campaign_code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_campaign_code" id="search_campaign_code"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="campaign_name">campaign_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_campaign_name" id="search_campaign_name"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnCampaign.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnCampaign.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>