﻿
@model PhoenixERPWebApp.Models.Finance.PettyCash
@{
    ViewData["Title"] = "Petty Cash";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<style>
    .label-required {
        color: red;
    }

    table {
        width: 100%;
        border: 0px;
    }

        table tr td {
            text-align: left;
            padding: 5px;
        }

    .dropdown-header {
        border-width: 0 0 1px 0;
        text-transform: uppercase;
    }
        .dropdown-header > span {
            display: inline-block;
            padding: 10px;
        }
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Petty Cash Settlement Detail</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/PettyCash")" class="m-nav__link">
                        <span class="m-nav__link-text">Petty Cash</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head" style="background:#fafafa">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    <span style="margin-left:5px;margin-right:10px">&nbsp;</span>
                                    @if (Model.Status == PhoenixERPWebApp.Models.PettyCashStatus.Open)
                                    {<span class="m-badge m-badge--danger m-badge--wide" id="lblstatus">@PhoenixERPWebApp.Models.PettyCashStatus.StatusName(Model.Status)</span> }
                                    else if (Model.Status == PhoenixERPWebApp.Models.PettyCashStatus.WAITING_APPROVAL)
                                    { <span class="m-badge m-badge--warning m-badge--wide" id="lblstatus">@PhoenixERPWebApp.Models.PettyCashStatus.StatusName(Model.Status)</span> }
                                    else if (Model.Status == PhoenixERPWebApp.Models.PettyCashStatus.Settle)
                                    { <span class="m-badge m-badge--success m-badge--wide" id="lblstatus">@PhoenixERPWebApp.Models.PettyCashStatus.StatusName(Model.Status)</span>}
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <form id="formpettycash" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form">

             @*<div class="m-accordion m-accordion--bordered m-accordion--solid" id="invoice_detail" role="tablist">
            <div class="m-accordion__item">
                <div class="m-accordion__item-head" role="tab" id="invoice_detail_head" data-toggle="collapse" href="#invoice_detail_body" aria-expanded="true">
                    <span class="m-accordion__item-icon"><i class="fa flaticon-interface-3"></i></span>
                    <span class="m-accordion__item-title">Invoice Detail</span>
                    <span class="m-accordion__item-mode"></span>
                </div>
                <div class="m-accordion__item-body collapse show" id="invoice_detail_body" role="tabpanel" aria-labelledby="invoice_detail_head" data-parent="#invoice_detail" style="">
                    <div class="m-accordion__item-content">*@
						<div class="row">
							<div class="col-md-12">
								<input type="hidden" asp-for="CashHolderId" />
								<input type="hidden" asp-for="AffiliationId" />
								<input type="hidden" asp-for="CurrencyId" />
								<input type="hidden" asp-for="ExchangeRate" />
								<input type="hidden" asp-for="SettlementDate" />
								<input type="hidden" asp-for="CreatedBy" />
								<input type="hidden" asp-for="CreatedOn" />
								<input type="hidden" asp-for="ModifiedBy" />
								<input type="hidden" asp-for="ModifiedOn" />
								<input type="hidden" asp-for="ApprovedBy" />
								<input type="hidden" asp-for="ApprovedOn" />
								<input type="hidden" asp-for="IsActive" />
								<input type="hidden" asp-for="OwnerId" />
								<input type="hidden" asp-for="IsDraft" />
								<input type="hidden" asp-for="Status" />
								<input type="hidden" asp-for="TrnStatus" />
								<input type="hidden" asp-for="GroupName" />
								<div class="form-group">

									<div class="col-lg-12">
										<div class="row">
											<div class="col-lg-6">
												<div class="form-group row">
													<label asp-for="PettyCashNumber" class="col-lg-4 form-label"></label>
													<div class="col-lg-8">
														@(Html.Kendo().ComboBoxFor(x => x.PettyCashNumber)
																	.DataTextField("BankAccountName")
																	.DataValueField("Id")
																	.HtmlAttributes(new { style = "width: 100%;", required = "required" })
																	.DataSource(source =>
																	{
																		source.Read(read =>
																		{
																			read.Action("GetReffPettyCash", "pettycash");
																		});
																	})
																	.Filter("startswith")
																	.Height(300)
																	.Events(ev => ev.Change("BankOnChange"))
																	.Template("<span class=\"k-state-default\">#:data.BankAccountNumber# - #:data.BankAccountName#</span></br>" +
																	"<span class=\"k-state-default\">#: data.CurrencyCode #</span></br>" +
																	"<span class=\"k-state-default\">#: data.ChartAccountName #</span></br>" +
																	"<span class=\"k-state-default\">#: data.LegalEntity #</span></hr>")
														)
													</div>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group row">
													<label asp-for="LegalEntity" class="col-lg-3 form-label"></label>
													<div class="col-lg-9">
														@(Html.Kendo().DropDownListFor(i => i.LegalEntityId)
																	.DataTextField("Text")
																	.DataValueField("Value")
																	.OptionLabel("All")
																	.HtmlAttributes(new { style = "width:100%;", required = "required" })
																	.DataSource(source => source
																		.Custom()
																		.Transport(transport => transport
																		.Read(read =>
																		{
																			read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
																		})
																	)
																.ServerFiltering(false)
																))
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6">
												<div class="form-group row">
													<div class="col-lg-4">
														<label asp-for="Id" class="form-label"></label>
														<label class="label-required">*</label>
													</div>
													<div class="col-lg-8">
														@Html.Kendo().TextBoxFor(m => m.Id).HtmlAttributes(new {
															style = "width:100%", @readonly = "readonly", @class = "m-input"
														})
													</div>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group row">
													<div class="col-lg-3">
														<label asp-for="BusinessUnit" class="form-label"></label>
													</div>
													<div class="col-lg-9">
														@Html.Kendo().TextBoxFor(m => m.BusinessUnit).HtmlAttributes(new
														 {
															 style = "width:100%",
															 @readonly = "readonly",
															 @class = "m-input"
														 })
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6">
												<div class="form-group row">
													<label asp-for="RequestorName" class="col-lg-4 form-label"></label>
													<div class="col-lg-8">
														@Html.Kendo().TextBoxFor(m => m.RequestorName).HtmlAttributes(new
														{
															style = "width:100%",
															@readonly = "readonly",
															@class = "m-input"
														})
													</div>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group row">
													<div class="col-lg-3">
														<label asp-for="Affiliation"></label>
													</div>
													<div class="col-lg-9">
														@Html.Kendo().TextBoxFor(m => m.Affiliation).HtmlAttributes(new
														{
														   style = "width:100%",
														   @readonly = "readonly",
														   @class = "m-input"
														})
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="form-group row m-row--no-padding">
										<div class="col-lg-12 m-row--no-padding" id="m_blockui_list">
											@(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.PettyCashDetail>()
												.Name("grid")
												.ToolBar(x =>
												{
													if ((Model.IsDraft ?? true) == true)
													{
														x.Create();
													}
												})
												.Columns(columns =>
												{
													if ((Model.IsDraft ?? true) == true)
													{
														columns.Command(command =>
														{
															command.Edit().Text(" ").UpdateText(" ").CancelText(" ").Visible("IsFromJurnalEntry");
															command.Destroy().Text(" ").Visible("IsFromJurnalEntry");
														}).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
													}
													columns.Bound(p => p.TransactionDate).EditorTemplateName("Date").Width(150);
													columns.Bound(p => p.TransactionDetail).Width(300).ClientFooterTemplate("Ending Balance");
													columns.Bound(p => p.Debit).Width(200).ClientFooterTemplate("#= doMath() #").HeaderHtmlAttributes(new { style = "text-align:right;" });
													columns.Bound(p => p.Credit).Width(200).HeaderHtmlAttributes(new { style = "text-align:right;" });
													columns.Bound(p => p.File).EditorTemplateName("Finance/PettyCash/Upload").Width(250);
													columns.Bound(p => p.JobId).EditorTemplateName("Finance/PettyCash/DdlJobByPCEApproved").ClientTemplate("#if(JobName != null){# #= JobName # #}#").Width(250);
													columns.Bound(p => p.PceId).EditorTemplateName("StringReadOnly").Width(180);
													columns.Bound(p => p.PcaId).EditorTemplateName("StringReadOnly").Width(180);
													columns.Bound(p => p.PcaTaskId).ClientTemplate("#:PcaTask == null ? '' : PcaTask #").EditorTemplateName("Finance/PettyCash/DdlPcaTask").Width(200);
												})
												.Sortable(srt => srt.SortMode(GridSortMode.SingleColumn))
												.Scrollable(s => s.Enabled(true).Height("auto"))
												.Resizable(rsz => rsz.Columns(true))
												.NoRecords(p => p.Template("No Records to Display"))
												.Editable(x => x.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Bottom).DisplayDeleteConfirmation(true))
												.DataSource(dataSource => dataSource
													.Ajax()
													.Events(events => { events.Error("errorHandler"); })
													.Model(model => { model.Id(p => p.Id); model.Field(f => f.Debit).Editable(false); })
													.Read(read => read.Action("getpettycashdetail", "pettycash").Data("grid_params"))
													.Create(create => create.Action("createdetail", "pettycash"))
													.Update(update => update.Action("updatedetail", "pettycash"))
													.Destroy(destroy => destroy.Action("destroydetail", "pettycash"))
													.Aggregates(aggregates =>
													{
														aggregates.Add(p => p.Debit).Sum();
														aggregates.Add(p => p.Credit).Sum();
													})
												//.Sort(srt => srt.Add("TransactionDate").Ascending())
												)
												.Events(evt => { evt.Save("save_event"); })
											)
										</div>
									</div>
									<br />
									<div class="col-lg-12 m-row--no-padding">
										<div class="col-lg-6"></div>
										<div class="col-lg-6 float-right">
											<div class="form-group row">
												<div class="col-lg-4">
													<label class="form-label">Ending Balance</label>
												</div>
												<div class="col-lg-8">
													@(Html.Kendo().NumericTextBoxFor(x => x.EndingBalance)
															.Spinners(false)
															.Format("{0:N0}")
															.HtmlAttributes(new
															{
																style = "width:100%",
																maxlength = 18,
																@required = "required"
															}
														))
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>							
						</div>
						<div class="row">
							<div class="col-md-12">
								<partial name="_HistoryApproval" />
							</div>
						</div>
                        @*</div>
                    </div>
                </div>
            </div>*@
                    </form>
                    <!--end::Form-->
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
							<div class="pull-right">
								@if ((Model.Status == PhoenixERPWebApp.Models.PettyCashStatus.Draft))
								{
									<button type="button" id="btnSave" class="btn btn-success edit"><span class="fa fa-save"></span> Save</button>
									<button type="button" id="btnSubmit" class="btn btn-primary edit"><span class="fa fa-paper-plane"></span> Request Approval</button>
								}
								<a asp-action="index" asp-controller="pettycash" asp-area="finance" class="fakelink btn btn-secondary">Close</a>
								<button type="button" id="btnTriggerReloadState" class="btn btn-primary"></button>
							</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function CoaId_Select(e) {
        if (e.dataItem) {
            var dataItem = e.dataItem;

            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            $.ajax({
                type: "GET",
                url: '@Url.Action("Get", "ChartOfAccount")',
                data: { id: dataItem.Value },
                success: function (result) {
                    if (result != undefined) {
                        $("#CodeRec").val(result.CodeRec);
                    }
                    mApp.unblock("#m_blockui_list");
                },
                error: function (e, t, s) {
                    swal('Information', 'Ooops, something went wrong !', 'info');
                    mApp.unblock("#m_blockui_list");
                }
            }).then(setTimeout(function () {
                mApp.unblock("#m_blockui_list");
            }, 2e3));
        }
    }

    function pca_param() {
        var pca =  $("#PcaId").val();
        return { pcaId: pca };
    }

    function BankOnChange(){
        var masterPettyId = $("#PettyCashNumber").data("kendoComboBox").value();

        mApp.block("#m_blockui_list", {
            overlayColor: "#000000",
            type: "loader",
            state: "primary",
            message: "Processing..."
        });

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetInfoMasterPetty", "pettycash")',
            data: { id: masterPettyId },
            success: function (result) {
                if (result != undefined) {
                    $("#LegalEntityId").data("kendoDropDownList").value(result.LegalEntityId);
                    $("#Affiliation").val(result.Affiliation);
                    $("#AffiliationId").val(result.AffiliationId);
                }
                mApp.unblock("#m_blockui_list");
            },
            error: function (e, t, s) {
                swal('Information', 'Ooops, something went wrong !', 'info');
                mApp.unblock("#m_blockui_list");
            }
        }).then(setTimeout(function () {
            mApp.unblock("#m_blockui_list");
        }, 2e3));
    }


    function grid_params() {
        var id = $("#Id").val();
        var reffnum = $("#RefNumber").val();
        return { Id: id, rn: reffnum };
    }

    function IsFromJurnalEntry(dataItem) {
        return dataItem.IsFromJE == false;
    }

    $(document).ready(function () {
        $("#btnTriggerReloadState").hide();
        var status = @Model.Status;
        if (status == 1) {
        	$("#btnSubmit").prop("disabled", true);
        	$("#btnSave").prop("disabled", true);
        }

        $("#btnTriggerReloadState").click(function(){
            $("#btnCretaeJournal").prop("disabled", false);
            $("#btnSubmit").prop("disabled", false);
        });
    });

    function JobIdOnChange() {
        debugger;
        var valJob = $("#JobId").data("kendoDropDownList").value();

        $.ajax({
            type: "GET",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            async: false,
            data: { jobId: valJob },
            url: '@Url.Action("GetInfoPceByJobId", "pettycash")',
            success: function (result) {
                if (result != undefined) {
                    $("#PceId").val(result.JobPeId);
                    $("#PcaId").val(result.JobPaId);
                    $("#PcaTaskId").data("kendoDropDownList").dataSource.read();
                }
            }
        })
    }

    function save_event(e) {
        //var grid = $("#grid").data("kendoGrid");
        //grid.dataSource.sort({ field: "TransactionDate", dir: "asc" });

        var JobId = $("#JobId").data("kendoDropDownList").value();
        var Jobname = $("#JobId").data("kendoDropDownList").text();
        var PcaTaskId = $("#PcaTaskId").data("kendoDropDownList").value();
        var PcaTask = $("#PcaTaskId").data("kendoDropDownList").text();
        var PceId = $("#PceId").val();
        var PcaId = $("#PcaId").val();

        e.model.set("JobId", JobId);
        e.model.set("JobName", Jobname);
        e.model.set("PceId", PceId);
        e.model.set("PcaId", PcaId);
        e.model.set("PcaTaskId", PcaTaskId);
        e.model.set("PcaTask", PcaTask);
        e.model.set("IsFromJE", false);

        var grid = $("#grid").data("kendoGrid");
        var aggregates = grid.dataSource.aggregates();
        var aggDebit = aggregates.Debit.sum;
        var amt = 0;
        $.each(grid.items(), function (index, data) {
            amt += grid.dataItem(data).Credit;
        });
        var endBal = aggDebit - amt;
        $("#EndingBalance").data("kendoNumericTextBox").value(endBal);
    }

    function isValid(isSubmit) {
        var valid = $("#formpettycash").validate().form();
        if (valid) {
            var isDetailAdded = false;
            var grid = $("#grid").data("kendoGrid");//.dataSource.data();
            $.each(grid.items(), function (index, data) {
                console.log(grid.dataItem(data));
                var IsFromJE = grid.dataItem(data).IsFromJE;
                if (IsFromJE == false) {
                    isDetailAdded = true;
                    return false; // breaks
                }
            });

            if (!isDetailAdded) {
                swal('Warning', "Please input detail list", 'warning');
                return false;
            }

            return true;
        } else {
            return false;
        }
    }

    $('#btnSubmit').click(function () {
        if (!isValid(true)) return;
        callAction({ formId: "formpettycash", title: "submit", type: "POST", url: '@Url.Action("submit", "pettycash")', objects: result() });
    });

    $('#btnSave').click(function () {
        if (!isValid(false)) return;
        callAction({ formId: "formpettycash", title: "save", type: "POST", url: '@Url.Action("save", "pettycash")', objects: result() });
    });

    $('#btnCretaeJournal').click(function () {
        if (!isValid()) return;
        callAction({ formId: "formpettycash", title: "create journal", type: "POST", url: '@Url.Action("createjournal", "pettycash")', objects: result() });
    });

    function result() {
        var grid = $("#grid").data("kendoGrid");
        var dataList = {
            detail : grid.dataSource.data()
        }

        return dataList;
    }

    function doMath() {
        var ds = $("#grid").data("kendoGrid").dataSource;
        var aggregates = ds.aggregates();
        var margin = aggregates.Debit.sum - aggregates.Credit.sum;
        //...
        return margin;
    }

</script>