﻿@{
    ViewData["Title"] = "Petty Cash";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
@model PhoenixERPWebApp.Models.Finance.PettyCash
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Petty Cash Settlement List</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Petty Cash Settlement</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="pettycash" asp-area="Finance" class="m-nav__link"><span class="m-nav__link-text">Petty Cash</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
							<div>
								@if(ViewBag.GroupName == PhoenixERPWebApp.Models.PettyGroupName.GroupSettle){
									<a asp-action="Detail" asp-controller="pettycash" asp-area="finance" class="m-btn btn btn-primary btn-sm m-btn--sm" title="Add New Record"><i class="la la-plus"></i></a>
								}
							</div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        @*<div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>*@
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <div class="col-lg-12">
                        <form id="form-search-dt_basic_eui">
                            <div class="m-form-group">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label asp-for="Id"></label>
                                                </div>
                                                <div class="col-lg-8">
                                                    @Html.Kendo().TextBoxFor(m => m.Id).HtmlAttributes(new
                                                    {
                                                        style = "width:100%",
                                                        @class = "m-input"
                                                    })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label asp-for="LegalEntity"></label>
                                                </div>
                                                <div class="col-lg-8">
                                                    @(Html.Kendo().DropDownListFor(m => m.LegalEntityId)
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        //.Events(e => e.Change("OnChange"))
                                                        .OptionLabel("All")
                                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                        .DataSource(source => source
                                                            .Custom()
                                                            .Transport(transport => transport
                                                            .Read(read =>
                                                            {
                                                                read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
                                                            }))
                                                            .ServerFiltering(false)
                                                        ))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label asp-for="BusinessUnit"></label>
                                                </div>
                                                <div class="col-lg-8">
                                                    @(Html.Kendo().DropDownListFor(i => i.BusinessUnitId)
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    //.Events(e => e.Change("OnChange"))
                                                    .OptionLabel("All")
                                                    .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                    .DataSource(source => source
                                                        .Custom()
                                                        .Transport(transport => transport
                                                        .Read(read =>
                                                        {
                                                            read.Action("GetDivisionFinance", "Dropdown", new { area = "Finance" });
                                                        }))
                                                        .ServerFiltering(false)
                                                    ))
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label asp-for="BankAccountNumber"></label>
                                                </div>
                                                <div class="col-lg-8">
                                                    @(Html.Kendo().DropDownListFor(i => i.BankAccountNumber)
                                                        .Template("#:Text#-#:Value#")
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        //.Events(e => e.Change("OnChange"))
                                                        .OptionLabel("All")
                                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                        .DataSource(source => source
                                                            .Custom()
                                                            .Transport(transport => transport
                                                            .Read(read =>
                                                            {
                                                                read.Action("GetDDLBanksList", "Dropdown", new { area = "Finance" });
                                                            }))
                                                            .ServerFiltering(false)
                                                        ))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label asp-for="Status"></label>
                                                </div>
                                                <div class="col-lg-8">
                                                    @(Html.Kendo().DropDownListFor(i => i.Status)
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        .BindTo(new List<SelectListItem>()
                                                        {
                                                            new SelectListItem() { Text = "Open", Value = PhoenixERPWebApp.Models.PettyCashStatus.Open.ToString() },
                                                            new SelectListItem() { Text = "TAP", Value =PhoenixERPWebApp.Models.PettyCashStatus.WAITING_APPROVAL.ToString() },
                                                            new SelectListItem() { Text = "Settle", Value =PhoenixERPWebApp.Models.PettyCashStatus.Settle.ToString() }
                                                        })
                                                        .OptionLabel("Status...")
                                                        .HtmlAttributes(new { style = "width: 100%", @class = "m-input" })
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">                                                
                                                @*<label class="form-label form-group h6" style="margin-bottom:0px !important">Date  :</label>
                                                <hr />
                                                <div class="form-group row">
                                                    <label class="col-md-1">Start</label>
                                                    <div class="col-md-5">
                                                        @Html.Kendo().DatePickerFor(m => m.StartDate).HtmlAttributes(new {
                                                              @class = "m-input ", style = "width:100%", required = "required"
                                                        })
                                                    </div>
                                                    <label class="col-md-1">End</label>
                                                    <div class="col-md-5">
                                                        @Html.Kendo().DatePickerFor(m => m.EndDate).HtmlAttributes(new {
                                                             @class = "m-input ", style = "width:100%", required = "required"
                                                       })
                                                    </div>
                                                </div>*@

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr />
                        <div class="col-lg-12">
                            <div class="form-group">
                                <button type="button" id="btnSearch" class="btn btn-sm btn-success" style="width:80px">Filter</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.PettyCash>()
                                .Name("grid")
                                .Columns(columns =>
                                {
                                    columns.Bound("").ClientTemplate("#= LinktoDtl(data) #").Title("Petty Cash No").Width(150);
                                    columns.Bound("").ClientTemplate("#if(BankName != null){# #=BankName# - #=BankAccountNumber# #}#").Title("Bank Account").Width(150);
                                    columns.Bound(p => p.BusinessUnit).Width(200);
                                    columns.Bound(p => p.LegalEntity).Width(200);
                                    columns.Bound(p => p.MsPettyCashDate).Width(100).Format("{0:dd MMM yyyy}").HtmlAttributes(new { @style = "text-align:center" });
                                    columns.Bound(p => p.StatusName).ClientTemplate("#= GetStatusButton(data) #").Width(150);
                                })
                                .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(5))
                                .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                .Scrollable(s => s.Enabled(true).Height("auto"))
                                .Resizable(rsz => rsz.Columns(true))
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(10)
                                    .Events(events => events.Error("errorHandler"))
                                    .Model(model => { model.Id(p => p.Id); })
                                    .Read(read => read.Action("ReadIndex", "PettyCash").Data("grid_params"))
                                )
                            .Events(e => e.DataBound("dataBoundBgColorEvent"))
                            .AutoBind(false)
                            )
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function LinktoDtl(data) {
        return "<center><a href='javascript: void(0);' onclick='detailRow(this)' title='Detail' class='edit'>" + data.Id + "</a></center>";
    }
    function GetStatusButton(data) {
        var buttonType = "";
        if (data.Status == "@PhoenixERPWebApp.Models.PettyCashStatus.Open") buttonType = "m-badge--focus";
        else if (data.Status == "@PhoenixERPWebApp.Models.PettyCashStatus.WAITING_APPROVAL") buttonType = " m-badge--warning";
        else if (data.Status == "@PhoenixERPWebApp.Models.PettyCashStatus.Settle") buttonType = " m-badge--info";
        return "<center><a href='javascript: void(0);' onclick='detailRow(this)' class='m-badge " + buttonType + " m-badge--wide'>" + data.StatusName + "</a></center>";
    }

    function detailRow(e) {
        var item = dataItem(e);
        var serviceType = item.ServiceType;
        window.location.href = '@Url.Action("Detail", "PettyCash")?Id=' + (item.Id == null ? '' : item.Id) + '&rn=' + item.RefNumber;
    }

    function grid_params() {
        return {
            Id: $("#Id").val(),
            LegalEntityId: $("#LegalEntityId").data("kendoDropDownList").value(),
            BusinessUnitId: $("#BusinessUnitId").data("kendoDropDownList").value(),
            BankId: $("#BankAccountNumber").data("kendoDropDownList").value(),
            Status: $("#Status").data("kendoDropDownList").value(),
            //StartDate: $("#StartDate").data("kendoDatePicker").value(),
            //EndDate: $("#EndDate").data("kendoDatePicker").value()
        }
    }

    function GetStatusButtonApproval(data) {
        var buttonType = "";
        if (data.Status == "@PhoenixERPWebApp.Models.StatusTransactionName.Draft") buttonType = "m-badge--info";
        else if (data.Status == "@PhoenixERPWebApp.Models.StatusTransactionName.OnProcess") buttonType = " m-badge--focus";
        else if (data.Status == "@PhoenixERPWebApp.Models.StatusTransactionName.WaitingApproval") buttonType = " m-badge--warning";
        else if (data.Status == "@PhoenixERPWebApp.Models.StatusTransactionName.Rejected") buttonType = " m-badge--danger";
        else if (data.Status == "@PhoenixERPWebApp.Models.StatusTransactionName.Approved") buttonType = " m-badge--success";
        return "<center><a href='javascript: void(0);' onclick='editGridRow(this)' class='m-badge " + buttonType + " m-badge--wide'>" + data.StatusDesc + "</a></center>";
    }

    function dataBoundBgColorEvent(e) {
        // iterate the table rows and apply custom row and cell styling
        var rows = e.sender.tbody.children();
        for (var j = 0; j < rows.length; j++) {
            var row = $(rows[j]);
            var dataItem = e.sender.dataItem(row);
            var isoverSettle = dataItem.IsOVerDueSettlement;
            
            if (isoverSettle)//.toLowerCase().inclue()
                row.addClass("bg-error-me");
        }

        //dataBoundEvent(e);
    }

    $(document).ready(function () {
        //var today = new Date();
        //var startdate = new Date();

        //$("#StartDate").kendoDatePicker({
        //    value: new Date(startdate.setDate((today.getDate() - 30))),
        //    dateInput: true,
        //    format: "dd MMM yyyy"
        //});

        //$("#EndDate").kendoDatePicker({
        //    value: new Date(today.setDate(today.getDate())),
        //    dateInput: true,
        //    format: "dd MMM yyyy"
        //});

        $("#grid").data("kendoGrid").dataSource.read();
    });


    $('#btnSearch').click(function () {
        mApp.block("#m_blockui_list", {
            overlayColor: "#000000",
            type: "loader",
            state: "primary",
            message: "Processing..."
        });

        $('#grid').data('kendoGrid').dataSource.read();
        $('#grid').data('kendoGrid').refresh();

        mApp.unblock("#m_blockui_list");
    });
</script>
<style>
    .bg-error-me {
        background-color: #FDCACE;
    }
</style>