@{
    ViewData["Title"] = "JobVacancy";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    <span class="translate" data-args="Create Job Vacancy">Create Job Vacancy</span>
}

@section Paneltools{

}
@section Panelbody{
    <form id="JobVacancyFormCreate" method="post">
        <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
        <fieldset>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="first_name">Posting Code *</label>
                        <input type="text" class="form-control" id="code" name="code" readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="first_name">Req Code *</label>
                        <input type="hidden" class="form-control" id="hiring_request_id" name="hiring_request_id" />
                        <input type="text" class="form-control" id="hiring_request_code" name="hiring_request_code" readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="first_name">Vacancy Name*</label>
                        <input type="text" class="form-control" id="vacancy_name" name="vacancy_name" readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="first_name">Location *</label>
                        <input type="hidden" class="form-control" id="master_location_id" name="master_location_id" />
                        <input type="text" class="form-control" id="master_location_name" name="master_location_name" readonly />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="first_name">Posting Status *</label>
                        <input type="hidden" class="form-control" id="posting_status" name="posting_status" />
                        <input type="text" class="form-control" id="posting_status_name" name="posting_status_name" readonly />

                    </div>
                </div>
            </div>
        </fieldset>
        <hr />

        <div class="row" id="budgeted_div" style="display:block">
            <div class="col-lg-12 m-form__group-sub">
                <div class="form-group">
                    <label>
                        <h5>Man Power Request</h5>
                    </label>
                    <div class="m-section__content">
                        <div class="m-demo" data-code-preview="true" data-code-html="true"
                             data-code-js="false">
                            <div class="m-demo__preview" id="employee_hiring">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="first_name">Requestor *</label>
                                            <input type="hidden" class="form-control" id="requester_id" name="requester_id" />
                                            <input type="text" class="form-control" id="requester_name" name="requester_name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="first_name">Title *</label>
                                            <input type="hidden" class="form-control" id="job_title_id" name="job_title_id" />
                                            <input type="text" class="form-control" id="job_title_name" name="job_title_name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="first_name">Division*</label>
                                            <input type="hidden" class="form-control" id="business_unit_id" name="business_unit_id" />
                                            <input type="text" class="form-control" id="business_unit_name" name="business_unit_name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="first_name">Departement *</label>
                                            <input type="text" class="form-control" id="departement" name="departement" />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- begin: Datatable -->
                                        <table class="table table-striped- table-bordered table-hover table-checkable"
                                               id="dt_basic">
                                            <thead>
                                                <tr>

                                                    <th>Job Title</th>
                                                    <th>Grade</th>
                                                    <th>TTF</th>
                                                    <th>Emmployement Status</th>
                                                    <th>Budget Source</th>
                                                    <th>MPP Budget</th>
                                                    <th>Date Joining</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <!-- end:: Datatable -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <br />
        <br />
        <div class="row">
            <div class="col-lg-12 m-form__group-sub">
                <div class="form-group">
                    <label>
                        <h5>Approval</h5>
                    </label>
                    <div class="m-section__content">
                        <div class="m-demo" data-code-preview="true" data-code-html="true"
                             data-code-js="false">
                            <div class="m-demo__preview" id="Approval">
                                <h4>
                                    Associate HD Director
                                </h4>
                                <hr>
                                <h6 style="font-style: italic">Waiting Approval</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <a href="#" class="fakelink btn btn-success" onclick="ApprovedData()">Approved</a>
                    <a data-target="#JobVacancyApprovedModalSearch" data-toggle="modal" id="btn-submit" name="btn-submit" class="btn btn-danger"><span class="translate" data-args="reject">Reject</span></a>
                    <a href="~/Hris/JobVacancy" class="fakelink btn btn-secondary">Close</a>
                </center>
            </div>

        </div>
    </form>
    @Html.Partial("JobVacancy/Reject")
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/JobVacancy.approval.js"></script>
}
