@{
    ViewData["Title"] = "JobVacancy";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    <span class="translate" data-args="Create Job Vacancy">Create Job Vacancy</span>
}

@section Paneltools{

}
@section Panelbody{
    <form id="JobVacancyFormCreate" method="post">
        <fieldset>
            <span id="tmpjobsouce"></span>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="first_name">Posting Code *</label>
                        <input type="text" class="form-control" id="code" name="code" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="first_name">Req Code *</label>
                        <select class="form-control" id="hiring_request_id" name="hiring_request_id" onchange="GetDataHiringRequest(this.value)"></select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="first_name">Posting Status *</label>
                        <select class="form-control" id="posting_status" name="posting_status">
                            <option value="0">DRAFT</option>
                            <option value="3">Post/Unpublished</option>
                            <option value="4">Post/Published</option>
                            <option value="5">Closed</option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr />
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#vacancy_detail" role="tab" data-toggle="tab">Vacancy Detail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#job_souce" role="tab" data-toggle="tab">Job Souce</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="vacancy_detail">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="first_name">Vacancy Name *</label>
                            <input type="text" class="form-control" id="vacancy_name" name="vacancy_name" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="first_name">Location *</label>
                            <select class="form-control" id="master_location_id" name="master_location_id"></select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="first_name">Closing Date *</label>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" id="closing_date" name="closing_date">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                <div class="row" id="budgeted_div" style="display:none">
                    <div class="col-lg-12 m-form__group-sub">
                        <div class="form-group">
                            <label>
                                <span id="head_main_paper"><h5>Man Power Request</h5></span>
                            </label>
                            <div class="m-section__content">
                                <div class="m-demo" data-code-preview="true" data-code-html="true"
                                     data-code-js="false">
                                    <div class="m-demo__preview" id="employee_hiring">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="first_name">Requester *</label>
                                                    <input type="text" class="form-control" id="requester_id" name="requester_id" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="first_name">Title *</label>
                                                    <input type="hidden" class="form-control" id="job_title_id" name="job_title_id" />
                                                    <input type="text" class="form-control" id="job_title_name" name="job_title_name" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="first_name">Division *</label>
                                                    <input type="hidden" class="form-control" id="business_unit_id" name="business_unit_id" />
                                                    <input type="text" class="form-control" id="business_unit_name" name="business_unit_name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- begin: Datatable -->
                                                <table class="table table-striped- table-bordered table-hover table-checkable"
                                                       id="dt_basic">
                                                    <thead>
                                                        <tr>

                                                            <th>Job Title</th>
                                                            <th>Grade</th>
                                                            <th id="tff_head">TTF</th>
                                                            <th id="employment_status_head">Emmployement Status</th>
                                                            <th>Budget Source</th>
                                                            <th id="mpp_head">MPP Budget</th>
                                                            <th>Date Joining</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                <!-- end:: Datatable -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <br />
             

            </div>
            <div role="tabpanel" class="tab-pane fade" id="job_souce">
                <div class="row m-row--col-separator-xl">
                    <div class="col-sm-11"></div>
                    <div class="col-sm-1"> <a data-toggle="modal" data-target="#JobVacancyModalDetail" class="fakelink  m-btn btn btn-primary btn-sm m-btn--sm" onclick="ClearModal()"><i class="la la-plus"></i>Add</a></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <!-- begin: Datatable -->
                        <table class="table table-striped- table-bordered table-hover table-checkable"
                               id="dt_basic_job_posting">
                            <thead>
                                <tr>

                                    <th>Posting Code</th>
                                    <th>Souce</th>
                                    <th>Files</th>
                                    <th>Link Postring (URL)</th>
                                    <th>Date Posting</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <!-- end:: Datatable -->
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
                <a href="~/Hris/JobVacancy" class="fakelink btn btn-secondary">Close</a>
            </div>

        </div>
    </form>
    @Html.Partial("JobVacancy/Detail");

}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/JobVacancy.create.js"></script>
}
