@{
    ViewBag.ModalTitle = "JobVacancyDetail";
    ViewBag.ModalId = "JobVacancyModalDetail";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="JobVacancyModalFormDetail" method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label><span class="translate" data-args="Posting Code">Posting Code</span> :</label>
                <input type="text" name="jobposting_posting_code" id="jobposting_posting_code" class="md-input form-control form-control-sm m-input m-input--square" readonly>
            </div>
        </div>
    </div>
    <div class="row m-row--col-separator-xl">
        <div class="col-lg-6">
            <div class="form-group">
                <label><span class="translate" data-args="Souce">Souce</span> :</label>
                <select name="jobposting_source" id="jobposting_source" class="md-input form-control form-control-sm m-input m-input--square">
                    <option value="JobDb">JobDb</option>
                    <option value="Linkedin">Linkedin</option>
                    <option value="Facebook">Facebook</option>
                    <option value="Istagram">Istagram</option>
                    <option value="Others">Others</option>
                    <option value="Internal">Internal</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label><span class="translate" data-args="Upload File">Upload File</span> :</label>
                <input type="text" id="jobposting_files" name="jobposting_files" class="form-control form-control-sm m-input m-input--square">
                <span class="md-input-bar "></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label><span class="translate" data-args="Link Posting">Link Posting</span> :</label>
                <input type="text" name="jobposting_url" id="jobposting_url" class="md-input form-control form-control-sm m-input m-input--square">
                <span class="md-input-bar "></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label><span class="translate" data-args="Date Posting">Date Posting</span> :</label>
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" id="jobposting_date_posting" name="jobposting_date_posting">
                    <span class="input-group-btn">
                        <button class="btn default" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" id="btn-save" class="btn btn-primary" onclick="CheckAndAddRowJobPosting($('#jobposting_posting_code').val(),$('#jobposting_source').val(),$('#jobposting_files').val(),$('#jobposting_url').val(),$('#jobposting_date_posting').val())">Save</button>
            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>
    </div>
</form>