@{
    ViewData["Title"] = "JobVacancy";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    <a href="@Url.Content("~/Hris/JobVacancy/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
    @*<a href="@Url.Content("~/Hris/Applicant/TrackingNewApplicant")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm">Track</a>*@
}

@section Paneltools{
    <a data-target="#JobInterviewModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>
}

@section Panelbody{
    <table class="table table-striped table-bordered table-hover table-checkable" id="JobVacancyList"></table>
    @Html.Partial("JobVacancy/Search")
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/JobVacancy.js"></script>
}
