@{
    ViewBag.ModalTitle = "Package";
    ViewBag.ModalId = "PackageModalSearch";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="PackageFormSearch" method="post">
    
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="description">Description</span></label>
                <input class="md-input" name="search_description" id="search_description"   maxlength="250" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_category_id">Job Category Id</span></label>
                <input class="md-input" name="search_job_category_id" id="search_job_category_id"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="package">Package</span></label>
                <input class="md-input" name="search_package" id="search_package"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="value">Value</span></label>
                <input class="md-input" name="search_value" id="search_value"   type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="button" onclick="fnPackage.initsearch()" class="md-btn md-btn-primary"><i class="uk-icon-search"></i> Search</button>
        <button type="button" onclick="fnPackage.initsearch('reset')" class="md-btn md-btn-success"><i class="uk-icon-times-circle"></i> Reset</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>