@{
    ViewData["Title"] = "Bonus";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="BonusFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="amount">amount</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="amount" id="amount"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="bonus_description">bonus_description</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="bonus_description" id="bonus_description"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="date_bonus">date_bonus</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="date_bonus" id="date_bonus"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id" id="employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="notes">notes</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="notes" id="notes"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="title">title</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="title" id="title"  maxlength="200" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/Bonus" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/Bonus.create.js"></script>
}
