﻿@model PhoenixERPWebApp.Models.Demotion

<div class="row" id="requestor_data_detail">
    <div class="col-lg-12 m-row--no-padding">
        <div class="m-accordion m-accordion--bordered m-accordion--solid" id="requestor_Detail" role="tablist">
            <!--begin::Item-->
            <div class="m-accordion__item">
                <div class="m-accordion__item-head show" role="tab" id="requestor_Detail_head" data-toggle="collapse" href="#requestor_Detail_body" aria-expanded="true">
                    <span class="m-accordion__item-icon"><i class="fa fa-user"></i></span>
                    <span class="m-accordion__item-title">Info Employee</span>
                    <span class="m-accordion__item-mode"></span>
                </div>
                <div class="m-accordion__item-body show" id="requestor_Detail_body" role="tabpanel" aria-labelledby="requestor_Detail_head" data-parent="#requestor_Detail">
                    <div class="m-accordion__item-content">
                        
                        <div class="row">
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label asp-for="RequestCode"></label> :
                                    @(Html.Kendo().TextBoxFor(m => m.RequestCode)
                                        .HtmlAttributes(new
                                        {
                                            style = "width:100%",
                                            @readonly = "readonly",
                                            @class = "form-control form-control-sm m-input",
                                            placeholder = $"Auto generated by system"
                                        }))
                                </div>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label asp-for="RequestDate"></label> :
                                    @(Html.Kendo().DatePickerFor(m => m.RequestDate)
                                        .Format("dd MMM yyyy")
                                        .HtmlAttributes(new
                                        {
                                            style = "width:100%",
                                            @readonly = "readonly",
                                            @class = "form-control form-control-sm m-input",
                                        })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>Requester</label> :
                                    @(Html.Kendo().TextBoxFor(m => m.requestEmployee.EmployeeName)
                                        .HtmlAttributes(new
                                        {
                                            style = "width:100%",
                                            @readonly = "readonly",
                                            @class = "form-control form-control-sm m-input",
                                        }))
                                </div>
                            </div>
                             <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label asp-for="requestEmployee.EmployeeId"></label> :
                                    @(Html.Kendo().TextBoxFor(m => m.Requester)
                                        .HtmlAttributes(new
                                        {
                                            style = "width:100%",
                                            @readonly = "readonly",
                                            @class = "form-control form-control-sm m-input",
                                        }))
                                </div>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label asp-for="requestEmployee.JobTitle"></label> :
                                    @(Html.Kendo().TextBoxFor(m => m.requestEmployee.JobTitle)
                                        .HtmlAttributes(new
                                        {
                                            style = "width:100%",
                                            @readonly = "readonly",
                                            @class = "form-control form-control-sm m-input",
                                        }))
                                </div>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label asp-for="requestEmployee.Grade"></label> :
                                    @(Html.Kendo().TextBoxFor(m => m.requestEmployee.Grade)
                                        .HtmlAttributes(new
                                        {
                                            style = "width:100%",
                                            @readonly = "readonly",
                                            @class = "form-control form-control-sm m-input",
                                        }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>