@model PhoenixERPWebApp.Models.Demotion
@{
    if (Model.IsApprove == true)
    {
        ViewData["Title"] = "Employee Demotion Recommendation Form Approval";
    }
    else
    {
        ViewData["Title"] = "Employee Demotion Recommendation Form";
    }
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";

    DateTime? EffectiveDate = DateTime.Now;
    if (!string.IsNullOrEmpty(Model.Id))
    {
        if (EffectiveDate >= Model.EffectiveDate)
        {
            EffectiveDate = Model.EffectiveDate;
        }
    }
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">HRIS</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (Model.IsApprove == true)
                    {
                        <a asp-action="indexapproval" asp-controller="demotion" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Employee Demotion Request Approval</span></a>
                    }
                    else
                    {
                        <a asp-action="index" asp-controller="demotion" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Employee Demotion Request</span></a>
                    }
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (Model.IsApprove == true)
                    {
                        <a asp-action="addedit" asp-controller="demotion" asp-area="hrisnew" asp-route-Id="@Model.Id" asp-route-isApprove="true" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else if (string.IsNullOrEmpty(Model.Id))
                    {
                        <a asp-action="addedit" asp-controller="demotion" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else
                    {
                        <a asp-action="addedit" asp-controller="demotion" asp-area="hrisnew" asp-route-Id="@Model.Id" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-success">Employee Demotion Recommendation Form</h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formDemotion" class="form-horizontal form-bordered" role="form" enctype="multipart/form-data">
                        <div class="row ">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="CreatedOn" />
                                <input type="hidden" asp-for="ModifiedBy" />
                                <input type="hidden" asp-for="ModifiedOn" />
                                <input type="hidden" asp-for="ApprovedBy" />
                                <input type="hidden" asp-for="ApprovedOn" />
                                <input type="hidden" asp-for="IsActive" />
                                <input type="hidden" asp-for="IsLocked" />
                                <input type="hidden" asp-for="IsDefault" />
                                <input type="hidden" asp-for="IsDeleted" />
                                <input type="hidden" asp-for="OwnerId" />
                                <input type="hidden" asp-for="DeletedBy" />
                                <input type="hidden" asp-for="DeletedOn" />
                                <input type="hidden" asp-for="BusinessUnitDivisionId" />
                                <input type="hidden" asp-for="BusinessUnitDepartementId" />

                                <partial name="_RequestEmploye" />
                                <br/>
                                <partial name="_AssignEmploye" />
                                <br/>
                                <div class="row" id="data_detail">
                                    <div class="col-lg-12 m-row--no-padding">
                                        <div class="m-accordion m-accordion--bordered m-accordion--solid" id="Detail" role="tablist">
                                            <!--begin::Item-->
                                            <div class="m-accordion__item">
                                                <div class="m-accordion__item-head show" role="tab" id="Detail_head" data-toggle="collapse" href="#Detail_body" aria-expanded="true">
                                                    <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                                    <span class="m-accordion__item-title">Request Detail</span>
                                                    <span class="m-accordion__item-mode"></span>
                                                </div>
                                                <div class="m-accordion__item-body show" id="Detail_body" role="tabpanel" aria-labelledby="Detail_head" data-parent="#Detail">
                                                    <div class="m-accordion__item-content">
                                                        <div class="row">                                                
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="EffectiveDate"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DatePickerFor(m => m.EffectiveDate)
                                                                        .Format("dd MMM yyyy")
                                                                        .Min($"{EffectiveDate}")
                                                                        .HtmlAttributes(new
                                                                        {
                                                                            style = "width:100%",
                                                                            @class = "form-control form-control-sm m-input",
                                                                            required = "required",
                                                                            placeholder = $"Choose a {Html.DisplayNameFor(m => m.EffectiveDate)}",
                                                                            onkeydown = "javascript:return false;"
                                                                        })
                                                                    )
                                                                </div>
                                                            </div>                                                        
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="JobTitleId"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DropDownListFor(x => x.JobTitleId)
                                                                        .DataTextField("Text")
                                                                        .DataValueField("Value")
                                                                        .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.JobTitleId)}")
                                                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                                        .Filter(FilterType.Contains)
                                                                        .DataSource(source => source
                                                                            .Custom()
                                                                            .Transport(transport => transport
                                                                            .Read(read =>
                                                                            {
                                                                                read.Action("GetDDLJobTitles", "Dropdown", new { area = "HrisNew" });
                                                                            }))
                                                                            .ServerFiltering(false)
                                                                        )
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="JobGradeId"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DropDownListFor(x => x.JobGradeId)
                                                                        .DataTextField("Text")
                                                                        .DataValueField("Value")
                                                                        .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.JobGradeId)}")
                                                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                                        .Filter(FilterType.Contains)
                                                                        .DataSource(source => source
                                                                            .Custom()
                                                                            .Transport(transport => transport
                                                                            .Read(read =>
                                                                            {
                                                                                read.Action("GetDDLJobGrades", "Dropdown", new { area = "HrisNew" });
                                                                            }))
                                                                            .ServerFiltering(false)
                                                                        )
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="JobLevelId"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().DropDownListFor(x => x.JobLevelId)
                                                                        .DataTextField("Text")
                                                                        .DataValueField("Value")
                                                                        .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.JobLevelId)}")
                                                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                                        .Filter(FilterType.Contains)
                                                                        .DataSource(source => source
                                                                            .Custom()
                                                                            .Transport(transport => transport
                                                                            .Read(read =>
                                                                            {
                                                                                read.Action("GetDDLJobLevels", "Dropdown", new { area = "HrisNew" });
                                                                            }))
                                                                            .ServerFiltering(false)
                                                                        )
                                                                    )
                                                                </div>
                                                            </div>
                                                         </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="Notes"></label> <span class="req">*</span> :
                                                                    @(Html.Kendo().EditorFor(x => x.Notes)
                                                                        .HtmlAttributes(new { style = "width:100%", aria_label = "editor", required = "required" })
                                                                        .Resizable(resizable => resizable.Content(true).Toolbar(true))
                                                                        .Placeholder($"Type your {Html.DisplayNameFor(m => m.Notes)} here")
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label asp-for="WarningLetter"></label> :
                                                                    <div id="divWarningLetterFile"></div>
                                                                    <div style="width:100%">
                                                                        <input type="hidden" asp-for="WarningLetter" />
                                                                        <a href='javascript: void(0);' id="linkWarningLetterDownloadFile" onclick='downloadWarningLetterFile()'></a> &nbsp;
                                                                        <a href='javascript: void(0);' id="linkWarningLetterRemoveFile" onclick='removeWarningLetterFile()' title='Delete'><span style='color:maroon'><i class='fa fa-times'></i></span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <partial name="_HistoryApproval" />
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    @if (ViewBag.isRequestor == true)
                                    {
                                        @if ((Model.Status ?? 0) == PhoenixERPWebApp.Models.StatusTransaction.Draft)
                                        {
                                            <button type="button" id="btnSave" class="btn btn-success edit"><span class="fa fa-save"></span> Save</button>
                                        }
                                        <button type="button" id="btnSubmit" class="btn btn-primary edit"><span class="fa fa-paper-plane"></span> Submit</button>
                                    }

                                    @if (Model.IsApprove == true)
                                    {
                                        @if (ViewBag.processApprove == true)
                                        {
                                            <button type="button" id="btnShow" class="btn btn-danger"><span class="fa fa-ban"></span> Reject</button>
                                            //<button type="button" id="btnReject" class="btn btn-danger edit"><span class="fa fa-ban"></span> Reject</button>
                                            <button type="button" id="btnApprove" class="btn btn-primary edit"><span class="fa fa-bookmark"></span> Approve</button>
                                        }
                                        <a asp-action="Indexapproval" asp-controller="demotion" asp-area="hrisnew" class="fakelink btn btn-secondary"><span class="fa fa-arrow-circle-left"></span> Cancel</a>
                                    }
                                    else
                                    {
                                        <a asp-action="index" asp-controller="demotion" asp-area="hrisnew" class="fakelink btn btn-secondary"><span class="fa fa-arrow-circle-left"></span> Cancel</a>
                                    }
                                </div>
                            </div>
                        </div>
                                                
                        <div class="modal fade" id="modalRemark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Remarks</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            @Html.TextAreaFor(x => x.RemarkRejected, new { style = "height:150px;width:100%" })
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" id="btnReject" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
     $(document).ready(function () {
        var WarningLetterFileName = '@Model.WarningLetterName';
        if (WarningLetterFileName == '') {
            WarningLetterFile();
        } else {
            $("#linkWarningLetterDownloadFile").text(WarningLetterFileName);
        }
        
        if ('@Model.Status' != '') {
            if ('@Model.IsApprove' == "True" || !('@Model.Status' == '@PhoenixERPWebApp.Models.StatusTransaction.Draft')) {// || '@Model.Status' == '@PhoenixERPWebApp.Models.StatusTransaction.Rejected')) {
                $('.k-editor-toolbar').hide();
                $($("#Notes").data().kendoEditor.body).attr("contentEditable", false);
                $($("#Notes").data().kendoEditor.body).css("background-color", "#F8F9FA");

                $("#EffectiveDate").data("kendoDatePicker").readonly();
                $("#JobTitleId").data("kendoDropDownList").readonly();
                $("#JobGradeId").data("kendoDropDownList").readonly();
                $("#JobLevelId").data("kendoDropDownList").readonly();
                $("#linkWarningLetterRemoveFile").empty();
                $("#divWarningLetterFile").empty();
                $("#search").remove();
            }
        }
    });

    function removeWarningLetterFile() {
        WarningLetterFile();
    }

    function downloadWarningLetterFile() {
        downloadAction({ url: '@Url.RouteUrl(new { action = "download", controller = "Download" })', data: { id: $("#WarningLetter").val() }});
    }

    function WarningLetterFile() {
        $("#linkWarningLetterDownloadFile").empty();
        $("#linkWarningLetterRemoveFile").empty();
        $("#divWarningLetterFile").empty().append("<input name='fileWarningLetter' id='fileWarningLetter' type='file'/>");
        $('#WarningLetter').val("");

        $("#fileWarningLetter").kendoUpload({
            multiple: false,
            validation: {
                maxFileSize: 5000000,
                allowedExtensions: [".doc", ".pdf", ".docx"]
            }
        });
    }

    $('#btnShow').click(function () {
        $("#RemarkRejected").attr("required", "required");
        $('#modalRemark').modal('show');
    });

    $('#btnApprove').click(function () {
        $("#RemarkRejected").removeAttr("required", "required");
        callActionFile({ formId:"formDemotion", title: "approve", type:"POST", url: '@Url.Action("approve", "demotion")'});
    });

    $('#btnReject').click(function () {
        callActionFile({ formId:"formDemotion", title: "reject", type:"POST", url: '@Url.Action("reject", "demotion")'});
    });

    $('#btnSubmit').click(function () {
        callActionFile({ formId: "formDemotion", title: "submit", type: "POST", url: '@Url.Action("submit", "demotion")' });
    });

    $('#btnSave').click(function () {
        callActionFile({ formId: "formDemotion", title: "save", type: "POST", url: '@Url.Action("save", "demotion")' });
    });
</script>