﻿@*@model PhoenixERPWebApp.Models.Finance.Transaction.InvPCEDtlView*@
@model PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClient


<div class="form-group">
    <input type="hidden" asp-for="JobId" id="JobId" />
    <input type="hidden" asp-for="PceId" id="PceId" />
    <input type="hidden" asp-for="Id" id="IdInvoices" />
    @*<input type="hidden" asp-for="CurrencyId" id="CurrencyId" />*@
    @*<input type="hidden" asp-for="BrandId" id="BrandId" />
    <input type="hidden" asp-for="ClientId" id="ClientId" />*@
    @*<input type="hidden" asp-for="LegalId" id="LegalId" />
    <input type="hidden" asp-for="DivisionId" id="DivisionId" />
    <input type="hidden" asp-for="AffiliationId" id="AffiliationId" />*@

    <br />
     <div class="row" id="client_data_detail">
        <div class="col-lg-12 m-row--no-padding">
            <div class="m-accordion m-accordion--bordered m-accordion--solid" id="client_detail" role="tablist">
                <!--begin::Item-->
                <div class="m-accordion__item">
                    <div class="m-accordion__item-head" role="tab" id="pce_detail_head" data-toggle="collapse" href="#client_detail_body" aria-expanded="true">
                        <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                        <span class="m-accordion__item-title">Client Detail</span>
                        <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="client_detail_body" role="tabpanel" aria-labelledby="client_detail_head" data-parent="#client_detail" style="">
                        <div class="m-accordion__item-content">
                            <div class="row">
                                <div class="col-lg-6 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Client Name :</label>
                                        <br />
                                        @Html.Kendo().TextBoxFor(a=>a.ClientName).HtmlAttributes(new
                                                    {
                                                        style = "width:100%",
                                                        @readonly = "readonly",
                                                        @class = "m-input"
                                                    })
                                    </div>
                                </div>
                                <div class="col-lg-6 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Tax Registration / NPWP :</label>
                                        <br />
                                        @Html.Kendo().TextBoxFor(m => m.ClientTaxNumber).HtmlAttributes(new
                                        {
                                        style = "width:100%",
                                        @readonly = "readonly",
                                        @class = "m-input"
                                        })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Brand Name</label>
                                        <br />
                                        @(Html.Kendo().DropDownListFor(m => m.BrandId)
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .OptionLabel("Choose Brand Name")
                                              .HtmlAttributes(new { style = "width:100%;", @class = "ddlClass", @readonly = "readonly" })
                                              .Filter(FilterType.Contains)
                                              .DataSource(source => source
                                                  .Custom()
                                                  .Transport(transport => transport
                                                  .Read(read =>
                                                  {
                                                      read.Action("GetDDLBrand", "Dropdown");
                                                  }))
                                                  .ServerFiltering(false)
                                              ))
                                        @*@Html.Kendo().TextBoxFor(m => m.ClientBrandName).HtmlAttributes(new
        {
            style = "width:100%",
            @readonly = "readonly",
            @class = "m-input"
        })*@
                                    </div>
                                </div>
                                <div class="col-lg-6 m-form__group-sub">
                                    <div class="form-group">
                                        <label>PIC</label>
                                        <br />
                                        @Html.Kendo().TextBoxFor(m => m.ClientPIC).HtmlAttributes(new
                                        {
                                            style = "width:100%",
                                            @readonly = "readonly",
                                            @class = "m-input"
                                        })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <br />
                                        @Html.Kendo().TextBoxFor(m => m.ClientInvAddress).HtmlAttributes(new
                                        {
                                            style = "width:100%",
                                            @readonly = "readonly",
                                            @class = "m-input"
                                        })
                                    </div>
                                </div>
                                <div class="col-lg-6 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Term Of Payment</label>
                                        <br />
                                        @Html.Kendo().TextBoxFor(m => m.TermOfPayment).HtmlAttributes(new
                                        {
                                            style = "width:100%",
                                            @readonly = "readonly",
                                            @class = "m-input"
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>	
    <hr />
    <div class="row" id="company_data_detail">
        <div class="col-lg-12 m-row--no-padding">
            <div class="m-accordion m-accordion--bordered m-accordion--solid" id="pce_detail" role="tablist">
                <!--begin::Item-->
                <div class="m-accordion__item">
                    <div class="m-accordion__item-head" role="tab" id="pce_detail_head" data-toggle="collapse" href="#pce_detail_body" aria-expanded="true">
                        <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                        <span class="m-accordion__item-title">Job Detail</span>
                        <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse show" id="pce_detail_body" role="tabpanel" aria-labelledby="pce_detail_head" data-parent="#pce_detail" style="">
                        <div class="m-accordion__item-content">
                            @if (Model.MultiPceId == "")
                            {
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-lg-3">PCE Number</label>
                                            <div class="col-lg-9">
                                                @Html.Kendo().TextBoxFor(a=>a.PceCode).HtmlAttributes(new
                                                        {
                                                            style = "width:100%",
                                                            @readonly = "readonly",
                                                            @class = "m-input"
                                                        })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-lg-3 form-label">Status Job</label>
                                            <div class="col-lg-9">
                                                @Html.Kendo().TextBoxFor(a=>a.JobStatus).HtmlAttributes(new
                                                        {
                                                            style = "width:100%",
                                                            @readonly = "readonly",
                                                            @class = "m-input"
                                                        })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-lg-3">Job ID</label>
                                            <div class="col-lg-9">
                                                @Html.Kendo().TextBoxFor(a=>a.JobId).HtmlAttributes(new
                                                        {
                                                            style = "width:100%",
                                                            @readonly = "readonly",
                                                            @class = "m-input"
                                                        })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group row">
                                            <label class="col-lg-3 form-label">Job Name</label>
                                            <div class="col-lg-9">
                                                @Html.Kendo().TextBoxFor(a=>a.JobName).HtmlAttributes(new
                                                        {
                                                            style = "width:100%",
                                                            @readonly = "readonly",
                                                            @class = "m-input"
                                                        })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-lg-3">Legal Entity</label>
                                        <div class="col-lg-9">
                                            @Html.Kendo().TextBoxFor(a=>a.LegalEntityName).HtmlAttributes(new
                                                   {
                                                       style = "width:100%",
                                                       @readonly = "readonly",
                                                       @class = "m-input"
                                                   })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <div class="col-lg-3">
                                            <label asp-for="AffiliationName"></label>
                                        </div>
                                        <div class="col-lg-9">
                                            @(Html.Kendo().DropDownListFor(m => m.AffiliationId)
                                                                          .DataTextField("Text")
                                                                          .DataValueField("Value")
                                                                          .OptionLabel("Choose Affiliation")
                                                                          .HtmlAttributes(new { style = "width:100%;", @class = "ddlClass", @readonly = "readonly" })
                                                                          .Filter(FilterType.Contains)
                                                                          .DataSource(source => source
                                                                              .Custom()
                                                                              .Transport(transport => transport
                                                                              .Read(read =>
                                                                              {
                                                                                  read.Action("GetAffiliation", "Dropdown");
                                                                              }))
                                                                              .ServerFiltering(false)
                                                                          ))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-lg-3" asp-for="MainServiceCategory"></label>
                                        <div class="col-lg-9">
                                            @Html.Kendo().TextBoxFor(a=>a.MainServiceCategoryName).HtmlAttributes(new
                                                    {
                                                        style = "width:100%",
                                                        @readonly = "readonly",
                                                        @class = "m-input"
                                                    })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-lg-3 form-label">Business Unit</label>
                                        <div class="col-lg-9">
                                            @Html.Kendo().TextBoxFor(a=>a.DivisionName).HtmlAttributes(new
                                                    {
                                                        style = "width:100%",
                                                        @readonly = "readonly",
                                                        @class = "m-input"
                                                    })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>