﻿
@model PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClient
@{
    ViewData["Title"] = "Account Receiveable";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Account Receivable</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/AccountReceivable")" class="m-nav__link">
                        <span class="m-nav__link-text">Account Receivable</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body" id="m_blockui_list">
                    <div class="m-form__group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <form id="form">
                                        <input type="hidden" asp-for="BrandId" />
                                        <input type="hidden" asp-for="ClientId" />
                                        <input type="hidden" asp-for="LegalId" />
                                        <input type="hidden" asp-for="BusinessUnitId" />
                                        <input type="hidden" asp-for="MainServiceCategory" />
                                        <input type="hidden" asp-for="MultiPceId" />
                                        <div class="form-group col-lg-12" style="padding-left:0px">
                                            <h5>Invoice Detail :</h5>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">

                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group row">
                                                                    <label asp-for="InvoiceNumber" class="col-lg-4 form-label"></label>
                                                                    <div class="col-lg-8">
                                                                        <input type="hidden" asp-for="Id" />
                                                                        @Html.Kendo().TextBoxFor(m => m.InvoiceNumber).HtmlAttributes(new
                                                                   {
                                                                       style = "width:100%",
                                                                       @class = "m-input",
                                                                       @readonly = "readonly",
                                                                   })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group row">
                                                                    <label asp-for="AccountId" class="col-lg-3 form-label"></label>
                                                                    <div class="col-lg-9">
                                                                        @Html.Kendo().TextBoxFor(m => m.AccountBankName).HtmlAttributes(new
                                                                        {
                                                                            style = "width:100%",
                                                                            @readonly = "readonly",
                                                                            @class = "m-input"
                                                                        })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group row">
                                                                    <div class="col-lg-4">
                                                                        <label asp-for="InvoiceDate" class="form-label"></label>
                                                                        <label class="label-required">*</label>
                                                                    </div>
                                                                    <div class="col-lg-8">
                                                                        @Html.Kendo().DatePickerFor(m => m.InvoiceDate).HtmlAttributes(new {
                                                                           @class = "m-input ", style = "width:100%",
                                                                           @readonly = "readonly",
                                                                       })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group row">
                                                                    <label asp-for="VatNo" class="col-lg-3 form-label"></label>
                                                                    <div class="col-lg-9">
                                                                        @Html.Kendo().TextBoxFor(m => m.VatNo).HtmlAttributes(new
                                                                        {
                                                                           style = "width:100%",
                                                                           @readonly = "readonly",
                                                                           @class = "m-input"
                                                                        })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group row">
                                                                    <label asp-for="PceBalance" class="col-lg-4 form-label"></label>
                                                                    <div class="col-lg-8">
                                                                        @(Html.Kendo().NumericTextBoxFor(m => m.PceBalance)
                                                                            .Spinners(false)
                                                                            .Format("{0:N2}")
                                                                            .HtmlAttributes(new
                                                                            {
                                                                                style = "width:100%",
                                                                                maxlength = 12,
                                                                                @readonly = "readonly"
                                                                            }
                                                                        ))
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <div class="row">
                                                                        <div class="col-lg-4 form-group">
                                                                            <label asp-for="CurrencyCode"></label>
                                                                            @Html.Kendo().TextBoxFor(m => m.CurrencyCode).HtmlAttributes(new
                                                                            {
                                                                                style = "width:100%",
                                                                                @readonly = "readonly",
                                                                                @class = "m-input"
                                                                            })
                                                                        </div>
                                                                        <div class="col-lg-8 form-group">
                                                                            <label asp-for="ExchangeRate"></label>
                                                                            @if (!(Model.CurrencyCode ?? "idr").ToLower().Contains("idr"))
                                                                            {
                                                                                @(Html.Kendo().NumericTextBoxFor(m => m.ExchangeRate)
                                                                                    .Spinners(false)
                                                                                    .Format("{0:N0}")
                                                                                    .HtmlAttributes(new
                                                                                    {
                                                                                        style = "width:100%",
                                                                                        maxlength = 12
                                                                                    }
                                                                                ))
                                                                            }
                                                                            else
                                                                            {
                                                                                @(Html.Kendo().NumericTextBoxFor(m => m.ExchangeRate)
                                                                                    .Spinners(false)
                                                                                    .Format("{0:N0}")
                                                                                    .HtmlAttributes(new
                                                                                    {
                                                                                        style = "width:100%",
                                                                                        maxlength = 12,
                                                                                        @readonly = "readonly"
                                                                                    }
                                                                                ))
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group row">
                                                                    <div class="col-lg-3">
                                                                        <label asp-for="RefNumber" class="form-label"></label>
                                                                        @*<label class="label-required">*</label>*@
                                                                    </div>
                                                                    <div class="col-lg-9">
                                                                        @Html.Kendo().TextBoxFor(m => m.RefNumber).HtmlAttributes(new
                                                                           {
                                                                               style = "width:100%",
                                                                               @class = "m-input",
                                                                               @readonly = "readonly",
                                                                           })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            @*<div class="col-lg-6">
                                                                <div class="form-group row">
                                                                    <label asp-for="Description" class="col-lg-4 form-label"></label>
                                                                    <div class="col-lg-8">
                                                                        @Html.Kendo().TextBoxFor(m => m.Description).HtmlAttributes(new
                                                                        {
                                                                            style = "width:100%",
                                                                            @class = "m-input",
                                                                            @required = "required"
                                                                        })
                                                                    </div>
                                                                </div>
                                                            </div>*@
                                                            <div class="col-lg-6">
                                                                <div class="form-group row">
                                                                    <div class="col-lg-3">
                                                                        <label asp-for="YourRef"></label>
                                                                    </div>
                                                                    <div class="col-lg-9">
                                                                        @Html.Kendo().TextBoxFor(m => m.YourRef).HtmlAttributes(new
                                                                       {
                                                                           style = "width:100%",
                                                                           @class = "m-input",
                                                                           @readonly = "readonly"
                                                                       })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="adjustment" style="display:none">
                                                        <hr />
                                                        <div class="col-md-6 row">
                                                            <div class="btn-group m-btn-group" role="group" aria-label="...">
                                                                <button type="button" id="btn-adjustment" class="btn btn-sm btn-info">Items :</button>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                    </div>

                                                    <div class="form-group row m-row--no-padding">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    @*<a href="#" id="btn-PopUpRef" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Add New Row</a>*@
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12 m-row--no-padding" id="m_blockui_list">
                                                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClient>()
                                                                .Name("grid-multi-pce")
                                                                .Columns(columns =>
                                                                {
                                                                    columns.Bound(p => p.PceId).Width(200);
                                                                    columns.Bound(p => p.PceSubtotal).Width(150);
                                                                    columns.Bound(p => p.PceOtherFee).Width(150);
                                                                    columns.Bound(p => p.JobName).Width(150);
                                                                })
                                                                .DataSource(dataSource => dataSource
                                                                    .Ajax() 
                                                                    .Events(events => events.Error("errorHandler"))
                                                                    .Model(model => { model.Id(p => p.Id); })
                                                                    .Read(read => read.Action("ReadMultiPceList", "AccountReceivable").Data("grid_multi_pce_params"))
                                                                )
                                                                //.Events(evt => evt.DataBound("vendor_dataBound"))
                                                                .NoRecords()
                                                            )
                                                        </div>

                                                        <div class="col-lg-12">
                                                            <br />
                                                        </div>

                                                        <div class="col-lg-12 m-row--no-padding">
                                                            <div class="col-lg-6">

                                                            </div>
                                                            <div class="col-lg-6 float-right">
                                                                <div class="form-group row">
                                                                    <div class="col-lg-4">
                                                                        <label asp-for="TotalAmount" class="form-label"></label>
                                                                        @*<label class="label-required">*</label>*@
                                                                    </div>
                                                                    <div class="col-lg-8">
                                                                        @(Html.Kendo().NumericTextBoxFor(m => m.TotalAmount)
                                                                                    .Spinners(false)
                                                                                    .Format("{0:N0}")
                                                                                    .HtmlAttributes(new
                                                                                    {
                                                                                        style = "width:100%",
                                                                                        maxlength = 18, @readonly = "readonly"
                                                                                    }
                                                                                ))
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 m-row--no-padding">
                                                            <div class="col-lg-6">

                                                            </div>
                                                            <div class="col-lg-6 float-right">
                                                                <div class="form-group row">
                                                                    <div class="col-lg-4">
                                                                        <label asp-for="Asf" class="form-label"></label>
                                                                        @*<label class="label-required">*</label>*@
                                                                    </div>
                                                                    <div class="col-lg-2">
                                                                        @(Html.Kendo().NumericTextBoxFor(m => m.Asf)
                                                                                    .Spinners(false)
                                                                                    .Format("## \\%")
                                                                                    .Value(10)
                                                                                    .HtmlAttributes(new
                                                                                    {
                                                                                        style = "width:100%",
                                                                                        maxlength = 5,
                                                                                        @readonly = "@readonly"
                                                                                    }
                                                                                ))
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        @(Html.Kendo().NumericTextBoxFor(m => m.AsfAmount)
                                                                                    .Spinners(false)
                                                                                    .Format("{0:N0}")
                                                                                    .HtmlAttributes(new
                                                                                    {
                                                                                        style = "width:100%",
                                                                                        maxlength = 18,
                                                                                        @readonly = "@readonly"
                                                                                    }
                                                                                ))
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 m-row--no-padding">
                                                            <div class="col-lg-6">

                                                            </div>
                                                            <div class="col-lg-6 float-right">
                                                                <div class="form-group row">
                                                                    <div class="col-lg-4">
                                                                        <label asp-for="Vat" class="form-label"></label>
                                                                        @*<label class="label-required">*</label>*@
                                                                    </div>
                                                                    <div class="col-lg-2">
                                                                        @(Html.Kendo().NumericTextBoxFor(m => m.VAtPercentage)
                                                                            .Spinners(false)
                                                                            .Format("## \\%")
                                                                            .Value(10)
                                                                            .HtmlAttributes(new
                                                                            {
                                                                                style = "width:100%",
                                                                                maxlength = 5,
                                                                                @readonly = "@readonly"
                                                                            }
                                                                        ))
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        @(Html.Kendo().NumericTextBoxFor(m => m.Vat)
                                                                            .Spinners(false)
                                                                            .Format("{0:N0}")
                                                                            .HtmlAttributes(new
                                                                            {
                                                                                style = "width:100%",
                                                                                maxlength = 18,
                                                                                @readonly = "@readonly"
                                                                            }
                                                                        ))
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12  m-row--no-padding">
                                                            <div class="col-lg-6">

                                                            </div>
                                                            <div class="col-lg-6 float-right">
                                                                <div class="form-group row">
                                                                    <div class="col-lg-4">
                                                                        <label asp-for="GrandTotal"></label>
                                                                        @*<label class="label-required">*</label>*@
                                                                    </div>
                                                                    <div class="col-lg-8">
                                                                        @(Html.Kendo().NumericTextBoxFor(m => m.GrandTotal)
                                                                                .Spinners(false)
                                                                                .Format("{0:N0}")
                                                                                .HtmlAttributes(new
                                                                                {
                                                                                    style = "width:100%",
                                                                                    maxlength = 18,
                                                                                    @readonly = "readonly"
                                                                                }
                                                                            ))
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <div class="row">
                            <div class="col-lg-12 float-lg-right float-right">
                                @if (Model.ARStatus != "Posted")
                                {
                                    <button type="button" id="btn-jurnal" class="btn btn-primary">Create Jurnal</button>
                                }
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.JournalTempViewAR>()
                                    .Name("grid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.AccountCode).Width("200");
                                        columns.Bound(p => p.AccountName).Width("250");
                                        columns.Bound(p => p.AccountDescription).Width("200");
                                        columns.Bound(p => p.DivisionName).Width("200");
                                        columns.Bound(p => p.LegalName);
                                        columns.Bound(p => p.Debet).Format("{0:n0}").HtmlAttributes(new { @style = "text-align:right" });
                                        columns.Bound(p => p.Credit).Format("{0:n0}").HtmlAttributes(new { @style = "text-align:right" }); ;
                                    })
                                    .Pageable(pageable => pageable
                                        .Refresh(true)
                                        .PageSizes(true)
                                        .ButtonCount(5))
                                    .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                    .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                        .Extra(false)
                                        .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Start sWith")
                                            .EndsWith("End sWith")
                                        )))
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(rsz => rsz.Columns(true))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .Events(events => events.Error("errorHandler"))
                                        .Read(read => read.Action("GerListJournal", "AccountReceivable").Data("gridParam"))
                                    )
                                )
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-lg-12 float-lg-right float-right">
                                @if (Model.ARStatus != "Posted")
                                {
                                    <button type="button" id="btn-submit" class="btn btn-primary">Submit</button>
                                    <a href="@Url.Content("~/Finance/AccountReceivable")" class="fakelink btn btn-secondary">Cancel</a>
                                }
                                else
                                {
                                    <a href="@Url.Content("~/Finance/AccountReceivable")" class="fakelink btn btn-secondary">Close</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function grid_multi_pce_params() {
        var mpceid = $("#MultiPceId").val();
        return { multipceid: mpceid };
    }

    function gridParam() {
        return {
            invno: $("#Id").val(),
            multipceid: $("#MultiPceId").val()
        }
    }

    $(document).ready(function () {
        $('#btn-jurnal').click(function () {
            //alert('ok');
            //var isnotcomplete = false;
            //var grid = $("#treelist").data("kendoTreeList");//.dataSource.data();
            //$.each(grid.items(), function (index, data) {
            //    var ab = grid.dataItem(data).AccountID;
            //    if (ab == null || ab == undefined) {
            //        isnotcomplete = true;
            //        return;
            //    } else {
            //        isnotcomplete = if;
            //}
            //if (isnotcomplete) {
            //    Swal.fire(
            //         'Warning',
            //         'Please Choose Account Id in item',
            //         'warning'
            //       )
            //} else {
                var dataList = {
                    items_other: $("#grid-multi-pce").data("kendoGrid").dataSource.data()
                }
                callAction({ formId: "form", title: "create journal", type: "POST", url: '@Url.Action("CreateJournalMultipleAR", "AccountReceivable")', objects: dataList });
            //}
        });

        $('#btn-submit').click(function () {
            //alert('ok');
            var isnotcomplete = false;
            var jmlRow = 0;
            var grid = $("#grid").data("kendoGrid");//.dataSource.data();
            $.each(grid.items(), function (index, data) {
                //var ab = grid.dataItem(data).AccountID;
                //if (ab == null || ab == undefined) {
                //    isnotcomplete = true;
                //    return;
                //} else {
                //    isnotcomplete = false;
                //}
                jmlRow++;
            });

            if (jmlRow <= 0)
                isnotcomplete = true;

            if (isnotcomplete) {
                Swal.fire(
                        'Warning',
                        'Please Create Jurnal First',
                        'warning'
                    )
            }
            else {
            var dataList = {
                items_other: $("#grid-multi-pce").data("kendoGrid").dataSource.data()
                }
            callAction({ formId: "form", title: "submit", type: "POST", url: '@Url.Action("SubmitAR", "AccountReceivable")', objects: dataList });
            }
        });
    });

    function treeList_params() {
        var invid = $("#Id").val();
        return { invno: invid };
    }

    function saveTreeList_Event(e) {
        var actid = $("#AccountID").data("kendoDropDownList").value();
        var actname = $("#AccountID").data("kendoDropDownList").text();
        e.model.set("AccountID", actid);
        e.model.set("AccountName", actname);
    }

    function AccountID(container, options) {
        $('<input required name="' + options.field + '" id="' + options.field + '"/>')
        .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                dataTextField: "Text",
                dataValueField: "Value",
                dataSource: {
                    transport: {
                        read: '@Url.Action("GetCoaInvoiceClient", "Dropdown")', dataType: "jsonp"
                    }
                }
            });

    }
</script>