﻿@{
    ViewData["Title"] = "Account Receivable";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

@*<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />*@

<style>
    .k-grid-content td {
        word-wrap: break-word;
    }
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Account Receivable</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/AccountReceivable")" class="m-nav__link">
                        <span class="m-nav__link-text">Account Receivable List</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        @*<div class="m-portlet__head-title">
                            <div>
                                <a href="@Url.Content("~/Finance/AccountReceivable/Detail/")" class="m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
                                <button id="btn-delete" type="button" class="m-btn btn btn-danger btn-sm m-btn--sm"><i class="la la-trash"></i></button>
                            </div>
                        </div>*@
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon"
                                   aria-describedby="tooltip_d4ny9s36oh">
                                    <i class="la la-expand"></i>
                                </a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top"
                                     role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true"
                                     x-placement="top" style="position: absolute; will-change: transform;
                                        visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">
                                    <div class="tooltip-arrow arrow" style="left: 48px;"></div>
                                    <div class="tooltip-inner">Fullscreen</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClient>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.Id).Title("Inv No").ClientTemplateId("invno-template").Width(120);
                                columns.Bound(p => p.InvoiceDate).ClientTemplateId("invdate-template").Title("Date").Width(140); ;
                                columns.Bound(p => p.JobId).Width(160).ClientTemplateId("jobid-template").HeaderHtmlAttributes(new { @style = "white-space: normal" }).Title("Job ID-Name");
                                columns.Bound(p => p.ClientName).Format("{0:n0}").Width(180).HtmlAttributes(new { @style = "text-align:right" });
                                columns.Bound(p => p.GrandTotal).Title("Amount").Format("{0:n0}").Width(150).HtmlAttributes(new { @style = "text-align:right" });
                                columns.Bound(p => p.Status).Title("Status").ClientTemplateId("status-template").Width(100);
                                columns.Bound(p => p.LegalEntity).Width(150);
                                columns.Bound(p => p.Division).Width(150).Title("Business Unit");
                                //columns.Bound("").Title("Status").ClientTemplate("#= GetStatusButton(data) #").Width(150);
                            })
                            .Pageable(pageable => pageable
                                .Refresh(true)
                                .PageSizes(true)
                                .ButtonCount(5))
                            .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                            .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                .Extra(false)
                                .Operators(operators => operators
                                .ForString(str => str.Clear()
                                    .Contains("Contains")
                                    .StartsWith("Start sWith")
                                    .EndsWith("End sWith")
                                )))
                            .Scrollable(s => s.Enabled(true).Height("auto"))
                            .Resizable(rsz => rsz.Columns(true))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(10)
                                // .Events(events => events.Error("errorHandler"))
                                .Model(model => { model.Id(p => p.PceCode); })
                                .Read(read => read.Action("ReadIndex", "AccountReceivable").Data("grid_params"))
                            )
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<script id="jobid-template" type="text/x-kendo-template">
    <span'>#=JobId# - #=JobName# </span'>
</script>
<script id="invdate-template" type="text/x-kendo-template">
    #if(InvoiceDate != null){# #= kendo.toString(kendo.parseDate(InvoiceDate), 'dd MMMM yyyy') # #}#
</script>
<script id="invno-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'><span style='color:blue; text-decoration:underline;'>#=Id#</span></a>
</script>
<script id="status-template" type="text/x-kendo-template">
    #if (Status == 'Open'){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--warning m-badge--wide'> Open</a></center>
    #}#
    #if (Status == 'ACCRUED'){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--success m-badge--wide'> Posted</a></center>
    #}#
    #if (Status == 'Posted'){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--success m-badge--wide'> Posted</a></center>
    #}#
</script>

<script>
    function LinktoDtl(data) {
        return "<center><a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'>" + data.Id + "</a></center>";
    }

    function editGridRow(e) {
        var item = dataItem(e);
        //var serviceType = item.ServiceType;
        window.location.href = '@Url.Action("Detail", "AccountReceivable")?invno=' + item.Id + '&multid=' + (item.MultiPceId == null ? "" : item.MultiPceId + '&status=' + item.Status);
    }

    function OnChange() {
        mApp.block("#m_blockui_list", {
            overlayColor: "#000000",
            type: "loader",
            state: "primary",
            message: "Processing..."
        });

        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();
        mApp.unblock("#m_blockui_list");
    };

    function grid_params() {
        return {
            status:"",
            legal: ""
        };
    }

    function GetStatusButton(data) {
        var buttonType = "";
        console.log('Status :' + data.Status);
        if (data.Status == "@PhoenixERPWebApp.Models.ARStatus.Open") buttonType = "m-badge--warning";
        else if (data.Status == "@PhoenixERPWebApp.Models.ARStatus.WaitingApproval") buttonType = " m-badge--warning";
        else if (data.Status == "@PhoenixERPWebApp.Models.ARStatus.Posted") buttonType = " m-badge--success";
        return "<center><a href='javascript: void(0);' onclick='#' class='m-badge " + buttonType + " m-badge--wide'>" + data.Status + "</a></center>";
    }
</script>
@*@section Scripts{
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Finance/Scripts/AccountReceivable.Index.js?@DateTime.Now" asp-append-version="true"></script>
}*@