﻿<link href="~/vendors/custom/KendoUI/styles/kendo.metro.min.css" rel="stylesheet" />
<link href="~/vendors/custom/KendoUI/styles/kendo.metro.mobile.min.css" rel="stylesheet" />
<input hidden id="detail-id" value="@ViewBag.RecordID" />
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Application Role</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Master Data</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Core/ApplicationRole")" class="m-nav__link">
                        <span class="m-nav__link-text">Application Role</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Application Role Settings
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line  m-tabs-line--right" role="tablist" id="tabs-setup">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_role_access" role="tab">
                                    Setup
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_entity_setup" role="tab">
                                    Entity Setup
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_tabs_role_access" role="tabpanel">
                            <form id="form-application_role" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                                <input hidden name="id" value="@ViewBag.RecordID" />

                                <div class="row m-row--col-separator-xl">
                                    <div class="col-lg-3">
                                        <div class="m-form__group-sub m--margin-bottom-20">
                                            <h6 id="company_name">Role Name:</h6>
                                            <div class="input-group input-group-sm">
                                                <input id="role_name" name="role_name" type="text" class="form-control form-control-sm m-input" placeholder="Enter role name">
                                            </div>

                                        </div>
                                        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                                            <div class="m-form__actions m-form__actions--solid">
                                                <div class="row pull-right">
                                                    <div class="col-lg-12">
                                                        <button type="button" id="btn-save" class="btn btn-sm btn-primary">Save</button>
                                                        <a href="@Url.Content("~/Core/ApplicationRole")" class="btn btn-sm btn-secondary">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="example" class="col-lg-9 ">
                                        <h6>MEMBER</h6>
                                        <div class="input-group" style="width:326px;margin-bottom:5px;">
                                            <div class="input-group-prepend"><span class="input-group-text input-group-sm"><i class="la la-search"></i></span></div>
                                            <input autocomplete="off" type="text" name="q" class="form-control form-control-sm m-input searchbox" placeholder="Search">
                                        </div>
                                        <div class="col-lg-12 demo-section k-content wide row ">
                                            <select id="optional"></select>
                                            <select id="selected"></select>
                                            <script type="text/x-kendo-template" id="toolbar_optional">
                                                <div class="toolbar">
                                                    <label class="category-label" for="category">Show products by category:</label>
                                                    <input type="search" id="category" style="width: 150px" />
                                                </div>
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </form>
                        </div>
                        <div class="tab-pane" id="m_tabs_entity_setup" role="tabpanel">
                            <div class="row m-row--col-separator-xl">
                                <div class="col-lg-12">
                                    <div class="m-form__group-sub m--margin-bottom-20">
                                        <div class="row" id="loadroleaccess" data-url="@Url.Content("~/core/RoleAccess/SetupRoleAccess")">
                                            <div class="col-xl-12 no-record collapse">
                                                <div class="alert m-alert--default" role="alert">
                                                    <strong>Cannot Setup Role Access</strong> Please save your activity.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/ApplicationRole.Detail.js?@DateTime.Now" asp-append-version="true"></script>

}

<style>
    #example .demo-section {
        max-width: none;
        width: 100%;
    }

    #example .toolbar {
        width: 326px;
        margin-right: 2px;
    }

    #example .k-listbox .k-listbox-toolbar {
        padding-right: 5px;
    }

    #example .k-listbox {
        width: 326px;
        height: 310px;
    }

        #example .k-listbox:first-child {
            width: 360px;
            margin-right: 1px;
        }

    .k-ghost {
        display: none !important;
        height: 50px;
    }

    .custom-placeholder {
        opacity: 0.4;
    }

    #example .k-item {
        line-height: 1em;
        height: 50px;
    }

    /* Material Theme padding adjustment*/

    .k-material #example .k-item,
    .k-material #example .k-item.k-state-hover,
    .k-materialblack #example .k-item,
    .k-materialblack #examplel .k-item.k-state-hover {
        padding-left: 5px;
        border-left: 0;
    }

    .k-item > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 12px 10px 10px 5px;
    }

    #example .k-item > span:first-child,
    .k-item.k-drag-clue > span:first-child {
        -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
        -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
        box-shadow: inset 0 0 30px rgba(0,0,0,.3);
        margin: 10px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #example h3,
    .k-item.k-drag-clue h3 {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 1px 0;
        padding: 0;
    }

    #example p {
        margin: 0;
        padding: 0;
        font-size: .8em;
    }
</style>