@{
    ViewData["Title"] = "Organization";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="OrganizationFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="is_default_organization">is_default_organization</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="is_default_organization" id="is_default_organization"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="organization_name">organization_name</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="organization_name" id="organization_name" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="parent_organization_id">parent_organization_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="parent_organization_id" id="parent_organization_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="smtp_from_address">smtp_from_address</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="smtp_from_address" id="smtp_from_address"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="smtp_password">smtp_password</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="smtp_password" id="smtp_password"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="smtp_port">smtp_port</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="smtp_port" id="smtp_port"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="smtp_server">smtp_server</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="smtp_server" id="smtp_server"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="smtp_username">smtp_username</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="smtp_username" id="smtp_username"  maxlength="450" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/General/Organization" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/General/Form/Organization.update.js"></script>
}
