﻿@model PhoenixERPWebApp.Models.Termination
@{
    DateTime? LastDayDate = DateTime.Now;
    DateTime? TerminationDate = DateTime.Now;
    if (!string.IsNullOrEmpty(Model.Id))
    {
        if (LastDayDate >= Model.LastDayDate)
        {
            LastDayDate = Model.LastDayDate;
        }

        if (TerminationDate >= Model.TerminationDate)
        {
            TerminationDate = Model.TerminationDate;
        }
    }
}
<input type="hidden" asp-for="TerminationInterviewDate" />
<input type="hidden" asp-for="ExitInterviewFiles" />
<input type="hidden" asp-for="EffectiveResignDate" />
<input type="hidden" asp-for="WarningLetter" />
<input type="hidden" asp-for="WarningLetterDate" />

<hr/>
<div class="row">
    <div class="col-lg-4 m-form__group-sub">
        <div class="form-group">
            <label asp-for="LastDayDate"></label> <span class="req">*</span> :
            @(Html.Kendo().DatePickerFor(m => m.LastDayDate)
                .Format("dd MMM yyyy")
                .Min($"{LastDayDate}")
                .HtmlAttributes(new
                {
                    style = "width:100%",
                    @class = "form-control form-control-sm m-input",
                    required = "required",
                    placeholder = $"Choose a {Html.DisplayNameFor(m => m.LastDayDate)}",
                    onkeydown = "javascript:return false;"
                })
            )
        </div>
    </div>

    <div class="col-lg-4 m-form__group-sub">
        <div class="form-group">
            <label asp-for="TerminationDate"></label> <span class="req">*</span> :
            @(Html.Kendo().DatePickerFor(m => m.TerminationDate)
                .Format("dd MMM yyyy")
                .Min($"{TerminationDate}")
                .HtmlAttributes(new
                {
                    style = "width:100%",
                    @class = "form-control form-control-sm m-input",
                    required = "required",
                    placeholder = $"Choose a {Html.DisplayNameFor(m => m.TerminationDate)}",
                    onkeydown = "javascript:return false;"
                })
            )
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 m-form__group-sub">
        <div class="form-group">
            <label asp-for="Notes"></label> <span class="req">*</span> :
            @(Html.Kendo().EditorFor(x => x.Notes)
                .HtmlAttributes(new { style = "width:100%", aria_label = "editor", required = "required" })
                .Resizable(resizable => resizable.Content(true).Toolbar(true))
                .Placeholder($"Type your {Html.DisplayNameFor(m => m.Notes)} here")
            )
        </div>
    </div>
</div>