@{
    ViewData["Title"] = "CentralResource";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="CentralResourceFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="business_unit_id">business_unit_id</span> :</label>
                <select required id="business_unit_id" name="business_unit_id" class="form-control form-control-sm m-input m-input--square"></select>
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="name">name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="name" id="name" maxlength="200" type="text">
            </div>
            <div class="m-form__group form-group">
                <label><span class="translate" data-args="is_channel">is_channel</span></label>
                <div class="m-checkbox-list">
                    <label class="m-checkbox m-checkbox--check-bold">
                        <input type="checkbox" name="is_channel" value="true" id="is_channel"> Channel
                        <span></span>
                    </label>
                    </div>
                </div>
                    
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
                    <a href="~/General/CentralResource" class="fakelink btn btn-secondary">Close</a>
                </div>

            </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/General/Form/CentralResource.create.js"></script>
}
