@{
    ViewData["Title"] = "MppApprovedStatus";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{

}

@section Paneltools{

}
@section Panelbody{
    <style>
        .m-margin__top-20 {
            margin-top: 20px !important;
        }

        .redtext {
            color: red !important;
        }

        .bluetext {
            color: blue !important;
        }

        .greentext {
            color: greenyellow !important;
        }
    </style>
    <form id="MppDetailFormApproved" name="MppDetailFormApproved" method="post">
        <div class="row m-row--col-separator-xl">
            <div class="col-lg-4">
                <div class="form-group">
                    <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
                    <label><span class="translate" data-args="fiscal_year">Fiscal Year</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" type="hidden" id="total_budget" name="total_budget">
                    <input class="form-control form-control-sm m-input m-input--square" type="hidden" id="status" name="status">
                    <input class="form-control form-control-sm m-input m-input--square" type="hidden" id="code" name="code">
                    <input class="form-control form-control-sm m-input m-input--square" type="hidden" id="b_unit_id" name="b_unit_id">
                    <span id="tmpmpp"></span>
                    <input class="form-control form-control-sm m-input m-input--square" name="fiscal_year" id="fiscal_year" maxlength="255" type="text" placeholder="Fiscal Year" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="Divisi">Divisi</span> :</label>
                    <input id="business_unit_id_name" name="business_unit_id_name" class="form-control form-control-sm m-input m-input--square" type="text" readonly />
                    <span class="md-input-bar "></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <input id="business_unit_id" name="business_unit_id" class="md-input" type="hidden">

                    <span class="md-input-bar "></span>
                </div>
            </div>
        </div>
        <hr />


        <div class="row">
            <div class="col-lg-12">
                <table id="MppDetailList" class="table table-striped table-bordered table-hover table-checkable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Job Title</th>
                            <th>TFF</th>
                            <th>Employment Status</th>
                            <th>MPP Budget</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-form__group-sub">
                <div class="form-group">
                    <label>
                        <h5>Approval</h5>
                    </label>
                    <div class="m-section__content">
                        <table class="table table-striped table-bordered table-hover table-checkable" id="MppAprovalApproverList">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Title</th>
                                    <th>Approver Name</th>
                                    <th><center>Approval Status</center></th>
                                    <th><center>Approved Date</center></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="no_data">
                                    <td colspan="5">No Data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12" id="with_approval" style="display:none">
                <center>

                    <button type="button" id="btn-save" class="btn btn-success" onclick="ApprovedData()">Approved</button>
                    <a data-target="#MppApprovedStatusModalSearch" data-toggle="modal" id="btn-submit" name="btn-submit" class="btn btn-danger"><span class="translate" data-args="reject">Reject</span></a>
                    <a href="../../../../hris/Mpp" class="fakelink btn btn-secondary">Cancel</a>
                </center>
            </div>
            <div class="col-lg-12" id="no_approval">
                <center>
                    <a href="../../../../hris/Mpp" class="fakelink btn btn-secondary">Cancel</a>
                </center>
            </div>
        </div>
    </form>
    @Html.Partial("MppApprovedStatus/Search")
}
@section Panelscript{
    <script src="~/approval/gmApproval.js"></script>
    <script src="~/assets/js/Areas/Hris/Form/MppApprovedStatus.js"></script>
}
