﻿<input hidden id="detail-id" value="@ViewBag.RecordID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Currency Exchange</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Master Data</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/CurrencyExchange")" class="m-nav__link">
                        <span class="m-nav__link-text">Currency Exchange</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <form id="form-CurrencyExchange" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                    <input hidden name="id" value="@ViewBag.RecordID" />
                    <div class="m-portlet__body">
                        <div class="m-form__group">
                            <div class="row">
                                <!-- Begin: Lookup Source Currency -->
                                <div class="col-lg-4 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Source Currency Name :</label>
                                        <select id="source_currency" name="source_currency" class="form-control form-control-sm m-input m-input--square"></select>
                                    </div>
                                </div>
                                <!-- End: Lookup Source Currency-->
                                <!-- Begin: Lookup Target Currency -->
                                <div class="col-lg-4 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Target Currency Name :</label>
                                        <select id="target_currency" name="target_currency" class="form-control form-control-sm m-input m-input--square"></select>
                                    </div>
                                </div>
                                <!-- End: Lookup Target Currency -->
                                <!-- Begin: Input Exchange Rate -->
                                <div class="col-lg-4 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Exchange Rate :</label>
                                        <input id="exchange_rate" name="exchange_rate" type="text" class="form-control form-control-sm m-input" placeholder="Enter Exchange Rate">
                                    </div>
                                </div>
                                <!-- End: Input Exchange Rate -->
                            </div>

                            <div class="row">
                                <!-- Begin: Start Date -->
                                <div class="col-lg-6 m-form__group-sub">
                                    <label class="form-control-label">Start Date :</label>
                                    <div class="input-group input-group-sm date">
                                        <input type="text" class="form-control form-control-sm m-input m--margin-bottom-30" name="start_date" readonly="" placeholder="Select Date" id="m_datetimepicker_2">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End: Start Date-->
                                <!-- Begin: End Date -->
                                <div class="col-lg-6 m-form__group-sub">
                                    <label class="form-control-label">End Date :</label>
                                    <div class="input-group input-group-sm date">
                                        <input type="text" class="form-control form-control-sm m-input m--margin-bottom-30" name="end_date" readonly="" placeholder="Select Date" id="m_datetimepicker_2">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End: End Date -->
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="button" id="btn-save" class="btn btn-sm btn-primary">Save</button>
                                    <a href="@Url.Content("~/Finance/CurrencyExchange")" class="btn btn-sm btn-secondary">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/demo/demo_12/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="~/vendors/custom/momenjs/moment.min.js"></script>
    <script src="~/Areas/Finance/Scripts/CurrencyExchange.Detail.js"></script>
}