@{
    ViewData["Title"] = "OrganizationJobLevel";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="OrganizationJobLevelFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="business_unit_id">business_unit_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="business_unit_id" id="business_unit_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="job_level_id">job_level_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="job_level_id" id="job_level_id"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/OrganizationJobLevel" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/OrganizationJobLevel.create.js"></script>
}
