@{
    ViewData["Title"] = "TemporaryManager";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="TemporaryManagerFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="application_user_id">application_user_id</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="application_user_id" id="application_user_id" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="description">description</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="description" id="description"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="end_date">end_date</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="end_date" id="end_date" required  type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="manager_id">manager_id</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="manager_id" id="manager_id" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="start_date">start_date</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="start_date" id="start_date" required  type="number">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/General/TemporaryManager" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/General/Form/TemporaryManager.update.js"></script>
}
