﻿@model PhoenixERPWebApp.Models.Finance.Transaction.InvoiceReceived.InvoiceReceivedList
@{
    ViewData["Title"] = "Invoice Received Detail";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<style>
    .empty-grid::before {
        padding: 1em;
        line-height: 3em;
        content: "No records found.";
    }
    .top_u_2 {
        padding-top: 2em;
    }
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            @*<h3 class="m-subheader__title m-subheader__title--separator">Invoice Received</h3>*@
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Account Payable</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/InvoiceReceived")" class="m-nav__link">
                        <span class="m-nav__link-text">Invoice Received</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head" style="background:#fafafa">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    @if (string.IsNullOrEmpty(Model.Id))
                                    {
                                        <span>Create Invoice Received  &nbsp;</span>
                                    }
                                    else
                                    {
                                        <span>Edit Invoice Received  &nbsp;</span>
                                    }

                                    @if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.Open)
                                    {
                                        <span class="m-badge m-badge--info m-badge--wide" id="status">Open</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.ApproveFrontDesk)
                                    {
                                        <span class="m-badge m-badge--success m-badge--wide" id="status">Approved FrontDesk</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.ApproveAdmin)
                                    {
                                        <span class="m-badge m-badge--success m-badge--wide" id="status">Approved by Admin Finance</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.TAP)
                                    {
                                        <span class="m-badge m-badge--warning m-badge--wide" id="status">TAP</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.JournalConfirm)
                                    {
                                        <span class="m-badge m-badge--info m-badge--wide" id="status">JournalConfirm</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.TaxVerivication)
                                    {
                                        <span class="m-badge m-badge--dark m-badge--wide" id="status">TaxVerification</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.AP)
                                    {
                                        <span class="m-badge m-badge--success m-badge--wide" id="status">Account Payable</span>
                                    }

                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">


                            <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-form__group">
                        <form id="form" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="InvoiceStatusId" />
                            <input type="hidden" asp-for="ApprovalAdminDesk" />
                            <input type="hidden" asp-for="ApprovalFrontDesk" />
                            <div class="row">
                                <div class="col-lg-6 m-row--no-padding">
                                    <div class="form-group">
                                        <label>Invoice Received Number :</label>
                                        @Html.Kendo().TextBoxFor(m => m.InvoiceNumber).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", style = "width:100%", Placeholder = "Auto Generated by System.." })
                                    </div>
                                    <div class="form-group">
                                        <label>Invoice Received Date :</label>
                                        @Html.Kendo().DatePickerFor(m => m.InvoiceDate).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", style = "width:100%" })
                                    </div>
                                    <div class="form-group">
                                        <label>Vendor:</label>
                                        @(Html.Kendo().DropDownListFor(m => m.ClientId)
                                                        .DataTextField("Text")
                                                        .OptionLabel("Select Vendor...")
                                                        .DataValueField("Value")
                                                        .Filter(FilterType.Contains)
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("GetDDLVendor", "DropDown", new { area = "Finance" });
                                                            });
                                                        })
                                                        .Events(e =>
                                                        {
                                                            e.Change("onSelectVendor");
                                                        })
                                                        .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                    <div class="form-group">
                                        <label>Purchase Order No:</label>
                                        @(Html.Kendo().DropDownListFor(m => m.PoId)
                                                    .DataTextField("Text")
                                                    .OptionLabel("Select PO...")
                                                    .DataValueField("Value")
                                                    .Filter(FilterType.Contains)
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action("GetPOClient", "DropDown", new { area = "Finance" }).Data("filterPurchaseOrders");
                                                        }).ServerFiltering(true); ;
                                                    })
                                                    .Events(e =>
                                                    {
                                                        e.Change("onSelectPO");
                                                    })
                                                    .CascadeFrom("ClientId")
                                                    .Enable(false)
                                                    .AutoBind(false)
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                    <div class="form-group">
                                        <label>Tax Number</label>
                                        @Html.Kendo().TextBoxFor(m => m.TaxNumber).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                    <div class="form-group">
                                        <label class="">Allocation Ratio :</label>
                                        @(Html.Kendo().DropDownListFor(m => m.AllocationRatio)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .BindTo(new List<SelectListItem>() {
                                                new SelectListItem() {
                                                    Text = "Normal",
                                                    Value = "0"
                                                },
                                                new SelectListItem() {
                                                    Text = "Cost Allocation",
                                                    Value = "1"
                                                }
                                            })
                                            .SelectedIndex(0)
                                            .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-lg-6  m-row--no-padding">
                                    <div class="form-group">
                                        <label>Reference Invoice Vendor</label>
                                        <input type="hidden" asp-for="InvoiceVendor" />
                                        @Html.Kendo().TextBoxFor(m => m.InvoiceVendorText).HtmlAttributes(new { @class = "form-control form-control-sm" })

                                    </div>
                                    <div class="form-group">
                                        <label>Reference Date Vendor :</label>
                                        @Html.Kendo().DatePickerFor(m => m.InvoiceVendorDate).HtmlAttributes(new { @class = "form-control form-control-sm", style = "width:100%" })

                                    </div>
                                    <div class="form-group">
                                        <label>Due Date :</label>
                                        @Html.Kendo().NumericTextBoxFor(m => m.DueDays).HtmlAttributes(new { @class = "form-control form-control-sm", style = "width:100%" })
                                    </div>
                                    <div class="form-group">
                                        <label>Periode :</label>
                                        @(Html.Kendo().DatePickerFor(m => m.Periode)
                                                    .Depth(CalendarView.Year)
                                                    .Start(CalendarView.Year)
                                                    .Format("MMMM/yyyy").HtmlAttributes(new { @class = "m-input", style = "width:100%" })
                                        )
                                    </div>
                                    <div class="form-group">
                                        <label>Tax Date</label>
                                        @Html.Kendo().DatePickerFor(m => m.TaxDate).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                  
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <div class="form-group">
                                        <label>Document Checklist :</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 m-row--no-padding">
                                    <div class="form-group">
                                        <div class="input-group input-group-sm">
                                            @(Html.Kendo().CheckBoxFor(m => m.PoCheckList).Label("Purchase Order"))
                                            <input type="hidden" asp-for="PoCheckListData" />
                                        </div>
                                        @Html.Kendo().Upload().Name("PoObject").Multiple(false)
                                    </div>
                                </div>
                                <div class="col-lg-2 m-row--no-padding">
                                    <div class="form-group">
                                        <div class="input-group input-group-sm">
                                            @(Html.Kendo().CheckBoxFor(m => m.ContractCheckList).Label("Contract"))
                                            <input type="hidden" asp-for="ContractCheckListData" />
                                        </div>
                                        @Html.Kendo().Upload().Name("ContractObject").Multiple(false)
                                    </div>
                                </div>
                                <div class="col-lg-2 m-row--no-padding">
                                    <div class="form-group">
                                        <div class="input-group input-group-sm">
                                            @(Html.Kendo().CheckBoxFor(m => m.TaxCheckList).Label("Tax"))
                                            <input type="hidden" asp-for="TaxCheckListData" />
                                        </div>
                                        @Html.Kendo().Upload().Name("TaxObject").Multiple(false)
                                    </div>
                                </div>
                                <div class="col-lg-2 m-row--no-padding">
                                    <div class="form-group">
                                        <div class="input-group input-group-sm">
                                            @(Html.Kendo().CheckBoxFor(m => m.GrCheckList).Label("Good Received (BAST)"))
                                            <input type="hidden" asp-for="GrCheckListData" />
                                        </div>
                                        @Html.Kendo().Upload().Name("GrObject").Multiple(false)
                                    </div>
                                </div>
                                <div class="col-lg-2 m-row--no-padding">
                                    <div class="form-group">
                                        <div class="input-group input-group-sm">
                                            @(Html.Kendo().CheckBoxFor(m => m.DoCheckList).Label("Delivery Order(DO)"))
                                            <input type="hidden" asp-for="DoCheckListData" />
                                        </div>
                                        @Html.Kendo().Upload().Name("DoObject").Multiple(false)
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row" id="company_data_detail" style="display:none">
                                <div class="col-lg-12 m-row--no-padding">
                                    <div class="m-accordion m-accordion--bordered m-accordion--solid" id="vendor_detail" role="tablist">
                                        <!--begin::Item-->
                                        <div class="m-accordion__item">
                                            <div class="m-accordion__item-head" role="tab" id="vendor_detail_head" data-toggle="collapse" href="#vendor_detail_body" aria-expanded="true">
                                                <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                                <span class="m-accordion__item-title">Vendor Detail</span>
                                                <span class="m-accordion__item-mode"></span>
                                            </div>
                                            <div class="m-accordion__item-body show" id="vendor_detail_body" role="tabpanel" aria-labelledby="vendor_detail_head" data-parent="#vendor_detail" style="">
                                                <div class="m-accordion__item-content">
                                                    <div class="row">
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Vendor Name :</label>
                                                                <input type="hidden" asp-for="VendorName" />
                                                                <br /><label style="width: 100%; height:100%" id="VendorNameSpan" name="VendorNameSpan">&nbsp;</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Tax Registration / NPWP :</label>
                                                                <input type="hidden" asp-for="VendorNPWP" />
                                                                <br /><span style="width: 100%;height:100%" id="VendorNPWPSpan" name="VendorNPWPSpan">987192738172831</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Official Address :</label>
                                                                <input type="hidden" asp-for="VendorAddress" />
                                                                <br /><span style="width: 100%;height:100%" id="VendorAddressSpan" name="VendorAddressSpan">Jl. Angsawara No 52, Jakarta Selatan Indonesia</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>City :</label>
                                                                <input type="hidden" asp-for="VendorCity" />
                                                                <br /><span style="width: 100%;height:100%" id="VendorCitySpan" name="VendorCitySpan">Jakarta</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Zip Code :</label>
                                                                <input type="hidden" asp-for="VendorZipCode" />
                                                                <br /><span style="width: 100%;height:100%" id="VendorZipCodeSpan" name="VendorZipCodeSpan">504389</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Contact Person :</label>
                                                                <input type="hidden" asp-for="VendorContactPerson" />
                                                                <br /><span style="width: 100%;height:100%" id="VendorContactPersonSpan" name="VendorContactPersonSpan">Roku</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Contact Number :</label>
                                                                <input type="hidden" asp-for="VendorContactPerson" />
                                                                <br /><span style="width: 100%;height:100%" id="VendorContactNumberSpan" name="VendorContactNumberSpan">0182391829132</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row" id="po_data_detail" style="display:block">
                                <div class="col-lg-12 m-row--no-padding">
                                    <div class="m-accordion m-accordion--bordered m-accordion--solid" id="po_detail" role="tablist">
                                        <!--begin::Item-->
                                        <div class="m-accordion__item">
                                            <div class="m-accordion__item-head collapsed" role="tab" id="po_detail_head" data-toggle="collapse" href="#po_detail_body" aria-expanded="true">
                                                <span class="m-accordion__item-icon"><i class="fa fa-shopping-cart"></i></span>
                                                <span class="m-accordion__item-title">Purchase Order Detail</span>
                                                <span class="m-accordion__item-mode"></span>
                                            </div>
                                            <div class="m-accordion__item-body collapse" id="po_detail_body" role="tabpanel" aria-labelledby="po_detail_head" data-parent="#po_detail" style="">
                                                <div class="m-accordion__item-content">
                                                    <div class="row">
                                                        <div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Job Ref #</label>
                                                                <input type="hidden" asp-for="JobId" />
                                                                @Html.Kendo().TextBoxFor(m => m.JobName).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                           
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Termin :</label>
                                                                @Html.Kendo().TextBoxFor(m => m.Termin).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Division :</label>
                                                                <input type="hidden" asp-for="DivisionId" />
                                                                @Html.Kendo().TextBoxFor(m => m.DivisionName).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Currency</label>
                                                                <div class="input-group-prepend">
                                                                    @(Html.Kendo().DropDownListFor(m => m.CurrencyId)
                                                                                .DataTextField("Text")
                                                                                .DataValueField("Value")
                                                                                .Filter(FilterType.Contains)
                                                                                .DataSource(source =>
                                                                                {
                                                                                    source.Read(read =>
                                                                                    {
                                                                                        read.Action("GetDDLCurrency", "DropDown", new { area = "Finance" });
                                                                                    });
                                                                                })
                                                                                .HtmlAttributes(new { style = "width:100%;", @readonly = "readonly" })
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Exchange :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.ExchangeRate).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Total PO Amount</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.Value).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Value Amount :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.Amount).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                            </div>
                                                            
                                                            <div class="form-group">
                                                                <label>Vat :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.Vat).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Total Amount :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.TotalAmount).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row" id="notes_data_detail" style="display:block">
                                <div class="col-lg-12 m-row--no-padding">
                                    <div class="m-accordion m-accordion--bordered m-accordion--solid" id="notes_detail" role="tablist">
                                        <!--begin::Item-->
                                        <div class="m-accordion__item">
                                            <div class="m-accordion__item-head collapsed" role="tab" id="notes_detail_head" data-toggle="collapse" href="#notes_detail_body" aria-expanded="true">
                                                <span class="m-accordion__item-icon"><i class="fa fa-sticky-note"></i></span>
                                                <span class="m-accordion__item-title">Notes</span>
                                                <span class="m-accordion__item-mode"></span>
                                            </div>
                                            <div class="m-accordion__item-body collapse" id="notes_detail_body" role="tabpanel" aria-labelledby="notes_detail_head" data-parent="#notes_detail" style="">
                                                <div class="m-accordion__item-content">
                                                    <div class="row">
                                                        <div class="col-lg-2 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Description :</label>
                                                            </div>
                                                            <br /><br /><br /><br /><br /><br /><br /><br /><br />

                                                            <div class="form-group">
                                                                <label>Notes :</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-10 m-form__group-sub">
                                                            <div class="form-group">
                                                                <textarea asp-for="Description" rows="10" cols="40" class="form-control form-control-sm"></textarea>
                                                            </div>
                                                            <hr />
                                                            <div class="form-group">

                                                                @if (Model.InvoiceStatusId == "2")
                                                                {
                                                                    <textarea asp-for="AdminNotes" rows="10" cols="40" class="form-control form-control-sm"></textarea>
                                                                    @Html.HiddenFor(m => m.FrontDeskNotes)
                                                                }
                                                                else
                                                                {
                                                                    <textarea asp-for="FrontDeskNotes" rows="10" cols="40" class="form-control form-control-sm"></textarea>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row" id="inv_data_detail" style="display:block">
                                <div class="col-lg-12 m-row--no-padding">
                                    <div class="m-accordion m-accordion--bordered m-accordion--solid" id="inv_detail" role="tablist">
                                        <!--begin::Item-->
                                        <div class="m-accordion__item">
                                            <div class="m-accordion__item-head collapsed" role="tab" id="inv_detail_head" data-toggle="collapse" href="#inv_detail_body" aria-expanded="true">
                                                <span class="m-accordion__item-icon"><i class="fa fa-info-circle"></i></span>
                                                <span class="m-accordion__item-title">Invoice Detail</span>
                                                <span class="m-accordion__item-mode"></span>
                                            </div>
                                            <div class="m-accordion__item-body collapse" id="inv_detail_body" role="tabpanel" aria-labelledby="inv_detail_head" data-parent="#inv_detail" style="">
                                                <div class="m-accordion__item-content">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.InvoiceReceived.InvoiceReceivedDetailList>()
                                                                        .Name("grid")
                                                                        .Columns(columns =>
                                                                        {
                                                                            if (!string.IsNullOrEmpty(Model.Id))
                                                                            {

                                                                                columns.Command(command =>
                                                                                {
                                                                                    command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                                                    command.Destroy().Text(" ");
                                                                                }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);

                                                                            }
                                                                            columns.Bound(p => p.Item_type_id).EditorTemplateName("Finance/TemporaryAccountPayable/ItemTypeDropdown").ClientTemplate("#=getTypeName(data)#").Width(200).Title("Item");
                                                                            columns.Bound(p => p.TaskDetail).Width(200);
                                                                            columns.Bound(p => p.AmountPaid).Title("Amount").Width(200).Format("{0:n2}");
                                                                        })
                                                                      
                                                                        .Editable(x => x.Mode(GridEditMode.InLine))
                                                                        
                                                                        .DataSource(dataSource => dataSource
                                                                            .Ajax()
                                                                            .PageSize(10)
                                                                            .Events(events => events.Error("errorHandler"))
                                                                            .Model(model => { model.Id(p => p.Id); })
                                                                            .Read(read => read.Action("ReadDetail", "InvoiceReceived").Data("GetInvId"))
                                                                            .Create(create => create.Action("CreateDetailList", "InvoiceReceived"))
                                                                            .Update(update => update.Action("UpdateDetailList", "InvoiceReceived"))
                                                                            .Destroy(destroy => destroy.Action("DestroyDetailList", "InvoiceReceived"))
                                                                        )
                                                                        .Events(e => e.Save("saveDetailList"))
                                                                        .NoRecords()
                                                            )
                                                            <br />
                                                        </div>
                                                    </div>
                                                    <br /><br />
                                                    <div class="row">
                                                        <!-- Begin: TotalNet -->
                                                        <div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Total Invoice Net :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.NetAmount).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Prompt Payment :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.PromptPayment).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">&nbsp</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.PromptPayment2).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Other Discount :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.OtherDiscount).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <!-- End: TotalNet -->
                                                    </div>
                                                    <div class="row">
                                                        <!-- Begin: PromptPayment -->
                                                        <div class="col-lg-2 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Value Added Tax :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.ValueAddedTax).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">&nbsp</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.ValueAddedTaxPercent).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">&nbsp</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.ValueAddedTaxOn).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Advertising Tax :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.AdvertisingTax).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Total Cost Vendor :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.TotalCostVendor).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                            </div>
                                                        </div>
                                                        <!-- End: PromptPayment -->
                                                    </div>
                                                    <div class="row">
                                                        <!-- Begin: OtherDiscount -->
                                                        <div class="col-lg-2 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Tax Payable :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.TaxPayable).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">&nbsp</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.TaxPayablePercent).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">&nbsp</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.TaxPayableOn).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group top_u_2">
                                                                <a href="javascript:;" class="m-btn btn btn-primary btn-sm m-btn--sm" onclick="GenerateDetialDataList()">Create Detail List</a>
                                                            </div>
                                                        </div>

                                                        <!-- End: OtherDiscount -->
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br /> <br />
                        </form>
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-lg-8">
                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.InvoiceReceived.InvoiceReceivedList>()
                                .Name("grid-1")
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.InvoiceDate).Format("{0:dd/MM/yyyy}");
                                    columns.Bound(p => p.StatusName);
                                    columns.Bound(p => p.FrontDeskNotes);
                                    columns.Bound(p => p.AdminNotes);
                                })

                                    .NoRecords()
                                    .Resizable(rsz => rsz.Columns(true))
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(10)
                                    .Events(events => events.Error("errorHandler"))
                                    .Model(model => { model.Id(p => p.Id); })
                                    .Read(read => read.Action("GetHistory", "InvoiceReceived").Data("getPoId"))
                                    )
                            )
                        </div>
                        <div class="col-lg-4">

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        @if (Model.InvoiceStatusId == PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.ApproveFrontDesk)
                        {
                            <div class="col-lg-7">
                                &nbsp;
                            </div>
                            <div class="col-lg-5">
                                <button type="button" id="btn-save" class="btn btn-info">Save</button>
                                <button type="button" id="btn-approved" class="btn btn-success">Approved</button>
                                <button type="button" id="btn-reject" class="btn btn-danger">Reject</button>
                                <a href="@Url.Content("~/Finance/InvoiceReceived")" class="fakelink btn btn-secondary">Cancel</a>
                                <button type="button" id="btn-submit" class="btn btn-dark">Delete</button>
                            </div>
                        }
                        else if (Model.InvoiceStatusId == PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.ApproveAdmin|| Model.InvoiceStatusId == PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.TAP || Model.InvoiceStatusId == PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.ConfirmJurnal || Model.InvoiceStatusId == PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.TaxVerification || Model.InvoiceStatusId == PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.AP)
                        {
                            <div class="col-lg-10">
                                &nbsp;
                            </div>
                            <div class="col-lg-2">
                                <a href="@Url.Content("~/Finance/InvoiceReceived")" class="fakelink btn btn-secondary">Cancel</a>
                                <button type="button" id="btn-submit" class="btn btn-dark">Delete</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-8">
                            &nbsp;
                        </div>
                            <div class="col-lg-4">
                                <button type="button" id="btn-save" class="btn btn-info">Save</button>
                                <button type="button" id="btn-submit" class="btn btn-primary">Submit</button>
                                <a href="@Url.Content("~/Finance/InvoiceReceived")" class="fakelink btn btn-secondary">Cancel</a>
                                <button type="button" id="btn-submit" class="btn btn-dark">Delete</button>
                            </div>

                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Container -->
<div class="modal-container"></div>
<script>
    
    function GetInvId() {
        return {
        Id: $("#Id").val()
        }
    }
    function GenerateDetialDataList() {
        if ($("#NetAmount").data("kendoNumericTextBox").value() != 0) {
            var grid = $("#grid").data("kendoGrid");
            var dataSource = grid.dataSource;
            var totalRecords = dataSource.total();
            if (totalRecords == 0) {
                if ($("#AdvertisingTax").data("kendoNumericTextBox").value() != 0) {
                    createNewRowGrid("Advertising Tax", $("#AdvertisingTax").data("kendoNumericTextBox").value());
                }
                if ($("#ValueAddedTax").data("kendoNumericTextBox").value() != 0) {
                    createNewRowGrid("ValueAdded Tax", $("#ValueAddedTax").data("kendoNumericTextBox").value());
                }
                createNewRowGrid("Fee Project", $("#NetAmount").data("kendoNumericTextBox").value());
            } else if (totalRecords == 1) {
                if ($("#AdvertisingTax").data("kendoNumericTextBox").value() != 0) {
                    createNewRowGrid("Advertising Tax", $("#AdvertisingTax").data("kendoNumericTextBox").value());
                }
                if ($("#ValueAddedTax").data("kendoNumericTextBox").value() != 0) {
                    createNewRowGrid("ValueAdded Tax", $("#ValueAddedTax").data("kendoNumericTextBox").value());
                }
            } else {
                if ($("#AdvertisingTax").data("kendoNumericTextBox").value() != 0) {
                    createNewRowGrid("Advertising Tax", $("#AdvertisingTax").data("kendoNumericTextBox").value());
                }
            }
        } else {
            return false;
        }
    }
    function onChangeValue() {
        var varPercent = 10;
        var amount = 0;
        if ($("#Id").val() == "undefined" || $("#Id").val() == "") {
            amount = $("#Amount").data("kendoNumericTextBox").value() * $("#ExchangeRate").val();
            $("#NetAmount").data("kendoNumericTextBox").value(amount);

            if ($("#ValueAddedTaxPercent").data("kendoNumericTextBox").value() != 0) {
                $("#ValueAddedTaxPercent").data("kendoNumericTextBox").value($("#ValueAddedTaxPercent").data("kendoNumericTextBox").value());
            } else {
                $("#ValueAddedTaxPercent").data("kendoNumericTextBox").value(varPercent);
            }

            var discount = $("#OtherDiscount").data("kendoNumericTextBox").value() == 0 ? 0 : $("#OtherDiscount").data("kendoNumericTextBox").value();

            if ($("#TaxPayablePercent").data("kendoNumericTextBox").value() != 0) {
                $("#TaxPayablePercent").data("kendoNumericTextBox").value($("#TaxPayablePercent").data("kendoNumericTextBox").value());
            } else {
                $("#TaxPayablePercent").data("kendoNumericTextBox").value(0);
            }

            var vat = (amount - discount) * (varPercent / 100);
            var pat = (amount - discount) * ($("#TaxPayablePercent").data("kendoNumericTextBox").value() / 100);
            var advt = $("#AdvertisingTax").data("kendoNumericTextBox").value();
            var total = (amount - discount) + vat + advt;
                    $("#ValueAddedTax").data("kendoNumericTextBox").value(vat);
                    $("#ValueAddedTaxOn").data("kendoNumericTextBox").value((amount - discount) + vat);
                    $("#PromptPayment").data("kendoNumericTextBox").value(0);
            //$("#PromptPayment2").data("kendoNumericTextBox").value(0);
            if ($("#AdvertisingTax").data("kendoNumericTextBox").value() != 0) {
                    $("#AdvertisingTax").data("kendoNumericTextBox").value(advt);
            } else {
                    $("#AdvertisingTax").data("kendoNumericTextBox").value(0);
            }

            //tax payable
            $("#TaxPayable").data("kendoNumericTextBox").value(pat);
            $("#TaxPayableOn").data("kendoNumericTextBox").value((amount - discount)+pat);
            $("#TaxPayablePercent").data("kendoNumericTextBox").value($("#TaxPayablePercent").data("kendoNumericTextBox").value());

                $("#TotalCostVendor").data("kendoNumericTextBox").value(total);
            //var grid = $("#grid").data("kendoGrid");
            //grid.dataSource.at(1).AmountPaid = total;
        } else {
            amount = $("#Amount").data("kendoNumericTextBox").value() * $("#ExchangeRate").data("kendoNumericTextBox").value();
                $("#NetAmount").data("kendoNumericTextBox").value(amount);

            if ($("#ValueAddedTaxPercent").data("kendoNumericTextBox").value() != 0) {
                    $("#ValueAddedTaxPercent").data("kendoNumericTextBox").value($("#ValueAddedTaxPercent").data("kendoNumericTextBox").value());
            } else {
                    $("#ValueAddedTaxPercent").data("kendoNumericTextBox").value(varPercent);
            }


            if ($("#TaxPayablePercent").data("kendoNumericTextBox").value() != 0) {
                    $("#TaxPayablePercent").data("kendoNumericTextBox").value($("#TaxPayablePercent").data("kendoNumericTextBox").value());
            } else {
                $("#TaxPayablePercent").data("kendoNumericTextBox").value(0);
            }

            if ($("#AdvertisingTax").data("kendoNumericTextBox").value() != 0) {
                    $("#AdvertisingTax").data("kendoNumericTextBox").value($("#AdvertisingTax").data("kendoNumericTextBox").value());
            } else {
                $("#AdvertisingTax").data("kendoNumericTextBox").value(0);
            }

            var discount = $("#OtherDiscount").data("kendoNumericTextBox").value(0)
            var discount = $("#OtherDiscount").data("kendoNumericTextBox").value() == 0 ? 0 : $("#OtherDiscount").data("kendoNumericTextBox").value();
            var vat = ($("#NetAmount").data("kendoNumericTextBox").value() - discount) * ($("#ValueAddedTaxPercent").data("kendoNumericTextBox").value() / 100);
            var adv = $("#AdvertisingTax").data("kendoNumericTextBox").value();
            var tp = ($("#NetAmount").data("kendoNumericTextBox").value() - discount) * ($("#TaxPayablePercent").data("kendoNumericTextBox").value() / 100);
            var total = ($("#NetAmount").data("kendoNumericTextBox").value() - discount) + vat + adv;
            $("#ValueAddedTax").data("kendoNumericTextBox").value(vat);
            $("#ValueAddedTaxOn").data("kendoNumericTextBox").value(($("#NetAmount").data("kendoNumericTextBox").value() - discount) + vat);
            $("#PromptPayment").data("kendoNumericTextBox").value(0);
            // $("#PromptPayment2").val(0);
            //$("#AdvertisingTax").data("kendoNumericTextBox").value(0);

            //tax payable
            $("#TaxPayable").data("kendoNumericTextBox").value(tp);
            $("#TaxPayableOn").data("kendoNumericTextBox").value(($("#NetAmount").data("kendoNumericTextBox").value() - discount) + tp);
            $("#TaxPayablePercent").data("kendoNumericTextBox").value($("#TaxPayablePercent").data("kendoNumericTextBox").value());

            $("#TotalCostVendor").data("kendoNumericTextBox").value(total);
        }



    };
    function createNewRowGrid(item_name,net_amout) {
        var grid = $("#grid").data("kendoGrid");
        // Get selected item
        var sel = grid.select();
        // Get the item
        var item = grid.dataItem(sel);
        // Get the index in the DataSource (not in current page of the grid)
        var idx = grid.dataSource.indexOf(item);
        // Insert element before
        var nd = {
            Item_type_id: "0777eedd-8325-dd42-857a-9618726a5040",
            ItemTypeName: "Non Inventory",
            Ite: "Non Inventory",
            ItemName: item_name ,
            AmountPaid: net_amout,
            amountTotal: net_amout,
            unit_price: net_amout,
            TaskDetail: item_name
        };


        grid.dataSource.insert(idx, nd);
    }
    function getTypeName(data) {
        return data.ItemTypeName;
    }

    function editDetailList(e) {
        //no edit value
    }

    function saveDetailList(e) {
        var Item_type_id = $("#ItemTypeAdditionalId").data("kendoDropDownList").value();
        var Item_type_name = $("#ItemTypeAdditionalId").data("kendoDropDownList").text();
        var AmountPaid = $("#AmountPaid").data("kendoNumericTextBox").value();
        var TaskDetail = $("#TaskDetail").val();


        e.model.set("Item_type_id", Item_type_id);
        e.model.set("ItemTypeName", Item_type_name);
        e.model.set("ItemName", TaskDetail);
        e.model.set("AmountPaid", AmountPaid);
        e.model.set("amountTotal", AmountPaid);
        e.model.set("unit_price", AmountPaid);
        e.model.set("TaskDetail", TaskDetail);


    }

    function ItemType_Select(e) {

        if (e.dataItem) {
            var dataItem = e.dataItem;

            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            onChangeValue();
            var ttl_cost_vendor = $("#TotalCostVendor").data("kendoNumericTextBox").value();
            var tax_payable = $("#TaxPayable").data("kendoNumericTextBox").value();
            $("#AmountPaid").data("kendoNumericTextBox").value((ttl_cost_vendor - tax_payable));
            mApp.unblock("#m_blockui_list");
        }

    }
    function onSelectVendor() {
        if ($("#ClientId").val() != "") {
            $.ajax({
            type: "POST",
            url: '@Url.Action("GetVendorData", "InvoiceReceived")',
            data: { vendorId: $("#ClientId").val() },
                success: function (data) {
                    if (data != null) {
                        $("#company_data_detail").css({ display: "block" });
                            $("#VendorName").val(data.CompanyName),
                            $("#VendorNameSpan").html(data.CompanyName),
                            $("#VendorNPWP").val(data.TaxRegistrationNumber),
                            $("#VendorNPWPSpan").html(data.TaxRegistrationNumber),
                            $("#VendorAddress").val(data.Address),
                            $("#VendorAddressSpan").html(data.Address),
                            $("#VendorCity").val(data.City),
                            $("#VendorCitySpan").html(data.City),
                            $("#VendorZipCode").val(data.ZipCode),
                            $("#VendorZipCodeSpan").html(data.ZipCode),
                            $("#VendorContactPerson").val(data.ContactName),
                            $("#VendorContactPersonSpan").html(data.ContactName),
                            $("#VendorContactNumber").val(data.Phone),
                            $("#VendorContactNumberSpan").html(data.Phone)
                    }
                }
            })
        } else {
            $("#company_data_detail").css({ display: "none" });
            $("#VendorName").val("");
            $("#VendorNameSpan").html("");
            $("#VendorNPWP").val("");
            $("#VendorNPWPSpan").html("");
            $("#VendorAddress").val("");
            $("#VendorAddressSpan").html("");
            $("#VendorCity").val("");
            $("#VendorCitySpan").html("");
            $("#VendorZipCode").val("");
            $("#VendorZipCodeSpan").html("");
            $("#VendorContactPerson").val("");
            $("#VendorContactPersonSpan").html("");
            $("#VendorContactNumber").val("");
            $("#VendorContactNumberSpan").html("");
        }
    };

    function onSelectPO() {
        if ($("#PoId").val() != "") {
            GetDataInvoiceVendor();
            //$('#PoNumberSpan').html($("#PoId").data("kendoDropDownList").text());
            $("#grid").data("kendoGrid").dataSource.read();
            $("#grid").data("kendoGrid").refresh();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDataPO", "InvoiceReceived")',
                data: { poId: $("#PoId").val() },
                success: function (data) {
                    $("#ExchangeRate").data("kendoNumericTextBox").value(data.ExchangeRate);
                    $("#CurrencyId").data("kendoDropDownList").value(data.CurrencyId);
                    if (data.JobId == null) {
                        $("#JobId").val("");
                        $("#JobName").val("INTERNAL " + data.purchase_request_number);
                    } else {
                        $("#JobId").val(data.JobId);
                        $("#JobName").val("PROJECT " + data.JobId);
                    }
                    $("#DivisionId").val(data.DivisionId);
                    $("#DivisionName").val(data.DivisionName);
                    $("#Value").data("kendoNumericTextBox").value(data.Value);
                    $("#Termin").val(data.termin);
                    //var amount = (data.Amount * data.ExchangeRate) * (data.termin/100);
                    //if ($('#Id').val() !== null && $('#Id').val()!=="") {
                        var amount = (data.Amount * data.ExchangeRate);
                        $("#Amount").data("kendoNumericTextBox").value(amount);
                        $("#NetAmount").data("kendoNumericTextBox").value(amount);
                        var vat = amount * 0.1;
                        $("#Vat").data("kendoNumericTextBox").value(vat);
                        var total = amount + vat;
                        $("#TotalAmount").data("kendoNumericTextBox").value(total);
                    //} else {                       
                    //    var amount = $("#Amount").data("kendoNumericTextBox").value() * $("#ExchangeRate").data("kendoNumericTextBox").value();
                    //    var vat = amount * 0.1;
                    //    $("#Vat").data("kendoNumericTextBox").value(vat);
                    //    $("#NetAmount").data("kendoNumericTextBox").value($("#Amount").data("kendoNumericTextBox").value());
                    //    var total = amount + vat;
                    //    $("#TotalAmount").data("kendoNumericTextBox").value(total);

                    //}
                    onChangeValue();
                    if ($("#Id").val() == "undefined" || $("#Id").val() == "") {
                        GenerateDetialDataList();
                    }
                }
            });
        } else {
            $("#ExchangeRate").data("kendoNumericTextBox").value(0);
            $("#JobId").val("");
            $("#Value").data("kendoNumericTextBox").value(0);
            $("#Termin").val("");
            $("#DivisionId").val("");
            $("#DivisionName").val("");
           // var amount = ($("#Value").data("kendoNumericTextBox").value() * $("#ExchangeRate").data("kendoNumericTextBox").value()) * ($("#Termin").data("kendoNumericTextBox").value()/100);
            var amount = $("#Amount").data("kendoNumericTextBox").value() * $("#ExchangeRate").data("kendoNumericTextBox").value();
            $("#Amount").data("kendoNumericTextBox").value(amount);
            var vat = amount * 0.1;
            $("#Vat").data("kendoNumericTextBox").value(vat);
            var total = amount + vat;
            $("#TotalAmount").data("kendoNumericTextBox").value(total);
        }
    };

    function GetDataInvoiceVendor() {
        if ($("#PoId").val() != "") {
             $.ajax({
                type: "POST",
                url: '@Url.Action("GetInvoiceVendorPO", "DropDown", new { area = "Finance" })',
                data: { poId: $("#PoId").val() },
                 success: function (data) {
                     if (!jQuery.isEmptyObject(data)) {
                         $("#InvoiceVendor").val(data[0].Value);
                         $("#InvoiceVendorText").val(data[0].Text);
                     }
                 }
            });
        }
    };


    function GetDataPrompayment() {
        if ($("#PoId").val() != "") {
             $.ajax({
                type: "POST",
                url: '@Url.Action("GetInvoiceVendorPO", "DropDown", new { area = "Finance" })',
                data: { poId: $("#PoId").val() },
                 success: function (data) {
                     if (!jQuery.isEmptyObject(data)) {
                         $("#InvoiceVendor").val(data[0].Value);
                         $("#InvoiceVendorText").val(data[0].Text);
                     }
                 }
            });
        }
    };

    function onChangeBasicValue() {
        if ($("#Amount").data("kendoNumericTextBox").value() == "" || $("#Amount").data("kendoNumericTextBox").value() == null) {
            $("#Amount").data("kendoNumericTextBox").value($("#Value").data("kendoNumericTextBox").value());
        } else {
            $("#Amount").data("kendoNumericTextBox").value($("#Amount").data("kendoNumericTextBox").value());
        }
        var amount = $("#Amount").data("kendoNumericTextBox").value() * $("#ExchangeRate").data("kendoNumericTextBox").value();
        $("#Amount").data("kendoNumericTextBox").value(amount);
        var vat = amount * 0.1;
        $("#Vat").data("kendoNumericTextBox").value(vat);
        var total = amount + vat;
        $("#TotalAmount").data("kendoNumericTextBox").value(total);
        onChangeValue();
    };

    function onChangeTerminValue() {


    }

    function getPoId() {
        return {
            poId: $("#PoId").val()
        };
    }

    function filterPurchaseOrders() {
        return {
            clientId: $("#ClientId").val()
        };
    }
    function filterInvoiceVendor() {
        return {
            poId: $("#PoId").val()
        };
    }

    function callActionFileNew(parameter) {
        if (parameter.formId !== undefined) {
            if (parameter.formId.substring(0, 1) !== "#") parameter.formId = "#" + parameter.formId;
            var valid = $(parameter.formId).validate().form();
            if (valid) {
                swal({
                    title: "Confirmation",
                    text: 'Are you sure want to ' + parameter.title + ' this data?',
                    type: "question",
                    showCancelButton: !0,
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    reverseButtons: !0
                }).then(function (ok) {
                    if (ok.value) {
                        mApp.block("#m_blockui_list", {
                            overlayColor: "#000000",
                            type: "loader",
                            state: "primary",
                            message: "Processing..."
                        });

                        var formData = new FormData();
                        $.each($(parameter.formId).find("input[type='file']"), function (i, tag) {
                            $.each($(tag)[0].files, function (i, file) {
                                formData.append(tag.name, file);
                            });
                        });

                        var params = $(parameter.formId).serializeArray();
                        $.each(params, function (i, val) {
                            formData.append(val.name, val.value);
                        });

                        var object = {};
                        if (parameter.objects !== undefined) {
                            $.each(parameter.objects, function (i, val) {
                                var arry = [];
                                for (var z = 0; z < val.length; z++) {
                                    var obj = JSON.parse(JSON.stringify(val[z]));
                                    arry.push(obj);
                                }
                                object[i] = arry;
                                formData.append("details"+[i], object[i]);
                            });
                        }
                        var url = parameter.url;
                        if (url === undefined) url = $(parameter.formId).attr('action');

                        $.ajax({
                            type: parameter.type,
                            url: url,
                            cache: false,
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function (result) {
                                if (result.success) {
                                    swal('Information', result.message, 'success')
                                        .then(function (ok) {
                                            if (ok.value) {
                                                if (result.data !== undefined) {
                                                    $("#Id").val(result.data.id);
                                                    $("#RequestCode").val(result.data.requestCode);
                                                    $("#CreatedBy").val(result.data.createdBy);
                                                    $("#CreatedOn").val(result.data.createdOn);
                                                }
                                                if (result.url !== undefined) window.location = result.url;
                                                if (result.refreshGrid !== undefined) {
                                                    $('#' + result.refreshGrid).data('kendoGrid').dataSource.read();
                                                    $('#' + result.refreshGrid).data('kendoGrid').refresh();
                                                }
                                            }
                                        });
                                } else {
                                    swal('Error', result.message, 'error');
                                }
                                mApp.unblock("#m_blockui_list");
                            },
                            error: function (e, t, s) {
                                var errorMessage = e.responseJSON.errorMessage;
                                if (errorMessage === "" || errorMessage === undefined) {
                                    errorMessage = "Ooops, something went wrong !";
                                }
                                swal('Error', errorMessage, 'error');
                                mApp.unblock("#m_blockui_list");
                            }
                        }).then(setTimeout(function () {
                            mApp.unblock("#m_blockui_list");
                        }, 2e3));
                    }
                }).catch(swal.noop);
            }
        }
    }
  

    var param = (function (param) {
        param.saveUrl = "@Url.Action("Save", "InvoiceReceived")";
        param.submitUrl = "@Url.Action("Submit", "InvoiceReceived")";
        param.getClientData = "@Url.Action("GetClientData", "InvoiceReceived")"
        return param;
    })(param || {});


    (function ($) {
        'use strict';
       
        var pageFunction = (function (pageFunction) {
            pageFunction.init = function () {
                //initialize
            };
            pageFunction.save = function () {
                var gridDetails = $("#grid").data("kendoGrid");
                gridDetails.saveRow();
                var dataList = {
                    details: gridDetails.dataSource.data()
                }
                callAction({ formId: "form", title: "save", type: "POST", url: param.saveUrl, objects: dataList });
            };
            pageFunction.submit = function () {
                var gridDetails = $("#grid").data("kendoGrid");
                gridDetails.saveRow();
                var dataList = {
                    details: gridDetails.dataSource.data()
                }
                callAction({ formId: "form", title: "submit", type: "POST", url: param.submitUrl, objects: dataList});
            };
            pageFunction.approved = function () {
                $('#ApprovalAdminDesk').val(true);
                $('#InvoiceStatusId').val(3);
                var gridDetails = $("#grid").data("kendoGrid");
                gridDetails.saveRow();
                var dataList = {
                    details: gridDetails.dataSource.data()
                }
                callAction({ formId: "form", title: "Approved", type: "POST", url: param.submitUrl, objects: dataList });
            };
            pageFunction.reject = function () {
                $('#ApprovalAdminDesk').val(false);
                $('#InvoiceStatusId').val(4);
                var gridDetails = $("#grid").data("kendoGrid");
                gridDetails.saveRow();
                var dataList = {
                    details: gridDetails.dataSource.data()
                }
                callAction({ formId: "form", title: "Reject", type: "POST", url: param.submitUrl, objects: dataList });
            };
            return pageFunction;
        })(pageFunction || {});

        $(document).ready(function () {

            if ($("#PoCheckList").prop('checked') == true) {
                //do something
                //alert("load from po checked");
                $("#PoCheckListData").val(true);
            } else {
               // alert("load from po unchecked");
                $("#PoCheckListData").val(false);
            }

            $(document).on('change', '#PoCheckList', function () {
                // your code
                if ($(this).prop('checked') == true) {
                    //do something
                    //alert("po checked");
                    $("#PoCheckListData").val(true);
                } else {
                    //alert("po unchecked");
                    $("#PoCheckListData").val(false);
                }
            });

            if ($('#ContractCheckList').prop('checked') == true) {
                //do something
                //alert("contract checked");
                $("#ContractCheckListData").val(true);
            } else {
                //alert("contract unchecked");
                $("#ContractCheckListData").val(false);
            }

            $(document).on('change', '#ContractCheckList', function () {
                // your code
                if ($(this).prop('checked') == true) {
                    //do something
                    //alert("contract checked");
                    $("#ContractCheckListData").val(true);
                } else {
                    //alert("contract unchecked");
                    $("#ContractCheckListData").val(false);
                }
            });

            if ($('#TaxCheckList').prop('checked') == true) {
                //do something
                //alert("tax checked");
                $("#TaxCheckListData").val(true);
            } else {
                //alert("tax unchecked");
                $("#TaxCheckListData").val(false);
            }

            $(document).on('change', '#TaxCheckList', function () {
                // your code
                if ($(this).prop('checked') == true) {
                    //do something
                    //alert("tax checked");
                    $("#TaxCheckListData").val(true);
                } else {
                   // alert("tax unchecked");
                    $("#TaxCheckListData").val(false);
                }
            });

            if ($('#GrCheckList').prop('checked') == true) {
                //do something
                //alert("gr checked");
                $("#GrCheckListData").val(true);
            } else {
                //alert("gr unchecked");
                $("#GrCheckListData").val(false);
            }
            $(document).on('change', '#GrCheckList', function () {
                // your code
                if ($(this).prop('checked') == true) {
                    //do something
                    //alert("gr checked");
                    $("#GrCheckListData").val(true);
                } else {
                    //alert("gr unchecked");
                    $("#GrCheckListData").val(false);
                }
            });

            if ($('#DoCheckList').prop('checked') == true) {
                //do something
                //alert("do checked");
                $("#DoCheckListData").val(true);
            } else {
                //alert("do unchecked");
                $("#DoCheckListData").val(false);
            }

            $(document).on('change', '#DoCheckList', function () {
                // your code
                if ($(this).prop('checked') == true) {
                    //do something
                   // alert("do checked");
                    $("#DoCheckListData").val(true);
                } else {
                    //alert("do unchecked");
                    $("#DoCheckListData").val(false);
                }
            });


          
            //pageFunction.init();
            //$('#btn-process').click(pageFunction.process);
            if ($('#Id').val() != null || $('#Id').val() != "" || $('#Id').val() != "undefined") {
                onSelectVendor();
                onSelectPO();
            }
            $('#btn-submit').click(pageFunction.submit);
            $('#btn-save').click(pageFunction.submit);
            $('#btn-approved').click(pageFunction.approved);
            $('#btn-reject').click(pageFunction.reject);

            if ($('#Id').val() != null || $('#Id').val() != "" || $('#Id').val() != "undefined") {
            //add default value forinv detail
            $("#NetAmount").data('kendoNumericTextBox').value(0);
            $("#ValueAddedTax").data('kendoNumericTextBox').value(0);
            $("#ValueAddedTaxOn").data('kendoNumericTextBox').value(0);
            $("#ValueAddedTaxPercent").data('kendoNumericTextBox').value(0);
            $("#TotalCostVendor").data('kendoNumericTextBox').value(0);
            $("#PromptPayment").data('kendoNumericTextBox').value(0);
            $("#PromptPayment2").data('kendoNumericTextBox').value(0);
            $("#TaxPayable").data('kendoNumericTextBox').value(0);
            $("#TaxPayableOn").data('kendoNumericTextBox').value(0);
            $("#TaxPayablePercent").data('kendoNumericTextBox').value(0);
            $("#OtherDiscount").data('kendoNumericTextBox').value(0);
            $("#AdvertisingTax").data('kendoNumericTextBox').value(0);
            }
        });
       

    }(jQuery));
</script>