﻿@model PhoenixERPWebApp.Models.Finance.Transaction.InvoiceReceived.InvoiceReceivedList
@{
    ViewData["Title"] = "Invoice Received Detail";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<style>
    .empty-grid::before {
        padding: 1em;
        line-height: 3em;
        content: "No records found.";
    }
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Invoice Received</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Account Payable</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/InvoiceReceived")" class="m-nav__link">
                        <span class="m-nav__link-text">Invoice Received</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="m-form__group">
                        <form id="form" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="InvoiceStatusId" />
                            <div class="row">

                                <div class="col-lg-3 m-row--no-padding">
                                    <div class="form-group">
                                        <label>Invoice Received Date :</label>
                                        @Html.Kendo().DatePickerFor(m => m.InvoiceDate).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", style = "width:100%" })
                                    </div>
                                    <div class="form-group">
                                        <label>Invoice Received Number :</label>
                                        @Html.Kendo().TextBoxFor(m => m.InvoiceNumber).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", style = "width:100%", Placeholder = "Auto Generated by System.." })
                                    </div>

                                    <div class="form-group">
                                        <label>Vendor:</label>
                                        @(Html.Kendo().DropDownListFor(m => m.ClientId)
                                            .DataTextField("Text")
                                            .OptionLabel("Select Vendor...")
                                            .DataValueField("Value")
                                            .Filter(FilterType.Contains)
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetDDLVendor", "DropDown", new { area = "Finance" });
                                                });
                                            })
                                            .Events(e =>
                                            {
                                                e.Change("onSelectVendor");
                                            })
                                            .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                    @if (Model.InvoiceStatusId == "2" || Model.InvoiceStatusId == "3" || Model.InvoiceStatusId == "4" || Model.InvoiceStatusId == "5")
                                    {
                                        <div class="form-group">
                                            <label>Purchase Order No:</label>
                                            @(Html.Kendo().DropDownListFor(m => m.PoId)
                                                .DataTextField("Text")
                                                .OptionLabel("Select PO...")
                                                .DataValueField("Value")
                                                .Filter(FilterType.Contains)
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetPOClient", "DropDown", new { area = "Finance" }).Data("filterPurchaseOrders");
                                                    }).ServerFiltering(true); ;
                                                })
                                                .Events(e =>
                                                {
                                                    e.Change("onSelectPO");
                                                })
                                                .CascadeFrom("ClientId")
                                                .Enable(false)
                                                .AutoBind(false)
                                                .HtmlAttributes(new { style = "width:100%;" })
                                            )
                                            <script>
                                                function filterPurchaseOrders() {
                                                    return {
                                                        clientId: $("#ClientId").val()
                                                    };
                                                }
                                            </script>
                                        </div>
                                    

                                   
                                        <div class="form-group">
                                            <label>Reference Number</label>
                                            @(Html.Kendo().DropDownListFor(m => m.InvoiceVendor)
                                                .DataTextField("Text")
                                                .OptionLabel("Select PO...")
                                                .DataValueField("Value")
                                                .Filter(FilterType.Contains)
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetInvoiceVendorPO", "DropDown", new { area = "Finance" }).Data("filterInvoiceVendor");
                                                    }).ServerFiltering(true); ;
                                                })
                                                .CascadeFrom("PoId")
                                                .Enable(false)
                                                .AutoBind(false)
                                                .HtmlAttributes(new { style = "width:100%;" })
                                            )

                                            @Html.Kendo().TextBoxFor(m => m.InvoiceVendorText).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                            <script>
                                                function filterInvoiceVendor() {
                                                    return {
                                                        poId: $("#PoId").val()
                                                    };
                                                }
                                            </script>
                                        </div>
                                        <div class="form-group">
                                            <label>Reference Date :</label>
                                            @Html.Kendo().DatePickerFor(m => m.InvoiceVendorDate).HtmlAttributes(new { @class = "form-control form-control-sm", style = "width:100%" })
                                            <div>
                                            </div>
                                            <label>Value</label>
                                            <div class="input-group-prepend">
                                                @(Html.Kendo().DropDownListFor(m => m.CurrencyId)
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .Filter(FilterType.Contains)
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action("GetDDLCurrency", "DropDown", new { area = "Finance" });
                                                        });
                                                    })
                                                    .HtmlAttributes(new { style = "width:100%;", @readonly = "readonly" })
                                                )
                                            </div>
                                            @Html.Kendo().NumericTextBoxFor(m => m.Value).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e =>
                                       {
                                           e.Change("onChangeValue");
                                       })

                                        </div>
                                        <div class="form-group">
                                            <label>Termin :</label>
                                            @Html.Kendo().NumericTextBoxFor(m => m.Termin).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e =>
                                       {
                                           e.Change("onChangeTerminValue");
                                       })
                                        </div>
                                        <div class="form-group">
                                            <label>Exchange :</label>
                                            @Html.Kendo().NumericTextBoxFor(m => m.ExchangeRate).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                        </div>
                                        <div class="form-group">
                                            <label>Amount :</label>
                                            @Html.Kendo().NumericTextBoxFor(m => m.Amount).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                        </div>
                                        <div class="form-group">
                                            <label>Vat :</label>
                                            @Html.Kendo().NumericTextBoxFor(m => m.Vat).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                        </div>
                                        <div class="form-group">
                                            <label>Total Amount :</label>
                                            @Html.Kendo().NumericTextBoxFor(m => m.TotalAmount).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                        </div>
                                    }
                                </div>

                                        <div class="col-lg-3 m-row--no-padding">
                                            <label><h5>Document</h5></label>
                                            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                                <div class="m-demo__preview">
                                                    <div class="m-checkbox-inline">
                                                        <!-- Begin: Purchase Order-->
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                @if (Model.InvoiceStatusId == "2")
                                                                {
                                                                    <label>Purchase Order</label>
                                                                    @Html.Kendo().Upload().Name("PoObject").Multiple(false)
                                                                    @Html.HiddenFor(m => m.PoCheckList)
                                                                }
                                                                else
                                                                {
                                                                    @(Html.Kendo().CheckBoxFor(m => m.PoCheckList).Label("Purchase Order"))
                                                                }
                                                            </div>
                                                        </div>
                                                        <!-- End: Purchase Order-->
                                                        <!-- Begin: Tax-->
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                @if (Model.InvoiceStatusId == "2")
                                                                {
                                                                    <label>Tax</label>
                                                                    @Html.Kendo().Upload().Name("TaxObject").Multiple(false)
                                                                    @Html.HiddenFor(m => m.TaxCheckList)
                                                                }
                                                                else
                                                                {
                                                                    @(Html.Kendo().CheckBoxFor(m => m.TaxCheckList).Label("Tax"))
                                                                }
                                                            </div>
                                                        </div>
                                                        <!-- End: Tax-->
                                                        <!-- Begin: Contract-->
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                @if (Model.InvoiceStatusId == "2")
                                                                {
                                                                    <label>Contract</label>
                                                                    @Html.Kendo().Upload().Name("ContractObject").Multiple(false)
                                                                    @Html.HiddenFor(m => m.ContractCheckList)
                                                                }
                                                                else
                                                                {
                                                                    @(Html.Kendo().CheckBoxFor(m => m.ContractCheckList).Label("Contract"))
                                                                }
                                                            </div>
                                                        </div>
                                                        <!-- End: Contract-->
                                                        <!-- Begin: Delivery Order-->
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                @if (Model.InvoiceStatusId == "2")
                                                                {
                                                                    <label>Delivery Order (SJ)</label>
                                                                    @Html.Kendo().Upload().Name("DoObject").Multiple(false)
                                                                    @Html.HiddenFor(m => m.DoCheckList)
                                                                }
                                                                else
                                                                {
                                                                    @(Html.Kendo().CheckBoxFor(m => m.DoCheckList).Label("Delivery Order (SJ)"))
                                                                }
                                                            </div>
                                                        </div>
                                                        <!-- End: Delivery Order-->
                                                        <!-- Begin: Good Received-->
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                @if (Model.InvoiceStatusId == "2")
                                                                {
                                                                    <label>Good Received (BAST)</label>
                                                                    @Html.Kendo().Upload().Name("GrObject").Multiple(false)
                                                                    @Html.HiddenFor(m => m.GrCheckList)
                                                                }
                                                                else
                                                                {
                                                                    @(Html.Kendo().CheckBoxFor(m => m.GrCheckList).Label("Good Received (BAST)"))
                                                                }
                                                            </div>
                                                        </div>
                                                        <!-- End: Good Received-->
                                                    </div>
                                                </div>
                                            </div>
                                            @if (Model.InvoiceStatusId == "2" || Model.InvoiceStatusId == "3" || Model.InvoiceStatusId == "4" || Model.InvoiceStatusId == "5")
                                            {
                                                <label><h5>Approval</h5></label>
                                            }
                                            else
                                            {
                                                <label><h5>Notes</h5></label>
                                            }
                                            <div class="m-section__content">
                                                <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                                    <div class="m-demo__preview">
                                                        <div class="m-radio-inline">
                                                            @if (Model.InvoiceStatusId == "2" || Model.InvoiceStatusId == "3" || Model.InvoiceStatusId == "4" || Model.InvoiceStatusId == "5")
                                                            {
                                                                <label><h5>Approval</h5></label>
                                                            }
                                                            @if (Model.InvoiceStatusId == "2" || Model.InvoiceStatusId == "3" || Model.InvoiceStatusId == "4" || Model.InvoiceStatusId == "5")
                                                            {
                                                                @if (Model.InvoiceStatusId != "1")
                                                                {
                                                                    @(Html.Kendo().RadioButtonFor(m => m.ApprovalAdminDesk).Label("Approve").Value(true))
                                                                    @(Html.Kendo().RadioButtonFor(m => m.ApprovalAdminDesk).Label("Reject").Value(false))
                                                                    @Html.HiddenFor(m => m.ApprovalFrontDesk)
                                                                }
                                                                else
                                                                {
                                                                    @*@(Html.Kendo().RadioButtonFor(m => m.ApprovalFrontDesk).Label("Approve").Value(true).)
                                        @(Html.Kendo().RadioButtonFor(m => m.ApprovalFrontDesk).Label("Reject").Value(false))*@
                                                                    <input type="hidden" asp-for="ApprovalFrontDesk" value="true" />
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <input type="hidden" asp-for="ApprovalFrontDesk" value="true" />

                                                            }
                                                        </div>
                                                        <div class="row m--margin-top-20">
                                                            <div class="col-lg-12 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label>Notes :</label>
                                                                    @if (Model.InvoiceStatusId == "2")
                                                                    {
                                                                        <textarea asp-for="AdminNotes" rows="10" cols="40" class="form-control form-control-sm"></textarea>
                                                                        @Html.HiddenFor(m => m.FrontDeskNotes)
                                                                    }
                                                                    else
                                                                    {
                                                                        <textarea asp-for="FrontDeskNotes" rows="10" cols="40" class="form-control form-control-sm"></textarea>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.InvoiceStatusId == "2" || Model.InvoiceStatusId == "3" || Model.InvoiceStatusId == "4" || Model.InvoiceStatusId == "5")
                                        {
                                            <div class="col-lg-3 m-row--no-padding">
                                                <div class="form-group">
                                                    <label>Description :</label>
                                                    <textarea asp-for="Description" rows="10" cols="40" class="form-control form-control-sm"></textarea>
                                                </div>
                                                <div form-group">
                                                    <label>Ref #</label>
                                                    <input type="hidden" asp-for="JobId" />
                                                    @Html.Kendo().TextBoxFor(m => m.JobName).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                </div>
                                                <div form-group">
                                                    <label>Tax Number</label>
                                                    @Html.Kendo().TextBoxFor(m => m.TaxNumber).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                </div>
                                                <div form-group">
                                                    <label>Tax Date</label>
                                                    @Html.Kendo().DatePickerFor(m => m.TaxDate).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                </div>
                                                <div class="form-group">
                                                    <label>Periode :</label>
                                                    @(Html.Kendo().DatePickerFor(m => m.Periode)
                                                                .Depth(CalendarView.Year)
                                                                .Start(CalendarView.Year)
                                                                .Format("MMMM/yyyy").HtmlAttributes(new { @class = "m-input", style = "width:100%" })
                                                    )
                                                </div>
                                                <div class="form-group">
                                                    <label class="">Due Days :</label>
                                                    @Html.Kendo().NumericTextBoxFor(m => m.DueDays).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                </div>
                                            </div>
                                            <div class="col-lg-3 m-row--no-padding">
                                                <div class="form-group">
                                                    <label>Vendor Name:</label>
                                                    @Html.Kendo().TextBoxFor(m => m.VendorName).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                </div>
                                                <div class="form-group">
                                                    <label>Tax Registration / NPWP :</label>
                                                    @Html.Kendo().TextBoxFor(m => m.VendorNPWP).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                </div>
                                                <div class="form-group">
                                                    <label>Official Address :</label>
                                                    @Html.Kendo().TextBoxFor(m => m.VendorAddress).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                </div>
                                                <div class="form-group">
                                                    <label>City :</label>
                                                    @Html.Kendo().TextBoxFor(m => m.VendorCity).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                </div>
                                                <div class="form-group">
                                                    <label>Zip Code :</label>
                                                    @Html.Kendo().TextBoxFor(m => m.VendorZipCode).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                </div>
                                                <div class="form-group">
                                                    <label>Contact Person :</label>
                                                    @Html.Kendo().TextBoxFor(m => m.VendorContactPerson).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                </div>
                                                <div class="form-group">
                                                    <label>Contact Number :</label>
                                                    @Html.Kendo().TextBoxFor(m => m.VendorContactNumber).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        }
                                    </div>
                               
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.InvoiceReceived.InvoiceReceivedList>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.InvoiceDate).Format("{0:dd/MM/yyyy}");
                                columns.Bound(p => p.StatusName);
                                columns.Bound(p => p.FrontDeskNotes);
                                columns.Bound(p => p.AdminNotes);
                            })
                             
                                .NoRecords()
                                .Resizable(rsz => rsz.Columns(true))
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(10)
                                .Events(events => events.Error("errorHandler"))
                                .Model(model => { model.Id(p => p.Id); })
                                .Read(read => read.Action("GetHistory", "InvoiceReceived").Data("getPoId"))
                                )
                            )
                        </div>
                        <div class="col-lg-4">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">

                        </div>
                        <div class="col-lg-3">
                            <button type="button" id="btn-save" class="btn btn-success">Save</button>
                            <button type="button" id="btn-submit" class="btn btn-primary">Submit</button>
                            <a href="@Url.Content("~/Finance/InvoiceReceived")" class="fakelink btn btn-secondary">Cancel</a>
                            @*<a asp-action="index" asp-controller="invoicereceived" asp-area="finance" class="fakelink btn btn-secondary">Cancel</a>*@

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Container -->
<div class="modal-container"></div>

@*<script src="~/Areas/Finance/Scripts/InvoiceReceived/InvoiceReceived.Detail.js" asp-append-version="true"></script>*@
<script>
    function onSelectVendor() {
        if ($("#ClientId").val() != "") {
            $.ajax({
            type: "POST",
            url: '@Url.Action("GetVendorData", "InvoiceReceived")',
            data: { vendorId: $("#ClientId").val() },
                success: function (data) {
                    if (data != null) {
                            $("#VendorName").val(data.CompanyName),
                            $("#VendorNPWP").val(data.TaxRegistrationNumber),
                            $("#VendorAddress").val(data.Address),
                            $("#VendorCity").val(data.City),
                            $("#VendorZipCode").val(data.ZipCode),
                            $("#VendorContactPerson").val(data.ContactName),
                            $("#VendorContactNumber").val(data.Phone)
                    }
                }
            })
        } else {
            $("#VendorName").val("");
            $("#VendorNPWP").val("");
            $("#VendorAddress").val("");
            $("#VendorCity").val("");
            $("#VendorZipCode").val("");
            $("#VendorContactPerson").val("");
            $("#VendorContactNumber").val("");
        }
    };

    function onSelectPO() {
        if ($("#PoId").val() != "") {
            $("#grid").data("kendoGrid").dataSource.read();
            $("#grid").data("kendoGrid").refresh();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDataPO", "InvoiceReceived")',
                data: { poId: $("#PoId").val() },
                success: function (data) {
                    $("#ExchangeRate").data("kendoNumericTextBox").value(data.ExchangeRate);
                    $("#CurrencyId").data("kendoDropDownList").value(data.CurrencyId);
                    if (data.JobId == null) {
                        $("#JobId").val("");
                        $("#JobName").val("INTERNAL " + data.purchase_request_number);
                    } else {
                        $("#JobId").val(data.JobId);
                        $("#JobName").val(data.JobId);
                    }
                    $("#Value").data("kendoNumericTextBox").value(data.Amount);
                    $("#Termin").data("kendoNumericTextBox").value(data.termin);
                    var amount = (data.Amount * data.ExchangeRate) * (data.termin/100);
                    $("#Amount").data("kendoNumericTextBox").value(amount);
                    var vat = amount * 0.1;
                    $("#Vat").data("kendoNumericTextBox").value(vat);
                    var total = amount + vat;
                    $("#TotalAmount").data("kendoNumericTextBox").value(total);
                }
            })
        } else {
            $("#ExchangeRate").data("kendoNumericTextBox").value(0);
            $("#JobId").val("");
            $("#Value").data("kendoNumericTextBox").value(0);
            $("#Termin").data("kendoNumericTextBox").value(0);
            var amount = ($("#Value").data("kendoNumericTextBox").value() * $("#ExchangeRate").data("kendoNumericTextBox").value()) * ($("#Termin").data("kendoNumericTextBox").value()/100);
            $("#Amount").data("kendoNumericTextBox").value(amount);
            var vat = amount * 0.1;
            $("#Vat").data("kendoNumericTextBox").value(vat);
            var total = amount + vat;
            $("#TotalAmount").data("kendoNumericTextBox").value(total);
        }
    };

    function onChangeValue() {
        var amount = $("#Value").data("kendoNumericTextBox").value() * $("#ExchangeRate").data("kendoNumericTextBox").value();
        $("#Amount").data("kendoNumericTextBox").value(amount);
        var vat = amount * 0.1;
        $("#Vat").data("kendoNumericTextBox").value(vat);
        var total = amount + vat;
        $("#TotalAmount").data("kendoNumericTextBox").value(total);
    };

    function onChangeTerminValue() {


    }

    function getPoId() {
        return {
            poId: $("#PoId").val()
        };
    }

    var param = (function (param) {
        param.saveUrl = "@Url.Action("Save", "InvoiceReceived")";
        param.submitUrl = "@Url.Action("Submit", "InvoiceReceived")";
        param.getClientData = "@Url.Action("GetClientData", "InvoiceReceived")"
        return param;
    })(param || {});


    (function ($) {
        'use strict';
        var pageFunction = (function (pageFunction) {
            pageFunction.init = function () {
                //initialize
            };
            //pageFunction.process = function () {
            //    callActionFile({ formId: "form", title: "process", type: "POST", url: param.processUrl });
            //};
            pageFunction.save = function () {
                callActionFile({ formId: "form", title: "save", type: "POST", url: param.saveUrl });
            };
            pageFunction.submit = function () {
                callActionFile({ formId: "form", title: "submit", type: "POST", url: param.submitUrl });
            };
            return pageFunction;
        })(pageFunction || {});

        $(document).ready(function () {
            //pageFunction.init();
            //$('#btn-process').click(pageFunction.process);
            if ($('#Id').val()!=null) {
                onSelectVendor();
            }
            $('#btn-submit').click(pageFunction.submit);
            $('#btn-save').click(pageFunction.submit);
        });
       

    }(jQuery));
</script>