﻿<input hidden id="detail-id" value="@ViewBag.RecordID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Invoice Received</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Account Payable</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/InvoiceReceived")" class="m-nav__link">
                        <span class="m-nav__link-text">Invoice Received</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="m-form__group">
                        <h5>Invoice <span style="width: 100px;" id="status"></span></h5>

                        <form id="form-InvoicePayable" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input hidden name="id" value="@ViewBag.RecordID" />
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <div class="col-lg-6 m-row--no-padding">
                                                        <div class="row">
                                                            <!-- Begin: Invoice Received Number -->
                                                            <div class="col-lg-6 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label>Invoice Number :</label>
                                                                    <div class="input-group">
                                                                        <input id="invoice_number" name="invoice_number" type="text" class="form-control form-control-sm m-input">
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-sm" type="button" id="btn-generate_invoice_no"><i class="la la-gear"></i></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End: Invoice Received Number -->
                                                            <!-- Begin: Invoice Date -->
                                                            <div class="col-lg-6 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label>Invoice Date :</label>
                                                                    <div class="input-group input-group-sm date">
                                                                        <input type="text" name="invoice_date" id="invoice_date" class="form-control m-input" readonly placeholder="Select date" />
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End: Invoice Date -->
                                                        </div>
                                                        <div class="row">
                                                            <!-- Begin: Invoice Received Date -->
                                                            <div class="col-lg-6 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label>Receive Date :</label>
                                                                    <div class="input-group input-group-sm date">
                                                                        <input type="text" name="invoice_received_date" id="invoice_received_date" class="form-control m-input" readonly placeholder="Select date" />
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End: Invoice Received Date -->
                                                            <!-- Begin: Received By -->
                                                            <div class="col-lg-6 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label>Received By :</label>
                                                                    <input type="text" id="record_created_by" class="form-control form-control-sm m-input" readonly />
                                                                </div>
                                                            </div>
                                                            <!-- End: Received By -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 m-row--no-padding">
                                                        <div class="row">
                                                            <!-- Begin: Description -->
                                                            <div class="col-lg-12 m-form__group-sub">
                                                                <div class="form-group">
                                                                    <label>Description :</label>
                                                                    <textarea id="description" class="form-control m-input m-input--air" rows="5"  
                                                                              style="margin-top: 0px; margin-bottom: 0px;"></textarea>
                                                                </div>
                                                            </div>
                                                            <!-- End: Description -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Begin: Vendor -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Vendor</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Vendor -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Vendor :</label>
                                                            <select id="company_id" name="company_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Vendor -->
                                                    <!-- Begin: Input NPWP -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Tax Registration / NPWP :</label>
                                                            <input type="text" id="tax_registration_number" name="tax_registration_number" class="form-control form-control-sm m-input" readonly />
                                                        </div>
                                                    </div>
                                                    <!-- End: Input NPWP -->
                                                    <!-- Begin: Input Official Address -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Official Address :</label>
                                                            <input type="text" id="company_address" name="company_address" placeholder="Enter Official Address" class="form-control form-control-sm m-input" />
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Official Address -->
                                                </div>

                                                <div class="row">
                                                    <!-- Begin: City -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>City :</label>
                                                            <select id="city_id" name="city_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: City -->
                                                    <!-- Begin: Input ZIP Code -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Zip Code :</label>
                                                            <input type="text" id="zip_code" name="zip_code" class="form-control form-control-sm m-input" placeholder="Enter Zip Code" />
                                                        </div>
                                                    </div>
                                                    <!-- End: Input ZIP Code -->
                                                    <!-- Begin: Input Contact Person -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Contact Person :</label>
                                                            <input type="text" id="contact_person" name="contact_person" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter contact person">
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Contact Person -->
                                                    <!-- Begin: Input Contact Number -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Contact Number :</label>
                                                            <input type="text" id="contact_number" name="contact_number" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter contact number">
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Contact Number -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Vendor -->
                            <!-- Begin: Reference -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Reference</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Purchase Order -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Purchase Order :</label>
                                                            <select id="purchase_order_id" name="purchase_order_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Purchase Order -->
                                                    <!-- Begin: Department -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Department :</label>
                                                            <div class="input-group">
                                                                <input hidden name="business_unit_id" />
                                                                <input id="business_unit_id" name="business_unit_id" type="text" readonly class="form-control form-control-sm m-input" placeholder="Choose Business Unit">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-sm" type="button" id="btn-choose_business_unit"><i class="la la-arrow-down"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End: Department -->
                                                </div>
                                                <div class="row">
                                                    <!-- Begin: Reference Number -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Reference Number :</label>
                                                            <input type="text" id="company_reference" name="company_reference" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter reference number">
                                                        </div>
                                                    </div>
                                                    <!-- End: Reference Number -->
                                                    <!-- Begin: Reference Date -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Reference Date :</label>
                                                            <div class="input-group input-group-sm date">
                                                                <input type="text" name="reference_date" id="reference_date" class="form-control m-input" readonly placeholder="Select date" />
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End: Reference Date -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Reference -->
                            <!-- Begin: Payment -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Payment</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Amount -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <label>Amount</label>
                                                        <div class="input-group input-group-sm ">
                                                            <div class="input-group-prepend">
                                                                <select id="currency_id" name="currency_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                            </div>
                                                            <input id="total_amount" name="total_amount" placeholder="Enter Amount" type="text" class="form-control" aria-label="Text input with dropdown button">
                                                        </div>
                                                    </div>
                                                    <!-- End: Amount -->
                                                    <!-- Begin: Input Exchange -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Exchange :</label>
                                                            <input type="text" id="exchange_rate" name="exchange_rate" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter exchange">
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Exchange -->
                                                    <!-- Begin: Input Tax No -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Tax Number :</label>
                                                            <input type="text" id="tax_number" name="tax_number" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter Tax Number">
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Tax No -->
                                                    <!-- Begin: Tax Date -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Tax Date :</label>
                                                            <div class="input-group input-group-sm date">
                                                                <input type="text" name="tax_date" id="tax_date" class="form-control m-input" readonly placeholder="Select date" />
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End: Tax Date -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Payment -->
                            <!-- Begin: Invoice Documents -->
                            <div class="row">
                                <div class="col-lg-6 m-row--no-padding">
                                    <label><h5>Documents</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="m-checkbox-inline">
                                                    <!-- Begin: Purchase Order-->
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox"> Purchase Order
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="file_purchase_order">
                                                                <label id="file_purchase_order_link" class="custom-file-label" for="file_purchase_order">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End: Purchase Order-->
                                                    <!-- Begin: Tax-->
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox"> Tax
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="file_tax">
                                                                <label id="file_tax_link" class="custom-file-label" for="file_tax">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End: Tax-->
                                                    <!-- Begin: Contract-->
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox"> Contract
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="file_contract">
                                                                <label id="file_contract_link" class="custom-file-label" for="file_contract">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End: Contract-->
                                                    <!-- Begin: Delivery Order-->
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox"> Delivery Order (SJ)
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="file_delivery_order">
                                                                <label id="file_delivery_order_link" class="custom-file-label" for="file_delivery_order">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End: Delivery Order-->
                                                    <!-- Begin: Good Received-->
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox"> Good Received (BAST)
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="file_good_received">
                                                                <label id="file_good_received_link" class="custom-file-label" for="file_good_received">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End: Good Received-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 m-row--no-padding">
                                    <label><h5>Approval</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="m-radio-inline">
                                                    <label class="m-radio">
                                                        <input type="radio" name="approval" value="approved">Approved
                                                        <span></span>
                                                    </label>
                                                    <label class="m-radio">
                                                        <input type="radio" name="approval" value="rejected">Rejected
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div class="row m--margin-top-20">
                                                    <div class="col-lg-12 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Notes :</label>
                                                            <textarea id="notes"class="form-control m-input m-input--air" rows="6" 
                                                                      style="margin-top: 0px; margin-bottom: 0px;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Invoice Documents -->

                        </form>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" id="btn-save" class="btn btn-sm btn-primary">Save</button>
                            <button type="button" id="btn-submit" class="btn btn-sm btn-success">Submit</button>
                            <a href="@Url.Content("~/Finance/InvoiceReceived")" class="fakelink btn btn-sm btn-secondary">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Container -->
<div class="modal-container"></div>

@section Scripts{
    <script type="text/javascript" src="~/vendors/custom/jeasyui/jquery.easyui.min.js"></script>
    <script src="~/Areas/Finance/Scripts/InvoiceReceived.Detail.js?@DateTime.Now" asp-append-version="true"></script>
}