﻿@{
    ViewData["Title"] = "Invoice Received";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />


<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Invoice Received</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/InvoiceReceived")" class="m-nav__link">
                        <span class="m-nav__link-text">Invoice Received List</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            @*<span class="m-portlet__head-icon">
                                <a href="@Url.Content("~/Finance/InvoiceReceived/Detail/")" class="m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
                            </span>*@
                            <div class="input-group input-group-sm">
                                <a href="@Url.Content("~/Finance/InvoiceReceived/Detail/")" class="m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
                            </div>       
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        @*<div class="btn-group" role="group">*@
                            <div class="col-lg-12">
                                @(Html.Kendo().DropDownList()
                                         .Name("Filter")
                                         .DataTextField("Text")
                                         .DataValueField("Value")
                                         .Events(e =>
                                         {
                                             e.Change("onSelectStatus");
                                         })
                                         .BindTo(new List<SelectListItem>() {
                                                new SelectListItem() {
                                                Text = "All Status",
                                                Value = ""
                                                },new SelectListItem() {
                                                Text = "Open",
                                                Value = "1"
                                                },
                                                new SelectListItem() {
                                                Text = "Approved Front Desk",
                                                Value = "2"
                                                },
                                                new SelectListItem() {
                                                Text = "Approved Admin Finance",
                                                Value = "3"
                                                },new SelectListItem() {
                                                Text = "TAP",
                                                Value = "5"
                                                }
                                         })
                                         .HtmlAttributes(new { style = "width: 100%" })
                                )
                                @*<form id="form-search-dt_basic">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text input-group-sm"><i class="la la-search"></i></span></div>
                <input autocomplete="off" type="text" name="q" class="form-control form-control-sm m-input searchbox" placeholder="Search">
            </div>
        </form>*@
                            @*</div>*@
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon"
                                   aria-describedby="tooltip_d4ny9s36oh">
                                    <i class="la la-expand"></i>
                                </a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top"
                                     role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true"
                                     x-placement="top" style="position: absolute; will-change: transform;
                                        visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">
                                    <div class="tooltip-arrow arrow" style="left: 48px;"></div>
                                    <div class="tooltip-inner">Fullscreen</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
               
                    <div class="m-portlet__body" id="m_blockui_list">
                        @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.InvoiceReceived.InvoiceReceivedList>()
                                        .Name("grid")
                                        .Columns(columns =>
                                        {
                                            columns.Bound("").ClientTemplateId("btnAction-template")
                                            .Title("Action").HtmlAttributes(new { style = "text-align:center;" })
                                            .HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);

                                            columns.Bound(p => p.InvoiceNumber).Title("Invoice Received Number").Width(200);
                                            columns.Bound(p => p.ClientName).Title("Vendor Name").Width(200);
                                            columns.Bound(p => p.InvoiceDate).Width(200).Format("{0:dd/MM/yyyy}");
                                            columns.Bound("").ClientTemplate("#= CheckList(data) #").Title("Checklist").Width(300);
                                            columns.Bound(p => p.PoNumber).Width(200);
                                            columns.Bound(p => p.InvoiceVendor).Width(200);
                                            columns.Bound(p => p.InvoiceVendorDate).Width(200).Format("{0:dd/MM/yyyy}");
                                            columns.Bound(p => p.JobName).Width(200);
                                            columns.Bound(p => p.CurrencyName).Width(200);
                                            columns.Bound(p => p.Amount).Width(200).Format("{0:n2}");
                                            columns.Bound(p => p.StatusName).Width(200);
                                            columns.Bound(p => p.InvoiceStatusId).Hidden();

                                        })
                                            .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(true)
                                            .ButtonCount(5))
                                            .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                            .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                            .Extra(false)
                                            .Operators(operators => operators
                                            .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Start sWith")
                                            .EndsWith("End sWith")
                                            )))
                                            .NoRecords()
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .Resizable(rsz => rsz.Columns(true))
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .PageSize(10)
                                            .Events(events => events.Error("errorHandler"))
                                            .Model(model => { model.Id(p => p.Id); })
                                            .Read(read => read.Action("Read", "InvoiceReceived").Data("InvoiceReceivedStatusParam"))
                                            )
                        )
                    </div>
                </div>
            </div>
    </div>
</div>

<script id="btnAction-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'><span style='color:green'><i class='fa fa-edit'></i></span></a>
    <a href='javascript: void(0);' onclick='deleteGridRow(this)' title='Delete' class='delete'><span style='color:maroon'><i class='fa fa-trash-alt'></i></span></a>
    #if(InvoiceStatusId==@PhoenixERPWebApp.Models.InvoiceReceivedStatus.ApproveAdmin){#
    <a href='javascript: void(0);' onclick='createTAP(this)' title='TAP'class='edit'><span style='color:black'><i class='fa fa-file'></i></span></a>
    #}#
   
</script>
<script>
    function CheckList(data) {
        var datasemua = "";
        var datapo = "";
        var datatax = "";
        var datado = "";
        var datagr = "";
        var datacontract = "";
        if (data.PoCheckList == 1) {
            datapo = '<span>PO Done</span><br>';
        } else {
            datapo = "<span>PO Not Avalible</span><br>";
        }

        if (data.TaxCheckList == 1) {
            datatax = "<span>Tax Done</span><br>";
        } else {
            datatax = "<span>Tax Not Avalible</span><br>";
        }

        if (data.DoCheckList == 1) {
            datado =  "<span>Delivery Order Done</span><br>";
        } else {
            datado =  "<span>Delivery Order Not Avalible</span><br>";
        }

        if (data.GrCheckList == 1) {
            datagr = "<span>Good Received Done</span><br>";
        } else {
            datagr =  "<span>Good Received Not Avalible</span><br>";
        }

        if (data.ContractCheckList == 1) {
            datacontract = "<span>Contract Done</span><br>";
        } else {
            datacontract = "<span>Contract Not Avalible</span><br>";
        }
        datasemua = datapo + " " + datatax + " " + datado + " " + datagr + " " + datacontract;
        return datasemua;

    }
    function InvoiceReceivedStatusParam() {
        return { status: $("#Filter").val() };
    }
    function onSelectStatus() {
        $('#grid').data("kendoGrid").dataSource.read();
       
    };

    function editGridRow(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("Detail", "InvoiceReceived")?Id=' + item.Id;
    }

    function deleteGridRow(e) {
        deleteRow(e, '@Url.Action("Delete", "InvoiceReceived")');
    }

    function createTAP(e) {
        var item = dataItem(e);
        console.log(item);
        @*window.location.href = '@Url.Action("Detail", "TemporaryAcountPayable")?Id=' + item.Id;*@
    }
</script>
<script src="~/Areas/Finance/Scripts/InvoiceReceived/InvoiceReceived.Index.js" asp-append-version="true"></script>