@{
    ViewData["Title"] = "VacancyJobSource";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="VacancyJobSourceFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="file_id">file_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="file_id" id="file_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="links">links</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="links" id="links"  maxlength="255" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="source_vacancy">source_vacancy</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="source_vacancy" id="source_vacancy"  maxlength="255" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/VacancyJobSource" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/VacancyJobSource.create.js"></script>
}
