﻿<input hidden id="detail-id" value="@ViewBag.RecordID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Cash Advance Project</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/CashAdvanceProject")" class="m-nav__link">
                        <span class="m-nav__link-text">Cash Advance Project</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <form id="form-CashAdvanceProject" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                    <input hidden name="id" value="@ViewBag.RecordID" />
                    <div class="m-portlet__body">
                        <div class="m-form__group">
                            <div class="row">
                                <!-- Begin: CA Number -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>CA Number :</label>
                                        <input id="ca_number" name="ca_number" type="text" class="form-control form-control-sm m-input" placeholder="Enter CA Number">
                                    </div>
                                </div>
                                <!-- End: CA Number -->
                                <!-- Begin: CA Date -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">CA Date :</label>
                                    <div class="input-group input-group-sm date">
                                        <input type="text" class="form-control form-control-sm m-input" name="ca_date" readonly="" placeholder="Select Date" id="m_datetimepicker_2">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End: CA Date -->
                                <!-- Begin: Input Revision -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Revision :</label>
                                        <input id="revision" name="revision" type="text" class="form-control form-control-sm m-input" placeholder="Enter Revision Number">
                                    </div>
                                </div>
                                <!-- End: Input Revision -->
                            </div>
                            <!-- Begin: Requester -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Requester</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Requester Data -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <label class="form-control-label">Requester Date :</label>
                                                        <div class="input-group input-group-sm date">
                                                            <input type="text" class="form-control form-control-sm m-input" name="requested_on" readonly="" placeholder="Select Date" id="m_datetimepicker_2">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <i class="la la-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End: Requester Date -->
                                                    <!-- Begin: Input Name Of Request -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">Name Of Request :</label>
                                                            <input type="text" id="name_of_request" name="name_of_request" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter Name Of Request">
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Name Of Request -->
                                                    <!-- Begin: Bussines Unit -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Business Unit :</label>
                                                            <select id="business_unit_id" name="business_unit_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Bussines Unit -->
                                                    <!-- Begin: Legal Entity -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Legal Entity :</label>
                                                            <select id="legal_entity_id" name="legal_entity_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Legal Entity -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Requester -->
                            <!-- Begin: Business Purposes -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Business Purposes</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Input Client Name -->
                                                    <div class="col-lg-4 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">Client Name :</label>
                                                            <input type="text" id="client_name" name="client_name" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter Client Name">
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Client Name -->
                                                    <!-- Begin: PO Vendor -->
                                                    <div class="col-lg-4 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>PO Vendor :</label>
                                                            <select id="purchase_order_id" name="purchase_order_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: PO Vendor -->
                                                    <!-- Begin: Job Number -->
                                                    <div class="col-lg-4 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Job Number :</label>
                                                            <select id="job_id" name="job_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Job Number -->
                                                </div>
                                                <div class="row">
                                                    <!-- Begin: Input Project Activity -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">Project Activity :</label>
                                                            <input type="text" id="project_activity" name="project_activity" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter Project Activity">
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Project Activity -->
                                                    <!-- Begin: Input Project Area -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">Project Area :</label>
                                                            <input type="text" id="project_area" name="project_area" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter Project Area">
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Project Area -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Business Purposes -->
                            <!-- Begin: Payee -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Payee</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Vendor Name / Procurmer -->
                                                    <div class="col-lg-4 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Vendor Name / Procurmer :</label>
                                                            <select id="vendor_id" name="vendor_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Vendor Name / Procurmer -->
                                                    <!-- Begin: Input Account Number-->
                                                    <div class="col-lg-4 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">Account Number :</label>
                                                            <select id="payee_account_number" name="payee_account_number" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Account Number -->
                                                    <!-- Begin: Input Account Name-->
                                                    <div class="col-lg-4 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">Account Name :</label>
                                                            <select id="payee_account_name" name="payee_account_name" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Account Name -->
                                                </div>
                                                <div class="row">
                                                    <!-- Begin: Lookup Bank Name -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Bank Name :</label>
                                                            <select id="payee_bank_id" name="payee_bank_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Lookup Bank Name -->
                                                    <!-- Begin: Lookup Bank Branch -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Bank Branch :</label>
                                                            <input type="text" id="payee_bank_branch" name="payee_bank_branch" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter Bank Branch">
                                                        </div>
                                                    </div>
                                                    <!-- End: Lookup Bank Branch -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Payee -->
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="button" id="btn-save" class="btn btn-sm btn-success">Save to Draft</button>
                                    <button type="button" id="btn-approval" class="btn btn-sm btn-warning" disabled="disabled">Setup Approval</button>
                                    <button type="button" id="btn-remove_approval" class="btn btn-sm btn-danger" disabled="disabled">Remove Approval</button>
                                    <button type="button" id="btn-submit" class="btn btn-sm btn-primary" disabled="disabled">Submit</button>
                                    <a href="@Url.Content("~/Finance/CashAdvanceProject")" class="btn btn-sm btn-secondary">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/demo/demo_12/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="~/vendors/custom/momenjs/moment.min.js"></script>
    <script src="~/Areas/Finance/Scripts/CashAdvanceProject.Detail.js"></script>
}