﻿@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />
<style>
    .badge-icon {
        padding: 3px !important;
        margin: 3px !important;
        border-radius: 7px;
        border: 1px solid #ddd;
        background: #fff;
        color: #333;
        width: 100%;
        font-size: 10px !important;
    }

    .label-icon {
        padding: 3px !important;
        margin: 3px !important;
        border-radius: 7px;
        border: 1px solid #ddd;
        background: #fff;
        color: #000;
        font-weight: bold;
        width: 100%;
        font-size: 10px !important;
    }
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">TEMPLATE APPROVAL</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-gear"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">System</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Application</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Um/ManageMenu")" class="m-nav__link">
                        <span class="m-nav__link-text">Manage Menu</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Um/TemplateApproval")" class="m-nav__link">
                        <span class="m-nav__link-text">List Template Approval</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Um/AdditionalTemplate")" class="m-nav__link">
                        <span class="m-nav__link-text">Add Template Approval</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                        <li class="m-nav__item">
                                            <a href="@Url.Content("~/Um/TemplateApproval/AdditionalTemplate")" class="m-nav__link">
                                                <span class="m-nav__link-text">1. Configure Template</span>
                                            </a>
                                        </li>
                                        <li class="m-nav__separator">></li>
                                        <li class="m-nav__item">
                                            <a href="javascript:return;" class="m-nav__link">
                                                <span class="m-nav__link-text">2. Configure Conditional User Approval</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body row" id="m_blockui_list">

                    <div class="col-md-12 row">
                        <div class="col-md-12">
                            <button class="pull-right btn btn-sm btn-primary btnSaveTemp">SAVE</button>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <table class="table table-striped- table-bordered table-hover table-checkable">
                                <thead><tr><th><b>TEMPLATE NAME</b></th></tr></thead>
                                <tr>
                                    <td>
                                        <input type="hidden" id="hidMenuId" />
                                        @*<label class="label-block"><b>TEMPLATE NAME</b></label>*@
                                        <input type="text" class="form-control" id="tbTemplateName" readonly disabled="disabled" placeholder="template name" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <table class="table table-striped- table-bordered table-hover table-checkable">
                                <thead><tr><th><b>MENU</b></th></tr></thead>
                                <tr>
                                    <td>
                                        <select id="ddlMenu" class="form-control form-control-sm" style="width:100%"></select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <br />
                        <div class="clearfix"></div>
                        <div class="col-lg-4 col-md-4">
                            <table class="table table-striped- table-bordered table-hover table-checkable" id="dt_basic">
                                <thead><tr><th colspan="2"><b>NOTIFICATION</b></th></tr></thead>
                                <tr>
                                    <td>WEB</td>
                                    <td>
                                        <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                            <input type="checkbox" value="" class="m-group-checkable" name="cbWeb" id="cbWeb" disabled>
                                            <span></span>
                                        </label>

                                    </td>
                                </tr>
                                <tr>
                                    <td>EMAIL</td>
                                    <td>
                                        <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                            <input type="checkbox" value="" class="m-group-checkable" name="cbEmail" id="cbEmail" disabled>
                                            <span></span>
                                        </label>

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <table class="table table-striped- table-bordered table-hover table-checkable" id="dt_basic">
                                <thead><tr><th colspan="2"><b>REMINDER</b></th></tr></thead>
                                <tr>
                                    <td>DUE DATE TIME</td>
                                    <td width="105px">
                                        <input type="number" class="form-control" id="tbduedatetime" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <td>REMINDER TIME</td>
                                    <td width="105px">
                                        <input type="number" class="form-control" id="tbReminderTIme" disabled />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <table class="table table-striped- table-bordered table-hover table-checkable" id="dt_basic">
                                <thead><tr><th><b>TYPE APPROVAL</b></th></tr></thead>
                                <tr>
                                    <td>SELECT TYPE</td>
                                </tr>
                                <tr>
                                    <td>
                                        <select id="ddlType" name="ddlType" class="form-control form-control-sm" style="width:100%" disabled>
                                            <option value="0">SQUANCE</option>
                                            <option value="1">PARALEL</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <table class="table table-striped- table-bordered table-hover table-checkable" id="dt_basic">
                                <thead><tr><th><b>APPROVAL CATEGORY</b></th></tr></thead>
                                <tr>
                                    <td>SELECT CATEGORY</td>
                                </tr>
                                <tr>
                                    <td>
                                        <select id="ddlCategory" name="ddlCategory" class="form-control form-control-sm" style="width:100%" disabled>
                                            <option value="1">PM</option>
                                            <option value="2">HRIS</option>
                                            <option value="3">FINANCE</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-4" style="display:none">
                            <table class="table table-striped- table-bordered table-hover table-checkable">
                                <thead><tr><th><b>APPROVAL FOR POSITION</b></th></tr></thead>
                                <tr>
                                    <td>
                                        <select id="ddlJobTitle" class="form-control form-control-sm" style="width:100%" disabled></select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-4" style="display:none">
                            <table class="table table-striped- table-bordered table-hover table-checkable">
                                <thead><tr><th colspan="2"><b>APPROVAL FOR BUDGETING</b></th></tr></thead>
                                <tr>
                                    <td>
                                        <label>Min.Budget</label>
                                        <input type="number" id="tbMinBudget" class="form-control" disabled/>
                                    </td>
                                    <td>
                                        <label>Max.Budget</label>
                                        <input type="number" id="tbMaxBudget" class="form-control" disabled/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <table class="table table-striped- table-bordered table-hover table-checkable" id="tableListUser">
                                <thead>
                                    <tr>
                                        <th colspan="3">
                                            <b>CHOOSE APPROVAL</b>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>CONCURRENT USER</th>
                                        <th>CONDITIONAL</th>
                                        <th><i class="fa fa-cogs pull-right"></i></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <br />
                            <button class="pull-right btn btn-sm btn-primary btnSaveTemp">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="HidTempApprovalId" value="0" />
<input type="hidden" id="HidId" value="0" />
<input type="hidden" id="HidTypeUserApp" value="CURRENT" />
<input type="hidden" id="HidCurrentEmpId" value="0" />

<div id="modalConditional" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="max-width: 90%;"> 
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADD/EDIT CONDITIONAL APPROVAL</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tblTempGroup">
                        <thead>
                            <tr>
                                <th>#SELECT USER GROUP APPROVAL</th>
                                <th>#CONDITION GROUP APPROVAL</th>
                                <th><i class="fa fa-cogs pull-right"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div id="divListUserApproval" style="background:#f4f4f4;padding:5px;margin:2px"></div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn md-btn-danger btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary btnSaveGroupApproval">Save</button>
            </div>
        </div>

    </div>
</div>
<partial name="_popupEmployee" />

@section Scripts{
    @*<script src="~/Areas/Um/Scripts/ListUserApproval.js" asp-append-version="true"></script>*@
    <script src="~/Areas/Um/Scripts/AddConditionalApproval.js" asp-append-version="true"></script>
}



