﻿@model PhoenixERPWebApp.Models.Termination
<input type="hidden" asp-for="TerminationDate" />
<input type="hidden" asp-for="ExitInterviewFiles" />
<input type="hidden" asp-for="WarningLetter" />
<input type="hidden" asp-for="WarningLetterDate" />

<hr/>
<div class="row">
    <div class="col-lg-12 m-form__group-sub">
        <div class="form-group">
            <label></label> Retired Notes <span class="req">*</span> :
            @(Html.Kendo().EditorFor(x => x.Notes)
                .HtmlAttributes(new { style = "width:100%", aria_label = "editor", @readonly = "readonly" })
                .Resizable(resizable => resizable.Content(true).Toolbar(false))
            )
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 m-form__group-sub">
        <div class="form-group">
            <label asp-for="TerminationInterviewDate"></label> <span class="req">*</span> :
            @(Html.Kendo().DatePickerFor(m => m.TerminationInterviewDate)
                .Format("dd MMM yyyy")
                .HtmlAttributes(new
                {
                    style = "width:100%",
                    @class = "form-control form-control-sm m-input",
                    @readonly = "readonly"
                })
            )
        </div>
    </div>

    <div class="col-lg-3 m-form__group-sub">
        <div class="form-group">
            <label asp-for="EffectiveResignDate"></label> <span class="req">*</span> :
            @(Html.Kendo().DatePickerFor(m => m.EffectiveResignDate)
                .Format("dd MMM yyyy")
                .HtmlAttributes(new
                {
                    style = "width:100%",
                    @class = "form-control form-control-sm m-input",
                    @readonly = "readonly"
                })
            )
        </div>
    </div>

    <div class="col-lg-4 m-form__group-sub">
        <div class="form-group">
            <label asp-for="LastDayDate"></label> <span class="req">*</span> :
            @(Html.Kendo().DatePickerFor(m => m.LastDayDate)
                .Format("dd MMM yyyy")
                .HtmlAttributes(new
                {
                    style = "width:100%",
                    @class = "form-control form-control-sm m-input",
                    @readonly = "readonly"
                })
            )
        </div>
    </div>
</div>