﻿@model PhoenixERPWebApp.Models.Termination
<input type="hidden" asp-for="LastDayDate" />

<hr/>
<div class="row">
    <div class="col-lg-4 m-form__group-sub">
        <div class="form-group">
            <label asp-for="WarningLetter"></label> <span class="req">*</span> :
            @(Html.Kendo().DropDownListFor(x=>x.WarningLetter)
                .DataTextField("Text")
                .DataValueField("Value")
                .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.WarningLetter)}")
                .BindTo(new List<SelectListItem>() {
                    new SelectListItem() { Text = "SP1", Value = "SP1" },
                    new SelectListItem() { Text = "SP2",Value = "SP2" },
                    new SelectListItem() { Text = "SP3",Value = "SP3" }
                })
                .HtmlAttributes(
                new {
                    style = "width: 100%",
                    @class = "form-control form-control-sm m-input",
                    @readonly = "readonly"
                })
            )
        </div>
    </div>

    <div class="col-lg-4 m-form__group-sub">
        <div class="form-group">
            <label asp-for="WarningLetterDate"></label> <span class="req">*</span> :
            @(Html.Kendo().DatePickerFor(m => m.WarningLetterDate)
                .Format("dd MMM yyyy")
                .HtmlAttributes(new
                {
                    style = "width:100%",
                    @class = "form-control form-control-sm m-input",
                    @readonly = "readonly"
                })
            )
        </div>
    </div>

    <div class="col-lg-4 m-form__group-sub">
        <div class="form-group">
            <label asp-for="TerminationInterviewDate"></label> <span class="req">*</span> :
            @(Html.Kendo().DatePickerFor(m => m.TerminationInterviewDate)
                .Format("dd MMM yyyy")
                .HtmlAttributes(new
                {
                    style = "width:100%",
                    @class = "form-control form-control-sm m-input",
                    @readonly = "readonly"
                })
            )
        </div>
    </div>
</div>

    <div class="row">
    <div class="col-lg-4 m-form__group-sub">
        <div class="form-group">
            <label asp-for="TerminationDate"></label> <span class="req">*</span> :
            @(Html.Kendo().DatePickerFor(m => m.TerminationDate)
                .Format("dd MMM yyyy")
                .HtmlAttributes(new
                {
                    style = "width:100%",
                    @class = "form-control form-control-sm m-input",
                    @readonly = "readonly"
                })
            )
        </div>
    </div>

    <div class="col-lg-4 m-form__group-sub">
        <div class="form-group">
            <label asp-for="EffectiveResignDate"></label> <span class="req">*</span> :
            @(Html.Kendo().DatePickerFor(m => m.EffectiveResignDate)
                .Format("dd MMM yyyy")
                .HtmlAttributes(new
                {
                    style = "width:100%",
                    @class = "form-control form-control-sm m-input",
                    @readonly = "readonly"
                })
            )
        </div>
    </div>

    <div class="col-lg-3 m-form__group-sub">
        <div class="form-group">
            <label asp-for="ExitInterviewFiles"></label> <span class="req">*</span> :
            <div style="width:100%">
                <a href='javascript: void(0);' id="linkDownloadExitInterviewFile" onclick='downloadExitInterviewFile()'></a> &nbsp;
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 m-form__group-sub">
        <div class="form-group">
            <label asp-for="Notes"></label> <span class="req">*</span> :
            @(Html.Kendo().EditorFor(x => x.Notes)
                .HtmlAttributes(new { style = "width:100%", aria_label = "editor", @readonly = "readonly" })
                .Resizable(resizable => resizable.Content(true).Toolbar(false))
            )
        </div>
    </div>
</div>