@{
    ViewData["Title"] = "Exit Clearance";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">HRIS</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="exitchecklist" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Exit Clearance</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <h3 class="m-portlet__head-text m--font-success">Exit Clearance</h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Termination>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound("").Title("#").Width(50).Filterable(false).HtmlAttributes(new { style = "text-align:center;", @class = "row-number" }).HeaderHtmlAttributes(new { style = "text-align:center;" });
                            columns.Bound(p => p.Id).ClientTemplateId("btnAction-template").Width(200);
                            columns.Bound(p => p.requestEmployee.EmployeeName).Title("Requestor").Width(200);
                            columns.Bound(p => p.requestEmployee.JobTitle).Width(200);
                            columns.Bound(p => p.requestEmployee.Grade).Width(200);
                            columns.Bound(p => p.requestEmployee.Division).Width(200);
                            columns.Bound(p => p.TerminationTypeName).Width(200);
                            columns.Bound(p => p.infoEmployee.EmployeeName).Title("Employee").Width(200);
                            columns.Bound(p => p.infoEmployee.JobTitle).Width(200);
                            columns.Bound(p => p.infoEmployee.Division).Width(200);
                            columns.Bound(p => p.infoEmployee.Grade).Width(200);
                            columns.Bound(p => p.StatusChecklistDesc).Width(200);
                            columns.Bound(p => p.RequestDate).Width(200).Filterable(x => x.Extra(true));
                            columns.Bound(p => p.ApprovedOn).Title("Close Date").Width(200).Filterable(x => x.Extra(true));
                            columns.Bound(p => p.Checklist).Width(120).Filterable(filterable => filterable.UI("yesNo"));
                            columns.Bound(p => p.Interview).Width(120).Filterable(filterable => filterable.UI("yesNo"));
                        })
                        .NoRecords()
                        .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(true)
                            .ButtonCount(5))
                        .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                        .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                            .Extra(false)
                            .Operators(operators => operators
                            .ForString(str => str.Clear()
                                .Contains("Contains")
                                .StartsWith("Start sWith")
                                .EndsWith("End sWith")
                            )))
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(rsz => rsz.Columns(true))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Events(events => events.Error("errorHandler"))
                            .Model(model => { model.Id(p => p.Id); })
                            .Read(read => read.Action("read", "exitchecklist"))
                        )
                        .Events(e => e.DataBound("dataBoundEvent"))
                    )
                </div>
            </div>
        </div>
    </div>
</div>
<script id="btnAction-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='processGridRow(this)' title='Process' class='edit'><span style='color:blue; text-decoration:underline;'>#=Id#</span></a>
</script>
<script>
    function processGridRow(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("addedit", "exitchecklist")?Id=' + item.Id;
    }
</script>