@{
    ViewData["Title"] = "Mpp Create";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    @*<a href="@Url.Content("~/Hris/MppDetail/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>*@
}

@section Paneltools{
    <a data-target="#MppDetailModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>
}
@section Panelbody{
    <style>
        .m-margin__top-20 {
            margin-top: 20px !important;
        }

        .redtext {
            color: red !important;
        }

        .bluetext {
            color: blue !important;
        }
    </style>
    <form id="MppDetailFormCreate" name="MppDetailFormCreate" method="post">
        <div class="row m-row--col-separator-xl">
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="fiscal_year">Fiscal Year</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" type="hidden" id="total_budget" name="total_budget">
                    <input class="form-control form-control-sm m-input m-input--square" type="hidden" id="status" name="status" value="0">
                    <span id="tmpmpp"></span>
                    <input class="form-control form-control-sm m-input m-input--square" name="fiscal_year" id="fiscal_year" maxlength="255" type="text" placeholder="Fiscal Year" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="Divisi">Divisi</span> :</label>
                    @*<input type="hidden" id="business_unit_id" name="business_unit_id">*@
                    <select id="business_unit_id" name="business_unit_id" class="form-control form-control-sm m-input m-input--square"></select>
                    @*<input id="business_unit_id_name" name="business_unit_id_name" class="form-control form-control-sm m-input m-input--square" type="text" readonly />*@
                    <input type="hidden" id="business_unit_id_name" name="business_unit_id_name">
                    <span class="md-input-bar"></span>
                    @*<select id="business_unit_id" name="business_unit_id" class="md-input"></select>*@

                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @*<button onclick="showtreebu_custom('business_unit_id','business_unit_id_name','approver_title_1','approver_name_1','approver_title_2','approver_name_2','approver_title_3','approver_name_3','mpp')" type="button" class="btn btn-secondary m-margin__top-20">Choose Division</button>*@
                    &nbsp;
                    <span class="md-input-bar "></span>
                </div>
            </div>
        </div>

        <div class="row m-row--col-separator-xl">
            <div class="col-md-11">
                <!-- Content Left -->&nbsp;
            </div>
            <div class="col-md-1">
                <a data-target="#MppDetailFormCreateModal" onclick="fnMppDetail.create()" data-toggle="modal" class="m-btn btn btn-primary btn-sm m-btn--sm" "><i class="uk-icon-plus"></i> <span class="translate" data-args="Add">Add</span></a>

            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-12">
                <table id="MppDetailList" class="table table-striped table-bordered table-hover table-checkable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Job Title</th>
                            <th>TFF</th>
                            <th>Employment Status</th>
                            <th>MPP Budget</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="no_data">
                            <td colspan="5">No Data</td>
                        </tr>
                        <tr id="total_budget">
                            <td colspan="3">&nbsp;</td>
                            <td>TOTAL BUDGET</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <hr />
        <div class="row">
            <input type="hidden" id="template_approval_id" name="template_approval_id">
            <div class="col-lg-12 m-form__group-sub">
                <div class="form-group">
                    <label>
                        <h5>Approval</h5>
                    </label>
                    <div class="m-section__content">
                        <table class="table table-striped table-bordered table-hover table-checkable" id="MppListApprover">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Title</th>
                                    <th>Approver Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="no_data">
                                    <td colspan="3">No Data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <button type="button" id="btn-save" class="btn btn-primary">Save</button>
                    <button type="submit" id="btn-submit" name="btn-submit" class="btn btn-success">Submit</button>
                    <a href="../../hris/Mpp" class="fakelink btn btn-secondary">Cancel</a>
                </center>
            </div>
        </div>
    </form>
    @*<table class="table table-striped table-bordered table-hover table-checkable" id="MppDetailList"></table>*@
    @Html.Partial("MppDetail/Create");
    @Html.Partial("MppDetail/Search");

}
@section Panelscript{
    <script src="~/approval/gmApproval.js"></script>
    <script src="~/assets/js/Areas/Hris/Form/MppDetail.js"></script>

}
