@{
    ViewData["Title"] = "MppDetail";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="MppDetailFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="employment_status">employment_status</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employment_status" id="employment_status"  maxlength="255" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="job_tittle_id">job_tittle_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="job_tittle_id" id="job_tittle_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="mpp_budged">mpp_budged</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="mpp_budged" id="mpp_budged"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="mpp_id">mpp_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="mpp_id" id="mpp_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="ttf">ttf</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="ttf" id="ttf"  maxlength="255" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/MppDetail" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/MppDetail.update.js"></script>
}
