﻿@{
    ViewData["Title"] = "Setup Approval Group";
}
<link href="~/vendors/custom/query-builder/css/query-builder.default.css?@DateTime.Now" rel="stylesheet" />

<input hidden id="detail-id" value="@ViewBag.RecordID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Approval Template Setup</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Application</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Core/Approval/ApprovalGroup")" class="m-nav__link">
                        <span class="m-nav__link-text">Approval Template</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Setup Approval Template</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Setup</h5>
                            <!--begin::Form-->
                            <form id="form-approval_template" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed row">
                                <input hidden name="id" value="@ViewBag.RecordID" />
                                <div class="col-lg-12 row">
                                    <div class="col-lg-4 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Template Name :</label>
                                            <input class="form-control form-control-sm" name="template_name" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 m-row--no-padding">
                            <h5>Template</h5>
                            <div id="builder-basic" style="width:100%"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" id="btn-save" class="btn btn-sm btn-success">Save</button>
                            <button type="button" id="btn-get" class="btn btn-sm btn-success">Get</button>
                            <a href="#" class="fakelink btn btn-sm btn-secondary">Close</a>

                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>



</div>

@section Scripts{

    <script src="~/vendors/custom/query-builder/js/doT.min.js"></script>
    <script src="~/vendors/custom/query-builder/js/jQuery.extendext.js"></script>
    <script src="~/vendors/custom/query-builder/src/interact.min.js"></script>
    <script src="~/vendors/custom/query-builder/src/query-builder.standalone.js?@DateTime.Now" asp-append-version="true"></script>

    <script asp-append-version="true">
        (function ($) {
            'use strict';

            var pageFunction = function () {
                var _formApprovalTemplate = $('#form-approval_template');
                var _detailID = $('#detail-id');
                var $templateBuilder = $('#builder-basic');

                //BEGIN::Load Data

                var loadDetailData = function () {
                    if (_detailID.val() !== '') {
                        mApp.blockPage({
                            overlayColor: "#000000",
                            type: "loader",
                            state: "primary",
                            message: "Processing..."
                        }),
                            $.ajax({
                                type: "GET",
                                dataType: 'json',
                                url: $.helper.resolveApi("~/core/ApprovalTemplate/" + _detailID.val() + "/details"),
                                success: function (r) {
                                    if (r.status.success && r.data) {
                                        var record = r.data;
                                        $('input[name="id"]').val(record.id);
                                        $('input[name="template_name"]').val(record.template_name);
                                    } else {
                                        swal(
                                            'Information',
                                            r.status.message,
                                            'info'
                                        );
                                    }
                                },
                                error: function (e, t, s) {
                                    swal(
                                        'Information',
                                        'Ooops, something went wrong !',
                                        'info'
                                    );
                                }
                            }).then(setTimeout(function () {
                                mApp.unblockPage();
                            }, 2e3)),
                            setTimeout(function () {
                                loadTemplate();
                            }, 2e3)
                    }
                };

                var loadTemplate = function () {
                    if (_detailID.val() != '') {
                        //$templateBuilder.queryBuilder('setRules', rulexx);
                        //return;
                        mApp.blockPage({
                            overlayColor: "#000000",
                            type: "loader",
                            state: "primary",
                            message: "Get Template ..."
                        });
                        $.ajax({
                            type: "GET",
                            dataType: 'json',
                            url: $.helper.resolveApi("~/core/ApprovalTemplate/template?approvaltemplateid=" + _detailID.val()),
                            success: function (r) {
                                if (r.status.success && r.data) {
                                    console.log(r.data);
                                    $templateBuilder.queryBuilder('setRules', r.data);
                                } else {
                                    swal(
                                        'Information',
                                        r.status.message,
                                        'info'
                                    );
                                }
                            },
                            error: function (e, t, s) {
                                swal(
                                    'Information',
                                    'Ooops, something went wrong !',
                                    'info'
                                );
                            }
                        }).then(setTimeout(function () {
                            mApp.unblockPage();
                        }, 2e3));



                    }
                }

                //END::Load Data
                function formatUserLookup(opt) {
                    if (!opt.id) {
                        return opt.text;
                    }

                    var template;
                    var stateNo = mUtil.getRandomInt(0, 7);
                    var states = [
                        'success',
                        'brand',
                        'danger',
                        'accent',
                        'warning',
                        'metal',
                        'primary',
                        'info'];
                    var state = states[stateNo];

                    template = `
                                                                                    <div class="m-card-user m-card-user--sm">
                                                                                        <div class="m-card-user__pic">
                                                                                            <div class="m-card-user__no-photo m--bg-fill-` + state + `"><span>` + opt.text.substring(0, 1) + `</span></div>
                                                                                        </div>
                                                                                        <div class="m-card-user__details">
                                                                                            <span class="m-card-user__name">` + opt.text + `</span>
                                                                                            <a href="javascript:return;" class="m-card-user__email m-link">` + opt.username + `</a>
                                                                                        </div>
                                                                                    </div>`;
                    return template;

                };
                $templateBuilder.queryBuilder({
                    allow_groups: 1,
                    plugins: {
                        'unique-filter': null,
                        'not-group': true,
                        'sortable': true,
                    },
                    conditions: ["AUTO"],
                    operators: [
                        'equal','contains'
                    ],

                    //default_group_flags: { condition_readonly: true, conditions: ['OR'],},
                    filters: [
                        {
                            id: 'application_user',
                            label: 'User Employee',
                            type: 'string',
                            plugin: 'select2',
                            input: 'select',
                            plugin_config:
                            {
                                enable: false,
                                width: "300px",
                                theme: "bootstrap",
                                placeholder: "Assign To",
                                ajax: {
                                    url: $.helper.resolveApi("~/core/User/lookup"),
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                        var filters = " r.app_fullname LIKE @@0 ";
                                        var parameters = [];
                                        if (params.term == undefined) {
                                            parameters.push('%%');
                                        }
                                        else {
                                            parameters.push('%' + params.term + '%');
                                        }
                                        return {
                                            length: 100,
                                            filters: "( " + filters + " )",
                                            parameters: parameters.toString()  // search term

                                        };
                                    },
                                    processResults: function (data, page) {
                                        console.log(data);
                                        var result = { results: [], more: false };
                                        if (data && data.items) {
                                            result.more = data.totalPages > data.currentPage;
                                            $.each(data.items, function () {
                                                result.results.push({
                                                    id: this.id,
                                                    text: this.app_fullname,
                                                    username: this.app_username
                                                });
                                            });
                                        };
                                        return result;
                                    },
                                    cache: true
                                },
                                escapeMarkup: function (markup) {
                                    return markup;
                                }, // let our custom formatter work
                                minimumInputLength: 0,
                                templateResult: formatUserLookup
                            },
                            valueSetter: function (rule, value) {
                                var $el = $("#" + rule.id).find(".rule-value-container select");
                                $el.cmSetLookup(rule.__.data.approver_id, value);
                            }
                        }
                    ]
                });

                $('#builder-basic').on('afterUpdateRuleValue.queryBuilder.filter', function (e, rule) {
                    try {
                        var $el = $("#" + rule.id).find(".rule-value-container select");
                        console.log(rule);
                        var selected = $el.select2('data')[0];
                        rule.__.value = selected.text
                        var currentData = rule.__.data;
                        var newData = {
                            approver_id: selected.id
                        }
                        rule.__.data = $.extend(newData, currentData);
                    } catch (e) {
                        return;
                    }
                });


                $('#builder-basic').on('afterAddGroup.queryBuilder', function (e, rule) {
                    try {
                        //console.log(rule);
                        //rule.condition = ["OR"];
                    } catch (e) {
                        return;
                    }
                });

                

                $('#builder-basic').on('beforeDeleteRule.queryBuilder', function (e, rule) {
                    var data = rule.__.data;
                    console.log(data);
                    if (data!=undefined && data.id!=undefined) {
                        if (!confirm("Are you sure?")) {
                            e.preventDefault();
                        } else {
                            var ArrID = [];
                            ArrID.push(data.id);
                            $.ajax({
                                type: "DELETE",
                                dataType: 'json',
                                contentType: 'application/json',
                                url: $.helper.resolveApi("~/core/ApprovalTemplate/deleteDetails"),
                                data: JSON.stringify(ArrID),
                                async:false,
                                success: function (r) {
                                    if (!r.status.success) {
                                        swal(
                                            'Information',
                                            r.status.message,
                                            'info'
                                        );
                                        e.preventDefault();
                                    }

                                },
                                error: function (e, t, s) {
                                    swal(
                                        'Information',
                                        'Ooops, something went wrong !',
                                        'info'
                                    );
                                    e.preventDefault();
                                }
                            });
                        }
                    }
                });

                $('#btn-save').on('click', function () {
                    var btn = $(this);
                    var data = {
                        approval_template: _formApprovalTemplate.serializeToJSON(),
                        details: $templateBuilder.queryBuilder('getRules')
                    }
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/json',
                        url: $.helper.resolveApi("~/core/ApprovalTemplate/save"),
                        data: JSON.stringify(data),
                        success: function (r) {
                            console.log(r);
                            if (r && r.status.success) {
                                history.pushState('', 'ID', location.hash.split('?')[0] + '?id=' + r.data.recordID);
                                _detailID.val(r.data.recordID);
                                $('input[name="id"]').val(r.data.recordID);
                                loadDetailData();
                                toastr.success(r.status.message, "Information");
                            }
                            else {
                                swal(
                                    'Saving',
                                    r.status.message,
                                    'info'
                                );
                            }
                        },
                        error: function (r) {
                            swal(
                                '' + r.status,
                                r.statusText,
                                'error'
                            );
                            btn.removeClass('m-loader m-loader--right m-loader--light').attr('disabled', false);
                        }
                    }).then(function () { btn.removeClass('m-loader m-loader--right m-loader--light').attr('disabled', false); });




                });

                $('#btn-get').on('click', function () {
                    var result = $templateBuilder.queryBuilder('getRules');
                    console.log(result);



                    if (!$.isEmptyObject(result)) {
                        alert(JSON.stringify(result, null, 2));
                    }
                });


                return {
                    init: function () {
                        //initialize
                        loadDetailData();
                    }
                };
            }();

            $(document).ready(function () {
                pageFunction.init();
            });
        }(jQuery));
    </script>
}


