﻿@{
    Layout = null;
}
<input hidden id="preview_approval_template_id" value="@ViewBag.RecordID" />

<!-- Modal -->
<div class="modal fade" id="m_modal_preview_approval_template" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Approver</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-xl-12">
                    <div id="builder-basic" style="width:100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/vendors/custom/query-builder/js/doT.min.js"></script>
<script src="~/vendors/custom/query-builder/js/jQuery.extendext.js"></script>
<script src="~/vendors/custom/query-builder/src/interact.min.js"></script>
<script src="~/vendors/custom/query-builder/src/query-builder.standalone.js?@DateTime.Now" asp-append-version="true"></script>
<script src="~/Areas/Core/Scripts/ApprovalTemplate.Preview.js"></script>