﻿@model PhoenixERPWebApp.Models.FinancialYear
<br />
<div class="row" id="statuslog_data_detail" style="display:block">
    <div class="col-lg-12 m-row--no-padding">
        <div class="m-accordion m-accordion--bordered m-accordion--solid" id="statuslog_Detail" role="tablist">
            <!--begin::Item-->
            <div class="m-accordion__item">
                <div class="m-accordion__item-head collapsed" role="tab" id="statuslog_Detail_head" data-toggle="collapse" href="#statuslog_Detail_body" aria-expanded="true">
                    <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                    <span class="m-accordion__item-title">Status Log</span>
                    <span class="m-accordion__item-mode"></span>
                </div>
                <div class="m-accordion__item-body collapse" id="statuslog_Detail_body" role="tabpanel" aria-labelledby="statuslog_Detail_head" data-parent="#statuslog_Detail">
                    <div class="m-accordion__item-content">
                        <div class="row">
                            <div class="col-lg-12 m-form__group-sub">
                                <div class="form-group">
                                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.StatusLog>()
                                        .Name("gridstatuslogHistoryList")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(p => p.Seq).Width(35).Filterable(false).HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" });
                                            columns.Bound(p => p.EmployeeName).Width(150); 
                                            columns.Bound(p => p.StatusDate).Width(100);
                                            columns.Bound(p => p.Status).Width(100);
                                            columns.Bound(p => p.Description).Width(200);
                                        })
                                        .NoRecords()
                                        .DataSource(dataSource => dataSource
                                            .Ajax() 
                                            .Events(events => events.Error("errorHandler"))
                                            .Model(model => { model.Id(p => p.TransactionId); })
                                            .Read(read => read.Action("Read", "StatusLog", new { area = "" }).Data("gridHistory_params"))
                                        )
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<script>
    function gridHistory_params() {
        return {
            id: $("#Id").val()
        };
    }
</script>