@{
    ViewBag.ModalTitle = "AuditTrail";
    ViewBag.ModalId = "AuditTrailModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="AuditTrailFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="application_entity_id">application_entity_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_application_entity_id" id="search_application_entity_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="application_user_id">application_user_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_application_user_id" id="search_application_user_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="app_fullname">app_fullname</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_app_fullname" id="search_app_fullname"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="app_username">app_username</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_app_username" id="search_app_username"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="new_record">new_record</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_new_record" id="search_new_record"  maxlength="-1" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="new_view">new_view</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_new_view" id="search_new_view"  maxlength="-1" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="old_record">old_record</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_old_record" id="search_old_record"  maxlength="-1" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="old_view">old_view</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_old_view" id="search_old_view"  maxlength="-1" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="organization_id">organization_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_organization_id" id="search_organization_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="organization_name">organization_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_organization_name" id="search_organization_name"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="record_id">record_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_record_id" id="search_record_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="user_action">user_action</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_user_action" id="search_user_action"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnAuditTrail.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnAuditTrail.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>