@{
    ViewData["Title"] = "EmployeeOut";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="EmployeeOutFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="date_out">date_out</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="date_out" id="date_out" required  type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id" id="employee_basic_info_id" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="reason">reason</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="reason" id="reason" required maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="time_comeback">time_comeback</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="time_comeback" id="time_comeback" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="time_out">time_out</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="time_out" id="time_out" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="type">type</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="type" id="type"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/EmployeeOut" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/EmployeeOut.update.js"></script>
}
