﻿@model PhoenixERPWebApp.Models.Finance.Transaction.BankReceived.BankReceivedList
<style>
    .modallargewidth {
        width: 90%;
        max-width: 1200px;
    }

    .has-danger label:not([class]) {
        color: #f4516c;
    }
</style>

<div class="modal fade" id="modal-choice-pce" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modallargewidth">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Bank Received From AR</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formVendor" class="form-horizontal form-bordered" role="form" enctype="multipart/form-data">
                    <input type="hidden" id="IdFilter" name="IdFilter" />

                    <div class="m-form__group">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Client</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownListFor(i => i.pop_ClientId)
                                                      .DataTextField("Text")
                                                      .DataValueField("Value")
                                                      .Events(e => e.Change("OnChange"))
                                                      .Filter(FilterType.Contains)
                                                      .OptionLabel("All")
                                                      .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                      .DataSource(source => source
                                                          .Custom()
                                                          .Transport(transport => transport
                                                          .Read(read =>
                                                          {
                                                              read.Action("GetDDLClient", "Dropdown", new { area = "Finance" });
                                                          }))
                                                          .ServerFiltering(false)
                                                      ))
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Currency</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownListFor(i => i.pop_CurrencyId)
                                                      .DataTextField("Text")
                                                      .DataValueField("Value")
                                                      .Filter(FilterType.Contains)
                                                      .Events(e => e.Change("OnChange"))
                                                      .OptionLabel("All")
                                                      .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                      .DataSource(source => source
                                                          .Custom()
                                                          .Transport(transport => transport
                                                          .Read(read =>
                                                          {
                                                              read.Action("GetDDLCurrency", "Dropdown", new { area = "Finance" });
                                                          }))
                                                          .ServerFiltering(false)
                                                      ))
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Legal Entity</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownListFor(i => i.pop_legalEntityId)
                                                       .DataTextField("Text")
                                                       .DataValueField("Value")
                                                       .Filter(FilterType.Contains)
                                                        .OptionLabel("All")
                                                       .Events(e => e.Change("OnChangeLegalEntityPopup"))
                                                       .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                       .DataSource(source => source
                                                           .Custom()
                                                           .Transport(transport => transport
                                                           .Read(read =>
                                                           {
                                                               read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
                                                           }))
                                                           .ServerFiltering(false)
                                                       ))
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>BussinessUnit</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownListFor(i => i.pop_BussinessUnitId)
                                                       .DataTextField("Text")
                                                       .DataValueField("Value")
                                                       .Filter(FilterType.Contains)
                                                       .Events(e => e.Change("OnChange"))
                                                       .OptionLabel("All")
                                                       .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                       .DataSource(source => source
                                                           .Custom()
                                                           .Transport(transport => transport
                                                           .Read(read =>
                                                           {
                                                               read.Action("GetDivisionFinance", "Dropdown", new { area = "Finance" });
                                                           }))
                                                           .ServerFiltering(false)
                                                       ))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>AR Number</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.Kendo().TextBoxFor(i => i.pop_ARNumber).HtmlAttributes(new { style = "width:100%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group m-form__group row m-row--no-padding">
                                    <div class="col-lg-12 m-row--no-padding" id="m_blockui_list">
                                        @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.AccountReceivable> ()
                                              .Name("grid-choice-ap")
                                              .Columns(columns =>
                                              {
                                                  columns.Select().ClientHeaderTemplate(" ").Width(40).HtmlAttributes(new { style = "text-align:center;" });
                                                  columns.Bound(p => p.AccountReceivableNumber).Width(200);
                                                  columns.Bound(p => p.TransactionDate).Format("{0:dd  MMM  yyyy}").Width(200);
                                                  columns.Bound(p => p.JobName).Hidden();
                                                  columns.Bound(p => p.BusinessUnitName).Width(150);
                                                  columns.Bound(p => p.LegalEntity).Width(150);
                                                  columns.Bound(p => p.ClientName).Width(150);
                                                  columns.Bound(p => p.Amount).Format("{0:N0}").Width(150).HtmlAttributes(new { style = "text-align:right;" });
                                                  columns.Bound(p => p.ClientId).Hidden();
                                                  columns.Bound(p => p.JobId).Hidden();
                                                  columns.Bound(p => p.CurrencyId).Hidden();
                                                  columns.Bound(p => p.LegalEntityId).Hidden();
                                                  columns.Bound(p => p.BusinessUnitId).Hidden();
                                              })
                                               .Scrollable(s => s.Enabled(true).Height("auto"))
                                               .Resizable(rsz => rsz.Columns(true))
                                              .AutoBind(false)
                                              .DataSource(dataSource => dataSource
                                                  .Ajax()
                                                  .Events(events => events.Error("errorHandler"))
                                                  .Model(model => { model.Id(p => p.Id); })
                                                  .Read(read => read.Action("ReadARPosted", "BankReceived").Data("gridChoicePce_params"))
                                              )
                                              .NoRecords()
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-save-detail" onclick="SaveSelectedAP()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

