﻿@{
    ViewData["Title"] = "Bank Receive";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator"> Bank Received &nbsp;&nbsp;@*<span class="m-badge m-badge--success m-badge--wide" id="lblJobCategory">Cash Advance</span>*@</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="Index" asp-controller="BankReceived" asp-area="Finance" class="m-nav__link"><span class="m-nav__link-text">Bank Received</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a asp-action="Detail" asp-controller="BankReceived" asp-area="Finance" class="m-btn btn btn-primary btn-sm m-btn--sm" title="Add New Record"><i class="la la-plus"></i></a>
                                @*<button id="btn-delete" type="button" class="m-btn btn btn-danger btn-sm m-btn--sm" title="Delete Selection"><i class="la la-trash"></i></button>*@
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="col-lg-12">
                           <input type="hidden" id="FilterPaymentRequestType" name="FilterPaymentRequestType" value="CashAdvance" />
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon"
                                   aria-describedby="tooltip_d4ny9s36oh">
                                    <i class="la la-expand"></i>
                                </a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top"
                                     role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true"
                                     x-placement="top" style="position: absolute; will-change: transform;
                                        visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">
                                    <div class="tooltip-arrow arrow" style="left: 48px;"></div>
                                    <div class="tooltip-inner">Fullscreen</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
               
                <div class="m-portlet__body" id="m_blockui_list">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="alert m-alert--default" role="alert">
                                    <span id="judul_atas">List Bank Received</span>
                                </div>
                                @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.BankReceived.BankReceivedList>()
                                                      .Name("grid")
                                                      .Columns(columns =>
                                                      {
                                                          columns.Bound(p => p.PaymentRequestNumber).Title("CR Number").ClientTemplateId("cvnumber-template").Width(130);
                                                          columns.Bound(p => p.ReferenceNumberId).Title("REF No").ClientTemplateId("refnumber-template").Width(200);
                                                          columns.Bound(p => p.InvoiceReceivableNumber).Title("Invoice No").Width(200).Hidden();
                                                          columns.Bound(p => p.ReferenceNumberId).Title("REF No").Width(200).Hidden();
                                                          columns.Bound(p => p.JobName).Width(200).Title("Job ID-Name");
                                                          columns.Bound(p => p.BusinessUnitName).Width(200).Title("Business Unit");
                                                          columns.Bound(p => p.LegalEntityName).Width(200).Title("Legal Entity");
                                                          columns.Bound(p => p.TotalAmountPay).Width(200).Format("{0:n2}").Title("Amount").HtmlAttributes(new { style = "text-align:right;" });
                                                          columns.Bound(p => p.Remarks).Title("Description").Width(200);
                                                          columns.Bound(p => p.Status).Title("Status").ClientTemplateId("status-template").Width(100);
                                                          columns.Bound(p => p.Status).Hidden();
                                                          columns.Bound(p => p.IsBalance).Hidden();
                                                      })
                                                      .Pageable(pageable => pageable
                                                          .Refresh(true)
                                                          .PageSizes(true)
                                                          .ButtonCount(5))
                                                      .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                      .Scrollable(s => s.Enabled(true).Height("auto"))
                                                      .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                                        .Extra(false)
                                                        .Operators(operators => operators
                                                        .ForString(str => str.Clear()
                                                            .Contains("Contains")
                                                            .StartsWith("Start sWith")
                                                            .EndsWith("End sWith")
                                                        )))
                                                      .Resizable(rsz => rsz.Columns(true))
                                                      .DataSource(dataSource => dataSource
                                                          .Ajax()
                                                          .PageSize(10)
                                                          .Events(events => events.Error("errorHandler"))
                                                          .Model(model => { model.Id(p => p.Id); })
                                                          .Read(read => read.Action("Read", "BankReceived").Data("GetFilterParam"))
                                                      )
                                                      .NoRecords()
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="btnAction-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'><span style='color:green'><i class='fa fa-edit'></i></span></a>
    <a href='javascript: void(0);' onclick='deleteGridRow(this)' title='Delete' class='delete'><span style='color:maroon'><i class='fa fa-trash-alt'></i></span></a>
</script>

<script id="cvnumber-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'><span style='color:blue; text-decoration:underline; word-wrap: break-word'>#=PaymentRequestNumber#</span></a>
</script>

<script id="refnumber-template" type="text/x-kendo-template">
    #if (ReferenceNumberId == '' || ReferenceNumberId == null){ #
    <span style='word-wrap: break-word'>-</span>
    # }else{#
    <span style='word-wrap: break-word'>#=ReferenceNumberId#</span>
    #}#
</script>

<script id="status-template" type="text/x-kendo-template">
    #if (Status == @PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.Open){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--info m-badge--wide'> #='@PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.Open)'#</a></center>
    #}#
    #if (Status == @PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.WaitingApproval){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--warning m-badge--wide'> #='@PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.WaitingApproval)'#</a></center>
    #}#
    #if (Status == @PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.Reconsiliation){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--dark m-badge--wide'> #='@PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.Reconsiliation)'#</a></center>
    #}#
    #if (Status == @PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.Approved){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--success m-badge--wide'> #='@PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.Approved)'#</a></center>
    #}#
    #if (Status == @PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.Reject){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--danger m-badge--wide'> #='@PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.Reject)'#</a></center>
    #}#
    #if (Status == @PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.Complete){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--success m-badge--wide'> #='@PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.PaymentRequestStatus.Complete)'#</a></center>
    #}#


</script>

<script>
      
    function LinktoInv(data) {
        if (data.Status == "5" && data.IsBalance == true) {
            return "<center><a href='javascript: void(0);' onclick='AddNewHeaderRecord(this)' title='Edit' class='edit'>" + data.ReferenceNumberId + "</a></center>";
        }
        else {
            if (data.Status == "1" || data.Status == "") {
                if (data.ReferenceNumberId == "" || data.ReferenceNumberId == null)
                    return "<center><a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'>" + data.PaymentRequestNumber + "</a></center>";
                else
                    return "<center><a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'>" + data.ReferenceNumberId + "</a></center>";
            } else {
                //return "<center><a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'>" + data.ReferenceNumberId == null ? "" : data.ReferenceNumberId  + "</a></center>";
                return "<center>" + data.ReferenceNumberId == "" ? "" : data.ReferenceNumberId + "</center>";
            }
        }
    }
    function LinktoPR(data) {
        if (data.Status == "5" || data.Status == '' || data.Status == '1') {
            return "<center></center>";
        } else {
            return "<center><a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'>" + data.PaymentRequestNumber + "</a></center>";
        }
    }

    function onSelectPaymentRequestType(e) {
            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });
            var dataItem = $("#FilterPaymentRequestType").data("kendoDropDownList");
            $("#lblJobCategory").html($("#FilterPaymentRequestType").data("kendoDropDownList").text());
            var grid = $("#grid").data("kendoGrid");

            if ($("#FilterPaymentRequestType").data("kendoDropDownList").value() =="CashAdvance") {
                grid.hideColumn(1);
            } else {
                grid.showColumn(1);
            }

            grid.dataSource.read();
            grid.refresh();
            mApp.unblock("#m_blockui_list");
    }
    function GetFilterParam() {  
        return {
            Filter: {
                FilterInvoice: '',
                FilterReferenceNumber: '',
                FilterLegalEntity: '',
                FilterStartDate: '',
                FilterEndDate: '',
                FilterBusinessUnitId: '',
                FilterStatus:'',
                FilterPaymentRequestType: ''
            }
        };
    }
    $("#btn-searchFilter").click(function (e) {
        //e.preventdefault();

        var grid = $('#grid').data('kendoGrid');
        //var columns = grid.columns;
        var filter = { logic: 'or', filters: [] };

        // Inv No Filter
        if ($('#FilterInvoice').val() != '') {
            filter.filters.push({
                field: 'InvoiceReceivableNumber',
                operator: 'contains',
                value: $('#FilterInvoice').val()
            });
        }
        // Ref Filter
        if ($('#FilterReferenceNumber').val() != '') {
            filter.filters.push({
                field: 'ReferenceNumberId',
                operator: 'contains',
                value: $('#FilterReferenceNumber').val()
            });
        }
        // Legal Filter
        if ($('#FilterLegalEntity').val() != '') {
            filter.filters.push({
                field: 'LegalEntityName',
                operator: 'contains',
                value: $('#FilterLegalEntity').text()
            });
        }

        // Divisi Filter
        if ($('#FilterBusinessUnitId').val() != '') {
            filter.filters.push({
                field: 'BusinessUnitName',
                operator: 'contains',
                value: $('#FilterBusinessUnitId').text()
            });
        }

        // Status Filter
        if ($('#FilterStatus').val() != '') {
            filter.filters.push({
                field: 'Status',
                operator: 'contains',
                value: $('#FilterStatus').val()
            });
        }

        //Date Filter
        //filter.filters.push({
        //    field: "DueDate", operator: "gte", value: new Date($('#FilterStartDate').val()) },
        //    { field: "DueDate", operator: "lte", value: new Date($('#FilterEndDate').val()) }
        //);

        grid.dataSource.filter(filter);


        //mApp.block("#m_blockui_list", {
        //    overlayColor: "#000000",
        //    type: "loader",
        //    state: "primary",
        //    message: "Processing..."
        //});
        //$("#lblJobCategory").html($("#FilterPaymentRequestType").data("kendoDropDownList").text());
        //var grid = $("#grid").data("kendoGrid");

        //if ($("#FilterPaymentRequestType").val() == "CashAdvance") {
        //    grid.hideColumn(1);
        //} else {
        //    grid.showColumn(1);
        //}

        //grid.dataSource.read();
        //grid.refresh();
        //mApp.unblock("#m_blockui_list");
    });


    function createNewRowGrid(item_name, net_amout) {
        var grid = $("#grid").data("kendoGrid");
        // Get selected item
        var sel = grid.select();
        // Get the item
        var item = grid.dataItem(sel);
        // Get the index in the DataSource (not in current page of the grid)
        var idx = grid.dataSource.indexOf(item);
        // Insert element before
        var nd = {
            ItemName: item_name,
            AmountPaid: net_amout,
            UomId: 'EB0F4540-E7E0-4170-A97C-2F21D5E62E7E',
            uom_name: 'pcs',
            qty: 1,
            Discount: 0,
            amountTotal: net_amout,
            unit_price: net_amout,
            TaskDetail: item_name
        };


        grid.dataSource.insert(idx, nd);
    }

    function editGridRow(e) {
        var item = dataItem(e);
        if (item.Status == '1' || item.Status == '')
            window.location.href = '@Url.Action("Detail", "BankReceived")?Id=' + item.Id;
        else
            window.location.href = '@Url.Action("Detail", "BankReceived")?Id=' + item.Id + '&isApprove=true';
    }

    function ApproveGridRow(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("Detail", "PaymentRequest")?Id=' + item.Id + '&isApprove=true';
    }

    function AddNewHeaderRecord(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("Detail", "BankReceived")?Id=' + item.Id + '&isAdvancePayment=true';
    }

    function deleteGridRow(e) {
        deleteRow(e, '@Url.Action("Delete", "BankReceived")');
    }


    function onSelectStatus() {

    }
    var counter = 1;

    function onDataBound(e) {
        counter = 1;
    }

    function renderNumber(data) {
        return counter++;
    }
    var param = (function (param) {
        param.editUrl = '@Url.Action("Detail", "PaymentRequest")?Id=';
        param.deleteUrl = '@Url.Action("Delete", "PaymentRequest")';
        return param;
    })(param || {});

    (function ($) {
        'use strict';
        var pageFunction = (function (pageFunction) {
            pageFunction.init = function () {
                //initialize
            };
            pageFunction.editGridRow = function (e) {
                var item = dataItem(e);
                window.location.href = param.editUrl + item.Id;
            };
            pageFunction.deleteGridRow = function (e) {
                deleteRow(e, param.deleteUrl);
            };
            return pageFunction;
        })(pageFunction || {});

        $(document).ready(function () {
            pageFunction.init();
        });
    }(jQuery));
</script>