﻿@{
    ViewData["Title"] = "Adjustment Journal Entry";
}

<input hidden id="detail-id" value="@ViewBag.RecordID" />
<input hidden id="entity_id" value="@ViewBag.EntityID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Adjustment Journal Entry</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/JournalEntry")" class="m-nav__link">
                        <span class="m-nav__link-text">Adjustment Journal Entry</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body">

                    <div class="form-group m-form__group row">
                        <h5>Financial Transaction <span style="width: 100px;" id="status"></span></h5>

                        <!--begin::Form-->
                        <input hidden name="approval_id" />
                        <form id="form-financial_transaction" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input hidden name="id" value="@ViewBag.RecordID" />
                            <div class="col-lg-6 row">
                                <div class="col-lg-6 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Self Reference :</label>
                                        <input id="self_reference" name="self_reference" class="form-control form-control-sm" value="@ViewBag.SelfReference" />
                                    </div>
                                </div>
                                <div class="col-lg-6 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Reference :</label>
                                        <input id="reference" name="reference" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Transaction No :</label>
                                        <input class="form-control form-control-sm" readonly name="transaction_number" />
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Transaction Date :</label>
                                        <div class="input-group input-group-sm date">
                                            <input type="text" class="form-control m-input" readonly placeholder="Select date & time" name="transaction_datetime" id="transaction_datetime" />
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Company :</label>
                                        <div class="input-group input-group-sm">
                                            <input hidden name="company_name" />
                                            <select id="company_id" name="company_id" class="form-control m-input m-input--square"></select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Business Unit</label>
                                        <div class="input-group">
                                            <input hidden name="business_unit_id" />
                                            <input id="business_unit_id" name="business_unit_id" type="text" readonly class="form-control form-control-sm m-input" placeholder="Choose Business Unit">
                                            <div class="input-group-append">
                                                <button class="btn btn-sm" type="button" id="btn-choose_business_unit"><i class="la la-arrow-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Legal Entity :</label>
                                        <div class="input-group input-group-sm">
                                            <select id="legal_entity_id" name="legal_entity_id" class="form-control m-input m-input--square"></select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Affiliation :</label>
                                        <div class="input-group input-group-sm">
                                            <select id="affiliation_id" name="affiliation_id" class="form-control m-input m-input--square"></select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Transaction Type :</label>
                                        <div class="input-group input-group-sm">
                                            <select id="transaction_type_id" name="transaction_type_id" class="form-control m-input m-input--square"></select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12 row">
                                <div class="col-lg-12 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Description :</label>
                                        <input id="description" name="description" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>


                        </form>
                        <!--end::Form-->
                    </div>
                    <div class="form-group m-form__group row m-row--no-padding">
                        <div class="col-lg-12 m-row--no-padding" id="m_blockui_list">
                            <h5>Transaction Details</h5>

                            <table id="dgdetail" class="easyui-datagrid" style="width:100%">
                                <thead>
                                </thead>
                            </table>

                            <div id="tb" style="height:auto;display:none">
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" id="btn-append">New</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" id="btn-removeit">Remove</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" id="btn-accept">Accept</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" id="btn-reject">Reject</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" id="btn-save" class="btn btn-sm btn-success">Save to Draft</button>
                            <button type="button" id="btn-approval" class="btn btn-sm btn-warning" disabled="disabled">Setup Approval</button>
                            <button type="button" id="btn-remove_approval" class="btn btn-sm btn-danger" disabled="disabled">Remove Approval</button>
                            <button type="button" id="btn-submit" class="btn btn-sm btn-primary" disabled="disabled">Submit</button>
                            <a href="@Url.Content("~/Finance/JournalEntry")" class="fakelink btn btn-sm btn-secondary">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript" src="~/vendors/custom/jeasyui/jquery.easyui.min.js"></script>
    <script src="~/Areas/Finance/Scripts/AdjustmentJournalEntry.Detail.js?@DateTime.Now" asp-append-version="true"></script>
 
}