﻿@model PhoenixERPWebApp.Models.Media.MediaPlanTV.MediaPlanTV
@{
    ViewData["Title"] = "Media Plan Estimates";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Media Plan Estimates</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Master Data</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="mediaplantv" asp-area="media" class="m-nav__link"><span class="m-nav__link-text">Media Plan TV</span></a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (string.IsNullOrEmpty(Model.Id))
                    {
                        <a asp-action="addedit" asp-controller="mediaplantv" asp-area="media" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else
                    {
                        <a asp-action="addedit" asp-controller="mediaplantv" asp-area="media" asp-route-Id="@Model.Id" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                @ViewBag.Header
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="form" class="form-horizontal form-bordered" role="form" asp-action="submit" asp-controller="mediaplantv" asp-area="media">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Version" />
                        <input type="hidden" asp-for="Duration" />
                        <input type="hidden" asp-for="PeriodCampaignStart" />
                        <input type="hidden" asp-for="PeriodCampaignEnd" />
                        <input type="hidden" asp-for="DatePrepared" />
                        <input type="hidden" asp-for="TmMediaPlanStatusId" />
                        <input type="hidden" asp-for="EmployeeBasicInfoId" />
                        <input type="hidden" asp-for="CreatedBy" />
                        <input type="hidden" asp-for="CreatedOn" />
                        <input type="hidden" asp-for="IsActive" />
                        <input type="hidden" asp-for="MediaPlanTvFileTemplateId" />
                        <div class="row ">
                            <div class="col-lg-3 m-form__group-sub">
                                <label>Client :</label>
                                @(Html.Kendo().DropDownListFor(m => m.ClientId)
                                                                                                                                                                                                                       .DataTextField("Text")
                                                                                                                                                                                                                       .DataValueField("Value")
                                                                                                                                                                                                                       .Filter(FilterType.Contains)
                                                                                                                                                                                                                       .DataSource(source =>
                                                                                                                                                                                                                       {
                                                                                                                                                                                                                           source.Read(read =>
                                                                                                                                                                                                                           {
                                                                                                                                                                                                                               read.Action("GetDDLClient", "DropDown", new { area = "Media" });
                                                                                                                                                                                                                           });
                                                                                                                                                                                                                       })
                                                                                                                                                                                                                       .HtmlAttributes(new { style = "width:100%;", @readonly = "readonly" })
                                )
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <label>Media :</label>
                                @(Html.Kendo().DropDownListFor(m => m.MediaTypeId)
                                                                                                                                                                                                                      .DataTextField("Text")
                                                                                                                                                                                                                      .DataValueField("Value")
                                                                                                                                                                                                                      .Filter(FilterType.Contains)
                                                                                                                                                                                                                      .DataSource(source =>
                                                                                                                                                                                                                      {
                                                                                                                                                                                                                          source.Read(read =>
                                                                                                                                                                                                                          {
                                                                                                                                                                                                                              read.Action("GetDDLMediaType", "DropDown", new { area = "Media" });
                                                                                                                                                                                                                          });
                                                                                                                                                                                                                      })
                                                                                                                                                                                                                      .HtmlAttributes(new { style = "width:100%;", @readonly = "readonly" })
                                )
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <label class="form-control-label">Target Audience :</label>
                                <div class="input-group input-group-sm">
                                    @Html.Kendo().TextBoxFor(m => m.TargetAudience).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <label>Type :</label>
                                @(Html.Kendo().DropDownListFor(m => m.TmMediaPlanRequestTypeId)
                                                                                                                                                                                                                      .DataTextField("Text")
                                                                                                                                                                                                                      .DataValueField("Value")
                                                                                                                                                                                                                      .Filter(FilterType.Contains)
                                                                                                                                                                                                                      .DataSource(source =>
                                                                                                                                                                                                                      {
                                                                                                                                                                                                                          source.Read(read =>
                                                                                                                                                                                                                          {
                                                                                                                                                                                                                              read.Action("GetDDLMediaPlanRequestType", "DropDown", new { area = "Media" });
                                                                                                                                                                                                                          });
                                                                                                                                                                                                                      })
                                                                                                                                                                                                                      .HtmlAttributes(new { style = "width:100%;" })
                                )
                            </div>
                        </div>
                        <br />
                        <div class="row ">
                            <div class="col-lg-3 m-form__group-sub">
                                <label>Brand :</label>
                                @(Html.Kendo().DropDownListFor(m => m.BrandId)
                                                                                                                                                                                                                                               .DataTextField("Text")
                                                                                                                                                                                                                                               .DataValueField("Value")
                                                                                                                                                                                                                                               .Filter(FilterType.Contains)
                                                                                                                                                                                                                                               .DataSource(source =>
                                                                                                                                                                                                                                               {
                                                                                                                                                                                                                                                   source.Read(read =>
                                                                                                                                                                                                                                                   {
                                                                                                                                                                                                                                                       read.Action("GetDDLBrand", "DropDown", new { area = "Media" });
                                                                                                                                                                                                                                                   });
                                                                                                                                                                                                                                               })
                                                                                                                                                                                                                                               .HtmlAttributes(new { style = "width:100%;", @readonly = "readonly" })
                                )
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <label class="form-control-label">No Media Plan :</label>
                                <div class="input-group input-group-sm">
                                    @Html.Kendo().TextBoxFor(m => m.MediaPlanNo).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <label class="form-control-label">Revision :</label>
                                <div class="input-group input-group-sm">
                                    @Html.Kendo().TextBoxFor(m => m.RevisionNo).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Media.MediaPlanTV.MediaPlanTVDetail>()
                                    .Name("grid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.CreatedOn).Title("Order Date").Width(200).Format("{0:dd/MMM/yyyy}");
                                        columns.Bound(p => p.BroadcastTypeName).Title("Broadcast Type").Width(200);
                                        columns.Bound(p => p.PositionName).Title("Position").Width(200);
                                        columns.Bound(p => p.ProgramName).Title("Program").Width(200);
                                        columns.Bound(p => p.TypeProgramName).Title("Type Program").Width(200);
                                        columns.Bound(p => p.DayStart).Title("Start").Width(200);
                                        columns.Bound(p => p.DayEnd).Title("End").Width(200);
                                        columns.Bound(p => p.TimeStart).Width(200).Format("{0:HH:mm}");
                                        columns.Bound(p => p.TimeEnd).Width(200).Format("{0:HH:mm}");
                                    })
                                    .NoRecords()
                                    .Pageable(pageable => pageable
                                        .Refresh(true)
                                        .PageSizes(true)
                                        .ButtonCount(5))
                                    .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                    .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                        .Extra(false)
                                        .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Start sWith")
                                            .EndsWith("End sWith")
                                        )))
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(rsz => rsz.Columns(true))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .Events(events => events.Error("errorHandler"))
                                        .Model(model => { model.Id(p => p.Id); })
                                        .Read(read => read.Action("ReadDetail", "MediaPlanTV", new { headerId = Model.Id }))
                                    )
                                )
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-4">
                                        @Html.Kendo().Upload().Name("file").Multiple(false)
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" id="btn-process" class="btn btn-sm btn-success">Process</button>
                                        <button type="button" id="btn-request" class="btn btn-sm btn-success">Report</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <br />
                                        <label>Download Template</label>
                                        <br />
                                        <button type="button" id="btn-download" class="btn btn-sm btn-success" onclick="downloadTemplateFile()">Dowload</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label asp-for="TotalNetCost"></label> :
                                        @Html.Kendo().NumericTextBoxFor(m => m.TotalNetCost).HtmlAttributes(new { @class = "m-input", @readonly = "readonly", @style = "width:100%" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label asp-for="AgencyServiceFee"></label> :
                                        @Html.Kendo().NumericTextBoxFor(m => m.AgencyServiceFee).HtmlAttributes(new { @class = "m-input", @readonly = "readonly", @style = "width:100%" })
                                    </div>
                                    <div class="col-lg-4">
                                        <label>&nbsp;</label>
                                        @Html.Kendo().NumericTextBoxFor(m => m.AgencyServiceFeePercent).HtmlAttributes(new { @class = "m-input", @style = "width:100%" })
                                    </div>
                                    <div class="col-lg-1">
                                        <label>&nbsp;</label>
                                        %
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label asp-for="TaxBased"></label>  :
                                        @Html.Kendo().NumericTextBoxFor(m => m.TaxBased).HtmlAttributes(new { @class = "m-input", @readonly = "readonly", @style = "width:100%" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label asp-for="Vat"></label>  :
                                        @Html.Kendo().NumericTextBoxFor(m => m.Vat).HtmlAttributes(new { @class = "m-input", @readonly = "readonly", @style = "width:100%" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label asp-for="GrandTotal"></label>  :
                                        @Html.Kendo().NumericTextBoxFor(m => m.GrandTotal).HtmlAttributes(new { @class = "m-input", @readonly = "readonly", @style = "width:100%" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <a asp-action="index" asp-controller="mediaplantv" asp-area="media" class="fakelink btn btn-secondary">Cancel</a>
                                <button type="button" id="btn-save" class="btn btn-primary">Save</button>
                                <button type="button" id="btn-submit" class="btn btn-primary">Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#AgencyServiceFeePercent').change(function () {
        var totalNetCost = $('#TotalNetCost').val();
        var percent = $('#AgencyServiceFeePercent').val();
        var fee = (percent * totalNetCost) / 100;
        $("#AgencyServiceFee").data("kendoNumericTextBox").value(fee);
        var taxBase = Number(totalNetCost) + fee;
        $("#TaxBased").data("kendoNumericTextBox").value(taxBase);
        var vat = taxBase * 0.1
        $("#Vat").data("kendoNumericTextBox").value(vat);
        var grand = taxBase + vat;
        $("#GrandTotal").data("kendoNumericTextBox").value(grand);
    });

    var counter = 1;
    
    function downloadTemplateFile() {
        downloadAction({url: '@Url.RouteUrl(new { action = "download", controller = "Download", area= "HrisNew" })',data: { id: '@Model.MediaPlanTvFileTemplateId' }});
    }

    function onDataBound(e) {
        counter = 1;
    }

    function renderNumber(data) {
        return counter++;
    }
    var param = (function (param) {
        param.processUrl = "@Url.Action("Process", "MediaPlanTV")";
        param.saveUrl = "@Url.Action("Save", "MediaPlanTV")";
        param.submitUrl = "@Url.Action("Submit", "MediaPlanTV")";
        return param;
    })(param || {});
</script>
<script src="~/Areas/Media/Scripts/MediaPlanTV/MediaPlanTV.AddEdit.js" asp-append-version="true"></script>