@{
    ViewData["Title"] = "Achievement";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="AchievementFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="achievement_date">achievement_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="achievement_date" id="achievement_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="achievement_description">achievement_description</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="achievement_description" id="achievement_description"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="achievement_title">achievement_title</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="achievement_title" id="achievement_title"  maxlength="200" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id" id="employee_basic_info_id"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="notes">notes</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="notes" id="notes"  maxlength="2147483647" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/Achievement" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/Achievement.create.js"></script>
}
