﻿@{
    ViewData["Title"] = "Depreciation";
}

<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />

<input hidden id="detail-id" value="@ViewBag.RecordID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Amortisasi</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Company/Depreciation")" class="m-nav__link">
                        <span class="m-nav__link-text">Depreciation</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <form id="form-depreciation" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                        <input hidden name="id" value="" />
                        <div class="m-form__group">

                            <div class="row">
                                <!-- Begin: Input Date -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">Date :</label>
                                    <div class="input-group input-group-sm date">
                                        <input type="text" class="form-control m--margin-bottom-30 form-control-sm m-input" readonly="" placeholder="Select Date" id="m_datepicker_2">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End: Input Date -->
                                <!-- Begin: Amount -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <label>Amount :</label>
                                    <div class="input-group input-group-sm ">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Rp
                                            </button>
                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                                                <a class="dropdown-item" href="#">Dollars</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                    </div>
                                </div>
                                <!-- End: Amount -->
                                <!-- Begin: Legacy Entity-->
                                <div class="col-lg-3 m-form__group-sub input-group-sm">
                                    <label for="exampleSelect1">Legacy Entity :</label>
                                    <select class="form-control m-input m-input--square" id="legacy_entity">
                                        <option>Codemarvel</option>
                                    </select>
                                </div>
                                <!-- End: Legacy Entity -->
                                <!-- Begin: Status -->
                                <div class="col-lg-3 m-form__group-sub input-group-sm">
                                    <label for="exampleSelect1">Status :</label>
                                    <select class="form-control m-input m-input--square" id="status">
                                        <option>Posted</option>
                                        <option>Unposted</option>
                                    </select>
                                </div>
                                <!-- End: Status -->
                            </div>

                            <div class="row">
                                <!-- Begin: Voucher -->
                                <div class="col-lg-3 m-form__group-sub input-group-sm">
                                    <label for="exampleSelect1">Voucher :</label>
                                    <select class="form-control m-input m-input--square" id="voucher">
                                        <option>JV201804001</option>
                                    </select>
                                </div>
                                <!-- End: Voucher -->
                                <!-- Begin: Charges -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label class="">Charges :</label>
                                        <input type="text" id="charges" name="charges" class="form-control m--margin-bottom-30 form-control-sm m-input"
                                               placeholder="Enter Charges">
                                    </div>
                                </div>
                                <!-- End: Charges -->
                                <!-- Begin: Affiliate -->
                                <div class="col-lg-3 m-form__group-sub input-group-sm">
                                    <label for="exampleSelect1">Affiliate :</label>
                                    <select class="form-control m-input m-input--square" id="voucher">
                                        <option>NAVA</option>
                                    </select>
                                </div>
                                <!-- End: Affiliate -->
                                <!-- Begin: Exchange -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label class="">Exchange :</label>
                                        <input type="text" id="charges" name="charges" class="form-control m--margin-bottom-30 form-control-sm m-input"
                                               placeholder="Enter Exchange">
                                    </div>
                                </div>
                                <!-- End: Exchange -->
                            </div>

                            <div class="row">
                                <!-- Begin: Share Service -->
                                <div class="col-lg-3 m-form__group-sub input-group-sm">
                                    <label for="exampleSelect1">Share Service :</label>
                                    <select class="form-control m-input m-input--square" id="voucher">
                                        <option>Creative</option>
                                    </select>
                                </div>
                                <!-- End: Share Service -->
                                <!-- Begin: Due Date -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">Due Date :</label>
                                    <div class="input-group input-group-sm date">
                                        <input type="text" class="form-control m--margin-bottom-30 form-control-sm m-input" readonly="" placeholder="Select Date" id="m_datepicker_2">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End: Due Date -->
                                <!-- Begin: Reference -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Reference :</label>
                                        <input id="reference" name="reference" type="text" class="form-control m--margin-bottom-30 form-control-sm m-input"
                                               placeholder="Enter Reference">
                                    </div>
                                </div>
                                <!-- End: Reference -->
                                <!-- Begin: Description -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Description :</label>
                                        <textarea class="form-control m--margin-bottom-30 m-input" id="exampleTextarea" rows="5"
                                                  placeholder="Enter Description"></textarea>
                                    </div>
                                </div>
                                <!-- End: Description -->
                            </div>


                            <div class="m--margin-bottom-30" id="m_blockui_list">
                                <!--begin: Datatable -->

                                <table class="table table-striped- table-bordered table-hover table-checkable" id="dt_basic">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Acc No</th>
                                            <th>Name</th>
                                            <th>Desc</th>
                                            <th>Debit</th>
                                            <th>Credit</th>
                                            <th>Division</th>
                                            <th>Job ID</th>
                                            <th>Actual</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                            <div class="m-form__group-sub">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="float-right">
                                            <a href="#" class="btn btn-info m-btn m-btn--icon">
                                                <span>
                                                    <i class="la la-save"></i>
                                                    <span>Save</span>
                                                </span>
                                            </a>
                                            <a href="#" class="btn btn-success m-btn m-btn--icon">
                                                <span>
                                                    <i class="la la-send"></i>
                                                    <span>Submit</span>
                                                </span>
                                            </a>
                                            <a href="#" class="btn btn-danger m-btn m-btn--icon">
                                                <span>
                                                    <i class="la la-close"></i>
                                                    <span>Close</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/demo/demo_12/custom/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>
}
