﻿@using Phoenix.WebExtension.Extentions;
@using Microsoft.Extensions.Options;
@using CodeMarvel.Infrastructure.Options;
@inject IOptions<AppSettingsOption> OptionsApplicationConfiguration;

@{
    var userSession = CodeMarvel.Infrastructure.Sessions.SessionManager.UserSession;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhoenixERP</title>

    @*<link href="~/vendors/custom/KendoUI/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" />
        <link href="~/vendors/custom/KendoUI/styles/kendo.metro.mobile.min.css" rel="stylesheet" />*@

    <link href="~/assets/css/menu.css" rel="stylesheet" />
    <link href="~/vendors/custom/KendoUI/styles/kendo.metro.min.css" rel="stylesheet" />
    <link href="~/vendors/custom/KendoUI/styles/kendo.metro.mobile.min.css" rel="stylesheet" />
    <link href="~/Vendors/custom/KendoUI/styles/kendo.common.min.css" rel="stylesheet" />

    <link href="~/fonts/font.poppins.css" rel="stylesheet" />
    <link href="~/fonts/font.roboto.css" rel="stylesheet" />

    <link href="~/vendors/base/vendors.bundle.css" rel="stylesheet" />
    <link href="~/demo/demo_12/base/style.bundle.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/vendors/custom/jeasyui/themes/icon.css" />
    <link rel="shortcut icon" href="~/demo/demo_12/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/vendors/custom/KendoUI/custome/kendo-custome.css" />

    <script src="~/Vendors/custom/KendoUI/js/jquery.min.js"></script>
    <script src="~/vendors/custom/KendoUI/custome/kendo-custome.js"></script>
    <script src="~/vendors/custom/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/vendors/custom/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/vendors/custom/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/vendors/custom/KendoUI/js/jszip.min.js"></script>

    <script src="~/vendors/base/vendors.bundle.js?@DateTime.Now" asp-append-version="true"></script>
    <script src="~/demo/demo12/base/scripts.bundle.js?@DateTime.Now"></script>
    <script src="~/vendors/custom/jqserialize/jquery.serializeToJSON.min.js"></script>
    <script src="~/Vendors/custom/KendoUI/js/kendo.all.min.js"></script>
    <script src="~/Vendors/custom/KendoUI/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/signalr/dist/browser/signalr.min.js"></script>

    <script asp-append-version="true">
        var LayoutPageFunction = {
            setActiveMenu: function () {
                var url = window.location.href;
                var rootUrl = url.split('/').slice(0, 3).join('/');
                if (url.substr(url.length - 1, 1) != '/') url = url + '/';

                $('li.m-menu__item--active').removeClass('m-menu__item--active');
                $('li.m-menu__item--open.m-menu__item--expanded').removeClass('m-menu__item--open m-menu__item--expanded');

                $('a.m-menu__link').not('.m-menu__toggle').each(function () {
                    var currentUrl = rootUrl + $(this).attr('href');
                    if (currentUrl.substr(currentUrl.length - 1, 1) != '/') currentUrl = currentUrl + '/';
                    //console.log(currentUrl + " == " + url);

                    if (currentUrl.toLowerCase() == url.toLowerCase()) {
                        $(this).parents('li.m-menu__item--submenu').addClass('m-menu__item--open m-menu__item--expanded');
                        $(this).parent().addClass('m-menu__item--active');
                        return false;
                    }
                });
            }
        };

        $(document).ready(function () {
            LayoutPageFunction.setActiveMenu();
        });
    </script>
    <script id="btnAction" type="text/x-kendo-template">
        <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'><span style='color:green'><i class='fa fa-edit'></i></span></a>
        <a href='javascript: void(0);' onclick='deleteGridRow(this)' title='Delete' class='delete'><span style='color:maroon'><i class='fa fa-trash-alt'></i></span></a>
    </script>

</head>
<body class="m-content--skin-
m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-content--skin-light2
m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">

        <!-- BEGIN: Header -->
        <header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
            <div class="m-container m-container--fluid m-container--full-height">
                <div class="m-stack m-stack--ver m-stack--desktop">

                    <!-- BEGIN: Brand -->
                    <div class="m-stack__item m-brand  m-brand--skin-dark ">
                        <div class="m-stack m-stack--ver m-stack--general">
                            <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                <a href="" class="m-brand__logo-wrapper">
                                    <img alt="" src="~/demo/demo_12/media/img/logo/logo.png" />
                                </a>
                            </div>
                            <div class="m-stack__item m-stack__item--middle m-brand__tools">

                                <!-- BEGIN: Left Aside Minimize Toggle -->
                                <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block  ">
                                    <span></span>
                                </a>

                                <!-- END -->
                                <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                                <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>

                                <!-- END -->
                                <!-- BEGIN: Responsive Header Menu Toggler -->
                                <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>

                                <!-- END -->
                                <!-- BEGIN: Topbar Toggler -->
                                <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                    <i class="flaticon-more"></i>
                                </a>

                                <!-- BEGIN: Topbar Toggler -->
                            </div>

                        </div>
                    </div>

                    <!-- END: Brand -->
                    <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                        <partial name="_Header" />
                    </div>
                </div>
            </div>
        </header>

        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>
            <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">

                <!-- BEGIN: Aside Menu -->
                @*<partial name="_Navigation" />*@
                @{
                    var content = await Component.InvokeAsync("Menu");
                    var html = content.ToHtmlString();
                }

                @Html.Raw(System.Net.WebUtility.HtmlDecode(html))
                <!-- END: Aside Menu -->
            </div>

            <!-- END: Left Aside -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <span id="sharedNotification" style="display:none;"></span>
                @RenderBody()
            </div>
        </div>

        <!-- end:: Body -->
        <!-- begin::Footer -->
        @*<partial name="_Footer" />*@
        <!-- end::Footer -->
    </div>

    <!-- end:: Page -->
    <!-- begin::Quick Sidebar -->
    <div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light">
        <div class="m-quick-sidebar__content m--hide">
            <span id="m_quick_sidebar_close" class="m-quick-sidebar__close"><i class="la la-close"></i></span>
            <ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_quick_sidebar_tabs_messenger"
                       role="tab">Messages</a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_settings" role="tab">Settings</a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_logs" role="tab">Logs</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end::Quick Sidebar -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>
    <div id="chat-snippet" class="" style="display:none">
        <partial name="_TemplateChatting" />
    </div>



    @*<script src="~/signalr/dist/browser/signalr.js"></script>
    <script src="~/assets/js/nava-hub.js"></script>*@
    <script src="~/assets/js/chat-comment.js"></script>

</body>
</html>