﻿<link rel="stylesheet" href="~/assets/css/chatting-template.css" />

<div class="container-fluid h-100" style="padding:0">
    <div class="row justify-content-center h-100" style="padding:0;margin:0">
        <div class="col-md-4 col-xl-4 chat"  style="padding:0">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        @*<select placeholder="Search..." name="" class="form-control search"></select>*@
                        @*<input type="text" placeholder="Search..." name="" class="form-control search">*@
                        <div class="input-group-prepend">
                            @*<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>*@
                            <span class="input-group-text btn-group-header pull-right refresh-contact-chat"><i class="fas fa-sync-alt"></i></span>
                            <span class="input-group-text btn-group-header pull-right" onclick="openTemplateChat()"><i class="fas fa-window-close"></i></span>
                            @*<span class="input-group-text btn-group-header pull-right"><i class="fas fa-user-plus"></i></span>*@
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ul class="contacts member-of-team">
                    </ul>
                    <ul class="contact-person contacts ">
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-8 col-xl-8 chat"  style="padding:0 0 0 1px">
            <div class="card">
                <div class="card-header msg_head" style="min-height:40px">
                    <div class="d-flex bd-highlight">
                        <div class="user_info">
                            <span class="chat-with-team"></span>
                        </div>
                    </div>
                    @*<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                    <div class="action_menu">
                        <ul>
                            <li><i class="fas fa-user-circle"></i> View profile</li>
                            <li><i class="fas fa-users"></i> Add to close friends</li>
                            <li><i class="fas fa-plus"></i> Add to group</li>
                            <li><i class="fas fa-ban"></i> Block</li>
                        </ul>
                    </div>*@
                </div>
                <div class="card-body msg_card_body msg-chat-body">

                </div>
                <div class="card-footer">
                    <div class="input-group">
                        @*<div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                        </div>*@
                        <input type="hidden" value="0" id="HidRef" />
                        <input type="hidden" value="0" id="HidChatType" />
                        <textarea id="TbTextChatMsg" class="form-control type_msg" pattern="^[a-zA-Z][\sa-zA-Z]*" placeholder="Type your message..."></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text send_btn" id="bntSentChatText"><i class="fas fa-location-arrow"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

