@{
    ViewBag.ModalTitle = "SubTask";
    ViewBag.ModalId = "SubTaskModalSearch";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="SubTaskFormSearch" method="post">
    
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="attachment">Attachment</span></label>
                <input class="md-input" name="search_attachment" id="search_attachment"   maxlength="2147483647" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="description">Description</span></label>
                <input class="md-input" name="search_description" id="search_description"   maxlength="2147483647" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="due_date">Due Date</span></label>
                <input class="md-input" name="search_due_date" id="search_due_date"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="hour">Hour</span></label>
                <input class="md-input" name="search_hour" id="search_hour"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="percentage">Percentage</span></label>
                <input class="md-input" name="search_percentage" id="search_percentage"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="start_date">Start Date</span></label>
                <input class="md-input" name="search_start_date" id="search_start_date"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="sub_task">Sub Task</span></label>
                <input class="md-input" name="search_sub_task" id="search_sub_task"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_id">Task Id</span></label>
                <input class="md-input" name="search_task_id" id="search_task_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_status_id">Task Status Id</span></label>
                <input class="md-input" name="search_task_status_id" id="search_task_status_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="user_id">User Id</span></label>
                <input class="md-input" name="search_user_id" id="search_user_id"   maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="button" onclick="fnSubTask.initsearch()" class="md-btn md-btn-primary"><i class="uk-icon-search"></i> Search</button>
        <button type="button" onclick="fnSubTask.initsearch('reset')" class="md-btn md-btn-success"><i class="uk-icon-times-circle"></i> Reset</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>