@model PhoenixERPWebApp.Models.EmployeePayrollGroup
@{
    ViewData["Title"] = "Group Template Payroll";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Group Template Payroll</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Master Data</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="employeepayrollgroup" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Group Template Payroll</span></a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                     @if (string.IsNullOrEmpty(Model.Id))
                    {
                        <a asp-action="addedit" asp-controller="employeepayrollgroup" asp-area="hrisnew"  class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else
                    {
                        <a asp-action="addedit" asp-controller="employeepayrollgroup" asp-area="hrisnew"  asp-route-Id="@Model.Id" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                @ViewBag.Header
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formEmployeePayrollGroup" class="form-horizontal form-bordered" role="form">
                        <div class="row ">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="CreatedOn" />
                                <input type="hidden" asp-for="ModifiedBy" />
                                <input type="hidden" asp-for="ModifiedOn" />
                                <input type="hidden" asp-for="ApprovedBy" />
                                <input type="hidden" asp-for="ApprovedOn" />
                                <input type="hidden" asp-for="IsActive" />
                                <input type="hidden" asp-for="IsLocked" />
                                <input type="hidden" asp-for="IsDefault" />
                                <input type="hidden" asp-for="IsDeleted" />
                                <input type="hidden" asp-for="OwnerId" />
                                <input type="hidden" asp-for="DeletedBy" />
                                <input type="hidden" asp-for="DeletedOn" />
                                <input type="hidden" asp-for="BusinessUnitDivisionId" />
                                <input type="hidden" asp-for="BusinessUnitDepartementId" />
  
                                <div class="form-group m-form__group-sub">
                                    <label asp-for="GroupName"></label> <span class="req">*</span>  :
                                    @(Html.Kendo().TextBoxFor(m => m.GroupName)
                                        .HtmlAttributes(new {
                                            style = "width:100%",
                                            maxlength = 50,
                                            placeholder = $"Input type a {Html.DisplayNameFor(m => m.GroupName)}",
                                            required = "required",
                                            validationmessage = $"{Html.DisplayNameFor(m => m.GroupName)} is required" 
                                        }
                                     ))
                                </div>
                            </div>
                        </div>
                        
                        <div class="row ">
                            <div class="col-lg-12">
                                <label><h5>Additional</h5></label>
                                @(Html.Kendo().Grid<PhoenixERPWebApp.Models.GroupSubcomponentAdditional>()
                                    .Name("gridAdditional")
                                    .ToolBar(toolbar => toolbar.Create())
                                    .Columns(columns =>
                                    {
                                        columns.Command(command =>
                                        {
                                            command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                            command.Destroy().Text(" ");
                                        }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                        columns.Bound(p => p.AdditionalSalaryComponent).EditorTemplateName("HrisNew/EmployeePayroll/AdditionalSalaryComponent").ClientTemplate("#=AdditionalSalaryComponentName#").Width(200);
                                        columns.Bound(p => p.AdditionalComponentId).EditorTemplateName("HrisNew/EmployeePayroll/AdditionalComponentId").ClientTemplate("#=AdditionalComponentTypeName#").Width(200);
                                        columns.Bound(p => p.AdditionalPercent).Width(200).ClientFooterTemplate("TOTAL");
                                        columns.Bound(p => p.AdditionalAmount).Width(200).ClientFooterTemplate("#=kendo.format('{0:N2}', calculateAdditionalAmount())#");
                                    })
                                    //.NoRecords()
                                    .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(false))
                                    .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                    .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                        .Extra(false)
                                        .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Start sWith")
                                            .EndsWith("End sWith")
                                        )))
                                    //.Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(rsz => rsz.Columns(true))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        //.Aggregates(aggregates =>
                                        //{
                                        //    aggregates.Add(p => p.AdditionalAmount).Sum();
                                        //})
                                        .Events(events => events.Error("errorHandler"))
                                        .Model(model => { model.Id(p => p.Id); })
                                        .Read(read => read.Action("ReadAdditional", "employeepayrollgroup").Data("grid_params"))
                                        .Create(create => create.Action("CreateAdditional", "employeepayrollgroup"))
                                        .Update(update => update.Action("UpdateAdditional", "employeepayrollgroup"))
                                        .Destroy(destroy => destroy.Action("DestroyAdditional", "employeepayrollgroup"))
                                    )
                                    .Events(e => e.Save("saveAdditionalEvent"))//e.DataBound("dataBoundEvent"))
                                )
                            </div>
                        </div>

                        <div class="row " style="margin-top:20px;">
                            <div class="col-lg-12">
                                <label><h5>Deducation</h5></label>
                                @(Html.Kendo().Grid<PhoenixERPWebApp.Models.GroupSubcomponentDeduction>()
                                    .Name("gridDeducation")
                                    .ToolBar(toolbar => toolbar.Create())
                                    .Columns(columns =>
                                    {
                                        columns.Command(command =>
                                        {
                                            command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                            command.Destroy().Text(" ");
                                        }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                        columns.Bound(p => p.SalaryComponent).EditorTemplateName("HrisNew/EmployeePayroll/DeductionSalaryComponent").ClientTemplate("#=SalaryComponentName#").Width(200);
                                        columns.Bound(p => p.ComponentId).EditorTemplateName("HrisNew/EmployeePayroll/DeductionComponentId").ClientTemplate("#=ComponentTypeName#").Width(200);
                                        columns.Bound(p => p.Percent).Width(200).EditorTemplateName("HrisNew/EmployeePayroll/DeductionPercent").ClientFooterTemplate("TOTAL");
                                        columns.Bound(p => p.Amount).Width(200).ClientFooterTemplate("#=kendo.format('{0:N2}', calculateAmount())#");
                                    })
                                    //.NoRecords()
                                    .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(false))
                                    .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                    .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                        .Extra(false)
                                        .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Start sWith")
                                            .EndsWith("End sWith")
                                        )))
                                    //.Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(rsz => rsz.Columns(true))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        //.Aggregates(aggregates =>
                                        //{
                                        //    aggregates.Add(p => p.Amount).Sum();
                                        //})
                                        .Events(events => events.Error("errorHandler"))
                                        .Model(model => { model.Id(p => p.Id); })
                                        .Read(read => read.Action("ReadDeduction", "employeepayrollgroup").Data("grid_params"))
                                        .Create(update => update.Action("CreateDeduction", "employeepayrollgroup"))
                                        .Update(update => update.Action("UpdateDeduction", "employeepayrollgroup"))
                                        .Destroy(update => update.Action("DestroyDeduction", "employeepayrollgroup"))
                                    )
                                    .Events(e => e.Save("saveDeducationEvent").Edit("editDeductionEvent"))//e.DataBound("dataBoundEvent"))
                                )
                            </div>
                        </div>   
                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" id="btn-save" class="btn btn-primary">Save</button>
                                <a asp-action="index" asp-controller="employeepayrollgroup" asp-area="hrisnew" class="fakelink btn btn-secondary">Close</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .k-grid-footer tr.k-footer-template td {
        border-style: solid;
        border-width: 1px 0 0 0;
    }
</style>
<script>
    $('#btn-save').click(function () {        
        var gridAdditional = $("#gridAdditional").data("kendoGrid");
        var gridDeducation = $("#gridDeducation").data("kendoGrid");

        gridAdditional.saveRow();
        gridDeducation.saveRow();

        var dataList = {
            GroupSubcomponentAdditionals: gridAdditional.dataSource.data(),
            GroupSubcomponentDeductions: gridDeducation.dataSource.data()
         }
        callAction({ formId: "formEmployeePayrollGroup", title: "save", type: "POST", url: '@Url.Action("save", "employeepayrollgroup")', objects: dataList });
    });
    
    function saveAdditionalEvent(e) {
        var percent = $("#AdditionalPercent").data("kendoNumericTextBox").value();
        var amount = $("#AdditionalAmount").data("kendoNumericTextBox").value();
        var salaryComponentValue = $("#AdditionalSalaryComponent").data("kendoDropDownList").value();
        var salaryComponentName = $("#AdditionalSalaryComponent").data("kendoDropDownList").text();
        var ComponentTypeValue = $("#AdditionalComponentId").data("kendoDropDownList").value();
        var ComponentTypeName = $("#AdditionalComponentId").data("kendoDropDownList").text();

        e.model.set("AdditionalPercent", percent);
        e.model.set("AdditionalAmount", amount);
        e.model.set("AdditionalSalaryComponent", salaryComponentValue);
        e.model.set("AdditionalSalaryComponentName", salaryComponentName);
        e.model.set("AdditionalComponentId", ComponentTypeValue);
        e.model.set("AdditionalComponentTypeName", ComponentTypeName);

        var data = $("#gridDeducation").data("kendoGrid").dataSource.data(); 
        for (var i = 0; i < data.length; i++) {
            if (data[i].SalaryComponent == "@PhoenixERPWebApp.Models.SalaryComponentTypeDeduction.BPJS") {
                var newAmount = calculateAdditionalAmount() * (data[i].Percent / 100); 
                data[i].set("Amount", newAmount);
            }
        }
    }

    function saveDeducationEvent(e) {
        var percent = $("#Percent").data("kendoNumericTextBox").value();
        var amount = $("#Amount").data("kendoNumericTextBox").value();
        var salaryComponentValue = $("#SalaryComponent").data("kendoDropDownList").value();
        var salaryComponentName = $("#SalaryComponent").data("kendoDropDownList").text();
        var ComponentTypeValue = $("#ComponentId").data("kendoDropDownList").value();
        var ComponentTypeName = $("#ComponentId").data("kendoDropDownList").text();

        e.model.set("Percent", percent);
        e.model.set("Amount", amount);
        e.model.set("SalaryComponent", salaryComponentValue);
        e.model.set("SalaryComponentName", salaryComponentName);
        e.model.set("ComponentId", ComponentTypeValue);
        e.model.set("ComponentTypeName", ComponentTypeName);
    }

    function editDeductionEvent(e) { 
        var isReadonly = e.model.SalaryComponent == "@PhoenixERPWebApp.Models.SalaryComponentTypeDeduction.BPJS";
        $("#Amount").data("kendoNumericTextBox").readonly(isReadonly);
    }

    function ComponentTypeAdditional_Select(e) {
        if (e.dataItem) {
            var dataItem = e.dataItem;
            var salaryComponent = $("#AdditionalSalaryComponent").val();

            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            $("#AdditionalPercent").data("kendoNumericTextBox").value(0);
            $("#AdditionalAmount").data("kendoNumericTextBox").value(0);

            if (salaryComponent == "@PhoenixERPWebApp.Models.SalaryComponentTypeAdditional.Allowance") {

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("getallowancecomponent", "employeepayrollgroup")',
                    data: { id: dataItem.Value },
                    success: function (result) {
                        if (result != undefined) {
                            $("#AdditionalAmount").data("kendoNumericTextBox").value(result.Value);
                        }
                        mApp.unblock("#m_blockui_list");
                    },
                    error: function (e, t, s) {
                        swal('Information', 'Ooops, something went wrong !', 'info');
                        mApp.unblock("#m_blockui_list");
                    }
                }).then(setTimeout(function () {
                    mApp.unblock("#m_blockui_list");
                }, 2e3));

            }
            else
            if (salaryComponent == "@PhoenixERPWebApp.Models.SalaryComponentTypeAdditional.BPJS")
            {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("getbpjscomponent", "employeepayrollgroup")',
                    data: { id: dataItem.Value },
                    success: function (result) {
                        if (result != undefined) {
                            $("#AdditionalPercent").data("kendoNumericTextBox").value(result.Value);
                            //$("#AdditionalAmount").data("kendoNumericTextBox").value(result.MaxLimit);
                            var AdditionalAmount = calculateAdditionalAmount() * (result.Value / 100);
                            $("#Amount").data("kendoNumericTextBox").value(AdditionalAmount);
                        }
                        mApp.unblock("#m_blockui_list");
                    },
                    error: function (e, t, s) {
                        swal('Information', 'Ooops, something went wrong !', 'info');
                        mApp.unblock("#m_blockui_list");
                    }
                }).then(setTimeout(function () {
                    mApp.unblock("#m_blockui_list");
                }, 2e3));
            } else {
                mApp.unblock("#m_blockui_list");
            }
        }
    }

    function ComponentTypeDeduction_Select(e) {
        if (e.dataItem) {
            var dataItem = e.dataItem;
            var salaryComponent = $("#SalaryComponent").val();

            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            $("#Percent").data("kendoNumericTextBox").value(0);
            $("#Amount").data("kendoNumericTextBox").value(0);

            if (salaryComponent == "@PhoenixERPWebApp.Models.SalaryComponentTypeDeduction.BPJS")
            {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("getbpjscomponent", "employeepayrollgroup")',
                    data: { id: dataItem.Value },
                    success: function (result) {
                        if (result != undefined) {
                            $("#Percent").data("kendoNumericTextBox").value(result.Value);
                            //$("#Amount").data("kendoNumericTextBox").value(result.MaxLimit);
                            var AdditionalAmount = calculateAdditionalAmount() * (result.Value / 100);
                            $("#Amount").data("kendoNumericTextBox").value(AdditionalAmount);
                        }
                        mApp.unblock("#m_blockui_list");
                    },
                    error: function (e, t, s) {
                        swal('Information', 'Ooops, something went wrong !', 'info');
                        mApp.unblock("#m_blockui_list");
                    }
                }).then(setTimeout(function () {
                    mApp.unblock("#m_blockui_list");
                }, 2e3));
            } else {
                mApp.unblock("#m_blockui_list");
            }
        }
    }

    function deductionSalaryComponent_selectEvent(e) {
        if (e.dataItem) {
            var dataItem = e.dataItem;
            var isReadonly = dataItem.Value == "@PhoenixERPWebApp.Models.SalaryComponentTypeDeduction.BPJS";
            $("#Amount").data("kendoNumericTextBox").readonly(isReadonly);
        }
    }

    function grid_params() {
        return {
            id: $("#Id").val()
        }
    }
    
    function ComponentTypeAdditional_params() {
        return {
            salaryComponentId: $("#AdditionalSalaryComponent").val()
        }
    }

    function ComponentTypeDeduction_params() {
        return {
            salaryComponentId: $("#SalaryComponent").val()
        }
    }
    
    function calculateAdditionalAmount() {
        var data = $("#gridAdditional").data("kendoGrid").dataSource.data();
        var total = 0;
        for (var i = 0; i < data.length; i++) {
            total += data[i].AdditionalAmount;
        }
        return total;
    }

    function calculateAmount() {
        var data = $("#gridDeducation").data("kendoGrid").dataSource.data();
        var total = 0;
        for (var i = 0; i < data.length; i++) {
            total += data[i].Amount;
        }
        return total;
    }

    function deductionPercent_changeEvent(e) {
        var salaryComponent = $("#SalaryComponent").data("kendoDropDownList").value();
        if (salaryComponent == "@PhoenixERPWebApp.Models.SalaryComponentTypeDeduction.BPJS") {
            var gridAdditional = $("#gridAdditional").data("kendoGrid");
            gridAdditional.saveRow();
            var AdditionalAmount = calculateAdditionalAmount() * (this.value() / 100);
            $("#Amount").data("kendoNumericTextBox").value(AdditionalAmount);
        }
    }
</script>