@{
    ViewBag.ModalTitle = "PeTemplate";
    ViewBag.ModalId = "PeTemplateModalCreate";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="PeTemplateFormCreate" method="post">
    

    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="pe_cost_perqty">Pe Cost Perqty</span> </label>
                <input class="md-input" name="pe_cost_perqty" id="pe_cost_perqty"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="pe_item_qty">Pe Item Qty</span> </label>
                <input class="md-input" name="pe_item_qty" id="pe_item_qty"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="pe_line_item">Pe Line Item</span> </label>
                <input class="md-input" name="pe_line_item" id="pe_line_item"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="pe_number">Pe Number</span> </label>
                <input class="md-input" name="pe_number" id="pe_number"   type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="submit" class="md-btn md-btn-primary"><i class="uk-icon-save"></i> Save</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>