@{
    ViewBag.ModalTitle = "Division";
    ViewBag.ModalId = "DivisionModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="DivisionFormSearch" method="post">
    <input name="Search_business_unit_level" id="Search_business_unit_level" type="hidden" value="800">
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="division_code">division_code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_division_code" id="search_division_code" maxlength="50" type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="division_name">division_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_division_name" id="search_division_name" maxlength="100" type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="subgroupid">subgroupid</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_subgroupid" id="search_subgroupid" maxlength="100" type="text">
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnDivision.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnDivision.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>