@{
    ViewBag.ModalTitle = "TaskUser";
    ViewBag.ModalId = "TaskUserModalCreate";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="TaskUserFormCreate" method="post">
    

    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_posting_requisition_id">Job Posting Requisition Id</span> </label>
                <input class="md-input" name="job_posting_requisition_id" id="job_posting_requisition_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_id">Task Id</span> </label>
                <input class="md-input" name="task_id" id="task_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_user">Task User</span> </label>
                <input class="md-input" name="task_user" id="task_user"  maxlength="250" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="user_id">User Id</span> </label>
                <input class="md-input" name="user_id" id="user_id"  maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="submit" class="md-btn md-btn-primary"><i class="uk-icon-save"></i> Save</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>