﻿<input hidden id="detail-id" value="@ViewBag.RecordID" />
<input hidden id="detail-parentid" value="@ViewBag.ParentId" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Business Unit</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Master Data</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Core/BusinessUnit")" class="m-nav__link">
                        <span class="m-nav__link-text">Business Unit</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <form id="form-businessunit" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                    <input hidden name="id" value="@ViewBag.RecordID" />
                    <input hidden name="parent_unit" value="@ViewBag.ParentId" />
                    <div class="m-portlet__body">
                        
                        <div class="m-form__group row">
                            <div class="col-lg-12">
                                <h6>Parent of : @ViewBag.ParentName</h6>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Unit Name :</label>
                                            <input id="unit_name" name="unit_name" type="text" class="form-control form-control-sm m-input" placeholder="Enter Unit Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Unit Type :</label>
                                            <select id="business_unit_type_id" name="business_unit_type_id" class="form-control form-control-sm m-input m-input--square"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Phone :</label>
                                            <input id="unit_phone" name="unit_phone" type="text" class="form-control form-control-sm m-input" placeholder="Enter Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Fax :</label>
                                            <input id="unit_fax" name="unit_fax" type="text" class="form-control form-control-sm m-input" placeholder="Enter Fax">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Email :</label>
                                            <input id="unit_email" name="unit_email" type="text" class="form-control form-control-sm m-input m--margin-bottom-30" placeholder="Enter Email">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Address:</label>
                                            <textarea id="unit_address"
                                                      name="unit_address"
                                                      cols="10" rows="3"
                                                      class="form-control form-control-sm m-input">
        
                                        </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="button" id="btn-save" class="btn btn-sm btn-primary">Save</button>
                                    <a href="@Url.Content("~/Core/BusinessUnit")" class="btn btn-sm btn-secondary">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Areas/Core/Scripts/BusinessUnit.Detail.js" asp-append-version="true"></script>

}


