@model PhoenixERPWebApp.Models.InfoEmployee
@{
    ViewData["Title"] = "Attendance Report";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">HRIS</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Report</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="report" asp-controller="attendance" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Attendance Report</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <h3 class="m-portlet__head-text m--font-success">Attendance Report</h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">

                    <div class="row">
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label>Employee ID</label> :
                                @(Html.Kendo().TextBoxFor(m => m.EmployeeId)
                                    .HtmlAttributes(new
                                    {
                                        style = "width:100%",
                                        @readonly = "readonly",
                                        @class = "form-control form-control-sm m-input",
                                    }))
                            </div>
                        </div>
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label>Requestor</label> :
                                @(Html.Kendo().TextBoxFor(m => m.EmployeeName)
                                    .HtmlAttributes(new
                                    {
                                        style = "width:100%",
                                        @readonly = "readonly",
                                        @class = "form-control form-control-sm m-input",
                                    }))
                            </div>
                        </div>
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="JobTitle"></label> :
                                @(Html.Kendo().TextBoxFor(m => m.JobTitle)
                                    .HtmlAttributes(new
                                    {
                                        style = "width:100%",
                                        @readonly = "readonly",
                                        @class = "form-control form-control-sm m-input",
                                    }))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="Grade"></label> :
                                @(Html.Kendo().TextBoxFor(m => m.Grade)
                                    .HtmlAttributes(new
                                    {
                                        style = "width:100%",
                                        @readonly = "readonly",
                                        @class = "form-control form-control-sm m-input",
                                    }))
                            </div>
                        </div>
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="Email"></label> :
                                @(Html.Kendo().TextBoxFor(m => m.Email)
                                    .HtmlAttributes(new
                                    {
                                        style = "width:100%",
                                        @readonly = "readonly",
                                        @class = "form-control form-control-sm m-input",
                                    }))
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.AttendanceReport>()
                                .Name("grid")
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.Day).Width(80);
                                    columns.Bound(p => p.Date).Width(100);
                                    columns.Bound(p => p.WorkingHour).Width(120);
                                    columns.Bound(p => p.EarlyIn).Width(100);
                                    columns.Bound(p => p.EarlyOut).Width(100);
                                    columns.Bound(p => p.LateIn).Width(100);
                                    columns.Bound(p => p.LateOut).Width(100);
                                    columns.Bound(p => p.TotalHour).Width(100);
                                })
                                .NoRecords()
                                .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(5))
                                .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                    .Extra(false)
                                    .Operators(operators => operators
                                    .ForString(str => str.Clear()
                                        .Contains("Contains")
                                        .StartsWith("Start sWith")
                                        .EndsWith("End sWith")
                                    )))
                                .Scrollable(s => s.Enabled(true).Height("auto"))
                                .Resizable(rsz => rsz.Columns(true))
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(10)
                                    .Events(events => events.Error("errorHandler"))
                                    .Model(model => { model.Id(p => p.Id); })
                                    .Read(read => read.Action("ReadAttendanceReport", "Attendance").Data("grid_params"))
                                )
                            )
                        </div>
                    </div>
                    <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    <a asp-action="Report" asp-controller="Attendance" asp-area="hrisnew" class="fakelink btn btn-secondary"><span class="fa fa-arrow-circle-left"></span> Back</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function grid_params() {
        return {
            employeeId: '@ViewBag.EmployeeId',
            month: '@ViewBag.Month',
            year: '@ViewBag.Year'
        };
    }
</script>