﻿@model PhoenixERPWebApp.Models.Finance.Transaction.FixedAsset.FixedAsset
@{
    ViewData["Title"] = " Form Fixed Asset Depreciation";
    if (Model != null && ViewBag.IsApprove == true)
    {
        ViewData["Title"] = "Fixed Asset Depreciation Form Approval";
    }
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}


<input hidden id="detail-id" value="@ViewBag.RecordID" />
<input hidden id="entity_id" value="@ViewBag.EntityID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            @*<h3 class="m-subheader__title m-subheader__title--separator"> Master Fixed Asset</h3>*@
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/FixedAssetDepreciation")" class="m-nav__link">
                        <span class="m-nav__link-text"> Fixed Asset Depreciation</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    <span>@ViewBag.Header  &nbsp;</span>
                                    @if (Model.StatusDepreciation != null)
                                    {
                                        @if (Model.StatusDepreciation == @PhoenixERPWebApp.Models.StatusTransaction.Draft.ToString())
                                        {
                                            <span class="m-badge m-badge--info m-badge--wide" id="status">@PhoenixERPWebApp.Models.StatusTransaction.StatusName(PhoenixERPWebApp.Models.StatusTransaction.Draft)</span>
                                        }
                                        else if (Model.StatusDepreciation == @PhoenixERPWebApp.Models.StatusTransaction.WaitingApproval.ToString())
                                        {
                                            <span class="m-badge m-badge--warning m-badge--wide" id="status">@PhoenixERPWebApp.Models.StatusTransaction.StatusName(PhoenixERPWebApp.Models.StatusTransaction.WaitingApproval)</span>
                                        }
                                        else if (Model.StatusDepreciation == @PhoenixERPWebApp.Models.StatusTransaction.Approved.ToString())
                                        {
                                            <span class="m-badge m-badge--success m-badge--wide" id="status">@PhoenixERPWebApp.Models.StatusTransaction.StatusName(PhoenixERPWebApp.Models.StatusTransaction.Approved)</span>
                                        }
                                        else if (Model.StatusDepreciation == @PhoenixERPWebApp.Models.StatusTransaction.Rejected.ToString())
                                        {
                                            <span class="m-badge m-badge--wide m-badge--wide" id="status">@PhoenixERPWebApp.Models.StatusTransaction.StatusName(PhoenixERPWebApp.Models.StatusTransaction.Rejected)</span>
                                        }
                                        else
                                        {
                                            <span class="m-badge m-badge--info m-badge--wide" id="status">@PhoenixERPWebApp.Models.StatusTransaction.StatusName(PhoenixERPWebApp.Models.StatusTransaction.Rejected)</span>
                                        }
                                    }
                                    <span id="status"></span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <form id="formDepreciation" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                        <div class="m-accordion m-accordion--bordered m-accordion--solid" id="fadetail" role="tablist">
                            <!--begin::Item-->
                            <div class="m-accordion__item">
                                <div class="m-accordion__item-head" role="tab" id="fadetail_head" data-toggle="collapse" href="#fadetail_body" aria-expanded="true">
                                    <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                    <span class="m-accordion__item-title">Fixed Asset Detail</span>
                                    <span class="m-accordion__item-mode"></span>
                                </div>
                                <div class="m-accordion__item-body show" id="fadetail_body" role="tabpanel" aria-labelledby="fadetail_head" data-parent="#fadetail" style="">
                                    <div class="m-accordion__item-content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group ">

                                                    <!--begin::Form-->
                                                    <input hidden name="approval_id" />
                                                    @*<form id="form-FixedAsset" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">*@

                                                    <input type="hidden" asp-for="Id" />
                                                    <input type="hidden" asp-for="OwnerId" />
                                                    <input type="hidden" asp-for="CreatedBy" />
                                                    <input type="hidden" asp-for="CreatedOn" />
                                                    <input type="hidden" asp-for="ModifiedBy" />
                                                    <input type="hidden" asp-for="ModifiedOn" />
                                                    <input type="hidden" asp-for="ApprovedBy" />
                                                    <input type="hidden" asp-for="ApprovedOn" />

                                                    <div class="row">
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Good Receipt Number :</label>
                                                                @*<input id="GrNumber" name="GrNumber" class="form-control form-control-sm" value="@ViewBag.ModelFa.GoodReceiptId" readonly />*@
                                                                @Html.Kendo().TextBoxFor(m => m.GoodReceiptId).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Vendor Name :</label>
                                                                <input id="VendorName" name="VendorName" class="form-control form-control-sm" readonly />
                                                                @*@Html.Kendo().TextBoxFor(m => m.GoodReceiptId).HtmlAttributes(new { @class = "form-control form-control-sm", @required = "required" })*@
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Vendor Brand :</label>
                                                                <div class="input-group input-group-sm">
                                                                    <input id="VendorBrand" name="VendorBrand" class="form-control form-control-sm" readonly />
                                                                    @*@Html.Kendo().TextBoxFor(m => m.GoodReceiptId).HtmlAttributes(new { @class = "form-control form-control-sm", @required = "required" })*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @*<div class="col-lg-3 m-form__group-sub">
                <div class="form-group                                        <label>Item :</label>
                    <input name="item_id" id="item_id" style="width: 100%; height: 100%;" placeholder="Choose .." />
                </div>
            </div>*@
                                                    </div>
                                                    <hr />
                                                    <input hidden name="id" value="@ViewBag.RecordID" />
                                                    <div class="row">
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Fixed Asset Id :</label>
                                                                @*<input id="FixedAssetNumber" name="FixedAssetNumber" class="form-control form-control-sm" value="@ViewBag.ModelFa.Id" readonly />*@
                                                                @Html.Kendo().TextBoxFor(m => m.FixedAssetNumber).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", style = "width:100%", Placeholder = "Auto Generated by System.." })
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Fixed Asset Name :</label>
                                                                @*<input id="FixedAssetName" name="FixedAssetName" class="form-control form-control-sm" value="@ViewBag.ModelFa.FixedAssetName" readonly />*@
                                                                @Html.Kendo().TextBoxFor(m => m.FixedAssetName).HtmlAttributes(new { @class = "form-control form-control-sm", @required = "required", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Date Receipt :</label>
                                                                @*<input id="RegistrationDate" name="RegistrationDate" class="form-control form-control-sm" value="@ViewBag.ModelFa.RegistrationDate" readonly />*@
                                                                @Html.Kendo().DatePickerFor(m => m.RegistrationDate).HtmlAttributes(new { style = "width:100%", @required = "required", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        @*<div class="col-lg-3 m-form__group-sub">
                <div class="form-group">
                    <label>Item :</label>
                    <input name="item_id" id="item_id" style="width: 100%; height: 100%;" placeholder="Choose .." />
                </div>
            </div>*@
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Legal Entity :</label>
                                                                <div class="input-group input-group-sm">
                                                                    @*<input id="LegalEntityName" name="LegalEntityName" class="form-control form-control-sm" value="@ViewBag.ModelFa.LegalEntity" readonly />*@
                                                                    @Html.Kendo().TextBoxFor(m => m.LegalEntity).HtmlAttributes(new { style = "width:100%", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Division :</label>
                                                                @*<input id="Division" name="Division" class="form-control form-control-sm" value="@ViewBag.ModelFa.BusinessUnit" readonly />*@
                                                                @Html.Kendo().TextBoxFor(m => m.BusinessUnit).HtmlAttributes(new { style = "width:100%", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Affiliation :</label>
                                                                @*<input id="affiliation" name="affiliation" class="form-control form-control-sm" value="@ViewBag.ModelFa.Affiliation" readonly />*@
                                                                @Html.Kendo().TextBoxFor(m => m.Affiliation).HtmlAttributes(new { style = "width:100%", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        @*<div class="col-lg-3 m-form__group-sub">
                <div class="form-group">
                    <label>Purchase Order :</label>
                    <input id="purchase_order_id" name="purchase_order_id" style="width:100%;height:100%;" />
                </div>
            </div>*@
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Manufacturer :</label>
                                                                @*<input id="manufacturer" name="manufacturer" class="form-control form-control-sm" value="@ViewBag.ModelFa.Manufacture" readonly />*@
                                                                @Html.Kendo().TextBoxFor(m => m.Manufacture).HtmlAttributes(new { style = "width:100%", @required = "required", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Brand :</label>
                                                                @*<input id="brand" name="brand" class="form-control form-control-sm" value="@ViewBag.ModelFa.Brand" readonly />*@
                                                                @Html.Kendo().TextBoxFor(m => m.Brand).HtmlAttributes(new { style = "width:100%", @required = "required", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Model :</label>
                                                                @*<input id="model" name="model" class="form-control form-control-sm" value="@ViewBag.ModelFa.Model" readonly />*@
                                                                @Html.Kendo().TextBoxFor(m => m.Model).HtmlAttributes(new { style = "width:100%", @required = "required", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        @*<div class="col-lg-3 m-form__group-sub">
                <div class="form-group">
                    <label>Category :</label>
                    <div class="input-group input-group-sm">
                        <input id="item_category_id" name="item_category_id" style="width:100%;height:100%;" />
                    </div>
                </div>
            </div>*@
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Product Number :</label>
                                                                @*<input id="product_number" name="product_number" class="form-control form-control-sm" value="@ViewBag.ModelFa.ProductNumber" readonly />*@
                                                                @Html.Kendo().TextBoxFor(m => m.ProductNumber).HtmlAttributes(new { style = "width:100%", @required = "required", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>SKU Code :</label>
                                                                @*<input id="sku_code" name="sku_code" class="form-control form-control-sm" value="@ViewBag.ModelFa.SkuCode" readonly />*@
                                                                @Html.Kendo().TextBoxFor(m => m.SkuCode).HtmlAttributes(new { style = "width:100%", @required = "required", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Color :</label>
                                                                <div class="input-group input-group-sm">
                                                                    @*<input id="color" name="color" class="form-control form-control-sm" value="@ViewBag.ModelFa.Color" readonly />*@
                                                                    @Html.Kendo().TextBoxFor(m => m.Color).HtmlAttributes(new { style = "width:100%", @required = "required", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Qty :</label>
                                                                @*<input id="qty" name="qty" class="form-control form-control-sm" value="@ViewBag.ModelFa.UnitCount" readonly />*@
                                                                @Html.Kendo().TextBoxFor(m => m.UnitCount).HtmlAttributes(new { style = "width:100%", @required = "required", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>UOM :</label>
                                                                @*<input id="uom" name="uom" class="form-control form-control-sm" value="@ViewBag.ModelFa.Uom" readonly />*@
                                                                @Html.Kendo().TextBoxFor(m => m.Uom).HtmlAttributes(new { style = "width:100%", @required = "required", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Gross Value :</label>
                                                                <div class="input-group input-group-sm">
                                                                    @*<input id="gross_value" name="gross_value" class="form-control form-control-sm" value="@ViewBag.ModelFa.CurrentPrice" readonly />*@
                                                                    @Html.Kendo().TextBoxFor(m => m.CurrentPrice).HtmlAttributes(new { style = "width:100%", @required = "required", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Budget Code :</label>
                                                                <input id="budget_code" name="budget_code" class="form-control form-control-sm" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-accordion m-accordion--bordered m-accordion--solid" id="status" role="tablist">
                                    <!--begin::Item-->
                                    <div class="m-accordion__item">
                                        <div class="m-accordion__item-head" role="tab" id="status_head" data-toggle="collapse" href="#status_body" aria-expanded="true">
                                            <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                            <span class="m-accordion__item-title">Current Postition Status</span>
                                            <span class="m-accordion__item-mode"></span>
                                        </div>
                                        <div class="m-accordion__item-body show" id="status_body" role="tabpanel" aria-labelledby="status_head" data-parent="#status" style="">
                                            <div class="m-accordion__item-content">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group ">
                                                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.FixedAssetMovement>()
                                                                .Name("gridstatus")
                                                                //.ToolBar(x =>
                                                                //{
                                                                //    x.Create().Text("Add Movement Status");
                                                                //})
                                                                .Columns(columns =>
                                                                {
                                                                    //columns.Command(command =>
                                                                    //{
                                                                    //    command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                                    //}).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                                    columns.Bound(p => p.Id).Width(200).Hidden();
                                                                    columns.Bound(p => p.FaaDateTime).EditorTemplateName("Date").Title("Date").Width(150).Format("{0: dd-MMM-yyyy}");
                                                                    columns.Bound(p => p.FromLocationID).ClientTemplate("#=LocationName#").Title("Location").Width(200);
                                                                    columns.Bound(p => p.Condition).ClientTemplate("#=ConditionName#").Title("Condition").Width(200);
                                                                    columns.Bound(p => p.Employee).ClientTemplate("#=EmployeeName#").Title("Employee").Width(200);
                                                                    columns.Bound(p => p.BusinessUnitID).ClientTemplate("#=Division#").Title("Division").Width(100);
                                                                    columns.Bound(p => p.LegalEntityID).ClientTemplate("#=LegalEntityName#").Title("Legal Entity").Width(200);
                                                                    columns.Bound(p => p.AffiliationID).ClientTemplate("#=AffiliationName#").Title("Affiliation").Width(100);
                                                                    columns.Bound(p => p.Remark).Width(200);
                                                                    columns.Bound(p => p.FixedAssetMovementStatusID).ClientTemplate("#=StatusName#").Title("Status").Width(100);
                                                                })
                                                                //.Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                .DataSource(dataSource => dataSource
                                                                    .Ajax() 
                                                                    .Events(events => events.Error("errorHandler"))
                                                                    .Model(model =>
                                                                    {
                                                                        model.Id(p => p.Id);
                                                                        model.Field(p => p.Id).Editable(false);
                                                                    })
                                                                    .Read(read => read.Action("ReadFAStatus", "FixedAsset").Data("GetFixedAssetId"))
                                                                //.Create(create => create.Action("FAStatus_Create", "FixedAsset"))
                                                                //.Update(update => update.Action("FAStatus_Update", "FixedAsset"))
                                                                //.Destroy(destroy => destroy.Action("FAStatus_Destoy", "FixedAsset"))
                                                                )
                                                                //.Events(e => e.Save("SaveFAStatusList"))
                                                                .NoRecords()
                                                                //.AutoBind(false)
                                                            )
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-accordion m-accordion--bordered m-accordion--solid" id="depreciation" role="tablist">
                                    <!--begin::Item-->
                                    <div class="m-accordion__item">
                                        <div class="m-accordion__item-head" role="tab" id="depreciation_head" data-toggle="collapse" href="#depreciation_body" aria-expanded="true">
                                            <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                            <span class="m-accordion__item-title">Depreciation Board</span>
                                            <span class="m-accordion__item-mode"></span>
                                        </div>
                                        <div class="m-accordion__item-body show" id="depreciation_body" role="tabpanel" aria-labelledby="depreciation_head" data-parent="#depreciation" style="">
                                            <div class="m-accordion__item-content">
                                                <div class="row">
                                                    <div class="form-group">
                                                        @(Html.Kendo().DropDownListFor(m => m.MasterDepreciationId)
                                                            .DataTextField("Text")
                                                            .OptionLabel("Select Depreciation...")
                                                            .DataValueField("Value")
                                                            .Filter(FilterType.Contains)
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Action("GetMasterDepreciation", "DropDown", new { area = "Finance" });
                                                                });
                                                            })
                                                            .Events(e =>
                                                            {
                                                                e.Change("onSelectDepreciation");
                                                            })
                                                            //.CascadeFrom("VendorId")
                                                            //.AutoBind(false)
                                                            .HtmlAttributes(new { style = "width:200%;", @class = "form-control form-control-sm" })
                                                        )
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group ">
                                                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.FixedAsset.FixedAsset>()
                                                                .Name("gridfixedasset")
                                                                //.ToolBar(x =>
                                                                //{
                                                                //    x.Create().Text("Add Movement Status");
                                                                //})
                                                                .Columns(columns =>
                                                                {
                                                                    columns.Command(command =>
                                                                    {
                                                                        command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                                    }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                                    columns.Bound(p => p.Id).Width(200);
                                                                    columns.Bound(p => p.GrossValue).EditorTemplateName("Finance/FixedAssetDepreciation/GrossValue").Title("Gross Value").Width(150);
                                                                    columns.Bound(p => p.Residue).EditorTemplateName("Finance/FixedAssetDepreciation/Residue").Title("Residue").Width(200);
                                                                    columns.Bound(p => p.Lifetime).EditorTemplateName("Finance/FixedAssetDepreciation/Lifetime").Title("Lifetime (Month)").Width(200);
                                                                    columns.Bound(p => p.AcquisitionCost).EditorTemplateName("Finance/FixedAssetDepreciation/AcquisitionCost").Title("Acquisition Cost").Width(200);
                                                                    columns.Bound(p => p.Rounding).EditorTemplateName("Finance/FixedAssetDepreciation/Rounding").Title("Rounding").Width(100);
                                                                    //columns.Bound("").Title("Debit").Width(200);
                                                                    //columns.Bound("").Title("Credit").Width(100);
                                                                })
                                                                .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                .DataSource(dataSource => dataSource
                                                                    .Ajax() 
                                                                    .Events(events => events.Error("errorHandler"))
                                                                    .Model(model =>
                                                                    {
                                                                        model.Id(p => p.Id);
                                                                        model.Field(p => p.Id).Editable(false);
                                                                    })
                                                                    .Read(read => read.Action("GetDetail", "FixedAssetDepreciation").Data("GetFixedAssetId"))
                                                                    //.Create(create => create.Action("FAStatus_Create", "FixedAsset"))
                                                                    .Update(update => update.Action("FA_Update", "FixedAssetDepreciation"))
                                                                //.Destroy(destroy => destroy.Action("FAStatus_Destoy", "FixedAsset"))
                                                                )
                                                                .Events(e => e.Save("SaveFA"))
                                                                .NoRecords()
                                                                .AutoBind(false)
                                                            )
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <br />
                                                <div class="row">
                                                    <button type="button" id="btn-generate" class="btn btn-sm btn-primary" onclick="process()">Generate Depreciation</button>&nbsp;
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group ">
                                                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.FixedAssetDepreciation>()
                                                                .Name("griddepreciation")
                                                                //.ToolBar(x =>
                                                                //{
                                                                //    x.Create().Text("Add Movement Status");
                                                                //})
                                                                .Columns(columns =>
                                                                {
                                                                    //columns.Command(command =>
                                                                    //{
                                                                    //    command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                                    //}).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                                    columns.Bound(p => p.Id).Width(200).Hidden();
                                                                    columns.Bound(p => p.DepreciationDate).Title("Depreciaiton Date").Width(150);
                                                                    columns.Bound(p => p.AccumulatedDepreciation).Title("Cumulative Depreciation").Width(200);
                                                                    columns.Bound(p => p.DepreciationValue).Title("Depreciation").Width(200);
                                                                    columns.Bound(p => p.Residual).Title("Residual").Width(200);
                                                                    columns.Bound(p => p.Status).Title("Status").Width(100);
                                                                })
                                                                //.Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                .DataSource(dataSource => dataSource
                                                                    .Ajax() 
                                                                    .Events(events => events.Error("errorHandler"))
                                                                    .Model(model =>
                                                                    {
                                                                        model.Id(p => p.Id);
                                                                        model.Field(p => p.Id).Editable(false);
                                                                    })
                                                                    .Read(read => read.Action("ReadDetail", "FixedAssetDepreciation").Data("GetFixedAssetId"))
                                                                //.Create(create => create.Action("FAStatus_Create", "FixedAsset"))
                                                                //.Update(update => update.Action("FA_Update", "FixedAssetDepreciation"))
                                                                //.Destroy(destroy => destroy.Action("FAStatus_Destoy", "FixedAsset"))
                                                                )
                                                                //.Events(e => e.Save("SaveFA"))
                                                                .NoRecords()
                                                                .AutoBind(false)
                                                            )
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Remarks :</label>
                                                            @*<textarea id="Remarks" name="Remarks" class="form-control form-control-sm"></textarea>*@
                                                            @Html.TextAreaFor(m => m.RemarksDepreciation, new { style = "width:100%"})
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <a href="@Url.Content("~/Finance/FixedAssetDepreciation")" class="fakelink btn btn-sm btn-secondary">Back</a> &nbsp;
                            @*<button type="button" id="btn-save" class="btn btn-sm btn-success"><i class="la-save"></i>Save</button>*@
                            @*<button type="button" id="btn-submit" class="btn btn-sm btn-primary">Submit</button>&nbsp;*@
                            @if (ViewBag.isRequestor == true)
                            {
                                if (Model.Id == null)
                                {
                                    <button type="button" id="btnSave" class="btn btn-success edit"><span class="fa fa-save"></span> Save</button>
                                }
                                else
                                {
                                    <button type="button" id="btnSave" class="btn btn-success edit"><span class="fa fa-save"></span> Save</button>
                                    <button type="button" id="btnSubmit" class="btn btn-primary edit"><span class="fa fa-paper-plane"></span> Submit</button>
                                }
                            }
                            else if (ViewBag.processApprove == true)
                            {
                                <button type="button" id="btnReject" class="btn btn-danger"><span class="fa fa-ban"></span> Reject</button>
                                <button type="button" id="btnApprove" class="btn btn-primary"><span class="fa fa-bookmark"></span> Approve</button>
                            }
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>


<script>
    function process()
    {
        if ($("#Id").val() != null && $("#Id").val() != "") {
            swal({
            title: "Generate",
            text: "Generate Depreciation now! This action is can't be undone..",
            type: "warning",
            showCancelButton: !0,
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            reverseButtons: !0
        }).then(function (ok) {
            if (ok.value) {
                mApp.block("#m_blockui_list", {
                    overlayColor: "#000000",
                    type: "loader",
                    state: "primary",
                    message: "Processing..."
                });
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Generate", "FixedAssetDepreciation")',
                        data: { faId: $("#Id").val() },
                        dataType: 'json',
                        success: function (result) {
                            if (result.success) {
                                var grid = $("#griddepreciation").data("kendoGrid");
                                grid.dataSource.read();
                                grid.refresh();
                            } else {
                                swal('Warning', result, 'warning');
                            }

                            mApp.unblock("#m_blockui_list");
                        },
                        error: function (e, t, s) {
                            swal('Information', 'Ooops, something went wrong !', 'info');
                            mApp.unblock("#m_blockui_list");
                        }
                    }).then(setTimeout(function () {
                        mApp.unblock("#m_blockui_list");
                    }, 2e3));

            }
        }).then(setTimeout(function () {
            mApp.unblock("#m_blockui_list");
                }, 2e3));
        } else {
            swal("Please Save Before !!");
        }
    }

    function onRounding(e) {
        //var AC = $("#AcquisitionCost").data("kendoNumericTextBox").value();
        var Rounding = $("#Rounding").data("kendoDropDownList").value();
        var GV = $("#GrossValue").val();
        var R = $("#Residue").val();
        var L = $("#Lifetime").val();
        var Result = (GV - R) / L;
        if (Rounding == "Up") {
            $("#AcquisitionCost").data("kendoNumericTextBox").value(Math.floor(Result));
        } else {
            $("#AcquisitionCost").data("kendoNumericTextBox").value(Math.ceil(Result));
        }
    }

    function countAcquisition(e){
        var GV = $("#GrossValue").val();
        var R = $("#Residue").val();
        var L = $("#Lifetime").val();
        var Result = (GV - R) / L;
        $("#AcquisitionCost").data("kendoNumericTextBox").value(Result);
    }

    function SaveFA(e) {

        var GrossValue= $("#GrossValue").val();
        var Residue = $("#Residue").val();
        var Lifetime = $("#Lifetime").val();
        //var AcquisitionCost = $("#ItemId").data("kendoDropDownList").text();
        var AcquisitionCost = $("#AcquisitionCost").val();
        var Rounding = $("#Rounding").val();

        e.model.set("GrossValue", GrossValue);
        e.model.set("Residue", Residue);
        e.model.set("Lifetime", Lifetime);
        e.model.set("AcquisitionCost", AcquisitionCost);
        e.model.set("Rounding", Rounding);
    }


    function GetFixedAssetId() {
        return {
            faId: $("#Id").val()
        };
    }

    function onSelectDepreciation() {
        console.log("onSelectDepreciation");
        if ($("#Id").val() != null && $("#Id").val() != "") {
            //GetDataPODetail();
             $("#gridfixedasset").data("kendoGrid").dataSource.read();
                $("#gridfixedasset").data("kendoGrid").refresh();
        } else {
            swal("Id Fixed Asset not Found!..")
        }
    };

    $('#btnApprove').click(function () {
        if (!isValid()) return;
        callAction({ formId: "formDepreciation", title: "approve", type: "PUT", url: '@Url.Action("Approve", "FixedAssetDepreciation")'});
    });

    $('#btnReject').click(function () {
        $("#Remarks").attr("required", "required");
        callAction({ formId: "formDepreciation", title: "reject", type: "PUT", url: '@Url.Action("Reject", "FixedAssetDepreciation")'});
    });

    $('#btnSubmit').click(function () {
        if (!isValid()) return;
        var gridDetails = $("#gridfixedasset").data("kendoGrid");
        gridDetails.saveRow();
        var dataList = {
            details: gridDetails.dataSource.data()
        }
        callAction({ formId: "formDepreciation", title: "close", type: "POST", url: '@Url.Action("Submit", "FixedAssetDepreciation")', objects: dataList});
    });

    $('#btnSave').click(function () {
        if (!isValid()) return;
        var gridDetails = $("#gridfixedasset").data("kendoGrid");
        gridDetails.saveRow();
        var dataList = {
            details: gridDetails.dataSource.data()
        }
        callAction({ formId: "formDepreciation", title: "open", type: "POST", url: '@Url.Action("Save", "FixedAssetDepreciation")', objects: dataList});
    });

    function isValid() {
        var valid = $("#formDepreciation").validate().form();
        if (valid) {
            return true;
        } else {
            return false;
        }
    }

    @*var param = (function (param) {
        param.saveUrl = "@Url.Action("Save", "FixedAssetDepreciation")";
        return param;
    })(param || {});

    var pageFunction = (function (pageFunction) {
            pageFunction.init = function () {
                //initialize
            };
            pageFunction.save = function () {
                //swal("Under Construction ..")
                var gridDetails = $("#gridfixedasset").data("kendoGrid");
                gridDetails.saveRow();
                var dataList = {
                    details: gridDetails.dataSource.data()
                }
                callAction({ formId: "form-depreciation", title: "save", type: "POST", url: param.saveUrl, objects: dataList });
            };
            return pageFunction;
        })(pageFunction || {});

    $(document).ready(function () {
        console.log("Init...");
        console.log($("#Id").val());
        if ($('#Id').val() != null && $('#Id').val() != "") {
            //onSelectDepreciation();
        };
        //$('#btn-submit').click(pageFunction.save);
        //var todayDate = kendo.toString(kendo.parseDate(new Date()), 'MM/dd/yyyy');
        //$("#RegistrationDate").data("kendoDatePicker").value(todayDate);
    });*@
</script>
