@{
    ViewData["Title"] = "Departement";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="DepartementFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="departement_code">departement_code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="departement_code" id="departement_code"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="departement_name">departement_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="departement_name" id="departement_name"  maxlength="100" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="divisionid">divisionid</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="divisionid" id="divisionid"  maxlength="100" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/Departement" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/Departement.create.js"></script>
}
