@{
    ViewBag.ModalTitle = "Departement";
    ViewBag.ModalId = "DepartementModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="DepartementFormSearch" method="post">
    <input name="Search_business_unit_level" id="Search_business_unit_level" type="hidden" value="700">
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="departement_code">departement_code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_departement_code" id="search_departement_code" maxlength="50" type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="departement_name">departement_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_departement_name" id="search_departement_name" maxlength="100" type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="divisionid">divisionid</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_divisionid" id="search_divisionid" maxlength="100" type="text">
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnDepartement.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnDepartement.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>