@{
    ViewData["Title"] = "LoanCategory";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="LoanCategoryFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12">
            <input value="@ViewBag.RecordID" type="hidden" name="id" />
            <div class="form-group">
                <label><span class="translate" data-args="Code">Code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="code" id="code" maxlength="50" type="text">
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="Name">Name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="name" id="name" maxlength="50" type="text">
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="Interst Per Month">Interst Per Month</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="interest_month" id="interest_month" type="number">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="Description">Description</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="description" id="description" maxlength="255" type="text">
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/LoanCategory" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/LoanCategory.update.js"></script>
}
