@{
    ViewData["Title"] = "Pca";
    Layout = "~/Views/Shared/metronic/_formpanelloader.cshtml";
}
@section Panelhead{
    <a href="@Url.Content("~/Projectmanagement/Pca/manage")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
}

@section Paneltools{
    <a  data-target="#PcaModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>
}
@section Panelbody{
    <table class="table table-striped table-bordered table-hover table-checkable" id="PcaList"></table>
    @Html.Partial("Pca/Search")
}
@section Panelscript{
    <script src="~/assets/js/Areas/ProjectManagement/Form/Pca/index.js"></script>
}
