@{
    ViewData["Title"] = "Client Brief";
    Layout = "~/Views/Shared/metronic/_formpanelloader.cshtml";
}

@section Panelhead{

}

@section Paneltools{

}
@section Panelbody{

<form action="#" method="post" id="PCAForm">

    <div class="row m-row--col-separator-xl">
        <div class="col-lg-4">
            <div class="form-group">
                <label><span class="translate" data-args="job_number">job_number</span> :</label>
                <select id="job_id" name="job_id" class="form-control form-control-sm m-input m-input--square"></select>
            </div>
        </div>
        <div class="col-lg-4">
            <h5>Campaign Name</h5>
            <h6 id="campaign_name">-</h6>
            <hr />
            <h5>Job Name</h5>
            <h6 id="job_name">-</h6>
            <hr />
            <h5>Job Number</h5>
            <h6 id="job_number">-</h6>
            <hr />
        </div>
        <div class="col-lg-4">
            <h5>Account Manager</h5>
            <div id="accountmanagerlist" style="margin-left:10px">-</div>
            <hr />
            <h5>Deadline</h5>
            <h6 id="deadline" class="xdatetime">-</h6>
            <hr />
            <h5>Final Delivery</h5>
            <h6 id="final_delivery" class="xdatetime">-</h6>
            <hr />
        </div>
    </div>
    <hr />
    <table id="tabledetilpca" class="table table-striped table-bordered table-hover dataTable no-footer" style="width:100%">
        <thead>
            <tr>
                <th class=" channelpcah">Channel/ dept </th>
                <th class="w300px ">Task Name </th>
                <th class="">Quantity</th>
                <th class="">Unit</th>
                <th class="">Price Per Quantity</th>
                <th class="">PPN</th>
                <th class="">ASF</th>
                <th class="">PPH</th>
                <th class="">Cost</th>
                <th class="w30px ">%</th>
                <th class=" uk-text-right">Margin</th>
                <th class="w95px ">Total Price</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
                    <a href="~/projectmanagement/job/detail/" class="fakelink btn btn-secondary">back</a>
                </div>

            </div>
</form>

 
}
@section Panelscript{
    <script src="~/assets/js/Areas/ProjectManagement/Form/PCA.create.js"></script>
}

