@{
    ViewBag.ModalTitle = "Termination";
    ViewBag.ModalId = "TerminationModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="TerminationFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_employee_basic_info_id" id="search_employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="reason">reason</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_reason" id="search_reason"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="termination_date">termination_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_termination_date" id="search_termination_date"   type="number">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnTermination.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnTermination.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>