﻿@model PhoenixERPWebApp.Models.PurchaseRequest
@{
    ViewData["Title"] = "Purchase Request Internal";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";

}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            @*<h3 class="m-subheader__title m-subheader__title--separator">Internal Purchase Request</h3>*@
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Procurement</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="Index" asp-controller="PurchaseRequest" asp-area="Finance" class="m-nav__link">
                        <span class="m-nav__link-text">Internal Purchase Request</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Internal</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->                
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-success">
                                Internal Purchase Request &nbsp;<b class="m--font-danger">Others&nbsp;</b>&nbsp;                                
                            </h3>
                            @if (Model.Status == PhoenixERPWebApp.Models.StatusTransactionName.Draft)
                            {<span class="m-badge m-badge--info m-badge--wide" id="lblstatus">@Model.Status</span> }
                            else if (Model.Status == PhoenixERPWebApp.Models.StatusTransactionName.WaitingApproval)
                            { <span class="m-badge m-badge--warning m-badge--wide" id="lblstatus">@Model.Status</span> }
                            else if (Model.Status == PhoenixERPWebApp.Models.StatusTransactionName.Rejected)
                            { <span class="m-badge m-badge--danger m-badge--wide" id="lblstatus">@Model.Status</span> }
                            else if (Model.Status == PhoenixERPWebApp.Models.StatusTransactionName.Approved)
                            { <span class="m-badge m-badge--success m-badge--wide" id="lblstatus">@Model.Status</span>}
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formpurchaserequest" class="m-form">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="CreatedBy" />
                        <input type="hidden" asp-for="CreatedOn" />
                        <input type="hidden" asp-for="ModifiedBy" />
                        <input type="hidden" asp-for="ModifiedOn" />
                        <input type="hidden" asp-for="ApprovedBy" />
                        <input type="hidden" asp-for="ApprovedOn" />
                        <input type="hidden" asp-for="IsActive" />
                        <input type="hidden" asp-for="IsLocked" />
                        <input type="hidden" asp-for="IsDefault" />
                        <input type="hidden" asp-for="IsDeleted" />
                        <input type="hidden" asp-for="OwnerId" />
                        <input type="hidden" asp-for="DeletedBy" />
                        <input type="hidden" asp-for="DeletedOn" />
                        <input type="hidden" asp-for="AffiliationId"/>
                        <input type="hidden" asp-for="Status"/>       

                        <div class="row m-row--col-separator-xl">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label asp-for="RequestNumber"></label> :
                                    @Html.Kendo().TextBoxFor(m => m.RequestNumber).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", style = "width:100%", Placeholder = "Auto Generated by System.." })
                                </div>
                                <div class="form-group">
                                    <label asp-for="RequestDatetime"></label> <span class="req">*</span> :
                                    @Html.Kendo().DatePickerFor(m => m.RequestDatetime).HtmlAttributes(new { @readonly = "readonly", style = "width:100%" })
                                </div>
                                <div class="form-group">
                                    <label asp-for="DueDate"></label> <span class="req">*</span>  :
                                    @(Html.Kendo().DatePickerFor(m=>m.DueDate)
                                        .Format("dd MMMM yyyy")
                                        .HtmlAttributes(new {
                                            style = "width: 100%",
                                            onkeydown = "javascript:return false;",
                                            placeholder = $"Input type a {Html.DisplayNameFor(m => m.DueDate)}",
                                            required = "required",
                                            validationmessage = $"{Html.DisplayNameFor(m => m.DueDate)} is required"
  
                                        })
                                    )
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label asp-for="Requestor"></label> :
                                    @Html.Kendo().TextBoxFor(m => m.Requestor).HtmlAttributes(new { @readonly = "readonly", style = "width:100%" })
                                </div>
                                <div class="form-group">
                                    <label asp-for="RequestorDivisionId"></label> :
                                    @(Html.Kendo().DropDownListFor(m => m.RequestorDivisionId)
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Filter(FilterType.Contains)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetDivisionHris", "Dropdown", new { area = "Finance" });
                                            });
                                        })
                                        .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.RequestorDivisionId)}")
                                        .HtmlAttributes(new { @readonly = "readonly", style = "width:100%;"})
                                    )
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label asp-for="BusinessUnitId"></label> <span class="req">*</span> :
                                    @(Html.Kendo().DropDownListFor(m => m.BusinessUnitId)
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Filter(FilterType.Contains)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetDivisionFinance", "Dropdown", new { area = "Finance" });
                                            });
                                        })
                                        .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.BusinessUnitId)}")
                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                    )
                                </div>
                                <div class="form-group">
                                    <label asp-for="LegalEntityId"></label> <span class="req">*</span> :
                                    @(Html.Kendo().DropDownListFor(m => m.LegalEntityId)
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Filter(FilterType.Contains)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
                                            });
                                        })
                                        .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.LegalEntityId)}")
                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                    )
                                </div>
                                <div class="form-group">
                                    <span>Total</span>
                                    <h2 class="m--font-info"><span class="totalAmount" id="div_total_amount">0</span></h2>

                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <!--end::Form-->
                        <div class="row">
                            <div class="col-lg-12" id="m_blockui_list">
                                <div class="form-group">
                                    <div class="alert m-alert--default" role="alert">
                                        Detail List Item
                                    </div>

                                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.PurchaseRequestDetail>()
                                        .Name("grid-PurchaseRequestDetail")
                                        .ToolBar(x =>
                                        {
                                            if (ViewBag.isRequestor == true)
                                            {
                                                x.Create();
                                            }
                                        })
                                        .Columns(columns =>
                                        {
                                            if (ViewBag.isRequestor == true)
                                            {
                                                columns.Command(command =>
                                                {
                                                    command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                    command.Destroy().Text(" ");
                                                }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                            }
                                            columns.Bound(p => p.ItemTypeId).ClientTemplate("#=ItemTypeName#").EditorTemplateName("Finance/RequestForQuotation/ItemTypeDropdown").Width(150);
                                            columns.Bound(p => p.ItemId).ClientTemplate("#if(ItemCode!=null){# #=ItemCode# - #=ItemName# #}#").EditorTemplateName("Finance/RequestForQuotation/ItemIdDropdown").Width(150);
                                            columns.Bound(p => p.Name).Width(200);
                                            columns.Bound(p => p.Qty).EditorTemplateName("Finance/RequestForQuotation/Integer").Width(100).Format("{0:N0}");
                                            columns.Bound(p => p.UomId).ClientTemplate("#=UomName#").EditorTemplateName("Finance/RequestForQuotation/UomDropdown").Width(100);
                                            columns.Bound(p => p.UnitPrice).EditorTemplateName("Finance/RequestForQuotation/Decimal").Width(200);
                                            columns.Bound(p => p.Amount).EditorTemplateName("DecimalReadOnly").Width(200);
                                        })
                                        .Editable(x => x.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(true))
                                        .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Events(events => events.Error("errorHandler"))
                                            .Model(model => { model.Id(p => p.Id); })
                                            .Read(read => read.Action("ReadDetail", "PurchaseRequest").Data("detail_params"))
                                            .Create(create => create.Action("CreateDetail", "PurchaseRequest"))
                                            .Update(update => update.Action("UpdateDetail", "PurchaseRequest"))
                                            .Destroy(destroy => destroy.Action("DestroyDetail", "PurchaseRequest"))
                                        )
                                        .Events(e => e.Save("save_event").Remove("remove_event"))
                                        .NoRecords()
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8"><div class="pull-right"><label asp-for="SubTotal"></label></div></div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @(Html.Kendo().NumericTextBoxFor(x => x.SubTotal)
                                        .Spinners(false)
                                        .HtmlAttributes(new { style = "width:100%", @readonly = "readonly" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-8"><div class="pull-right"><label asp-for="VatPercent"></label> <span class="req">*</span></div></div>
                            <div class="col-lg-1">
                                <div class="form-group">
                                    @(Html.Kendo().NumericTextBoxFor(x => x.VatPercent)
                                        .Spinners(false)
                                        .Format("## \\%")
                                        .Max(100)
                                        .Events(x => x.Change("VatPercent_Change"))
                                        .HtmlAttributes(new { style = "width:100%", required = "required" })
                                    )
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    @(Html.Kendo().NumericTextBoxFor(x => x.Vat)
                                        .Spinners(false)
                                        .HtmlAttributes(new { style = "width:100%", @readonly = "readonly" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-8"><div class="pull-right"><label asp-for="GrandTotal"></label></div></div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.Kendo().NumericTextBoxFor(m => m.GrandTotal).Spinners(false).HtmlAttributes(new { style = "width:100%", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        @if (ViewBag.processApprove == true)
                        {
                            <div class="row">
                                <div class="col-lg-12"> 
                                    <button type="button" id="showBudget" class="btn btn-info">Budget Check</button> 
                                </div>
                            </div>  
                            <br/>
                        }

                        <div class="row ">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="RemarksProcess"></label> :
                                    @Html.TextAreaFor(x => x.RemarksProcess, new { style = "height:100px;width:100%" })
                                </div>
                            </div>
                        </div>

                        <partial name="_HistoryApproval" />
                        <partial name="_StatusLog" />
                    <br><hr>
                    <div style="text-align: right;">
                        @if (ViewBag.isRequestor == true)
                        {
                            <button type="button" id="btnSave" class="btn btn-success edit"><span class="fa fa-save"></span> Save</button>
                            <button type="button" id="btnSubmit" class="btn btn-primary edit"><span class="fa fa-paper-plane"></span> Submit</button>
                        }
                        else if (ViewBag.processApprove == true)
                        {
                            <button type="button" id="btnReject" class="btn btn-danger"><span class="fa fa-ban"></span> Reject</button>
                            <button type="button" id="btnApprove" class="btn btn-primary"><span class="fa fa-bookmark"></span> Approve</button>
                        }
                        <a asp-action="Index" asp-controller="PurchaseRequest" asp-area="Finance" class="fakelink btn btn-secondary"><span class="fa fa-arrow-circle-left"></span> Cancel</a>
                    </div>                   
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="refModal" class="modal fade" role="dialog"></div>
<script>
     $(document).ready(function () {
         if ("@ViewBag.isRequestor" == "False") {
             $("#BusinessUnitId").data("kendoDropDownList").readonly();
             $("#LegalEntityId").data("kendoDropDownList").readonly();
             $("#DueDate").data("kendoDatePicker").readonly();
             $('#VatPercent').data("kendoNumericTextBox").readonly();      
         }

          if ('@Model.GrandTotal' != '') {
              $("#div_total_amount").html(kendo.format("{0:N0}", @Model.GrandTotal));
        }
    });

    //params detail pr
    function detail_params() {
        return {
            Id: "@Model.Id"
        };
    }

    //edit mode inline detail pr
    function itemType_params() {
        return {
            ItemTypeId: $("#ItemTypeId").data("kendoDropDownList").value()
        }
    }

    //check budget
    function grid_budget_params() {
        return {
            BusinessUnitId: $("#BusinessUnitId").data("kendoDropDownList").value(),
            coaId: $("#filterCoaLv5").val()
        };
    }

    function save_event(e) {
        var ItemTypeId = $("#ItemTypeId").data("kendoDropDownList").value();
        var ItemTypeName = $("#ItemTypeId").data("kendoDropDownList").text();
        var Name = $("#Name").val();
        var UnitPrice = $("#UnitPrice").data("kendoNumericTextBox").value();
        var Qty = $("#Qty").data("kendoNumericTextBox").value();
        var Amount = $("#Amount").data("kendoNumericTextBox").value();
        var UomId = $("#UomId").data("kendoDropDownList").value();
        var UomName = $("#UomId").data("kendoDropDownList").text(); 

        e.model.set("ItemTypeId", ItemTypeId);
        e.model.set("ItemTypeName", ItemTypeName);
        e.model.set("Name", Name);
        e.model.set("UnitPrice", UnitPrice);
        e.model.set("Qty", Qty);
        e.model.set("Amount", Amount);
        e.model.set("UomId", UomId);
        e.model.set("UomName", UomName); 

        if (ItemTypeId != "@PhoenixERPWebApp.Models.ItemTypeId.NonInventory") { 
            var ItemId = $("#ItemId").data("kendoDropDownList").value();
            e.model.set("ItemId", ItemId);
        }

        CallculateAll();
    }

    function remove_event(e) {
        var models = $("#grid-PurchaseRequestDetail").data("kendoGrid").dataSource.data().filter((x) => { return x.Id != e.model.Id }); 
        var subTotal = 0;

        $.each(models, function (index, data) {
            if (data.Amount != null) {
                subTotal += data.Amount; 
            }
        });
         
        ReCallculateAll(subTotal);
    }

    function VatPercent_Change() {
        var gridDetail = $("#grid-PurchaseRequestDetail").data("kendoGrid");
        gridDetail.saveRow();
        CallculateAll();
    }
    
    function calculate_change(e) {
        var Qty = $('#Qty').data("kendoNumericTextBox").value();
        var UnitPrice = $('#UnitPrice').data("kendoNumericTextBox").value();
        var Amount = Qty * UnitPrice;
        $('#Amount').data("kendoNumericTextBox").value(Amount);

    }
    
    function CallculateAll() {
        var models = $("#grid-PurchaseRequestDetail").data("kendoGrid").dataSource.data();
        var subTotal = 0;

        $.each(models, function (index, data) {
            if (data.Amount != null) {
                subTotal += data.Amount;
            }
        });

        ReCallculateAll(subTotal);
    }

    function ReCallculateAll(subTotal) {
        var vatpercent = $('#VatPercent').data("kendoNumericTextBox").value(); 

        if (vatpercent == null) vatpercent = 0;

        var vat = (subTotal * (vatpercent / 100));
        var grandTotal = (subTotal + vat);

        $('#SubTotal').data("kendoNumericTextBox").value(subTotal);
        $('#Vat').data("kendoNumericTextBox").value(vat); 
        $('#GrandTotal').data("kendoNumericTextBox").value(grandTotal);
        $('#div_total_amount').html(kendo.format("{0:N0}", grandTotal));
    }

    
    $('#btnApprove').click(function () {
        $("#RemarksProcess").removeAttr("required", "required");
        callAction({ formId: "formpurchaserequest", title: "approve", type: "PUT", url: '@Url.Action("approve", "purchaserequest")'});
    });

    $('#btnReject').click(function () {
        $("#RemarksProcess").attr("required", "required");
        callAction({ formId: "formpurchaserequest", title: "reject", type: "PUT", url: '@Url.Action("reject", "purchaserequest")'});
    });

    $('#btnSave').click(function () {
        if (!isValid()) return; 
        callAction({ formId: "formpurchaserequest", title: "save", type: "POST", url: '@Url.Action("save", "purchaserequest")', objects: result()});
    });

    $('#btnSubmit').click(function () {
        if (!isValid()) return; 
        callAction({ formId: "formpurchaserequest", title: "submit", type: "POST", url: '@Url.Action("submit", "purchaserequest")', objects: result()});
    });

    function isValid() {
        var valid = $("#formpurchaserequest").validate().form();
        if (valid) {
            var grid = $("#grid-PurchaseRequestDetail").data("kendoGrid").dataSource.data();
            if (grid.length == 0) {
                swal('Warning', "Please input purchase request detail", 'warning');
                return false;
            }
            return true;
        } else {
            return false;
        }
    }
    
    function result() {
        var gridDetail = $("#grid-PurchaseRequestDetail").data("kendoGrid");
        gridDetail.saveRow();

        var dataList = {
            PurchaseRequestDetails: gridDetail.dataSource.data()
        }

        return dataList;
    }
        
    $("#showBudget").click(function (e) {
         e.preventDefault();
        mApp.block("#m_blockui_list", {
            overlayColor: "#000000",
            type: "loader",
            state: "primary",
            message: "Processing..."
        });

        var aptype = 1;
        $.ajax({
            type: 'GET',
            url:'@Url.Action("IndexRef")',
            data: {
                aptype: aptype,
                Id : $("#Id").val()
            },
            success: function (result) {
                $('#VendorDataId').val(dataItem.VendorId);
                $('#VendorIdTmp').val(dataItem.VendorId);
                $('#refModal').html(result);


                $('#refModal').modal('show');

                //countbuttomline();
                mApp.unblock("#m_blockui_list");
            },
            error: function (e, t, s) {
                swal('Information', 'Ooops, something went wrong !', 'info');
                mApp.unblock("#m_blockui_list");
            }
        }).then(setTimeout(function () {
            mApp.unblock("#m_blockui_list");
        }, 2e3));
    });

    function ItemType_Select(e) {
        if (e.dataItem) {
            var dataItem = e.dataItem;
            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            @*if (dataItem.Value == "@PhoenixERPWebApp.Models.ItemTypeId.NonInventory") {
                $("#ItemId").removeAttr("required", "required"); 
            } else {
                $("#ItemId").attr("required", "required"); 
            }*@

            mApp.unblock("#m_blockui_list");
        }
    }

    function filterCoaLv5_select(e) {
        mApp.block("#m_blockui_list", {
            overlayColor: "#000000",
            type: "loader",
            state: "primary",
            message: "Processing..."
        });

        var grid = $("#grid-budget").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();

        mApp.unblock("#m_blockui_list");
    }
</script>
