@{
    ViewBag.ModalTitle = "CandidateRecruitment";
    ViewBag.ModalId = "CandidateRecruitmentModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="CandidateRecruitmentFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="achievement">achievement</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_achievement" id="search_achievement"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="address">address</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_address" id="search_address"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="alcohol_willing">alcohol_willing</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_alcohol_willing" id="search_alcohol_willing"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="applicant_progress_id">applicant_progress_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_applicant_progress_id" id="search_applicant_progress_id"  maxlength="10" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="approver_id">approver_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_approver_id" id="search_approver_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="birth_place">birth_place</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_birth_place" id="search_birth_place"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="certificate">certificate</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_certificate" id="search_certificate"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="cigaret_willing">cigaret_willing</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_cigaret_willing" id="search_cigaret_willing"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="city_id">city_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_city_id" id="search_city_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="company_last_address">company_last_address</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_company_last_address" id="search_company_last_address"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="company_last_from">company_last_from</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_company_last_from" id="search_company_last_from"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="company_last_name">company_last_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_company_last_name" id="search_company_last_name"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="company_last_phone">company_last_phone</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_company_last_phone" id="search_company_last_phone"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="company_last_until">company_last_until</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_company_last_until" id="search_company_last_until"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="country">country</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_country" id="search_country"  maxlength="100" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="course_institution">course_institution</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_course_institution" id="search_course_institution"  maxlength="80" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="course_tittle">course_tittle</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_course_tittle" id="search_course_tittle"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="course_years">course_years</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_course_years" id="search_course_years"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="date_birth">date_birth</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_date_birth" id="search_date_birth"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="education_level_id">education_level_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_education_level_id" id="search_education_level_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="education_year_from">education_year_from</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_education_year_from" id="search_education_year_from"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="education_year_to">education_year_to</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_education_year_to" id="search_education_year_to"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="email">email</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_email" id="search_email"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="file_id">file_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_file_id" id="search_file_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="first_name">first_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_first_name" id="search_first_name"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="gender">gender</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_gender" id="search_gender"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="identity_card">identity_card</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_identity_card" id="search_identity_card"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="institusion">institusion</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_institusion" id="search_institusion"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="interest">interest</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_interest" id="search_interest"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="job_repository_id">job_repository_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_job_repository_id" id="search_job_repository_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="last_education">last_education</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_last_education" id="search_last_education"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="last_name">last_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_last_name" id="search_last_name"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="last_position">last_position</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_last_position" id="search_last_position"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="looking_job">looking_job</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_looking_job" id="search_looking_job"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="major">major</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_major" id="search_major"  maxlength="100" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="married_status_id">married_status_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_married_status_id" id="search_married_status_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="mobile_number">mobile_number</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_mobile_number" id="search_mobile_number"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="nationality_id">nationality_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_nationality_id" id="search_nationality_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="nick_name">nick_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_nick_name" id="search_nick_name"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="pay_slip">pay_slip</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_pay_slip" id="search_pay_slip"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="phone_number">phone_number</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_phone_number" id="search_phone_number"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="portofolio">portofolio</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_portofolio" id="search_portofolio"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="profile_file">profile_file</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_profile_file" id="search_profile_file"  maxlength="150" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="province">province</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_province" id="search_province"  maxlength="100" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="relation_people">relation_people</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_relation_people" id="search_relation_people"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="religion_id">religion_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_religion_id" id="search_religion_id"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="resume_screening">resume_screening</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_resume_screening" id="search_resume_screening"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="source_recruitment">source_recruitment</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_source_recruitment" id="search_source_recruitment"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="work_number">work_number</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_work_number" id="search_work_number"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="zip_code">zip_code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_zip_code" id="search_zip_code"  maxlength="100" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnCandidateRecruitment.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnCandidateRecruitment.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>