@model PhoenixERPWebApp.Models.MasterLocation
@{
    ViewData["Title"] = "Master Location";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";

    var MapLong = Model.MapLong ?? "0";
    var MapLat = Model.MapLat ?? "0";
}
<style>
    .inputtext {
        border: 1px solid #fbfbfb;
        box-shadow: rgb(255, 73, 207);
        font-size: 12px;
        line-height: 1.42857143;
        height: 34px;
        padding: 6px 18px;
        color: #000000;
        position: relative;
        margin-top: 14px;
    }
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Master Location</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Master Data</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="masterlocation" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Master Location</span></a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="addedit" asp-controller="masterlocation" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                @ViewBag.Header
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formMasterLocation" class="form-horizontal form-bordered" role="form" asp-action="submit" asp-controller="masterlocation" asp-area="HrisNew">
                        @*enctype="multipart/form-data"*@
                        <div class="row ">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="CreatedOn" />
                                <input type="hidden" asp-for="ModifiedBy" />
                                <input type="hidden" asp-for="ModifiedOn" />
                                <input type="hidden" asp-for="ApprovedBy" />
                                <input type="hidden" asp-for="ApprovedOn" />
                                <input type="hidden" asp-for="IsActive" />
                                <input type="hidden" asp-for="IsLocked" />
                                <input type="hidden" asp-for="IsDefault" />
                                <input type="hidden" asp-for="IsDeleted" />
                                <input type="hidden" asp-for="OwnerId" />
                                <input type="hidden" asp-for="DeletedBy" />
                                <input type="hidden" asp-for="DeletedOn" />
                                <input type="hidden" asp-for="BusinessUnitDivisionId" />
                                <input type="hidden" asp-for="BusinessUnitDepartementId" />

                                <input id="pac-input" class="inputtext" type="text" placeholder="Search Box">
                                <div id="map" style="height:300px;width:100%;"></div>
                                <br />
                                <div class="form-group m-form__group-sub">
                                    <label asp-for="LocationName"></label>  :
                                    @(Html.Kendo().TextBoxFor(m => m.LocationName)
                                        .HtmlAttributes(new
                                        {
                                            style = "width:100%",
                                            maxlength = 255,
                                            placeholder = $"Input type a {Html.DisplayNameFor(m => m.LocationName)}"
                                        }
                                        ))
                                </div>
                                <div class="form-group m-form__group-sub">
                                    <label asp-for="MapLat"></label>  :
                                    @(Html.Kendo().TextBoxFor(m => m.MapLat)
                                        .HtmlAttributes(new
                                        {
                                            style = "width:100%",
                                            maxlength = 255,
                                            placeholder = $"Input type a {Html.DisplayNameFor(m => m.MapLat)}",
                                            @readonly = "readonly"
                                        }
                                        ))
                                </div>
                                <div class="form-group m-form__group-sub">
                                    <label asp-for="MapLong"></label>  :
                                    @(Html.Kendo().TextBoxFor(m => m.MapLong)
                                        .HtmlAttributes(new
                                        {
                                            style = "width:100%",
                                            maxlength = 255,
                                            placeholder = $"Input type a {Html.DisplayNameFor(m => m.MapLong)}",
                                            @readonly = "readonly"
                                        }
                                        ))
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" id="btn-save" class="btn btn-primary">Save</button>
                                <a asp-action="index" asp-controller="masterlocation" asp-area="hrisnew" class="fakelink btn btn-secondary">Close</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var marker = null;
    var lng = @MapLong;
    var lat = @MapLat;

    $('#btn-save').click(function () {
        callAction({ formId: "formMasterLocation", title: "save", type: "POST" });
    });

    $(document).ready(function () {
        //if (navigator.geolocation) {
        //    navigator.geolocation.getCurrentPosition(showPosition);
        //}
        //window.setInterval(function () {
        //    navigator.geolocation.getCurrentPosition(showPosition);
        //}, 30000);

        if (lng == 0 && lat == 0) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    lat = position.coords.latitude;
                    lng = position.coords.longitude;
                    $('#MapLong').val(lng);
                    $('#MapLat').val(lat);
                    initMap();
                });
            }
        }
    });

    //function showPosition(position) {
    //    lat = position.coords.latitude;
    //    lng = position.coords.longitude;
    //    initMap();
    //}

    $('#LocationName').keypress(function (e) {
        if (e.which === 32 && this.value === '') {
            return false;
        }
    });

    $('#MapLat').keyup(function () {
        if (!this.value.match(/^(\d|-)+$/)) {
            this.value = this.value.replace(/[^0-9-.]/g, '');
        }
    });

    $('#MapLong').keyup(function () {
        if (!this.value.match(/^(\d|-)+$/)) {
            this.value = this.value.replace(/[^0-9-.]/g, '');
        }
    });

    function initMap() {
        var initLoc = { lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: initLoc,
            draggableCursor: 'default'
        });

        if (lng != 0) {
            marker = new google.maps.Marker({
                position: initLoc,
                map: map
            });
        }

        var service = new google.maps.places.PlacesService(map);
        google.maps.event.addListener(map, 'click', function (event) {
            $('#MapLong').val(event.latLng.lng());
            $('#MapLat').val(event.latLng.lat());

            var geocoder = new google.maps.Geocoder;
            var latlng = {lat: event.latLng.lat(), lng: event.latLng.lng()};

            geocoder.geocode({ 'location': latlng }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[1]) {

                        var request = {
                            placeId: results[1].place_id
                        };

                        service.getDetails(request, function (place, status) {
                            if (status == google.maps.places.PlacesServiceStatus.OK) {
                                //place.name + '</strong><br>' + 'Place ID: ' + place.place_id + '<br>' + place.formatted_address
                                //var placeName= $('#pac-input').val();
                                $('#LocationName').val(place.name);
                            }
                        });
                    }
                }
                else {
                    console.log('No results found');
                }
            });

            if (marker != null)
                marker.setMap(null);

            marker = new google.maps.Marker({
                position: event.latLng,
                map: map
            });
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn9iQ50S9zSglBZvuJhuhecsGkQdRbCdE&libraries=places&callback=initMap" async defer></script>