@{
    ViewBag.ModalTitle = "PettyCash";
    ViewBag.ModalId = "PettyCashModalUpdate";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="PettyCashFormUpdate" method="POST">
<input value="" type="hidden" name="id" />
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="petty_amount">Petty Amount</span> </label>
                <input class="md-input" name="petty_amount" id="petty_amount"   type="text">
            </div>            <div class="uk-form-row">
                                        <label for="petty_date"><span class="translate"  data-args="petty_date">Petty Date</span></label>
                                        <input class="md-input" type="text" name="petty_date" id="petty_date" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                                    </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_id">Task Id</span> </label>
                <input class="md-input" name="task_id" id="task_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="transfer_bank_accname">Transfer Bank Accname</span> </label>
                <input class="md-input" name="transfer_bank_accname" id="transfer_bank_accname"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="transfer_bank_accno">Transfer Bank Accno</span> </label>
                <input class="md-input" name="transfer_bank_accno" id="transfer_bank_accno"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="transfer_status_id">Transfer Status Id</span> </label>
                <input class="md-input" name="transfer_status_id" id="transfer_status_id"  maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="submit" class="md-btn md-btn-primary"><i class="uk-icon-save"></i> Save</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>