@{
    ViewBag.ModalTitle = "TaskComment";
    ViewBag.ModalId = "TaskCommentModalSearch";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="TaskCommentFormSearch" method="post">
    
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="comment">Comment</span></label>
                <input class="md-input" name="search_comment" id="search_comment"   maxlength="250" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="comment_date">Comment Date</span></label>
                <input class="md-input" name="search_comment_date" id="search_comment_date"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="file_id">File Id</span></label>
                <input class="md-input" name="search_file_id" id="search_file_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_id">Task Id</span></label>
                <input class="md-input" name="search_task_id" id="search_task_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="user_id">User Id</span></label>
                <input class="md-input" name="search_user_id" id="search_user_id"   maxlength="1" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="button" onclick="fnTaskComment.initsearch()" class="md-btn md-btn-primary"><i class="uk-icon-search"></i> Search</button>
        <button type="button" onclick="fnTaskComment.initsearch('reset')" class="md-btn md-btn-success"><i class="uk-icon-times-circle"></i> Reset</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>