﻿@{
    ViewData["Title"] = "Report-General Ledger";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Reports</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">General Ledger</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            Search Data
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="form-search">
                        <div class="row m-row--col-separator-xl">

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Transaction Number :</label>
                                    <input name="transaction_number" class="form-control form-control-sm m-input" />
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <label>Legal Entity :</label>
                                    <div class="input-group input-group-sm">
                                        <select id="legal_entity_id" name="legal_entity_id" class="form-control m-input m-input--square"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Account :</label>
                                    <div class="input-group input-group-sm">
                                        <select id="account_id" name="account_id" class="form-control m-select2" disabled="disabled" multiple></select>
                                    </div>
                                </div>
                                <div class="col-lg-12 row">
                                    <div class="col-lg-6 row">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <div class="input-group input-group-sm m-input-group--solid">
                                                <div class="input-group-append"><span class="input-group-text" id="basic-addon1">Debit:</span></div>
                                                <input type="text" name="debit" class="form-control m-input" placeholder="0.00">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 row">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <div class="input-group input-group-sm m-input-group--solid">
                                                <div class="input-group-append"><span class="input-group-text" id="basic-addon1">Credit:</span></div>
                                                <input type="text" name="credit" class="form-control m-input" placeholder="0.00">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12">
                                <button id="btn-view" type="button" class="btn btn-sm btn-primary">View</button>
                                <hr />
                            </div>

                        </div>
                    </form>
                    <table id="dt_basic_eui" style="height:auto"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/Areas/PhoenixReport/Scripts/GeneralLedger.Index.js?@DateTime.Now" asp-append-version="true"></script>
}
