@{
    ViewBag.ModalTitle = "QuotationVendor";
    ViewBag.ModalId = "QuotationVendorModalSearch";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="QuotationVendorFormSearch" method="post">
    
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="delivery_place">Delivery Place</span></label>
                <input class="md-input" name="search_delivery_place" id="search_delivery_place"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="delivery_time">Delivery Time</span></label>
                <input class="md-input" name="search_delivery_time" id="search_delivery_time"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="downpayment">Downpayment</span></label>
                <input class="md-input" name="search_downpayment" id="search_downpayment"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="expiry_date">Expiry Date</span></label>
                <input class="md-input" name="search_expiry_date" id="search_expiry_date"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="external_id">External Id</span></label>
                <input class="md-input" name="search_external_id" id="search_external_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="lead_time">Lead Time</span></label>
                <input class="md-input" name="search_lead_time" id="search_lead_time"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="noted">Noted</span></label>
                <input class="md-input" name="search_noted" id="search_noted"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="payment_id">Payment Id</span></label>
                <input class="md-input" name="search_payment_id" id="search_payment_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="pe_bidding_id">Pe Bidding Id</span></label>
                <input class="md-input" name="search_pe_bidding_id" id="search_pe_bidding_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="price">Price</span></label>
                <input class="md-input" name="search_price" id="search_price"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="qty">Qty</span></label>
                <input class="md-input" name="search_qty" id="search_qty"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="quotation_date">Quotation Date</span></label>
                <input class="md-input" name="search_quotation_date" id="search_quotation_date"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="rfq_number">Rfq Number</span></label>
                <input class="md-input" name="search_rfq_number" id="search_rfq_number"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_id">Task Id</span></label>
                <input class="md-input" name="search_task_id" id="search_task_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="transaction_type_id">Transaction Type Id</span></label>
                <input class="md-input" name="search_transaction_type_id" id="search_transaction_type_id"   maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="button" onclick="fnQuotationVendor.initsearch()" class="md-btn md-btn-primary"><i class="uk-icon-search"></i> Search</button>
        <button type="button" onclick="fnQuotationVendor.initsearch('reset')" class="md-btn md-btn-success"><i class="uk-icon-times-circle"></i> Reset</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>