@{
    ViewData["Title"] = "Mother Pca";
    Layout = "~/Views/Shared/metronic/_formpanelloader.cshtml";
}
@section Panelhead{
    <a href="@Url.Content("~/Projectmanagement/MotherPca/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
}

@section Paneltools{
    <a  data-target="#MotherPcaModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>
}
@section Panelbody{
    <table class="table table-striped table-bordered table-hover table-checkable" id="MotherPcaList"></table>
    @Html.Partial("MotherPca/Search")
}
@section Panelscript{
    <script src="~/assets/js/Areas/ProjectManagement/Form/MotherPca/index.js"></script>
}
