﻿@{
    ViewData["Title"] = "F19 Diageo PCE";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />


<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">F19 Diageo PCE</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/F19DiageoPCE")" class="m-nav__link">
                        <span class="m-nav__link-text">F19 Diageo PCE List</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a href="@Url.Content("~/Finance/F19DiageoPCE/Detail/")" class="m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text input-group-sm"><i class="la la-search"></i></span></div>
                                        <input autocomplete="off" type="text" name="q" class="form-control form-control-sm m-input searchbox" placeholder="Search">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon"
                                   aria-describedby="tooltip_d4ny9s36oh">
                                    <i class="la la-expand"></i>
                                </a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top"
                                     role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true"
                                     x-placement="top" style="position: absolute; will-change: transform;
                                        visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">
                                    <div class="tooltip-arrow arrow" style="left: 48px;"></div>
                                    <div class="tooltip-inner">Fullscreen</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.F19DiageoPCE.F19DiageoPCEList>()
                                                                                .Name("grid")
                                                                                .Columns(columns =>
                                                                                {
                                                                                    columns.Bound("").ClientTemplate("#= renderNumber(data) #").Title("No").Width(50);
                                                                                    columns.Bound(p => p.Month).Width(200).Format("{0:dd/MM/yyyy}");
                                                                                    columns.Bound(p => p.Nature).Width(200);
                                                                                    columns.Bound(p => p.PENumber).Width(200);
                                                                                    columns.Bound(p => p.Status).Width(200);
                                                                                    columns.Bound(p => p.Brand).Width(200);
                                                                                    columns.Bound(p => p.PIC).Width(200);
                                                                                    columns.Bound(p => p.BudgetOwner).Width(200);
                                                                                    columns.Bound(p => p.CoreActivityDescription).Width(200);
                                                                                    columns.Bound(p => p.Description).Width(200);
                                                                                    columns.Bound(p => p.Total).Width(200).Format("{0:n2}");
                                                                                    columns.Bound(p => p.ASF).Width(200).Format("{0:n2}");
                                                                                    columns.Bound(p => p.VAT).Width(200).Format("{0:n2}");
                                                                                    columns.Bound(p => p.GrandTotalIDR).Width(200).Format("{0:n2}");
                                                                                    columns.Bound(p => p.GrandTotalUSD).Width(200).Format("{0:n2}");
                                                                                    columns.Command(command =>
                                                                                    {
                                                                                        command.Custom("").TemplateId("btnAction-template");
                                                                                    }).Title("Action").HtmlAttributes(new { style = "text-align:center;" })
                                                                                    .HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                                                })
                                                                                .Pageable(pageable => pageable
                                                                                    .Refresh(true)
                                                                                    .PageSizes(true)
                                                                                    .ButtonCount(5))
                                                                                .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                                                .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                                                                    .Extra(false)
                                                                                    .Operators(operators => operators
                                                                                    .ForString(str => str.Clear()
                                                                                        .Contains("Contains")
                                                                                        .StartsWith("Start sWith")
                                                                                        .EndsWith("End sWith")
                                                                                    )))
                                                                                .Scrollable(s => s.Enabled(true).Height("auto"))
                                                                                .Resizable(rsz => rsz.Columns(true))
                                                                                .DataSource(dataSource => dataSource
                                                                                    .Ajax()
                                                                                    .PageSize(10)
                                                                                    .Events(events => events.Error("errorHandler"))
                                                                                    .Model(model => { model.Id(p => p.Id); })
                                                                                    .Read(read => read.Action("Read", "F19DiageoPCE"))
                                                                                )
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<script id="btnAction-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'><span style='color:green'><i class='fa fa-edit'></i></span></a>
    <a href='javascript: void(0);' onclick='deleteGridRow(this)' title='Delete' class='delete'><span style='color:maroon'><i class='fa fa-trash-alt'></i></span></a>
</script>
<script>
    var counter = 1;

    function onDataBound(e) {
        counter = 1;
    }

    function renderNumber(data) {
        return counter++;
    }
    var param = (function (param) {
        param.editUrl = '@Url.Action("Detail", "F19DiageoPCE")?Id=';
        param.deleteUrl = '@Url.Action("Delete", "F19DiageoPCE")';
        return param;
    })(param || {});
</script>
<script src="~/Areas/Finance/Scripts/F19DiageoPCE/F19DiageoPCE.Index.js" asp-append-version="true"></script>