@{
    ViewBag.ModalTitle = "New Employee Checklist";
    ViewBag.ModalId = "NewEmployeeChecklistModalDetail";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="NewEmployeeChecklistModalFormDetail" name="NewEmployeeChecklistModalFormDetail" method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label><span class="translate" data-args="Checklist Category">Checklist Category</span> :</label>
                <select name="checklist_category" id="checklist_category"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label><span class="translate" data-args="Checklist Item">Checklist Item</span> :</label>
                <input type="text" name="checklist_item" id="checklist_item" class="md-input form-control form-control-sm m-input m-input--square">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label><span class="translate" data-args="Description">Description</span> :</label>
                <input type="text" name="desc" id="desc" class="md-input form-control form-control-sm m-input m-input--square" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label><span class="translate" data-args="When to Alert">When to Alert</span> :</label>
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" id="when_to_alert" name="when_to_alert">
                    <span class="input-group-btn">
                        <button class="btn default" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr />   
    <div class="row">
        <div class="col-lg-12">
            <button type="button" id="btn-save" class="btn btn-primary" onclick="CheckAndAddRow($('#checklist_category').val(),$('#checklist_category option:selected' ).text(),$('#checklist_item').val(),$('#desc').val(),$('#when_to_alert').val())">Save</button>
            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>
    </div>
</form>