@{
    ViewData["Title"] = "New Employee From Applicant";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    @*<a href="@Url.Content("~/Hris/ApplicantDetail/PersonalInfo")" class=" m-btn btn btn-primary btn-sm m-btn--sm">Detail</a>*@
}

@section Paneltools{
    @*<a  data-target="#ApplicantProgressModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>*@
}
@section Panelbody{
    <style>
        .m-margin__top-15 {
            margin-top: 15px !important;
        }

        .redtext {
            color: red !important;
        }

        .bluetext {
            color: blue !important;
        }
    </style>
    <legend>New Employee From Applicant</legend>
    <hr />
    <form id="NewEmployeeFormNewApplicant" name="NewEmployeeFormNewApplicant" method="post">
        <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
        <input type="hidden" name="candicate_recruitment_id" id="candicate_recruitment_id" />
        <div class="row">
            <div class="col-lg-4">
                <select name="candicate_recruitment_name" id="candicate_recruitment_name" class="form-control form-control-sm m-input m-input--square"></select>
            </div>
        </div>
        <br />
        <br />
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#PersonalInfo" role="tab" data-toggle="tab">Personal Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#JobInformation" role="tab" data-toggle="tab">Job Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#employee_checklist" role="tab" data-toggle="tab">Employee Checklist</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="PersonalInfo">
                <legend>Personal Info</legend>
                <hr />
                @*<form id="NewEmployeeFormPersonalInfo" name="NewEmployeeFormPersonalInfo" method="post">*@

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="First Name">First Name</span> :</label>
                            <input type="text" class="form-control" name="first_name" id="first_name" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Last Name">Last Name</span> :</label>
                            <input type="text" class="form-control" name="last_name" id="last_name" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Nick Name">Nick Name</span> :</label>
                            <input type="text" class="form-control" name="nick_name" id="nick_name" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Gender">Gender</span> :</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="gender" id="gender" value="male" /> Male
                            <input type="radio" name="gender" id="gender" value="female" /> Female
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Birth Place">Birth Place</span> :</label>
                            <input type="text" class="form-control" name="birth_place" id="birth_place" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="date_birth">Date of Birth*</label>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" data-date-format="yyyy-mm-dd" id="date_birth" name="date_birth">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Last Education">Last Education</span> :</label>
                            <select class="form-control" name="last_education" id="last_education">
                                <option value="S1">S1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Year Experience">Year Experience</span> :</label>
                            <input type="text" class="form-control" name="year_experience" id="year_experience">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Mobile Phone">Mobile Phone</span> :</label>
                            <input type="text" class="form-control" name="phone_number" id="phone_number" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label><span class="translate" data-args="Email">Email</span> :</label>
                                <input type="text" class="form-control" name="email" id="email" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Willing Work With Alcohol Brand">Willing Work With Alcohol Brand</span> :</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="alcohol_willing" id="alcohol_willing" value="true" /> Yes
                            <input type="radio" name="alcohol_willing" id="alcohol_willing" value="false" /> No
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label><span class="translate" data-args="Souce">Source</span> :</label>
                                <select type="text" class="form-control" name="source" id="source">
                                    <option value="Jobs DB">Jobs DB</option>
                                    <option value="Likedin">Likedin</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Adress">Adress</span> :</label>
                            <textarea name="address" id="address" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label><span class="translate" data-args="CV/Resume">CV/Resume</span> :</label>
                                <input type="text" class="form-control" name="cv" id="cv" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Willing Work With Alcohol Brand">Willing Work With Cigarete Brand</span> :</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="cigaret_willing" id="cigaret_willing" value="true" /> Yes
                            <input type="radio" name="cigaret_willing" id="cigaret_willing" value="false" /> No
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><span class="translate" data-args="Photo">Photo</span> :</label>
                            <input type="text" class="form-control" name="photo" id="photo" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label><span class="translate" data-args="Portfolio">Portfolio</span> :</label>
                                <input type="text" class="form-control" name="portfolio" id="portfolio" />
                            </div>
                        </div>
                    </div>

                </div>
                @*</form>*@
            </div>

            <div role="tabpanel" class="tab-pane fade" id="JobInformation">
                <legend>Job Information</legend>
                <hr />
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Start Date">Start Date*</label>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" data-date-format="yyyy-mm-dd" id="start_date" name="start_date">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label><span class="translate" data-args="Location">Location</span> :</label>
                            <select class="form-control" name="location_id" id="location_id"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label><span class="translate" data-args="Job Title">Job Title</span> :</label>
                            <select class="form-control" name="business_unit_job_level_id" id="business_unit_job_level_id"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label><span class="translate" data-args="Division">Division</span> :</label>
                            <input class="form-control" name="business_unit_division_id" id="business_unit_division_id" type="hidden" />
                            <input class="form-control" name="business_unit_division_id" id="business_unit_division_name" type="text" readonly />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label><span class="translate" data-args="Departement">Departement</span> :</label>
                            <input class="form-control" name="business_unit_departement_id" id="business_unit_departement_id" type="hidden">
                            <input class="form-control" name="business_unit_departement_id" id="business_unit_departement_name" type="text" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label><span class="translate" data-args="Legal Entity">Legal Entity</span> :</label>
                            <select class="form-control" name="legal_entity_id" id="legal_entity_id"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label><span class="translate" data-args="Report to">Report to</span> :</label>
                            <input class="form-control" name="job_title_id" id="job_title_id" type="hidden" />
                            <input class="form-control" name="job_grade_id" id="job_grade_id" type="hidden" />
                            <input class="form-control" name="job_level_id" id="job_level_id" type="hidden" />
                            <input class="form-control" name="parent_id" id="parent_id" type="hidden" />
                            <input class="form-control" name="parent_name" id="parent_name" type="text" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="employee_checklist">
                <legend>Employee Checklist</legend>
                <hr />
                <div class="row m-row--col-separator-xl">
                    <div class="col-sm-11"></div>
                    <div class="col-sm-1"> <a data-toggle="modal" data-target="#NewEmployeeChecklistModalDetail" class="fakelink  m-btn btn btn-primary btn-sm m-btn--sm" onclick="clearModal()"><i class="la la-plus"></i>Add</a></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <span id="tmpNewEmployeeChecklist"></span>
                        <!-- begin: Datatable -->
                        <table class="table table-striped- table-bordered table-hover table-checkable"
                               id="dt_employee_checklist">
                            <thead>
                                <tr>
                                    <th>Checklist Category</th>
                                    <th>Checklist Item</th>
                                    <th>Description</th>
                                    <th>When to Alert</th>
                                    <th><center>Action</center></th>
                                </tr>
                            </thead>
                            <tbody><tr id='no_data'><td colspan="4">No Data</td></tr></tbody>
                        </table>
                        <!-- end:: Datatable -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
                <a href="~/Hris/Applicant/TrackingNewApplicant/@ViewBag.RecordID" class=" btn btn-secondary">Close</a>
            </div>

        </div>
    </form>
    @Html.Partial("NewEmployee/Detail");

}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/NewEmployee.js"></script>
}
