@{
    ViewBag.ModalTitle = "Position";
    ViewBag.ModalId = "PositionModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="PositionFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="central_resource_id">central_resource_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_central_resource_id" id="search_central_resource_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="head">head</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_head" id="search_head"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="level_position_id">level_position_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_level_position_id" id="search_level_position_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="position_name">position_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_position_name" id="search_position_name"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnPosition.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnPosition.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>