﻿@{
    ViewData["Title"] = "Home Page";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Home</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="fa fa-home fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Home</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="m-portlet m-portlet--skin-dark m-portlet--bordered-semi">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="flaticon-home"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        ERP Phoenix
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            Welcome <b>Admin</b>, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--bordered-semi">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="flaticon-feed"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Need Approval
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div id="divListAllApproval"></div>
            @*<table class="table table-striped- table-bordered table-hover table-checkable">
                <thead><tr><th><b>MENU</b></th></tr></thead>
                <tbody>
                    <tr>
                        <td>
                            <select id="ddlMenu" class="form-control form-control-sm" style="width:100%"></select>
                        </td>
                    </tr>
                </tbody>
            </table>*@
        </div>
    </div>
</div>

@section Scripts{
    @*<script src="~/approval/gmApproval.js" asp-append-version="true"></script>*@
}
