
@{
    ViewBag.ModalTitle = "User";
    ViewBag.ModalId = "EditUser";
    Layout = "~/Views/Shared/metronic/_ModalLarge.cshtml";
}
<form id="EditUserForm" method="post">

    <input value="" type="hidden" name="sub_task_id" id="sub_task_id" />
    <table class="table table-striped table-bordered table-hover table-checkable" id="TeamusersPickList">
        <thead><tr><th>User Name</th><th>Email</th><th>As</th><th>#</th></tr></thead>
        <tbody></tbody>
    </table>
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <button type="button" id="taskclose" class="btn btn-secondary" data-dismiss="modal">Close</a>
        </div>
    </div>
</form>
 
