
@{
    ViewBag.ModalTitle = "User List";
    ViewBag.ModalId = "UserList";
    Layout = "~/Views/Shared/metronic/_ModalLarge.cshtml";
}


<table class="table table-striped table-bordered table-hover table-checkable" id="TeamusersList">
    <thead><tr><th>User Name</th><th>Email</th><th>As</th></tr></thead>
    <tbody></tbody>
</table>

