@{
    ViewData["Title"] = "Job";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}

@section Panelhead{

}

@section Paneltools{

}
@section Panelbody{

<div class="row">
 
    <div class="col-lg-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <select class="form-control" id="search_id">
                    <option value="Search_client_brief_id">Cient Brief</option>
                    <option value="Search_job_name">Job Name</option>
                    <option value="Search_job_number">Job Number</option>
                    <option value="Search_brand_name">Brand</option>

                </select>
            </div>
            <input type="text" id="search_val" class="form-control" placeholder="Search for...">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button" onclick="fnJob.initsearch()">
                    Go!
                </button>
            </div>
        </div>
    </div>
</div>
    


    <table class="table table-striped table-bordered table-hover table-checkable" id="JobList"></table>
}
@section Panelscript{
    <script src="~/assets/js/Areas/ProjectManagement/Form/Job/index.js"></script>
    }

