<div class="row m-row--col-separator-xl">
    <div class="col-lg-12">
        <style>
            .tabdetiljob td {
                vertical-align: top;
            }

            .crlist li {
                list-style-type: none;
            }
        </style>
        <table class="tabdetiljob">
            <tr>
                <td>Client Brief</td>
                <td>:</td>
                <td>
                    <div class="uk-grid">
                        <div class="uk-width-medium-5-10 uk-row-first">
                            @*<a id="clientbrieflink" href="~/ProjectManagement/clientbrief" class="fakelink">view</a>*@
                            <a id="clientbrieflink" href="" class="fakelink">view</a>
                        </div>
                    </div>
                </td>
            </tr>



            @*<tr>
            <td>Division</td>
            <td>:</td>
            <td>
                <div id="centralresourcelist" class="crlist" style="margin-left:10px">-</div>
            </td>
        </tr>*@

            <tr>
                <td>Affiliation Name</td>
                <td>:</td>
                <td>
                    <span id="affiliation"></span>
                </td>
            </tr>
            <tr>
                <td>Business Unit</td>
                <td>:</td>
                <td>
                    <span id="bussinessunit"></span>
                </td>
            </tr>
            <tr>
                <td>Departement</td>
                <td>:</td>
                <td>
                    <span id="departement"></span>
                </td>
            </tr>


            <tr class="space-td-large">
                <td>Production Cost Analysis<br /></td>
                <td>:</td>
                <td>
                    <span id="pcaview"></span>
                </td>
            </tr>
            <tr class="space-td">
                <td>Production Cost Estimate<br /></td>
                <td>:</td>
                <td><span id="pceview"></span></td>
            </tr>
            <tr>
                <td>Cash Advance</td>
                <td>:</td>
                <td><span id="cash_advance"></span></td>
            </tr>
            <tr>
                <td>Date Start</td>
                <td>:</td>
                <td><span id="date_start"></span></td>
            </tr>
            <tr>
                <td>Job Location</td>
                <td>:</td>
                <td><span id="job_location"></span></td>
            </tr>
            @*<tr class="space-td-small">
            <td>Final Delivery</td>
            <td>:</td>
            <td><span id="final_delivery"></span></td>
        </tr>*@
            <tr>
                <td>Job Status</td>
                <td>:</td>
                <td><span id="status_name"></span></td>
            </tr>
            <tr>
                <td>Job Card </td>
                <td>:</td>
                <td><span id="job_card"></span></td>
            </tr>
            <tr>
                <td>Team Member</td>
                <td>:</td>
                <td>
                    <table class="table table-striped table-bordered table-hover table-checkable" id="TeamusersList" width="100%">
                        <thead><tr><th>User Name</th><th>Email</th><th>As</th></tr></thead>
                        <tbody><tr><td colspan="3" align="center"><strong>No Data!</strong></td></tr></tbody>
                    </table>
                </td>
            </tr>

        </table>
    </div>
</div>