@{
    ViewBag.ModalTitle = "Competence";
    ViewBag.ModalId = "CompetenceModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="CompetenceFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="competence_name">competence_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_competence_name" id="search_competence_name"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="level1">level1</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_level1" id="search_level1"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="level2">level2</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_level2" id="search_level2"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="level3">level3</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_level3" id="search_level3"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="level4">level4</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_level4" id="search_level4"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="level5">level5</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_level5" id="search_level5"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnCompetence.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnCompetence.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>