@{
    ViewData["Title"] = "StatusTax";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="StatusTaxFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="master_tax_id">master_tax_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="master_tax_id" id="master_tax_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="tax_status">tax_status</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="tax_status" id="tax_status"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/StatusTax" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/StatusTax.update.js"></script>
}
