﻿
<div class="uk-modal" id="ModalApproveName" style="background:none;">
    <div class="uk-modal-dialog" style="width: 250px;margin-left:auto;margin-right:190px;">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Approval Hierarchy</h3>
        </div>
        <div class="uk-modal-content">
            <input type="text" name="search_name" id="search_name" style="width:80%" />&nbsp;&nbsp;<span class="uk-icon-plus-circle" data-uk-modal="{ center:true, target:'#ModalSearchUserApproval',modal: false }"></span>
            <div id="approval"></div>
        </div>
        <div class="uk-modal-footer">
            <button class="uk-button" onclick="addApprovalUser()">Add</button>
        </div>
    </div>
</div>