@{
    ViewBag.ModalTitle = "Task";
    ViewBag.ModalId = "TaskModalSearch";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="TaskFormSearch" method="post">
    
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="central_resources_id">Central Resources Id</span></label>
                <input class="md-input" name="search_central_resources_id" id="search_central_resources_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="deadline_task">Deadline Task</span></label>
                <input class="md-input" name="search_deadline_task" id="search_deadline_task"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="description">Description</span></label>
                <input class="md-input" name="search_description" id="search_description"   maxlength="250" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_number">Job Number</span></label>
                <input class="md-input" name="search_job_number" id="search_job_number"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_posting_requisition_id">Job Posting Requisition Id</span></label>
                <input class="md-input" name="search_job_posting_requisition_id" id="search_job_posting_requisition_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="start_task">Start Task</span></label>
                <input class="md-input" name="search_start_task" id="search_start_task"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_name">Task Name</span></label>
                <input class="md-input" name="search_task_name" id="search_task_name"   maxlength="200" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_priority_id">Task Priority Id</span></label>
                <input class="md-input" name="search_task_priority_id" id="search_task_priority_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_status_id">Task Status Id</span></label>
                <input class="md-input" name="search_task_status_id" id="search_task_status_id"   maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="button" onclick="fnTask.initsearch()" class="md-btn md-btn-primary"><i class="uk-icon-search"></i> Search</button>
        <button type="button" onclick="fnTask.initsearch('reset')" class="md-btn md-btn-success"><i class="uk-icon-times-circle"></i> Reset</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>