﻿@model PhoenixERPWebApp.Models.Finance.Transaction.InventoryIn.InventoryInModel;
@{
    ViewData["Title"] = "Inventory In";
}
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<input hidden id="detail-id" value="@ViewBag.RecordID" />
<input hidden id="entity_id" value="@ViewBag.EntityID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Inventory In</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Inventory</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/Inventory/In")" class="m-nav__link">
                        <span class="m-nav__link-text">Inventory In</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body">

                    <div class="m-form__group">
                        <h5>Inventory In <span style="width: 100px;" id="status"></span></h5>

                        <!--begin::Form-->
                        <input hidden name="approval_id" />
                        <form id="form-financial_transaction" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input hidden name="id" value="@ViewBag.RecordID" />
                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>INV Number :</label>
                                        <select id="inv_number" name="inv_number" class="form-control form-control-sm m-input m-input--square"></select>
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>INV Reference :</label>
                                        @(Html.Kendo().DropDownListFor(m => m.InventoryGoodsReceiptid)
                                                                            .DataTextField("Text")
                                                                            .DataValueField("Value")
                                                                            .Filter(FilterType.Contains)
                                                                            .DataSource(source =>
                                                                            {
                                                                                source.Read(read =>
                                                                                {
                                                                                    read.Action("GetDDLInventoryGoodsReceipt", "Dropdown", new { area = "Finance" });
                                                                                });
                                                                            })
                                                                            .OptionLabel(new
                                                                            {
                                                                                Text = "Select Your Reference...",
                                                                                Value = 0
                                                                            })
                                                                            .Events(e =>
                                                                            {
                                                                                                        //e.Change("onSelectedTAP");
                                                                                                    })
                                                                            .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Job ID :</label>
                                        <input id="job_id" name="job_id" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Remark:</label>
                                        <textarea id="remark" name="remark" class="form-control form-control-sm"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>INV Date :</label>
                                        <div class="input-group input-group-sm date">
                                            <input type="text" class="form-control m-input marvel-datepicker" readonly placeholder="Select date" name="inv_date" id="inv_date" />
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Good Receive Date :</label>
                                        <div class="input-group input-group-sm date">
                                            <input type="text" class="form-control m-input marvel-datepicker" readonly placeholder="Select date" name="good_receive_date" id="good_receive_date" />
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Job Name :</label>
                                        <input id="job_name" name="job_name" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>To Warehouse Unit :</label>
                                        <div class="input-group input-group-sm">
                                            <select id="division_id" name="division_id" class="form-control m-input m-input--square"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Delivery Date :</label>
                                        <div class="input-group input-group-sm date">
                                            <input type="text" class="form-control m-input marvel-datepicker" readonly placeholder="Select date" name="delivery_date" id="delivery_date" />
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Status :</label>
                                        <div class="input-group input-group-sm">
                                            <select id="status" name="status" class="form-control m-input m-input--square"></select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <!--end::Form-->
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <a href="@Url.Content("~/Finance/AccountPayable/Detail/")" class="m-btn btn btn-primary btn-sm m-btn--sm">add<i class="la la-plus"></i></a>
                            <div id="gridDetail"></div>
                            <script type="text/x-kendo-template" id="grid_template">
                                <div class="grid-detail-marvel">
                                    <div class="col-lg-6">
                                        <div class="status-approval"></div>

                                    </div>

                                </div>
                            </script>
                        </div>
                    </div>

                    <hr />
                    @if (!string.IsNullOrEmpty(Model.Id))
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.Goo>()
                                                            .Name("AccountPayableDetailList")
                                                            .Columns(columns =>
                                                            {
                                                                columns.Bound(p => p.ItemName).Width(200);
                                                                columns.Bound(p => p.TaskDetail).Width(200);
                                                                columns.Bound(p => p.AmountPaid).Width(200).Format("{0:n2}");
                                                            })
                                                            .Events(ev => ev.DataBound("onDataBound"))
                                                            .Pageable(pageable => pageable
                                                                .Refresh(true)
                                                                .PageSizes(true)
                                                                .ButtonCount(5))
                                                            .Editable(x => x.Mode(GridEditMode.InCell))
                                                            .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                            .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                                                .Extra(false)
                                                                .Operators(operators => operators
                                                                .ForString(str => str.Clear()
                                                                    .Contains("Contains")
                                                                    .StartsWith("Start sWith")
                                                                    .EndsWith("End sWith")
                                                                )))
                                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                                            .Resizable(rsz => rsz.Columns(true))
                                                            .DataSource(dataSource => dataSource
                                                                .Ajax()
                                                                .PageSize(10)
                                                                .Events(events => events.Error("errorHandler"))
                                                                .Model(model => { model.Id(p => p.Id); })
                                                                .Read(read => read.Action("ReadDetail", "AccountPayable").Data("APDetailParam"))
                                                            )
                                )
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.AccountPayableDetailList>()
                                                    .Name("AccountPayableDetailList")
                                                    .Columns(columns =>
                                                    {
                                                        columns.Bound(p => p.ItemName).Width(200);
                                                        columns.Bound(p => p.TaskDetail).Width(200);
                                                        columns.Bound(p => p.AmountPaid).Width(200).Format("{0:n2}");
                                                    })
                                                    .Events(ev => ev.DataBound("onDataBound"))
                                                    .Pageable(pageable => pageable
                                                        .Refresh(true)
                                                        .PageSizes(true)
                                                        .ButtonCount(5))
                                                    .Editable(x => x.Mode(GridEditMode.InCell))
                                                    .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                    .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                                        .Extra(false)
                                                        .Operators(operators => operators
                                                        .ForString(str => str.Clear()
                                                            .Contains("Contains")
                                                            .StartsWith("Start sWith")
                                                            .EndsWith("End sWith")
                                                        )))
                                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                                    .Resizable(rsz => rsz.Columns(true))
                                                    .DataSource(dataSource => dataSource
                                                        .Ajax()
                                                        .PageSize(10)
                                                        .Events(events => events.Error("errorHandler"))
                                                        .Model(model => { model.Id(p => p.Id); })
                                                        .Read(read => read.Action("ReadDetail", "AccountPayable").Data("APDetailParam"))
                                                    )
                                )
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-lg-12 pull-right">
                            <span class="pull-right">
                                <button type="button" id="btn-save" class="btn btn-sm btn-success"><i class="la-save"></i>Save</button>
                                <button type="button" id="btn-submit" class="btn btn-sm btn-primary" disabled="disabled">Submit</button>
                                <a href="@Url.Content("~/Finance/AccountPayable")" class="fakelink btn btn-sm btn-secondary">Cancel</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function APDetailParam() {
        return { referenceId: $("#REF").val() };//$("#REF").data("kendoDropDownList").value();
    }
    var counter = 1;
    function onDataBound(e) {
        counter = 1;
    }
    $('#AccountPayableDetailList').data("kendoGrid").dataSource.read();
</script>