@{
    ViewBag.ModalTitle = "EmployeeExperience";
    ViewBag.ModalId = "EmployeeExperienceModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="EmployeeExperienceFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="address">address</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_address" id="search_address"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_employee_basic_info_id" id="search_employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="end_date">end_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_end_date" id="search_end_date"  maxlength="100" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="legal_entity_id">legal_entity_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_legal_entity_id" id="search_legal_entity_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="phone">phone</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_phone" id="search_phone"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="position_id">position_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_position_id" id="search_position_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="start_date">start_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_start_date" id="search_start_date"  maxlength="100" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnEmployeeExperience.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnEmployeeExperience.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>