﻿@model PhoenixERPWebApp.Models.Finance.Transaction.FixedAsset.FixedAsset
@{
    ViewData["Title"] = " Master Fixed Asset";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}


<input hidden id="detail-id" value="@ViewBag.RecordID" />
<input hidden id="entity_id" value="@ViewBag.EntityID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            @*<h3 class="m-subheader__title m-subheader__title--separator"> Master Fixed Asset</h3>*@
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/FixedAsset")" class="m-nav__link">
                        <span class="m-nav__link-text"> Master Fixed Asset</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    Fixed Asset &nbsp;
                                    <span id="status"></span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <div class="m-form__group">

                        <!--begin::Form-->
                        @*<input hidden name="approval_id" />*@
                        <form id="formFixedAssets" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">

                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="ItemId" />
                            <input type="hidden" asp-for="ItemCategoryId" />
                            <input type="hidden" asp-for="ItemConditionId" />
                            <input type="hidden" asp-for="ItemGroupId" />
                            <input type="hidden" asp-for="ItemTypeId" />
                            <input type="hidden" asp-for="PurchaseOrderId" />
                            <input type="hidden" asp-for="AccountId" />
                            <input type="hidden" asp-for="OwnerId" />
                            <input type="hidden" asp-for="GoodReceiptId" />
                            <input type="hidden" asp-for="GoodReceiptDetailId" />
                            <input type="hidden" asp-for="CurrencyId" />
                            <input type="hidden" asp-for="Description" />
                            <input type="hidden" asp-for="FixedAssetNumber" />
                            <input type="hidden" asp-for="ExchangeRate" />
                            <input type="hidden" asp-for="CreatedBy" />
                            <input type="hidden" asp-for="CreatedOn" />
                            <input type="hidden" asp-for="GrossValue" />
                            <input type="hidden" asp-for="Residue" />
                            <input type="hidden" asp-for="Lifetime" />
                            <input type="hidden" asp-for="AcquisitionCost" />
                            <input type="hidden" asp-for="Rounding" />
                            <input type="hidden" asp-for="CoaIdAkumulasi" />
                            <input type="hidden" asp-for="CoaIdDepresiai" />

                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Good Receipt Number :</label>
                                        <input type="text" id="GRNumber" name="GRNumber" class="form-control form-control-sm" readonly />
                                        @*@(Html.Kendo().DropDownListFor(m => m.GoodReceiptId)
                        .DataTextField("Text")
                        .OptionLabel("Select Good Receipt Number...")
                        .DataValueField("Value")
                        .Filter(FilterType.Contains)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetDDLInventoryGoodsReceipt", "DropDown", new { area = "Finance" });
                            });
                        })
                        .Events(e =>
                        {
                            e.Change("onSelectGR");
                        })
                        .HtmlAttributes(new { style = "width:100%;", @class = "form-control form-control-sm" })
                    )*@
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Vendor Name :</label>
                                        <input type="text" id="VendorName" name="VendorName" class="form-control form-control-sm" readonly />
                                        @*@Html.Kendo().TextBoxFor(m => m.GoodReceiptId).HtmlAttributes(new { @class = "form-control form-control-sm", @required = "required" })*@
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Vendor Brand :</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" id="VendorBrand" name="VendorBrand" class="form-control form-control-sm" readonly />
                                            @*@Html.Kendo().TextBoxFor(m => m.GoodReceiptId).HtmlAttributes(new { @class = "form-control form-control-sm", @required = "required" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Legal Entity :</label>
                                        <div class="input-group input-group-sm">
                                            @Html.Kendo().TextBoxFor(m => m.LegalEntity).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", Placeholder = "Auto from movement status.." })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Division :</label>
                                        @Html.Kendo().TextBoxFor(m => m.BusinessUnit).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", Placeholder = "Auto from movement status.." })
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Affiliation :</label>
                                        @Html.Kendo().TextBoxFor(m => m.Affiliation).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", Placeholder = "Auto from movement status.." })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Fixed Asset Id :</label>
                                        @Html.Kendo().TextBoxFor(m => m.Id).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", style = "width:100%", Placeholder = "Auto Generated by System.." })
                                    </div>
                                </div>

                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Fixed Asset Name :</label>
                                        @Html.Kendo().TextBoxFor(m => m.FixedAssetName).HtmlAttributes(new { @class = "form-control form-control-sm", @required = "required" })
                                        <span class="k-invalid-msg" data-for="FixedAssetName"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Date Receipt :</label>
                                        @Html.Kendo().DatePickerFor(m => m.RegistrationDate).HtmlAttributes(new { style = "width:100%", @required = "required" })
                                        <span class="k-invalid-msg" data-for="RegistrationDate"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Manufacturer :</label>
                                        @Html.Kendo().TextBoxFor(m => m.Manufacture).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Brand :</label>
                                        @Html.Kendo().TextBoxFor(m => m.Brand).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Model :</label>
                                        @Html.Kendo().TextBoxFor(m => m.Model).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Product Number :</label>
                                        @Html.Kendo().TextBoxFor(m => m.ProductNumber).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>SKU Code :</label>
                                        @Html.Kendo().TextBoxFor(m => m.SkuCode).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Color :</label>
                                        <div class="input-group input-group-sm">
                                            @Html.Kendo().TextBoxFor(m => m.Color).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Qty :</label>
                                        @Html.Kendo().TextBoxFor(m => m.UnitCount).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Unit of Measure :</label>
                                        @Html.Kendo().TextBoxFor(m => m.Uom).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Gross Value :</label>
                                        @Html.Kendo().TextBoxFor(m => m.CurrentPrice).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Budget Code :</label>
                                        <input type="text" id="budget_code" name="budget_code" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                        <!--end::Form-->
                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-accordion m-accordion--bordered m-accordion--solid" id="status" role="tablist">
                                    <!--begin::Item-->
                                    <div class="m-accordion__item">
                                        <div class="m-accordion__item-head" role="tab" id="status_head" data-toggle="collapse" href="#status_body" aria-expanded="true">
                                            <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                            <span class="m-accordion__item-title">Current Postition Status</span>
                                            <span class="m-accordion__item-mode"></span>
                                        </div>
                                        <div class="m-accordion__item-body show" id="status_body" role="tabpanel" aria-labelledby="status_head" data-parent="#status" style="">
                                            <div class="m-accordion__item-content">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group ">
                                                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.FixedAssetMovement>()
                                                                        .Name("gridstatus")
                                                                        .ToolBar(x =>
                                                                        {
                                                                            x.Create().Text("Add Movement Status");
                                                                        })
                                                                        .Columns(columns =>
                                                                        {
                                                                            columns.Command(command =>
                                                                            {
                                                                                command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                                                //command.Destroy().Text(" ");
                                                                            }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                                            columns.Bound(p => p.Id).Width(200).Hidden();
                                                                            columns.Bound(p => p.FaaDateTime).EditorTemplateName("Date").Title("Date").Width(150).Format("{0: dd-MMM-yyyy}");
                                                                            columns.Bound(p => p.FromLocationID).ClientTemplate("#=LocationName#").EditorTemplateName("Finance/FixedAssetMovement/LocationProcurementDropDown").Title("Location").Width(200);
                                                                            columns.Bound(p => p.Condition).ClientTemplate("#=ConditionName#").EditorTemplateName("Finance/FixedAssetMovement/ConditionProcurementDropDown").Title("Condition").Width(200);
                                                                            columns.Bound(p => p.Employee).ClientTemplate("#=EmployeeName#").EditorTemplateName("Finance/FixedAssetMovement/Employee").Title("Employee").Width(200);
                                                                            columns.Bound(p => p.LegalEntityID).ClientTemplate("#=LegalEntityName#").EditorTemplateName("Finance/FixedAssetMovement/LegalEntity").Title("Legal Entity").Width(200);
                                                                            columns.Bound(p => p.BusinessUnitID).ClientTemplate("#=Division#").EditorTemplateName("Finance/FixedAssetMovement/Division").Title("Division").Width(100);
                                                                            columns.Bound(p => p.AffiliationID).ClientTemplate("#=AffiliationName#").EditorTemplateName("Finance/FixedAssetMovement/Affiliation").Title("Affiliation").Width(100).Hidden();
                                                                            columns.Bound(p => p.Remark).Width(200);
                                                                            columns.Bound(p => p.FixedAssetMovementStatusID).ClientTemplate("#=StatusName#").EditorTemplateName("Finance/FixedAssetMovement/Status").Title("Status").Width(100);
                                                                        })
                                                                        .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                        .DataSource(dataSource => dataSource
                                                                            .Ajax() 
                                                                            .Events(events => events.Error("errorHandler"))
                                                                            .Model(model =>
                                                                            {
                                                                                model.Id(p => p.Id);
                                                                                model.Field(p => p.Id).Editable(false);
                                                                            })
                                                                            .Read(read => read.Action("ReadFAStatus", "FixedAsset").Data("GetFixedAssetId"))
                                                                            .Create(create => create.Action("FAStatus_Create", "FixedAsset"))
                                                                            .Update(update => update.Action("FAStatus_Update", "FixedAsset"))
                                                                        //.Destroy(destroy => destroy.Action("FAStatus_Destoy", "FixedAsset"))
                                                                        )
                                                                        .Events(e => e.Save("SaveFAStatusList"))
                                                                        .NoRecords()
                                                                        .AutoBind(false)
                                                            )
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pull-right">
                                <a href="@Url.Content("~/Finance/FixedAsset")" class="fakelink btn btn-sm btn-secondary">Back</a>
                                <button type="button" id="btn-save" class="btn btn-sm btn-success"><i class="la-save"></i>Save</button>
                                @*<button type="button" id="btn-submit" class="btn btn-sm btn-primary">Submit</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function SaveFAStatusList(e) {

        //var Id = $("#Id").val();
        var Date = $("#FaaDateTime").val();
        var Location = $("#FromLocationID").data("kendoDropDownList").value();
        var LocationName = $("#FromLocationID").data("kendoDropDownList").text();
        var Condition = $("#Condition").data("kendoDropDownList").value();
        var ConditionName = $("#Condition").data("kendoDropDownList").text();
        var BusinessUnitID = $("#BusinessUnitID").data("kendoDropDownList").value();
        var Division = $("#BusinessUnitID").data("kendoDropDownList").text();
        var LegalEntityID = $("#LegalEntityID").data("kendoDropDownList").value();
        var LegalEntityName = $("#LegalEntityID").data("kendoDropDownList").text();
        var AffiliationID = $("#AffiliationID").data("kendoDropDownList").value();
        var AffiliationName = $("#AffiliationID").data("kendoDropDownList").text();
        var Remark = $("#Remark").val();
        var FixedAssetMovementStatusID = $("#FixedAssetMovementStatusID").data("kendoDropDownList").value();
        var StatusName = $("#FixedAssetMovementStatusID").data("kendoDropDownList").text();
        var Employee = $("#Employee").data("kendoDropDownList").value();
        var EmployeeName = $("#Employee").data("kendoDropDownList").text();

        //e.model.set("Id",Id);
        e.model.set("FaaDateTime", Date);
        e.model.set("FromLocationID", Location);
        e.model.set("Condition", Condition);
        e.model.set("BusinessUnitID", BusinessUnitID);
        e.model.set("LegalEntityID", LegalEntityID);
        e.model.set("AffiliationID", AffiliationID);
        e.model.set("LocationName", LocationName);
        e.model.set("ConditionName", ConditionName);
        e.model.set("Division", Division);
        e.model.set("LegalEntityName", LegalEntityName);
        e.model.set("AffiliationName", AffiliationName);
        e.model.set("Remark", Remark);
        e.model.set("FixedAssetMovementStatusID", FixedAssetMovementStatusID);
        e.model.set("Employee", Employee);
        e.model.set("EmployeeName", EmployeeName);
        e.model.set("StatusName", StatusName);

        //Set Header ####
        $("#LegalEntity").val(LegalEntityName);
        $("#BusinessUnit").val(Division);
        $("#Affiliation").val(AffiliationName);

    }

     function GetAffiliation(e) {
         console.log("GetAffiliation " + e.dataItem);
        if (e.dataItem) {
            var dataItem = e.dataItem;
            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAffiliation")',
                data: { buId: dataItem.Value },
                success: function (result) {
                    console.log(result);
                    if (result != null) {
                        $('#AffiliationID').data("kendoDropDownList").value(result.Id);
                    }
                    mApp.unblock("#m_blockui_list");
                },
                error: function (e, t, s) {
                    swal('Information', 'Ooops, something went wrong !', 'info');
                    mApp.unblock("#m_blockui_list");
                }
            }).then(setTimeout(function () {
                mApp.unblock("#m_blockui_list");
            }, 2e3));
        }
    } 


    function GetFixedAssetId() {
        return {
            faId: $("#Id").val()
        };
    }

    @*function onSelectGR() {
        console.log("onSelectGR");
        if ($("#GoodReceiptId").val() != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDataGR", "FixedAsset")',
                data: { grId: $("#GoodReceiptId").val() },
                success: function (data) {
                    console.log(data);
                    $("#VendorName").val(data.VendorName);
                    $("#VendorBrand").val(data.BrandName);
                    $("#LegalEntity").val(data.LegalEntityName);
                    $("#BusinessUnit").val(data.BusinessUnitName);
                    $("#PurchaseOrderId").val(data.PurchaseOrderId);
                    $("#Affiliation").data("kendoDropDownList").value(data.AffiliationID);                    
                }
            });
        }
        else
        {
            $("#VendorName").val("");
            $("#VendorBrand").val("");
            $("#LegalEntity").val("");
            $("#BusinessUnit").val("");
            $("#PurchaseOrderId").val("");
            $("#Affiliation").data("kendoDropDownList").value("");
        }
    };*@

    function loadGoodReceipt(){
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDataGR", "FixedAsset")',
            data: { grId: $("#GoodReceiptId").val() },
            success: function (data) {
                console.log(data);
                $("#GRNumber").val(data.GoodReceiptNumber);
                $("#VendorName").val(data.VendorName);
                $("#VendorBrand").val(data.BrandName);
            }
        });
    }

    //#################################################################################################################
    var param = (function (param) {
        param.saveUrl = "@Url.Action("Save", "FixedAsset")";
        return param;
    })(param || {});

    var pageFunction = (function (pageFunction) {
        pageFunction.init = function () {
            //initialize
        };
        pageFunction.save = function () {
            //alert("On Progress..")
            var validator = $("#formFixedAssets").kendoValidator().data("kendoValidator");
            if (validator.validate()) {
                var gridDetails = $("#gridstatus").data("kendoGrid");
                gridDetails.saveRow();
                var dataList = {
                    details: gridDetails.dataSource.data()
                };
                callAction({ formId: "formFixedAssets", title: "save", type: "POST", url: param.saveUrl, objects: dataList });
            } else {
                swal('Information', 'Please complete your form !', 'info');
            }
            //callAction({ formId: "formFixedAssets", title: "Save", type: "POST", url: param.saveUrl });
        };
        return pageFunction;
    })(pageFunction || {});

    $(document).ready(function () {
        console.log("Init Fixed Asset Detail...");
        console.log($("#Id").val());
        if ($('#Id').val() != null && $('#Id').val() != "") {
            loadGoodReceipt();
            //$("#GoodReceiptId").data("kendoDropDownList").readonly();
        };
        $("#btn-save").click(pageFunction.save);
        var gridinv = $("#gridstatus").data("kendoGrid");
        gridinv.dataSource.read();
        gridinv.refresh();      
    });
</script>