@{
    ViewData["Title"] = "BasicSalary";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="BasicSalaryFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id" id="employee_basic_info_id" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="end_date">end_date</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="end_date" id="end_date" required >
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="start_date">start_date</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="start_date" id="start_date" required  >
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="value">value</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="value" id="value" required  type="number">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/BasicSalary" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/BasicSalary.update.js"></script>
}
