@{
    ViewData["Title"] = "Training Registration (Payment Request)";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    <span class="translate" data-args="create">Training Registration (Payment Request)</span>
}

@section Paneltools{

}
@section Panelbody{
    <style>
        .m-margin__top-20 {
            margin-top: 20px !important;
        }

        .redtext {
            color: red !important;
        }

        .bluetext {
            color: blue !important;
        }

        .greentext {
            color: greenyellow !important;
        }
    </style>
    <legend>Training Registration</legend>
    <br />
    <h6>Request Information</h6>
    <hr />
    <form id="TrainingApprovalFormCreate" method="post">
        <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
        <input type="hidden" name="created_on" id="created_on" />
        <div class="row ">
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Training Name">Training Name</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" name="training_name" id="training_name">
                    <input type="hidden" name="training_id" id="training_id">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Type">Type</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" name="training_type" id="training_type">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Training Cost">Training Cost</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" name="training_cost_value" id="training_cost_value">
                    <input type="hidden" name="training_cost" id="training_cost">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Status Bonding">Status Bonding</span> :</label>
                    <br />
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="optyes" checked> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="optno"> No
                    </label>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Purpose Start Date">Purpose Start Date</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" name="purpose_start_date" id="purpose_start_date">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Purpose End Date">Purpose End Date</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" name="purpose_end_date" id="purpose_end_date">
                </div>
            </div>
            <div class="col-lg-3">
                &nbsp;
            </div>
            <div class="col-lg-3">
                &nbsp;
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-6">
                <div class="form-group">
                    <label><span class="translate" data-args="Venue">Venue</span> :</label>
                    <textarea class="form-control form-control-sm m-input m-input--square" cols="20" id="venue" name="venue"></textarea>
                </div>
            </div>
            <div class="col-lg-3">
                &nbsp;
            </div>
            <div class="col-lg-3">
                &nbsp;
            </div>

        </div>
        <br />
        <h6>Request Detail</h6>
        <hr />
  
        <div class="row ">
            <div class="col-lg-9">
                <div class="form-group">
                    <label><b><span class="translate" data-args="Participant">Participant</span></b></label>
                    <!-- begin: Datatable -->
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="dt_basic_job_posting" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Job Title</th>
                                <th>Grade</th>
                                <th>Division</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="no_data">
                                <td colspan="4">No Data</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end:: Datatable -->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-6">
                <div class="form-group">
                    <label><b><span class="translate" data-args="Notes">Notes</span> :</b></label>
                    <textarea class="form-control form-control-sm m-input m-input--square" name="notes" id="notes" cols="40"></textarea>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><b><span class="translate" data-args="Accomodation">Accomodation</span> :</b></label> <br />
                    <label><span>1. Transportation</span></label> <br />
                    <label><span>2. Hotel</span></label> <br />
                    <label><span>3. Lunch</span></label> <br />
                    <label><span>4. Comunication</span></label>
                </div>
            </div>

        </div>
        <br />
        <br />
        

        <hr />
        <div class="row">
            <div class="col-lg-8">
                &nbsp;
            </div>
            <div class="col-lg-4">
                <button type="button" id="btn-save" class="btn btn-success" onclick="SendtoFinance()">Submit to Finance</button>
                <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
                <a href="~/Hris/TrainingRequisition" class="fakelink btn btn-secondary">Cancel</a>

            </div>
        </div>
    </form>

}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/TrainingRequisition.getwithdetail.js"></script>
}
