@{
    ViewData["Title"] = "TrainingRequisition Update";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    <span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
    <legend>Training Request Update</legend>
    <br />
    <form id="TrainingRequisitionFormUpdate" method="post">
        <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
        <input  type="hidden" name="created_on" id="created_on" />
        <span id="tmpParticipant"></span>
        @*<input id="employee_basic_info_id" name="employee_basic_info_id" type="hidden" value="@CodeMarvel.Infrastructure.Sessions.SessionManager.UserSession.BusinessUnitId">*@
        <input type="hidden" class="form-control" id="employee_basic_info_idu" name="employee_basic_info_id" value="RE22387693640923400" />
        <div class="row ">
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="Search Training">Search Training</span> :</label>
                    <select class="form-control form-control-sm m-input m-input--square" name="training_id" id="training_idu"></select>
                </div>
            </div>
        </div>
        <br />
        <div class="row m-row--col-separator-xl">
            <div class="col-sm-11"></div>
            <div class="col-sm-1"> <a data-toggle="modal" data-target="#TrainingRequisitionChooseEmployee" class="fakelink  m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i>Add</a></div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <!-- begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable" id="dt_basic_job_posting" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Job Title</th>
                            <th>Grade</th>
                            <th>Division</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="no_data">
                            <td colspan="5">No Data</td>
                        </tr>
                    </tbody>
                </table>
                <!-- end:: Datatable -->
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="first_name">Start Date *</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" id="purpose_start_dateu" name="purpose_start_date">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="first_name">End Date*</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" id="purpose_end_dateu" name="purpose_end_date">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Venue">Venue</label>
                    <input type="text" class="form-control" id="venueu" name="venue" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="Venue">Note</label>
                    <textarea type="text" class="form-control" id="notesu   " name="notes" cols="15"></textarea>
                </div>
            </div>

        </div>
        <hr />
        <br />
        <br />
        <div class="row">
            <div class="col-lg-12 m-form__group-sub">
                <div class="form-group">
                    <label>
                        <h5>Approval</h5>
                    </label>
                    <div class="m-section__content">
                        <div class="m-demo" data-code-preview="true" data-code-html="true"
                             data-code-js="false">
                            <div class="m-demo__preview" id="Approval">
                                <h4>
                                    Associate HD Director
                                </h4>
                                <hr>
                                <h6 style="font-style: italic">Waiting Approval</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
                <a href="~/Hris/TrainingRequisition" class="fakelink btn btn-secondary">Close</a>
            </div>

        </div>
    </form>
    @Html.Partial("TrainingRequisition/Detail");
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/TrainingRequisition.update.js"></script>
}
