@{
    ViewData["Title"] = "ApplicationMenu";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="ApplicationMenuFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="action_url">action_url</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="action_url" id="action_url"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="application_menu_category_id">application_menu_category_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="application_menu_category_id" id="application_menu_category_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="application_menu_group_id">application_menu_group_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="application_menu_group_id" id="application_menu_group_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="menu_name">menu_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="menu_name" id="menu_name"  maxlength="400" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="organization_id">organization_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="organization_id" id="organization_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="parent_menu_id">parent_menu_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="parent_menu_id" id="parent_menu_id"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/General/ApplicationMenu" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/General/Form/ApplicationMenu.create.js"></script>
}
