@{
    ViewBag.ModalTitle = "ApplicationMenu";
    ViewBag.ModalId = "ApplicationMenuModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="ApplicationMenuFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="action_url">action_url</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_action_url" id="search_action_url"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="application_menu_category_id">application_menu_category_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_application_menu_category_id" id="search_application_menu_category_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="application_menu_group_id">application_menu_group_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_application_menu_group_id" id="search_application_menu_group_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="menu_name">menu_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_menu_name" id="search_menu_name"  maxlength="400" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="organization_id">organization_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_organization_id" id="search_organization_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="parent_menu_id">parent_menu_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_parent_menu_id" id="search_parent_menu_id"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnApplicationMenu.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnApplicationMenu.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>