@{
    ViewBag.ModalTitle = "RateCardCode";
    ViewBag.ModalId = "RateCardCodeModalSearch";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="RateCardCodeFormSearch" method="post">
    
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="code">Code</span></label>
                <input class="md-input" name="search_code" id="search_code"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="description">Description</span></label>
                <input class="md-input" name="search_description" id="search_description"   maxlength="250" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="button" onclick="fnRateCardCode.initsearch()" class="md-btn md-btn-primary"><i class="uk-icon-search"></i> Search</button>
        <button type="button" onclick="fnRateCardCode.initsearch('reset')" class="md-btn md-btn-success"><i class="uk-icon-times-circle"></i> Reset</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>