@{
    ViewData["Title"] = "Rate Card";
    Layout = "~/Views/Shared/metronic/_formpanelloader.cshtml";
}

@section Panelhead{

}

@section Paneltools{

}
@section Panelbody{
    <style>
        .xcount {
            text-align: right;
            direction: rtl;
            width:100%;
        }
        .xrght{
            width:20px;
            margin-top:6px!important;
        }
        .xrght i{

            padding-top: 10px !important;
        }
        .xtext {
            width: 100%;
        }
        .tblnopadding tbody tr td {
            padding: 0px !important;
        }
        .tblnopadding tfoot tr td {
            padding: 0px !important;
        }
        #tableTimesheetNonJob .xcategory {
            width:160px;
        }
        #tableTimesheetNonJob .select2-results__options li.select2-results__option{
            font-size: 10px !important;
        }
        .bigselect {
            width: 400px !important;
            font-size: 10px !important;
        }
        #tableTimesheetNonJob .select2-results__options {
            font-size: 10px !important;
        }
        #tableTimesheetNonJob .select2-selection__rendered {
            font-size: 10px !important;
            min-height:28px;
            padding-top:5px;padding-bottom:5px;
        }
        #tableTimesheetNonJob .select2-selection__clear{
            z-index:1000;
        }

    </style>
    <form action="#" method="post" id="TimesheetNonJobFormCreate">

        <div class="row m-row--col-separator-xl">

            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="name"></span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" required name="name" id="name" required maxlength="50" type="text">
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="Unit Group"></span> :</label>
                    <select id="business_unit_id" name="business_unit_id" style="width:100%"></select>
                </div>


            </div>
            <div class="col-lg-4">

                <div class="form-group">
                    <label><span class="translate" data-args="Start"></span> :</label>
                    <div class="input-group date form_datetime form_datetime bs-datetime">
                        <input type="text" size="16" name="start_date" id="start_date" data-date-format="yyyy-mm-dd" class="datepicker form-control form-control-sm ">
                        <span class="input-group-addon">
                            <button class="btn default date-set btn-sm" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="end"></span> :</label>
                    <div class="input-group date form_datetime form_datetime bs-datetime">
                        <input type="text" size="16" name="end_date" id="end_date" data-date-format="yyyy-mm-dd" class="datepicker form-control form-control-sm ">
                        <span class="input-group-addon">
                            <button class="btn default date-set btn-sm" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
                <div class="col-lg-4">


                    <div class="form-group">
                        <label><span class="translate" data-args="description"></span> :</label>
                        <textarea class="form-control form-control-sm m-input m-input--square" required name="description" id="description"></textarea>
                    </div>
                </div>

            </div><hr />
            <div style="height: auto;" id="showdetil" class="datagrid-toolbar">
                <a class="btn btn-outline-success m-btn m-btn--icon btn-sm m-btn--air fakelink" onclick="fnTimesheetNonJob.addtask()" href="javaascript:void(0)"><i class="fa fa-plus"></i> Add </a>
            </div>
            <table id="tableTimesheetNonJob" class="tblnopadding table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:90px"> </th>

                        <th >task </th>
                        <th>Category </th>
                    </tr>
                </thead>
                <tbody></tbody>

            </table>

            <hr />
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save </button>
            <a href="~/ProjectManagement/TimesheetNonJob" class="fakelink btn btn-secondary">Close</a>



</form>
 

}
@section Panelscript{

    <script src="~/assets/plugins/jquery.mask/jquery.mask.js"></script>
    <script src="~/assets/js/Areas/ProjectManagement/Form/TimesheetNonJob/create.js"></script>
}

