@{
    ViewBag.ModalTitle = "ClientFeedback";
    ViewBag.ModalId = "ClientFeedbackModalUpdate";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="ClientFeedbackFormUpdate" method="POST">
<input value="" type="hidden" name="id" />
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="approval_type_id">Approval Type Id</span> </label>
                <input class="md-input" name="approval_type_id" id="approval_type_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="client_feedback_file_id">Client Feedback File Id</span> </label>
                <input class="md-input" name="client_feedback_file_id" id="client_feedback_file_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_posting_requisition_id">Job Posting Requisition Id</span> </label>
                <input class="md-input" name="job_posting_requisition_id" id="job_posting_requisition_id"  maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="submit" class="md-btn md-btn-primary"><i class="uk-icon-save"></i> Save</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>