@{
    ViewData["Title"] = "ApprovalGroup";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="ApprovalGroupFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="group_name">group_name</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="group_name" id="group_name" required maxlength="400" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="organization_id">organization_id</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="organization_id" id="organization_id" required maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/General/ApprovalGroup" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/General/Form/ApprovalGroup.create.js"></script>
}
