@*@{
    ViewData["Title"] = "TrainingRequisition";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}*@
@{
    ViewBag.ModalTitle = "Choose Employee";
    ViewBag.ModalId = "TrainingRequisitionChooseEmployee";
    Layout = "~/Views/Shared/metronic/_ModalLarge.cshtml";
}

<form id="TrainingRequisitionFormChooseEmployee" method="post">
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Group">Group</span> :</label>
                <select id="group" name="group" class="form-control form-control-sm m-input m-input--square"></select>

                <span class="md-input-bar "></span>
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="Subgroup">Subgroup</span> :</label>
                <select id="subgroup" name="subgroup" class="form-control form-control-sm m-input m-input--square"></select>

                <span class="md-input-bar "></span>
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="Division">Division</span> :</label>
                <select id="division" name="division" class="form-control form-control-sm m-input m-input--square"></select>

                <span class="md-input-bar "></span>
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="Depaartement">Departement</span> :</label>
                <select id="departement" name="departement" class="form-control form-control-sm m-input m-input--square"></select>

                <span class="md-input-bar "></span>
            </div>
        </div>
        <div class="col-lg-9">
            <!-- begin: Datatable -->
            <table class="table table-striped table-bordered table-hover table-checkable" id="EmployeeList"></table>
            <!-- end:: Datatable -->
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>

    </div>
</form>
<script src="~/assets/js/Areas/Hris/Form/TrainingRequisition.detail.js"></script>
