﻿@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />
<link href="~/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" />
<style>
    .dataTables_wrapper .dataTables_paginate .pagination .page-item > .page-link {
        border: 1px solid #ddd;
        border-radius: 15px;
    }

    .pagination > .active, ul > .active {
        background-color: rgba(0,0,0,0.0);
    }
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Mapping Group & User </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-gear"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Settings</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Um/MappingGroupUser")" class="m-nav__link">
                        <span class="m-nav__link-text">Mapping Group & User </span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Add User To Group</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h5>Add User To Group </h5>&nbsp;<h5 id="hgroupname" style="color:#1481db"></h5>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <div class="row">
                        <input type="hidden" id="tbcari" class="form-control" placeholder="search employee name / nick name / job title / division in here " aria-label="search employee name / nick name / job title / division in here " aria-describedby="basic-addon2">
                        @*<div class="col-md-12">
            <div class="input-group mb-3">
                <input type="text" id="tbcari" class="form-control" placeholder="search employee name / nick name / job title / division in here " aria-label="search employee name / nick name / job title / division in here " aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="input-group-text" id="basic-addon2" type="button" style="cursor:pointer"><i class="fa fa-search"></i>&nbsp;&nbsp;Find Data Employee</button>
                </div>
            </div>
        </div>*@

                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover" id="dtd">
                                <thead>
                                    <tr>
                                        <th>#NO</th>
                                        <th>#EMPLOYEE NAME</th>
                                        <th>#NICK NAME</th>
                                        <th>#EMAIL</th>
                                        <th>#JOB TITLE</th>
                                        <th>#DIVISION</th>
                                        <th>#SELECT</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <div class="clearfix"></div>
                            <button class="btn md-btn-small btn-sm btn-primary btn-save" type="button">SAVE</button>
                            <button class="btn md-btn-small btn-sm btn-default btn-back" type="button">BACK</button>

                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>


        </div>
    </div>
</div>
@section Scripts{
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Um/Scripts/UserAppsToGroup.js" asp-append-version="true"></script>
}


