﻿@model PhoenixERPWebApp.Models.Finance.Transaction.FnCashAdvance.FnCashAdvanceDetail
@{
    ViewData["Title"] = "Cash Advance Detail";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Cash Advance</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="Index" asp-controller="FnCashAdvance" asp-area="Finance" class="m-nav__link"><span class="m-nav__link-text">Cash Advance</span></a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (string.IsNullOrEmpty(Model.Id))
                    {
                        <a asp-action="Detail" asp-controller="FnCashAdvance" asp-area="Finance" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else
                    {
                        <a asp-action="Detail" asp-controller="FnCashAdvance" asp-area="Finance" asp-route-Id="@Model.Id" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                @ViewBag.Header
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-form__group">
                        <form id="form-CashAdvance" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input type="hidden" asp-for="Id" />
                            <div class="row">

                                <div class="col-lg-4 m-form__group-sub">
                                    <div class="form-group">
                                        <label>CA Number :</label>
                                        @Html.Kendo().TextBoxFor(m => m.CANumber).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = true })
                                    </div>
                                </div>

                                <!-- Begin: CA Date -->
                                <div class="col-lg-4 m-form__group-sub">
                                    <label class="form-control-label">CA Date :</label>
                                    <div class="input-group input-group-sm date">
                                        @Html.Kendo().DatePickerFor(m => m.CADate).HtmlAttributes(new { @class = "m-input marvel-datepicker", style = "width:100%" })
                                    </div>
                                </div>
                                <!-- End: CA Date -->
                                <!-- Begin: Input Revision -->
                                <div class="col-lg-4 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Revision :</label>
                                        @Html.Kendo().TextBoxFor(m => m.Revision).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <!-- End: Input Revision -->
                            </div>

                            <!-- Begin: Requester -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Requester</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Requester Data -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <label class="form-control-label">Request Date :</label>
                                                        <div class="input-group input-group-sm date">
                                                            @Html.Kendo().DatePickerFor(m => m.Date).HtmlAttributes(new { @class = "m-input marvel-datepicker", style = "width:100%" })
                                                        </div>
                                                    </div>
                                                    <!-- End: Requester Date -->
                                                    <!-- Begin: Input Name Of Request -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">Name :</label>
                                                            <select id="employee_id" name="requested_by" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Name Of Request -->
                                                    <!-- Begin: Bussines Unit -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Business Unit :</label>
                                                            <select id="business_unit_id" name="business_unit_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Bussines Unit -->
                                                    <!-- Begin: Legal Entity -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Legal Entity :</label>
                                                            <select id="legal_entity_id" name="legal_entity_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Legal Entity -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Requester -->
                            <!-- Begin: Business Purposes -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Business Purposes</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Input Client Name -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">Client Name :</label>
                                                            @Html.Kendo().TextBoxFor(m => m.ClientName).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Client Name -->
                                                    <!-- Begin: Input Description -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">PO Vendor :</label>
                                                            @Html.Kendo().TextBoxFor(m => m.POVendor).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Client Name -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">PO Vendor :</label>
                                                            @Html.Kendo().TextBoxFor(m => m.JobNumber).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">PO Vendor :</label>
                                                            @Html.Kendo().TextBoxFor(m => m.ProjectActivity).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label class="">Project Area :</label>
                                                            @Html.Kendo().TextBoxFor(m => m.ProjectArea).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Business Purposes -->
                            <!-- Begin: Payee -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Payee</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: Input Account Number -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Account Number :</label>
                                                            @Html.Kendo().TextBoxFor(m => m.VendorName).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Account Number -->
                                                    <!-- Begin: Input Account Name -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Account Name :</label>
                                                            @Html.Kendo().TextBoxFor(m => m.AccountName).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                        </div>
                                                    </div>
                                                    <!-- End: Input Account Number -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Account Name :</label>
                                                            @Html.Kendo().TextBoxFor(m => m.AccountNumber).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                        </div>
                                                    </div>
                                                    <!-- Begin: Lookup Bank Name -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Bank Name :</label>
                                                            <select id="payee_bank_id" name="payee_bank_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                    </div>
                                                    <!-- End: Lookup Bank Name -->
                                                </div>
                                                <div class="row">

                                                    <!-- Begin: Lookup Bank Branch -->
                                                    <div class="col-lg-3 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label>Bank Branch :</label>
                                                            <input type="text" id="payee_bank_branch" name="payee_bank_branch" class="form-control form-control-sm m-input"
                                                                   placeholder="Enter Bank Branch">
                                                        </div>
                                                    </div>
                                                    <!-- End: Lookup Bank Branch -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Payee -->
                            <!-- Begin: Details -->
                            <div class="row">
                                <div class="col-lg-12 m-row--no-padding">
                                    <label><h5>Cash Advance Period</h5></label>
                                    <div class="m-section__content">
                                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                            <div class="m-demo__preview">
                                                <div class="row">
                                                    <!-- Begin: CA Period From -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <label class="form-control-label">CA Period From :</label>
                                                        <div class="input-group input-group-sm date">
                                                            @Html.Kendo().DatePickerFor(m => m.PeriodFrom).HtmlAttributes(new { @class = "m-input marvel-datepicker", style = "width:100%" })
                                                        </div>
                                                    </div>
                                                    <!-- End: CA Period From -->
                                                    <!-- Begin: CA Period To -->
                                                    <div class="col-lg-6 m-form__group-sub">
                                                        <label class="form-control-label">CA Period To :</label>
                                                        <div class="input-group input-group-sm date">
                                                            @Html.Kendo().DatePickerFor(m => m.PeriodTo).HtmlAttributes(new { @class = "m-input marvel-datepicker", style = "width:100%" })
                                                        </div>
                                                    </div>
                                                    <!-- End: CA Period To -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Details -->
                        </form>
                    </div>
                </div>
                <div class="form-group m-form__group row m-row--no-padding">
                    <div class="col-lg-12 m-row--no-padding" id="m_blockui_list">
                        @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.FnCashAdvance.FnCashAdvanceDetailList>()
                                    .Name("grid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound("").ClientTemplate("#= renderNumber(data) #").Title("#").Width(50);
                                        columns.Bound(p => p.TaskDetail).Width(200);
                                        columns.Bound(p => p.Quantity).Width(200);
                                        columns.Bound(p => p.UnitPrice).Width(200).Format("{0:n2}");
                                        columns.Bound(p => p.Amount).Width(200).Format("{0:n2}");
                                    })
                                    .Pageable(pageable => pageable
                                        .Refresh(true)
                                        .PageSizes(true)
                                        .ButtonCount(5))
                                    .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                    .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                        .Extra(false)
                                        .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Start sWith")
                                            .EndsWith("End sWith")
                                        )))
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(rsz => rsz.Columns(true))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .Events(events => events.Error("errorHandler"))
                                        .Model(model => { model.Id(p => p.Id); })
                                        .Read(read => read.Action("Read", "FnCashAdvance"))
                                    )
                        )
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" id="btn-save" class="btn btn-sm btn-success">Save</button>
                        <button type="button" id="btn-submit" class="btn btn-sm btn-primary" disabled="disabled">Submit</button>
                        <a asp-action="Index" asp-controller="FnCashAdvance" asp-area="Finance" class="fakelink btn btn-sm btn-secondary">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var counter = 1;

    function onDataBound(e) {
        counter = 1;
    }

    function renderNumber(data) {
        return counter++;
    }
    var param = (function (param) {
        return param;
    })(param || {});
</script>
<script src="~/Areas/Finance/Scripts/FnCashAdvance/FnCashAdvance.Detail.js" asp-append-version="true"></script>