@{
    ViewData["Title"] = "BussinesUnitJobLevel";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="BussinesUnitJobLevelFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="bussines_unit_id">bussines_unit_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="bussines_unit_id" id="bussines_unit_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="hrjob_grade_id">hrjob_grade_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="hrjob_grade_id" id="hrjob_grade_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="hrjob_level_id">hrjob_level_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="hrjob_level_id" id="hrjob_level_id"  maxlength="-1" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="parent_id">parent_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="parent_id" id="parent_id"  maxlength="255" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/BussinesUnitJobLevel" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/BussinesUnitJobLevel.update.js"></script>
}
