﻿@{
    ViewData["Title"] = "THR Setting";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    <span class="translate" data-args="create">Update</span>
}

@section Paneltools{

}
@section Panelbody{
    <form id="THRSettingFormUpdate" method="post">
        <input value="@ViewBag.RecordID" type="hidden" name="id" />
        <div class="row ">
            <div class="col-lg-12">

                <div class="form-group">
                    <label><span class="translate" data-args="Month Payroll">Month Payroll</span> :</label>
                    <select id="month_payroll" name="month_payroll" class="form-control form-control-sm m-input m-input--square">
                        <option value="Januari">Januari</option>
                        <option value="Februari">Februari</option>
                        <option value="Maret">Maret</option>
                        <option value="April">April</option>
                        <option value="Mei">Mei</option>
                        <option value="Juni">Juni</option>
                        <option value="Juli">Juli</option>
                        <option value="Agustus">Agustus</option>
                        <option value="September">September</option>
                        <option value="Oktober">Oktober</option>
                        <option value="November">November</option>
                        <option value="Desember">Desember</option>
                    </select>
                </div>

                <div class="form-group">
                    <label><span class="translate" data-args="year">Year</span> :</label>
                    <select id="year" name="year" class="form-control form-control-sm m-input m-input--square">
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                    </select>
                </div>

                <div class="form-group">
                    <label><span class="translate" data-args="description">Description</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" name="description" id="description" maxlength="2147483647" type="text">
                </div>



            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
                <a href="~/Hris/THRSetting" class="fakelink btn btn-secondary">Close</a>
            </div>

        </div>
    </form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/THRSetting.update.js"></script>
}
