﻿<div id="modalListGroup" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="max-width:95%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">LIST OF GROUP</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped- table-bordered table-hover table-checkable" id="dt_listGroup">
                    <thead>
                        <tr>
                            <th><b>#Group Name</b></th>
                            <th style="width:225px"><b>#Action</b></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
