﻿@{
    ViewData["Title"] = "One Drive Office 365";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />
<link href="~/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" />
<style>
    .dataTables_wrapper .dataTables_paginate .pagination .page-item > .page-link {
        border: 1px solid #ddd;
        border-radius: 15px;
    }

    .pagination > .active, ul > .active {
        background-color: rgba(0,0,0,0.0);
    }
    .dataTables_wrapper {
        width:100%
    }
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Otlook Email</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-gear"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Setting</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Um/mapfod")" class="m-nav__link">
                        <span class="m-nav__link-text">List Of Drive Item</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Mapping Folder</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <h3 class="h-title">NEW MESSAGE</h3>
                    </div>
                    <div class="m-portlet__head-tools">
                        <button class="btn btn-sm btn-info btn-open-listGroup"><i class="la la-group"></i> ADD GROUP</button>
                        <button class="btn btn-sm btn-default btn-open-listUser"><i class="la la-user"></i> ADD USER</button>

                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">
                                    <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="dt_mapping">
                        <thead>
                            <tr>
                                <th><b>#Name</b></th>
                                <th><b>#Type</b></th>
                                <th style="width:225px"><b>#Action</b></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ListUser" />
<partial name="_ListGroup" />
@section Scripts{
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Um/Scripts/manage.fod.js" asp-append-version="true"></script>

    <script>
        $(function () {
            bindMappingItem();
            $('.btn-open-listUser').on('click', function () { openPopupListUser(); });
            $('.btn-open-listGroup').on('click', function () { openPopupListGroup(); });
        });

    </script>

}


