﻿@model PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClient
<style>
    .modallargewidthOther {
        width: 50%;
        max-width: 1200px;
    }

    .has-danger label:not([class]) {
        color: #f4516c;
    }
</style>

<div class="modal fade" id="modal-choice-other" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modallargewidthOther">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Other Data</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">                
                <form id="formother" class="form-horizontal form-bordered" role="form" enctype="multipart/form-data">
                    @*<input type="hidden" asp-for="IdFilter" id="IdFilter" />*@

                    <div class="m-form__group">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Task Name</label><span class="req">*</span>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().TextBoxFor(m => m.Other_TaskName)
                                              .HtmlAttributes(new
                                              {
                                                  style = "width:100%",
                                                  @class = "form-control"
                                              }
                                          ))
                                        <span id="span_Other_TaskName" class="requiredvalue" style="color:red; display:none">Task Name is required !</span>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Quantity</label><span class="req">*</span>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().NumericTextBoxFor(m => m.Other_Quantity)
                                            .Events(e => e.Change("OnchangeOtherInput"))
                                              .Spinners(false)
                                              .Format("{0:N0}")
                                              .HtmlAttributes(new
                                              {
                                                  style = "width:100%",
                                                  maxlength = 18
                                              }
                                          ))
                                        <span id="span_Other_Quantity" class="requiredvalue" style="color:red; display:none">Quantity is required and must bigger than 0!</span>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Unit Price</label><span class="req">*</span>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().NumericTextBoxFor(m => m.Other_UnitPrice)
                                            .Events(e => e.Change("OnchangeOtherInput"))
                                              .Spinners(false)
                                              .Format("{0:N0}")
                                              .HtmlAttributes(new
                                              {
                                                  style = "width:100%"
                                              }
                                          ))
                                        <span id="span_Other_UnitPrice" class="requiredvalue" style="color:red; display:none">Unit Price is required must bigger than 0 !</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Total</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().NumericTextBoxFor(m => m.Other_Total)
                                                      .Spinners(false)
                                                      .Format("{0:N0}")
                                                      .HtmlAttributes(new
                                                      {
                                                          style = "width:100%",
                                                          @readonly = "readonly"
                                                      }
                                                  ))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Billed Amount</label><span class="req">*</span>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().NumericTextBoxFor(m => m.Other_Amount)
                                            .Events(e => e.Change("OnchangeOtherInput"))
                                              .Spinners(false)
                                              .Format("{0:N0}")//.Decimals(0)
                                              .HtmlAttributes(new
                                              {
                                                  style = "width:100%"
                                              }
                                          ))
                                        <span id="span_Other_Amount" class="requiredvalue" style="color:red; display:none">Billed Amount is required must bigger than 0!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Balance</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().NumericTextBoxFor(m => m.Other_Balance)
                                                      .Spinners(false)
                                                      .Format("{0:N0}")
                                                      .HtmlAttributes(new
                                                      {
                                                          style = "width:100%",
                                                          @readonly = "readonly"
                                                      }
                                                  ))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-save-detail" onclick="SaveSelectedOther()">Save</button>@*onclick="saveDetailVendor()"*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

