﻿@model PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClient
<style>
    .modallargewidth {
        width: 90%;
        max-width: 1200px;
    }

    .has-danger label:not([class]) {
        color: #f4516c;
    }
</style>

<div class="modal fade" id="modal-choice-pce" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modallargewidth">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Invoice</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formVendor" class="form-horizontal form-bordered" role="form" enctype="multipart/form-data">
                    <input type="hidden" asp-for="IdFilter" id="IdFilter" />

                    <div class="m-form__group">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label asp-for="ClientName"></label><span class="req">*</span>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownList().Name("_ClientId")
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .Events(e => e.Change("OnChange"))
                                                            .OptionLabel("All")
                                                            .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                            .Filter(FilterType.Contains)
                                                            .DataSource(source => source
                                                                .Custom()
                                                                .Transport(transport => transport
                                                                .Read(read =>
                                                                {
                                                                    read.Action("GetDDLClient", "Dropdown", new { area = "Finance" });
                                                                }))
                                                                .ServerFiltering(false)
                                                            ))
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label asp-for="LegalEntity"></label><span class="req">*</span>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownList().Name("_LegalId")
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .Events(e => e.Change("OnChange"))
                                                            .OptionLabel("All")
                                                            .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                            .Filter(FilterType.Contains)
                                                            .DataSource(source => source
                                                                .Custom()
                                                                .Transport(transport => transport
                                                                .Read(read =>
                                                                {
                                                                    read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
                                                                }))
                                                                .ServerFiltering(false)
                                                            ))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>BusinessUnitId Unit</label><span class="req">*</span>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownList().Name("_DivisionId")
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .Events(e => e.Change("OnChange"))
                                                            .OptionLabel("All")
                                                            .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                            .Filter(FilterType.Contains)
                                                            .DataSource(source => source
                                                                .Custom()
                                                                .Transport(transport => transport
                                                                .Read(read =>
                                                                {
                                                                    read.Action("GetDivisionFinance", "Dropdown", new { area = "Finance" });
                                                                }))
                                                                .ServerFiltering(false)
                                                            ))
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Pce Id</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().TextBox().Name("_pceIdSrc").HtmlAttributes(new { style = "width:100%;" }))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label asp-for="CurrencyId"></label>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownList().Name("_CurrencyId")
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .Events(e => e.Change("OnChange"))
                                                            .OptionLabel("All")
                                                            .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                            .Filter(FilterType.Contains)
                                                            .DataSource(source => source
                                                                .Custom()
                                                                .Transport(transport => transport
                                                                .Read(read =>
                                                                {
                                                                    read.Action("GetDDLCurrency", "Dropdown", new { area = "Finance" });
                                                                }))
                                                                .ServerFiltering(false)
                                                            ))
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Job ID-Name</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().TextBox().Name("_JobIdNameSrc").HtmlAttributes(new { style = "width:100%;" }))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">

                                    </div>
                                    <div class="col-lg-8">
                                        <button class="btn btn-primary" type="button" onclick="SearchPceList()">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group m-form__group row m-row--no-padding">
                                    <div class="col-lg-12 m-row--no-padding" id="m_blockui_list">
                                        @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClient>()
                                                            .Name("grid-choice-pce")
                                                            .Columns(columns =>
                                                            {
                                                                columns.Select().ClientHeaderTemplate(" ").Width(40).HtmlAttributes(new { style = "text-align:center;" });
                                                                //columns.Bound(p => p.IsDefault).ClientTemplate("<input type='checkbox' class='chkbx #= IsDefault ? checked='checked' :'' #  />").Title("Action").Width(110);
                                                                columns.Bound("").ClientTemplate("#=JobId#-#=JobName#").Width(200).Title("Job ID-Name");
                                                                columns.Bound(p => p.PceId).ClientTemplateId("pce-template").Width(150).Title("Pce Id");
                                                                columns.Bound(p => p.PceSubtotal).Width(120);
                                                                columns.Bound(p => p.PceOtherFee).Width(120);
                                                                columns.Bound(p => p.PceVat).Title("VAT").Width(120);
                                                                columns.Bound(p => p.PceGrandTotal).Width(120);
                                                                columns.Bound(p => p.ClientName).Width(150);
                                                                columns.Bound(p => p.ClientBrandName).Width(150);
                                                                columns.Bound(p => p.Division).ClientTemplateId("div-template").Width(150).Title("Business Unit");
                                                                columns.Bound(p => p.LegalEntity).ClientTemplateId("legal-template").Width(150).Title("Legal Entity");
                                                                columns.Bound(p => p.Division).Title("Business Unit").Width("150").Hidden();
                                                                columns.Bound(p => p.LegalEntity).Title("Legal Entity").Width("150").Hidden();
                                                                columns.Bound(p => p.ClientInvAddress).Hidden();
                                                                columns.Bound(p => p.ClientTaxNumber).Hidden();
                                                                columns.Bound(p => p.ClientPIC).Hidden();

                                                                columns.Bound(p => p.PceSubtotal).Hidden();
                                                                columns.Bound(p => p.MainServiceCategory).Hidden();
                                                                columns.Bound(p => p.JobStatus).Hidden();
                                                                columns.Bound(p => p.POClientNo).Hidden();
                                                                columns.Bound(p => p.JobId).Hidden();
                                                                columns.Bound(p => p.JobName).Hidden();

                                                                columns.Bound(p => p.AffiliationName).Hidden();
                                                                columns.Bound(p => p.CurrencyId).Hidden();
                                                                columns.Bound(p => p.BrandId).Hidden();
                                                                columns.Bound(p => p.ClientId).Hidden();
                                                                columns.Bound(p => p.LegalId).Hidden();
                                                                columns.Bound(p => p.BusinessUnitId).Hidden();
                                                                columns.Bound(p => p.AffiliationId).Hidden();

                                                            })
                                                            .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                            .Scrollable(
                                                                scr => scr.Height(250)
                                                            )
                                                            .Pageable(pageable => pageable
                                                        .Refresh(true)

                                                        //.Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                                        .PageSizes(true)
                                                        .ButtonCount(5))
                                                            .AutoBind(false)
                                                            .DataSource(dataSource => dataSource
                                                                .Ajax()
                                                                .PageSize(10)
                                                                .Events(events => events.Error("errorHandler"))
                                                                .Model(model => { model.Id(p => p.Id); })
                                                                .Read(read => read.Action("GetPceChoiceList", "InvoiceClient").Data("gridChoicePce_params"))
                                                            )
                                                            //.Events(evt => evt.DataBound("vendor_dataBound"))
                                                            .NoRecords()
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-save-detail" onclick="SaveSelectedPce()">Save</button>@*onclick="saveDetailVendor()"*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script id="pce-template" type="text/x-kendo-template">
    <span'>#=PceId# </span'>
</script>
<script id="div-template" type="text/x-kendo-template">
    <span'>#=Division# </span'>
</script>

<script id="legal-template" type="text/x-kendo-template">
    <span'>#=LegalEntity# </span'>
</script>


