﻿
@model PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClient.InvPCEDtlView
@{
    ViewData["Title"] = "Invoicing To Client";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Invoicing To Client</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/InvoiceClient")" class="m-nav__link">
                        <span class="m-nav__link-text">Invoicing To Client</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head" style="background:#fafafa">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    @if (Model.pce == null)
                                    {
                                        <span>Create Invoice Client  &nbsp;</span>
                                    }
                                    else
                                    {
                                        <span>Edit Invoice Client  &nbsp;</span>
                                    }
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <form id="form" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                        <div class="col-lg-12">
                            <div class="form-group col-lg-12" style="padding-left:0px">
                                <h5>Client Detail :</h5>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <input type="hidden" asp-for="pce.JobId" />
                            <input type="hidden" asp-for="pce.PceId" />
                            <input type="hidden" asp-for="pce.CurrencyId" />
                            <input type="hidden" asp-for="pceCompany.CompanyId" />
                            <input type="hidden" asp-for="pceCompany.BrandId" />

                            <div class="col-lg-12 m-row--no-padding">
                                <div class="row">
                                    <div class="col-lg-6 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Client Name :</label>
                                            <br />
                                            @Html.Kendo().TextBoxFor(m => m.pceCompany.CompanyName).HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                @readonly = "readonly",
                                                @class = "m-input"
                                            })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Tax Registration / NPWP :</label>
                                            <br />@Html.Kendo().TextBoxFor(m => m.pceCompany.TaxNumber).HtmlAttributes(new
                                  {
                                      style = "width:100%",
                                      @readonly = "readonly",
                                      @class = "m-input"
                                  })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Brand Name</label>
                                            <br />
                                            @Html.Kendo().TextBoxFor(m => m.pceCompany.BrandName).HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                @readonly = "readonly",
                                                @class = "m-input"
                                            })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Address NPWP</label>
                                            <br /> -
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Address Invoicing</label>
                                            <br />
                                            @Html.Kendo().TextBoxFor(m => m.pceCompany.AddressInv).HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                @readonly = "readonly",
                                                @class = "m-input"
                                            })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 m-form__group-sub">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row" id="company_data_detail">
                                <div class="col-lg-12 m-row--no-padding">
                                    <div class="m-accordion m-accordion--bordered m-accordion--solid" id="pce_detail" role="tablist">
                                        <!--begin::Item-->
                                        <div class="m-accordion__item">
                                            <div class="m-accordion__item-head" role="tab" id="pce_detail_head" data-toggle="collapse" href="#pce_detail_body" aria-expanded="true">
                                                <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                                <span class="m-accordion__item-title">PCE Detail</span>
                                                <span class="m-accordion__item-mode"></span>
                                            </div>
                                            <div class="m-accordion__item-body collapse show" id="pce_detail_body" role="tabpanel" aria-labelledby="pce_detail_head" data-parent="#pce_detail" style="">
                                                <div class="m-accordion__item-content">
                                                    <div class="row">
                                                        <div class="col-lg-6 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>PCE Number :</label>
                                                                @Html.Kendo().TextBoxFor(m => m.pce.PceCode).HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @readonly = "readonly",
                                                                    @class = "m-input"
                                                                })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 m-form__group-sub">
                                                            <label>PO Client No</label>
                                                            @Html.Kendo().TextBoxFor(m => m.pce.POClientNo).HtmlAttributes(new
                                                            {
                                                                style = "width:100%",
                                                                @readonly = "readonly",
                                                                @class = "m-input"
                                                            })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 m-form__group-sub">
                                                            <div class="form-group">
                                                                <div class="form-group">
                                                                    <label>PO Amount :</label>
                                                                    @Html.Kendo().NumericTextBoxFor(m => m.pce.PceAmount).HtmlAttributes(new { @readonly = "readonly", @class = "m-input", style = "width:100%" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Attachement</label>
                                                                @*@Html.Kendo().Upload(m => m.pce.JobName).HtmlAttributes(new
                                                style = "width:100%",
                                                @readonly = "readonly",
                                                @class = "m-input",
                                                placeholder = $"Auto generated by system"
                                            })*@
                                                                <label>Type Of Job</label>
                                                                @Html.Kendo().TextBoxFor(m => m.pce.TypeOfJob).HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @readonly = "readonly",
                                                                    @class = "m-input",
                                                                    placeholder = $"Auto generated by system"
                                                                })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Currency</label>
                                                                @Html.Kendo().TextBoxFor(m => m.pce.Currency).HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @readonly = "readonly",
                                                                    @class = "m-input",
                                                                    placeholder = $"Auto generated by system"
                                                                })
                                                                <input type="hidden" asp-for="pce.CurrencyId" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Status Job</label>
                                                                @Html.Kendo().TextBoxFor(m => m.pce.JobStatus).HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @readonly = "readonly",
                                                                    @class = "m-input",
                                                                    placeholder = $"Auto generated by system"
                                                                })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Type Of Job</label>
                                                                @Html.Kendo().TextBoxFor(m => m.pce.TypeOfJob).HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @readonly = "readonly",
                                                                    @class = "m-input",
                                                                    placeholder = $"Auto generated by system"
                                                                })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Task Name</label>
                                                                @Html.Kendo().TextBoxFor(m => m.pce.JobName).HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @readonly = "readonly",
                                                                    @class = "m-input",
                                                                    placeholder = $"Auto generated by system"
                                                                })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label>Job Remark</label>
                                                                @Html.TextAreaFor(m => m.pce.JobRemark, new { style = "height:95px;width:100%", @class = "form-control", @readonly = "readonly" })

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 m-form__group-sub">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="adjustment" style="display:none">
                                        <hr />
                                        <div class="col-md-6 row">
                                            <div class="btn-group m-btn-group" role="group" aria-label="...">
                                                <button type="button" id="btn-adjustment" class="btn btn-sm btn-info">Invoice list</button>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>

                                    <div class="form-group row m-row--no-padding">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    @*<a href="#" id="btn-PopUpRef" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Add New Row</a>*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 m-row--no-padding" id="m_blockui_list">
                                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClient.InvoiceClient>()
                                                 .Name("invoicelist")
                                                 .Columns(columns =>
                                                 {
                                                     columns.Command(
                                                        command =>
                                                        {
                                                            command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                            command.Destroy().Text(" ");
                                                        }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                     //columns.Command(command =>
                                                     //{
                                                     //    command.Custom("").TemplateId("btnAction");
                                                     //}).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                     columns.Bound(p => p.InvoiceDate);
                                                     columns.Bound(p => p.InvoiceNumber);
                                                     columns.Bound(p => p.TotalAmount);
                                                     columns.Bound(p => p.Vat);
                                                     columns.Bound(p => p.PceBalance);
                                                 })
                                                 .Pageable(pageable => pageable
                                                     .Refresh(true)
                                                     .PageSizes(true)
                                                     .ButtonCount(5))
                                                 .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                 .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                                     .Extra(false)
                                                     .Operators(operators => operators
                                                     .ForString(str => str.Clear()
                                                         .Contains("Contains")
                                                         .StartsWith("Start sWith")
                                                         .EndsWith("End sWith")
                                                     )))
                                                 .Scrollable(s => s.Enabled(true).Height("auto"))
                                                 .Resizable(rsz => rsz.Columns(true))
                                                 .ToolBar(toolbar => toolbar.Create())
                                                 .Editable(e => e.Mode(GridEditMode.PopUp).Window(x => x.Width(850)).TemplateName("Invoice"))
                                                 .DataSource(dataSource => dataSource
                                                     .Ajax()
                                                     .PageSize(10)
                                                     .Aggregates(aggregates =>
                                                     {
                                                         aggregates.Add(p => p.PceAmount).Min().Max();
                                                     })
                                                     // .Events(events => events.Error("errorHandler"))
                                                     .Model(model => { model.Id(p => p.PceId); })
                                                     .Read(read => read.Action("ReadInvDtl", "InvoiceClient").Data("ParamsData"))
                                                     .Create(create => create.Action("Create", "InvoiceClient"))
                                                     .Update(update => update.Action("Update", "InvoiceClient"))
                                                 //.Destroy(delete => delete.Action("Delete__", "InvoiceClient"))
                                                 )
                                                 //.Editable(editable => editable.DisplayDeleteConfirmation(false))
                                                 .Events(ev => ev.Edit("onAddEdit").Save("onSave"))
                                            )
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                    <!--end::Form-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a id="btn-save" class="btn btn-sm btn-success">Save</a>@*href="@Url.Content("~/Finance/InvoiceClient")"*@
                    <a href="#" class="btn btn-sm btn-warning">Print</a>

                    @*<a href="@Url.Content("~/Finance/AccountReceivable/Detail")" class="btn btn-sm btn-primary">Submit</a>*@
                    <a href="#" class="fakelink btn btn-sm btn-secondary">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function ParamsData() {
        var pceid = $("#pce_PceCode").val();
        return { id: pceid };
    }

    function onAddEdit(e) {
        if (e.model.isNew()) {
            $('.k-window-title').text("Add New");
        }

        $("a.k-grid-update")[0].innerHTML = "<span class='k-icon k-i-check'></span>Submit";
        $("a.k-grid-cancel")[0].innerHTML = "<span class='fa fa-arrow-circle-left'></span>&nbsp;Back to list";

        if (e.model.Id == null || e.model.Id == "") {
            var courseGrid = $("#invoicelist").data("kendoGrid");
            var parentRow = courseGrid.dataItem(this.wrapper.closest("tr").prev());            
            var pceCode = $("#pce_PceCode").val();
            var pceAmount = $("#pce_PceAmount").val();
            var jobName = $("#pce_JobName").val();
            var jobTye = $("#pce_TypeOfJob").val();
            var currency = $("#pce_Currency").val();
            var jobId = $("#pce_JobId").val();
            var currencyId = $("#pce_CurrencyId").val();
            var companyId = $("#pceCompany_CompanyId").val();
            var branId = $("#pceCompany_BrandId").val();
            var pceid = $("#pce_PceId").val();

            var today = new Date();
            var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();

            e.model.set("PceId", pceid);
            e.model.set("PceAmount", pceAmount);
            e.model.set("JobName", jobName == "" ? null : jobName);
            e.model.set("JobType", jobTye);
            e.model.set("CurrencyName", currency);
            e.model.set("InvoiceDate", date);
            e.model.set("JobName", "");
            e.model.set("JobId", jobId);
            e.model.set("CurrencyId", currencyId);
            e.model.set("CompanyId", companyId);
            e.model.set("BrandId", branId);

            var ageAggregates = $("#invoicelist").data("kendoGrid").dataSource.aggregates().InvoiceSeq;
            if (ageAggregates != undefined) {
                e.model.set("InvoiceSeq", (ageAggregates.max + 1));
            }
        }
    }

    function onSave(e) {
        var pceBalance = $("#PceBalance").val();
        var vat = $("#Vat").val();
        var totalAmount = $("#TotalAmount").val();
        var pceid = $("#pce_PceId").val();

        e.model.set("PceBalance", pceBalance);
        e.model.set("Vat", vat);
        e.model.set("TotalAmount", totalAmount);
    }

    function editGridRow(e) {
        var $elem = $(e);
        var grid = $elem.closest("div[data-role='grid']").data("kendoGrid");
        var item = grid.dataItem($elem.closest("tr"));
        grid.editRow(item);
    }

    function deleteGridRow(e) {

        var $elem = $(e);
        var grid = $elem.closest("div[data-role='grid']").data("kendoGrid");

        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                var item = grid.dataItem($elem.closest("tr"));
                grid.removeRow(item);
                $("#invoicelist").data("kendoGrid").dataSource.read();
                //Swal.fire(
                //  'Deleted Boy!',
                //  'Your file has been deleted.',
                //  'success'
                //)
            }
        })
    }

    function calculate_change() {
        var pceAmt = $("#PceAmount").data("kendoNumericTextBox").value();
        var amt = $("#Amount").data("kendoNumericTextBox").value();
        //Vat
        var percentageVat = $("#VAtPercentage").data("kendoNumericTextBox").value();

        $("#Vat").data("kendoNumericTextBox").readonly(false);
        $("#PceBalance").data("kendoNumericTextBox").readonly(false);
        $("#TotalAmount").data("kendoNumericTextBox").readonly(false);

        var gtot = (pceAmt * percentageVat) / 100;
        $("#Vat").data("kendoNumericTextBox").value(gtot);
        $("#PceBalance").data("kendoNumericTextBox").value((amt + gtot));
        $("#TotalAmount").data("kendoNumericTextBox").value((amt + gtot))

        $("#Vat").data("kendoNumericTextBox").readonly(true);
        $("#PceBalance").data("kendoNumericTextBox").readonly(true);
        $("#TotalAmount").data("kendoNumericTextBox").readonly(true);
    }

    $(document).ready(function () {
        $('#btn-save').click(function () {
            var dataList = {
                invoice: $("#invoicelist").data("kendoGrid").dataSource.data()
            }
            callAction({ formId: "form", title: "save", type: "POST", url: '@Url.Action("Post", "InvoiceClient")', objects: dataList });
        });

        $("#vat").bind("keypress", function () {
            var numeric = $(this).data("kendoNumericTextBox");
        })
    });

</script>