﻿
@model PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClient
@{
    ViewData["Title"] = "Invoicing To Client";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<style>
    .label-required {
        color: red;
    }

    table {
        width: 100%;
        border: 0px;
    }

        table tr td {
            text-align: left;
            padding: 5px;
        }
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Single Invoice Client</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/InvoiceClient")" class="m-nav__link">
                        <span class="m-nav__link-text">Single Invoice Client</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head" style="background:#fafafa">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    @if (Model.InvoiceNumber == null)
                                    {
                                        <span>Create Invoice Client @Html.DisplayFor(x => x.MainServiceCategoryName)</span>
                                    }
                                    else
                                    {
                                        <span>Edit Invoice Client @Html.DisplayFor(x => x.MainServiceCategoryName)</span>
                                    }

                                    @if (Model.Status == PhoenixERPWebApp.Models.SingleInvoiceClientStatus.Open)
                                    { <span class="m-badge m-badge--danger m-badge--wide" id="lblstatus">@Model.Status</span> }
                                    else if (Model.Status == PhoenixERPWebApp.Models.SingleInvoiceClientStatus.Balance)
                                    { <span class="m-badge m-badge--warning m-badge--wide" id="lblstatus">@Model.Status</span> }
                                    else if (Model.Status == PhoenixERPWebApp.Models.SingleInvoiceClientStatus.Closed)
                                    { <span class="m-badge m-badge--success m-badge--wide" id="lblstatus">@Model.Status</span>}
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <form id="form" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form">

                        <partial name="_InfoDetail" />

                        
                        <div class="form-group col-lg-12" style="padding-left:0px">
                            <h5>Invoice Detail :</h5>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label asp-for="InvoiceNumber" class="col-lg-4 form-label"></label>
                                                    <div class="col-lg-8">
                                                        <input type="hidden" asp-for="Id" />
                                                        @Html.Kendo().TextBoxFor(m => m.InvoiceNumber).HtmlAttributes(new
                                                        {
                                                            style = "width:100%",
                                                            @readonly = "readonly",
                                                            @class = "m-input"
                                                        })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label asp-for="AccountId" class="col-lg-3 form-label"></label>
                                                    <div class="col-lg-9">
                                                        @(Html.Kendo().DropDownListFor(m => m.AccountId)
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.AccountId)}")
                                                            .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                            .Filter(FilterType.Contains)
                                                            .DataSource(source => source
                                                                .Custom()
                                                                .Transport(transport => transport
                                                                .Read(read =>
                                                                {
                                                                    read.Action("GetDDLBank", "InvoiceClient").Data("bank_params");
                                                                }))
                                                                .ServerFiltering(false)
                                                            ))
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label asp-for="InvoiceDate" class="form-label"></label>
                                                        <label class="label-required">*</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        @Html.Kendo().DatePickerFor(m => m.InvoiceDate).HtmlAttributes(new {
                                                          @class = "m-input ", style = "width:100%", required = "required"
                                                      })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label asp-for="VatNo" class="col-lg-4 form-label"></label>
                                                    <div class="col-lg-8">
                                                        @Html.Kendo().TextBoxFor(m => m.VatNo).HtmlAttributes(new
                                                        {
                                                           style = "width:100%",
                                                           @class = "m-input"
                                                        })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label asp-for="PceBalance" class="col-lg-4 form-label"></label>
                                                    <div class="col-lg-8">
                                                        @(Html.Kendo().NumericTextBoxFor(m => m.PceBalance)
                                                            .Spinners(false)
                                                            .Format("{0:N2}")
                                                            .HtmlAttributes(new
                                                            {
                                                                style = "width:100%",
                                                                maxlength = 12,
                                                                @readonly = "readonly"
                                                            }
                                                        ))
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <label asp-for="DueDate" class="form-label"></label>
                                                        <label class="label-required">*</label>
                                                    </div>

                                                    <div class="col-lg-9">
                                                        @Html.Kendo().DatePickerFor(m => m.DueDate).HtmlAttributes(new {
                                                            @class = "m-input ", style = "width:100%", required = "required"
                                                        })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-4 form-group">
                                                            <label asp-for="CurrencyCode"></label>
                                                            @Html.Kendo().TextBoxFor(m => m.CurrencyCode).HtmlAttributes(new
                                                            {
                                                                style = "width:100%",
                                                                @readonly = "readonly",
                                                                @class = "m-input"
                                                            })
                                                        </div>
                                                        <div class="col-lg-8 form-group">
                                                            <label asp-for="ExchangeRate"></label>
                                                            @if (!(Model.CurrencyCode ?? "").ToLower().Contains("idr"))
                                                            {
                                                                @(Html.Kendo().NumericTextBoxFor(m => m.ExchangeRate)
                                                                    .Spinners(false)
                                                                    .Format("{0:N0}")
                                                                    .HtmlAttributes(new
                                                                    {
                                                                        style = "width:100%",
                                                                        maxlength = 12,
                                                                        @required = "required",
                                                                        validationmessage = $"{Html.DisplayNameFor(m => m.ExchangeRate)} is required"
                                                                    }
                                                                ))
                                                            }
                                                            else
                                                            {
                                                                @(Html.Kendo().NumericTextBoxFor(m => m.ExchangeRate)
                                                                    .Spinners(false)
                                                                    .Format("{0:N0}")
                                                                    .HtmlAttributes(new
                                                                    {
                                                                        style = "width:100%",
                                                                        maxlength = 12,
                                                                        @readonly = "readonly"
                                                                    }
                                                                ))
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <label asp-for="RefNumber" class="form-label"></label>
                                                        @*<label class="label-required">*</label>*@
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.Kendo().TextBoxFor(m => m.RefNumber).HtmlAttributes(new
                                                        {
                                                            style = "width:100%",
                                                            @class = "m-input"
                                                        })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group row">

                                                    <div class="col-lg-8">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <label asp-for="YourRef"></label>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.Kendo().TextBoxFor(m => m.YourRef).HtmlAttributes(new
                                                        {
                                                            style = "width:100%",
                                                            @class = "m-input"
                                                        })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="adjustment" style="display:none">
                                        <hr />
                                        <div class="col-md-6 row">
                                            <div class="btn-group m-btn-group" role="group" aria-label="...">
                                                <button type="button" id="btn-adjustment" class="btn btn-sm btn-info">Items :</button>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>

                                    <div class="form-group row m-row--no-padding">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    @*<a href="#" id="btn-PopUpRef" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Add New Row</a>*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 m-row--no-padding" id="m_blockui_list">
                                            @(Html.Kendo().TreeList<PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClientItemOther>()
                                                .Name("treelist")
                                                .Columns(columns =>
                                                {
                                                    columns.Add().Width(250).Command(c =>
                                                    {
                                                        c.CreateChild().Text(" ");
                                                        c.Edit().Text(" ");
                                                        c.Destroy().Text(" ");
                                                    }).Width(200);
                                                    columns.Add().Field(p => p.Description).Expandable(true).Width(300);
                                                    columns.Add().Field(p => p.Amount).Expandable(true).Width(200);
                                                })
                                                .Toolbar(toolBar =>
                                                {
                                                    toolBar.Create();
                                                })
                                                .Resizable(true)
                                                .Editable(e => e.Mode(TreeListEditMode.InLine))
                                                .DataSource(dataSource => dataSource
                                                    .Events(events => events.Error("errorHandler"))
                                                    .Aggregates(aggr =>
                                                    {
                                                        aggr.Add(p => p.Amount).Sum();
                                                        aggr.Add(p => p.Id).Min().Max();
                                                    })
                                                    .Model(m =>
                                                    {
                                                        m.Id(f => f.Id);
                                                        m.ParentId(f => f.ParentId).Nullable(true);
                                                        m.Expanded(true);
                                                        m.Field(f => f.Amount);
                                                        m.Field(f => f.Description);
                                                    })
                                                    .Read(read => read.Action("ReadInvDtl", "InvoiceClient").Data("treeList_params"))
                                                    .Create(create => create.Action("Create_", "InvoiceClient"))
                                                    .Update(update => update.Action("Update_", "InvoiceClient"))
                                                    .Destroy(delete => delete.Action("Delete_", "InvoiceClient"))
                                                )
                                                .Messages(msg => msg.Commands(c => { c.Create("Add Item"); c.Update(" "); c.Cancel(" "); c.Canceledit(" "); }))
                                                .Events(e => e.Save("saveTreeList_Event")
                                                .Edit("editTreeList_event"))/*.BeforeEdit("beforeEditTreeList_event").Remove("deleteTreeList_event").DataBound("boundTreeList_event")*/
                                            )
                                        </div>

                                        <div class="col-lg-12">
                                            <br />
                                        </div>

                                        @*<div class="col-lg-12 m-row--no-padding">
                                            <div class="col-lg-6">

                                            </div>
                                            <div class="col-lg-6 float-right">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label asp-for="InvoiceAmount" class="form-label"></label>
                                                       
                                                    </div>
                                                    <div class="col-lg-8">
                                                        @(Html.Kendo().NumericTextBoxFor(m => m.InvoiceAmount)
                                                            .Spinners(false)
                                                            .Format("{0:N0}")
                                                            .HtmlAttributes(new
                                                            {
                                                                style = "width:100%",
                                                                maxlength = 18
                                                            }
                                                        ))
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                        <div class="col-lg-12 m-row--no-padding">
                                            <div class="col-lg-6">

                                            </div>
                                            <div class="col-lg-6 float-right">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label asp-for="Vat" class="form-label"></label>
                                                        @*<label class="label-required">*</label>*@
                                                    </div>
                                                    <div class="col-lg-2">
                                                        @(Html.Kendo().NumericTextBoxFor(m => m.VAtPercentage)
                                                            .Spinners(false)
                                                            .Format("## \\%")
                                                            .Value(10)
                                                            .HtmlAttributes(new
                                                            {
                                                                style = "width:100%",
                                                                maxlength = 3
                                                            }
                                                        ))
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @(Html.Kendo().NumericTextBoxFor(m => m.Vat)
                                                            .Spinners(false)
                                                            .Format("{0:N0}")
                                                            .HtmlAttributes(new
                                                            {
                                                                style = "width:100%",
                                                                maxlength = 18,
                                                                @required = "required"
                                                            }
                                                        ))
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12  m-row--no-padding">
                                            <div class="col-lg-6">

                                            </div>
                                            <div class="col-lg-6 float-right">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label asp-for="TotalAmount"></label>
                                                        @*<label class="label-required">*</label>*@
                                                    </div>
                                                    <div class="col-lg-8">
                                                        @(Html.Kendo().NumericTextBoxFor(m => m.TotalAmount)
                                                            .Spinners(false)
                                                            .Format("{0:N0}")
                                                            .HtmlAttributes(new
                                                            {
                                                                style = "width:100%",
                                                                maxlength = 18,
                                                                @readonly = "readonly"
                                                            }
                                                        ))
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                    <br /><hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <a id="btn-save" class="btn btn-success">Create Invoice</a>@*href="@Url.Content("~/Finance/InvoiceClient")"*@
                            <a href="#" class="btn btn-warning">Print</a>

                            @*<a href="@Url.Content("~/Finance/AccountReceivable/Detail")" class="btn btn-sm btn-primary">Submit</a>*@
                            <a href="#" class="fakelink btn btn-secondary">Close</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


<script>

    function bank_params() {
        //var vorgid = $("#OrganizationId").val();
        return { orgid: "" };//vorgid
    }

    function treeList_params() {
        //var pcecode = $("#pce_PceCode").val();
        var invid = $("#Id").val();
        return { invid: invid };
    }

    $(document).ready(function () {
        $('#btn-save').click(function () {
            var dataList = {
                items_other : $("#treelist").data("kendoTreeList").dataSource.data()
            }
            callAction({ formId: "form", title: "save", type: "POST", url: '@Url.Action("Post", "InvoiceClient")', objects: dataList });
        });

        $("#VAtPercentage").on("blur", function () {
            var pceAmt = $("#PceAmount").data("kendoNumericTextBox").value();
            var amt = $("#InvoiceAmount").data("kendoNumericTextBox").value();
            //Vat
            var percentageVat = $("#VAtPercentage").data("kendoNumericTextBox").value();

            //$("#PceBalance").data("kendoNumericTextBox").readonly(false);
            //$("#TotalAmount").data("kendoNumericTextBox").readonly(false);
            $("#vat").data("kendoNumericTextBox").readonly(false);

            var gtot = (amt/100) * percentageVat;
            //$("#PceBalance").data("kendoNumericTextBox").value(pceAmt - (amt + gtot));
            $("#PceBalance").data("kendoNumericTextBox").value(gtot);
            $("#vat").data("kendoNumericTextBox").value(gtot)
            $("#TotalAmount").data("kendoNumericTextBox").value((amt + gtot))
        });
    });

    function saveTreeList_Event(e) {
        debugger;
        //var aggregates = $("#treelist").data("kendoTreeList").dataSource.aggregates();;
        //if (aggregates != undefined) {
        //    //e.model.set("amount", aggregates.amount.sum);
        //    e.model.set("Id", (aggregates.Id.max + 1));
        //}
        var amt = 0;
        $.each(e.sender.items(), function (index, data) {
            amt += e.sender.dataItem(data).Amount;
        });

        //$("#invcl_vat").data("kendoNumericTextBox").value();
        $("#InvoiceAmount").data("kendoNumericTextBox").value(amt);
        var vatPercent = $("#VAtPercentage").data("kendoNumericTextBox");
        vatPercent.value(10);

        var vatPercentVal = vatPercent.value();
        var amt = $("#InvoiceAmount").data("kendoNumericTextBox").value();        
        var gtot = (amt / 100) * vatPercentVal;
        $("#Vat").data("kendoNumericTextBox").value(gtot)
        $("#TotalAmount").data("kendoNumericTextBox").value((amt + gtot))
    }    

    function beforeEditTreeList_event(e) {
        var IsParentId = e.model.ParentId;
        //var models = $("#treelist").data("kendoTreeList").dataSource.data();
        //var task = models.filter((x) => { return x.id == IsParentId });

        $.each(task, function (index, data) {
            //taskRateCardName = data.TaskName;
            //istaskRetCard = data.IsRateCard;
        });
    }

    function editTreeList_event(e) {
        var IsParentId = e.model.ParentId;
        
    }

    function deleteTreeList_event(e) {
        var models = $("#treelist").data("kendoTreeList").dataSource.data().filter((x) => { return x.Id != e.model.Id });
        var subTotal = 0;

        $.each(models, function (index, data) {
            if (data.ParentId == null) {
                
            }
        });

        //CalculateAll(subTotal);
        //$("#RateCardId").data("kendoDropDownList").readonly((models.length > 0));
    }

    function boundTreeList_event(e) {
        
        //var rows = e.sender.tbody.children();
        //for (var j = 0; j < rows.length; j++) {
        //    var row = $(rows[j]);
        //    var dataItem = e.sender.dataItem(row);

        //    row.removeClass("boldColor");
        //    if (dataItem.ParentId == null) {
        //        row.addClass("boldColor");
        //    }
        //}

        //var view = this.dataSource.view();
        //this.items().each(function (index, row) {
        //    kendo.bind(row, view[index]);
        //});
    }

</script>