﻿
@{
    ViewData["Title"] = "LKJReport";
}

<!-- Styles -->
<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Report</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-line-graph"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Report</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Company/LKJReport")" class="m-nav__link">
                        <span class="m-nav__link-text">LKJ Report</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Company/LKJReport/Detail")" class="m-nav__link">
                        <span class="m-nav__link-text">LKJ Report Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__body">
                    <!--begin: Datatable -->

                    <table class="table table-striped- table-bordered table-hover" id="m_table_1">
                        <thead>
                            <tr>
                                <th rowspan="2">
                                    <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                        <input type="checkbox" value="" class="m-group-checkable" name="select_all">
                                        <span></span>
                                    </label>
                                </th>
                                <th>Cost Center</th>
                                <th>Quartal</th>
                                <th>Budget Owner</th>
                                <th>PO No</th>
                                <th>GL Code</th>
                                <th>Coupa Code</th>
                                <th>PO Amount</th>
                                <th>PO Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>	<!--begin::Page Scripts -->
    <script src="~/demo/demo_12/custom/crud/datatables/basic/scrollable.js" type="text/javascript"></script>
}