﻿
@{
    ViewData["Title"] = "LKJReport";
}

<!-- Styles -->
<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Report</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-line-graph"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Report</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Company/LKJReport")" class="m-nav__link">
                        <span class="m-nav__link-text">LKJ Report</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a href="@Url.Content("~/Company/LKJReport/Detail")" class="m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
                                <button id="btn-delete" type="button" class="m-btn btn btn-danger btn-sm m-btn--sm"><i class="la la-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="m-portlet__body">
                    <!--begin: Datatable -->

                    <table class="table table-striped- table-bordered table-hover" id="m_table_1">
                        <thead>
                            <tr>
                                <th rowspan="2">
                                    <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                        <input type="checkbox" value="" class="m-group-checkable" name="select_all">
                                        <span></span>
                                    </label>
                                </th>
                                <th rowspan="2">Cost Center</th>
                                <th rowspan="2">Budget Owner</th>
                                <th colspan="7" style="text-align:center">Purchase Order</th>
                                <th colspan="10" style="text-align:center">Invoice</th>
                                <th rowspan="2">PCE</th>
                                <th rowspan="2">Quotation Number</th>
                                <th rowspan="2">Actions</th>
                            </tr>
                            <tr>
                                <th>PO No.</th>
                                <th>GL Codes</th>
                                <th>Coupa Codes</th>
                                <th>PO Amount</th>
                                <th>PO Issuer</th>
                                <th>Description</th>
                                <th>PO Status</th>
                                <th>Invoice No</th>
                                <th>Invoice Date</th>
                                <th>Invoice Amount (Incl.ASF)</th>
                                <th>GR</th>
                                <th>Payment Date</th>
                                <th>PO Balance</th>
                                <th>Ready To Be Invoiced</th>
                                <th>PE Accrual</th>
                                <th>PO Open</th>
                                <th>PO Closed</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>	<!--begin::Page Scripts -->
    <script src="~/demo/demo_12/custom/crud/datatables/basic/scrollable.js" type="text/javascript"></script>
}