﻿@{
    ViewData["Title"] = "Good Request";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<link href="~/bundles/css/datatable.min.css?@DateTime.Now" rel="stylesheet" />
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Good Request</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Good Request</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a href="@Url.Content("~/Finance/GoodRequest/Detail/")" class="m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
                                @*<button id="btn-delete" type="button" class="m-btn btn btn-danger btn-sm m-btn--sm"><i class="la la-trash"></i></button>*@
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text input-group-sm"><i class="la la-search"></i></span></div>
                                        <input autocomplete="off" type="text" name="q" class="form-control form-control-sm m-input searchbox" placeholder="Search">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <!--begin: Selected Rows Group Action Form -->
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.GoodRequest>()
                                                            .Name("grid")
                                                            .Columns(columns =>
                                                            {
                                                                //columns.Command(command =>
                                                                //{
                                                                //    command.Custom("").TemplateId("btnAction-template");
                                                                //}).Title("Action").HtmlAttributes(new { style = "text-align:center;" })
                                                                //.HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                                columns.Bound("").Title("#").Width(35).Filterable(false)
                                                                .HtmlAttributes(new { style = "text-align:center;", @class = "row-number" })
                                                                .HeaderHtmlAttributes(new { style = "text-align:center;" });
                                                                columns.Bound(p => p.Id).Width(200).Hidden();
                                                                columns.Bound("").ClientTemplate("#= Link(data) #").Title("Good Request Number").Width(150);
                                                                columns.Bound(p=>p.DUeDate).Title("Due Date").Format("{0: dd MMM yyyy}").Width(100);
                                                                columns.Bound(p => p.Type).Title("Type").Width(100);
                                                                columns.Bound(p => p.InvFaName).Title("ID-Name").Width(200).Hidden();
                                                                columns.Bound(p => p.BusinessUnitName).Title("Division").Width(200);
                                                                columns.Bound(p => p.EmployeeName).Title("Employee").Width(100);
                                                                columns.Bound(p=>p.ReturnDate).Title("Return Date").Width(100).Format("{0: dd MMM yyyy}");
                                                                columns.Bound(p=>p.Purpose).Title("Purpose").Width(200);
                                                                columns.Bound("").ClientTemplate("#= GetStatusButton(data) #").Title("Status Name").Width(200);
                                                                columns.Bound(p => p.Status).Title("Status").Width(200).Hidden();
                                                            })
                                                            .Pageable(pageable => pageable
                                                                .Refresh(true)
                                                                .PageSizes(true)
                                                                .ButtonCount(5))
                                                            .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                                            .Resizable(rsz => rsz.Columns(true))
                                                            .DataSource(dataSource => dataSource
                                                                .Ajax()
                                                                .PageSize(10)
                                                                .Events(events => events.Error("errorHandler"))
                                                                .Model(model =>
                                                                {
                                                                    model.Id(p => p.Id);
                                                                })
                                                                .Read(read => read.Action("Read", "GoodRequest"))
                                                            )
                                                            .Events(x => x.DataBound("dataBoundEvent"))
                                                            .NoRecords()
                                                            .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                                            .Extra(false)
                                                            .Operators(operators => operators
                                                            .ForString(str => str.Clear()
                                                                .Contains("Contains")
                                                                .StartsWith("Start sWith")
                                                                .EndsWith("End sWith")
                                                            )))
                    )
                </div>
            </div>


        </div>
    </div>
</div>

<style>
    /*.k-grid .k-state-selected {
        background-color: #ffffff !important;
        color: #000000;
    }*/
    #grid tbody tr:hover {
        background: #b6b6b6;
    }
    /*.k-grid .k-alt.k-state-selected {
        background-color: #f1f1f1 !important;
        color: #000000;
    }*/
</style>

<script id="btnAction-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='Detail(this)' title='Edit' class='edit'><span style='color:green'><i class='fa fa-edit'></i></span></a>
    @*<a href='javascript: void(0);' onclick='deleteGridRow(this)' title='Delete' class='delete'><span style='color:maroon'><i class='fa fa-trash-alt'></i></span></a>*@
</script>

<script>
    function GetStatusButton(data) {
        var button = "";
        if (data.Status == @PhoenixERPWebApp.Models.Enum.GoodRequestStatus.WaitingApproval) {
            button = "<center><a href='javascript: void(0);' onclick='ProcessData(this)' class='m-badge m-badge--info m-badge--wide'>@PhoenixERPWebApp.Models.Enum.GoodRequestStatus.StatusName(@PhoenixERPWebApp.Models.Enum.GoodRequestStatus.WaitingApproval)</a></center>";
        }else if (data.Status == @PhoenixERPWebApp.Models.Enum.GoodRequestStatus.Approved) {
            button = "<center><a href='javascript: void(0);' onclick='ProcessData(this)' class='m-badge m-badge--warning m-badge--wide'>@PhoenixERPWebApp.Models.Enum.GoodRequestStatus.StatusName(@PhoenixERPWebApp.Models.Enum.GoodRequestStatus.Approved)</a></center>";
        }else if (data.Status == @PhoenixERPWebApp.Models.Enum.GoodRequestStatus.Completed) {
            button = "<center><a href='javascript: void(0);' onclick='ProcessData(this)' class='m-badge m-badge--success m-badge--wide'>@PhoenixERPWebApp.Models.Enum.GoodRequestStatus.StatusName(@PhoenixERPWebApp.Models.Enum.GoodRequestStatus.Completed)</a></center>";
        }else {
            button = "<center><a href='javascript: void(0);' onclick='ProcessData(this)' class='m-badge m-badge--info m-badge--wide'>@PhoenixERPWebApp.Models.Enum.GoodRequestStatus.StatusName(@PhoenixERPWebApp.Models.Enum.GoodRequestStatus.WaitingApproval)</a></center>";
        }
        return button;
    }

    function Link(data) {

        return "<center><a href='javascript: void(0);' onclick='Detail(this)' title='Edit' class='edit'>" + data.GoodRequestNumber + "</a></center>";

    }

    function Detail(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("Detail", "GoodRequest")?Id=' + item.Id + '&isApprove=true';
    }

    function deleteGridRow(e) {
        deleteRow(e, '@Url.Action("Delete", "GoodRequest")');
    }

</script>


