﻿<form id="form-change_password" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
    <input hidden name="id" value="@ViewBag.RecordID" />
    <div class="m-portlet__body">
        <div class="m-form__group">
            <div class="row">
                <div class="col-lg-12 m-form__group-sub">
                    <div class="form-group">
                        <label>New Password :</label>
                        <input type="password" id="app_password" name="app_password" class="form-control form-control-sm m-input" placeholder="Enter New Password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 m-form__group-sub">
                    <div class="form-group">
                        <label>Confirm New Password :</label>
                        <input type="password" name="app_password_confirm" class="form-control form-control-sm m-input" placeholder="Retype New Password">
                        <span class="m-form__help">* Please re-type your new password</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--solid">
            <div class="row">
                <div class="col-lg-6">
                    <button type="button" id="btn-changepassword" class="btn btn-danger">Change</button>
                    <button type="reset" class="btn btn-secondary">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
