@{
    ViewBag.ModalTitle = "TaskTimesheet";
    ViewBag.ModalId = "TaskTimesheetModalCreate";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="TaskTimesheetFormCreate" method="post">
    

    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-input-group">
                                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                                        <label for="date_worksheet"><span class="translate"  data-args="date_worksheet">Date Worksheet</span></label>
                                        <input class="md-input" type="text" name="date_worksheet" id="date_worksheet" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                                    </div>            <div class="uk-input-group">
                                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                                        <label for="end_time"><span class="translate"  data-args="end_time">End Time</span></label>
                                        <input class="md-input" type="text" name="end_time" id="end_time" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                                    </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="notes">Notes</span> </label>
                <input class="md-input" name="notes" id="notes"  maxlength="2147483647" type="text">
            </div>            <div class="uk-input-group">
                                        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                                        <label for="start_time"><span class="translate"  data-args="start_time">Start Time</span></label>
                                        <input class="md-input" type="text" name="start_time" id="start_time" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                                    </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task">Task</span> </label>
                <input class="md-input" name="task" id="task"  maxlength="100" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_id">Task Id</span> </label>
                <input class="md-input" name="task_id" id="task_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="worksheet_description">Worksheet Description</span> </label>
                <input class="md-input" name="worksheet_description" id="worksheet_description"  maxlength="2147483647" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="submit" class="md-btn md-btn-primary"><i class="uk-icon-save"></i> Save</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>