@{
    ViewBag.ModalTitle = "ClientBriefCentralResource";
    ViewBag.ModalId = "ClientBriefCentralResourceModalUpdate";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="ClientBriefCentralResourceFormUpdate" method="POST">
<input value="" type="hidden" name="id" />
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="central_resource_id">Central Resource Id</span> </label>
                <input class="md-input" name="central_resource_id" id="central_resource_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_detail_id">Job Detail Id</span> </label>
                <input class="md-input" name="job_detail_id" id="job_detail_id"  maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="submit" class="md-btn md-btn-primary"><i class="uk-icon-save"></i> Save</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>