﻿@{
    ViewData["Title"] = "Balance Sheet";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Balance Sheet</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finace</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="balancesheet" asp-area="finance" class="m-nav__link"><span class="m-nav__link-text">Balance Sheet</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">

                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="ticketsForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Periode Range</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.Kendo().DatePicker().Name("Mydatepicker1").HtmlAttributes(new { required = "required" })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.Kendo().DatePicker().Name("Mydatepicker2").HtmlAttributes(new { required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                    </div>
                                    <div class="col-lg-8">
                                        <button type="submit" id="btnSearch" class="btn btn-success edit" style="padding:7px;"><span class="fa fa-filter"></span> Filter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.BalanceSheet>()
                                  .Name("grid")
                                  .Columns(column =>
                                  {
                                      column.Bound("").Title("No").Width(30).ClientTemplate("#= renderNumber(data) #");
                                      //column.Bound(p => p.name5).Width(300).Title("Account").ClientGroupFooterTemplate("#= LabelGroup(data) #");
                                      //column.Bound(p => p.advis).Width(150).Format("{0:n2}").Title("Advis").ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                      //column.Bound(p => p.iris).Width(150).Format("{0:n2}").Title("IRS").ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                      //column.Bound(p => p.Interface).Width(150).Format("{0:n2}").Title("Interface").ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                      //column.Bound(p => p.Total).Width(150).Format("{0:n2}").ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                      //column.Bound(p => p.name2).Hidden();
                                      column.Bound(p => p.name5).Width(300).Title("Account").ClientFooterTemplate("#= LabelGroup(data) #");
                                      column.Bound(p => p.advis).Width(150).Format("{0:n2}").Title("Advis").ClientFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                      column.Bound(p => p.iris).Width(150).Format("{0:n2}").Title("IRS").ClientFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                      column.Bound(p => p.Interface).Width(150).Format("{0:n2}").Title("Interface").ClientFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                      column.Bound(p => p.Total).Width(150).Format("{0:n2}").ClientFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                  })
                                  .Groupable()
                                  .Sortable()
                                  .Events(a => a.DataBound("gridDatabound"))
                                      .DataSource(dataSource => dataSource
                                          .Ajax()
                                          .Aggregates(aggregates =>
                                          {
                                              aggregates.Add(p => p.advis).Sum();
                                              aggregates.Add(p => p.iris).Sum();
                                              aggregates.Add(p => p.Interface).Sum();
                                              aggregates.Add(p => p.Total).Sum();
                                          })
                                          //.Group(group => group.Add(p => p.name2))
                                          .Read(read => read.Action("Read", "BalanceSheet").Data("grid_report_params"))
                                   )
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        var validator = $("#ticketsForm").kendoValidator().data("kendoValidator");
        var status = $(".status");

        $("form").submit(function (event) {
            event.preventDefault();
            if (validator.validate()) {
                status.text("Hooray! Your tickets has been booked!")
                    .removeClass("invalid")
                    .addClass("valid");
            } else {
                status.text("Oops! There is invalid data in the form.")
                    .removeClass("valid")
                    .addClass("invalid");
            }
        });
    });

    function gridDatabound() {
        rowNumber = 0;
    }

    function LabelGroup(data) {
        return "TOTAL "; //+ data.value;
    }

    $(document).ready(function () {
        $('.k-grouping-header').css('display', 'none');


    });

    var rowNumber = 0;

    function resetRowNumber(e) {
        rowNumber = 0;
    }

    function renderNumber(data) {
        return ++rowNumber;
    }

    function OnchangeLegal() {
        $('#Mydatepicker1').attr('readonly', 'readonly');
        $('#Mydatepicker2').attr('readonly', 'readonly');
    }

    @*function OnchangeFiscalYears() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetFiscalYearsById", "BalanceSheet")',
            data: { Id: $('#FiscalYearsId').val() },
            success: function (data) {
                if (data != null) {
                    $('#Mydatepicker1').attr('readonly', false);
                    $('#Mydatepicker2').attr('readonly', false);
                    $("#Mydatepicker1").kendoDatePicker({
                        min: new Date(data.StartDate),
                        max: new Date(data.EndDate),
                        month: {
                            empty: '<span class="k-state-disabled">#= data.value #</span>'
                        }
                    });

                    $("#Mydatepicker2").kendoDatePicker({
                        min: new Date(data.StartDate),
                        max: new Date(data.EndDate),
                        month: {
                            empty: '<span class="k-state-disabled">#= data.value #</span>'
                        }
                    });
                }
            }
        });
    }*@

    function fiscalyears_params() {
        return {
            Id: $("#FiscalYearsId").val()
        }
    }

    function legal_params() {
        return {
            legalId: $("#LegalEntity").val()
        }
    }

    $('#btnSearch').click(function () {
        var isOk = true;
        
        //if ($('#FiscalYearsId').val() == '') {
        //    isOk = false;
        //}
        
        var date1 = $("#Mydatepicker1").val();
        var date2 = $("#Mydatepicker2").val();
        if (date1 == "" && date2 != "") {
            isOk = false;
            swal('Warning', 'Start date and End date is required ! ', 'warning');
        }
        if (date1 != "" && date2 == "") {
            isOk = false;
            swal('Warning', 'Start date and End date is required ! ', 'warning');
        }

        if (!isOk) {
            var dateStart = new Date(date1);
            var dateEnd = new Date(date2);
            if (dateStart > dateEnd) {
                isOk = false;
                swal('Warning', 'End date must be greather than start date! ', 'warning');
            }
        }
       

        if (isOk)
            Refresh();
    });

    function Refresh() {
        //mApp.block("#m_blockui_list", {
        //    overlayColor: "#000000",
        //    type: "loader",
        //    state: "primary",
        //    message: "Processing..."
        //});

        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();
    }

    function grid_report_params() {
        //var legal = $("#LegalEntity").data("kendoDropDownList").value();
        //var div = $("#BusinessUnitId").data("kendoDropDownList").value();
        //var year = $("#FiscalYearsId").data("kendoDropDownList").value();
        var start = $("#Mydatepicker1").data("kendoDatePicker").value();
        var end = $("#Mydatepicker2").data("kendoDatePicker").value();
        return {
            Filter: {
                //LegalEntityId: legal,
                //BusinessUnitId: div,
                //FiscalYearsId: year,
                StartPeriodId: start,
                EndPeriodId: end
            }
        }
    }
</script>
