﻿@{
    ViewData["Title"] = "Invoice Delivery Notes";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<link href="~/bundles/css/datatable.min.css?@DateTime.Now" rel="stylesheet" />
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Invoice Delivery Notes</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Invoice Delivery Notes</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a href="#" onclick="AddNewData()" class="m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <input type="hidden" id="hdnSourceAdd" />
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">
                                    <div class="tooltip-arrow arrow" style="left: 48px;"></div>
                                    <div class="tooltip-inner">Fullscreen</div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <!--begin: Selected Rows Group Action Form -->
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.InvoiceDeliveryNotes>()
                                    .Name("grid")
                                    .Columns(columns =>
                                    {
                                        //columns.Bound("").ClientTemplateId("btnAction-template").Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(70);
                                        columns.Bound(p => p.Id).Title("Notes Delivery No").ClientTemplateId("no-template").Width(120);
                                        columns.Bound(p=>p.CreatedOn).ClientTemplateId("date-template").Title("Date").Width(140);
                                        columns.Bound(p => p.InvoiceNumber).Width(160);
                                        columns.Bound(p => p.ClientName).Title("Client Name").Width(150);
                                        columns.Bound(p => p.Status).Title("Status").ClientTemplateId("status-template").Width(120);
                                    })
                                    .Pageable(pageable => pageable
                                        .Refresh(true)
                                        .PageSizes(true)
                                        .ButtonCount(5))
                                    .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                    .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                        .Extra(false)
                                        .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Start sWith")
                                            .EndsWith("End sWith")
                                        )))
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(rsz => rsz.Columns(true))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        // .Events(events => events.Error("errorHandler"))
                                        .Model(model => { model.Id(p => p.Id); })
                                        .Read(read => read.Action("ReadIndex", "InvoiceDeliveryNotes"))
                                    )
                    )
                </div>
            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="modalMainServiceOption" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Main Service Option</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <ul style="margin: 0 0 -1em; padding: 0;">
                        <li style="list-style: none;padding-bottom: 1em;">
                            @(Html.Kendo().RadioButton().Name("option1").Checked(true).Value("0").HtmlAttributes(new { @name = "engine" }).Label("Other"))
                        </li>
                        <li style="list-style: none;padding-bottom: 1em;">
                            @(Html.Kendo().RadioButton().Name("option2").Value("1").HtmlAttributes(new { @name = "engine" }).Label("PCE Source"))
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnProcess" onclick="OpenAddPage()" class="btn btn-primary">Process</button>
            </div>
        </div>
    </div>
</div>

<script id="no-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='LinktoInv(this)' title='Edit' class='edit'><span style='color:blue; text-decoration:underline;'>#=Id#</span></a>
</script>
<script id="jobid-template" type="text/x-kendo-template">
    <span'>#=JobId# - #=JobName# </span'>
</script>
<script id="date-template" type="text/x-kendo-template">
    #if(CreatedOn != null){# #= kendo.toString(kendo.parseDate(CreatedOn), 'dd MMMM yyyy') # #}#
</script>
<script id="status-template" type="text/x-kendo-template">
    #if (Status == 'Open'){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--danger m-badge--wide'> #=Status#</a></center>
    #}#
    #if (Status == 'Closed'){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--success m-badge--wide'> #=Status#</a></center>
    #}#
    
</script>
<script id="btnAction-template" type="text/x-kendo-template">
    #if(Status== '5'){ #
    <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'><span style='color:green'><i class='fa fa-edit'></i></span></a>
    #}#
</script>
<script>
    
    function AddNewData() {
        window.location.href = '@Url.Action("Detail", "InvoiceDeliveryNotes")';
    }

    function LinktoInv(e) {
        var item = dataItem(e);
        if (parseInt(item.Status) > 1)
            window.location.href = '@Url.Action("Detail", "InvoiceDeliveryNotes")?Id=' + item.Id;
        else
            window.location.href = '@Url.Action("Detail", "InvoiceDeliveryNotes")?Id=' + item.Id;
    }
    
    function editGridRow(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("Detail", "InvoiceDeliveryNotes")?pceno=' + item.PceId + '&companyid=' + item.CompanyId + '&st=' + item.MainServiceCategory + '&statusDesc=' + item.Status;

    }
</script>
