@{
    ViewData["Title"] = "Brand";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    <span class="translate" data-args="Team">Team</span>
}

@section Paneltools{

}
@section Panelbody{
    <style>
        .checktd{
            width:50px;
        }
        .acttd {
            width: 100px;
        }
    </style>
    <form id="BrandFormTeam" method="post">
        <div class="row ">
            <div class="col-lg-12">
                <input value="@ViewBag.RecordID" type="hidden" name="id" />
                <input value="" type="hidden" id="sub_brand" name="sub_brand" />
                <div class="form-group">
                    <label><span class="translate" data-args="Company">Company</span> <span class="req">*</span>:</label>
                    <input readonly style="width:100%" class="form-control form-control-sm m-input m-input--square" id="company_name" type="text">
                </div>

                <div class="form-group">
                    <label><span class="translate" data-args="Brand">Brand</span> :</label>
                    <input readonly style="width:100%" class="form-control form-control-sm m-input m-input--square" id="brand_name" type="text">
                </div>
                <hr />
                <table class="table table-striped table-bordered table-hover table-checkable" id="CompanyBrandTeamList"></table>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <button type="button" onclick="fnCompanyBrandTeam.savedata()" id="btn-save" class="btn btn-primary">Save</button>
                <a href="~/ProjectManagement/Brand" class="fakelink btn btn-secondary">Close</a>
            </div>

        </div>
    </form>
}
@section Panelscript{
 
    <script src="~/assets/js/Areas/ProjectManagement/Form/Brand/team.js"></script>
}
