@{
    ViewData["Title"] = "Brand";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    <span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
    <form id="BrandFormUpdate" method="post">
        <div class="row ">
            <div class="col-lg-12">
                <input value="@ViewBag.RecordID" type="hidden" name="id" />
                <input value="" type="hidden" id="sub_brand" name="sub_brand" />
                <div class="form-group">
                    <label><span class="translate" data-args="Company">Company</span> <span class="req">*</span>:</label>
                    <select required id="company_id" name="company_id" class="form-control form-control-sm m-input m-input--square"></select>
                </div>

                <div class="form-group">
                    <label><span class="translate" data-args="Brand">Brand</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" name="brand_name" id="brand_name" maxlength="50" type="text">
                </div>

                <div class="form-group">
                    <label><span class="translate" data-args="sub brand">Sub brand</span> <span class="req">*</span>:</label>
                    <input style="width:100%" class="form-control form-control-sm m-input m-input--square" id="sub_brandtag" type="text">
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="Account">Account</span> :</label>
                    <select required id="brand_account" name="brand_account[]" multiple class="form-control form-control-sm m-input m-input--square"></select>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
                <a href="~/ProjectManagement/Brand" class="fakelink btn btn-secondary">Close</a>
            </div>

        </div>
    </form>
}
@section Panelscript{
    <script type="text/javascript" src="~/vendors/custom/jeasyui/jquery.easyui.min.js"></script>
    <script src="~/assets/js/Areas/ProjectManagement/Form/Brand/update.js"></script>
}
