﻿@{
    ViewData["Title"] = "Manage Azure Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Setting</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-gear"></i>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Um/ManageAzureAccount")" class="m-nav__link">
                        <span class="m-nav__link-text">Manage Azzure Account</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Add / Edit Azure Account</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <div class="form-group">
                        <label>Client ID</label>
                        <input type="text" class="form-control in-client" maxlength="250" />
                    </div>
                    <div class="form-group">
                        <label>Tenant ID / Directory ID</label>
                        <input type="text" class="form-control in-tenant" maxlength="250" />
                    </div>
                    <div class="form-group">
                        <label>Email Account</label>
                        <input type="email" class="form-control in-email" maxlength="250" autocomplete="off"/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control in-pwd"  autocomplete="off"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-default btn-back-ap">BACK</button>
                        <button class="btn btn-sm btn-primary btn-save-ap">SUBMIT</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<input type="hidden" id="hidcode" value="@Html.Raw(ViewBag.Codex)" />

@section Scripts{
    <script src="~/Areas/Um/Scripts/manage.ap.setup.js" asp-append-version="true"></script>

    <script>
        $(function () {
            bindEditedData();
            $('.btn-save-ap').on('click', function () {
                save();
            });
            $('.btn-back-ap').on('click', function () {
                window.location.href = '/um/manageazureaccount';
            });
        })
    </script>
}


