@{
    ViewBag.ModalTitle = "Mpp";
    ViewBag.ModalId = "MppModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="MppFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">
            
            <div class="form-group">
                <label><span class="translate" data-args="code">code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_code" id="search_code"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="created_date">created_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_created_date" id="search_created_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="fiscal_year">fiscal_year</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_fiscal_year" id="search_fiscal_year"  maxlength="50" type="text">
            </div>
            <div>
                <label><span class="translate" data-args="total_budget">total_budget</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_total_budget" id="search_total_budget"   type="number">
            </div>  
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnMpp.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnMpp.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>