@{
    ViewData["Title"] = "Mpp Update";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    <span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
    <style>
        .m-margin__top-20 {
            margin-top: 20px !important;
        }
    </style>
    <form id="MppFormUpdate" method="post">
        <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
        <div class="row m-row--col-separator-xl">
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="fiscal_year">Fiscal Year</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" type="hidden" id="fical_year" name="fical_year">
                    <input class="form-control form-control-sm m-input m-input--square" type="hidden" id="created_date" name="created_date">
                    <input class="form-control form-control-sm m-input m-input--square" type="hidden" id="created_on" name="created_on">
                    <input class="form-control form-control-sm m-input m-input--square" type="hidden" id="code" name="code">
                    <input class="form-control form-control-sm m-input m-input--square" type="hidden" id="total_budget" name="total_budget">
                    <input class="form-control form-control-sm m-input m-input--square" type="hidden" id="status" name="status">
                    <span id="tmpmpp2"></span>
                    <input class="form-control form-control-sm m-input m-input--square" name="fiscal_year" id="fiscal_year" maxlength="255" type="text" placeholder="Fiscal Year" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="business_unit">Business Unit</span> :</label>
                    <input id="business_unit_id_name" name="business_unit_id_name" class="form-control form-control-sm m-input m-input--square" type="text" readonly />
                    <span class="md-input-bar "></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <input id="business_unit_id" name="business_unit_id" class="md-input" type="hidden">
                    <button onclick="showtreebu('business_unit_id','business_unit_id_name')" type="button" class="btn btn-secondary m-margin__top-20">Choose Business Unit</button>
                    <span class="md-input-bar "></span>
                </div>
            </div>
        </div>
        <hr />
        <div class="row m-row--col-separator-xl">
            <div class="col-md-11">
                <!-- Content Left -->&nbsp;
            </div>
            <div class="col-md-1">
                <a data-target="#MppDetailFormCreateModal"  data-toggle="modal" class="m-btn btn btn-primary btn-sm m-btn--sm" "><i class="uk-icon-plus"></i> <span class="translate" data-args="Add">Add</span></a>

            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-12">
                <table id="MppDetailList" class="table table-striped table-bordered table-hover table-checkable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Job Title</th>
                            <th>TFF</th>
                            <th>Employment Status</th>
                            <th>MPP Budget</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>


        <hr />
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <button type="button" id="btn-save" class="btn btn-primary">Save</button>
                    <button type="submit" id="btn-submit" name="btn-submit" class="btn btn-success">Submit</button>
                    <a href="../../hris/Mpp" class="fakelink btn btn-secondary">Cancel</a>
                </center>
            </div>
        </div>
    </form>
    @Html.Partial("MppDetail/Create");
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/Mpp.update.js"></script>
}
