@model PhoenixERPWebApp.Models.Termination
@{
    if (Model.IsApprove == true)
    {
        ViewData["Title"] = "Retired Request Form Approval";
    }
    else
    {
        ViewData["Title"] = "Retired Request Form";
    }

    Layout = "~/Views/Shared/_LayoutKendo.cshtml";

    DateTime? TerminationDate = DateTime.Now;
    if (!string.IsNullOrEmpty(Model.Id))
    {
        if (TerminationDate >= Model.TerminationDate)
        {
            TerminationDate = Model.TerminationDate;
        }
    }
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">HRIS</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (Model.IsApprove == true)
                    {
                        <a asp-action="indexapproval" asp-controller="retired" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Retired Request Approval</span></a>
                    }
                    else
                    {
                        <a asp-action="index" asp-controller="retired" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Retired Request</span></a>
                    }
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (Model.IsApprove == true)
                    {
                        <a asp-action="addedit" asp-controller="retired" asp-area="hrisnew" asp-route-Id="@Model.Id" asp-route-isApprove="true" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else if (string.IsNullOrEmpty(Model.Id))
                    {
                    <a asp-action="addedit" asp-controller="retired" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else
                    {
                    <a asp-action="addedit" asp-controller="retired" asp-area="hrisnew" asp-route-Id="@Model.Id" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-success">Retired Request Form</h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formTermination" class="form-horizontal form-bordered" role="form">
                        <input type="hidden" asp-for="CreatedBy" />
                        <input type="hidden" asp-for="CreatedOn" />
                        <input type="hidden" asp-for="ModifiedBy" />
                        <input type="hidden" asp-for="ModifiedOn" />
                        <input type="hidden" asp-for="ApprovedBy" />
                        <input type="hidden" asp-for="ApprovedOn" />
                        <input type="hidden" asp-for="IsActive" />
                        <input type="hidden" asp-for="IsLocked" />
                        <input type="hidden" asp-for="IsDefault" />
                        <input type="hidden" asp-for="IsDeleted" />
                        <input type="hidden" asp-for="OwnerId" />
                        <input type="hidden" asp-for="DeletedBy" />
                        <input type="hidden" asp-for="DeletedOn" />
                        <input type="hidden" asp-for="BusinessUnitDivisionId" />
                        <input type="hidden" asp-for="BusinessUnitDepartementId" />
                        <input type="hidden" asp-for="Requestor" />
                                                 
                        <partial name="_RequestEmploye" />   
                        <br/>
                        <partial name="_AssignEmploye" />  
                        <br/>
                        
                        <div class="row" id="retired_data_detail">
                            <div class="col-lg-12 m-row--no-padding">
                                <div class="m-accordion m-accordion--bordered m-accordion--solid" id="retired_Detail" role="tablist">
                                    <!--begin::Item-->
                                    <div class="m-accordion__item">
                                        <div class="m-accordion__item-head show" role="tab" id="retired_Detail_head" data-toggle="collapse" href="#retired_Detail_body" aria-expanded="true">
                                            <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                            <span class="m-accordion__item-title">Retired Information</span>
                                            <span class="m-accordion__item-mode"></span>
                                        </div>
                                        <div class="m-accordion__item-body show" id="retired_Detail_body" role="tabpanel" aria-labelledby="retired_Detail_head" data-parent="#retired_Detail">
                                            <div class="m-accordion__item-content">                            
                                                <div class="row">                                                
                                                   <div class="col-lg-4 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label asp-for="TerminationTypeName"></label> :
                                                            @(Html.Kendo().TextBoxFor(m => m.TerminationTypeName)
                                                                .HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @readonly = "readonly",
                                                                    @class = "form-control form-control-sm m-input"
                                                                }))
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label asp-for="TerminationDate"></label> <span class="req">*</span> :
                                                            @(Html.Kendo().DatePickerFor(m => m.TerminationDate)
                                                                .Format("dd MMM yyyy")
                                                                .Min($"{TerminationDate}")
                                                                .HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @class = "form-control form-control-sm m-input",
                                                                    required = "required",
                                                                    placeholder = $"Choose a {Html.DisplayNameFor(m => m.TerminationDate)}",
                                                                    onkeydown = "javascript:return false;"
                                                                })
                                                            )
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 m-form__group-sub">
                                                        <div class="form-group">
                                                           <label asp-for="ReplacementStatus"></label> <span class="req">*</span> :
                                                           @(Html.Kendo().DropDownListFor(x=>x.ReplacementStatus)
                                                              .DataTextField("Text")
                                                              .DataValueField("Value")
                                                              .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.ReplacementStatus)}")
                                                              .BindTo(new List<SelectListItem>() {
                                                                  new SelectListItem() { Text = "Rehiring", Value = "1" },
                                                                  new SelectListItem() { Text = "New Hire",Value = "2" }
                                                              })
                                                              .HtmlAttributes(
                                                                new {
                                                                    style = "width: 100%",
                                                                    @class = "form-control form-control-sm m-input",
                                                                    required = "required"
                                                                })
                                                            )
                                                        </div>
                                                    </div>
                                                 </div>

                                                <div class="row">
                                                    <div class="col-lg-12 m-form__group-sub">
                                                        <div class="form-group">
                                                            <label asp-for="Reason"></label> <span class="req">*</span> :
                                                            @(Html.Kendo().EditorFor(x => x.Reason)
                                                                .HtmlAttributes(new { style = "width:100%", aria_label = "editor", required = "required" })
                                                                .Resizable(resizable => resizable.Content(true).Toolbar(true))
                                                                .Placeholder($"Type your {Html.DisplayNameFor(m => m.Reason)} here")
                                                            )
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <partial name="_HistoryApproval" />

                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    @if (ViewBag.isRequestor == true)
                                    {
                                        @if ((Model.Status ?? 0) == PhoenixERPWebApp.Models.StatusTransaction.Draft)
                                        {
                                            <button type="button" id="btnSave" class="btn btn-success edit"><span class="fa fa-save"></span> Save</button>
                                        }
                                        <button type="button" id="btnSubmit" class="btn btn-primary edit"><span class="fa fa-paper-plane"></span> Submit</button>
                                    }

                                    @if (Model.IsApprove == true)
                                    {
                                        @if (ViewBag.processApprove == true)
                                        {
                                            <button type="button" id="btnShow" class="btn btn-danger"><span class="fa fa-ban"></span> Reject</button>
                                            @*<button type="button" id="btnReject" class="btn btn-danger edit"><span class="fa fa-ban"></span> Reject</button>*@
                                            <button type="button" id="btnApprove" class="btn btn-primary edit"><span class="fa fa-bookmark"></span> Approve</button>
                                        }
                                        <a asp-action="Indexapproval" asp-controller="retired" asp-area="hrisnew" class="fakelink btn btn-secondary"><span class="fa fa-arrow-circle-left"></span> Cancel</a>
                                    }
                                    else
                                    {
                                        <a asp-action="index" asp-controller="retired" asp-area="hrisnew" class="fakelink btn btn-secondary"><span class="fa fa-arrow-circle-left"></span> Cancel</a>
                                    }
                                </div>
                            </div>
                        </div>
                                                
                        <div class="modal fade" id="modalRemark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Remarks</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            @Html.TextAreaFor(x => x.RemarkRejected, new { style = "height:150px;width:100%" })
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" id="btnReject" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>            
    $(document).ready(function () {
        if ('@Model.Status' != '') {
            if ('@Model.IsApprove' == "True" || !('@Model.Status' == '@PhoenixERPWebApp.Models.StatusTransaction.Draft')) {// || '@Model.Status' == '@PhoenixERPWebApp.Models.StatusTransaction.Rejected')) {
                $('.k-editor-toolbar').hide();
                $($("#Reason").data().kendoEditor.body).attr("contentEditable", false);
                $($("#Reason").data().kendoEditor.body).css("background-color", "#F8F9FA");

                $("#TerminationDate").data("kendoDatePicker").readonly();
                $("#ReplacementStatus").data("kendoDropDownList").readonly();
                $("#search").remove();
            }
        }
    });

    $('#btnShow').click(function () {
        $("#RemarkRejected").attr("required", "required");
        $('#modalRemark').modal('show');
    });

    $('#btnApprove').click(function () {
        $("#RemarkRejected").removeAttr("required", "required");
        callActionFile({ formId: "formTermination", title: "approval request", type:"POST", url: '@Url.Action("approve", "retired")'});
    });

    $('#btnReject').click(function () {
        callActionFile({ formId: "formTermination", title: "cancel request", type:"POST", url: '@Url.Action("reject", "retired")'});
    });

    $('#btnSubmit').click(function () {
        callAction({ formId: "formTermination", title: "submit", type:"POST", url: '@Url.Action("submit", "retired")'});
    });

    $('#btnSave').click(function () {
        callActionFile({ formId: "formTermination", title: "save", type:"POST", url: '@Url.Action("save", "retired")'});
    });
</script>