@{
    ViewBag.ModalTitle = "JobStatusSet";
    ViewBag.ModalId = "JobStatusSetModalCreate";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="JobStatusSetFormCreate" method="post">
    

    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_status_set">Job Status Set</span> </label>
                <input class="md-input" name="job_status_set" id="job_status_set"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_status_set_desc">Job Status Set Desc</span> </label>
                <input class="md-input" name="job_status_set_desc" id="job_status_set_desc"  maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="submit" class="md-btn md-btn-primary"><i class="uk-icon-save"></i> Save</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>