@{
    ViewBag.ModalTitle = "ApprovalDetail";
    ViewBag.ModalId = "ApprovalDetailModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="ApprovalDetailFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="approval_id">approval_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_approval_id" id="search_approval_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="approval_level">approval_level</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_approval_level" id="search_approval_level"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="approval_status_id">approval_status_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_approval_status_id" id="search_approval_status_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="approver_id">approver_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_approver_id" id="search_approver_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="expiry_datetime">expiry_datetime</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_expiry_datetime" id="search_expiry_datetime"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="is_auto_approved">is_auto_approved</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_is_auto_approved" id="search_is_auto_approved"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="previous_approval">previous_approval</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_previous_approval" id="search_previous_approval"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnApprovalDetail.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnApprovalDetail.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>