﻿@model PhoenixERPWebApp.Models.RequestForQuotation
<style>
    .modallargewidth {
        width: 90%;
        max-width: 1200px;
    }

    .has-danger label:not([class]) {
        color: ##f4516c;
    }
</style>

<div class="modal fade" id="modalVendor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modallargewidth">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Add Vendor Price
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">                 
                <input type="hidden" asp-for="RequestForQuotationVendor.CreatedBy" /> 
                <input type="hidden" asp-for="RequestForQuotationVendor.CreatedOn" /> 
                <input type="hidden" asp-for="RequestForQuotationVendor.ModifiedBy" /> 
                <input type="hidden" asp-for="RequestForQuotationVendor.ModifiedOn" /> 
                <input type="hidden" asp-for="RequestForQuotationVendor.Id" id="TempId" />  
                <input type="hidden" asp-for="RequestForQuotationVendor.VendorName" id="TempVendorName" />                    
                <div class="m-form__group">  
                    <div class="row ">
                        <div class="col-lg-2"><label asp-for="RequestForQuotationVendor.VendorId"></label><span class="req">*</span> : </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                @(Html.Kendo().DropDownListFor(x=>x.RequestForQuotationVendor.VendorId)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.RequestForQuotationVendor.VendorId)}")
                                    .HtmlAttributes(new { style = "width:100%;", @id= "VendorId" })
                                    .Height(400)
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Custom()
                                        .Transport(transport => transport
                                        .Read(read =>
                                        {
                                            read.Action("GetDDLRFQVendors", "Dropdown", new { area = "Finance" }).Data("gridDetail_params");
                                        }))
                                        .ServerFiltering(false))
                                    .AutoBind(true)
                                )
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-2"><label asp-for="RequestForQuotationVendor.Description"></label> : </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.TextAreaFor(x => x.RequestForQuotationVendor.Description, new { style = "height:50px;width:100%", @id = "Description" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group m-form__group row m-row--no-padding">
                                <div class="col-lg-12 m-row--no-padding" id="m_blockui_list">
                                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.RequestForQuotationDetail>()
                                        .Name("grid-RequestforQuotationDetailList")
                                        .Columns(columns =>
                                        {
                                            if (ViewBag.isRequestor == true)
                                            {
                                                columns.Command(command =>
                                                {
                                                    command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                            }
                                            columns.Bound(p => p.ItemTypeId).ClientTemplate("#if(ItemTypeId!=null){# #=ItemTypeName# #}#").Width(150);
                                            columns.Bound(p => p.ItemId).ClientTemplate("#if(ItemCode!=null){# #=ItemCode# - #=ItemName# #}#").Width(150);
                                            columns.Bound(p => p.Task).Width(200);
                                            columns.Bound(p => p.Qty).EditorTemplateName("Finance/RequestForQuotation/Integer").Width(100);
                                            columns.Bound(p => p.UomId).ClientTemplate("#=UomName#").Width(100);
                                            columns.Bound(p => p.UnitPrice).EditorTemplateName("Finance/RequestForQuotation/Decimal").Width(200);
                                            columns.Bound(p => p.Amount).EditorTemplateName("DecimalReadOnly").Width(200);

                                        })
                                        .Editable(x => x.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(true))
                                        .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .PageSize(10)
                                            .Events(events => events.Error("errorHandler"))
                                            .Model(model => {
                                                model.Id(p => p.Id);
                                                model.Field(p => p.ItemTypeId).Editable(false);
                                                model.Field(p => p.ItemId).Editable(false);
                                                model.Field(p => p.Task).Editable(false);
                                                model.Field(p => p.UomId).Editable(false);
                                            })
                                            .Read(read => read.Action("ReadDetail", "RequestForQuotation").Data("gridDetail_params"))
                                            .Update(update => update.Action("UpdateDetail", "RequestForQuotation"))
                                        )
                                        .Events(e => e.Save("saveDetailVendor_event").Remove("removeDetailVendor_event"))
                                        .NoRecords()
                                        .AutoBind(false)
                                    )
                                    <script type="text/x-kendo-template" id="template">
                                        <div class="col-lg-3">
                                            <div class="k-upload-init-progress">
                                                <h6>Loading...</h6>
                                            </div>
                                        </div>
                                        <input name="files" class="file-upload" id="files_#=id #" type="file" style="display:none" />
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-8"><div class="pull-right">Sub Total</div></div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                @(Html.Kendo().NumericTextBoxFor(x=>x.RequestForQuotationVendor.SubTotalVendor)
                                    .Spinners(false)
                                    .HtmlAttributes(new { style = "width:100%", @readonly = "readonly", @id = "Subtotal" })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-8"><div class="pull-right"><label asp-for="RequestForQuotationVendor.VatPercent"></label><span class="req">*</span></div></div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                @(Html.Kendo().NumericTextBoxFor(x=>x.RequestForQuotationVendor.VatPercent)
                                    .Spinners(false)
                                    .Format("## \\%")
                                    .Events(x => x.Change("VatPercent_Change"))
                                    .HtmlAttributes(new { style = "width:100%", @id = "VatPercent" })
                                )

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                @(Html.Kendo().NumericTextBoxFor(x=>x.RequestForQuotationVendor.Vat)
                                    .Spinners(false)
                                    .HtmlAttributes(new { style = "width:100%", @readonly = "readonly", @id = "Vat" })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-8"><div class="pull-right">Total</div></div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                @(Html.Kendo().NumericTextBoxFor(x=>x.RequestForQuotationVendor.TotalAmountVendor)
                                    .Spinners(false)
                                    .HtmlAttributes(new { style = "width:100%", @readonly = "readonly", @id = "GrandTotal" })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-8"><div class="pull-right">Attachment :</div></div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div id="divAttachmentFile"></div>
                                <div style="width:100%">
                                    <input type="hidden" asp-for="RequestForQuotationVendor.FilemasterId" id="FilemasterId" />
                                    <input type="hidden" asp-for="RequestForQuotationVendor.FilemasterName" id="FilemasterName" />
                                    <a href='javascript: void(0);' id="linkdetailAttachmentDownloadFile" onclick='downloadAttachmentFile()'></a> &nbsp;
                                    <a href='javascript: void(0);' id="linkdetailAttachmentRemoveFile"  onclick='removeAttachmentFile()' title='Delete'><span style='color:maroon'><i class='fa fa-times'></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                @if (ViewBag.isRequestor == true)
                {
                <button type="button" class="btn btn-primary" id="btn-save-detail" onclick="saveDetailVendor()">Submit</button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

