﻿<input hidden id="detail-id" value="@ViewBag.RecordID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Purchase Order</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Procurment & Expenses</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/PurchaseOrder")" class="m-nav__link">
                        <span class="m-nav__link-text">Purchase Order</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <!--NEW -->
        <div class="col-xl-12 col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--last m-portlet--head-sm m-portlet--responsive-mobile" id="main_portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    Purchase Order &nbsp;
                                    <span id="status"></span>
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <button class="go-back btn btn-sm m-btn--sm btn-secondary m-btn m-btn--icon m-btn--wide m--margin-right-10">
                                <span>
                                    <i class="la la-arrow-left"></i>
                                    <span>Back</span>
                                </span>
                            </button>
                            <a href="@Url.Content("~/Finance/PurchaseOrder")" class="go-back btn btn-sm m-btn--sm btn-secondary m-btn m-btn--icon m-btn--wide m--margin-right-10">
                                <span>
                                    <i class="la la-arrow-left"></i>
                                    <span>Close</span>
                                </span>
                            </a>
                            <button type="button" id="btn-save" class="btn btn-sm m-btn--sm btn-info m-btn m-btn--icon m-btn--wide m--margin-right-10">
                                <span>
                                    <i class="la la-save"></i>
                                    <span>Save to Draft</span>
                                </span>
                            </button>
                            <button style="display:none" type="button" id="btn-submit" class="btn btn-sm m-btn--sm btn-primary m-btn m-btn--icon m-btn--wide m--margin-right-10">
                                <span>
                                    <i class="la la-save"></i>
                                    <span>Submit</span>
                                </span>
                            </button>
                            <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>

                        </div>
                    </div>
                </div>


                <input hidden name="approval_id" />

                <div class="m-portlet__body">
                    <!--begin::Form-->
                    <form id="form-PurchaseOrder" class="m-form">
                        <input hidden name="id" value="@ViewBag.RecordID" />

                        <div class="row">
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>Request ID :</label>
                                    <input id="request_id" name="request_id" type="text" class="form-control form-control-sm m-input" disabled>
                                </div>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>PO Number :</label>
                                    <input id="purchase_order_number" name="purchase_order_number" type="text" class="form-control form-control-sm m-input" disabled>
                                </div>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>Purchase Order Date :</label>
                                    <div class="input-group input-group-sm date">
                                        <input type="text" class="form-control m-input marvel-datepicker" readonly placeholder="Select Date & Time" name="purchase_order_date" id="purchase_order_date" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>Delivery Date :</label>
                                    <div class="input-group input-group-sm date">
                                        <input type="text" class="form-control m-input marvel-datepicker" readonly placeholder="Select Date & Time" name="delivery_date" id="delivery_date" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>Business Unit</label>
                                    <div class="input-group">
                                        <input hidden name="business_unit_id" />
                                        <input id="business_unit_id" name="business_unit_id" style="height:100%; width:100%;" disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>Legal Entity :</label>
                                    <input id="legal_entity_id" name="legal_entity_id" style="width: 100%;height:100%" disabled />
                                </div>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>Affiliation :</label>
                                    <input id="affiliation_id" name="affiliation_id" style="width: 100%;height:100%" disabled />
                                </div>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>Status :</label>
                                    <input id="purchase_order_status_id" name="purchase_order_status_id" style="height:100%; width:100%;" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 m-row--no-padding">
                                <label><h5>Company</h5></label>
                                <div class="m-section__content">
                                    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                        <div class="m-demo__preview">
                                            <div class="row">
                                                <div class="col-lg-4 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label class="">Vendor Name :</label>
                                                        <input id="company_id" name="company_id" style="width:100%; height:100%" disabled />
                                                    </div>
                                                </div>
                                                <input id="company_name" name="company_name" hidden />
                                                <div class="col-lg-4 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label>Number NPWP :</label>
                                                        <input id="tax_registration_number" name="tax_registration_number" type="text" class="form-control form-control-sm m-input" placeholder="Number NPWP">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label>Company Reference :</label>
                                                        <input type="text" id="company_reference" name="company_reference" class="form-control form-control-sm m-input"
                                                               placeholder="Enter Company Reference">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label>PIC Name :</label>
                                                        <input id="pic_name" name="pic_name" type="text" class="form-control form-control-sm m-input" placeholder="PIC Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label>Special Request :</label>
                                                        <select id="special_request" name="special_request" class="form-control form-control-sm m-input m-input--square"></select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label class="">Description :</label>
                                                        <input type="text" id="description" name="description" class="form-control form-control-sm m-input"
                                                               placeholder="Enter Description">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End: Company -->
                        <!-- Begin: Payment -->
                        <div class="row">
                            <div class="col-lg-12 m-row--no-padding">
                                <label><h5>Payment</h5></label>
                                <div class="m-section__content">
                                    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                        <div class="m-demo__preview">
                                            <div class="row">
                                                <div class="col-lg-3 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label>Invoicing :</label>
                                                        <input id="invoicing_type_id" name="invoicing_type_id" style="height:100%; width:100%;" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label>Request Type :</label>
                                                        <input id="payment_method_id" name="payment_method_id" style="width:100%; height:100%" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 m-form__group-sub">
                                                    <label>Amount</label>
                                                    <div class="input-group input-group-sm ">
                                                        <div class="input-group-prepend">
                                                            <select id="currency_id" name="currency_id" class="form-control form-control-sm m-input m-input--square"></select>
                                                        </div>
                                                        <input id="amount" name="amount" placeholder="Enter Amount" type="text" class="form-control" aria-label="Text input with dropdown button">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label class="">Exchange Rate :</label>
                                                        <input type="text" id="exchange_rate" name="exchange_rate" class="form-control form-control-sm m-input"
                                                               placeholder="Enter Exchange Rate">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label class="">Discount Percent :</label>
                                                        <div class="m-input-icon m-input-icon--right">
                                                            <input type="text" name="discount_percent" id="discount_percent" class="form-control form-control-sm m-input" placeholder="Enter Discount Percent">
                                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-percent"></i></span></span>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-lg-4 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label class="">Discount Amount :</label>
                                                        <input type="text" id="discount_amount" name="discount_amount" class="form-control form-control-sm m-input"
                                                               placeholder="Enter Discount Amount">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label>VAT Percent :</label>
                                                        <div class="m-input-icon m-input-icon--right">
                                                            <input type="text" name="vat_percent" id="vat_percent" class="form-control form-control-sm m-input" placeholder="Enter VAT Percent">
                                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-percent"></i></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label>Term 1 :</label>
                                                        <div class="m-input-icon m-input-icon--right">
                                                            <input type="text" name="percent_payment_term1" id="percent_payment_term1" class="form-control form-control-sm m-input" placeholder="Enter Term 1">
                                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-percent"></i></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label>Term 2 :</label>
                                                        <div class="m-input-icon m-input-icon--right">
                                                            <input type="text" name="percent_payment_term2" id="percent_payment_term2" class="form-control form-control-sm m-input" placeholder="Enter Term 1">
                                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-percent"></i></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 m-form__group-sub">
                                                    <div class="form-group">
                                                        <label>Term 3 :</label>
                                                        <div class="m-input-icon m-input-icon--right">
                                                            <input type="text" name="percent_payment_term3" id="percent_payment_term3" class="form-control form-control-sm m-input" placeholder="Enter Term 1">
                                                            <span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-percent"></i></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End: Payment -->
                    </form>
                    <!-- Begin: Approval -->
                    <div class="row">
                        <div class="col-lg-12 m-row--no-padding">
                            <label><h5>Approval</h5></label>
                            <div class="m-section__content">
                                <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                    <div class="m-demo__preview">
                                        <div class="row">
                                            <!-- Begin: Approval By -->
                                            <div class="col-lg-12 m-form__group-sub">
                                                <div class="form-group">
                                                    <label>Approved By :</label>
                                                    <select id="approverId" name="approverId" class="form-control form-control-sm m-input m-input--square"></select>
                                                </div>
                                            </div>
                                            <!-- End: Approval By -->
                                        </div>
                                        <input id="approval_id" name="approval_id" hidden />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: Approval -->
                    <div class="row">
                        <div class="col-lg-12 m-row--no-padding" id="m_blockui_list">
                            <h5>Purchase Order Details</h5>

                            <div class="m-section__content" id="m_blockui_list">
                                <div id="grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end::Portlet-->
        </div>
        <!--END::NEW-->
       
    </div>
</div>

<!-- Modal Container -->
<div class="modal-container"></div>

@section Scripts{
    <script src="~/demo/demo_12/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="~/vendors/custom/momenjs/moment.min.js"></script>
    <script src="~/Areas/Finance/Scripts/PurchaseOrder.Detail.js?@DateTime.Now" asp-append-version="true"></script>
}