﻿@{
    ViewData["Title"] = "Good Receipt";
}


<input hidden id="detail-id" value="@ViewBag.RecordID" />
<input hidden id="entity_id" value="@ViewBag.EntityID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Good Receipt</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/GoodReceipt")" class="m-nav__link">
                        <span class="m-nav__link-text">Good Receipt</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body">

                    <div class="m-form__group">
                        <h5>Good Receipt <span style="width: 100px;" id="status"></span></h5>

                        <!--begin::Form-->
                        <input hidden name="approval_id" />
                        <form id="form-goodreceipt" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input hidden name="id" value="@ViewBag.RecordID" />
                            <div class="row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Good Receipt Number :</label>
                                        <input class="form-control form-control-sm" readonly name="gr_number" id="gr_number" />
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>PO Number :</label>
                                        <input class="form-control form-control-sm" readonly name="po_number" id="po_number" />
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>PO Status :</label>
                                        <div class="input-group input-group-sm">
                                            <select id="po_status" name="po_status" class="form-control m-input m-input--square"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Vendor :</label>
                                        <input class="form-control form-control-sm" readonly name="vendor" id="vendor" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Date :</label>
                                        <div class="input-group input-group-sm date">
                                            <input type="text" class="form-control m-input marvel-datepicker" readonly placeholder="Select date" name="date" id="date" />
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Type :</label>
                                        <div class="input-group input-group-sm">
                                            <select id="type" name="type" class="form-control m-input m-input--square"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Delivery Place :</label>
                                        <input class="form-control form-control-sm" readonly name="delivery_place" id="delivery_place" />
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Receipt By :</label>
                                        <input id="receipt_by" name="receipt_by" readonly class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Term :</label>
                                        <input id="term" name="term" readonly class="form-control form-control-sm" />
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Delivery Order Number :</label>
                                        <input id="delivery_order_number" name="delivery_order_number" readonly class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <a href="@Url.Content("~/Finance/GoodReceipt/Detail/")" class="m-btn btn btn-primary btn-sm m-btn--sm">add <i class="la la-plus"></i></a>
                            <div id="gridDetail"></div>
                            <script type="text/x-kendo-template" id="grid_template">
                                <div class="grid-detail-marvel">
                                    <div class="col-lg-6">
                                        <div class="status-approval"></div>

                                    </div>

                                </div>
                            </script>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" id="btn-save" class="btn btn-sm btn-success"><i class="la-save"></i>Save</button>
                            <button type="button" id="btn-submit" class="btn btn-sm btn-primary" disabled="disabled">Submit</button>
                            <a href="@Url.Content("~/Finance/GoodReceipt")" class="fakelink btn btn-sm btn-secondary">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/Vendors/custom/KendoUI/js/kendo.all.min.js"></script>

    <script type="text/javascript" src="~/vendors/custom/jeasyui/jquery.easyui.min.js"></script>
    <script src="~/Areas/Finance/Scripts/GoodReceipt.Detail.js?@DateTime.Now" asp-append-version="true"></script>
    <script src="~/vendors/custom/query-builder/js/doT.min.js"></script>
    <script src="~/vendors/custom/query-builder/js/jQuery.extendext.js"></script>
    <script src="~/vendors/custom/query-builder/src/interact.min.js"></script>
    <script src="~/vendors/custom/query-builder/src/query-builder.standalone.js?@DateTime.Now" asp-append-version="true"></script>
}
