@{
    ViewData["Title"] = "Sub Salary Component";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    <span class="translate" data-args="create">Update</span>
}

@section Paneltools{

}
@section Panelbody{
    <form id="SubSalaryComponentFormUpdate" method="post">
        <input value="@ViewBag.RecordID" type="hidden" name="id" />
        <div class="row ">
            <div class="col-lg-12">

                <div class="form-group">
                    <label><span class="translate" data-args="name">Sub Component Name</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" name="name" id="name" type="text">
                </div>

                <div class="form-group">
                    <label><span class="translate" data-args="value">Value</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" name="value" id="value" type="number">
                </div>

                <div class="form-group">
                    <label><span class="translate" data-args="description">Description</span> :</label>
                    <input class="form-control form-control-sm m-input m-input--square" name="description" id="description" maxlength="2147483647" type="text">
                </div>

                <div class="form-group">
                    <label><span class="translate" data-args="salary_component_id">Salary Component</span> :</label>
                    <select id="salary_component_id" name="salary_component_id" class="form-control form-control-sm m-input m-input--square"></select>
                </div>



            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
                <a href="~/Hris/SubSalaryComponent" class="fakelink btn btn-secondary">Close</a>
            </div>

        </div>
    </form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/SubSalaryComponent.update.js"></script>
}
