@{
    ViewBag.ModalTitle = "Channel";
    ViewBag.ModalId = "ChannelModalCreate";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="ChannelFormCreate" method="post">
    

    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="central_resource_id">Central Resource Id</span> </label>
                <input class="md-input" name="central_resource_id" id="central_resource_id"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="channel">Channel</span> </label>
                <input class="md-input" name="channel" id="channel"  maxlength="250" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="note">Note</span> </label>
                <input class="md-input" name="note" id="note"  maxlength="250" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="value">Value</span> </label>
                <input class="md-input" name="value" id="value"   type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="submit" class="md-btn md-btn-primary"><i class="uk-icon-save"></i> Save</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>