@{
    ViewBag.ModalTitle = "JobWorkflowHistory";
    ViewBag.ModalId = "JobWorkflowHistoryModalUpdate";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="JobWorkflowHistoryFormUpdate" method="POST">
<input value="" type="hidden" name="id" />
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="current_status_created_by">Current Status Created By</span> </label>
                <input class="md-input" name="current_status_created_by" id="current_status_created_by"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                                        <label for="current_status_created_date"><span class="translate"  data-args="current_status_created_date">Current Status Created Date</span></label>
                                        <input class="md-input" type="text" name="current_status_created_date" id="current_status_created_date" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                                    </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="current_status_id">Current Status Id</span> </label>
                <input class="md-input" name="current_status_id" id="current_status_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_number">Job Number</span> </label>
                <input class="md-input" name="job_number" id="job_number"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="last_status_created_by">Last Status Created By</span> </label>
                <input class="md-input" name="last_status_created_by" id="last_status_created_by"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                                        <label for="last_status_created_date"><span class="translate"  data-args="last_status_created_date">Last Status Created Date</span></label>
                                        <input class="md-input" type="text" name="last_status_created_date" id="last_status_created_date" data-uk-datepicker="{format:'YYYY-MM-DD'}">
                                    </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="last_status_id">Last Status Id</span> </label>
                <input class="md-input" name="last_status_id" id="last_status_id"  maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="seq">Seq</span> </label>
                <input class="md-input" name="seq" id="seq"   type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="submit" class="md-btn md-btn-primary"><i class="uk-icon-save"></i> Save</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>