﻿@{
    ViewData["Title"] = "Trial Balance";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Trial Balance</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finace</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="trialbalance" asp-area="finance" class="m-nav__link"><span class="m-nav__link-text">Trial Balance</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">

                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="ticketsForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Legal Entity</label><span class="req">*</span>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownList().Name("LegalEntity")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .OptionLabel("Choose Legal Entity")
                                              .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                              .Events(a => a.Change("OnchangeLegal"))
                                              .DataSource(source => source
                                                  .Custom()
                                                  .Transport(transport => transport
                                                  .Read(read =>
                                                  {
                                                      read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
                                                  }))
                                              ))
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Fiscal Year</label><span class="req">*</span>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownList()
                                              .Name("FiscalYearsId")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .HtmlAttributes(new { style = "width:80%;", required = "required" })
                                              .Height(400)
                                              .AutoBind(false)
                                              .Enable(false)
                                              .OptionLabel("Choose Fiscal Year..")
                                              .Events(a => a.Change("OnchangeFiscalYears"))
                                              .CascadeFrom("LegalEntity")
                                              .DataSource(source => source
                                                  .Read(read =>
                                                  {
                                                      read.Action("GetFiscalYearByLegalId", "Dropdown", new { area = "Finance" }).Data("legal_params");
                                                  })
                                                  .ServerFiltering(true))
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Business Unit</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownList().Name("BusinessUnitId")
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .Filter(FilterType.Contains)
                                               .DataSource(source => source
                                                  .Custom()
                                                  .Transport(transport => transport
                                                  .Read(read =>
                                                  {
                                                      read.Action("GetDivisionFinance", "Dropdown", new { area = "Finance" });
                                                  }))
                                                  .ServerFiltering(false)
                                              )
                                             .OptionLabel("Choose a Business Unit..")
                                             .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Periode Range</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.Kendo().DatePicker().Name("Mydatepicker1").HtmlAttributes(new { @readonly = "readonly" })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.Kendo().DatePicker().Name("Mydatepicker2").HtmlAttributes(new { @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                    </div>
                                    <div class="col-lg-8">
                                        <button type="submit" id="btnSearch" class="btn btn-success edit" style="padding:7px;"><span class="fa fa-filter"></span> Filter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.TrialBalance>()
                                  .Name("grid")
                                  .Columns(column =>
                                  {
                                      column.Bound("").Title("No").Width(50).ClientTemplate("#= renderNumber(data) #");
                                      column.Bound(p => p.name5).Width(250).Title("Account").ClientGroupFooterTemplate("TOTAL BALANCE");
                                      column.Group(g => g.Title("Beginning Balance")
                                          .Columns(location =>
                                          {
                                              location.Bound(p => p.previous_year_debit).Format("{0:n2}").Title("Debit").Width(150).ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                              location.Bound(p => p.previous_year_credit).Format("{0:n2}").Title("Credit").Width(150).ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                          })
                                      );

                                      column.Group(g => g.Title("Mutation")
                                          .Columns(location =>
                                          {
                                              location.Bound(p => p.mutasi_debit).Format("{0:n2}").Title("Debit").Width(150).ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                              location.Bound(p => p.mutasi_credit).Format("{0:n2}").Title("Credit").Width(150).ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                          })
                                      );

                                      column.Group(g => g.Title("Trial Balance")
                                         .Columns(location =>
                                         {
                                             location.Bound(p => p.tbl_debit).Format("{0:n2}").Title("Debit").Width(150).ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                             location.Bound(p => p.tbl_credit).Format("{0:n2}").Title("Credit").Width(150).ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                         })
                                     );

                                      column.Group(g => g.Title("Balance Sheet")
                                         .Columns(location =>
                                         {
                                             location.Bound(p => p.blc_debit).Format("{0:n2}").Title("Debit").Width(150).ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                             location.Bound(p => p.blc_credit).Format("{0:n2}").Title("Credit").Width(150).ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#").ClientFooterTemplate("TOTAL PNL");
                                         })
                                     );

                                      column.Group(g => g.Title("Profit And Loss")
                                         .Columns(location =>
                                         {
                                             location.Bound(p => p.pnl_debit).Format("{0:n2}").Title("Debit").Width(150).ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#");
                                             location.Bound(p => p.pnl_credit).Format("{0:n2}").Title("Credit").Width(150).ClientGroupFooterTemplate("#=kendo.toString(sum, '\\#\\#,\\#')#").ClientFooterTemplate("#=kendo.toString(Calculates(data), '\\#\\#,\\#')#");
                                         })
                                     );

                                      column.Bound(p => p.name2).Hidden();
                                      column.Bound(p => p.code_rec).Hidden();
                                  })
                                  .Scrollable(scrollable => scrollable.Height("auto"))
                                  .Events(ev => ev.DataBound("resetRowNumber"))
                                  .Sortable()
                                      .DataSource(dataSource => dataSource
                                          .Ajax()
                                          .Aggregates(aggregates =>
                                          {
                                              aggregates.Add(p => p.previous_year_debit).Sum();
                                              aggregates.Add(p => p.previous_year_credit).Sum();
                                              aggregates.Add(p => p.mutasi_debit).Sum();
                                              aggregates.Add(p => p.mutasi_credit).Sum();
                                              aggregates.Add(p => p.tbl_debit).Sum();
                                              aggregates.Add(p => p.tbl_credit).Sum();
                                              aggregates.Add(p => p.blc_debit).Sum();
                                              aggregates.Add(p => p.blc_credit).Sum();
                                              aggregates.Add(p => p.pnl_debit).Sum();
                                              aggregates.Add(p => p.pnl_credit).Sum();
                                          })
                                           .Group(groups => groups.Add(p => p.name2))
                                          .Read(read => read.Action("Read", "TrialBalance").Data("grid_report_params"))
                                   )
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        var validator = $("#ticketsForm").kendoValidator().data("kendoValidator");
        var status = $(".status");

        $("form").submit(function (event) {
            event.preventDefault();
            if (validator.validate()) {
                status.text("Hooray! Your tickets has been booked!")
                    .removeClass("invalid")
                    .addClass("valid");
            } else {
                status.text("Oops! There is invalid data in the form.")
                    .removeClass("valid")
                    .addClass("invalid");
            }
        });
    });

    function Calculates(data) {
        return (data.previous_year_credit.sum - data.previous_year_debit.sum) + (data.pnl_credit.sum - data.pnl_debit.sum);
    }

    $(document).ready(function () {
        $('.k-grouping-row').css("display", "none");
        $('th').css('border', '1px solid #dbdbdb');
    });

    var rowNumber = 0;

    function resetRowNumber(e) {
        rowNumber = 0;
        $('.k-grouping-row').css("display", "none");
        $('.k-group-cell').css("width", "0px"); 
        //$('.k-group-col').css("width", "50px");
        $(".k-group-col,.k-group-cell").remove();
        var spanCells = $(".k-grouping-row").children("td");
        spanCells.attr("colspan", spanCells.attr("colspan") - 1);
        $('th').css('border', '1px solid #dbdbdb');
    }

    function renderNumber(data) {
        return ++rowNumber;
    }

    function OnchangeLegal() {
        $('#Mydatepicker1').attr('readonly', 'readonly');
        $('#Mydatepicker2').attr('readonly', 'readonly');
    }

    function OnchangeFiscalYears() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetFiscalYearsById", "TrialBalance")',
            data: { Id: $('#FiscalYearsId').val() },
            success: function (data) {
                if (data != null) {
                    $('#Mydatepicker1').attr('readonly', false);
                    $('#Mydatepicker2').attr('readonly', false);
                    $("#Mydatepicker1").kendoDatePicker({
                        min: new Date(data.StartDate),
                        max: new Date(data.EndDate),
                        month: {
                            empty: '<span class="k-state-disabled">#= data.value #</span>'
                        }
                    });

                    $("#Mydatepicker2").kendoDatePicker({
                        min: new Date(data.StartDate),
                        max: new Date(data.EndDate),
                        month: {
                            empty: '<span class="k-state-disabled">#= data.value #</span>'
                        }
                    });
                }
            }
        });
    }

    function fiscalyears_params() {
        return {
            Id: $("#FiscalYearsId").val()
        }
    }

    function legal_params() {
        return {
            legalId: $("#LegalEntity").val()
        }
    }

    $('#btnSearch').click(function () {
        var isOk = true;
        if ($('#LegalEntity').val() == '') {
            isOk = false;
        }
        if ($('#FiscalYearsId').val() == '') {
            isOk = false;
        }

        if ($('#LegalEntity').val() == '' && $('#FiscalYearsId').val() == '') {
            isOk = false;
        }
        var date1 = $("#Mydatepicker1").val();
        var date2 = $("#Mydatepicker2").val();
        var dateStart = new Date(date1);
        var dateEnd = new Date(date2);
        if (dateStart > dateEnd) {
            isOk = false;
            swal('Warning', 'End date must be greather than start date! ', 'warning');
        }
        if (isOk) { Refresh(); $('.k-grouping-row').css("display", "none");}

    });

    function Refresh() {
        //mApp.block("#m_blockui_list", {
        //    overlayColor: "#000000",
        //    type: "loader",
        //    state: "primary",
        //    message: "Processing..."
        //});

        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();
    }

    function grid_report_params() {
        var legal = $("#LegalEntity").data("kendoDropDownList").value();
        var div = $("#BusinessUnitId").data("kendoDropDownList").value();
        var year = $("#FiscalYearsId").data("kendoDropDownList").value();
        var start = $("#Mydatepicker1").data("kendoDatePicker").value();
        var end = $("#Mydatepicker2").data("kendoDatePicker").value();
        return {
            Filter: {
                LegalEntityId: legal,
                BusinessUnitId: div,
                FiscalYearsId: year,
                StartPeriodId: start,
                EndPeriodId: end
            }
        }
    }
</script>
