﻿@model PhoenixERPWebApp.Models.Finance.Transaction.Inventory.Inventory
<style>
    .modallargewidth {
        width: 90%;
        max-width: 1200px;
    }

    .has-danger label:not([class]) {
        color: ##f4516c;
    }
</style>

<div class="modal fade" id="modalDetailInv" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modallargewidth">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Edit Detail Inventory
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formDetailInv" class="form-horizontal form-bordered" role="form" enctype="multipart/form-data">
                    <input type="hidden" asp-for="InventoryDetail.ConditionName" />
                    <input type="hidden" asp-for="InventoryDetail.LocationName" />
                    <input type="hidden" asp-for="InventoryDetail.InventoryId" />
                    <div class="m-form__group">
                        <div class="row ">
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Inventory Detail ID :</label>
                                    @Html.Kendo().TextBoxFor(m => m.InventoryDetail.Id).HtmlAttributes(new { @class = "form-control form-control-sm", @required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Date Receipt :</label>
                                    @Html.Kendo().DatePickerFor(m => m.InventoryDetail.DateReceipt).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Vendor Name :</label>
                                    @Html.Kendo().TextBoxFor(m => m.Brand).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Vendor Brand :</label>
                                    @Html.Kendo().TextBoxFor(m => m.Brand).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Manufacture :</label>
                                    @Html.Kendo().TextBoxFor(m => m.InventoryDetail.Manufacturer).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Brand :</label>
                                    @Html.Kendo().TextBoxFor(m => m.InventoryDetail.Brand).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Model :</label>
                                    @Html.Kendo().TextBoxFor(m => m.InventoryDetail.Model).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Product Number :</label>
                                    @Html.Kendo().TextBoxFor(m => m.InventoryDetail.ProductNumber).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Color :</label>
                                    @Html.Kendo().TextBoxFor(m => m.InventoryDetail.Color).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Condition :</label>
                                    @(Html.Kendo().DropDownListFor(m => m.InventoryDetail.Condition)
                                                                .DataTextField("Text")
                                                                .OptionLabel("Select Condition...")
                                                                .DataValueField("Value")
                                                                .Filter(FilterType.Contains)
                                                                .DataSource(source =>
                                                                {
                                                                    source.Read(read =>
                                                                    {
                                                                        read.Action("GetDDLConditionProcurement", "DropDown", new { area = "Finance" });
                                                                    });
                                                                })
                                                                .HtmlAttributes(new { style = "width:100%;", @class = "form-control form-control-sm" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Qty :</label>
                                    @Html.Kendo().TextBoxFor(m => m.InventoryDetail.Qty).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Unit of Measure :</label>
                                    @Html.Kendo().TextBoxFor(m => m.InventoryDetail.UnitName).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Location :</label>
                                    @(Html.Kendo().DropDownListFor(m => m.InventoryDetail.Location)
                                                                .DataTextField("Text")
                                                                .OptionLabel("Select Location...")
                                                                .DataValueField("Value")
                                                                .Filter(FilterType.Contains)
                                                                .DataSource(source =>
                                                                {
                                                                    source.Read(read =>
                                                                    {
                                                                        read.Action("GetMasterLocationProcurement", "DropDown", new { area = "Finance" });
                                                                    });
                                                                })
                                                                .HtmlAttributes(new { style = "width:100%;", @class = "form-control form-control-sm" })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-8 m-form__group-sub">
                                <div class="form-group">
                                    <label>Remark :</label>
                                    @Html.TextAreaFor(m => m.InventoryDetail.Remark, new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Image :</label>
                                    <div id="divFileAttachment"></div>
                                    <div style="width:100%">
                                        <input type="hidden" asp-for="InventoryDetail.FileAttachment" />
                                        <a href='javascript: void(0);' id="downloadLinkFileAttachment" onclick='downloadFile()'></a> &nbsp; 
                                        <a href='javascript: void(0);' id="removeLinkFileAttachment" onclick='removeFile()' title='Delete'></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-primary" id="btn-save-detail" onclick="saveDetailInv()">Submit</button>
               
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    function removeFile() {
        FileAttachmentFunction();
    }

    function downloadFile() {
        console.log($("#InventoryDetail_FileAttachment").val());
        downloadAction({ url: '@Url.RouteUrl(new { action = "download", controller = "Download" })', data: { id: $("#InventoryDetail_FileAttachment").val() }});
    }

    function FileAttachmentFunction() {
        $("#downloadLinkFileAttachment").empty();
        $("#removeLinkFileAttachment").empty();
        $("#divFileAttachment").empty().append("<input name='FileAttachmentUpload' id='FileAttachmentUpload' type='file'/>");

        $("#FileAttachmentUpload").kendoUpload({
            multiple: false,
            validation: {
                maxFileSize: 5000000,
                allowedExtensions: [".jpg", ".png", ".gif", ".doc", ".pdf", ".docx"]
            }
        });
    }
</script>

