﻿@model PhoenixERPWebApp.Models.Finance.Transaction.Inventory.Inventory
@{
    ViewData["Title"] = "Inventory In";
}
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<input hidden id="detail-id" value="@ViewBag.RecordID" />
<input hidden id="entity_id" value="@ViewBag.EntityID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Inventory In</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Inventory</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/Inventory")" class="m-nav__link">
                        <span class="m-nav__link-text">Inventory</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    Inventory &nbsp;
                                    <span id="status"></span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <div class="m-form__group">
                        @*<h5>Inventory In <span style="width: 100px;" id="status"></span></h5>*@

                        <!--begin::Form-->
                        @*<input hidden name="approval_id" />*@
                        <form id="formInventory" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="LegalEntity" />
                            <input type="hidden" asp-for="BusinessUnit" />
                            <input type="hidden" asp-for="InventoryGoodsReceiptId" />
                            <input type="hidden" asp-for="CreatedOn" />
                            <input type="hidden" asp-for="CreatedBy" />
                            <input type="hidden" asp-for="OwnerId" />
                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Inventory ID :</label>
                                        @Html.Kendo().TextBoxFor(m => m.Id).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", style = "width:100%", Placeholder = "Auto Generated by System.." })
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Inventory Name :</label>
                                        @Html.Kendo().TextBoxFor(m => m.InventoryName).HtmlAttributes(new { @class = "form-control form-control-sm", @required = "required" })
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Job ID :</label>
                                        @Html.Kendo().TextBoxFor(m => m.JobId).HtmlAttributes(new { @class = "form-control form-control-sm", @required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Date Input :</label>
                                        @Html.Kendo().DatePickerFor(m => m.InventoryInDateTime).HtmlAttributes(new { style = "width:100%", @required = "required" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Business Unit :</label>
                                        @(Html.Kendo().DropDownListFor(m => m.BusinessUnitId)
                                            .DataTextField("Text")
                                            .OptionLabel("Select Division...")
                                            .DataValueField("Value")
                                            .Filter(FilterType.Contains)
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetDivisionFinance", "DropDown", new { area = "Finance" });
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width:100%;", @class = "form-control form-control-sm", @readonly = "readonly" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Legal Entity :</label>
                                        @(Html.Kendo().DropDownListFor(m => m.LegalEntityId)
                                            .DataTextField("Text")
                                            .OptionLabel("Select Legal Entity...")
                                            .DataValueField("Value")
                                            .Filter(FilterType.Contains)
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetLegalEntity", "DropDown", new { area = "Finance" });
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width:100%;", @class = "form-control form-control-sm", @readonly = "readonly" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Affiliation :</label>
                                        @(Html.Kendo().DropDownListFor(m => m.AffiliationId)
                                            .DataTextField("Text")
                                            .OptionLabel("Select Affiliation...")
                                            .DataValueField("Value")
                                            .Filter(FilterType.Contains)
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetAffiliation", "DropDown", new { area = "Finance" });
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width:100%;", @class = "form-control form-control-sm", @readonly = "readonly" })
                                        )
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Total Qty :</label>
                                        @Html.Kendo().NumericTextBoxFor(m => m.TotalQty).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = "readonly", @format = "{0:N0}" })
                                        @*<input type="text" class="form-control m-input marvel-datepicker" readonly placeholder="0" name="total_qty" id="total_qty" />*@
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-accordion m-accordion--bordered m-accordion--solid" id="detail" role="tablist">
                                <!--begin::Item-->
                                <div class="m-accordion__item">
                                    <div class="m-accordion__item-head" role="tab" id="detail_head" data-toggle="collapse" href="#detail_body" aria-expanded="true">
                                        <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                        <span class="m-accordion__item-title">Inventory Detail</span>
                                        <span class="m-accordion__item-mode"></span>
                                    </div>
                                    <div class="m-accordion__item-body show" id="detail_body" role="tabpanel" aria-labelledby="detail_head" data-parent="#detail" style="">
                                        <div class="m-accordion__item-content">
                                            <div class="row">
                                                <div class="form-group">
                                                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.Inventory.InventoryDetail>()
                                                                                        .Name("grid")
                                                                                        .Columns(columns =>
                                                                                        {                                                                                            
                                                                                            columns.Bound(p => p.Id).ClientTemplate("#= EditDetail(data) #").Width(100);
                                                                                            columns.Bound(p => p.Manufacturer).Width(200);
                                                                                            columns.Bound(p => p.Brand).Width(200);
                                                                                            columns.Bound(p => p.Model).Width(100);
                                                                                            columns.Bound(p => p.ProductNumber).Width(200);
                                                                                            columns.Bound(p => p.Color).Width(100);
                                                                                            columns.Bound(p => p.Condition).ClientTemplate("#=ConditionName#").Width(200);
                                                                                            columns.Bound(p => p.Qty).Width(100);
                                                                                            columns.Bound(p => p.UnitName).Width(200);
                                                                                            columns.Bound(p=>p.Location).ClientTemplate("#=LocationName#").Width(200);
                                                                                        })
                                                                                        .NoRecords()
                                                                                        .Events(ev => ev.DataBound("SumQty"))
                                                                                        .Pageable(pageable => pageable
                                                                                            .Refresh(true)
                                                                                            .PageSizes(true)
                                                                                            .ButtonCount(5))
                                                                                        .Resizable(rsz => rsz.Columns(true))
                                                                                        .DataSource(dataSource => dataSource
                                                                                            .Ajax()
                                                                                            .PageSize(10)
                                                                                            .Events(events => events.Error("errorHandler"))
                                                                                            .Model(model => { model.Id(p => p.Id); })
                                                                                            .Read(read => read.Action("ReadDetail", "Inventory").Data("InvId"))
                                                                                        )
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="pull-right">
                                <a href="@Url.Content("~/Finance/Inventory")" class="fakelink btn btn-sm btn-secondary">Cancel</a>
                                <button type="button" id="btn-save" class="btn btn-sm btn-success"><i class="la-save"></i>Save</button>
                                @*<button type="button" id="btn-submit" class="btn btn-sm btn-primary" disabled="disabled">Submit</button>*@
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_DetailInv" />
<script>

    function SumQty(e) {
        var total = 0;
        //var grid = $("[id ^= 'Grid_']").data("kendoGrid");
        var grid = $("#grid").data("kendoGrid");
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            total += gridData[i].Qty;
        }
        $("#TotalQty").data("kendoNumericTextBox").value(total);
    }

    function InvId() {
        return {
            invId: $("#Id").val()
        };
    }

    function EditDetail(data) { 
        return "<center><a href='javascript: void(0);' onclick='FormDetail(this)' title='Edit' class='edit'>" + data.Id + "</a></center>";
    }

    function FormDetail(e) {
        var item = dataItem(e);
        $('#modalDetailInv').modal('show');
        $('#InventoryDetail_Id').val(item.Id);
        $('#InventoryDetail_InventoryId').val(item.InventoryId);
        $('#InventoryDetail_DateReceipt').val(item.DateReceipt);
        $('#InventoryDetail_Qty').val(item.Qty);
        $('#InventoryDetail_UnitName').val(item.UnitName);
        $('#InventoryDetail_Manufacturer').val(item.Manufacturer);
        $('#InventoryDetail_Brand').val(item.Brand);
        $('#InventoryDetail_Model').val(item.Model);
        $('#InventoryDetail_ProductNumber').val(item.ProductNumber);
        $('#InventoryDetail_Color').val(item.Color);
        $('#InventoryDetail_Condition').data("kendoDropDownList").value(item.Condition);
        $('#InventoryDetail_Location').data("kendoDropDownList").value(item.Location);
        $('#InventoryDetail_DateReceipt').val(item.DateReceipt);
        $('#InventoryDetail_Remark').val(item.Remark);
        $('#InventoryDetail_FileAttachment').val(item.FileAttachment);
        if (item.FileAttachment != null) {
            $("#divFileAttachment").empty();
            $('#downloadLinkFileAttachment').text(item.FileAttachmentName);
            $('#removeLinkFileAttachment').html("<span style='color:maroon'><i class='fa fa-times'></i></span>");
        }       
    }
    
    function saveDetailInv() {
        var valid = $("#formDetailInv").validate().form();
        if (valid) {
            var dataList = {}
            $('#InventoryDetail_ConditionName').val($('#InventoryDetail_Condition').data("kendoDropDownList").text());
            $('#InventoryDetail_LocationName').val($('#InventoryDetail_Location').data("kendoDropDownList").text());
            callActionFile({ formId: "formDetailInv", title: "save", type: "POST", url: '@Url.Action("SaveDetailPersist", "Inventory")', objects: dataList });
        }
    }



    //############################################################
    var param = (function (param) {
        param.saveUrl = "@Url.Action("Save", "Inventory")";
        return param;
    })(param || {});

    var pageFunction = (function (pageFunction) {
        pageFunction.init = function () {
            //initialize
        };
        pageFunction.save = function () {
            console.log("action save");
            //alert("On Progress..")
            var gridDetails = $("#grid").data("kendoGrid");
            gridDetails.saveRow();
            var dataList = {
                details: gridDetails.dataSource.data()
            }
            $("#LegalEntity").val($("#LegalEntityId").data("kendoDropDownList").text());
            $("#BusinessUnit").val($("#BusinessUnitId").data("kendoDropDownList").text());
            callAction({ formId: "formInventory", title: "save", type: "POST", url: param.saveUrl, objects: dataList });           
        };
        return pageFunction;
    })(pageFunction || {});

    $(document).ready(function () {
        console.log("Init Inventory Detail...");
        console.log($("#Id").val());
        if ($('#Id').val() != null && $('#Id').val() != "") {
            //onSelectGR();
        };
        $("#btn-save").click(pageFunction.save);
        var FileAttachment = '@Model.InventoryDetail.FileAttachmentName';
        console.log("FileAttachment");
        console.log(FileAttachment);
        if (FileAttachment == '') {
            FileAttachmentFunction();
        } else {
            $("#downloadLinkFileAttachment").text(FileAttachment);
        }
    });
</script>