﻿@{
    ViewData["Title"] = "Report Inventory";
}


<input hidden id="detail-id" value="@ViewBag.RecordID" />
<input hidden id="entity_id" value="@ViewBag.EntityID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Report Inventory</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Inventory</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/Inventory/Report")" class="m-nav__link">
                        <span class="m-nav__link-text">Report Inventory</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body">

                    <div class="m-form__group">
                        <h5>Report Inventory<span style="width: 100px;" id="status"></span></h5>

                        <!--begin::Form-->
                        <input hidden name="approval_id" />
                        <form id="form-financial_transaction" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input hidden name="id" value="@ViewBag.RecordID" />
                            <div class="row">
                                <div class="col-sm-4 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Inventory Code :</label>
                                        <input id="inventory_code" name="inventory_code" class="form-control form-control-sm m-input m-input--square" />
                                    </div>
                                    <div class="form-group">
                                        <label>Inventory Name :</label>
                                        <input type="text" class="form-control m-input" readonly placeholder="Select date" name="inventory_name" id="inventory_name" />
                                    </div>
                                    <div class="form-group">
                                        <label>Category:</label>
                                        <input type="text" class="form-control m-input" readonly placeholder="Select date" name="category" id="category" />
                                    </div>
                                    <div class="form-group">
                                        <label>Brand :</label>
                                        <input type="text" class="form-control m-input" readonly placeholder="Select date" name="brand" id="brand" />
                                    </div>
                                    <div class="form-group">
                                        <label>Sub Brand :</label>
                                        <input type="text" class="form-control m-input" readonly placeholder="Select date" name="sub_brand" id="sub_brand" />
                                    </div>
                                    <div class="form-group">
                                        <label>Lead Time (day) :</label>
                                        <input type="text" class="form-control m-input" readonly placeholder="Select date" name="lead_time" id="lead_time" />
                                    </div>
                                </div>
                                <div class="col-sm-4 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Reorder Level (unit) :</label>
                                        <input type="text" class="form-control m-input" readonly placeholder="Select date" name="completion_date" id="completion_date" />
                                    </div>
                                    <div class="form-group">
                                        <label>Stock In Hand :</label>
                                        <input type="text" class="form-control m-input" readonly placeholder="Select date" name="stock_in_hand" id="stock_in_hand" />
                                    </div>
                                    <div class="form-group">
                                        <label>Status :</label>
                                        <input type="text" class="form-control m-input" readonly placeholder="Select date" name="status" id="status" />
                                    </div>
                                    <div class="form-group">
                                        <label>Inventory Type :</label>
                                        <input type="text" class="form-control m-input" readonly placeholder="Select date" name="inventory_type" id="inventory_type" />
                                    </div>
                                    <div class="form-group">
                                        <label>Location :</label>
                                        <input type="text" class="form-control m-input" readonly placeholder="Select date" name="location" id="location" />
                                    </div>
                                </div>
                                <div class="col-sm-4 m-form__group-sub">
                                    <div class="form-group">
                                        <fieldset>
                                            <legend>Image</legend>

                                            <img src="https://cf.shopee.co.id/file/ce9db766340bbe6d1468b4047a77dd05_tn" />
                                        </fieldset>
                                    </div>
                                    <div class="form-group">
                                        <label>Remarks :</label>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <!--end::Form-->
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div id="gridDetail"></div>
                            <script type="text/x-kendo-template" id="grid_template">
                                <div class="grid-detail-marvel">
                                    <div class="col-lg-6">
                                        <div class="status-approval"></div>

                                    </div>

                                </div>
                            </script>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <b>Approve</b>
                            </div>
                            <br />
                            <br />
                            <br />
                            <div>
                                <u>Warehouse Officer</u>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <u>Procurement</u>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 pull-right">
                            <span class="pull-right">
                                <button type="button" id="btn-save" class="btn btn-sm btn-success"><i class="la-save"></i>Save</button>
                                <button type="button" id="btn-submit" class="btn btn-sm btn-primary" disabled="disabled">Submit</button>
                                <a href="@Url.Content("~/Finance/AccountPayable")" class="fakelink btn btn-sm btn-secondary">Cancel</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/Vendors/custom/KendoUI/js/kendo.all.min.js"></script>

    <script type="text/javascript" src="~/vendors/custom/jeasyui/jquery.easyui.min.js"></script>
    <script src="~/Areas/Finance/Scripts/Inventory.Report.js?@DateTime.Now" asp-append-version="true"></script>
    <script src="~/vendors/custom/query-builder/js/doT.min.js"></script>
    <script src="~/vendors/custom/query-builder/js/jQuery.extendext.js"></script>
    <script src="~/vendors/custom/query-builder/src/interact.min.js"></script>
    <script src="~/vendors/custom/query-builder/src/query-builder.standalone.js?@DateTime.Now" asp-append-version="true"></script>
}
