@{
    ViewData["Title"] = "ApprovalStatus";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="ApprovalStatusFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="approval_group_id">approval_group_id</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="approval_group_id" id="approval_group_id" required maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="approval_status">approval_status</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="approval_status" id="approval_status"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="status_level">status_level</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="status_level" id="status_level"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="status_name">status_name</span> <span class="req">*</span>:</label>
                <input class="form-control form-control-sm m-input m-input--square" name="status_name" id="status_name" required maxlength="400" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/General/ApprovalStatus" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/General/Form/ApprovalStatus.create.js"></script>
}
