﻿@{


    var isAjax = Context.Request.Headers["x-requested-with"] == "XMLHttpRequest";
    if (!isAjax)
    {
        Layout = "~/Views/Shared/metronic/_layout.cshtml";
    }else{
        Layout=null;
    }
    Random random = new Random();
    string portletId = "portlet"+random.Next(1, 100000);
}
@Html.Partial("metronic/_bc", ViewData["Title"])
<div class="m-content tplpanel" >
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true" id="@portletId">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                @RenderSection("Panelhead", required: false)
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <div id="colvisdiv" class="btn-group" style="display:none"></div>
                                @RenderSection("Paneltools", required: false)
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <div id="FormPanelContent" style="display:none">
                        @RenderSection("Panelbody")
                    </div>
                    <div id="FormPanelLoader" style="display:block">
                        <div class="m-loader m-loader--lg" style="width:100%; display: inline-block;"></div>
                    </div>
                </div>


                    @RenderSection("Panelfoot", required: false)
                </div>
            </div>
        </div>
    </div>
    <script>
        var numberOfProcess = 0;
        $(function () {
            $("#FormPanelLoader").hide();
            $("#FormPanelContent").show();

        })
        fnPanel = {
            endprocess: function () {
                numberOfProcess--;

                if (numberOfProcess <= 0) {
                    mApp.unblock('#@portletId');
                    //$("#FormPanelLoader").hide();
                    //$("#FormPanelContent").show();
                }
            },
            startprocess: function () {

                if (numberOfProcess === 0) {
                    mApp.block('#@portletId', {
                        boxed: true,
                        message: 'Processing...'
                    });
                    //$("#FormPanelLoader").show();
                    //$("#FormPanelContent").hide();
                }
                numberOfProcess++;
            }
        }
    </script>
    @RenderSection("Panelscript", required: false)
