﻿@{
    var userSession = CodeMarvel.Infrastructure.Sessions.SessionManager.UserSession;
}
<!-- BEGIN: Horizontal Menu -->
<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark "
        id="m_aside_header_menu_mobile_close_btn">
    <i class="la la-close"></i>
</button>
<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
</div>
<!-- END: Horizontal Menu -->
<!-- BEGIN: Topbar -->
<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
    <div class="m-stack__item m-topbar__nav-wrapper">
        <ul class="m-topbar__nav m-nav m-nav--inline">
            <li class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light	m-list-search m-list-search--skin-light"
                m-dropdown-toggle="click" id="m_quicksearch" m-quicksearch-mode="dropdown"
                m-dropdown-persistent="1">
                <a href="#" class="m-nav__link m-dropdown__toggle">
                    <span class="m-nav__link-icon">
                        <span class="m-nav__link-icon-wrapper">
                            <i class="flaticon-search-1"></i>
                        </span>
                    </span>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                    <div class="m-dropdown__inner ">
                        <div class="m-dropdown__header">
                            <form class="m-list-search__form">
                                <div class="m-list-search__form-wrapper">
                                    <span class="m-list-search__form-input-wrapper">
                                        <input id="m_quicksearch_input" autocomplete="off" type="text"
                                               name="q" class="m-list-search__form-input" value=""
                                               placeholder="Search...">
                                    </span>
                                    <span class="m-list-search__form-icon-close" id="m_quicksearch_close">
                                        <i class="la la-remove"></i>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true"
                                 data-height="300" data-mobile-height="200">
                                <div class="m-dropdown__content">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="m_quick_sidebar_toggle" class="m-nav__item">
                <a href="javascript:openTemplateChat()" class="m-nav__link m-dropdown__toggle">
                    <span class="m-nav__link-icon span-header-chat">
                        <span class="m-nav__link-icon-wrapper"><i class="flaticon-chat-1"></i></span>
                        <span class="m-nav__link-badge m-badge m-badge--danger badge-notif-chat">0</span>
                    </span>
                </a>
            </li>


            <li class="m-nav__item m-topbar__notifications m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width"
                m-dropdown-toggle="click" m-dropdown-persistent="1">
                <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                    <span class="m-nav__link-icon" id="countnotificationbadge">
                        <span class="m-nav__link-icon-wrapper"><i class="flaticon-alarm"></i></span>

                    </span>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center">
                            <span class="m-dropdown__header-title" id="countnotification">0 </span>
                            <span class="m-dropdown__header-subtitle">Notifications</span>
                        </div>
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand"
                                    role="tablist">
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link active" data-toggle="tab"
                                           href="#topbar_notifications_notifications" role="tab">
                                            Notifikasi
                                        </a>
                                    </li>
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_events"
                                           role="tab">Approval</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="topbar_notifications_notifications"
                                         role="tabpanel">
                                        <div class="m-scrollable" data-scrollable="true"
                                             data-height="250" data-mobile-height="200">
                                            <div class="m-list-timeline m-list-timeline--skin-light">
                                                <div class="m-list-timeline__items" id="notification_list">


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                        <div class="m-scrollable" data-scrollable="true"
                                             data-height="250" data-mobile-height="200">
                                            <div class="m-list-timeline m-list-timeline--skin-light">
                                                <div class="m-list-timeline__items" id="approval_list">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="m-nav__item m-topbar__quick-actions m-dropdown m-dropdown--skin-light m-dropdown--large m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"
                m-dropdown-toggle="click">
                <a href="#" class="m-nav__link m-dropdown__toggle">
                    <span class="m-nav__link-icon span-header-notif">
                        <span class="m-nav__link-icon-wrapper"><i class="flaticon-share"></i></span>
                        <span class="m-nav__link-badge m-badge m-badge--accent badge-notif-count">5</span>
                    </span>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center">
                            <span class="m-dropdown__header-title">Quick Actions</span>
                            <span class="m-dropdown__header-subtitle">Shortcuts</span>
                        </div>
                        <div class="m-dropdown__body m-dropdown__body--paddingless">
                            <div class="m-dropdown__content">
                                <div class="m-scrollable" data-scrollable="false" data-height="380"
                                     data-mobile-height="200">
                                    <div class="m-nav-grid m-nav-grid--skin-light">
                                        <div class="m-nav-grid__row">
                                            <a asp-action="index" asp-controller="home" asp-area="finance" class="m-nav-grid__item">
                                                <i class="m-nav-grid__icon flaticon-file"></i>
                                                <span class="m-nav-grid__text">Finance</span>
                                            </a>
                                            <a href="~/hris" class="m-nav-grid__item">
                                                <i class="m-nav-grid__icon flaticon-time"></i>
                                                <span class="m-nav-grid__text">HRIS</span>
                                            </a>
                                        </div>
                                        <div class="m-nav-grid__row">
                                            <a href="~/projectmanagement" class="m-nav-grid__item">
                                                <i class="m-nav-grid__icon flaticon-folder"></i>
                                                <span class="m-nav-grid__text">Project Management</span>
                                            </a>
                                            <a asp-action="index" asp-controller="home" asp-area="um" class="m-nav-grid__item">
                                                <i class="m-nav-grid__icon flaticon-clipboard"></i>
                                                <span class="m-nav-grid__text">User Management</span>
                                            </a>
                                        </div>
                                        <div class="m-nav-grid__row">
                                            <a asp-action="index" asp-controller="home" asp-area="media" class="m-nav-grid__item">
                                                <i class="m-nav-grid__icon flaticon-folder"></i>
                                                <span class="m-nav-grid__text">Media</span>
                                            </a>
                                            @*<a href="#" class="m-nav-grid__item">
                                                    <i class="m-nav-grid__icon flaticon-clipboard"></i>
                                                    <span class="m-nav-grid__text">Completed Tasks</span>
                                                </a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                m-dropdown-toggle="click">
                <a href="#" class="m-nav__link m-dropdown__toggle">
                    <span class="m-topbar__userpic">
                        <img src="~/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered"
                             alt="" />
                    </span>
                    <span class="m-nav__link-icon m-topbar__usericon  m--hide">
                        <span class="m-nav__link-icon-wrapper"><i class="flaticon-user-ok"></i></span>
                    </span>
                    <span class="m-topbar__username m--hide">Nick</span>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center">
                            <div class="m-card-user m-card-user--skin-light">
                                <div class="m-card-user__pic">
                                    @*<img src="assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless"
                                        alt="" />*@
                                </div>
                                <div class="m-card-user__details">
                                    <span class="m-card-user__name m--font-weight-500">
                                        @userSession.FullName;

                                    </span>
                                    <a href="" class="m-card-user__email m--font-weight-300 m-link">@userSession.Email</a>
                                </div>
                            </div>
                        </div>
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav m-nav--skin-light">
                                    <li class="m-nav__section m--hide">
                                        <span class="m-nav__section-text">Section</span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="profile.html" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-profile-1"></i>
                                            <span class="m-nav__link-title">
                                                <span class="m-nav__link-wrap">
                                                    <span class="m-nav__link-text">My Profile</span>
                                                    <span class="m-nav__link-badge"><span class="m-badge m-badge--success">2</span></span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="profile.html" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">Activity</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="profile.html" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">Messages</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit">
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="profile.html" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="profile.html" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">Support</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit">
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="@Url.Content("/core/Authentication/Logout")" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li id="m_quick_sidebar_toggle" class="m-nav__item">
                <a href="#" class="m-nav__link m-dropdown__toggle">
                    <span class="m-nav__link-icon"><i class="flaticon-grid-menu"></i></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- END: Topbar -->