﻿@using Phoenix.WebExtension.Extentions;
@using Microsoft.Extensions.Options;
@using CodeMarvel.Infrastructure.Options;
@inject IOptions<AppSettingsOption> OptionsApplicationConfiguration

@{
    var userSession = CodeMarvel.Infrastructure.Sessions.SessionManager.UserSession;
    var Current_userid = userSession.AppUserId;
    var xlang = "en";
    if (userSession.Language != null)
    {
        xlang = userSession.Language;
    }
    var this_area = ViewContext.RouteData.Values["area"];
    var this_menu = "metronic/_Navigation";
    if (this_area != null)
    {
        this_area = this_area.ToString().ToUpper();
        if (this_area.Equals("PROJECTMANAGEMENT") || this_area.Equals("HRIS"))
        {
            this_menu = "metronic/_Navigation_" + this_area;
        }

    }
}
<!DOCTYPE html>
<html lang="@xlang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="JWT_TOKEN" content="@userSession.Token" />

    <title>@ViewData["Title"] - PhoenixERP</title>
    
    <link href="~/assets/css/menu.css" rel="stylesheet" />
    <link href="~/fonts/font.poppins.css" rel="stylesheet" />
    <link href="~/fonts/font.roboto.css" rel="stylesheet" />

    <link href="~/vendors/base/vendors.bundle.css" rel="stylesheet" />
    <link href="~/demo/demo_12/base/style.bundle.css" rel="stylesheet" />
    @*<link href="~/demo/demo_12/custom/styles/layout.css" rel="stylesheet" />*@
    <link href="~/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
    <link href="~/Vendors/custom/KendoUI/styles/kendo.common.min.css" rel="stylesheet" />

    @*<link href="~/vendors/custom/KendoUI/styles/kendo.nova.custom.min.css?_@DateTime.Now" rel="stylesheet" />
        <link href="~/vendors/custom/KendoUI/styles/kendo.nova.mobile.min.css" rel="stylesheet" />*@
    @*<link href="~/bundles/css/vendor.min.css" rel="stylesheet" />*@
    <link href="~/demo/demo_12/custom/styles/layout.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/demo/demo_12/favicon.ico" />
    <link href="~/bundles/css/datatable.min.css" rel="stylesheet" />
    <link href="~/vendors/custom/jeasyui/themes/metro/easyui.css?@DateTime.Now" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/vendors/custom/jeasyui/themes/icon.css">
    <link href="~/assets/plugins/uikit/css/uikit.min.css" rel="stylesheet" />
    <script src="~/Vendors/custom/KendoUI/js/jquery.min.js"></script>
    <script src="~/vendors/base/vendors.bundle.js"></script>
    <script src="~/assets/plugins/uikit/js/uikit.min.js"></script>
    <script src="~/demo/demo_12/base/scripts.bundle.js"></script>
    <script src="~/vendors/custom/jqserialize/jquery.serializeToJSON.min.js"></script>
    <script src="~/bundles/js/core.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/axios.min.js" asp-append-version="true"></script>

    <style>
        .dropdown-menu.show {
            z-index: 100 !important;
        }

        table.dataTable tbody td.lcol {
            vertical-align: top !important;
        }

        table.dataTable tbody td.rcol {
            vertical-align: top !important;
        }

        table.dataTable tbody td.x20 {
            vertical-align: top !important;
        }
    </style>
    <script asp-append-version="true">
            $(document).ajaxSend(function (event, jqxhr, settings) {
                jqxhr.setRequestHeader('Authorization', 'Bearer @userSession.Token');
            });

            var LayoutPageFunction = {
                init: function () {
                    $.helper.setBasePath("@Url.Content("~")");
                    $.helper.setApiBasePath("@OptionsApplicationConfiguration.Value.ApiServerUrl");
                },
                setActiveMenu: function () {
                    var limit = 5;
                    var currLocs = window.location.href;

                    if (currLocs.split('/').length < limit) {
                        currLocs = '/';
                    }
                    else {
                        currLocs = '/'+currLocs.split('/').slice(3, 5).join('/');
                    }

                    $('li.m-menu__item--active').removeClass('m-menu__item--active');
                    $('li.m-menu__item--open.m-menu__item--expanded').removeClass('m-menu__item--open m-menu__item--expanded');

                    $('a.m-menu__link').not('.m-menu__toggle').each(function () {
                        if ($(this).attr('href') == currLocs) {
                            $(this).parents('li.m-menu__item--submenu').addClass('m-menu__item--open m-menu__item--expanded');
                            $(this).parent().addClass('m-menu__item--active');
                            return false;
                        }
                    });
                }
            };
            LayoutPageFunction.init();

            $(document).ready(function () {
                LayoutPageFunction.setActiveMenu();
            });

        var WEB = '@OptionsApplicationConfiguration.Value.WebServerUrl';
        var Socket_URL='@OptionsApplicationConfiguration.Value.SocketServerUrl';
        var WEB_GENERAL = WEB + "/General";
        var WEB_FINANCE = WEB + "/Finance";
        var Current_userid = '@Current_userid';
        var WEB_HRIS = WEB + "/Hris";
        var WEB_PM = WEB + "/ProjectManagement";
        var API = '@OptionsApplicationConfiguration.Value.ApiServerUrl'
        var API_GENERAL = API+'General'
        var API_FINANCE = API +'Finance'
        var API_HRIS = API +'Hris'
        var API_PM = API +'Projectmanagement'
        var NOT_USING_AUTH_HEADER = false;
    </script>

    <script src="~/assets/plugins/jquery.i18n/jquery.i18n.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/jquery.i18n/jquery.i18n.messagestore.js" asp-append-version="true"></script>
    <script src="~/assets/module/core.js" asp-append-version="true"></script>
    <script src="~/assets/module/core-ie.js" asp-append-version="true"></script>
</head>
<body class="m-content--skin-
m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-content--skin-light2
m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">

        <!-- BEGIN: Header -->
        <header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
            <div class="m-container m-container--fluid m-container--full-height">
                <div class="m-stack m-stack--ver m-stack--desktop">

                    <!-- BEGIN: Brand -->
                    <div class="m-stack__item m-brand  m-brand--skin-dark ">
                        <div class="m-stack m-stack--ver m-stack--general">
                            <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                <a href="index.html" class="m-brand__logo-wrapper">
                                    <img alt="" src="~/demo/demo_12/media/img/logo/logo.png" />
                                </a>
                            </div>
                            <div class="m-stack__item m-stack__item--middle m-brand__tools">

                                <!-- BEGIN: Left Aside Minimize Toggle -->
                                <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block  ">
                                    <span></span>
                                </a>

                                <!-- END -->
                                <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                                <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>

                                <!-- END -->
                                <!-- BEGIN: Responsive Header Menu Toggler -->
                                <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>

                                <!-- END -->
                                <!-- BEGIN: Topbar Toggler -->
                                <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                    <i class="flaticon-more"></i>
                                </a>

                                <!-- BEGIN: Topbar Toggler -->
                            </div>

                        </div>
                    </div>

                    <!-- END: Brand -->
                    <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                        <partial name="metronic/_Header" />
                    </div>
                </div>
            </div>
        </header>

        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>
            <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">

                <!-- BEGIN: Aside Menu -->
                @*<partial name="@this_menu" />*@
                <!-- END: Aside Menu -->

                @{
                    var content = await Component.InvokeAsync("Menu");
                    var html = content.ToHtmlString();
                }

                @Html.Raw(System.Net.WebUtility.HtmlDecode(html))
            </div>

            <!-- END: Left Aside -->

            <div id="page_content" class="m-grid__item m-grid__item--fluid m-wrapper">

                @RenderBody()

            </div>
        </div>

        <!-- end:: Body -->
        <!-- begin::Footer -->
        @*<partial name="metronic/_Footer" />*@
        <!-- end::Footer -->
    </div>

    <!-- end:: Page -->
    <!-- begin::Quick Sidebar -->
    <div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light">
        <div class="m-quick-sidebar__content m--hide">
            <span id="m_quick_sidebar_close" class="m-quick-sidebar__close"><i class="la la-close"></i></span>
            <ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_quick_sidebar_tabs_messenger"
                       role="tab">Messages</a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_settings" role="tab">Settings</a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_logs" role="tab">Logs</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end::Quick Sidebar -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>

    <div id="chat-snippet" class="" style="display:none">
        <partial name="_TemplateChatting" />
    </div>
    @RenderSection("Scripts", required: false)
   
    <!-- Added -->
    <script src="~/assets/plugins/moment/moment.js"></script>
    <script src="~/assets/plugins/gantt/moment-duration.js"></script>
    <script src="~/assets/plugins/history/bundled/html4_html5/jquery.history.js"></script>
    <script src="~/assets/js/axios.min.js"></script>
    <script src="~/assets/plugins/jquery.i18n/jquery.i18n.js"></script>
    <script src="~/assets/plugins/jquery.i18n/jquery.i18n.messagestore.js"></script>
    <script src="~/assets/plugins/jquery.i18n/jquery.i18n.fallbacks.js"></script>
    <script src="~/assets/plugins/jquery.i18n/jquery.i18n.language.js"></script>
    <script src="~/assets/plugins/jquery.i18n/jquery.i18n.parser.js"></script>
    <script src="~/assets/plugins/jquery.i18n/jquery.i18n.emitter.js"></script>
    <script src="~/assets/plugins/jquery.i18n/jquery.i18n.emitter.bidi.js"></script>
    <script src="~/assets/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/jquery.form/jquery.form.min.js"></script>
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/module/custom.js" asp-append-version="true"></script>
    <script src="~/assets/js/Areas/General/Form/Notification.dashboard.js" asp-append-version="true"></script>
    <script src="~/Vendors/custom/KendoUI/js/kendo.all.min.js"></script>

    <script src="~/signalr/dist/browser/signalr.js"></script>
    <script src="~/assets/js/nava-hub.js"></script>
    <script src="~/assets/js/chat-comment.js"></script>

</body>
</html>
