﻿<div id="@ViewBag.ModalId" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">
<div class="modal-dialog ">
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">@ViewBag.ModalTitle</h4>
        <button class="close" aria-hidden="true" data-dismiss="modal" type="button"></button>

    </div>
<div class="modal-body">
    @RenderBody()
</div>
        </div>
    </div>
</div>

