﻿<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative;">


    <ul class="m-menu__nav ">
        <li class="m-menu__item  ">
            <a href="/projectmanagement" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-home"></i>
                <span class="m-menu__link-text">Home</span>
            </a>
        </li>

        <li class="m-menu__item  ">
            <a href="~/projectmanagement/clientbrief" class="fakelink m-menu__link ">
                <i class="m-menu__link-icon flaticon-users"></i>
                <span class="m-menu__link-text translate" data-args="Client brief">Client Brief</span>
            </a>
        </li>
        <li class="m-menu__item  ">
            <a href="~/projectmanagement/job" class="fakelink m-menu__link ">
                <i class="m-menu__link-icon flaticon-list-1"></i>
                <span class="m-menu__link-text translate" data-args="Job">Job</span>
            </a>
        </li>
        <li class="m-menu__item  ">
            <a href="~/projectmanagement/timeline" class="fakelink m-menu__link ">
                <i class="m-menu__link-icon flaticon-event-calendar-symbol"></i>
                <span class="m-menu__link-text translate" data-args="Timeline">Timeline</span>
            </a>
        </li>
        <li class="m-menu__item  ">
            <a href="~/projectmanagement/timesheet" class="fakelink m-menu__link ">
                <i class="m-menu__link-icon flaticon-calendar-with-a-clock-time-tools"></i>
                <span class="m-menu__link-text translate" data-args="Timesheet">Timesheet</span>
            </a>
        </li>

        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-price-tag"></i><span class="m-menu__link-text translate" data-args="Production Cost">Production Cost</span><i class="m-menu__ver-arrow la la-angle-right"></i></a><div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span><ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/projectmanagement/pca" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Analysis (PCA)</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/projectmanagement/pce" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Estimation (PCE)</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/projectmanagement/Approval" class="m-menu__link"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Approval</span></a></li>
                </ul>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-folder-2"></i><span class="m-menu__link-text translate" data-args="general">general</span><i class="m-menu__ver-arrow la la-angle-right"></i></a><div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span><ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/affiliation" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">affiliation</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/affiliationmember" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">affiliationmember</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/applicationentity" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">applicationentity</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/applicationmenu" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">applicationmenu</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/applicationmenucategory" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">applicationmenucategory</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/applicationmenugroup" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">applicationmenugroup</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/applicationrole" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">applicationrole</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/applicationuser" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">applicationuser</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/approval" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">approval</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/approvaldetail" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">approvaldetail</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/approvalgroup" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">approvalgroup</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/approvalstatus" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">approvalstatus</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/audittrail" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">audittrail</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/businessunit" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">businessunit</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/businessunittype" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">businessunittype</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/centralresource" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">centralresource</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/centralresourcesstaff" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">centralresourcesstaff</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/city" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">city</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/country" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">country</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/entity" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">entity</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/item" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">item</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/itemcategory" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">itemcategory</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/legalentity" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">legalentity</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/organization" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">organization</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/roleaccess" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">roleaccess</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/roleaccessmenu" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">roleaccessmenu</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/sharedrecord" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">sharedrecord</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/team" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">team</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/teammember" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">teammember</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/teamrole" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">teamrole</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/temporarymanager" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">temporarymanager</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/general/userrole" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">userrole</span></a></li>
                </ul>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-folder-2"></i><span class="m-menu__link-text translate" data-args="hris">hris</span><i class="m-menu__ver-arrow la la-angle-right"></i></a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/achievement" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">achievement</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/activity" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">activity</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/applicantprogress" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">applicantprogress</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/bankbranch" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">bankbranch</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/basicinfogradetittle" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">basicinfogradetittle</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/basicsalary" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">basicsalary</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/bonus" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">bonus</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/bsccategory" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">bsccategory</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/bussinesunitjoblevel" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">bussinesunitjoblevel</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/candidaterecruitment" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">candidaterecruitment</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/commission" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">commission</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/companyaccount" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">companyaccount</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/compensation" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">compensation</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/competence" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">competence</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/competencelevel" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">competencelevel</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/costcenter" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">costcenter</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/costcentercampaign" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">costcentercampaign</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/departement" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">departement</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/division" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">division</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/education" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">education</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/educationlevel" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">educationlevel</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeeabsence" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeeabsence</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeeaccount" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeeaccount</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeebank" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeebank</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeebasicinfo" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeebasicinfo</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeecampaign" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeecampaign</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeecomplaint" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeecomplaint</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeecontract" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeecontract</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeeemergencycontact" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeeemergencycontact</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeeexperience" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeeexperience</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeeidentity" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeeidentity</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeeout" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeeout</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeetraining" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeetraining</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeetrainingrequisition" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeetrainingrequisition</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeewarning" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employeewarning</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employementstatus" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">employementstatus</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/family" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">family</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/familystatus" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">familystatus</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/hiringapplicant" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">hiringapplicant</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/hiringrequest" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">hiringrequest</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/hiringrequestdetailbudgeted" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">hiringrequestdetailbudgeted</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/hiringrequestdetailreplacement" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">hiringrequestdetailreplacement</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/hiringrequestdetailunbudgeted" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">hiringrequestdetailunbudgeted</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/information" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">information</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/institution" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">institution</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/institutioncompetence" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">institutioncompetence</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/institutionlevel" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">institutionlevel</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/jobgrade" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">jobgrade</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/jobinterview" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">jobinterview</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/jobinterviewees" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">jobinterviewees</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/jobinterviewer" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">jobinterviewer</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/joblevel" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">joblevel</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/jobpostingrequisition" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">jobpostingrequisition</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/jobrepository" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">jobrepository</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/jobtest" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">jobtest</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/jobtitle" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">jobtitle</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/leave" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">leave</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/legalcategory" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">legalcategory</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/levelposition" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">levelposition</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/loanemployee" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">loanemployee</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/location" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">location</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/marriedstatus" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">marriedstatus</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/mastertax" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">mastertax</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/medicalclaim" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">medicalclaim</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/mpp" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">mpp</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/mppapprovedstatus" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">mppapprovedstatus</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/mppdetail" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">mppdetail</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/mppstatus" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">mppstatus</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/nationality" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">nationality</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/organizationjoblevel" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">organizationjoblevel</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/overtime" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">overtime</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/position" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">position</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/premiaskes" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">premiaskes</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/province" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">province</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/reimburse" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">reimburse</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/resignation" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">resignation</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/salaryprocess" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">salaryprocess</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/salaryprocesscomponent" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">salaryprocesscomponent</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/seminar" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">seminar</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/statusemployee" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">statusemployee</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/statustax" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">statustax</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/subgroup" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">subgroup</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/termination" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">termination</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/trainingrequisition" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">trainingrequisition</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/transport" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">transport</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/travel" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">travel</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/traveldestination" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">traveldestination</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/vacancy" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">vacancy</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/vacancyjobsource" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">vacancyjobsource</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/workingeffective" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">workingeffective</span></a></li>
                </ul>
        </li>

        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-suitcase"></i><span class="m-menu__link-text translate" data-args="Org Chart">Org Chart</span><i class="m-menu__ver-arrow la la-angle-right"></i></a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/Group" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Group</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/Subgroup" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Subgroup</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/Division" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Division</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/Departement" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Departement</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/JobLevel" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Job Level</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/JobGrade" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Job Grade</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/JobTitle" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Job Title</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/Chart" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Chart</span></a></li>
                </ul>
            </div>
        </li>

        <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover" m-menu-link-redirect="1">
            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-suitcase"></i>
                <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                        <span class="m-menu__link-text">Recruitment</span>
                    </span>
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu " m-hidden-height="40" style="display: none; overflow: hidden;">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/Mpp" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Mpp List</span></a></li>
                    </ul>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/HiringRequest" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Hiring Request List</span></a></li>
                    </ul>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/JobVacancy" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Job Vacancy List</span></a></li>
                    </ul>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " aria-haspopup="true"><a href="~/hris/employeebasicinfo" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Employee</span></a></li>
                    </ul>
                    <!-- Begin: Amortisasi -->
                    <li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover" m-menu-link-redirect="1">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Job Posting</span>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu " m-hidden-height="160" style="">
                            <span class="m-menu__arrow"></span>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                    <a href="@Url.Content("~/hris/JobPosting")" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">Job Posting List</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                    <a href="@Url.Content("~/hris/JobPosting/Career")" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">Career</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End: Amortisasi -->
                </ul>
            </div>
        </li>



        <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover" m-menu-link-redirect="1">
            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-suitcase"></i>
                <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                        <span class="m-menu__link-text">Master Data</span>
                    </span>
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu " m-hidden-height="40" style="display: none; overflow: hidden;">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <!-- Begin: Amortisasi -->
                    <li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover" m-menu-link-redirect="1">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Master Data General</span>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu " m-hidden-height="160" style="">
                            <span class="m-menu__arrow"></span>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                    <a href="@Url.Content("~/hris/educationlevel")" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">Master Education</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                    <a href="@Url.Content("~/hris/workingeffective")" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">Working Time Effective</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                    <a href="@Url.Content("~/hris/religion")" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">Religion</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                    <a href="@Url.Content("~/hris/holiday")" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">Holiday</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End: Amortisasi -->
                    <li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover" m-menu-link-redirect="1">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Master Data Payroll</span>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu " m-hidden-height="160" style="">
                            <span class="m-menu__arrow"></span>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                    <a href="@Url.Content("~/hris/status")" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">PTKP Employee</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                    <a href="@Url.Content("~/hris/salarycomponent")" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">Salary Component</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                    <a href="@Url.Content("~/hris/loancategory")" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">Loan Category</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>

        <!-- End : Finance View -->
        <!-- Begin : Master Data -->
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-coins"></i>
                <span class="m-menu__link-text">Master Data</span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                        <span class="m-menu__link">
                            <span class="m-menu__link-text">Master Data</span>
                        </span>
                    </li>

                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Company/Client")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Clients</span>
                        </a>
                    </li>


                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Company/Vendor")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Vendors</span>
                        </a>
                    </li>

                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Company/CompanyProfile")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Company Profile</span>
                        </a>
                    </li>

                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Core/Country")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Country</span>
                        </a>
                    </li>

                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Core/City")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">City</span>
                        </a>
                    </li>


                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Core/LegalEntity")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Legal Entity</span>
                        </a>
                    </li>


                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Core/BusinessUnit")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Business Unit</span>
                        </a>
                    </li>

                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Core/Bank")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Bank</span>
                        </a>
                    </li>

                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Core/Currency")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Currency</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- End : Master Data-->
        <!-- Begin : Finance -->
        <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover" m-menu-link-redirect="1">
            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-suitcase"></i>
                <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                        <span class="m-menu__link-text">Finance</span>
                    </span>
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu " m-hidden-height="40" style="display: none; overflow: hidden;">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true" m-menu-link-redirect="1">
                        <span class="m-menu__link">
                            <span class="m-menu__item-here"></span>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Finance</span>
                                </span>
                            </span>
                        </span>
                    </li>
                    <!-- Begin: Account Receivable -->
                    <li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover" m-menu-link-redirect="1">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Account Receivable(AR)</span>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu " m-hidden-height="160" style="">
                            <span class="m-menu__arrow"></span>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                    <a href="@Url.Content("~/Company/AccountReceivableProject")" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">AR - Project</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="m-menu__submenu " m-hidden-height="160" style="">
                            <span class="m-menu__arrow"></span>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                    <a href="@Url.Content("~/Company/AccountReceivableOthers")" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">AR - Others</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End: Account Receivable -->
                    <!-- Begin: Amortisasi -->
                    <li class="m-menu__item m-menu__item--submenu m-menu__item--open" aria-haspopup="true" m-menu-submenu-toggle="hover" m-menu-link-redirect="1">
                        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-bullet m-menu__link-bullet--line">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Amortisasi</span>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu " m-hidden-height="160" style="">
                            <span class="m-menu__arrow"></span>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                    <a href="@Url.Content("~/Company/Depreciation")" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">Depreciation</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End: Amortisasi -->
                </ul>
            </div>
        </li>
        <!-- End : Finance -->
        <!-- Begin : Report -->
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-line-graph"></i>
                <span class="m-menu__link-text">Report</span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                        <span class="m-menu__link">
                            <span class="m-menu__link-text">Report</span>
                        </span>
                    </li>

                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Company/LKJReport")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">LKJ Report</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- End : Report -->

        <li class="m-menu__section ">
            <h4 class="m-menu__section-text">System</h4>
            <i class="m-menu__section-icon flaticon-more-v2"></i>
        </li>

        <!-- Begin : Application -->
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon fas fa-gavel"></i>
                <span class="m-menu__link-text">Application</span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                        <span class="m-menu__link">
                            <span class="m-menu__link-text">Application</span>
                        </span>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Settings/User")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">User Management</span>
                        </a>
                    </li>

                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Settings/Organization")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Organization</span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Core/Menu")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Menu Setup</span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Core/MenuCategory")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Menu Category</span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a href="@Url.Content("~/Core/Team")" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">Team</span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>
        <!-- End : Application -->

    </ul>
            </div>
