﻿<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative;">


    <ul class="m-menu__nav ">
        <li class="m-menu__item  ">
            <a href="/projectmanagement" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-home"></i>
                <span class="m-menu__link-text">Home</span>
            </a>
        </li>
        <li class="m-menu__item  ">
            <a href="~/projectmanagement/brand" class="fakelink m-menu__link ">
                <i class="m-menu__link-icon flaticon-clipboard"></i>
                <span class="m-menu__link-text translate" data-args="Brand">Brand</span>
            </a>
        </li>
        <li class="m-menu__item  ">
            <a href="~/projectmanagement/clientbrief" class="fakelink m-menu__link ">
                <i class="m-menu__link-icon flaticon-users"></i>
                <span class="m-menu__link-text translate" data-args="Client brief">Client Brief</span>
            </a>
        </li>
        <li class="m-menu__item  ">
            <a href="~/projectmanagement/job" class="fakelink m-menu__link ">
                <i class="m-menu__link-icon flaticon-list-1"></i>
                <span class="m-menu__link-text translate" data-args="Job">Job</span>
            </a>
        </li>
        <li class="m-menu__item  ">
            <a href="~/projectmanagement/timeline" class="fakelink m-menu__link ">
                <i class="m-menu__link-icon flaticon-event-calendar-symbol"></i>
                <span class="m-menu__link-text translate" data-args="Timeline">Timeline</span>
            </a>
        </li>
        <li class="m-menu__item  ">
            <a href="~/projectmanagement/timesheet" class="fakelink m-menu__link ">
                <i class="m-menu__link-icon flaticon-calendar-with-a-clock-time-tools"></i>
                <span class="m-menu__link-text translate" data-args="Timesheet">Timesheet</span>
            </a>
        </li>

        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-price-tag"></i>
                <span class="m-menu__link-text translate" data-args="Production Cost">Production Cost</span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/projectmanagement/pca" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Analysis (PCA)</span></a></li>
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/projectmanagement/pce" class="m-menu__link fakelink"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i> <span class="m-menu__link-text">Estimation (PCE)</span></a></li>
                    
                </ul>
            </div>
        </li>
        <li class="m-menu__item  ">
            <a href="~/projectmanagement/feedback" class="fakelink m-menu__link ">
                <i class="m-menu__link-icon flaticon-feed"></i>
                <span class="m-menu__link-text translate" data-args="Client Feedback">Client Feedback</span>
            </a>
        </li>
        <li class="m-menu__item  ">
            <a href="~/projectmanagement/status" class="fakelink m-menu__link ">
                <i class="m-menu__link-icon flaticon-book"></i>
                <span class="m-menu__link-text translate" data-args="Set Status">Set Status</span>
            </a>
        </li>
        <li class="m-menu__item  ">
            <a href="~/projectmanagement/dam" class="fakelink m-menu__link ">
                <i class="m-menu__link-icon flaticon-file-2"></i>
                <span class="m-menu__link-text translate" data-args="Digital Asset Management">Digital Asset Management</span>
            </a>
        </li>

    </ul>
            </div>
