﻿@model PhoenixERPWebApp.Models.SalaryProcessHeader
@if ((Model.Status ?? 0) != PhoenixERPWebApp.Models.StatusTransaction.Draft)
{
    <br />
    <div class="row" id="approval_data_detail">
        <div class="col-lg-12 m-row--no-padding">
            <div class="m-accordion m-accordion--bordered m-accordion--solid" id="approval_Detail" role="tablist">
                <!--begin::Item-->
                <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed" role="tab" id="approval_Detail_head" data-toggle="collapse" href="#approval_Detail_body" aria-expanded="true">
                        <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                        <span class="m-accordion__item-title">Approval</span>
                        <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse" id="approval_Detail_body" role="tabpanel" aria-labelledby="approval_Detail_head" data-parent="#approval_Detail">
                        <div class="m-accordion__item-content">
                            <div class="row">
                                <div class="col-lg-12 m-form__group-sub">
                                    <div class="form-group">
                                        @(Html.Kendo().Grid<PhoenixERPWebApp.Models.TrUserApproval>()
                                            .Name("gridApprovalHistoryList")
                                            .Columns(columns =>
                                            {
                                                columns.Bound("").Title("#").Width(35).Filterable(false).HtmlAttributes(new { style = "text-align:center;", @class = "row-number" }).HeaderHtmlAttributes(new { style = "text-align:center;" });
                                                columns.Bound(p => p.EmployeeName).Width(200);
                                                columns.Bound(p => p.StatusApprovedDescription).Width(200);
                                                columns.Bound(p => p.RemarkRejected).Width(200);
                                            })
                                            .NoRecords()
                                            .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .PageSize(10)
                                                .Events(events => events.Error("errorHandler"))
                                                .Model(model => { model.Id(p => p.Id); })
                                                .Read(read => read.Action("ReadHistoryApproval", "ManageTrApproval", new { area = "Um" }).Data("gridHistory_params"))
                                            )
                                            .Events(e => e.DataBound("dataBoundColorEvent"))
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function gridHistory_params() {
        return {
            id: '@Model.Id'
        };
    }

    function dataBoundColorEvent(e) {
        dataBoundBgColorEvent(e, "StatusApproved");
    }
</script>
