@model PhoenixERPWebApp.Models.SalaryProcessHeader
@{
    if (Model.IsApprove == true)
    {
        ViewData["Title"] = "Generate Salary Process Form Approval";
    }
    else
    {
        ViewData["Title"] = "Generate Salary Process Form";
    }
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">HRIS</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (Model.IsApprove == true)
                    {
                        <a asp-action="indexapproval" asp-controller="payroll" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Generate Salary Process Approval</span></a>
                    }
                    else
                    {
                        <a asp-action="index" asp-controller="payroll" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Generate Salary Process</span></a>
                    }
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (Model.IsApprove == true)
                    {
                        <a asp-action="addedit" asp-controller="payroll" asp-area="hrisnew" asp-route-Id="@Model.Id" asp-route-isApprove="true" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else if (string.IsNullOrEmpty(Model.Id))
                    {
                        <a asp-action="addedit" asp-controller="payroll" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else
                    {
                        <a asp-action="addedit" asp-controller="payroll" asp-area="hrisnew" asp-route-Id="@Model.Id" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-success">Generate Salary Process Form</h3> &nbsp;
                             @if (Model.Status == PhoenixERPWebApp.Models.StatusTransaction.Draft)
                                        {<span class="m-badge m-badge--info m-badge--wide" id="lblstatus">@PhoenixERPWebApp.Models.StatusTransaction.StatusName(Model.Status)</span> }
                                    else if (Model.Status == PhoenixERPWebApp.Models.StatusTransaction.WaitingApproval)
                                    { <span class="m-badge m-badge--warning m-badge--wide" id="lblstatus">@PhoenixERPWebApp.Models.StatusTransaction.StatusName(Model.Status)</span> }
                                else if (Model.Status == PhoenixERPWebApp.Models.StatusTransaction.Rejected)
                                { <span class="m-badge m-badge--danger m-badge--wide" id="lblstatus">@PhoenixERPWebApp.Models.StatusTransaction.StatusName(Model.Status)</span> }
                                else if (Model.Status == PhoenixERPWebApp.Models.StatusTransaction.Approved)
                                { <span class="m-badge m-badge--success m-badge--wide" id="lblstatus">@PhoenixERPWebApp.Models.StatusTransaction.StatusName(Model.Status)</span>}
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formPayroll" class="form-horizontal form-bordered" role="form">
                        <div class="row ">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="CreatedOn" />
                                <input type="hidden" asp-for="ModifiedBy" />
                                <input type="hidden" asp-for="ModifiedOn" />
                                <input type="hidden" asp-for="ApprovedBy" />
                                <input type="hidden" asp-for="ApprovedOn" />
                                <input type="hidden" asp-for="IsActive" />
                                <input type="hidden" asp-for="IsLocked" />
                                <input type="hidden" asp-for="IsDefault" />
                                <input type="hidden" asp-for="IsDeleted" />
                                <input type="hidden" asp-for="OwnerId" />
                                <input type="hidden" asp-for="DeletedBy" />
                                <input type="hidden" asp-for="DeletedOn" />
                                <input type="hidden" asp-for="BusinessUnitDivisionId" />
                                <input type="hidden" asp-for="BusinessUnitDepartementId" />
                                <input type="hidden" asp-for="IsTmp" />
                                <input type="hidden" asp-for="Code" />

                                <div class="row">
                                    <div class="col-lg-4 m-form__group-sub">
                                        <div class="form-group">
                                            <label asp-for="Month"></label> <span class="req">*</span> :
                                            @(Html.Kendo().DropDownListFor(x => x.Month)
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        //.OptionLabel($"Choose a {Html.DisplayNameFor(m => m.JobLevelId)}")
                                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                        .Filter(FilterType.Contains)
                                                        .DataSource(source => source
                                                            .Custom()
                                                            .Transport(transport => transport
                                                            .Read(read =>
                                                            {
                                                                read.Action("GetDDLMonth", "Dropdown", new { area = "HrisNew" });
                                                            }))
                                                            .ServerFiltering(false)
                                                        )
                                            )
                                        </div>
                                    </div>
                                    <div class="col-lg-4 m-form__group-sub">
                                        <div class="form-group">
                                            <label asp-for="Year"></label> <span class="req">*</span> :
                                            @(Html.Kendo().DropDownListFor(x => x.Year)
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                        .Filter(FilterType.Contains)
                                                        .DataSource(source => source
                                                            .Custom()
                                                            .Transport(transport => transport
                                                            .Read(read =>
                                                            {
                                                                read.Action("GetDDLYear", "Dropdown", new { area = "HrisNew" });
                                                            }))
                                                            .ServerFiltering(false)
                                                        )
                                            )
                                        </div>
                                    </div>
                                     @if (ViewBag.isRequestor == true)
                                     {
                                        <div class="col-lg-4">
                                            <button type="button" id="btnGenerate" class="btn btn-primary edit" style="height:45px; margin-top:8px;"><span class="fa fa-plus"></span> Generate</button>
                                        </div>
                                     }
                                </div>
                                <br />
                                <div id="gridPayroll">No records available.</div>
                                <br />
                                <partial name="_HistoryApproval" />
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    @if (ViewBag.isRequestor == true)
                                    {
                                        @if ((Model.Status ?? 0) == PhoenixERPWebApp.Models.StatusTransaction.Draft)
                                        {
                                            <button type="button" id="btnSave" class="btn btn-success edit"><span class="fa fa-save"></span> Save</button>
                                        }
                                        <button type="button" id="btnSubmit" class="btn btn-primary edit"><span class="fa fa-paper-plane"></span> Submit</button>
                                    }

                                    @if (Model.IsApprove == true)
                                    {
                                        @if (ViewBag.processApprove == true)
                                        {
                                            <button type="button" id="btnShow" class="btn btn-danger"><span class="fa fa-ban"></span> Reject</button>
                                            <button type="button" id="btnApprove" class="btn btn-primary edit"><span class="fa fa-bookmark"></span> Approve</button>
                                        }
                                        <a asp-action="Indexapproval" asp-controller="payroll" asp-area="hrisnew" class="fakelink btn btn-secondary"><span class="fa fa-arrow-circle-left"></span> Cancel</a>
                                    }
                                    else
                                    {
                                        <a asp-action="index" asp-controller="payroll" asp-area="hrisnew" class="fakelink btn btn-secondary"><span class="fa fa-arrow-circle-left"></span> Cancel</a>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modalRemark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Remarks</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            @Html.TextAreaFor(x => x.RemarkRejected, new { style = "height:150px;width:100%" })
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" id="btnReject" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dateFields = [];
    $(document).ready(function () {
        if ("@Model.Id" != "") {
            $("#Month").data("kendoDropDownList").readonly();
            $("#Year").data("kendoDropDownList").readonly();
            var month = $("#Month").data("kendoDropDownList").value();
            var year = $("#Year").data("kendoDropDownList").value();
            ProsesGenerate(month, year);
        }
    });

    $('#btnShow').click(function () {
        $("#RemarkRejected").attr("required", "required");
        $('#modalRemark').modal('show');
    });

    $('#btnApprove').click(function () {
        $("#RemarkRejected").removeAttr("required", "required");
        callAction({ formId:"formPayroll", title: "approve", type:"POST", url: '@Url.Action("approve", "payroll")'});
    });

    $('#btnReject').click(function () {
        callAction({ formId:"formPayroll", title: "reject", type:"POST", url: '@Url.Action("reject", "payroll")'});
    });

    $('#btnSubmit').click(function () {
        callAction({ formId: "formPayroll", title: "submit", type: "POST", url: '@Url.Action("submit", "payroll")'});
    });


    $("#btnSubmitToHC").click(function () {
        callAction({ formId: "formPayroll", title: "submit to hc", type: "POST", url: '@Url.Action("submithc", "payroll")' });
    });

    $('#btnSave').click(function () {
        callAction({ formId: "formPayroll", title: "save", type: "POST", url: '@Url.Action("save", "payroll")' });
    });

    $('#btnGenerate').click(function () {
        var valid = $("#formPayroll").validate().form();
        if (valid) {
            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            var month = $("#Month").data("kendoDropDownList").value();
            var year = $("#Year").data("kendoDropDownList").value();

            $.ajax({
                type: "POST",
                url: '@Url.Action("GenerateProcess", "Payroll")' ,
                data: { month: month, year: year},
                dataType: 'json',
                aync:false,
                success: function (result) {
                    if (result.success) {
                        var data = result.Data;
                        $("#Id").val(data.Id);
                        $("#Code").val(data.Code);
                        $("#IsTmp").val(data.IsTmp);
                        $("#CreatedBy").val(data.CreatedBy);
                        $("#CreatedOn").val(data.CreatedOn);

                        ProsesGenerate(month, year);
                    } else {
                        swal('Error', result.message, 'error');
                    }
                    mApp.unblock("#m_blockui_list");
                },
                error: function (e, t, s) {
                    var errorMessage = e.responseJSON.errorMessage;
                    if (errorMessage === "" || errorMessage === undefined) {
                        errorMessage = "Ooops, something went wrong !";
                    }
                    swal('Error', errorMessage, 'error');
                    mApp.unblock("#m_blockui_list");
                }
            }).then(setTimeout(function () {
                mApp.unblock("#m_blockui_list");
            }, 2e3));
        }
    });

    function ProsesGenerate(month, year) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetGenerateList", "Payroll")',
            data: { month: month, year: year},
            dataType: 'json',
            aync: false,
            success: function (result) {
                if (result.success) {
                    generateGrid(result);
                } else {
                    swal('Error', result.message, 'error');
                }
                mApp.unblock("#m_blockui_list");
            },
            error: function (e, t, s) {
                var errorMessage = e.responseJSON.errorMessage;
                if (errorMessage === "" || errorMessage === undefined) {
                    errorMessage = "Ooops, something went wrong !";
                }
                swal('Error', errorMessage, 'error');
                mApp.unblock("#m_blockui_list");
            }
        });
    }

    function generateGrid(result) {
        if (result.Data != null) {
            var model = generateModel(result.Data[0]);
            $("#gridPayroll").empty().kendoGrid({
                dataSource: {
                    data: result.Data,
                    model: model,
                    pageSize: 10
                },
                //height: 350,
                //groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                resizable: true,
                columns: ColumnGeneration(result.Data),
            }).data('kendoGrid');
        } else {
            $("#gridPayroll").empty().append("<div>No records available.</div>");
        }
    }

    function generateModel(result) {
        var model = {};
        model.id = "employee_basic_info_id";
        var fields = {};
        for (var property in result) {
            var propType = typeof result[property];
            if (propType == "number") {
                fields[property] = {
                    type: "number",
                    nullable: true
                    //validation: {
                    //    required: true
                    //}
                };
            } else if (propType == "boolean") {
                fields[property] = {
                    type: "boolean",
                    nullable :true
                    //validation: {
                    //    required: true
                    //}
                };
            } else if (propType == "string") {
                var parsedDate = kendo.parseDate(result[property]);
                if (parsedDate) {
                    fields[property] = {
                        type: "date",
                        nullable: true
                        //validation: {
                        //    required: true
                        //}
                    };
                    dateFields.push(property);
                } else {
                    fields[property] = {
                        type: "string",
                        nullable :true
                        //validation: {
                        //    required: true
                        //}
                    };
                }
            } else {
                fields[property] = {
                    type: "string",
                    nullable: true
                    //validation: {
                    //    required: true
                    //}
                };
            }

        }
        model.fields = fields;

        return model;
    }

    function ColumnGeneration(result) {
        var GridColumnGeneration = [];
        $.each(result[0], function (gridTitle, element) {
            if (gridTitle != "employee_basic_info_id") {
                var propType = typeof element;
                var title = gridTitle.replaceAll("rpt_", "").replaceAll("_", " ");
                var width = 190; if (gridTitle == "rpt_Employee_Name") width = 250;
                if (propType == "number") {
                    GridColumnGeneration.push({ title: title, field: gridTitle, width: width, format: "{0:n2}" });
                } else {
                    GridColumnGeneration.push({ title: title, field: gridTitle, width: width });
                }
            }
        });
        return GridColumnGeneration;
    }

    String.prototype.replaceAll = function(search, replacement) {
    var target = this;
    return target.split(search).join(replacement);
};
</script>