@model PhoenixERPWebApp.Models.JournalEntry
@{
    ViewData["Title"] = "Journal Entry Detail";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="journalentry" asp-area="finance" class="m-nav__link"><span class="m-nav__link-text">Journal Entry Detail</span></a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                     @if (string.IsNullOrEmpty(Model.Id))
                    {
                        <a asp-action="Detail" asp-controller="journalentry" asp-area="finance"  class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else
                    {
                        <a asp-action="Detail" asp-controller="journalentry" asp-area="finance"  asp-route-Id="@Model.Id" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-success">Journal Entry Detail</h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formJournalEntry" class="form-horizontal form-bordered" role="form" asp-action="submit" asp-controller="journalentry" asp-area="finance">
                        <div class="row ">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="CreatedOn" />
                                <input type="hidden" asp-for="ModifiedBy" />
                                <input type="hidden" asp-for="ModifiedOn" />
                                <input type="hidden" asp-for="ApprovedBy" />
                                <input type="hidden" asp-for="ApprovedOn" />
                                <input type="hidden" asp-for="DeletedBy" />
                                <input type="hidden" asp-for="DeletedOn" />
                                <input type="hidden" asp-for="IsActive" />
                                <input type="hidden" asp-for="IsLocked" />
                                <input type="hidden" asp-for="IsDefault" />
                                <input type="hidden" asp-for="IsDeleted" />
                                <input type="hidden" asp-for="OwnerId" />
                                <input type="hidden" asp-for="IsDraft" />

                                <div class="row ">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="LegalEntityId"></label> <span class="req">*</span> :
                                            @(Html.Kendo().DropDownListFor(m => m.LegalEntityId)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .Filter(FilterType.Contains)
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
                                                    });
                                                })
                                                .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.LegalEntityId)}")
                                                .HtmlAttributes(new {
                                                    style = "width:100%;",
                                                    required = "required",
                                                    validationmessage = $"{Html.DisplayNameFor(m => m.LegalEntityId)} is required"
                                                })
                                            )
                                        </div>
                                    </div>    
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="JvDate"></label> <span class="req">*</span>  :
                                            @(Html.Kendo().DatePickerFor(m => m.JvDate)
                                                .Format("dd MMMM yyyy")
                                                .HtmlAttributes(new
                                                {
                                                    style = "width: 100%",
                                                    onkeydown = "javascript:return false;",
                                                    placeholder = $"Input type a {Html.DisplayNameFor(m => m.JvDate)}",
                                                    required = "required",
                                                    validationmessage = $"{Html.DisplayNameFor(m => m.JvDate)} is required"

                                                })
                                            )
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="row ">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="BusinessUnitId"></label> <span class="req">*</span> :
                                            @(Html.Kendo().DropDownListFor(m => m.BusinessUnitId)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .Filter(FilterType.Contains)
                                                .Events(evt => evt.Select("BusinessUnit_Select"))
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetDivisionFinance", "Dropdown", new { area = "Finance" });
                                                    });
                                                })
                                                .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.BusinessUnitId)}")
                                                .HtmlAttributes(new {
                                                    style = "width:100%;",
                                                    required = "required",
                                                    validationmessage = $"{Html.DisplayNameFor(m => m.BusinessUnitId)} is required"
                                                })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="AffiliationId"></label> <span class="req">*</span> :
                                            @(Html.Kendo().DropDownListFor(m => m.AffiliationId)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .Filter(FilterType.Contains)
                                                .DataSource(source => source
                                                    .Custom()
                                                    .Transport(transport => transport
                                                    .Read(read =>
                                                    {
                                                        read.Action("GetAffiliation", "Dropdown", new { area = "Finance" });
                                                    }))
                                                    .ServerFiltering(false)
                                                )
                                                .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.AffiliationId)}")
                                                .HtmlAttributes(new {
                                                    style = "width:100%;",
                                                    required = "required",
                                                    @readonly = "readonly",
                                                    validationmessage = $"{Html.DisplayNameFor(m => m.AffiliationId)} is required"
                                                })
                                            )
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    @*<div class="col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="JvReferenceNo"></label> :
                                            @(Html.Kendo().TextBoxFor(m => m.JvReferenceNo)
                                                .HtmlAttributes(new
                                                {
                                                    style = "width:100%",
                                                    maxlength = 50, 
                                                    @placeholder = $"Input type a {Html.DisplayNameFor(m => m.JvReferenceNo)}"
                                                }
                                            ))
                                        </div>
                                    </div>*@
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="Code"></label> :
                                            @(Html.Kendo().TextBoxFor(m => m.Code)
                                                .HtmlAttributes(new
                                                {
                                                    style = "width:100%",
                                                    @readonly = "readonly",
                                                    placeholder = $"Auto generated by system"
                                                }))
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label asp-for="CurrencyId"></label> <span class="req">*</span> : 
                                            @(Html.Kendo().DropDownListFor(m => m.CurrencyId)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .Filter(FilterType.Contains)
                                                .Events(evt => evt.Select("currency_select"))
                                                .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.CurrencyId)}")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetDDLCurrency", "DropDown", new { area = "Finance" });
                                                    });
                                                })
                                                .HtmlAttributes(new {
                                                    style = "width:100%;",
                                                    @required = "required",
                                                    validationmessage = $"{Html.DisplayNameFor(m => m.CurrencyId)} is required"
                                                })
                                            ) 
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label asp-for="ExchangeRate"></label> <span class="req">*</span> :
                                            @(Html.Kendo().NumericTextBoxFor(m => m.ExchangeRate).Spinners(false)
                                                .HtmlAttributes(new {
                                                    @placeholder = $"Input type a {Html.DisplayNameFor(m => m.ExchangeRate)}",
                                                    @required = "required",
                                                    @style = "width:100%",
                                                    validationmessage = $"{Html.DisplayNameFor(m => m.ExchangeRate)} is required"
                                                }))
                                        </div>
                                    </div>
                                </div>
                                
                                 <div class="row">
                                    <div class="col-lg-6 m-form__group-sub">
                                        <div class="form-group">
                                            <label asp-for="JvDescription"></label> :
                                            @Html.TextAreaFor(m => m.JvDescription, new {  style = "height:100px; width:100%;", @placeholder = $"Input type a {Html.DisplayNameFor(m => m.JvDescription)}"})
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.JournalEntryDetail>()
                                                .Name("grid")
                                                .ToolBar(x =>
                                                {
                                                    if ((Model.IsDraft ?? true) == true)
                                                    {
                                                        x.Create();
                                                    }

                                                })
                                                .Columns(columns =>
                                                {
                                                    if ((Model.IsDraft??true) == true)
                                                    {
                                                        columns.Command(command =>
                                                        {
                                                            command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                            command.Destroy().Text(" ");
                                                        }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                    }
                                                    columns.Bound(p => p.CodeRec).EditorTemplateName("StringReadOnly").Width(100);
                                                    columns.Bound(p => p.CoaId).EditorTemplateName("Finance/Journal/CoaIdDropdown").ClientTemplate("#=AccountName#").Width(250);
                                                    columns.Bound(p => p.Condition).EditorTemplateName("Finance/Journal/ConditionDropdown").Width(100);
                                                    columns.Bound(p => p.Debit).Width(150);
                                                    columns.Bound(p => p.Credit).Width(150);
                                                })
                                                //.Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                //.Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                                //    .Extra(false)
                                                //    .Operators(operators => operators
                                                //    .ForString(str => str.Clear()
                                                //        .Contains("Contains")
                                                //        .StartsWith("Start sWith")
                                                //        .EndsWith("End sWith")
                                                //    )))
                                                //.Scrollable(s => s.Enabled(true).Height("auto"))
                                                .Resizable(rsz => rsz.Columns(true))
                                                .NoRecords()
                                                .Editable(x => x.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(true))
                                                .DataSource(dataSource => dataSource
                                                    .Ajax()
                                                    .Events(events => events.Error("errorHandler"))
                                                    .Model(model => { model.Id(p => p.Id); })
                                                    .Read(read => read.Action("readdetail", "journalentry").Data("grid_params"))
                                                    .Create(create => create.Action("createdetail", "journalentry"))
                                                    .Update(update => update.Action("updatedetail", "journalentry"))
                                                    .Destroy(destroy => destroy.Action("destroydetail", "journalentry"))
                                                )
                                                .Events(evt=>evt.Save("save_event").Edit("edit_event"))
                                            )
                                        </div>
                                    </div>
                                </div>

                                @if ((Model.IsDraft ?? true) == true)
                                {
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button type="button" id="btnCretaeJournal" class="btn btn-primary add"><span class="fa fa-plus"></span> Create Journal</button>
                                            <div class="pull-right">
                                                <h3 class="m--font-info"><span id="lblBalance"></span></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                }

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Journal>()
                                                .Name("gridJournal")
                                                .Columns(columns =>
                                                {
                                                    columns.Bound(p => p.CodeRec).Width(100);
                                                    columns.Bound(p => p.AccountName).Title("Account Name (Level 5 COA)").Width(250);
                                                    columns.Bound(p => p.ReferenceNumber).Width(150);
                                                    columns.Bound(p => p.Description).Width(200);
                                                    columns.Bound(p => p.Debit).Width(150);
                                                    columns.Bound(p => p.Credit).Width(150);
                                                    columns.Bound(p => p.LegalEntityName).Width(200);
                                                    columns.Bound(p => p.DivisiName).Width(200);
                                                    columns.Bound(p => p.AfiliationName).Width(200);
                                                })
                                                //.Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                //.Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                                //    .Extra(false)
                                                //    .Operators(operators => operators
                                                //    .ForString(str => str.Clear()
                                                //        .Contains("Contains")
                                                //        .StartsWith("Start sWith")
                                                //        .EndsWith("End sWith")
                                                //    )))
                                                .Scrollable(s => s.Enabled(true).Height("auto"))
                                                .Resizable(rsz => rsz.Columns(true))
                                                .NoRecords()
                                                .DataSource(dataSource => dataSource
                                                    .Ajax()
                                                    .Events(events => events.Error("errorHandler"))
                                                    .Model(model => { model.Id(p => p.Id); })
                                                    .Read(read => read.Action("readjournal", "journalentry").Data("grid_params"))
                                                )
                                            )
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    @if ((Model.IsDraft ?? true) == true)
                                    {
                                        <button type="button" id="btnSave" class="btn btn-success edit"><span class="fa fa-save"></span> Save</button>
                                        <button type="button" id="btnSubmit" class="btn btn-primary edit"><span class="fa fa-paper-plane"></span> Submit</button>
                                        @if (Model.Id != null)
                                        {
                                            <button type="button" id="btnDelete" class="btn btn-danger delete"><span class="fa fa-trash-alt"></span> Delete</button>
                                        }
                                    }
                                    <a asp-action="index" asp-controller="journalentry" asp-area="finance" class="fakelink btn btn-secondary">Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {        
        if ("@(Model.IsDraft?? true)" == "False") {
            $("#ExchangeRate").data("kendoNumericTextBox").readonly(); 
            $("#LegalEntityId").data("kendoDropDownList").readonly();
            $("#JvDate").data("kendoDatePicker").readonly();  
            $("#BusinessUnitId").data("kendoDropDownList").readonly();            
            $("#JvReferenceNo").attr('readonly', 'readonly');
            $("#CurrencyId").data("kendoDropDownList").readonly();
            $("#JvDescription").attr('readonly', 'readonly');
        } else {            
            if ("@Model.CurrencyId" == "@PhoenixERPWebApp.Models.Currency.IDR") {
                $("#ExchangeRate").data("kendoNumericTextBox").readonly(); 
            } else {
                $("#ExchangeRate").data("kendoNumericTextBox").readonly(false); 
            } 
        }
    });

    function grid_params() {
        return {
            id: $("#Id").val()
        }
    }

    $('#btnSubmit').click(function () {
        if (!isValid()) return;
        callAction({ formId: "formJournalEntry", title: "submit", type: "POST", url: '@Url.Action("submit", "journalentry")', objects: result()});
    });

    $('#btnSave').click(function () {
        if (!isValid()) return;
        callAction({ formId: "formJournalEntry", title: "save", type: "POST", url: '@Url.Action("save", "journalentry")', objects: result()});
    });
    
    $('#btnDelete').click(function () {
        callAction({ formId: "formJournalEntry", title: "delete", type: "DELETE", url: '@Url.Action("delete", "journalentry")'});
    });

    $('#btnCretaeJournal').click(function () {
        if (!isValidBalance()) return;
        callAction({ formId: "formJournalEntry", title: "create journal", type: "POST", url: '@Url.Action("createjournal", "journalentry")', objects: result()});
    });
    
    function isValid() {
        var valid = $("#formJournalEntry").validate().form();
        if (valid) {
            var grid = $("#grid").data("kendoGrid").dataSource.data();
            if (grid.length == 0) {
                swal('Warning', "Please input journal detail list", 'warning');
                return false;
            }
            
            return true;
        } else {
            return false;
        }
    }

    function isValidBalance() {
        var valid = $("#formJournalEntry").validate().form();
        if (valid) {
            var grid = $("#grid").data("kendoGrid").dataSource.data();
            if (grid.length == 0) {
                swal('Warning', "Please input journal detail list", 'warning');
                return false;
            }

            if (Balance() == false) {
                swal('Warning', "Debit value is not the same as credit value, please make sure the debit value must be equal to the credit value.", 'warning');
                return false;
            }

            return true;
        } else {
            return false;
        }
    }

    function result() {
        var grid = $("#grid").data("kendoGrid");
        var dataList = {
            JournalEntryDetails: grid.dataSource.data()
        }

        return dataList;
    }
         
    function CoaId_Select(e) {
        if (e.dataItem) {
            var dataItem = e.dataItem;

            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });
            
            $.ajax({
                type: "GET",
                url: '@Url.Action("Get", "ChartOfAccount")',
                data: { id: dataItem.Value },
                success: function (result) {
                    if (result != undefined) {
                        $("#CodeRec").val(result.CodeRec);
                    }
                    mApp.unblock("#m_blockui_list");
                },
                error: function (e, t, s) {
                    swal('Information', 'Ooops, something went wrong !', 'info');
                    mApp.unblock("#m_blockui_list");
                }
            }).then(setTimeout(function () {
                mApp.unblock("#m_blockui_list");
            }, 2e3));
        }
    }
    
    function BusinessUnit_Select(e) {
        if (e.dataItem) {
            var dataItem = e.dataItem;

            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });
            
            $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                async: false, 
                url: '@Url.Action("Get", "BusinessUnit", new { area = "HrisNew" })',
                data: { id: dataItem.Value },
                success: function (result) {
                    if (result != undefined) {
                        $("#AffiliationId").data("kendoDropDownList").value(result.AffiliationId);
                    }
                    mApp.unblock("#m_blockui_list");
                },
                error: function (e, t, s) {
                    swal('Information', 'Ooops, something went wrong !', 'info');
                    mApp.unblock("#m_blockui_list");
                }
            }).then(setTimeout(function () {
                mApp.unblock("#m_blockui_list");
            }, 2e3));
        }
    }

    function save_event(e) {
        var CoaId = $("#CoaId").data("kendoDropDownList").value();
        var AccountName = $("#CoaId").data("kendoDropDownList").text();
        var CodeRec = $("#CodeRec").val();
        var Condition = $("#Condition").data("kendoDropDownList").value();
        var Debit = $("#Debit").data("kendoNumericTextBox").value();
        var Credit = $("#Credit").data("kendoNumericTextBox").value();
        
        e.model.set("CoaId", CoaId);
        e.model.set("CodeRec", CodeRec);
        e.model.set("AccountName", AccountName);
        e.model.set("Condition", Condition);
        e.model.set("Debit", Debit);
        e.model.set("Credit", Credit);
        Balance();
    }

    function edit_event(e){
        Condition(e.model.Condition);
    }

    function currency_select(e) {
        if (e.dataItem) {
            if (e.dataItem.Value == "@PhoenixERPWebApp.Models.Currency.IDR") {
                $("#ExchangeRate").data("kendoNumericTextBox").readonly();
                $('#ExchangeRate').data("kendoNumericTextBox").value(1);
            } else {
                $("#ExchangeRate").data("kendoNumericTextBox").readonly(false);
                $('#ExchangeRate').data("kendoNumericTextBox").value(0);
            }
        }
    }

    function Condition_Select(e) {
        if (e.dataItem) {
            Condition(e.dataItem.Value);
            if (e.dataItem.Value == "Debit") {                
                $('#Credit').data("kendoNumericTextBox").value(0);
            } else {
                $('#Debit').data("kendoNumericTextBox").value(0);
            }
        }
    }

    function Condition(value){
        var isReadOnly = (value == "Debit");
        $("#Debit").data("kendoNumericTextBox").readonly(!isReadOnly);
        $("#Credit").data("kendoNumericTextBox").readonly(isReadOnly);
    }

    function Balance() { 
        var models = $("#grid").data("kendoGrid").dataSource.data();
        var totalDebit = 0;
        var totalCredit = 0;

        $.each(models, function (index, data) { 
            if (data.Debit != null) {
                totalDebit += data.Debit;
            }
            if (data.Credit != null) {
                totalCredit += data.Credit;
            } 
        });
        var balance = (totalCredit == totalDebit);
        if (balance) {
            $("#lblBalance").html("<span style='color:green;'>Balance</span>");
        } else {
            $("#lblBalance").html("<span style='color:red;'>Not Balance</span>");
        }
        return balance;
    }
</script>