@{
    ViewBag.ModalTitle = "RoleAccess";
    ViewBag.ModalId = "RoleAccessModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="RoleAccessFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="access_activate">access_activate</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_access_activate" id="search_access_activate"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="access_append">access_append</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_access_append" id="search_access_append"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="access_approve">access_approve</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_access_approve" id="search_access_approve"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="access_create">access_create</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_access_create" id="search_access_create"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="access_delete">access_delete</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_access_delete" id="search_access_delete"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="access_level">access_level</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_access_level" id="search_access_level"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="access_lock">access_lock</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_access_lock" id="search_access_lock"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="access_read">access_read</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_access_read" id="search_access_read"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="access_share">access_share</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_access_share" id="search_access_share"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="access_update">access_update</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_access_update" id="search_access_update"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="application_entity_id">application_entity_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_application_entity_id" id="search_application_entity_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="application_role_id">application_role_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_application_role_id" id="search_application_role_id"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnRoleAccess.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnRoleAccess.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>