@{
    ViewBag.ModalTitle = "ApplicationUser";
    ViewBag.ModalId = "ApplicationUserModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="ApplicationUserFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="access_token">access_token</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_access_token" id="search_access_token"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="app_fullname">app_fullname</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_app_fullname" id="search_app_fullname"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="app_password">app_password</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_app_password" id="search_app_password"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="app_username">app_username</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_app_username" id="search_app_username"  maxlength="400" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="business_unit_id">business_unit_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_business_unit_id" id="search_business_unit_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="email">email</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_email" id="search_email"  maxlength="450" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="is_system_administrator">is_system_administrator</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_is_system_administrator" id="search_is_system_administrator"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="manager_id">manager_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_manager_id" id="search_manager_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="mime_type">mime_type</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_mime_type" id="search_mime_type"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="organization_id">organization_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_organization_id" id="search_organization_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="phone">phone</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_phone" id="search_phone"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="photo_base64">photo_base64</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_photo_base64" id="search_photo_base64"  maxlength="-1" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="primary_team">primary_team</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_primary_team" id="search_primary_team"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="thumbnail_base64">thumbnail_base64</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_thumbnail_base64" id="search_thumbnail_base64"  maxlength="-1" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="token_expiry">token_expiry</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_token_expiry" id="search_token_expiry"   type="number">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnApplicationUser.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnApplicationUser.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>