@{
    ViewData["Title"] = "Contract Sign";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    @*<a href="@Url.Content("~/Hris/ApplicantDetail/PersonalInfo")" class=" m-btn btn btn-primary btn-sm m-btn--sm">Contract Sign</a>*@
}

@section Paneltools{
    @*<a  data-target="#ApplicantProgressModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>*@
}
@section Panelbody{
    <style>
        .m-margin__top-15 {
            margin-top: 15px !important;
        }

        .redtext {
            color: red !important;
        }

        .bluetext {
            color: blue !important;
        }
    </style>
    <legend>Applicant Detial Info</legend>
    <hr />
    <form id="ContractSignFormNewApplicant" name="ContractSignFormNewApplicant" method="post">
        <input type="hidden" name="id" id="id" />
        <div class="row">
            <div class="col-lg-4">
                <select name="candicate_recruitment_id" id="candicate_recruitment_id" class="form-control form-control-sm m-input m-input--square"></select>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Applicant ID">Applicant ID</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="code" id="code" readonly />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Posting Code">Posting Code</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="posting_code" id="posting_code" readonly />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Souce">Souce</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="souce" id="souce" readonly />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Recruitment Status">Recruitment Status</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="status" id="status" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Vacancy">Vacancy</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="vacancy_name" id="vacancy_name" readonly />
                </div>
            </div>
        </div>
        <hr />
        <legend>Contract Sign</legend>
        <br />
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="Upload Sign Contract">Upload Sign Contract</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="upload_sign_contract" id="upload_sign_contract" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="Start Date">Start Date*</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" data-date-format="yyyy-mm-dd" id="start_date" name="start_date">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="End Date">End Date*</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" data-date-format="yyyy-mm-dd" id="end_date" name="end_date">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label><span class="translate" data-args="Remarks">Remarks</span> :</label>
                    <textarea name="remakrs" id="remakrs" class="form-control form-control-sm m-input m-input--square" cols="20"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="Take Home Pay">Take Home Pay</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="thp" id="thp" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <button type="button" id="btn-save" class="btn btn-primary" onclick="SubmitContractSign()">Process</button>
                <button type="button" id="btn-save" class="btn btn-danger" onclick="RejectData()">Reject</button>
                <a href="~/Hris/Applicant/TrackingNewApplicant/@ViewBag.RecordID" class=" btn btn-secondary">Close</a>
            </div>

        </div>
    </form>
    @*<table class="table table-striped table-bordered table-hover table-checkable" id="ApplicantProgressList"></table>
        @Html.Partial("ApplicantProgress/Search")*@
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/ContractSign.js"></script>
}
