@{
    ViewBag.ModalTitle = "ApplicantProgress";
    ViewBag.ModalId = "ApplicantProgressModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="ApplicantProgressFormSearch" method="post">
    <input type="hidden" name="Search_applicant_progress_id" id="Search_applicant_progress_id" value="0" />
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="applicant_progress">applicant_progress</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_applicant_progress" id="search_applicant_progress" maxlength="50" type="text">
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnApplicantProgress.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnApplicantProgress.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>