@{
    ViewBag.ModalTitle = "EmployeeAccount";
    ViewBag.ModalId = "EmployeeAccountModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="EmployeeAccountFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="account_no">account_no</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_account_no" id="search_account_no"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="bankbranch_id">bankbranch_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_bankbranch_id" id="search_bankbranch_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employeeaccount_id">employeeaccount_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_employeeaccount_id" id="search_employeeaccount_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_employee_basic_info_id" id="search_employee_basic_info_id"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnEmployeeAccount.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnEmployeeAccount.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>