﻿<div class="m-portlet m-portlet--head-sm" m-portlet="true">

    <div class="col-md-12 form-group" style="min-height: 4.1rem; border-bottom: 1px solid #d0d0d0;padding-bottom:10px;">
        <span class="m-nav__link-text bold sp-from-to"></span><br />
        <div class="ul-list-receipt">
            <span class="m-nav__link-text la la-user sender-from"></span>
        </div>

        <div class="form-group">
            <a class="m-nav__link open-weblink" target="_blank" href="">open this email in weblink</a>
        </div>
    </div>

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <div class="div-breadcump">
                    <h3 class="pull-left h-subject"></h3><br />
                </div>
            </div>
        </div>

        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-calendar"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text date-message"></span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="m-portlet__body" id="div-body-email">
    </div>

</div>
