﻿@model PhoenixERPWebApp.Models.PdrEmployee



<div class="row" id="assign_data_detail">
        <div class="col-lg-12 m-row--no-padding">
            <div class="m-accordion m-accordion--bordered m-accordion--solid" id="assign_Detail" role="tablist">
                <!--begin::Item-->
                <div class="m-accordion__item">
                    <div class="m-accordion__item-head show" role="tab" id="assign_Detail_head" data-toggle="collapse" href="#assign_Detail_body" aria-expanded="true">
                        <span class="m-accordion__item-icon"><i class="fa fa-user"></i></span>
                        <span class="m-accordion__item-title">Info Employee</span>
                        <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body show" id="assign_Detail_body" role="tabpanel" aria-labelledby="assign_Detail_head" data-parent="#assign_Detail">
                        <div class="m-accordion__item-content">                            
                            <div class="row" id="search">
                                <div class="col-lg-5 m-form__group-sub">
                                    <div class="form-group">
                                        <label class="search-employee">Search Employee </label>:
                                        @(Html.Kendo().AutoComplete()
                                                .Name("SearchEmployee")
                                                .DataTextField("Text")
                                                .Filter(FilterType.Contains)
                                                //.MinLength(3)
                                                .HtmlAttributes(new { style = "width:100%"})
                                                .Events(ev => ev.Select("employeeInfoSelectEvent"))
                                                .DataSource(source => {
                                                    source
                                                        .Read(read =>
                                                        {
                                                            read.Action("GetDDLEmployeeBasicInfoByName", "Dropdown", new { area = "HrisNew" }).Data("params_autocomplete");
                                                        })
                                                        .ServerFiltering(true);
                                                })
                                        )
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label asp-for="infoEmployee.EmployeeId"></label> <span class="req">*</span> :
                                        @(Html.Kendo().TextBoxFor(x => x.EmployeeBasicInfoId)
                                            .HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                @readonly = "readonly",
                                                required = "required",
                                                @class = "form-control form-control-sm m-input",
                                            }))
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label asp-for="infoEmployee.EmployeeName"></label> :
                                        @(Html.Kendo().TextBoxFor(x => x.infoEmployee.EmployeeName)
                                            .HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                @readonly = "readonly",
                                                @class = "form-control form-control-sm m-input",
                                            }))
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label asp-for="infoEmployee.JobTitle"></label> :
                                        @(Html.Kendo().TextBoxFor(x => x.infoEmployee.JobTitle)
                                            .HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                @readonly = "readonly",
                                                @class = "form-control form-control-sm m-input",
                                            }))
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label asp-for="infoEmployee.Grade"></label> :
                                        @(Html.Kendo().TextBoxFor(x => x.infoEmployee.Grade)
                                            .HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                @readonly = "readonly",
                                                @class = "form-control form-control-sm m-input",
                                            }))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>      
    function params_autocomplete() {
        return {
            name: $("#SearchEmployee").val()
        };
    }

    function employeeInfoSelectEvent(e) {
        var dataItem = this.dataItem(e.item.index());
        if (dataItem === undefined) {
            this.value("");
            $("#EmployeeBasicInfoId").val("");
            //$("#infoEmployee_EmployeeId").val("");
            $("#infoEmployee_EmployeeName").val("");
            $("#infoEmployee_JobTitle").val("");
            $("#infoEmployee_Grade").val("");
        } else {
            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetEmployeeInfoById", "employeeinfo")',
                data: { employeeId: dataItem.Value },
                success: function (result) {
                    if (result != undefined) {
                        $("#EmployeeBasicInfoId").val(result.EmployeeId);
                        //$("#infoEmployee_EmployeeId").val(result.EmployeeId);
                        $("#infoEmployee_EmployeeName").val(result.EmployeeName);
                        $("#infoEmployee_JobTitle").val(result.JobTitle);
                        $("#infoEmployee_Grade").val(result.Grade);

                        if (result.Grade == "M1" || result.Grade == "E1" || result.Grade == "E2" || result.Grade == "E3" || result.Grade == "BOD") {
                            $("#divAppraisalM1").css("display", "block");
                        } else {
                            $("#gridPdrApprailsalM1").data('kendoGrid').dataSource.data([]);
                            $("#divAppraisalM1").css("display", "none");
                        }
                    }
                    mApp.unblock("#m_blockui_list");
                },
                error: function (e, t, s) {
                    swal('Information', 'Ooops, something went wrong !', 'info');
                    mApp.unblock("#m_blockui_list");
                }
            }).then(setTimeout(function () {
                mApp.unblock("#m_blockui_list");
            }, 2e3));
        }
    }
</script>