@{
    ViewData["Title"] = "Applicant";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    @*<a href="@Url.Content("~/Hris/ApplicantProgress/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>*@
}

@section Paneltools{
    @*<a  data-target="#ApplicantProgressModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>*@
}
@section Panelbody{
    <style>
        .m-margin__top-15 {
            margin-top: 15px !important;
        }

        .redtext {
            color: red !important;
        }

        .bluetext {
            color: blue !important;
        }
    </style>
    <legend>Applicant Tracking Status</legend>
    <hr />
    <form id="AplicantTrackingFormAccepted" name="AplicantTrackingFormAccepted" method="post">
        <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
        <input value="4" type="hidden" name="applicant_progress_id" id="applicant_progress_id" />
        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">&nbsp;</div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <a href="@Url.Content("~/Hris/JobVacancy/")" class="btn btn-primary">< Back to Job Vacancy</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="Posting Code">Posting Code</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="code" id="code" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="Request Code">Request Code</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="request_code" id="request_code" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="Post Date">Post Date</span> :</label>
                    <input type="text" class="form-control form-control-sm m-input m-input--square" name="post_date" id="post_date" />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="Vacancy">Vacancy</span> :</label>
                    <select class="form-control form-control-sm m-input m-input--square" name="vacancy_name" id="vacancy_name"></select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="Asign To">Asign To</span> :</label>
                    <select multiple type="text" class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id[]" id="employee_basic_info_id"></select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <a href="#" class="btn btn-secondary m-margin__top-15">Add</a>
                </div>
            </div>

        </div>
        <hr />
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="fakelink nav-link" href="@Url.Content("~/Hris/Applicant/TrackingNewApplicant/"+@ViewBag.RecordID)" role="tab" data-toggle="tab">New Applicant</a>
            </li>
            <li class="nav-item">
                <a class="fakelink nav-link" href="@Url.Content("~/Hris/Applicant/TrackingInterview/"+@ViewBag.RecordID)" role="tab" data-toggle="tab">Interview</a>
            </li>
            <li class="nav-item">
                <a class="fakelink nav-link" href="@Url.Content("~/Hris/Applicant/TrackingJobOffered/"+@ViewBag.RecordID)" role="tab" data-toggle="tab">Job Offered</a>
            </li>
            <li class="nav-item">
                <a class="fakelink nav-link" href="@Url.Content("~/Hris/Applicant/TrackingApproval/"+@ViewBag.RecordID)" role="tab" data-toggle="tab">Approval</a>
            </li>
            <li class="nav-item active">
                <a class="fakelink nav-link active" href="@Url.Content("~/Hris/Applicant/TrackingAccepted/"+@ViewBag.RecordIDv)" role="tab" data-toggle="tab">Accepted</a>
            </li>
            <li class="nav-item">
                <a class="fakelink nav-link" href="@Url.Content("~/Hris/Applicant/TrackingKIV/"+@ViewBag.RecordID)" role="tab" data-toggle="tab">KIV / Talent Pool</a>
            </li>
            <li class="nav-item">
                <a class="fakelink nav-link" href="@Url.Content("~/Hris/Applicant/TrackingReject/"+@ViewBag.RecordID)" role="tab" data-toggle="tab">Rejected</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Interview">
                <legend>Accepted</legend>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <table class="table table-striped table-bordered table-hover table-checkable" id="ApplicantProgressList"></table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
    @*<table class="table table-striped table-bordered table-hover table-checkable" id="ApplicantProgressList"></table>
        @Html.Partial("ApplicantProgress/Search")*@
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/ApplicantProgress.TrackingAccepted.js"></script>
}
