@{
    ViewData["Title"] = "Tracking New Applicant Update";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="TrackingNewApplicantFormUpdate" method="post">
    <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
    <input type="hidden" name="applicant_progress_id" id="applicant_progress_id" />
    <input  type="hidden" name="code" id="code" />
    <input value="@ViewBag.RecordIDSec" type="hidden" name="job_vacancy_id" id="job_vacancy_id" />
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="First Name">First Name</span> :</label>
                <input type="text" class="form-control" name="first_name" id="first_name" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Last Name">Last Name</span> :</label>
                <input type="text" class="form-control" name="last_name" id="last_name" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Nick Name">Nick Name</span> :</label>
                <input type="text" class="form-control" name="nick_name" id="nick_name" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Gender">Gender</span> :</label>
            </div>
            <div class="form-group">
                <input type="radio" name="gender" id="gender" value="male" /> Male
                <input type="radio" name="gender" id="gender" value="female" /> Female
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Birth Place">Birth Place</span> :</label>
                <input type="text" class="form-control" name="birth_place" id="birth_place" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="date_birth">Date of Birth*</label>
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" data-date-format="yyyy-mm-dd" id="date_birth" name="date_birth">
                    <span class="input-group-btn">
                        <button class="btn default" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Last Education">Last Education</span> :</label>
                <select class="form-control" name="last_education" id="last_education">
                    <option value="S1">S1</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Year Experience">Year Experience</span> :</label>
                <input type="text" class="form-control" name="year_experience" id="year_experience">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Mobile Phone">Mobile Phone</span> :</label>
                <input type="text" class="form-control" name="phone_number" id="phone_number" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <div class="form-group">
                    <label><span class="translate" data-args="Email">Email</span> :</label>
                    <input type="text" class="form-control" name="email" id="email" />
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Willing Work With Alcohol Brand">Willing Work With Alcohol Brand</span> :</label>
            </div>
            <div class="form-group">
                <input type="radio" name="alcohol_willing" id="alcohol_willing" value="true" /> Yes
                <input type="radio" name="alcohol_willing" id="alcohol_willing" value="false" /> No
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <div class="form-group">
                    <label><span class="translate" data-args="Souce">Source</span> :</label>
                    <select type="text" class="form-control" name="source" id="source">
                        <option value="Jobs DB">Jobs DB</option>
                        <option value="Likedin">Likedin</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Adress">Adress</span> :</label>
                <textarea name="address" id="address" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <div class="form-group">
                    <label><span class="translate" data-args="CV/Resume">CV/Resume</span> :</label>
                    <input type="text" class="form-control" name="cv" id="cv" />
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Willing Work With Alcohol Brand">Willing Work With Cigarete Brand</span> :</label>
            </div>
            <div class="form-group">
                <input type="radio" name="cigaret_willing" id="cigaret_willing" value="true" /> Yes
                <input type="radio" name="cigaret_willing" id="cigaret_willing" value="false" /> No
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label><span class="translate" data-args="Photo">Photo</span> :</label>
                <input type="text" class="form-control" name="photo" id="photo" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <div class="form-group">
                    <label><span class="translate" data-args="Portfolio">Portfolio</span> :</label>
                    <input type="text" class="form-control" name="portfolio" id="portfolio" />
                </div>
            </div>
        </div>

    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/Applicant/TrackingNewApplicant/@ViewBag.RecordID" class=" btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/ApplicantProgress.TrackingNewApplicant.update.js"></script>
}
