@{
    ViewData["Title"] = "Client Brief";
    Layout = "~/Views/Shared/metronic/_formpanelloader.cshtml";
}

@section Panelhead{
    <h3>Client Brief</h3>
}

@section Paneltools{

}
@section Panelbody{
    <style>
        .option .description,
        .option .title {
            display: block;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .btn-sx {
            font-size: 0.45rem !important;
        }

        .contenttitle {
            font-weight: bold;
            font-size: 16px;
            border: none !important;
        }

        .option .title {
            font-weight: bold;
            font-size: 12px;
        }

        .option .description {
            color: #808080;
            font-size: 10px;
        }
    </style>
    <form action="#" method="post" id="ClientBriefFormCreate">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Business Type">Business Type</span> :</label>
                    <select required id="bussiness_type_id" name="bussiness_type_id" class="form-control form-control-sm m-input m-input--square"></select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Business Unit">Campaign Type</span> :</label>
                    <select required id="campaign_type_id" name="campaign_type_id" class="form-control form-control-sm m-input m-input--square"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Brand">Brand</span> :</label>
                    <select required id="external_brand_id" name="external_brand_id" class="form-control form-control-sm m-input m-input--square"></select>
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="business_unit">business_unit</span> :</label>
                    <select required id="business_unit_id" name="business_unit_id" class="form-control form-control-sm m-input m-input--square"></select>
                </div>




            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="campaign_name">Campaign</span> :</label>
                    <input type="text" required id="campaign_name" name="campaign_name" class="form-control form-control-sm m-input m-input--square">
                </div>

                <div class="form-group">
                    <label><span class="translate" data-args="account_management_id">account_management_id</span> :</label>
                    <select required id="account_management_id" name="account_management_id[]" multiple class="form-control form-control-sm m-input m-input--square"></select>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="job_name">job_name</span> :</label>
                    <div id="jobcontent">


                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="start_campaign">start_campaign</span> :</label>
                    <div class="input-group date form_datetime form_datetime bs-datetime">
                        <input type="text" size="16" name="start_campaign" id="start_campaign" data-date-format="yyyy-mm-dd hh:ii" class="dtpicker form-control form-control-sm ">
                        <span class="input-group-addon">
                            <button class="btn default date-set btn-sm" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="deadline">deadline</span> :</label>
                    <div class="input-group date form_datetime form_datetime bs-datetime">
                        <input type="text" size="16" name="deadline" id="deadline" data-date-format="yyyy-mm-dd hh:ii" class="dtpicker form-control form-control-sm ">
                        <span class="input-group-addon">
                            <button class="btn default date-set btn-sm" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="final_delivery">final_delivery</span> :</label>
                    <div class="input-group date form_datetime form_datetime bs-datetime">
                        <input type="text" size="16" name="final_delivery" id="final_delivery" data-date-format="yyyy-mm-dd hh:ii" class="dtpicker form-control form-control-sm ">
                        <span class="input-group-addon">
                            <button class="btn default date-set btn-sm" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 border-success">

                <table class="table table-bordered">
                    <tr>
                        <td style="width:100%">
                            <div class="row m-row--col-separator-xl" id="contentref">

                            </div>
                        </td>
                    </tr>
                </table>
                <button type="button" onclick="fnclientbriefcreate.addcontent('')" class="btn btn-success btn-sm"><i class="fa fa-plus-circle"></i> <span class="translate" data-args="add_content">add Content</span></button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
                <a href="~/ProjectManagement/clientbrief" class="fakelink btn btn-secondary">Close</a>
            </div>
        </div>
    </form>
}

@section Panelscript{
    <script src="~/assets/js/Areas/ProjectManagement/Form/ClientBrief.content.js"></script>
}