@{
    ViewBag.ModalTitle = "Job";
    ViewBag.ModalId = "JobUpdateModal";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="JobUpdateForm" method="post">
    <div class="row ">
        <div class="col-lg-8">
            <input name="id" id="id" type="hidden">
            <div class="form-group">
                <label><span class="translate" data-args="job_name">job_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="job_name" id="job_name" required type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="Type">Type</span> :</label>
                <select required id="jjob_type" name="job_type" class="form-control form-control-sm m-input m-input--square"></select>
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="Team">Team</span> :</label>
                <select required id="tteam_id" name="team_id" class="form-control form-control-sm m-input m-input--square"></select>
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="Legal Entity">Legal Entity</span> :</label>
                <select required id="llegal_entity_id" name="legal_entity_id" class="form-control form-control-sm m-input m-input--square"></select>
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="Department">Departement</span> :</label>
                <select required id="bbusiness_unit_departement_id" name="business_unit_departement_id" class="form-control form-control-sm m-input m-input--square"></select>
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="Main Service Category">Main Service Category</span> :</label>
                <select required id="mmain_service_category" name="main_service_category" class="form-control form-control-sm m-input m-input--square"></select>
            </div>
            @*<div class="form-group">
                <label><span class="translate" data-args="job_name">job_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="job_name" id="job_name" required type="text">
            </div>*@

            <div class="form-group">
                <label><span class="translate" data-args="job_description">job_description</span> <span class="req">*</span>:</label>
                <textarea class="form-control form-control-sm m-input m-input--square" name="job_description" id="job_description" required></textarea>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label><span class="translate" data-args="start_job">start_job</span> :</label>
                <div class="input-group date form_datetime form_datetime bs-datetime">
                    <input type="text" size="16" name="start_job" id="start_job" data-date-format="yyyy-mm-dd" class="datepicker form-control form-control-sm ">
                    <span class="input-group-addon">
                        <button class="btn default date-set btn-sm" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="deadline">deadline</span> :</label>
                <div class="input-group date form_datetime form_datetime bs-datetime">
                    <input type="text" size="16" name="deadline" id="deadline" data-date-format="yyyy-mm-dd" class="datepicker form-control form-control-sm ">
                    <span class="input-group-addon">
                        <button class="btn default date-set btn-sm" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label><span class="translate" data-args="final_delivery">final_delivery</span> :</label>
                <div class="input-group date form_datetime form_datetime bs-datetime">
                    <input type="text" size="16" name="final_delivery" id="final_delivery" data-date-format="yyyy-mm-dd" class="datepicker form-control form-control-sm ">
                    <span class="input-group-addon">
                        <button class="btn default date-set btn-sm" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>

    </div>
</form>
 