@{
    ViewData["Title"] = "JobTest";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="JobTestFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="job_posting_requisition_id">job_posting_requisition_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="job_posting_requisition_id" id="job_posting_requisition_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="job_test_description">job_test_description</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="job_test_description" id="job_test_description"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="notes">notes</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="notes" id="notes"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="test_title">test_title</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="test_title" id="test_title"  maxlength="150" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/JobTest" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/JobTest.create.js"></script>
}
