@{
    ViewBag.ModalTitle = "JobTest";
    ViewBag.ModalId = "JobTestModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="JobTestFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="job_posting_requisition_id">job_posting_requisition_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_job_posting_requisition_id" id="search_job_posting_requisition_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="job_test_description">job_test_description</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_job_test_description" id="search_job_test_description"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="notes">notes</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_notes" id="search_notes"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="test_title">test_title</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_test_title" id="search_test_title"  maxlength="150" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnJobTest.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnJobTest.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>