@{
    ViewData["Title"] = "JobPosting";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    @*<a href="@Url.Content("~/Hris/JobPostingRequisition/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>*@
}

@section Paneltools{
    @*<a data-target="#JobPostingRequisitionModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>*@
}
@section Panelbody{
    <style>
        .m-margin__top-20 {
            margin-top: 40px !important;
        }
    </style>
    <form id="JobSubmitFormCreate" name="JobSubmitFormCreate" method="post">

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="Request Code">Job Request Code</span> :</label>

                    <input name="job_vacancy_code" id="job_vacancy_code" class="form-control" type="text">

                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label><span class="translate" data-args="."></span>. </label>
                    @*@Url.Content("~/Hris/JobPosting/Career")*@
                    <a href="#" class=".m-margin__top-20 form-control btn btn-secondary" onclick="CheckJob()">SUBMIT CODE</a>
                </div>

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12 m-form__group-sub m-margin__top-30" id="label_budgeted">
                <div class="m-section__content">
                    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                        <div class="m-demo__preview">
                            <h3>Vacant Position : <B><span id="label_job">-</span></B></h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
    @*<table class="table table-striped table-bordered table-hover table-checkable" id="JobPostingRequisitionList"></table>*@
    @*@Html.Partial("JobPostingRequisition/Search")*@
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/JobPostingRequisition.js"></script>
}
