@{
    ViewData["Title"] = "JobPosting";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
    @*<a href="@Url.Content("~/Hris/JobPostingRequisition/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>*@
}

@section Paneltools{
    @*<a data-target="#JobPostingRequisitionModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>*@
}
@section Panelbody{
    <style>
        .m-margin__top-20 {
            margin-top: 40px !important;
        }
    </style>
    <form id="JobPostingFormCreate" name="JobPostingFormCreate" method="post">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Thanks you your data has been submited</label>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Your Applicant ID :</label>
                    <label><h3>@ViewBag.RecordID</h3></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Note This ID</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>We will Email you any letter for any update process</label>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12 m-form__group-sub m-margin__top-30" id="label_budgeted">
                <div class="form-group">
                    <center><a href="/hris/JobPosting" class="btn btn-secondary">Back to Job Posting</a></center>
                </div>
            </div>
        </div>
    </form>
    @*<table class="table table-striped table-bordered table-hover table-checkable" id="JobPostingRequisitionList"></table>*@
    @*@Html.Partial("JobPostingRequisition/Search")*@
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/JobPostingRequisition.js"></script>
}
