@{
    ViewData["Title"] = "Leave Balance";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Leave Balance</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">HRIS</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="leavebalance" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Leave Balance</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                               
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formGenerate" class="form-horizontal form-bordered" role="form">
                        @(Html.Kendo().DropDownList()
                            .Name("Type")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .HtmlAttributes(new { style = "width:200px;", required = "required" })
                            .Height(400)
                            .DataSource(source => source
                                .Custom()
                                .Transport(transport => transport
                                .Read(read =>
                                {
                                    read.Action("GetDDLLeaveType", "Dropdown", new { area = "HrisNew" });
                                }))
                                .ServerFiltering(false))
                        )
                        <button type="button" id="btnGenerate" class="btn btn-primary edit"><span class="fa fa-plus"></span> Generate</button>
                    </form>
                    <hr />

                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.LeaveBalanceView>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound("").Title("#").Width(50).Filterable(false).HtmlAttributes(new { style = "text-align:center;", @class = "row-number" }).HeaderHtmlAttributes(new { style = "text-align:center;" });
                            columns.Bound(p => p.EmployeeName).Width(250);
                            columns.Bound(p => p.JobTitle).Width(120);
                            columns.Bound(p => p.Grade).Width(100);
                            columns.Bound(p => p.JoinDate).Width(130).Filterable(x => x.Extra(true));
                            columns.Bound(p => p.Status).Width(120);
                            columns.Bound(p => p.AnnualLeave).Width(150);
                            columns.Bound(p => p.CompensatoryLeave).Width(180);
                            columns.Bound(p => p.AnnualLeavePreviousYear).Width(210);
                            columns.Bound(p => p.Year).Width(100);
                        })
                        .NoRecords()
                        .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(true)
                            .ButtonCount(5))
                        .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                        .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                            .Extra(false)
                            .Operators(operators => operators
                            .ForString(str => str.Clear()
                                .Contains("Contains")
                                .StartsWith("Start sWith")
                                .EndsWith("End sWith")
                            )))
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(rsz => rsz.Columns(true))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Events(events => events.Error("errorHandler"))
                            .Model(model => { model.Id(p => p.EmployeeId); })
                            .Read(read => read.Action("Read", "LeaveBalance"))
                        )
                        .Events(e => e.DataBound("dataBoundEvent"))
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnGenerate').click(function () {
        callAction({ formId:"formGenerate", title: "generate", type:"POST", url: '@Url.Action("generate", "leavebalance")'});
    });
</script>