@model PhoenixERPWebApp.Models.MappingJurnal
@{
    ViewData["Title"] = "Mapping Jurnal";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Mapping Jurnal</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="mappingjurnal" asp-area="finance" class="m-nav__link"><span class="m-nav__link-text">Mapping Jurnal</span></a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action ="addedit" asp-controller="mappingjurnal" asp-area="finance" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                @ViewBag.Header
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formMappingJurnal" class="form-horizontal form-bordered" role="form" asp-action="submit" asp-controller="mappingjurnal" asp-area="Finance">
                        @*enctype="multipart/form-data"*@
                        <div class="row ">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="CreatedOn" />
                                <input type="hidden" asp-for="ModifiedBy" />
                                <input type="hidden" asp-for="ModifiedOn" />
                                <input type="hidden" asp-for="ApprovedBy" />
                                <input type="hidden" asp-for="ApprovedOn" />
                                <input type="hidden" asp-for="IsActive" />
                                <input type="hidden" asp-for="IsLocked" />
                                <input type="hidden" asp-for="IsDefault" />
                                <input type="hidden" asp-for="IsDeleted" />
                                <input type="hidden" asp-for="OwnerId" />
                                <input type="hidden" asp-for="DeletedBy" />
                                <input type="hidden" asp-for="DeletedOn" />
                                <input type="hidden" asp-for="BusinessUnitDivisionId" />
                                <input type="hidden" asp-for="BusinessUnitDepartementId" />
  
                                <div class="form-group m-form__group-sub">
                                    <label asp-for="EmployeeDivisionId"></label>  :
                                    @(Html.Kendo().ComboBoxFor(x => x.EmployeeDivisionId)
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Placeholder($"Choose or type a {Html.DisplayNameFor(m => m.EmployeeDivisionId)}")
                                        .HtmlAttributes(new { style = "width:100%;", @class = "form-control form-control-sm m-input", required = "required" })
                                        .Height(400)
                                        .Suggest(true)
                                        .Filter(FilterType.Contains)
                                        //.Events(e => e.Change("ddl_change"))
                                        .DataSource(source => source
                                            .Custom()
                                            .Transport(transport => transport
                                            .Read(read =>
                                            {
                                                read.Action("GetDivision", "Dropdown", new { area = "Finance" });
                                            }))
                                            .ServerFiltering(false))
                                    )
                                </div>
                                <div class="form-group m-form__group-sub">
                                    <label asp-for="EmployeeDepertmentId"></label>  :
                                    @(Html.Kendo().ComboBoxFor(x => x.EmployeeDepertmentId)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .Placeholder($"Choose or type a {Html.DisplayNameFor(m => m.EmployeeDepertmentId)}")
                                                .HtmlAttributes(new { style = "width:100%;", @class = "form-control form-control-sm m-input", required = "required" })
                                                .Height(400)
                                                .Suggest(true)
                                                .Filter(FilterType.Contains)
                                                //.Events(ev => ev.Select("onSelectYear"))
                                                .DataSource(source => source
                                                    .Custom()
                                                    .Transport(transport => transport
                                                    .Read(read =>
                                                    {
                                                        read.Action("GetDepartment", "Dropdown", new { area = "Finance" }).Data("filter_params");
                                                    }))
                                                    .ServerFiltering(false))
                                                    .AutoBind(false)
                                    )
                                </div>
                                <div class="form-group m-form__group-sub">
                                    <label asp-for="Debit"></label>  :
                                    @(Html.Kendo().TextBoxFor(m => m.Debit)
                                        .HtmlAttributes(new {
                                            style = "width:100%",
                                            maxlength = 50,
                                            placeholder = $"Input type a {Html.DisplayNameFor(m => m.Debit)}"                                        }
                                     ))
                                </div>
                                <div class="form-group m-form__group-sub">
                                    <label asp-for="Credit"></label>  :
                                    @(Html.Kendo().TextBoxFor(m => m.Credit)
                                        .HtmlAttributes(new {
                                            style = "width:100%",
                                            maxlength = 50,
                                            placeholder = $"Input type a {Html.DisplayNameFor(m => m.Credit)}"                                        }
                                     ))
                                </div>
                                <div class="form-group m-form__group-sub">
                                    <label asp-for="ProsessName"></label>  :
                                    @(Html.Kendo().DropDownListFor(x => x.ProsessName)
                                        .HtmlAttributes(new { style = "width:100%", aria_label = "editor", required = "required", placeholder = "Select Status" })
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .BindTo(new List<SelectListItem>
                                                    ()
                                                    {
                                        new SelectListItem() {
                                            Text = "Invoicing",
                                            Value = "Invoicing"
                                        },
                                        new SelectListItem() {
                                            Text = "Closing",
                                            Value = "Closing"
                                        },
                                        new SelectListItem() {
                                        Text = "Account Payable",
                                        Value = "Account Payable"
                                        },
                                     })
                                    )
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" id="btn-save" class="btn btn-primary">Save</button>
                                <a asp-action="index" asp-controller="mappingjurnal" asp-area="finance" class="fakelink btn btn-secondary">Close</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function filter_params() {
        return {
            id: $("#EmployeeDivisionId").val()
        }
    }
    $('#btn-save').click(function () {
        callAction({ formId:"formMappingJurnal", title: "save", type:"POST"});
    });
</script>