﻿<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />

<input hidden id="detail-id" value="@ViewBag.RecordID" />
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Account</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/Account")" class="m-nav__link">
                        <span class="m-nav__link-text">Account</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Details</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs-line m-tabs-line--danger m-tabs-line--2x m-tabs-line--right" role="tablist" id="tabs_account_setup">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_tab_account" role="tab" aria-selected="false">
                                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>Account
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item cost-sharing" style="display:none">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tab_cost_sharing" role="tab" aria-selected="true">
                                    <i class="fa fa-bar-chart" aria-hidden="true"></i>Cost Sharing
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="m_tab_account" role="tabpanel">
                            <form id="form-account" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                                <input hidden name="id" value="@ViewBag.RecordID" />
                                <div class="m-form__group">
                                    <div class="row">
                                        <div class="col-lg-6 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Legal Entity :</label>
                                                <select id="legal_entity_id" name="legal_entity_id" class="form-control form-control-sm m-input m-input--square"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Account Group :</label>
                                                <select id="account_group_id" name="account_group_id" class="form-control form-control-sm m-input m-input--square"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Currency</label>
                                                <select id="currency_id" name="currency_id" class="form-control form-control-sm m-input m-input--square"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Account Level :</label>
                                                <select id="account_level" name="account_level" class="form-control form-control-sm m-input m-input--square"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Parent of Account :</label>
                                                <select id="account_parent_id" name="account_parent_id" class="form-control form-control-sm m-input m-input--square"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Account Name</label>
                                                <input id="account_name" name="account_name" class="form-control form-control-sm m-input m-input--square" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6 m-form__group-sub">
                                            <div class="form-group">
                                                <label>Account Number</label>
                                                <input id="account_number" name="account_number" class="form-control form-control-sm m-input m-input--square" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__foot">
                                    <div class="row align-items-center">
                                        <div class="col-lg-12">
                                            <button type="button" id="btn-save" class="btn btn-sm btn-primary">Save</button>
                                            <a href="@Url.Content("~/Finance/Account")" class="btn btn-sm btn-secondary">Close</a>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="tab-pane" id="m_tab_cost_sharing" role="tabpanel">
                            <div class="col-xl-12 no-record row">
                                <div class="alert m-alert--default" role="alert">
                                    <strong>Nothing Cost Sharing Allocation</strong> Enable cost sharing for share this account.
                                </div>
                            </div>
                            <div class="m-section">
                                <span class="m-section__sub">
                                    <label class="m-checkbox">
                                        <input type="checkbox" id="enable_cost_sharing" value="false"> Enable Cost Sharing:
                                        <span></span>
                                    </label>
                                </span>
                                <div class="m-section__content">
                                    <form id="form-costsharingallocation" class="m-form" style="display:none">
                                        <input hidden name="cost_sharing_allocation.id" id="sharing_allocation_id" />
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group form-group-sm m-form__group">
                                                    <label class="col-form-label col-lg-3 col-sm-12 row">Range</label>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 row">
                                                        <div class="input-daterange input-group" id="allocation_sharing_range">
                                                            <input type="text" class="form-control form-control-sm  m-input" name="cost_sharing_allocation.start_date" />
                                                            <div class="input-group-append">
                                                                <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                                            </div>
                                                            <input type="text" class="form-control form-control-sm " name="cost_sharing_allocation.end_date" />
                                                        </div>

                                                    </div>
                                                    <span class="m-form__help">Start Date to End Date</span>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 row" id="allocation_sharing_detail" style="padding-top:10px">
                                                <!-- Form Input Allocation Sharing Detail -->
                                                <div class="col-lg-3">
                                                    <button type="button" id="btn-add-allocation" class="btn btn-success btn-sm m-btn btn-block m-btn m-btn--icon">
                                                        <span>
                                                            <i class="fa fa-plus"></i>
                                                            <span>Add Allocation</span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 row modal-footer">
                                                <button type="button" class="btn btn-sm btn-warning" style="display:none" id="btn-remove_cost_sharing">Remove Cost Sharing</button>
                                                <button type="button" class="btn btn-sm btn-primary" id="btn-create_cost_sharing">Create Cost Sharing</button>
                                            </div>

                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Begin:: Cost Sharing Allocation Detail Dynamic -->
<div class="row template-allocation_detail" style="display: none;">
    <input hidden name="cost_sharing_allocation_detail.id[%index%]" />
    <input hidden name="cost_sharing_allocation_detail.cost_sharing_allocation_id[%index%]" />
    <!-- Begin: Input Percent-->
    <div class="col-lg-3 m-form__group-sub">
        <div class="form-group">
            <label>Percent (<b>%</b>) :</label>
            <input id="cost_sharing_allocation_percent[%index%]" name="cost_sharing_allocation_detail.cost_sharing_allocation_percent[%index%]"
                   type="number" class="form-control m--margin-bottom-30 form-control-sm m-input"
                   placeholder="%">
        </div>
    </div>
    <!-- End: Input Percent-->
    <!-- Begin: Input Business Unit -->
    <div class="col-lg-3 m-form__group-sub">
        <div class="form-group">
            <label>Business Unit :</label>
            <select id="business_unit_id[%index%]" name="cost_sharing_allocation_detail.business_unit_id[%index%]" class="form-control form-control-sm m-input m--margin-bottom-30 business_unit-lookup"></select>
        </div>
    </div>
    <!-- End: Input Business Unit -->
    <div class="col-lg-2 m-form__group-sub">
        <div class="form-group">
            <label>&nbsp;</label>
            <button data-index="%index%" type="button" class="form-control form-control-sm btn btn-danger btn-sm m-btn m-btn--icon btn-remove-row">
                <span>
                    <i class="la la-save"></i>
                    <span>Remove</span>
                </span>
            </button>
        </div>
    </div>
</div>
<!-- End:: Cost Sharing Allocation Detail Dynamic -->

@section Scripts{
    <script src="~/vendors/custom/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Finance/Scripts/Account.Detail.js"></script>
}
