@{
    ViewData["Title"] = "Summary Payroll By Legal Entity";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Summary Payroll By Legal Entity</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">HRIS</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="summarypayroll" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Summary Payroll By Legal Entity</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div> 

                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formPayroll" class="form-horizontal form-bordered" role="form">
                        <div class="row">
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Month</label> <span class="req">*</span> :
                                    @(Html.Kendo().DropDownList()
                                        .Name("Month")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .OptionLabel($"Choose a Month")
                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                        .Filter(FilterType.Contains)
                                        .DataSource(source => source
                                            .Custom()
                                            .Transport(transport => transport
                                            .Read(read =>
                                            {
                                                read.Action("GetDDLMonth", "Dropdown", new { area = "HrisNew" });
                                            }))
                                            .ServerFiltering(false)
                                        )
                                    )
                                </div>
                            </div>
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Year</label> <span class="req">*</span> :
                                    @(Html.Kendo().DropDownList()
                                        .Name("Year")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .OptionLabel($"Choose a Year")
                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                        .Filter(FilterType.Contains)
                                        .DataSource(source => source
                                            .Custom()
                                            .Transport(transport => transport
                                            .Read(read =>
                                            {
                                                read.Action("GetDDLYear", "Dropdown", new { area = "HrisNew" });
                                            }))
                                            .ServerFiltering(false)
                                        )
                                    )
                                </div>
                            </div>
                            <div class="col-lg-4 m-form__group-sub">
                                <div class="form-group">
                                    <label>Legal Entity</label> <span class="req">*</span> :
                                    @(Html.Kendo().DropDownList()
                                        .Name("LegalEntityId")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Filter(FilterType.Contains)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
                                            });
                                        })
                                        .OptionLabel($"Choose a Legal Entity")
                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                    )
                                </div>
                            </div>                            
                            <div class="col-lg-4">
                                <button type="button" id="btnGenerate" class="btn btn-primary edit" style="height:45px; margin-top:8px;"><span class="fa fa-plus"></span> Generate</button>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div id="gridPayroll">No records available.</div>
                </div>
            </div>
        </div>
    </div>
</div> 
<script>
    $('#btnGenerate').click(function () {
        var valid = $("#formPayroll").validate().form();
        if (valid) {
            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            var month = $("#Month").data("kendoDropDownList").value();
            var year = $("#Year").data("kendoDropDownList").value();
            var legalEntityId = $("#LegalEntityId").data("kendoDropDownList").value();

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetGenerateList", "SummaryPayroll")',
                data: { month: month, year: year, legalEntityId: legalEntityId},
                dataType: 'json',
                aync: false,
                success: function (result) {
                    if (result.success) {
                        generateGrid(result);
                    } else {
                        swal('Error', result.message, 'error');
                    }
                    mApp.unblock("#m_blockui_list");
                },
                error: function (e, t, s) {
                    var errorMessage = e.responseJSON.errorMessage;
                    if (errorMessage === "" || errorMessage === undefined) {
                        errorMessage = "Ooops, something went wrong !";
                    }
                    swal('Error', errorMessage, 'error');
                    mApp.unblock("#m_blockui_list");
                }
            });
        }
    });

    function generateGrid(result) {
        if (result.Data != null) {
            var model = generateModel(result.Data[0]);
            var month = $("#Month").data("kendoDropDownList").text();
            var year = $("#Year").data("kendoDropDownList").value();
            var legalEntity = $("#LegalEntityId").data("kendoDropDownList").text();

            $("#gridPayroll").empty().kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "Summary Payroll - " + legalEntity + " - " + month + " " + year + ".xlsx",
                    proxyURL: "@Url.Action("ExportExcel", "SummaryPayroll")",
                    filterable: true
                },
                dataSource: {
                    data: result.Data,
                    model: model,
                    pageSize: 10
                },
                //height: 350,
                //groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                resizable: true,
                columns: ColumnGeneration(result.Data),
            }).data('kendoGrid');
        } else {
            $("#gridPayroll").empty().append("<div>No records available.</div>");
        }
    }

    function generateModel(result) {
        var model = {};
        model.id = "employee_basic_info_id";
        var fields = {};
        for (var property in result) {
            var propType = typeof result[property];
            if (propType == "number") {
                fields[property] = {
                    type: "number",
                    nullable: true
                    //validation: {
                    //    required: true
                    //}
                };
            } else if (propType == "boolean") {
                fields[property] = {
                    type: "boolean",
                    nullable: true
                    //validation: {
                    //    required: true
                    //}
                };
            } else if (propType == "string") {
                var parsedDate = kendo.parseDate(result[property]);
                if (parsedDate) {
                    fields[property] = {
                        type: "date",
                        nullable: true
                        //validation: {
                        //    required: true
                        //}
                    };
                    dateFields.push(property);
                } else {
                    fields[property] = {
                        type: "string",
                        nullable: true
                        //validation: {
                        //    required: true
                        //}
                    };
                }
            } else {
                fields[property] = {
                    type: "string",
                    nullable: true
                    //validation: {
                    //    required: true
                    //}
                };
            }

        }
        model.fields = fields;

        return model;
    }

    function ColumnGeneration(result) {
        var GridColumnGeneration = [];
        $.each(result[0], function (gridTitle, element) {
            if (gridTitle != "employee_basic_info_id") {
                var propType = typeof element;
                var title = gridTitle.replaceAll("rpt_", "").replaceAll("_", " ");
                var width = 190; if (gridTitle == "rpt_Employee_Name") width = 250;
                if (propType == "number") {
                    GridColumnGeneration.push({ title: title, field: gridTitle, width: width, format: "{0:n2}" });
                } else {
                    GridColumnGeneration.push({ title: title, field: gridTitle, width: width });
                }
            }
        });
        return GridColumnGeneration;
    }

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
</script>