﻿@{
    ViewData["Title"] = "Statement of Account Receivable";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<style>
    .k-grid-content td {
        word-wrap: break-word;
    }
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Statement of Account Receivable</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>y                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/AccountReceivableStatement")" class="m-nav__link">
                        <span class="m-nav__link-text">Statement Account Receivable</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        @*<div class="m-portlet__head-title">
                        <div>
                            <a href="@Url.Content("~/Finance/AccountReceivable/Detail/")" class="m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
                            <button id="btn-delete" type="button" class="m-btn btn btn-danger btn-sm m-btn--sm"><i class="la la-trash"></i></button>
                        </div>
                        </div>*@
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon"
                                   aria-describedby="tooltip_d4ny9s36oh">
                                    <i class="la la-expand"></i>
                                </a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top"
                                     role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true"
                                     x-placement="top" style="position: absolute; will-change: transform;
                                        visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">
                                    <div class="tooltip-arrow arrow" style="left: 48px;"></div>
                                    <div class="tooltip-inner">Fullscreen</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-lg-4 form-label">Account Name</label>
                                        <div class="col-lg-8">
                                            @(Html.Kendo().DropDownList()
                                                .Name("account")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .OptionLabel("All AR Status")
                                                .HtmlAttributes(new { @class = "m-input ", style = "width:100%" })
                                                .DataSource(source => source
                                                    .Custom()
                                                    .Transport(transport => transport
                                                    .Read(read =>
                                                    {
                                                        read.Action("GetChartOfAccountTradeAndTradeInter", "AccountReceivable");
                                                    }))
                                                    .ServerFiltering(false)
                                                ))
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-lg-4 form-label">Client</label>
                                        <div class="col-lg-8">
                                            @(Html.Kendo().DropDownList()
                                                .Name("client")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .OptionLabel("All")
                                                .HtmlAttributes(new { @class = "m-input ", style = "width:100%" })
                                                .DataSource(source => source
                                                    .Custom()
                                                    .Transport(transport => transport
                                                    .Read(read =>
                                                    {
                                                        read.Action("GetDDLCompany", "Dropdown", new { area = "Finance" });
                                                    }))
                                                    .ServerFiltering(false)
                                                ))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label form-group h6">Invoice Date  :</label>
                                        <div class="form-group row">
                                            <label class="col-md-1">From</label>
                                            <div class="col-md-5">
                                                <input id="inStart" style="width: 100%;" class="m-input" />
                                                @*@Html.Kendo().DatePicker().Name("inStart").HtmlAttributes(new {
                                                    @class = "m-input ", style = "width:100%"
                                                })*@
                                            </div>
                                            <label class="col-md-1">To</label>
                                            <div class="col-md-5">
                                                <input id="EndDate" style="width: 100%;" class="m-input" />
                                                @*@Html.Kendo().DatePicker().Name("EndDate").HtmlAttributes(new {
                                                    @class = "m-input ", style = "width:100%"
                                                })*@
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-lg-4 form-label">Legal Entity</label>
                                        <div class="col-lg-8">
                                            @(Html.Kendo().DropDownList()
                                                .Name("legalentity")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .OptionLabel("All")
                                                .HtmlAttributes(new { @class = "m-input ", style = "width:100%" })
                                                .DataSource(source => source
                                                    .Custom()
                                                    .Transport(transport => transport
                                                    .Read(read =>
                                                    {
                                                        read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
                                                    }))
                                                    .ServerFiltering(false)
                                                ))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <hr />
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <button type="button" id="btnSearch" class="btn btn-sm btn-success" style="width:80px">Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.StatementAR>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.CompanyName).Width(120);
                            columns.Bound(p => p.CompanyBrand).Width(120);
                            columns.Bound(p => p.InvoiceNumber).Width(120);
                            columns.Bound(p => p.TransactionDate).Width(150).Format("{0:dd  MMM  yyyy}").HtmlAttributes(new { @style = "text-align:center" });
                            columns.Bound(p => p.JobId).Width(200);
                            columns.Bound(p => p.Division).Width(200);
                            columns.Bound(p => p.Description).Width(200);
                            columns.Bound(p => p.MainServiceCategory).Width(200);
                            columns.Bound(p => p.Debet).Width(200).Format("{0:n0}").HtmlAttributes(new { @style = "text-align:right" });
                            columns.Bound(p => p.Credit).Width(200).Format("{0:n0}").HtmlAttributes(new { @style = "text-align:right" });
                            columns.Bound(p => p.Balance).Width(200).Format("{0:n0}").HtmlAttributes(new { @style = "text-align:right" });
                        })
                        .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(true)
                            .ButtonCount(5))
                        .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                        //.Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                        //    .Extra(false)
                        //    .Operators(operators => operators
                        //    .ForString(str => str.Clear()
                        //        .Contains("Contains")
                        //        .StartsWith("Start sWith")
                        //        .EndsWith("End sWith")
                        //    )))
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(rsz => rsz.Columns(true))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Events(events => events.Error("errorHandler"))
                            .Model(model => { model.Id(p => p.Id); })
                            .Read(read => read.Action("GetListStatement", "AccountReceivableStatement").Data("grid_params"))
                        )
                        .AutoBind(false)
                    )
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var today = new Date();
        var startdate = new Date();

        $("#inStart").kendoDatePicker({
            value: new Date(startdate.setDate((today.getDate() - 30))),
            dateInput: true,
            format: "dd MMM yyyy"
        });

        $("#EndDate").kendoDatePicker({
            value: new Date(today.setDate(today.getDate())),
            dateInput: true,
            format: "dd MMM yyyy"
        });

        $("#grid").data("kendoGrid").dataSource.read();
    });

    function LinktoDtl(data) {
        return "<center><a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'>" + data.Id + "</a></center>";
    }

    function editGridRow(e) {
        var item = dataItem(e);
        //var serviceType = item.ServiceType;
        window.location.href = '@Url.Action("Detail", "AccountReceivable")?invno=' + item.Id + '&multid=' + item.MultiPceId;
    }

    function OnChange() {
        mApp.block("#m_blockui_list", {
            overlayColor: "#000000",
            type: "loader",
            state: "primary",
            message: "Processing..."
        });

        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();
        mApp.unblock("#m_blockui_list");
    };

    function grid_params() {      
        //ms: $("#mainservice").data("kendoDropDownList").value(),
        return {
            acct: $("#account").data("kendoDropDownList").value(),
            legal: $("#legalentity").data("kendoDropDownList").value(),
            cl: $("#client").data("kendoDropDownList").value(),
            ms: null,
            sd: $("#inStart").data("kendoDatePicker").value().toDateString(),
            ed: $("#EndDate").data("kendoDatePicker").value().toDateString()
        };
    }

    $('#btnSearch').click(function () {
        mApp.block("#m_blockui_list", {
            overlayColor: "#000000",
            type: "loader",
            state: "primary",
            message: "Processing..."
        });

        $('#grid').data('kendoGrid').dataSource.read();
        $('#grid').data('kendoGrid').refresh();

        mApp.unblock("#m_blockui_list");
    });
</script>