﻿<div id="modalEmployee" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">LIST OF EMPLOYEE BASIC INFORMATION</h4>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control textemployee" placeholder="search employee by name" aria-label="search employee by name" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn md-btn-small btn-sm btn-info findEmp" type="button"><i class="la la-search"></i>Find Employee</button>
                    </div>
                </div>
                <div style="overflow-x:auto; max-height:370px">
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tblEmp">
                        <thead>
                            <tr>
                                <th>EMP.ID</th>
                                <th>EMPLOYEE NAME</th>
                                <th>EMAIL</th>
                                <th>GENDER</th>
                                <th><i class="fa fa-cogs"></i></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn md-btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
