@model PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClient.InvoiceClient
<style>
    .k-edit-form-container .editor-label, .k-edit-label {
        text-align: left;
    }

    .label-required {
        color: red;
    }

    div.k-edit-form-container{
        width:100% !important;
    }

    table{
        width:100%;border:0px;
    }
    table tr td{
        text-align:left;
        padding:5px;
    }
</style>
<div>
    <table>
        <tr>
            <td>
                <label asp-for="InvoiceNumber">Invoice No</label>
            </td>
            <td>
                @Html.Kendo().TextBoxFor(m => m.InvoiceNumber).HtmlAttributes(new
                {
                    style = "width:100%",
                    @readonly = "readonly",
                    @class = "m-input"
                })
            </td>
            <td></td>
            <td>Account</td>
            <td>
                @Html.Kendo().DropDownListFor(m=>m.Account).HtmlAttributes(new
               {
                   style = "width:100%",
                   @class = "m-input"
               })
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label asp-for="InvoiceDate"></label>
                <label class="label-required">*</label>
            </td>
            <td>
                @Html.Kendo().DatePickerFor(m => m.InvoiceDate).HtmlAttributes(new {
                        @class = "m-input ", style = "width:100%", required = "required"
                    })
            </td>
            <td></td>
            <td>
                VAT No
            </td>
            <td>
                @Html.Kendo().TextBoxFor(m => m.VAtNo).HtmlAttributes(new
                {
                    style = "width:100%",
                    @readonly = "readonly",
                    @class = "m-input"
                })
            </td>
            <td></td>
        </tr>
        <tr>
            <td style="width:15%">
                <label asp-for="PceAmount"></label>
            </td>
            <td style="width:35%">
                @(Html.Kendo().NumericTextBoxFor(m => m.PceAmount)
                                .Spinners(false)
                                .Format("{0:N2}")
                                .HtmlAttributes(new
                                {
                                    style = "width:100%",
                                    maxlength = 12,
                                    @readonly = "readonly"
                                }
                            ))
            </td>
            <td></td>
            <td style="width:15%">
                Period
            </td>
            <td style="width:35%">
                <table>
                    <tr>
                        <td>
                            @Html.Kendo().DatePickerFor(m => m.StartPeriod).HtmlAttributes(new { @class = "m-input m-input-sm", style = "width:100%" })
                        </td>
                        <td>To</td>
                        <td>
                            @Html.Kendo().DatePickerFor(m => m.EndPeriod).HtmlAttributes(new { @class = "m-input m-input-sm", style = "width:100%" })
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label asp-for="PceBalance"></label>
            </td>
            <td>
                @(Html.Kendo().NumericTextBoxFor(m => m.PceBalance)
                                .Spinners(false)
                                .Format("{0:N2}")
                                .HtmlAttributes(new
                                {
                                    style = "width:100%",
                                    maxlength = 12,
                                    @readonly = "readonly"
                                }
                            ))
            </td>
            <td></td>
            <td>
                <label asp-for="DueDate"></label>
                <label class="label-required">*</label>
            </td>
            <td>
                @(Html.Kendo().NumericTextBoxFor(m => m.DueDate)
                            .Spinners(false)
                            .Format("{0:N2}")
                            .Events(e => e.Change("calculate_change"))
                            .HtmlAttributes(new
                            {
                                style = "width:100%",
                                maxlength = 12,
                                @required = "required",
                                validationmessage = $"{Html.DisplayNameFor(m => m.DueDate)} is required"
                            }
                        ))
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label asp-for="Amount"></label>
                <label class="label-required">*</label>
            </td>
            <td>
                @(Html.Kendo().NumericTextBoxFor(m => m.Amount)
                                    .Spinners(false)
                                    .Format("{0:N2}")
                                    .Events(e => e.Change("calculate_change"))
                                    .HtmlAttributes(new
                                    {
                                        style = "width:100%",
                                        maxlength = 12,
                                        @required = "required",
                                        validationmessage = $"{Html.DisplayNameFor(m => m.Amount)} is required"
                                    }
                                ))
            </td>
            <td></td>
            <td>
                <label asp-for="CurrencyName"></label>
            </td>
            <td>
                @Html.Kendo().TextBoxFor(m => m.CurrencyName).HtmlAttributes(new
                {
                    style = "width:100%",
                    @readonly = "readonly",
                    @class = "m-input"
                })
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label asp-for="VAtPercentage"></label>
                <label class="label-required">*</label>
            </td>
            <td>
                <div style="width:100%">
                    <div style="display:inline">
                        @(Html.Kendo().NumericTextBoxFor(m => m.VAtPercentage)
                                    .Spinners(false)
                                    .Format("{0:N0}")
                                    .Events(e => e.Change("calculate_change")).Min(0).Max(100).Decimals(3)
                                    .HtmlAttributes(new
                                    {
                                        style = "width:25%",
                                        maxlength = 3,
                                        required = "required",
                                        validationmessage = $"{Html.DisplayNameFor(m => m.Vat)} is required"
                                    }
                                ))
                    </div>
                    <div style="display:inline">
                        @(Html.Kendo().NumericTextBoxFor(m => m.Vat)
                                    .Spinners(false)
                                    .Format("{0:N2}")
                                    .HtmlAttributes(new
                                    {
                                        style = "width:73%",
                                        maxlength = 12,
                                        @readonly = "required"
                                    }
                                ))
                    </div>
                </div>
            </td>
            <td></td>
            <td>
                <label asp-for="JobType"></label>
            </td>
            <td>
                @Html.Kendo().TextBoxFor(m => m.JobType).HtmlAttributes(new
                {
                    style = "width:100%",
                    @readonly = "readonly",
                    @class = "m-input"
                })
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label asp-for="TotalAmount"></label>
            </td>
            <td>
                @(Html.Kendo().NumericTextBoxFor(m => m.TotalAmount)
                    .Spinners(false)
                    .Format("{0:N2}")
                    .HtmlAttributes(new
                    {
                        style = "width:100%",
                        maxlength = 12,
                        @readonly = "required"
                    }
                ))
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label asp-for="JobName"></label>
                <label class="label-required">*</label>
            </td>
            <td>
                @Html.Kendo().TextBoxFor(m => m.JobName).HtmlAttributes(new
                   {
                       style = "width:100%",
                       @class = "m-input",
                       @required = "required"
                   })
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label asp-for="Remarks"></label>
            </td>
            <td>
                @Html.TextAreaFor(m => m.Remarks, new { style = "height:95px;width:92%", @class = "form-control-sm" })
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    

</div>
