﻿@{
    ViewData["Title"] = "COA Balance";
}


<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">COA Balance</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/CoaBalance")" class="m-nav__link">
                        <span class="m-nav__link-text">COA Balance</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">

                        <div class="input-group input-group-sm">
                            <input id="legal_entity_id" name="legal_entity_id" style="width: 100%;height:100%" />
                        </div>
                        <div class="btn-group btn-group-sm m-btn-group" role="group" aria-label="..." style="padding-left:10px">
                            <button id="btn-sync_account" type="button" class="btn btn-info">Syncronize Account</button>
                            <button id="btn-create_coa_balance" type="button" class="btn btn-default">Create COA Balance</button>
                            @*<button type="button" class="btn btn-secondary">Middle</button>
                                <button type="button" class="btn btn-secondary">Right</button>*@
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <div id="grid"></div>
                    <div id="dialog_grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Vendors/custom/KendoUI/js/kendo.all.min.js"></script>
    <script src="~/demo/demo_12/custom/crud/forms/widgets/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/Areas/Finance/Scripts/CoaBalance.Index.js?@DateTime.Now" asp-append-version="true"></script>
}