﻿<input hidden id="detail-id" value="@ViewBag.RecordID" />
<input hidden id="entity_id" value="@ViewBag.EntityID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Monthly Un Closing</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-cart"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Closing</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/MonthUnclosing")" class="m-nav__link">
                        <span class="m-nav__link-text">Monthly Un Closing</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <!--NEW-->
        <div class="col-xl-12 col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--last m-portlet--head-sm m-portlet--responsive-mobile" id="main_portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    Monthly Un Closing &nbsp;
                                    <span id="status"></span>
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                    
                           
                            <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>
                        </div>
                    </div>
                </div>


                <input hidden name="approval_id" />

                <div class="m-portlet__body">
                    <!--begin::Form-->
                    <h5>Month Unclosing <span style="width: 100px;" id="status"></span></h5>
                    <input hidden name="approval_id" />
                    <form id="form-RequestForQuotation" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                        <input hidden name="id" value="@ViewBag.RecordID" />

                        <div class="row">

                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>Month :</label>
                                     <div class="input-group input-month-sm date">
                                        <input id="month" name="rfq_id" style="width: 100%;height:100%" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>Year :</label>
                                    <div class="input-group input-group-sm date">
                                        <input id="year" name="year" style="width: 100%;height:100%" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>Closing Category :</label>
                                    <div class="input-group input-group-sm date">
                                        <input id="closing" name="closing" style="width: 100%;height:100%" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <div class="form-group">
                                    <label>Legal Entity :</label>
                                    <div class="input-group input-group-sm date">
                                        <input id="legal" name="legal" style="width: 100%;height:100%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br><br><br><br><br>
                          <h5>Approval <span style="width: 100px;" id="status"></span></h5>
                          <div class="row">
                                     <div class="col-md-4">
                                            Accounting Manager
                                        <hr style="margin-top:0px">
                                        <span style="font-weight:bold">Approved on :
                                        </span><span style="font-style:italic">10 Oct 2017</span>
                                        <br>
                                        <span style="font-weight:bold">Notes :
                                        </span><span style="font-style:italic">Approved and go to next process</span>
                                        </div>
                                     
                                    </div>
                        <!-- End: Payment -->
                    </form>
                    <!--end::Form-->
                    <div style="text-align: right;">
                        <button type="button" id="btn-submit" class="btn btn-success"><i class="fa fa-location-arrow"></i>  Unclosing</button>
                        <a href="@Url.Content("~/Finance/VendorQuotation")" class="btn btn-danger"><i class="fa fa-times-circle "></i>  Cancel</a>
                    </div>
                </div>
            </div>

            <!--end::Portlet-->
        </div>
        <!--END::NEW-->
    </div>
</div>

<!-- Modal Container -->
<div class="modal-container"></div>

@section Scripts{
    <script src="~/demo/demo_12/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="~/Areas/Finance/Scripts/MonthUnclosing.Detail.js?@DateTime.Now" asp-append-version="true"></script>
}