﻿<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />

<input hidden id="detail-id" value="@ViewBag.RecordID" />
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Internal Purchase Requisition</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Procurment & Expenses</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/InternalPurchaseRequisition")" class="m-nav__link">
                        <span class="m-nav__link-text">Internal Purchase Requisition</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Details</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->


<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="m-form__group">
                        <h5>Internal Purchase Requisition <span style="width: 100px;" id="status"></span></h5>

                        <form id="form-InternalPurchase" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input hidden name="id" value="@ViewBag.RecordID" />

                            <div class="row">

                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Request ID :</label>
                                        <input id="request_id" name="request_id" type="text" class="form-control form-control-sm m-input" placeholder="Enter Request ID">
                                    </div>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Request Name :</label>
                                        <input id="request_name" name="request_name" type="text" class="form-control form-control-sm m-input" placeholder="Enter Request Name">
                                    </div>
                                </div>


                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="Division-group">
                                        <label>Divisi :</label>
                                        <div class="input-group">
                                            <input hidden name="business_unit_id" />
                                            <input id="business_unit_id" name="business_unit_id" type="text" readonly class="form-control form-control-sm m-input" placeholder="Choose Division">
                                            <div class="input-group-append">
                                                <button class="btn btn-sm" type="button" id="btn-choose_business_unit"><i class="la la-arrow-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Legal Entity :</label>
                                        <select id="legal_entity_id" name="legal_entity_id" class="form-control form-control-sm m-input m-input--square"></select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-lg-6 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Request Date :</label>
                                        <div class="input-group input-group-sm date">
                                            <input type="text" name="requested_on" id="requested_on" class="form-control m-input" readonly placeholder="Select date" />
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-6 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Delivery Date :</label>
                                        <div class="input-group input-group-sm date">
                                            <input type="text" name="delivery_on" id="delivery_on" class="form-control m-input" readonly placeholder="Select date" />
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                    <div class="form-group m-form__group row m-row--no-padding">
                        <div class="col-lg-12 m-row--no-padding" id="m_blockui_list">
                            <h5>Internal Purchase Requisition Details</h5>

                            <table id="dgdetail" class="easyui-datagrid" style="width:100%">
                                <thead>
                                </thead>
                            </table>

                            <div id="tb" style="height:auto">
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" id="btn-append">New</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" id="btn-removeit">Remove</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" id="btn-accept">Accept</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" id="btn-reject">Reject</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" id="btn-save" class="btn btn-sm btn-success">Save to Draft</button>
                            <button type="button" id="btn-submit" class="btn btn-sm btn-primary">Submit</button>
                            <a href="@Url.Content("~/Finance/InternalPurchaseRequisition")" class="fakelink btn btn-sm btn-secondary">Close</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Container -->
<div class="modal-container"></div>

@section Scripts{
    <script src="~/demo/demo_12/custom/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="~/vendors/custom/momenjs/moment.min.js"></script>
    <script type="text/javascript" src="~/vendors/custom/jeasyui/jquery.easyui.min.js"></script>
    <script src="~/Areas/Finance/Scripts/InternalPurchaseRequisition.Detail.js"></script>
}
