@{
    ViewBag.ModalTitle = "JobRepository";
    ViewBag.ModalId = "JobRepositoryModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="JobRepositoryFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="date">date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_date" id="search_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="external_id">external_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_external_id" id="search_external_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="job_posting_requisition_id">job_posting_requisition_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_job_posting_requisition_id" id="search_job_posting_requisition_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="pe_file_id">pe_file_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_pe_file_id" id="search_pe_file_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="remark">remark</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_remark" id="search_remark"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="version">version</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_version" id="search_version"   type="number">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnJobRepository.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnJobRepository.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>