@{
    ViewData["Title"] = "Project Management";
}
<div id="page_content_inner">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Home</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                            <i class="fa fa-home fa-fw"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                    <li class="m-nav__item">
                        <a href="javascript:return;" class="m-nav__link">
                            <span class="m-nav__link-text">Project Management</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="m-portlet m-portlet--skin-dark m-portlet--bordered-semi">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="flaticon-home"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        ERP Phoenix Project Management Modul
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            Welcome to Project Management Modul
        </div>
    </div>
</div>

@*@{
        Layout = "~/Views/Shared/metronic/_layout.cshtml";
    }
    <div class="m-content tplpanel">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <div>
                                            <h3>Approvals(<span id="qtyApproval"></span>)</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body" id="boxjobapproval">
                                <a href="#" class="btn btn-block btn-primary btn-sm">XXXXXX</a>
                                <a href="#" class="btn btn-block btn-primary btn-sm">XXXXXX</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <div>
                                            <h3>My Task(<span id="qtyTask"></span>)</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body" id="boxjobmytask">
                                <a href="#" class="btn btn-block btn-warning btn-sm">XXXXXX</a>
                                <a href="#" class="btn btn-block btn-warning btn-sm">XXXXXX</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <div>
                                            <h3>Due Todays(<span id="qtyDueToday"></span>)</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body" id="boxjobtoday">
                                <a href="#" class="btn btn-block btn-success btn-sm">XXXXXX</a>
                                <a href="#" class="btn btn-block btn-success btn-sm">XXXXXX</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <div>
                                            <h3>Overdue(<span id="qtyOverdue"></span>)</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body" id="boxjoboverdue">
                                <a href="#" class="btn btn-block btn-danger btn-sm">XXXXXX</a>
                                <a href="#" class="btn btn-block btn-danger btn-sm">XXXXXX</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var ajaxUrlApproval = API + "/ProjectManagement/Job/ListApproval";
        var ajaxUrlOverdue = API + "/ProjectManagement/Job/ListOverdue";
        var ajaxUrlDueToday = API + "/ProjectManagement/Job/ListDueToday";
        var ajaxUrlMyTask = API + "/ProjectManagement/Job/MyTask";
        $(function () {
            $('#boxjobapproval').empty();
            $('#boxjobmytask').empty();
            $('#boxjoboverdue').empty();
            $('#boxjobtoday').empty();
            ajaxGet(ajaxUrlApproval, { rows: 5 }, function (response) {
                var vstr = "";
                if (response.rows) {

                    $(response.rows).each(function (index, item) {
                        vstr += '<a href="#" class="btn btn-block btn-primary btn-sm">' + item.job_name + '</a>'
                    });
                }
                $('#boxjobapproval').html(vstr);
                $('#qtyApproval').html(response.total);
            });
            ajaxGet(ajaxUrlOverdue, { rows: 10 }, function (response) {
                var vstr = "";
                if (response.rows) {

                    $(response.rows).each(function (index, item) {
                        vstr += '<a href="/projectmanagement/job/detail/' + item.id + '" class="btn btn-block btn-danger btn-sm">' + item.job_name + '</a>'
                    });
                }
                $('#boxjoboverdue').html(vstr);
                $('#qtyOverdue').html(response.total);
            });
             ajaxGet(ajaxUrlOverdue, { rows: 10 }, function (response) {
                var vstr = "";
                if (response.rows) {

                    $(response.rows).each(function (index, item) {
                        vstr += '<a href="/projectmanagement/job/detail/' + item.id + '" class="btn btn-block btn-danger btn-sm">' + item.job_name + '</a>'
                    });
                }
                $('#boxjoboverdue').html(vstr);
                $('#qtyOverdue').html(response.total);
             });
            ajaxGet(ajaxUrlMyTask, { rows: 5 }, function (response) {
                var vstr = "";
                if (response.rows) {

                    $(response.rows).each(function (index, item) {
                        vstr += '<a href="#" class="btn btn-block btn-info btn-sm">' + item.job_name + '</a>'
                    });
                }
                $('#boxjobmytask').html(vstr);
                $('#qtyTask').html(response.total);
            });

        })
    </script>*@
