@{
    ViewData["Title"] = "JobInterview";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="JobInterviewFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="from_email">from_email</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="from_email" id="from_email"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="interviewer">interviewer</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="interviewer" id="interviewer"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="interview_date">interview_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="interview_date" id="interview_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="interview_time">interview_time</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="interview_time" id="interview_time"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="job_interview_description">job_interview_description</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="job_interview_description" id="job_interview_description"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="job_posting_requisition_id">job_posting_requisition_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="job_posting_requisition_id" id="job_posting_requisition_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="latitude">latitude</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="latitude" id="latitude"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="longitude">longitude</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="longitude" id="longitude"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="notes">notes</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="notes" id="notes"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="place_of_interview">place_of_interview</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="place_of_interview" id="place_of_interview"  maxlength="200" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="to_email">to_email</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="to_email" id="to_email"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/JobInterview" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/JobInterview.create.js"></script>
}
