@{
    ViewBag.ModalTitle = "TravelDestination";
    ViewBag.ModalId = "TravelDestinationModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="TravelDestinationFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="arrangement_type">arrangement_type</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_arrangement_type" id="search_arrangement_type"  maxlength="100" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="place_of_visit">place_of_visit</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_place_of_visit" id="search_place_of_visit"  maxlength="150" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="travel_id">travel_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_travel_id" id="search_travel_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="travel_mode">travel_mode</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_travel_mode" id="search_travel_mode"  maxlength="60" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnTravelDestination.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnTravelDestination.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>