@{
    ViewData["Title"] = "EmployeeTrainingRequisition";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="EmployeeTrainingRequisitionFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id" id="employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/EmployeeTrainingRequisition" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/EmployeeTrainingRequisition.update.js"></script>
}
