@{
    ViewBag.ModalTitle = "RateCard";
    ViewBag.ModalId = "RateCardModalSearch";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="RateCardFormSearch" method="post">
    
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="description">Description</span></label>
                <input class="md-input" name="search_description" id="search_description"   maxlength="250" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="flag_pick">Flag Pick</span></label>
                <input class="md-input" name="search_flag_pick" id="search_flag_pick"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_category_pe_id">Job Category Pe Id</span></label>
                <input class="md-input" name="search_job_category_pe_id" id="search_job_category_pe_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_pe_id">Job Pe Id</span></label>
                <input class="md-input" name="search_job_pe_id" id="search_job_pe_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="rate_card_code">Rate Card Code</span></label>
                <input class="md-input" name="search_rate_card_code" id="search_rate_card_code"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_id">Task Id</span></label>
                <input class="md-input" name="search_task_id" id="search_task_id"   maxlength="250" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="value">Value</span></label>
                <input class="md-input" name="search_value" id="search_value"   type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="button" onclick="fnRateCard.initsearch()" class="md-btn md-btn-primary"><i class="uk-icon-search"></i> Search</button>
        <button type="button" onclick="fnRateCard.initsearch('reset')" class="md-btn md-btn-success"><i class="uk-icon-times-circle"></i> Reset</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>