@{
    ViewData["Title"] = "EmployeeEmergencyContact";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="EmployeeEmergencyContactFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="address">address</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="address" id="address"  maxlength="100" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id" id="employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="full_name">full_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="full_name" id="full_name"  maxlength="100" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="other_no">other_no</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="other_no" id="other_no"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="phone_no">phone_no</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="phone_no" id="phone_no"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="realation">realation</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="realation" id="realation"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/EmployeeEmergencyContact" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/EmployeeEmergencyContact.create.js"></script>
}
