@{
    ViewBag.ModalTitle = "JobPe";
    ViewBag.ModalId = "JobPeModalSearch";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="JobPeFormSearch" method="post">
    
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="approval_id">Approval Id</span></label>
                <input class="md-input" name="search_approval_id" id="search_approval_id"   maxlength="1" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="ca_number">Ca Number</span></label>
                <input class="md-input" name="search_ca_number" id="search_ca_number"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="child_pce_number">Child Pce Number</span></label>
                <input class="md-input" name="search_child_pce_number" id="search_child_pce_number"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="detail">Detail</span></label>
                <input class="md-input" name="search_detail" id="search_detail"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="due_date">Due Date</span></label>
                <input class="md-input" name="search_due_date" id="search_due_date"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="file_id">File Id</span></label>
                <input class="md-input" name="search_file_id" id="search_file_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_detail_id">Job Detail Id</span></label>
                <input class="md-input" name="search_job_detail_id" id="search_job_detail_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="job_pa_id">Job Pa Id</span></label>
                <input class="md-input" name="search_job_pa_id" id="search_job_pa_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="margin">Margin</span></label>
                <input class="md-input" name="search_margin" id="search_margin"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="pe_cost">Pe Cost</span></label>
                <input class="md-input" name="search_pe_cost" id="search_pe_cost"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="pe_date">Pe Date</span></label>
                <input class="md-input" name="search_pe_date" id="search_pe_date"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="pe_line_item">Pe Line Item</span></label>
                <input class="md-input" name="search_pe_line_item" id="search_pe_line_item"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="pe_number">Pe Number</span></label>
                <input class="md-input" name="search_pe_number" id="search_pe_number"   type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="proc_number">Proc Number</span></label>
                <input class="md-input" name="search_proc_number" id="search_proc_number"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="submitted_by">Submitted By</span></label>
                <input class="md-input" name="search_submitted_by" id="search_submitted_by"   maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="button" onclick="fnJobPe.initsearch()" class="md-btn md-btn-primary"><i class="uk-icon-search"></i> Search</button>
        <button type="button" onclick="fnJobPe.initsearch('reset')" class="md-btn md-btn-success"><i class="uk-icon-times-circle"></i> Reset</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>