﻿@model PhoenixERPWebApp.Models.Finance.Transaction.AccountPayable
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<style>
    .k-checkbox-label {
        margin: 25px;
    }

        .k-checkbox-label::before {
            border-radius: unset;
        }

        .k-checkbox-label::before, .k-radio-label::before {
            width: 25px;
            height: 25px;
            border-style: none;
        }

    .k-checkbox:checked + .k-checkbox-label::before {
        border-color: unset;
        background-color: red;
    }

    .k-checkbox:checked + .k-checkbox-label::after {
        display: none;
    }
</style>

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            @*<h3 class="m-subheader__title m-subheader__title--separator">Account Payable</h3>*@
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="Indax" asp-controller="AccountPayable" asp-area="Finance" class="m-nav__link"><span class="m-nav__link-text">Account Payable</span></a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (string.IsNullOrEmpty(Model.Id))
                    {
                        <a asp-action="Detail" asp-controller="AccountPayable" asp-area="Finance" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else
                    {
                        <a asp-action="Detail" asp-controller="AccountPayable" asp-area="Finance" asp-route-Id="@Model.Id" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head" style="background:#fafafa">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    @if (string.IsNullOrEmpty(Model.Id))
                                    {
                                        <span>Create Account Payable  &nbsp;</span>
                                    }
                                    else
                                    {
                                        <span>Edit Account Payable  &nbsp;</span>
                                    }

                                    @if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.Open)
                                    {
                                        <span class="m-badge m-badge--info m-badge--wide" id="status">Open</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.ApproveFrontDesk)
                                    {
                                        <span class="m-badge m-badge--success m-badge--wide" id="status">Approved FrontDesk</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.ApproveAdmin)
                                    {
                                        <span class="m-badge m-badge--success m-badge--wide" id="status">Approved by Admin Financ</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.TAP)
                                    {
                                        <span class="m-badge m-badge--warning m-badge--wide" id="status">TAP</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.JournalConfirm)
                                    {
                                        <span class="m-badge m-badge--info m-badge--wide" id="status">JournalConfirm</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.TaxVerivication)
                                    {
                                        <span class="m-badge m-badge--dark m-badge--wide" id="status">TaxVerification</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.AP)
                                    {
                                        <span class="m-badge m-badge--success m-badge--wide" id="status">Account Payable</span>
                                    }

                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">


                            <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formAccountPayable" class="form-horizontal form-bordered" role="form" asp-action="submit" asp-controller="AccountPayable" asp-area="finance">
                        @*enctype="multipart/form-data"*@
                        <div class="row ">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="CreatedOn" />
                                <input type="hidden" asp-for="ModifiedBy" />
                                <input type="hidden" asp-for="ModifiedOn" />
                                <input type="hidden" asp-for="ApprovedBy" />
                                <input type="hidden" asp-for="ApprovedOn" />
                                <input type="hidden" asp-for="IsActive" />
                                <input type="hidden" asp-for="IsLocked" />
                                <input type="hidden" asp-for="IsDefault" />
                                <input type="hidden" asp-for="IsDeleted" />
                                <input type="hidden" asp-for="OwnerId" />
                                <input type="hidden" asp-for="DeletedBy" />
                                <input type="hidden" asp-for="DeletedOn" />
                                <input type="hidden" asp-for="JobId" />
                                <input type="hidden" asp-for="Amount" />
                                <input hidden name="id" value="@ViewBag.RecordID" />
                                <div class="row">
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Our Ref :</label>
                                            @(Html.Kendo().DropDownListFor(m => m.REF)
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        .Filter(FilterType.Contains)
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("GetDDLReference", "Dropdown", new { area = "Finance" });
                                                            });
                                                        })
                                                        .OptionLabel(new
                                                        {
                                                            Text = "Select Your Reference...",
                                                            Value = 0
                                                        })
                                                        .Events(e =>
                                                        {
                                                            e.Change("onSelectedTAP");
                                                        })
                                                        .HtmlAttributes(new { style = "width:100%;" })
                                            )

                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Type :</label>
                                            @Html.Kendo().TextBoxFor(m => m.TypeJob).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = true })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Date :</label>
                                            <div class="input-group input-group-sm date">
                                                @Html.Kendo().DatePickerFor(m => m.TransactionDate).HtmlAttributes(new { @class = "m-input marvel-datepicker", style = "width:100%", @readonly = true })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Invoice :</label>
                                            @Html.Kendo().TextBoxFor(m => m.Invoice).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Vendor :</label>
                                            <div class="input-group input-group-sm">
                                                @*<select id="our_ref_id" name="our_ref_id" class="form-control m-input m-input--square"></select>*@
                                                @(Html.Kendo().DropDownListFor(m => m.VendorId)
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .Filter(FilterType.Contains)
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Action("GetDDLCompany", "Dropdown", new { area = "Finance" });
                                                                });
                                                            })
                                                            .OptionLabel(new
                                                            {
                                                                Text = "Select Vendor...",
                                                                Value = 0
                                                            })
                                                            .HtmlAttributes(new { style = "width:100%;" })
                                                )
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Product :</label>
                                            @Html.Kendo().TextBoxFor(m => m.Product).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = true })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Periode :</label>
                                            <div class="input-group input-group-sm date">
                                                @Html.Kendo().DatePickerFor(m => m.Periode).Start(CalendarView.Year).Depth(CalendarView.Year).Format("MMMM yyyy").HtmlAttributes(new { @class = "m-input marvel-datepicker", style = "width:100%" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Your Ref :</label>
                                            @Html.Kendo().TextBoxFor(m => m.YourREF).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Division :</label>
                                            <div class="input-group input-group-sm">
                                                @*<select id="division_id" name="division_id" class="form-control m-input m-input--square"></select>*@

                                                @(Html.Kendo().DropDownListFor(m => m.BusinessUnitId)
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .Filter(FilterType.Contains)
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action("GetDivision", "Dropdown", new { area = "Finance" });
                                                        });
                                                    })
                                                    .OptionLabel(new
                                                    {
                                                        Text = "Select Division...",
                                                        Value = 0
                                                    })
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                                )
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Currency :</label>
                                            @(Html.Kendo().DropDownListFor(m => m.CurrencyId)
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        .Filter(FilterType.Contains)
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("GetDDLCurrency", "Dropdown", new { area = "Finance" });
                                                            });
                                                        })
                                                        .OptionLabel(new
                                                        {
                                                            Text = "Select Currency...",
                                                            Value = 0
                                                        })
                                                        .HtmlAttributes(new { style = "width:100%;" })
                                            )
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Exchange :</label>
                                            @Html.Kendo().TextBoxFor(m => m.Exchange).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = true })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Remark:</label>
                                            <textarea asp-for="Remark" rows="5" cols="40" class="form-control form-control-sm"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Due Days :</label>
                                            @Html.Kendo().NumericTextBoxFor(m => m.DueDays).Format("#").Min(0).HtmlAttributes(new { style = "width:100%" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Received :</label>
                                            <div class="input-group input-group-sm date">
                                                @Html.Kendo().DatePickerFor(m => m.ReceiveDate).HtmlAttributes(new { @class = "m-input marvel-datepicker", style = "width:100%" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>No Tax :</label>
                                            @Html.Kendo().TextBoxFor(m => m.TaxNo).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = true })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label>Tax Date:</label>
                                            <div class="input-group input-group-sm date">
                                                @Html.Kendo().DatePickerFor(m => m.TaxDate).HtmlAttributes(new { @class = "m-input marvel-datepicker", style = "width:100%" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 m-form__group-sub"></div>
                                    <div class="col-lg-3 m-form__group-sub"></div>
                                    <div class="col-lg-3 m-form__group-sub"></div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <button type="button" id="btn-attachment" class="btn btn-primary">Attachment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-lg-12">

                                @*<a href="@Url.Content("~/Finance/AccountPayable/Detail/")" class="m-btn btn btn-primary btn-sm m-btn--sm">add <i class="la la-plus"></i></a>*@
                                @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.AccountPayableDetailList>()
                                        .Name("AccountPayableDetailList")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(p => p.ItemName).Width(200);
                                            columns.Bound(p => p.TaskDetail).Width(200);
                                            columns.Bound(p => p.AmountPaid).Width(200).Format("{0:n2}");
                                        })
                                        .Events(ev => ev.DataBound("onDataBound"))
                                        .Pageable(pageable => pageable
                                            .Refresh(true)
                                            .PageSizes(true)
                                            .ButtonCount(5))
                                        .Editable(x => x.Mode(GridEditMode.InCell))
                                        .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                        .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                            .Extra(false)
                                            .Operators(operators => operators
                                            .ForString(str => str.Clear()
                                                .Contains("Contains")
                                                .StartsWith("Start sWith")
                                                .EndsWith("End sWith")
                                            )))
                                        .Scrollable(s => s.Enabled(true).Height("auto"))
                                        .Resizable(rsz => rsz.Columns(true))
                                        .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .PageSize(10)
                                            .Events(events => events.Error("errorHandler"))
                                            .Model(model => { model.Id(p => p.Id); })
                                            .Read(read => read.Action("ReadDetail", "AccountPayable").Data("APDetailParam"))
                                        )
                                )
                            </div>
                        </div>
                        <br />
                        <br />
                        @if (!string.IsNullOrEmpty(Model.Id))
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    @*<a href = "javascript:;" class="m-btn btn btn-primary btn-sm m-btn--sm">Create Journal</a>
                            <a href = "javascript:;" class="m-btn btn btn-primary btn-sm m-btn--sm">Manual Refresh</a>*@
                                    <br />
                                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.AccountPayableJournalList>()
                                                    .Name("grid-1")
                                                .Columns(columns =>
                                                {
                                                    columns.Bound("").ClientTemplate("#= renderNumber(data) #").Title("#").Width(50);
                                                    columns.Bound(p => p.AccountCode).Width(200);
                                                    columns.Bound(p => p.AccountName).Width(200);
                                                    columns.Bound(p => p.Description).Width(200);
                                                    columns.Bound(p => p.JobId).Width(200);
                                                    columns.Bound(p => p.Department).Width(200);
                                                    columns.Bound(p => p.Debit).Width(200).Format("{0:n2}");
                                                })
                                                .Events(ev => ev.DataBound("onDataBound"))
                                                .Pageable(pageable => pageable
                                                    .Refresh(true)
                                                    .PageSizes(true)
                                                    .ButtonCount(5))
                                                .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                                    .Extra(false)
                                                    .Operators(operators => operators
                                                .ForString(str => str.Clear()
                                                        .Contains("Contains")
                                                        .StartsWith("Start sWith")
                                                        .EndsWith("End sWith")
                                                    )))
                                                .Scrollable(s => s.Enabled(true).Height("auto"))
                                                .Resizable(rsz => rsz.Columns(true))
                                                .DataSource(dataSource => dataSource
                                                    .Ajax()
                                                    .PageSize(10)
                                                    .Events(events => events.Error("errorHandler"))
                                                    .Model(model => { model.Id(p => p.Id); })
                                                    .Read(read => read.Action("ReadJournal", "AccountPayable"))
                                                )
                                    )
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                                    @*<a href = "javascript:;" class="m-btn btn btn-primary btn-sm m-btn--sm">Create Journal</a>
                            <a href = "javascript:;" class="m-btn btn btn-primary btn-sm m-btn--sm">Tax Verification</a>*@
                                    <br />
                                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.AccountPayableJournalList>()
                                                                          .Name("grid-2")
                                                                        .Columns(columns =>
                                                                        {
                                                                            columns.Bound("").ClientTemplate("#= renderNumber(data) #").Title("#").Width(50);
                                                                            columns.Bound(p => p.AccountCode).Width(200);
                                                                            columns.Bound(p => p.AccountName).Width(200);
                                                                            columns.Bound(p => p.Description).Width(200);
                                                                            columns.Bound(p => p.JobId).Width(200);
                                                                            columns.Bound(p => p.Department).Width(200);
                                                                            columns.Bound(p => p.Debit).Width(200).Format("{0:n2}");
                                                                        })
                                                                        .Events(ev => ev.DataBound("onDataBound"))
                                                                        .Pageable(pageable => pageable
                                                                            .Refresh(true)
                                                                            .PageSizes(true)
                                                                            .ButtonCount(5))
                                                                        .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                                        .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                                                            .Extra(false)
                                                                            .Operators(operators => operators
                                                                        .ForString(str => str.Clear()
                                                                                .Contains("Contains")
                                                                                .StartsWith("Start sWith")
                                                                                .EndsWith("End sWith")
                                                                            )))
                                                                        .Scrollable(s => s.Enabled(true).Height("auto"))
                                                                        .Resizable(rsz => rsz.Columns(true))
                                                                        .DataSource(dataSource => dataSource
                                                                            .Ajax()
                                                                            .PageSize(10)
                                                                            .Events(events => events.Error("errorHandler"))
                                                                            .Model(model => { model.Id(p => p.Id); })
                                                                            .Read(read => read.Action("ReadJournal", "AccountPayable"))
                                                                        )
                                    )
                                </div>
                            </div>
                        }
                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" id="btn-save" class="btn btn-success">Save</button>
                                <button type="button" id="btn-submit" class="btn btn-primary" disabled="disabled">Submit</button>
                                <a asp-action="Index" asp-controller="AccountPayable" asp-area="Finance" class="fakelink btn btn-secondary">Close</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Attachments</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9 m-form__group-sub">
                        <div class="form-group">
                            <label class="uk-form-label">Attachment</label>
                            @(Html.Kendo().Upload()
                                                                                .Name("files-1")
                                                                                .Multiple(false)
                                                                                .Async(a => a
                                                                                    .Save("Async_Save", "Upload")
                                                                                    .Remove("Async_Remove", "Upload")
                                                                                    .AutoUpload(true)
                                                                                )
                            )
                        </div>
                    </div>
                    <div class="col-lg-3 m-form__group-sub">
                        <div class="form-group">
                            @Html.Kendo().CheckBox().Name("chk-1")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 m-form__group-sub">
                        <div class="form-group">
                            <label class="uk-form-label">Attachment</label>
                            @(Html.Kendo().Upload()
                                                                                .Name("files-2")
                                                                                .Multiple(false)
                                                                                .Async(a => a
                                                                                    .Save("Async_Save", "Upload")
                                                                                    .Remove("Async_Remove", "Upload")
                                                                                    .AutoUpload(true)
                                                                                )
                            )
                        </div>
                    </div>
                    <div class="col-lg-3 m-form__group-sub">
                        <div class="form-group">
                            @Html.Kendo().CheckBox().Name("chk-2")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 m-form__group-sub">
                        <div class="form-group">
                            <label class="uk-form-label">Attachment</label>
                            @(Html.Kendo().Upload()
                                                                        .Name("files-3")
                                                                        .Multiple(false)
                                                                        .Async(a => a
                                                                            .Save("Async_Save", "Upload")
                                                                            .Remove("Async_Remove", "Upload")
                                                                            .AutoUpload(true)
                                                                        )
                            )
                        </div>
                    </div>
                    <div class="col-lg-3 m-form__group-sub">
                        <div class="form-group">
                            @Html.Kendo().CheckBox().Name("chk-3")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 m-form__group-sub">
                        <div class="form-group">
                            <label class="uk-form-label">Attachment</label>
                            @(Html.Kendo().Upload()
                                                                .Name("files-4")
                                                                .Multiple(false)
                                                                .Async(a => a
                                                                    .Save("Async_Save", "Upload")
                                                                    .Remove("Async_Remove", "Upload")
                                                                    .AutoUpload(true)
                                                                )
                            )
                        </div>
                    </div>
                    <div class="col-lg-3 m-form__group-sub">
                        <div class="form-group">
                            @Html.Kendo().CheckBox().Name("chk-4")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 m-form__group-sub">
                        <div class="form-group">
                            <label class="uk-form-label">Attachment</label>
                            @(Html.Kendo().Upload()
                                                        .Name("files-5")
                                                        .Multiple(false)
                                                        .Async(a => a
                                                            .Save("Async_Save", "Upload")
                                                            .Remove("Async_Remove", "Upload")
                                                            .AutoUpload(true)
                                                        )
                            )
                        </div>
                    </div>
                    <div class="col-lg-3 m-form__group-sub">
                        <div class="form-group">
                            @Html.Kendo().CheckBox().Name("chk-5")
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function APDetailParam() {
        return { referenceId: $("#REF").val() };//$("#REF").data("kendoDropDownList").value();
    }
     function onSelectedTAP() {
      if ($("#REF").val() != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAPData", "AccountPayable")',
                data: { referenceId: $("#REF").data("kendoDropDownList").text() },
                success: function (response) {
            if (response != null) {
                console.log(response);
                        $("#VendorId").data('kendoDropDownList').value(response.VendorId);
                        $("#CurrencyId").data("kendoDropDownList").value(response.CurrencyId);
                        $("#division_id").data("kendoComboBox").value(1);
                        $("#TransactionDate").data("kendoDatePicker").value(response.TransactionDate);
                        $("#YourREF").val(response.invoiceReceivable.InvoiceVendor);
                        $("#Invoice").val(response.invoiceReceivable.InvoiceNumber);
                        $("#TaxDate").data("kendoDatePicker").value(response.invoiceReceivable.TaxDate);
                        $("#TaxNo").val(response.invoiceReceivable.TaxNumber);
                        $("#ExchangeRate").val(response.invoiceReceivable.ExchangeRate);
                        $("#Exchange").val(response.invoiceReceivable.ExchangeRate);
                        $("#Remark").val(response.invoiceReceivable.Description);
                        $("#TransactionDate").val(response.invoiceReceivable.TaxDate);
                        $("#TypeJob").val(response.invoiceReceivable.PCE.MainServicesName);
                        $("#Product").val(response.invoiceReceivable.PCE.BrandName);
                        $("#JobId").val(response.invoiceReceivable.JobId);
                        $("#Amount").val(response.invoiceReceivable.Amount);
               
                    }
                }
            })
         }
         $('#AccountPayableDetailList').data("kendoGrid").dataSource.read();
    };


    var counter = 1;

    function onDataBound(e) {
        counter = 1;
    }

    function renderNumber(data) {
        return counter++;
    }

    (function ($) {
        $(document).ready(function () {

            $('#btn-save').click(function () {
                var dataList = {
                    Details: $("#AccountPayableDetailList").data("kendoGrid").dataSource.data()
                }
                callAction({ formId: "formAccountPayable", title: "save", type: "POST", url: '@Url.Action("Post", "AccountPayable")', objects: dataList });
            });

        });

    }(jQuery));
</script>
@*<script src="~/Areas/Finance/Scripts/AccountPayable.Detail.js" asp-append-version="true"></script>*@

