@{
    ViewBag.ModalTitle = "Seminar";
    ViewBag.ModalId = "SeminarModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="SeminarFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="competence_id">competence_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_competence_id" id="search_competence_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="contact_no">contact_no</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_contact_no" id="search_contact_no"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="cover_seminar">cover_seminar</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_cover_seminar" id="search_cover_seminar"  maxlength="100" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="end_date">end_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_end_date" id="search_end_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="person_in_charge">person_in_charge</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_person_in_charge" id="search_person_in_charge"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="seminar_address">seminar_address</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_seminar_address" id="search_seminar_address"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="start_date">start_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_start_date" id="search_start_date"   type="number">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnSeminar.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnSeminar.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>