﻿@{
    ViewData["Title"] = "Service Request";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<style>
    .rating {
        float: left;
    }

        /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
        .rating:not(:checked) > input {
            position: absolute;
            top: -9999px;
            clip: rect(0,0,0,0);
        }

        .rating:not(:checked) > label {
            float: right;
            width: 1em;
            /* padding:0 .1em; */
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 300%;
            /* line-height:1.2; */
            color: #ddd;
        }

            .rating:not(:checked) > label:before {
                content: '★ ';
            }

        .rating > input:checked ~ label {
            color: dodgerblue;
        }

        /*.rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: dodgerblue;
        }*/

        /*.rating > input:checked + label:hover,
        .rating > input:checked + label:hover ~ label,
        .rating > input:checked ~ label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > label:hover ~ input:checked ~ label {
            color: dodgerblue;
        }*/

        .rating > label:active {
            position: relative;
            top: 2px;
            left: 2px;
        }
</style>

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Service Request</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">HRIS</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="servicerequest" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Service Request</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a asp-action="addedit" asp-controller="servicerequest" asp-area="hrisnew" class="m-btn btn btn-primary btn-sm m-btn--sm" title="Add New Record"><i class="la la-plus"></i></a>
                                @*<button id="btn-delete" type="button" class="m-btn btn btn-danger btn-sm m-btn--sm" title="Delete Selection"><i class="la la-trash"></i></button>*@
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.EmployeeServiceRequest>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound("").ClientTemplateId("btnAction-template")
                            .Title("Action").HtmlAttributes(new { style = "text-align:center;" })
                            .HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                            columns.Bound("").Title("#").Width(50).Filterable(false).HtmlAttributes(new { style = "text-align:center;", @class = "row-number" }).HeaderHtmlAttributes(new { style = "text-align:center;" });
                            columns.Bound(p => p.RequestCode).Width(200);
                            columns.Bound(p => p.RequestBy).Width(200);
                            columns.Bound(p => p.ServiceName).Width(250);
                            columns.Bound(p => p.Rating).ClientTemplateId("rating-template").Width(250);
                            columns.Bound(p => p.Remarks).Width(200);
                            columns.Bound(p => p.DivisionName).Width(200);
                            columns.Bound(p => p.Date).Width(200).Filterable(x => x.Extra(true));
                            columns.Bound(p => p.DueDate).Width(200).Filterable(x => x.Extra(true));
                            columns.Bound(p => p.StatusDesc).Width(200);
                        })
                        .NoRecords()
                        .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(true)
                            .ButtonCount(5))
                        .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                        .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                            .Extra(false)
                            .Operators(operators => operators
                            .ForString(str => str.Clear()
                                .Contains("Contains")
                                .StartsWith("Start sWith")
                                .EndsWith("End sWith")
                            )))
                        .Scrollable(s => s.Enabled(true).Height("auto"))
                        .Resizable(rsz => rsz.Columns(true))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Events(events => events.Error("errorHandler"))
                            .Model(model => { model.Id(p => p.Id); })
                            .Read(read => read.Action("Read", "ServiceRequest"))
                        )
                        .Events(e => e.DataBound("dataBoundEvent"))
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<script id="rating-template" type="text/x-kendo-template">
    <div class="rating">
        <input type="radio" id="star5" value="5" #if(Rating==5){# checked #}# readonly/><label for="star5" title="5">5 stars</label>
        <input type="radio" id="star4" value="4" #if(Rating==4){# checked #}# readonly/><label for="star4" title="4">4 stars</label>
        <input type="radio" id="star3" value="3" #if(Rating==3){# checked #}# readonly/><label for="star3" title="3">3 stars</label>
        <input type="radio" id="star2" value="2" #if(Rating==2){# checked #}# readonly/><label for="star2" title="2">2 stars</label>
        <input type="radio" id="star1" value="1" #if(Rating==1){# checked #}# readonly/><label for="star1" title="1">1 star</label>
    </div>
</script>
<script id="btnAction-template" type="text/x-kendo-template">
    #if(Status==@PhoenixERPWebApp.Models.EmployeeServiceRequestStatus.Fullfillment || Status==@PhoenixERPWebApp.Models.EmployeeServiceRequestStatus.Closed){ #
    <a href='javascript: void(0);' onclick='commentGridRow(this)' title='Comment'><span style='color:green'><i class='fa fa-comment'></i></span></a>
    #}#
    <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit'><span style='color:green'><i class='fa fa-edit'></i></span></a>
    #if(Status==@PhoenixERPWebApp.Models.EmployeeServiceRequestStatus.Submit || Status==@PhoenixERPWebApp.Models.EmployeeServiceRequestStatus.Requested){ #
    <a href='javascript: void(0);' onclick='deleteGridRow(this)' title='Delete' class='delete'><span style='color:maroon'><i class='fa fa-trash-alt'></i></span></a>
    #}#
</script>
<script>
    function editGridRow(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("AddEdit", "ServiceRequest")?Id=' + item.Id;
    }

    function commentGridRow(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("AddEdit", "Comment")?Id=' + item.Id+"&isServiceReq=true";
    }

    function deleteGridRow(e) {
        deleteRow(e, '@Url.Action("Delete", "ServiceRequest")');
    }
</script>