@{
    ViewData["Title"] = "PCE";
    Layout = "~/Views/Shared/metronic/_formpanelloader.cshtml";
}

@section Panelhead{

}

@section Paneltools{

}
@section Panelbody{
    <link href="~/assets/plugins/treegrid/jquery.treegrid.css" rel="stylesheet" />
    <style>
        #tablePca .xcount {
            font-size: 11px;
        }

        .m-dropdown__wrapper {
            z-index: 1000 !important;
        }

        .xcount {
            text-align: right;
            direction: rtl;
            width: 100%;
        }

        .padd5 {
            padding: 7px 5px 5px 7px !important;
        }

        .xcounttask {
            text-align: right;
            direction: rtl;
            width: 100%;
        }

        .xrght {
            width: 20px;
            margin-top: 6px !important;
        }

            .xrght i {
                padding-top: 10px !important;
            }

        .xtext {
            width: 100%;
        }

        .tblnopadding tbody tr td {
            padding: 0px !important;
        }

        .tblnopadding tfoot tr td {
            padding: 0px !important;
        }

        .tblnopadding .xcategory {
            width: 160px;
        }

        .tblnopadding .select2-results__options li.select2-results__option {
            font-size: 10px !important;
        }

        .bigselect {
            width: 400px !important;
            font-size: 10px !important;
        }

        .tblnopadding .select2-results__options {
            font-size: 10px !important;
        }

        .tblnopadding .select2-selection__rendered {
            font-size: 10px !important;
            min-height: 28px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .tblnopadding .select2-selection__clear {
            z-index: 1000;
        }
    </style>
    <form action="#" method="post" id="PcaFormCreate">

        <div class="row m-row--col-separator-xl">

            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Job Number">Job Number</span> :</label>
                    <h5 id="job_id"></h5>
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="Job Name">Job Name</span> :</label>
                    <h5 id="job_name"></h5>
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="Brand">Brand</span> :</label>
                    <h5 id="brand_name"></h5>
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="Business Unit">Business Unit</span> :</label>
                    <h5 id="business_unit_name"></h5>
                </div>


            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Mother PCA">Mother PCA</span> :</label>
                    <h5 id="mother_pca_id"></h5>
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="Rate Card">Rate Card</span> :</label>
                    <h5 id="rate_card_id"></h5>
                </div>
            </div>
            <div class="col-lg-3">

                <div class="form-group">
                    <label><span class="translate" data-args="Currency"></span> :</label>
                    <h5 id="currency"></h5>
                </div>

                <div class="form-group">
                    <label><span class="translate" data-args="type"></span> :</label>
                    <h5 id="type"></h5>
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="description"></span> :</label>
                    <div id="description"></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label><span class="translate" data-args="Code"></span> :</label>
                    <input readonly class="form-control form-control-sm m-input m-input--square" required name="code" id="code" value="-" maxlength="50" type="text">
                </div>
                <div class="form-group">
                    <label><span class="translate" data-args="rev"></span> :</label>
                    <input readonly class="form-control form-control-sm m-input m-input--square" required name="revision" id="revision" value="0" maxlength="50" type="text">
                </div>
                <div class="m-form__group-sub m--margin-bottom-20" style="text-align:right">
                    <h6 id="company_name">Total Amount</h6>
                    <h3 class="m--font-info"><span id="totalAmount">0</span></h3>
                </div>
            </div>
        </div><hr />
        <div style="">
            <table id="tablePca" class="tblnopadding table table-bordered">
                <thead>
                    <tr>


                        <th>
                            task


                        </th>
                        <th style="width:20px">Qty </th>
                        <th style="width:20px">Unit </th>
                        <th style="width:80px">Price </th>

                        <th style="width:100px">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr><td colspan="4" align="right">Sub Total</td><td><div style="text-align:right" id="sub_total"></div></td></tr>
                    <tr>
                        <td colspan="4" align="right">

                            <div id="other_fee_name"></div>
                            <div id="other_fee_percentage"></div>



                        </td>
                        <td><div id="other_fee" style="text-align:right"></div></td>

                    </tr>
                    <tr><td colspan="4" align="right">VAT (10% x Sub Total)</td><td><div id="vat" style="text-align:right"></div></td></tr>
                    <tr><td colspan="4" align="right">Grand Total</td><td><div id="total" style="text-align:right"></div></td></tr>

                </tfoot>
            </table>
        </div>
        <hr />
        <button class="btn btn-primary">Submit To Invoice</button>
        <a href="~/ProjectManagement/Pce" class="fakelink btn btn-secondary">Close</a>

        <button style="display:none" type="button" id="openpce" onclick="openpcefin()" class="btn btn-primary"><i class="fa fa-play"></i> Submit </button>
        <button class="btn btn-danger">Cancel</button>
        <button type="button" class="btn btn-success"><i class="fa fa-file-contract"></i> RFQ </button>
        <button type="button" onclick="fnPca.showtaskbox()" class="btn btn-primary"><i class="fa fa-dollar-sign"></i> Cash Advance </button>

    </form>
 
}
@section Panelscript{
    <script>
        var RecordID = "@ViewBag.RecordID";
    </script>
    <script src="~/assets/plugins/treegrid/jquery.treegrid.js"></script>
    <script src="~/assets/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
    <script src="~/assets/plugins/jquery.mask/jquery.mask.js"></script>
    <script src="~/assets/js/Areas/ProjectManagement/Form/Pce/view.js"></script>
}

