﻿@model PhoenixERPWebApp.Models.Finance.FinanceReport.SearchReportTimeSheet
@{
    ViewData["Title"] = "Time Sheet Report";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
@*<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>*@

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Time Sheet</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finace</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="balancesheet" asp-area="finance" class="m-nav__link"><span class="m-nav__link-text">Report By Client</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">

                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="ticketsForm">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group row">
                                    <div class="col-lg-3">
                                        <label>Client Name</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @(Html.Kendo().DropDownListFor(m => m.ClientId)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Filter(FilterType.Contains)
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetCompanys", "Dropdown", new { area = "Finance" });
                                    });
                                })
                                .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.ClientId)}")
                                .HtmlAttributes(new
                                {
                                    style = "width:73%;"
                                })
                                        )
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <button type="button" id="btnSearch" class="btn btn-primary edit" style="padding:7px;"><span class="fa fa-filter"></span> Filter</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.FinanceReport.ReportTimeSheetClient>()
                                  .Name("grid")

                                  .Columns(column =>
                                  {
                                      column.Bound("").Title("No").Width(30).ClientTemplate("#= renderNumber(data) #");
                                      column.Bound(p => p.client_name).Width(300).Title("Client Name");
                                      column.Bound(p => p.name_employee).Width(300).Title("Name Employee");
                                      column.Bound(p => p.job_number).Width(300).Title("Job Number");
                                      column.Bound(p => p.job_name).Width(150).Title("Job Name");
                                      column.Bound(p => p.business_unit_division_id).Width(150).Title("Business Unit Division Id");
                                      column.Bound(p => p.start_date_weekly).Width(150).Title("Start Date Weekly").Format("{0:dd-MM-yyyy}");
                                      column.Bound(p => p.end_date_weekly).Width(150).Title("End Date Weekly").Format("{0:dd-MM-yyyy}");
                                  })
                                  .ToolBar(tools => tools.Excel())
                                 .Excel(excel => excel
                                    .FileName("ReportTimeSheetbyClient.xlsx")
                                    .Filterable(true)
                                    .AllPages(true)
                                    .ProxyURL(Url.Action("Excel_Export_Save", "TimeSheetGridReport"))
                                )
                                .NoRecords()
                                .Scrollable(s => s.Enabled(true).Height("auto"))
                                .Resizable(rsz => rsz.Columns(true))
                                          .Events(a => a.DataBound("gridDatabound"))
                                          .DataSource(dataSource => dataSource
                                          .Ajax()
                                          //.PageSize(10)
                                          .Read(read => read.Action("ReadTimeSheetByClientId", "TimeSheetGridReport").Data("grid_report_params"))
                                   )
                    )
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function gridDatabound() {
        rowNumber = 0;
    }
    var rowNumber = 0;
    function renderNumber(data) {
        return ++rowNumber;
    }
    function grid_report_params() {
        //var legal = $("#LegalEntity").data("kendoDropDownList").value();
        //var div = $("#BusinessUnitId").data("kendoDropDownList").value();
        //var year = $("#FiscalYearsId").data("kendoDropDownList").value();

        return {

            //LegalEntityId: legal,
            //BusinessUnitId: div,
            //FiscalYearsId: year,
            ClientId: $("#ClientId").val()


        }


    }

    $('#btnSearch').click(function () {
        //mApp.block("#m_blockui_list", {
        //    overlayColor: "#000000",
        //    type: "loader",
        //    state: "primary",
        //    message: "Processing..."
        //});
        //alert('ok')

        $('#grid').data('kendoGrid').dataSource.read();
        $('#grid').data('kendoGrid').refresh();

        mApp.unblock("#m_blockui_list");
    });
</script>