@model PhoenixERPWebApp.Models.EmployeeLoan
@{
    ViewData["Title"] = "Employee Loan";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";

    DateTime? DateLoan = DateTime.Now;
    DateTime? RepaymentStartDate = DateTime.Now;
    if (!string.IsNullOrEmpty(Model.Id))
    {
        if (DateLoan >= Model.DateLoan)
        {
            DateLoan = Model.DateLoan;
        }

        if (RepaymentStartDate >= Model.RepaymentStartDate)
        {
            RepaymentStartDate = Model.RepaymentStartDate;
        }
    }
}
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">HRIS</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="employeeloan" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Employee Loan</span></a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                     @if (string.IsNullOrEmpty(Model.Id))
                    {
                        <a asp-action="addedit" asp-controller="employeeloan" asp-area="hrisnew"  class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else
                    {
                        <a asp-action="addedit" asp-controller="employeeloan" asp-area="hrisnew"  asp-route-Id="@Model.Id" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-success">Employee Loan</h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <form id="formEmployeeLoan" class="form-horizontal form-bordered" role="form">
                        <div class="row ">
                            <div class="col-lg-12">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="CreatedOn" />
                                <input type="hidden" asp-for="ModifiedBy" />
                                <input type="hidden" asp-for="ModifiedOn" />
                                <input type="hidden" asp-for="ApprovedBy" />
                                <input type="hidden" asp-for="ApprovedOn" />
                                <input type="hidden" asp-for="IsActive" />
                                <input type="hidden" asp-for="IsLocked" />
                                <input type="hidden" asp-for="IsDefault" />
                                <input type="hidden" asp-for="IsDeleted" />
                                <input type="hidden" asp-for="OwnerId" />
                                <input type="hidden" asp-for="DeletedBy" />
                                <input type="hidden" asp-for="DeletedOn" />
                                <input type="hidden" asp-for="BusinessUnitDivisionId" />
                                <input type="hidden" asp-for="BusinessUnitDepartementId" />
                                
                                <div class="row" id="search">
                                    <div class="col-lg-5 m-form__group-sub">
                                        <div class="form-group">
                                            <label class="search-employee">Search Employee</label> :
                                            @(Html.Kendo().AutoComplete()
                                                .Name("SearchEmployee")
                                                .DataTextField("Text")
                                                .Filter(FilterType.Contains)
                                                .HtmlAttributes(new { style = "width:100%" })
                                                .Events(ev => ev.Select("employeeInfoSelectEvent"))
                                                .DataSource(source =>
                                                {
                                                    source
                                                        .Read(read =>
                                                        {
                                                            read.Action("GetDDLEmployeeBasicInfoByName", "Dropdown", new { area = "HrisNew" }).Data("params_autocomplete");
                                                        })
                                                        .ServerFiltering(true);
                                                })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label asp-for="EmployeeBasicInfoId"></label><span class="req">*</span> :
                                            @(Html.Kendo().TextBoxFor(x => x.EmployeeBasicInfoId)
                                                .HtmlAttributes(new
                                                {
                                                    style = "width:100%",
                                                    required = "required",
                                                    @readonly = "readonly"
                                                }))
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label asp-for="infoEmployee.EmployeeName"></label> :
                                            @(Html.Kendo().TextBoxFor(x => x.infoEmployee.EmployeeName)
                                                .HtmlAttributes(new
                                                {
                                                    style = "width:100%",
                                                    @readonly = "readonly"
                                                }))
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label asp-for="infoEmployee.JobTitle"></label> :
                                            @(Html.Kendo().TextBoxFor(x => x.infoEmployee.JobTitle)
                                                .HtmlAttributes(new
                                                {
                                                    style = "width:100%",
                                                    @readonly = "readonly"
                                                }))
                                        </div>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <div class="form-group">
                                            <label asp-for="infoEmployee.Grade"></label> :
                                            @(Html.Kendo().TextBoxFor(x => x.infoEmployee.Grade)
                                                .HtmlAttributes(new
                                                {
                                                    style = "width:100%",
                                                    @readonly = "readonly"
                                                }))
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 form-group m-form__group-sub">
                                        <label asp-for="LoanCategoryId"></label> <span class="req">*</span>  :
                                        @(Html.Kendo().DropDownListFor(m => m.LoanCategoryId)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .OptionLabel($"choose a {Html.DisplayNameFor(m => m.LoanCategoryId)}")
                                            .HtmlAttributes(new
                                            {
                                                style = "width:100%;",
                                                required = "required",
                                                validationmessage = $"{Html.DisplayNameFor(m => m.LoanCategoryId)} is required"
                                            })
                                            .Height(400)
                                            .Filter(FilterType.Contains)
                                            .Events(ev => ev.Select("loanCategorySelectEvent"))
                                            .DataSource(source => source
                                                .Custom()
                                                .Transport(transport => transport
                                                .Read(read =>
                                                {
                                                    read.Action("GetDDLLoanCategory", "Dropdown", new { area = "hrisnew" });
                                                }))
                                                .ServerFiltering(false))
                                        )
                                    </div>
                                        <div class="col-lg-4 form-group m-form__group-sub">
                                        <label asp-for="InterestMonth"></label> <span class="req">*</span>  :
                                        @(Html.Kendo().NumericTextBoxFor(m => m.InterestMonth)
                                            .Spinners(false)
                                            .Format("n")
                                            .HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                maxlength = 15,
                                                @readonly = "readonly"
                                            }))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 form-group m-form__group-sub">
                                        <label asp-for="DateLoan"></label> <span class="req">*</span>  :
                                        @(Html.Kendo().DatePickerFor(m => m.DateLoan)
                                            .Format("dd MMMM yyyy")
                                            .Min($"{DateLoan}")
                                            .HtmlAttributes(new
                                            {
                                                style = "width: 100%",
                                                placeholder = $"Input type a {Html.DisplayNameFor(m => m.DateLoan)}",
                                                required = "required",
                                                validationmessage = $"{Html.DisplayNameFor(m => m.DateLoan)} is required",
                                                onkeydown = "javascript:return false;"
                                            })
                                        )
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 form-group m-form__group-sub">
                                        <label asp-for="Value"></label> <span class="req">*</span>  :
                                        @(Html.Kendo().NumericTextBoxFor(m => m.Value)
                                            .Spinners(false)
                                            .Format("n")
                                            .Events(x => x.Change("calculateInterestValue"))
                                            .HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                maxlength = 15,
                                                placeholder = $"Input type a {Html.DisplayNameFor(m => m.Value)}",
                                                required = "required",
                                                validationmessage = $"{Html.DisplayNameFor(m => m.Value)} is required"

                                            }))
                                    </div>
                                    <div class="col-lg-4 form-group m-form__group-sub">
                                        <label asp-for="InterestValue"></label> <span class="req">*</span>  :
                                        @(Html.Kendo().NumericTextBoxFor(m => m.InterestValue)
                                            .Spinners(false)
                                            .Format("n")
                                            .HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                maxlength = 15,
                                                @readonly = "readonly"
                                            }))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 form-group m-form__group-sub">
                                        <label asp-for="PayrollDeduction"></label> <span class="req">*</span>  :
                                        @(Html.Kendo().NumericTextBoxFor(m => m.PayrollDeduction)
                                            .Spinners(false)
                                            .Format("0")
                                            //.Max(99)
                                            .Events(x => x.Change("calculateInterestValue"))
                                            .HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                maxlength = 2,
                                                placeholder = $"Input type a {Html.DisplayNameFor(m => m.PayrollDeduction)}",
                                                required = "required",
                                                validationmessage = $"{Html.DisplayNameFor(m => m.PayrollDeduction)} is required"

                                            }))
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 form-group m-form__group-sub">
                                        <label asp-for="RepaymentStartDate"></label> <span class="req">*</span>  :
                                        @(Html.Kendo().DatePickerFor(m => m.RepaymentStartDate)
                                            .Format("dd MMMM yyyy")
                                            .Min($"{RepaymentStartDate}")
                                            .HtmlAttributes(new
                                            {
                                                style = "width: 100%",
                                                placeholder = $"Input type a {Html.DisplayNameFor(m => m.RepaymentStartDate)}",
                                                required = "required",
                                                validationmessage = $"{Html.DisplayNameFor(m => m.RepaymentStartDate)} is required",
                                                onkeydown = "javascript:return false;"
                                            })
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    @if (string.IsNullOrEmpty(Model.Id)) {
                                        <button type="button" id="btn-save" class="btn btn-primary edit"><span class="fa fa-save"></span> Save</button>
                                    }
                                    <a asp-action="index" asp-controller="employeeloan" asp-area="hrisnew" class="fakelink btn btn-secondary"><span class="fa fa-arrow-circle-left"></span> Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {       
        if ('@Model.Id' != '') {
            $("#LoanCategoryId").data("kendoDropDownList").readonly();
            $("#DateLoan").data("kendoDatePicker").readonly();
            $("#Value").data("kendoNumericTextBox").readonly();
            $("#PayrollDeduction").data("kendoNumericTextBox").readonly();
            $("#RepaymentStartDate").data("kendoDatePicker").readonly();
            $("#search").remove();
        }
    });

    $('#btn-save').click(function () {
        callAction({ formId:"formEmployeeLoan", title: "save", type:"POST", url: '@Url.Action("submit", "employeeloan")'});
    });

    
    function params_autocomplete() {
        return {
            name: $("#SearchEmployee").val()
        };
    }

    function calculateInterestValue() {
        var value = $("#Value").data("kendoNumericTextBox").value();
        var payrollDeduction = $("#PayrollDeduction").data("kendoNumericTextBox").value();
        var interestperMonth = $("#InterestMonth").data("kendoNumericTextBox").value();
        var persentasePerTotalMonth = (payrollDeduction * interestperMonth);
        var interest = (value * persentasePerTotalMonth)/100;
        var total = value + interest;
        $("#InterestValue").data("kendoNumericTextBox").value(total);
    }

    function loanCategorySelectEvent(e) {
        if (e.dataItem) {
            var dataItem = e.dataItem;     
            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetLoanCategoryById", "employeeloan")',
                data: { loanCategoryId: dataItem.Value },
                success: function (result) {
                    if (result != undefined) {
                        $("#InterestMonth").data("kendoNumericTextBox").value(result.InterestMonth);
                        calculateInterestValue();
                    }
                    mApp.unblock("#m_blockui_list");
                },
                error: function (e, t, s) {
                    swal('Information', 'Ooops, something went wrong !', 'info');
                    mApp.unblock("#m_blockui_list");
                }
            }).then(setTimeout(function () {
                mApp.unblock("#m_blockui_list");
                }, 2e3));
        }
    }

    function employeeInfoSelectEvent(e) {
        var dataItem = this.dataItem(e.item.index());
        if (dataItem === undefined) {
            this.value("");
            $("#EmployeeBasicInfoId").val("");
            $("#infoEmployee_EmployeeName").val("");
            $("#infoEmployee_JobTitle").val("");
            $("#infoEmployee_Grade").val("");
        } else {
            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetEmployeeInfoById", "employeeinfo")',
                data: { employeeId: dataItem.Value },
                success: function (result) {
                    if (result != undefined) {
                        $("#EmployeeBasicInfoId").val(result.EmployeeId);
                        $("#infoEmployee_EmployeeName").val(result.EmployeeName);
                        $("#infoEmployee_JobTitle").val(result.JobTitle);
                        $("#infoEmployee_Grade").val(result.Grade);
                    }
                    mApp.unblock("#m_blockui_list");
                },
                error: function (e, t, s) {
                    swal('Information', 'Ooops, something went wrong !', 'info');
                    mApp.unblock("#m_blockui_list");
                }
            }).then(setTimeout(function () {
                mApp.unblock("#m_blockui_list");
                }, 2e3));
        }
    }
</script>