﻿@model PhoenixERPWebApp.Models.MassLeave

<div class="row">
    <div class="col-lg-5 m-form__group-sub" id="search">
        <div class="form-group">
            <label class="search-employee">Excepted Employee</label> :
            @(Html.Kendo().AutoComplete()
                .Name("SearchEmployee")
                .DataTextField("Text")
                .Filter(FilterType.Contains)
                //.MinLength(3)
                .HtmlAttributes(new { style = "width:100%"})
                .Events(ev => ev.Select("employeeInfoSelectEvent"))
                .DataSource(source => {
                    source
                        .Read(read =>
                        {
                            read.Action("GetDDLEmployeeBasicInfoByName", "Dropdown", new { area = "HrisNew" }).Data("params_autocomplete");
                        })
                        .ServerFiltering(true);
                })
            )
        </div>
    </div>
    <div  class="col-lg-12">
        @(Html.Kendo().Grid<PhoenixERPWebApp.Models.MassLeaveDetail>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound("").ClientTemplateId("btnAction-template")
                    .Title("Action").HtmlAttributes(new { style = "text-align:center;" })
                    .HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                //columns.Bound("").Title("#").Width(50).Filterable(false).HtmlAttributes(new { style = "text-align:center;", @class = "row-number" }).HeaderHtmlAttributes(new { style = "text-align:center;" });
                columns.Bound(p => p.InfoEmployee.EmployeeName);
                columns.Bound(p => p.InfoEmployee.JobTitle);
                columns.Bound(p => p.InfoEmployee.Grade);
                columns.Bound(p => p.InfoEmployee.Division);
            })
            .NoRecords()
            /*.Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
            .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
            .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                .Extra(false)
                .Operators(operators => operators
                .ForString(str => str.Clear()
                    .Contains("Contains")
                    .StartsWith("Start sWith")
                    .EndsWith("End sWith")
                )))*/
            //.Scrollable(s => s.Enabled(true).Height("auto"))
            .Resizable(rsz => rsz.Columns(true))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Events(events => events.Error("errorHandler"))
                .Model(model => { model.Id(p => p.ExceptEmployee); })
                .Read(read => read.Action("ReadAssisted", "massleave").Data("assign_params"))
            )
        )
    </div>
</div>

<script id="btnAction-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='deleteEmployee(this)' title='Delete' class='delete'><span style='color:maroon'><i class='fa fa-trash-alt'></i></span></a>
</script>

<script>
    function params_autocomplete() {
        return {
            name: $("#SearchEmployee").val()
        };
    }

    function assign_params() {
        return {
            id: '@Model.Id'
        };
    }   
    
    function deleteEmployee(e) {
        var item = dataItem(e);
        $("#grid").data("kendoGrid").dataSource.remove(item);
    }

    function employeeInfoSelectEvent(e) {
        var dataItem = this.dataItem(e.item.index());
        if (dataItem === undefined) {
            this.value("");
            ClearAsignEmployee();
        } else {
            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetEmployeeInfoById", "employeeinfo")',
                data: { employeeId: dataItem.Value },
                success: function (result) {
                    if (result != undefined) {
                        var newRow = {ExceptEmployee: result.EmployeeId, InfoEmployee: { EmployeeName: result.EmployeeName, JobTitle: result.JobTitle, Grade: result.Grade, Division: result.Division }};
                        $("#grid").data("kendoGrid").dataSource.add(newRow);
                        $("#SearchEmployee").val("");
                    }
                    mApp.unblock("#m_blockui_list");
                },
                error: function (e, t, s) {
                    swal('Information', 'Ooops, something went wrong !', 'info');
                    mApp.unblock("#m_blockui_list");
                }
            }).then(setTimeout(function () {
                mApp.unblock("#m_blockui_list");
                }, 2e3));
        }
    }

</script>