@{
    ViewBag.ModalTitle = "PCA";
    ViewBag.ModalId = "newtask";
    Layout = "~/Views/Shared/metronic/_ModalLarge.cshtml";
}
<style>
    .option .description,
    .option .title {
        display: block;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn-sx {
        font-size: 0.45rem !important;
    }

    .contenttitle {
        font-weight: bold;
        font-size: 16px;
        border: none !important;
    }

    .option .title {
        font-weight: bold;
        font-size: 12px;
    }

    .option .description {
        color: #808080;
        font-size: 10px;
    }
</style>

<form id="PCAdetilForm" method="post">
    <hr />
    new Task
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label><span class="translate" data-args="channel">channel</span> :</label>
                <select id="task_unit" name="task_unit" class="form-control form-control-sm m-input m-input--square"></select>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <label for="message-text" class="form-control-label">Task:</label>
                <input type="text" class="form-control form-control-sm m-input m-input--square" id="task_name">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="message-text" class="form-control-label"></label>
                <button type="button" onclick="createtask()" class="btn btn-success btn-sm btn-block">Create</button>
            </div>
        </div>
    </div>
</form>
 
<form id="existingtaskform">
    <div class="m-checkbox-inline"><label class="m-checkbox m-checkbox--solid m-checkbox--state-primary"><input type="checkbox" class="xcheck" id="autoppn"> Auto input PPN <span></span></label></div>
    <div id="tbltaskdetil">

    </div>
    

    <div class="modal-footer">
        <button type="button" id="closeaddtask" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
 
