@{
    ViewBag.ModalTitle = "Dam";
    ViewBag.ModalId = "DamModalSearch";
    Layout = "~/Views/Shared/altair/_ModalNormal.cshtml";
}
<form id="DamFormSearch" method="post">
    
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="dam">Dam</span></label>
                <input class="md-input" name="search_dam" id="search_dam"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="dam_type_id">Dam Type Id</span></label>
                <input class="md-input" name="search_dam_type_id" id="search_dam_type_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="file_id">File Id</span></label>
                <input class="md-input" name="search_file_id" id="search_file_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="notes">Notes</span></label>
                <input class="md-input" name="search_notes" id="search_notes"   maxlength="250" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="sub_task_id">Sub Task Id</span></label>
                <input class="md-input" name="search_sub_task_id" id="search_sub_task_id"   maxlength="50" type="text">
            </div>            <div class="uk-form-row">
                <label class="label-block"><span class="translate"  data-args="task_id">Task Id</span></label>
                <input class="md-input" name="search_task_id" id="search_task_id"   maxlength="50" type="text">
            </div>        
        </div>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <button type="button" onclick="fnDam.initsearch()" class="md-btn md-btn-primary"><i class="uk-icon-search"></i> Search</button>
        <button type="button" onclick="fnDam.initsearch('reset')" class="md-btn md-btn-success"><i class="uk-icon-times-circle"></i> Reset</button>
        <button type="button" class="md-btn md-btn-warning uk-modal-close"><i class="uk-icon-arrow-circle-o-left"></i>  Close</button>
    </div>
</form>