﻿@{
    ViewData["Title"] = "Group Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/bundles/css/datatable.min.css" rel="stylesheet" />
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Manage Group Chat</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-gear"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">System</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Application</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Um/GroupChatting")" class="m-nav__link">
                        <span class="m-nav__link-text">Manage Group Chat</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="#" class="m-nav__link">
                        <span class="m-nav__link-text">Add Group Chat</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a href="@Url.Content("~/Um/GroupChatting/")" class="m-btn btn btn-primary btn-sm m-btn--sm" title="back to list"><i class="la la-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">

                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin: Datatable -->
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="width:150px">Group Chat Name</td>
                                <td>
                                    <input type="text" class="form-control form-control-sm in-groupname" maxlength="128"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Select Member</td>
                                <td>
                                    <div class="input-group mb-3">
                                        <select class="form-control-sm col-md-6" id="ddlMember"></select>
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-group btn-info btn-sm" id="sp-add-member">Add Member</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="table table-striped- table-bordered table-hover tbl-list-member">
                                        <thead>
                                            <tr>
                                                <th>Member</th>
                                                <th><i class="fa fa-cogs pull-right"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button class="btn btn-sm btn-primary btnsave-groupchat pull-right">SAVE</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <div class="m-portlet__body">
                </div>
            </div>


        </div>
    </div>
</div>
<input type="hidden" id="HidIdGroup" value="@Html.Raw(ViewBag.Codex)"/>

@section Scripts{
    <script src="~/Areas/Um/Scripts/groupChattingapp.js" asp-append-version="true"></script>
    <script>
        $(function () {
            loadDataMember();
            $('#ddlMember').select2({
                allowClear: true
            });
            $('#sp-add-member').on('click', function () { addMemberToGroup(); });
            $('.btnsave-groupchat').on('click', function () { saveData(); });
            initialType();
        });

        let initialType = function () {
            if ($('#HidIdGroup').val() !== "0") {
                bindEditData($('#HidIdGroup').val());
            }
        }
    </script>
}


