@*@model PhoenixERPWebApp.Models.PurchaseOrderDetail
<style>
    .k-edit-form-container .editor-label, .k-edit-label{
        text-align:left;
    }
    .label-required{
        color:red;
    }
</style>
<div class="k-edit-form-container">
    <div class="editor-label">
        <label asp-for="ItemTypeId"></label>
        <label class="label-required">*</label>
    </div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(m => m.ItemTypeId)
          .DataTextField("Text")
          .DataValueField("Value")
          .OptionLabel("Select Item Type..")
          .HtmlAttributes(new { style = "width:100%;", required = "required" })
          .Height(400)
          .Filter(FilterType.Contains)
          .DataSource(source => source
              .Custom()
              .Transport(transport => transport
              .Read(read =>
              {
                  read.Action("GetDDLItemType", "Dropdown", new { area = "Finance" });
              })))
        )
    </div>
    
    <div class="editor-label">
        <label asp-for="ItemId"></label>
        <label class="label-required">*</label>
    </div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(m => m.ItemId)
            .DataTextField("Text")
            .DataValueField("Value")
            .OptionLabel("Select Item Code..")
            .HtmlAttributes(new { style = "width:100%;" })
            .Height(400)
            .Filter(FilterType.Contains)
            .Events(evt => evt.Select("ItemType_Select"))
            .CascadeFrom("ItemTypeId")
            .AutoBind(false)
            .HtmlAttributes(new { style = "width:100%;", required = "required" })
            .DataSource(source => source
                .Custom()
                .Transport(transport => transport
                .Read(read =>
                {
                    read.Action("GetDDLItemCode", "Dropdown", new { area = "Finance" }).Data("itemType_params");
                }))
                .ServerFiltering(true)
             )
            .CascadeFrom("ItemTypeId")
        )
    </div>

     <div class="editor-label">
        <label asp-for="ItemName"></label>
        <label class="label-required">*</label>
    </div>
     <div class="editor-field">
         @Html.Kendo().TextBoxFor(m => m.ItemName).HtmlAttributes(new { @readonly = "readonly", style = "width:100%" })
     </div>

    <div class="editor-label">
        <label asp-for="Qty"></label>
        <label class="label-required">*</label>
    </div>
    <div class="editor-field">
        @(Html.Kendo().NumericTextBoxFor(m => m.Qty)
            .Spinners(false)
            .Format("{0:N0}")
            .Events(e => e.Change("calculate_change"))
            .HtmlAttributes(new
            {
                style = "width:100%",
                maxlength = 12,
                required = "required",
                validationmessage = $"{Html.DisplayNameFor(m => m.Qty)} is required"
            }
        ))
    </div>

    <div class="editor-label">
        <label asp-for="UomId"></label>
    </div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(m => m.UomId)
            .DataTextField("Text")
            .DataValueField("Value")
            .OptionLabel("Select Uom..")
            .HtmlAttributes(new { style = "width:100%;", required = "required" })
            .Height(400)
            .Filter(FilterType.Contains)
            .DataSource(source => source
                .Custom()
                .Transport(transport => transport
                .Read(read =>
                {
                    read.Action("GetDDLUnit", "Dropdown", new { area = "Finance" });
                })))
        )
    </div> 
    
    <div class="editor-label">
        <label asp-for="UnitPrice"></label>
    </div>
    <div class="editor-field">
        @(Html.Kendo().NumericTextBoxFor(m => m.UnitPrice)
            .Spinners(false)
            .Format("{0:N2}")
            .Events(e => e.Change("calculate_change"))
            .HtmlAttributes(new
            {
                style = "width:100%",
                maxlength = 12,
                required = "required",
                validationmessage = $"{Html.DisplayNameFor(m => m.UnitPrice)} is required"
            }
        ))
    </div>

    <div class="editor-label">
        <label asp-for="Amount"></label>
    </div>
    <div class="editor-field">
        @(Html.Kendo().NumericTextBoxFor(m => m.Amount)
            .Spinners(false)
            .Format("{0:N2}")
            .HtmlAttributes(new
            {
                style = "width:100%",
                maxlength = 12,
                @readonly = "readonly"
            }
        ))
    </div>

     <div class="editor-label">
        <label asp-for="DiscountPercent"></label>
    </div>
    <div class="editor-field">
        @(Html.Kendo().NumericTextBoxFor(m => m.DiscountPercent)
            .Spinners(false)
            .Format("{0:N2}")
            .Events(e => e.Change("calculate_change"))
            .Max(100)
            .HtmlAttributes(new
            {
                style = "width:100%",
                maxlength = 12,
                required = "required",
                validationmessage = $"{Html.DisplayNameFor(m => m.DiscountPercent)} is required"
            }
        ))
    </div>

    <div class="editor-label">
        <label asp-for="DiscountAmount"></label>
    </div>
    <div class="editor-field">
        @(Html.Kendo().NumericTextBoxFor(m => m.DiscountAmount)
            .Spinners(false)
            .Format("{0:N2}")
            .Events(e => e.Change("calculateDiscounAmount_change"))
            .HtmlAttributes(new
            {
                style = "width:100%",
                maxlength = 12,
                required = "required",
                validationmessage = $"{Html.DisplayNameFor(m => m.DiscountAmount)} is required"
            }
        ))
    </div>
        
    <div class="editor-label">
        <label asp-for="AmountNet"></label>
    </div>
    <div class="editor-field">
        @(Html.Kendo().NumericTextBoxFor(m => m.AmountNet)
            .Spinners(false)
            .Format("{0:N2}")
            .HtmlAttributes(new
            {
                style = "width:100%",
                maxlength = 12,
                @readonly = "readonly"
            }
        ))
    </div>
</div>*@
