@{
    ViewData["Title"] = "Create HiringRequest";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
    var userSession = CodeMarvel.Infrastructure.Sessions.SessionManager.UserSession;
}
@section Panelhead{
    <span class="translate" data-args="create">Create</span>
}

@section Paneltools{
    <a data-target="#HiringRequestModalDetail" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>
}
@section Panelbody{

    <style>
        .m-margin__top-30 {
            margin-top: 25px !important;
        }
    </style>
    <form id="form-vendor" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" method="post">
        <span id="tmpmppDetail"></span>
        <input id="BusinessUnitId" name="BusinessUnitId" type="hidden">
        <input id="EmployeeId" name="EmployeeId" type="hidden">
        <input id="requester_employee_basic_info_id" name="requester_employee_basic_info_id" type="hidden">
        <input id="replacement_employee_basic_info_idr" name="replacement_employee_basic_info_id" type="hidden" />
        <input id="hiring_request_type_id" name="hiring_request_type_id" type="hidden">
        <input id="mpp_id" name="mpp_id" type="hidden">
        <input id="status" name="status" type="hidden" value="0">
        <input id="basic_info_grade_tittle" name="basic_info_grade_tittle" type="hidden">
        <div class="m-portlet__body">
            <div class="m-form__group">
                <div class="row">

                    <!-- Begin: Input Request Code-->
                    <div class="col-lg-3 m-form__group-sub">
                        <div class="form-group">
                            <label>Request Code :</label>
                            <input id="code" name="code" type="text" class="form-control form-control-sm m-input m--margin-bottom-30"
                                   placeholder="Enter Request Code" readonly>
                        </div>
                    </div>
                    <!-- End: Input Request Code-->
                    <!-- Begin: Input Requester -->
                    <div class="col-lg-3 m-form__group-sub">
                        <div class="form-group">
                            <label>Requester :</label>
                            <input id="requester" name="requester" type="text" class="form-control form-control-sm m-input m--margin-bottom-30"
                                   placeholder="Enter Requester " readonly>
                        </div>
                    </div>
                    <!-- End: Input Requester -->
                    <!-- Begin: Input Job Title -->
                    <div class="col-lg-3 m-form__group-sub">
                        <div class="form-group">
                            <label>Job Title :</label>
                            <input id="job_title" name="job_title" type="text" class="form-control form-control-sm m-input m--margin-bottom-30"
                                   placeholder="Enter Job Title " readonly>
                        </div>
                    </div>
                    <!-- End: Input Job Title -->
                    <!-- Begin: Input Division-->
                    <div class="col-lg-3 m-form__group-sub">
                        <div class="form-group">
                            <label class="">Division :</label>
                            <input type="text" id="division" name="division" class="form-control form-control-sm m-input m--margin-bottom-30"
                                   placeholder="Enter Division" readonly>
                        </div>
                    </div>
                    <!-- End: Input Division-->

                </div>
                <div class="row">

                    <!-- Begin: Select Job Title -->
                    <div class="col-lg-3 m-form__group-sub">
                        <div class="form-group">
                            <label>Select Job Title :</label>
                            <select id="select_job_title" name="select_job_title" class="form-control form-control-sm m-input m--margin-bottom-30"></select>
                        </div>
                    </div>
                    <!-- End: Select Job Title -->
                    <!-- begin:: Button Proccess -->
                    <div class="col-lg-2 m-form__group-sub">
                        <a href="#" class="btn btn-success btn-sm m-btn m-btn--icon m-margin__top-30" onclick="process()">
                            <span>
                                <i class="la la-send"></i>
                                <span>Proccess</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-3 m-form__group-sub" id="label_replacement" style="display:none">
                        <a href="#" class="btn btn-sm m-btn m-btn--icon m-margin__top-30">
                            <span><h5><input type="checkbox" id="checkbox_replacement" name="checkbox_replacement" value="replacement">&nbsp;Replacement ?</h5></span>
                        </a>
                    </div>
                    <div class="col-lg-12 m-form__group-sub m-margin__top-30" id="label_budgeted" style="display:none">
                        <div class="m-section__content">
                            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="m-demo__preview">
                                    <center><h3><span id="this_title_is">This Title is </span><B><span id="inner_label_budgeted">Budgeted</span></B></h3></center>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end:: Button Proccess -->

                </div>

                <hr>

                <div class="row" id="budgeted_div" style="display:none">
                    <input type="hidden" name="clearModaldetiltmp" id="clearModaldetiltmp" />
                    <div class="col-lg-12 m-form__group-sub">
                        <div class="form-group">
                            <label>
                                <h5>Select Budgeted Man Power</h5>
                            </label>
                            <div class="m-section__content">
                                <div class="m-demo" data-code-preview="true" data-code-html="true"
                                     data-code-js="false">
                                    <div class="m-demo__preview" id="employee_hiring">
                                        <!-- begin: Datatable -->
                                        <table class="table table-striped- table-bordered table-hover table-checkable"
                                               id="table_budeted">
                                            <thead>
                                                <tr>
                                                    <th>Job Title</th>
                                                    <th>Grade</th>
                                                    <th>TTF</th>
                                                    <th>Emmployement Status</th>
                                                    <th>Budget Source</th>
                                                    <th>MPP Budget</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <!-- end:: Datatable -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="replacement_div" style="display:none">
                    <div class="col-lg-12 m-form__group-sub">
                        <div class="form-group">
                            <label>
                                <h5>Select Replacement Man Power</h5>
                            </label>
                            <div class="m-section__content">
                                <div class="m-demo" data-code-preview="true" data-code-html="true"
                                     data-code-js="false">
                                    <div class="m-demo__preview" id="replacement_employee_hiring">
                                        <!-- begin: Datatable -->
                                        <table class="table table-striped- table-bordered table-hover table-checkable"
                                               id="table_replacement">
                                            <thead>
                                                <tr>
                                                    <th>Employee Name</th>
                                                    <th>Job Title</th>
                                                    <th>Grade</th>
                                                    <th>Emmployement Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <!-- end:: Datatable -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="unbudgeted_div" style="display:none">
                    <div class="col-lg-12 m-form__group-sub">
                        <div class="form-group">
                            <label>
                                <h5>Select UnBudgeted Man Power</h5>
                            </label>
                            <div class="m-section__content">
                                <div class="m-demo" data-code-preview="true" data-code-html="true"
                                     data-code-js="false">
                                    <div class="m-demo__preview" id="employee_hiring">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label><span class="translate" data-args="Unbugeted Job Title">Unbugeted Job Title</span> :</label>
                                                    <select id="job_title_unbudgeted" name="job_title_unbudgeted" class="md-input form-control form-control-sm m-input m-input--square"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <a class="btn btn-secondary" onclick="setDataUnbudeted()">CONTINUE REQUEST THIS JOB TITLE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <input type="hidden" id="template_approval_id" name="template_approval_id">
                    <div class="col-lg-12 m-form__group-sub">
                        <div class="form-group">
                            <label>
                                <h5>Approval</h5>
                            </label>
                            <div class="m-section__content">
                                <table class="table table-striped table-bordered table-hover table-checkable" id="HiringRequestListApprover">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Title</th>
                                            <th>Approver Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="no_data">
                                            <td colspan="3">No Data</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="m-form__group">

                <div class="m-form__group-sub">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="float-right">
                                <!-- Begin: Submit Button -->
                                <button type="submit" class="btn btn-success m-btn m-btn--icon">
                                    <span>
                                        <i class="la la-send"></i>
                                        <span>Submit</span>
                                    </span>
                                </button>
                                <!-- End: Submit Button -->
                                <!-- Begin: Save Button -->
                                <a href="#" class="btn btn-info m-btn m-btn--icon">
                                    <span>
                                        <i class="la la-save"></i>
                                        <span>Save</span>
                                    </span>
                                </a>
                                <!-- End: Save Button -->
                                <!-- Begin: Close Button -->
                                <a href="../../hris/HiringRequest" class="btn btn-danger m-btn m-btn--icon">
                                    <span>
                                        <i class="la la-close"></i>
                                        <span>Close</span>
                                    </span>
                                </a>
                                <!-- End: Close Button -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @Html.Partial("HiringRequest/Detail");
    @Html.Partial("HiringRequest/DetailUnbugeted");
    @Html.Partial("HiringRequest/DetailReplacement");
}
@section Panelscript{
    <script src="~/approval/gmApproval.js"></script>
    <script src="~/assets/js/Areas/Hris/Form/HiringRequest.create.js"></script>
}
