@{
    ViewBag.ModalTitle = "HiringRequest";
    ViewBag.ModalId = "HiringRequestModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="HiringRequestFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="approval_id">approval_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_approval_id" id="search_approval_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="basic_info_grade_tittle">basic_info_grade_tittle</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_basic_info_grade_tittle" id="search_basic_info_grade_tittle"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="candidate_qualification">candidate_qualification</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_candidate_qualification" id="search_candidate_qualification"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="code">code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_code" id="search_code"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="date_fulfilment">date_fulfilment</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_date_fulfilment" id="search_date_fulfilment"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_employee_basic_info_id" id="search_employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employment_status">employment_status</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_employment_status" id="search_employment_status"  maxlength="255" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="hiring_type">hiring_type</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_hiring_type" id="search_hiring_type"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="mpp_budged">mpp_budged</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_mpp_budged" id="search_mpp_budged"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="mpp_id">mpp_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_mpp_id" id="search_mpp_id"  maxlength="255" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="ttf">ttf</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_ttf" id="search_ttf"  maxlength="255" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnHiringRequest.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnHiringRequest.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>