@{
    ViewData["Title"] = "HiringRequest";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="HiringRequestFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="approval_id">approval_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="approval_id" id="approval_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="basic_info_grade_tittle">basic_info_grade_tittle</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="basic_info_grade_tittle" id="basic_info_grade_tittle"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="candidate_qualification">candidate_qualification</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="candidate_qualification" id="candidate_qualification"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="code">code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="code" id="code"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="date_fulfilment">date_fulfilment</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="date_fulfilment" id="date_fulfilment"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id" id="employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employment_status">employment_status</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employment_status" id="employment_status"  maxlength="255" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="hiring_type">hiring_type</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="hiring_type" id="hiring_type"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="mpp_budged">mpp_budged</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="mpp_budged" id="mpp_budged"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="mpp_id">mpp_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="mpp_id" id="mpp_id"  maxlength="255" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="ttf">ttf</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="ttf" id="ttf"  maxlength="255" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/HiringRequest" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/HiringRequest.update.js"></script>
}
