@{
    ViewData["Title"] = "EmployeeContract";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="EmployeeContractFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="active">active</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="active" id="active"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="candidate_recruitment_id">candidate_recruitment_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="candidate_recruitment_id" id="candidate_recruitment_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="contract_upload">contract_upload</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="contract_upload" id="contract_upload"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id" id="employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="end_date">end_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="end_date" id="end_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="notes">notes</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="notes" id="notes"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="start_date">start_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="start_date" id="start_date"   type="number">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/EmployeeContract" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/EmployeeContract.update.js"></script>
}
