﻿@{
    ViewData["Title"] = "Opening Balance";
}


<link rel="stylesheet" href="~/vendors/custom/slick-grid/css/smoothness/jquery-ui-1.11.3.custom.css" type="text/css" />
<link href="~/vendors/custom/slick-grid/css/examples.css" rel="stylesheet" />
<link href="~/vendors/custom/slick-grid/slick.grid.css" rel="stylesheet" />
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Opening Balance</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/ExcelTest/SlickGrid")" class="m-nav__link">
                        <span class="m-nav__link-text">Opening Balance</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div id="myGrid" style="width:600px;height:500px;"></div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendors/custom/slick-grid/lib/jquery-ui-1.11.3.min.js"></script>
    <script src="~/vendors/custom/slick-grid/lib/jquery.event.drag-2.3.0.js"></script>
    <script src="~/vendors/custom/slick-grid/slick.core.js"></script>

    <script src="~/vendors/custom/slick-grid/plugins/slick.cellrangedecorator.js"></script>
    <script src="~/vendors/custom/slick-grid/plugins/slick.cellrangeselector.js"></script>
    <script src="~/vendors/custom/slick-grid/plugins/slick.cellselectionmodel.js"></script>
    <script src="~/vendors/custom/slick-grid/slick.formatters.js"></script>

    <script src="~/vendors/custom/slick-grid/slick.editors.js"></script>
    <script src="~/vendors/custom/slick-grid/slick.grid.js"></script>



    <script>
        (function ($) {
            'use strict';

            var pageFunction = function () {



                function requiredFieldValidator(value) {
                    if (value == null || value == undefined || !value.length) {
                        return { valid: false, msg: "This is a required field" };
                    } else {
                        return { valid: true, msg: null };
                    }
                }

                var grid;
                var data = [];
                var columns = [
                    { id: "title", name: "Title", field: "title", width: 120, cssClass: "cell-title", editor: Slick.Editors.Text, validator: requiredFieldValidator },
                    { id: "desc", name: "Description", field: "description", width: 100, editor: Slick.Editors.LongText },
                    { id: "duration", name: "Duration", field: "duration", editor: Slick.Editors.Text },
                    { id: "%", name: "% Complete", field: "percentComplete", width: 80, resizable: false, formatter: Slick.Formatters.PercentCompleteBar, editor: Slick.Editors.PercentComplete },
                    { id: "start", name: "Start", field: "start", minWidth: 60, editor: Slick.Editors.Date },
                    { id: "finish", name: "Finish", field: "finish", minWidth: 60, editor: Slick.Editors.Date },
                    { id: "effort-driven", name: "Effort Driven", width: 80, minWidth: 20, maxWidth: 80, cssClass: "cell-effort-driven", field: "effortDriven", formatter: Slick.Formatters.Checkmark, editor: Slick.Editors.Checkbox }
                ];
                var options = {
                    editable: true,
                    enableAddRow: true,
                    enableCellNavigation: true,
                    asyncEditorLoading: false,
                    autoEdit: false
                };

                var loadData = function () {

                    for (var i = 0; i < 500; i++) {
                        var d = (data[i] = {});

                        d["title"] = "Task " + i;
                        d["description"] = "This is a sample task description.\n  It can be multiline";
                        d["duration"] = "5 days";
                        d["percentComplete"] = Math.round(Math.random() * 100);
                        d["start"] = "01/01/2009";
                        d["finish"] = "01/05/2009";
                        d["effortDriven"] = (i % 5 == 0);
                    }

                    grid = new Slick.Grid("#myGrid", data, columns, options);

                    grid.setSelectionModel(new Slick.CellSelectionModel());

                    grid.onAddNewRow.subscribe(function (e, args) {
                        var item = args.item;
                        grid.invalidateRow(data.length);
                        data.push(item);
                        grid.updateRowCount();
                        grid.render();
                    });

                }

                return {
                    init: function () {
                        //initialize
                        loadData();
                    }
                };
            }();



            $(document).ready(function () {
                pageFunction.init();
            });
        }(jQuery));


    </script>
}


