﻿@model PhoenixERPWebApp.Models.Finance.CashAdvance
@{
	bool disableCombo = Model.IsProjectCost.HasValue ? (Model.IsProjectCost.Value) : false;
	object htmlAttributes = new { style = "width: 100%" };

	if (disableCombo)
	{
		htmlAttributes = new { style = "width: 100%", @readonly = "readonly" };
	}
}
<div class="row">
	<div class="col-lg-12 m-row--no-padding">
		<label><h5></h5></label>
		<div class="m-section__content">
			<div class="m-demo">
				<div class="m-demo__preview">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-xs-12 m-form__group-sub">
                            <div class="form-group">
                                <label>Job ID-Name</label> :
                                @(Html.Kendo().ComboBoxFor(x => x.JobId)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                //.Enable(!disableCombo)
                                                .Placeholder($"Choose a {Html.DisplayNameFor(m => m.JobId)}")
                                                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
                                                .Filter(FilterType.Contains)
                                                .DataSource(source => source
                                                    .Custom()
                                                    .Transport(transport => transport
                                                    .Read(read =>
                                                    {
                                                        read.Action("GetDDLJobNotExistsInPCAandJobId", "Dropdown", new { area = "Finance" }).Data("job_params");
                                                    }))
                                                    .ServerFiltering(true)
                                                ))
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="ClientName"></label> :
                                @(Html.Kendo().ComboBoxFor(x => x.ClientName)
                                                                            .DataTextField("Text")
                                                                            .DataValueField("Value")
                                                                            .Filter(FilterType.Contains)
                                                                            .Suggest(true)
                                                                            .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
                                                                            .Placeholder($"Choose a {Html.DisplayNameFor(m => m.ClientName)}")
                                                                            .DataSource(source => source
                                                                                .Custom()
                                                                                .Transport(transport => transport
                                                                                .Read(read =>
                                                                                {
                                                                                    read.Action("GetDDLClientInv", "Dropdown", new { area = "Finance" });
                                                                                }))
                                                                                .ServerFiltering(true)
                                                                            )
                                )
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-xs-12 m-form__group-sub">
                            <div class="form-group">
                                <label>Client Brand</label> :
                                @(Html.Kendo().ComboBoxFor(x => x.ClientBrandId)
                                                                        .DataTextField("Text")
                                                                        .DataValueField("Value")
                                                                        //.Enable(!disableCombo)
                                                                        .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
                                                                        .Filter(FilterType.Contains)
                                                                        .Placeholder($"Choose a {Html.DisplayNameFor(m => m.ClientBrandId)}")
                                                                        .DataSource(source => source
                                                                            .Custom()
                                                                            .Transport(transport => transport
                                                                            .Read(read =>
                                                                            {
                                                                                read.Action("GetDDLBrand", "Dropdown", new { area = "finance" });
                                                                            }))
                                                                            .ServerFiltering(true)
                                                                        ))
                            </div>
                        </div>



                    </div>

                    <div class="row">
                        
                        <div class="col-lg-4 col-sm-6 col-xs-12 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="LegalEntityId"></label> :
                                @(Html.Kendo().ComboBoxFor(x => x.LegalEntityId)
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .Placeholder($"Choose a {Html.DisplayNameFor(m => m.LegalEntityId)}")
                                                            .HtmlAttributes(htmlAttributes)
                                                            .Filter(FilterType.Contains)
                                                            .DataSource(source => source
                                                                .Custom()
                                                                .Transport(transport => transport
                                                                .Read(read =>
                                                                {
                                                                    read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
                                                                }))
                                                                .ServerFiltering(true)
                                                            ))
                            </div>
                        </div>

                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="ProjectActivity"></label> :
                                @(Html.Kendo().ComboBoxFor(x => x.ProjectActivity)
                                                                    .DataTextField("Text")
                                                                    .DataValueField("Value")
                                                                    //.Enable(!disableCombo)
                                                                    .Placeholder($"Choose a {Html.DisplayNameFor(m => m.ProjectActivity)}")
                                                                    .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
                                                                    .Filter(FilterType.Contains)
                                                                    .DataSource(source => source
                                                                        .Custom()
                                                                        .Transport(transport => transport
                                                                        .Read(read =>
                                                                        {
                                                                            read.Action("GetDDLMainserviceCategory", "Dropdown", new { area = "Pm" });
                                                                        }))
                                                                        .ServerFiltering(true)
                                                                    ))
                            </div>
                        </div>

                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="BusinessUnitId"></label> :
                                @(Html.Kendo().ComboBoxFor(x => x.BusinessUnitId)
                                                                    .DataTextField("Text")
                                                                    .DataValueField("Value")
                                                                    //.Enable(!disableCombo)
                                                                    .Placeholder($"Choose a {Html.DisplayNameFor(m => m.BusinessUnitId)}")
                                                                    .HtmlAttributes(htmlAttributes)
                                                                    .Filter(FilterType.Contains)
                                                                    .DataSource(source => source
                                                                        .Custom()
                                                                        .Transport(transport => transport
                                                                        .Read(read =>
                                                                        {
                                                                            read.Action("GetDivisionFinance", "Dropdown", new { area = "Finance" });
                                                                        }))
                                                                        .ServerFiltering(true)
                                                                    ))
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="JobNumber"></label> :
                                @(Html.Kendo().TextBoxFor(m => m.JobNumber)
                                                                    //.Enable(!disableCombo)
                                                                    .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" }))
                            </div>
                        </div>

                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="PurchaseOrderNumber"></label> :
                                @(Html.Kendo().TextBoxFor(m => m.PurchaseOrderNumber)
                                                                    //.Enable(!disableCombo)
                                                                    .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" }))
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-xs-12 m-form__group-sub">
                            <div class="form-group">
                                <label>PCE Type</label> :
                                @(Html.Kendo().ComboBoxFor(X => X.PCETypeId)
                                                                                .DataTextField("Text")
                                                                                .DataValueField("Value")
                                                                                //.Enable(!disableCombo)
                                                                                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
                                                                                .Filter(FilterType.Contains)
                                                                                .Placeholder($"Choose a {Html.DisplayNameFor(m => m.PCETypeId)}")
                                                                                .DataSource(source => source
                                                                                    .Custom()
                                                                                    .Transport(transport => transport
                                                                                    .Read(read =>
                                                                                    {
                                                                                        read.Action("GetDDLTypeOfExpense", "Dropdown", new { area = "Pm" });
                                                                                    }))
                                                                                    .ServerFiltering(true)
                                                                                ))
                            </div>
                        </div>

                        
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-xs-12 m-form__group-sub">
                            <div class="form-group">
                                <label>Share Service :</label>
                                @(Html.Kendo().ComboBoxFor(X => X.ShareservicesId)
                                                                                        .DataTextField("Text")
                                                                                        .DataValueField("Value")
                                                                                        //.Enable(!disableCombo)
                                                                                        .Placeholder($"Choose a {Html.DisplayNameFor(m => m.ShareservicesId)}")
                                                                                        .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
                                                                                        .Filter(FilterType.Contains)
                                                                                        .DataSource(source => source
                                                                                            .Custom()
                                                                                            .Transport(transport => transport
                                                                                            .Read(read =>
                                                                                            {
                                                                                                read.Action("GetAllDDLShareservices", "Dropdown", new { area = "finance" });
                                                                                            }))
                                                                                            .ServerFiltering(true)
                                                                                        ))
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	   function job_params() {
        return {
            status: "@Model.Status",
            jobId : "@Model.JobId"
        };
    }
</script>
