﻿@model PhoenixERPWebApp.Models.Finance.CashAdvanceSattlement

<div class="row" id="request_data_detail" style="display:block">
    <div class="col-lg-12 m-row--no-padding">
        <div class="m-accordion m-accordion--bordered m-accordion--solid" id="request_detail" role="tablist">
            <!--begin::Item-->
            <div class="m-accordion__item">
                <div class="m-accordion__item-head" role="tab" id="request_detail_head" data-toggle="collapse" href="#request_detail_body" aria-expanded="true">
                    <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                    <span class="m-accordion__item-title">Request Detail</span>
                    <span class="m-accordion__item-mode"></span>
                </div>
                <div class="m-accordion__item-body show" id="request_detail_body" role="tabpanel" aria-labelledby="request_detail_head" data-parent="#request_detail" style="">
                    <div class="m-accordion__item-content">
                        <div class="row">

                            <div class="col-lg-6 col-sm-6 col-xs-12 m-form__group-sub">
                                <div class="form-group">
                                    <label asp-for="CaNumber"></label> :
                                    @(Html.Kendo().TextBoxFor(m => m.CaNumber)
                                            .HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                @readonly = "readonly",
                                                @class = "form-control",
                                            }))
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12 m-form__group-sub">
                                <div class="form-group">
                                    <label asp-for="CaDate"></label> :
                                    @(Html.Kendo().TextBoxFor(m => m.CaDate)
                                    .HtmlAttributes(new
                                    {
                                        style = "width:100%",
                                        @readonly = "readonly",
                                        @class = "form-control",
                                    }))
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-lg-6 col-sm-6 col-xs-12 m-form__group-sub">
                                <div class="form-group">
                                    <label asp-for="RequestedOn"></label> :
                                    @(Html.Kendo().DatePickerFor(m => m.RequestedOn)
                                            .Format("dd MMM yyyy")
                                            .HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                @readonly = "readonly",
                                                @class = "form-control form-control-sm m-input",
                                            })
                                    )
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12 m-form__group-sub">
                                <div class="form-group">
                                    <label>Requester</label> :
                                    @(Html.Kendo().TextBoxFor(m => m.RequestEmployeeName)
                                    .HtmlAttributes(new
                                    {
                                        style = "width:100%",
                                        @readonly = "readonly",
                                        @class = "form-control form-control-sm m-input",
                                    }))
                                    <input type="hidden" asp-for="RequestEmployeeId" />
                                </div>
                            </div>


                        </div>
                        <div class="row">


                            <div class="col-lg-6 col-sm-6 col-xs-12 m-form__group-sub">
                                <div class="form-group">
                                    <label>Job Title</label> :
                                    @(Html.Kendo().TextBoxFor(m => m.RequestJobTitleName)
                                                            .HtmlAttributes(new
                                                            {
                                                                style = "width:100%",
                                                                @readonly = "readonly",
                                                                @class = "form-control form-control-sm m-input",
                                                            }))
                                    <input type="hidden" asp-for="RequestJobTitleId" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12 m-form__group-sub">
                                <div class="form-group">
                                    <label>Grade</label> :
                                    @(Html.Kendo().TextBoxFor(m => m.RequestJobGradeName)
                                                                .HtmlAttributes(new
                                                                {
                                                                    style = "width:100%",
                                                                    @readonly = "readonly",
                                                                    @class = "form-control form-control-sm m-input",
                                                                }))
                                    <input type="hidden" asp-for="RequestJobGradeId" />
                                    <input type="hidden" asp-for="RequestEmployeeId" value="@ViewBag.EmployeeIdx" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>