@{
    ViewData["Title"] = "HiringRequestDetailBudgeted";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="HiringRequestDetailBudgetedFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="employment_status">employment_status</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employment_status" id="employment_status"  maxlength="255" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="mpp_budged_id">mpp_budged_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="mpp_budged_id" id="mpp_budged_id"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="ttf">ttf</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="ttf" id="ttf"  maxlength="255" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/HiringRequestDetailBudgeted" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/HiringRequestDetailBudgeted.create.js"></script>
}
