@{
    ViewBag.ModalTitle = "Reimburse";
    ViewBag.ModalId = "ReimburseModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="ReimburseFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="amount">amount</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_amount" id="search_amount"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_employee_basic_info_id" id="search_employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="receipt">receipt</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_receipt" id="search_receipt"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="reimburse_date">reimburse_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_reimburse_date" id="search_reimburse_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="reimburse_description">reimburse_description</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_reimburse_description" id="search_reimburse_description"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="type_reimburse">type_reimburse</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_type_reimburse" id="search_type_reimburse"  maxlength="50" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnReimburse.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnReimburse.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>