@{
    ViewData["Title"] = "Reimburse";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="ReimburseFormUpdate" method="post">
    <div class="row ">
        <div class="col-lg-12"><input value="@ViewBag.RecordID" type="hidden" name="id" />

            <div class="form-group">
                <label><span class="translate" data-args="amount">amount</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="amount" id="amount"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="employee_basic_info_id">employee_basic_info_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="employee_basic_info_id" id="employee_basic_info_id"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="receipt">receipt</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="receipt" id="receipt"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="reimburse_date">reimburse_date</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="reimburse_date" id="reimburse_date"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="reimburse_description">reimburse_description</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="reimburse_description" id="reimburse_description"  maxlength="2147483647" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="type_reimburse">type_reimburse</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="type_reimburse" id="type_reimburse"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/Reimburse" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/Reimburse.update.js"></script>
}
