@{
    ViewData["Title"] = "Training Bonding";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Training Bonding</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Training</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="TrainingBonding" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Training Bonding</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                @*<button id="btn-delete" type="button" class="m-btn btn btn-danger btn-sm m-btn--sm" title="Delete Selection"><i class="la la-trash"></i></button>*@
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.TrainingBonding>()
                                .Name("grid")
                                .Columns(columns =>
                                {
                                   
                                    columns.Bound("").ClientTemplate("#= LinktoInv(data) #").Title("Code").HtmlAttributes(new { style = "text-align:center;" }).Width(150);
                                    columns.Bound(p => p.EmployeeBasicInfoName).Title("Bonding Employee").HtmlAttributes(new { style = "text-align:center;" }).Width(150);
                                    columns.Bound(p => p.BusinessUnitName).Title("Division").HtmlAttributes(new { style = "text-align:center;" }).Width(150);
                                    //columns.Bound(p => p.TrainingName).HtmlAttributes(new { style = "text-align:center;" }).Width(150);
                                    columns.Bound(p => p.TrainingType).HtmlAttributes(new { style = "text-align:center;" }).Width(150);
                                    columns.Bound("").ClientTemplate("#= GetStatusButton(data) #").Title("Status").Width(200);
                                })
                                .NoRecords()
                                .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(5))
                                .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                //.Scrollable(s => s.Enabled(true).Height("auto"))
                                .Resizable(rsz => rsz.Columns(true))
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(10)
                                    .Events(events => events.Error("errorHandler"))
                                    .Model(model => { model.Id(p => p.Id); })
                                    .Read(read => read.Action("Read", "TrainingBonding"))
                                )
                                .Events(e => e.DataBound("dataBoundEvent"))
                    )
                </div>
            </div>
        </div>
    </div>
</div>
<script id="btnAction-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'><span style='color:green'><i class='fa fa-edit'></i></span></a>
    <a href='javascript: void(0);' onclick='deleteGridRow(this)' title='Delete' class='delete'><span style='color:maroon'><i class='fa fa-trash-alt'></i></span></a>
</script>
<script>
     function GetStatusButton(data) {
        var button = "";
         if (data.Status == @PhoenixERPWebApp.Models.Enum.TrainingStatus.Open) {
             button = "<center><a href='javascript: void(0);' class='m-badge m-badge--info m-badge--wide'>@PhoenixERPWebApp.Models.Enum.TrainingStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.TrainingStatus.Open)</a></center>";
         } else if (data.Status == @PhoenixERPWebApp.Models.Enum.TrainingStatus.WaitingBondingApproval) {
             button = "<center><a href='javascript: void(0);' class='m-badge m-badge--warning m-badge--wide'>@PhoenixERPWebApp.Models.Enum.TrainingStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.TrainingStatus.WaitingBondingApproval)</a></center>";
         } else if (data.Status == @PhoenixERPWebApp.Models.Enum.TrainingStatus.WaitingApproval) {
             button = "<center><a href='javascript: void(0);' class='m-badge m-badge--warning m-badge--wide'>@PhoenixERPWebApp.Models.Enum.TrainingStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.TrainingStatus.WaitingApproval)</a></center>";
         } else if (data.Status == @PhoenixERPWebApp.Models.Enum.TrainingStatus.Approved) {
             button = "<center><a href='javascript: void(0);' class='m-badge m-badge--success m-badge--wide'>@PhoenixERPWebApp.Models.Enum.TrainingStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.TrainingStatus.Approved)</a></center>";
         } else if (data.Status == @PhoenixERPWebApp.Models.Enum.TrainingStatus.Reject) {
             button = "<center><a href='javascript: void(0);' class='m-badge m-badge--danger m-badge--wide'>@PhoenixERPWebApp.Models.Enum.TrainingStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.TrainingStatus.Reject)</a></center>";
         } else if (data.Status == @PhoenixERPWebApp.Models.Enum.TrainingStatus.Training) {
             button = "<center><a href='javascript: void(0);' class='m-badge m-badge--dark m-badge--wide'>@PhoenixERPWebApp.Models.Enum.TrainingStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.TrainingStatus.Training)</a></center>";
         } else if (data.Status == @PhoenixERPWebApp.Models.Enum.TrainingStatus.SharingSeassion) {
             button = "<center><a href='javascript: void(0);' class='m-badge m-badge--info m-badge--wide'>@PhoenixERPWebApp.Models.Enum.TrainingStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.TrainingStatus.SharingSeassion)</a></center>";
         } else {
 button = "<center><a href='javascript: void(0);' class='m-badge m-badge--info m-badge--wide'>@PhoenixERPWebApp.Models.Enum.TrainingStatus.GetStatus(@PhoenixERPWebApp.Models.Enum.TrainingStatus.Open)</a></center>";
         }
        return button;
    }
    function editGridRow(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("Detail", "TrainingBonding")?Id=' + item.Id;
    }

    function deleteGridRow(e) {
        deleteRow(e, '@Url.Action("Delete", "TrainingBonding")');
    }
   function ApproveGridRow(e) {
        var item = dataItem(e);
        window.location.href = '@Url.Action("Detail", "TrainingBonding")?Id=' + item.Id + '&isApprove=true';
    }
    function LinktoInv(data) {

        return "<center><a href='javascript: void(0);' onclick='ApproveGridRow(this)' title='Edit' class='edit'>" + data.Code + "</a></center>";
    }
</script>