﻿@model PhoenixERPWebApp.Models.DashboardSearch
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon fa fa-cog fa-fw"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">HRIS</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="index" asp-controller="documentmanagement" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Document Management</span></a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="dashboard" asp-controller="legaldocument" asp-area="hrisnew" class="m-nav__link"><span class="m-nav__link-text">Dashboard</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <h3 class="m-portlet__head-text m--font-success">Dashboard</h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="btn-group" role="group">
                            <div class="col-lg-12">
                                <form id="form-search-dt_basic_eui">
                                    <div class="input-group input-group-sm">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 48px;"></div>                            <div class="tooltip-inner">Fullscreen</div>                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <div class="row">                                               
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label>Counterpart Category</label> :<br />
                                @(Html.Kendo().RadioButton().Name("Category1").Value(PhoenixERPWebApp.Models.CategoryLegalDoc.Employee).Checked(true).HtmlAttributes(new { @name = "Category" }).Label(PhoenixERPWebApp.Models.CategoryLegalDoc.Employee))&nbsp;&nbsp;
                                @(Html.Kendo().RadioButton().Name("Category2").Value(PhoenixERPWebApp.Models.CategoryLegalDoc.Client).HtmlAttributes(new { @name = "Category" }).Label(PhoenixERPWebApp.Models.CategoryLegalDoc.Client))&nbsp;&nbsp;
                                @(Html.Kendo().RadioButton().Name("Category3").Value(PhoenixERPWebApp.Models.CategoryLegalDoc.Vendor).HtmlAttributes(new { @name = "Category" }).Label(PhoenixERPWebApp.Models.CategoryLegalDoc.Vendor))
                            </div>
                        </div>
                        <div class="col-lg-4 m-form__group-sub" id="divLocation">
                            <div class="form-group">
                                <label asp-for="LocationId"></label>  :
                                @(Html.Kendo().DropDownListFor(x => x.LocationId)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.LocationId)}")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Custom()
                                        .Transport(transport => transport
                                        .Read(read =>
                                        {
                                            read.Action("GetDDLLocations", "Dropdown", new { area = "hrisnew" });
                                        }))
                                        .ServerFiltering(false)
                                    )
                                )
                            </div>
                        </div>
                         
                        <div class="col-lg-4 m-form__group-sub" id="divDivision">
                            <div class="form-group">
                                <label asp-for="DivisionId"></label>  :
                                @(Html.Kendo().DropDownListFor(x => x.DivisionId)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.DivisionId)}")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Custom()
                                        .Transport(transport => transport
                                        .Read(read =>
                                        {
                                            read.Action("GetDivision", "Dropdown", new { area = "hrisnew" });
                                        }))
                                        .ServerFiltering(false)
                                    )
                                )
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="LegalCategoryId"></label>  :
                                @(Html.Kendo().DropDownListFor(x => x.LegalCategoryId)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.LegalCategoryId)}")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Custom()
                                        .Transport(transport => transport
                                        .Read(read =>
                                        {
                                            read.Action("GetDDLLegalCategory", "Dropdown", new { area = "hrisnew" });
                                        }))
                                        .ServerFiltering(false)
                                    )
                                )
                            </div>
                        </div>
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="ExpiredDate"></label>  :
                                @(Html.Kendo().DatePickerFor(m=>m.ExpiredDate)
                                        .Format("dd MMMM yyyy")
                                        .HtmlAttributes(new {
                                            style = "width: 100%",
                                            //onkeydown = "javascript:return false;",
                                            placeholder = $"Input type a {Html.DisplayNameFor(m => m.ExpiredDate)}"
  
                                        })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-lg-4 m-form__group-sub">
                            <div class="form-group">
                                <label asp-for="CounterpartId"></label> :
                                @(Html.Kendo().DropDownListFor(x => x.CounterpartId)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel($"Choose a {Html.DisplayNameFor(m => m.CounterpartId)}")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Custom()
                                        .Transport(transport => transport
                                        .Read(read =>
                                        {
                                            read.Action("GetDDLEmployeeLegalDoc", "Dropdown", new { area = "hrisnew" }).Data("employee_params");
                                        }))
                                            .ServerFiltering(true)
                                        ).CascadeFrom("LegalCategoryId")
                                    )
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <button type="button" id="btnRetrieve" class="btn btn-primary">Retrieve</button>
                                <button type="button" id="btnReset" class="btn btn-warning">Reset</button>
                                <a asp-action="index" asp-controller="documentmanagement" asp-area="hrisnew" class="fakelink btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </div>
                    <hr/>
                        @(Html.Kendo().Grid<PhoenixERPWebApp.Models.LegalDocument>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound("").Title("#").Width(35).Filterable(false).HtmlAttributes(new { style = "text-align:center;", @class = "row-number" }).HeaderHtmlAttributes(new { style = "text-align:center;" });
                                columns.Bound(p => p.LegalCategoryName).Width(200);
                                columns.Bound(p => p.LegalDocumentCounterpart.CounterpartName).Width(200);
                                columns.Bound(p => p.Category).Title("Counterpart Cat.").Width(200);
                                columns.Bound(p => p.ExpiredDate).Title("Expiration").Width(200);
                                columns.Bound(p => p.DivisionName).Width(200);
                                //columns.Bound(p => p.LocationName).Width(200);
                                columns.Bound(p => p.Label).Title("Document Name / Label").Width(200);
                                columns.Bound(p => p.FileUploadName).ClientTemplateId("download-template").Width(200);
                                //columns.Bound(p => p.DocumentDate).Width(200);
                            })
                            .NoRecords()
                            .Pageable(pageable => pageable
                                .Refresh(true)
                                .PageSizes(true)
                                .ButtonCount(5))
                            .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                            .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                .Extra(false)
                                .Operators(operators => operators
                                .ForString(str => str.Clear()
                                    .Contains("Contains")
                                    .StartsWith("Start sWith")
                                    .EndsWith("End sWith")
                                )))
                            .Scrollable(s => s.Enabled(true).Height("auto"))
                            .Resizable(rsz => rsz.Columns(true))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(10)
                                .Events(events => events.Error("errorHandler"))
                                .Model(model => { model.Id(p => p.Id); })
                                .Read(read => read.Action("ReadDashboard", "LegalDocument").Data("grid_params"))
                            )
                            .Events(e => e.DataBound("dashboard_DataBoundEvent"))
                        )
                </div>
            </div>
        </div>
    </div>
</div>
@*<style>
    .ten-day-before-expired {
        background-color: yellow !important;
    }
    .expired {
        background-color: red !important;
        color: white !important;
    }
</style>*@
<script id="download-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='downloadGidRow(this)' style="text-decoration:underline;color:blue;">#=FileUploadName#</a>
</script>
<script>
    function dashboard_DataBoundEvent(e) {
        var rows = e.sender.tbody.children();
        for (var j = 0; j < rows.length; j++) {
            var row = $(rows[j]);
            var dataItem = e.sender.dataItem(row);
            var expiredDate = dataItem.ExpiredDate;
            var now = new Date();
            var beforeExpired = new Date();

            now.setHours(0, 0, 0, 0);
            beforeExpired.setDate(beforeExpired.getDate() + 10);
            beforeExpired.setHours(0, 0, 0, 0);
            
            //Cell
            if (expiredDate >= now && expiredDate <= beforeExpired) {
                $(row.find("td[role=gridcell]")[4]).css("background", "yellow");
            } else if (expiredDate < now) {
                $(row.find("td[role=gridcell]")[4]).css("background", "red");
                $(row.find("td[role=gridcell]")[4]).css("color", "white");
            }

            //row.addClass("expired");
            //row.addClass("ten-day-before-expired");
        }
        
        var rowLabel = $(this).find(".row-number");
        if (rowLabel !== undefined) {
            $(rows).each(function () {
                var index = $(this).index() + 1 + (e.sender.dataSource.pageSize() * (e.sender.dataSource.page() - 1));
                var rowLabel = $(this).find(".row-number");
                $(rowLabel).html(index);
            });
        }
    }

    function grid_params() {
        return {
            Category: $("input[name='Category']:checked").val(),
            CounterpartId: $("#CounterpartId").data("kendoDropDownList").value(),
            LegalCategoryId: $("#LegalCategoryId").data("kendoDropDownList").value(),
            LocationId: $("#LocationId").data("kendoDropDownList").value(),
            DivisionId: $("#DivisionId").data("kendoDropDownList").value(),
            ExpiredDate: $("#ExpiredDate").data("kendoDatePicker").value()
        }
    };

    function employee_params() {
        return {
            category: $("input[name='Category']:checked").val(),
            legalCategoryId: $("#LegalCategoryId").val()
        };
    }

    $(document).on("change", "input[type='radio']", function () {
        var category = $(this).val();
        var grid = $("#grid").data("kendoGrid");
        if (category != '@PhoenixERPWebApp.Models.CategoryLegalDoc.Employee') {
            grid.hideColumn("LocationName");
            $("#divLocation").css("display", "none");
            $("#divDivision").css("display", "none");
            $("#LocationId").data("kendoDropDownList").value("-1");
            $("#DivisionId").data("kendoDropDownList").value("-1");
        } else {
            grid.showColumn("LocationName");
            $("#divLocation").css("display", "block");
            $("#divDivision").css("display", "block");            
        }
        $("#CounterpartId").data("kendoDropDownList").dataSource.read();
    });

    $('#btnRetrieve').click(function () {
        $("#grid").data('kendoGrid').dataSource.read();
    });
    
    function downloadGidRow(e) {
        var item = dataItem(e);
        downloadAction({ url: '@Url.RouteUrl(new { action = "download", controller = "Download" })', data: { id: item.FileUpload }});
    }

    $("#btnReset").click(function () {
        $('input[name=Category][value=Employee]').prop('checked', 'checked');
        $("#CounterpartId").data("kendoDropDownList").dataSource.read();
        $("#LegalCategoryId").data("kendoDropDownList").dataSource.read();
        $("#grid").data('kendoGrid').dataSource.read();
    });
</script>