@{
    ViewBag.ModalTitle = "Subgroup";
    ViewBag.ModalId = "SubgroupModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="SubgroupFormSearch" method="post">
    <input name="Search_business_unit_level" id="Search_business_unit_level" type="hidden" value="900">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label><span class="translate" data-args="group_id">group_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_group_id" id="search_group_id" maxlength="100" type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="subgroup_code">subgroup_code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_subgroup_code" id="search_subgroup_code" maxlength="50" type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="subgroup_name">subgroup_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_subgroup_name" id="search_subgroup_name" maxlength="100" type="text">
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnSubgroup.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnSubgroup.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>