@{
    ViewData["Title"] = "JobGrade";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="JobGradeFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">
            <div class="form-group">
                <label><span class="translate" data-args="grade_name">grade_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="grade_name" id="grade_name"  maxlength="100" type="text">
            </div>
       
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/JobGrade" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/JobGrade.create.js"></script>
}
