@{
    ViewBag.ModalTitle = "JobGrade";
    ViewBag.ModalId = "JobGradeModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="JobGradeFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="grade_code">grade_code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="Search_grade_code" id="search_grade_code"  maxlength="50" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="grade_name">grade_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="Search_grade_name" id="search_grade_name"  maxlength="100" type="text">
            </div>
            
         
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnJobGrade.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnJobGrade.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>