@{
    ViewBag.ModalTitle = "Province";
    ViewBag.ModalId = "ProvinceModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="ProvinceFormSearch" method="post">
 
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="code">code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_code" id="search_code"   type="number">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="province">province</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_province" id="search_province"  maxlength="100" type="text">
            </div>
                    
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnProvince.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnProvince.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>