﻿@{
    ViewData["Title"] = "Multiple PCE to Invoice";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<link href="~/bundles/css/datatable.min.css?@DateTime.Now" rel="stylesheet" />
<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Multiple PCE to Invoice</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Multiple PCE to Invoice</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div>
                                <a href="@Url.Content("~/Finance/InvoiceClientMultiPce/Detail?multipceid=")" class="m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">

                        <ul class="m-portlet__nav">
                            @*<li class="m-portlet__nav-item">
                                @(Html.Kendo().DropDownList()
                                                    .Name("division")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .Events(e => e.Change("OnChange"))
                                                    .OptionLabel("All")
                                                    .DataSource(source => source
                                                        .Custom()
                                                        .Transport(transport => transport
                                                        .Read(read =>
                                                        {
                                                            read.Action("GetDivision", "Dropdown", new { area = "Finance" });
                                                        }))
                                                        .ServerFiltering(false)
                                                    ))

                            </li>
                            <li class="m-portlet__nav-item">
                                @(Html.Kendo().DropDownList()
                                                    .Name("legalentity")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .Events(e => e.Change("OnChange"))
                                                    .OptionLabel("All")
                                                    .DataSource(source => source
                                                        .Custom()
                                                        .Transport(transport => transport
                                                        .Read(read =>
                                                        {
                                                            read.Action("GetLegalEntity", "Dropdown", new { area = "Finance" });
                                                        }))
                                                        .ServerFiltering(false)
                                                    ))

                            </li>
                            <li class="m-portlet__nav-item">
                                @(Html.Kendo().DropDownList()
                                                    .Name("mainservicecategory")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .Events(e => e.Change("OnChange"))
                                                    .OptionLabel("All")
                                                    .DataSource(source => source
                                                        .Custom()
                                                        .Transport(transport => transport
                                                        .Read(read =>
                                                        {
                                                            read.Action("GetDDLMainServiceCategory", "Dropdown", new { area = "Finance" });
                                                        }))
                                                        .ServerFiltering(false)
                                                    ))

                            </li>*@
                            <li class="m-portlet__nav-item">
                                @*@(Html.Kendo().DropDownList()
                                                    .Name("status")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .Events(e => e.Change("OnChange"))
                                                    .OptionLabel("All Status")
                                                    .DataSource(source => source
                                                        .Custom()
                                                        .Transport(transport => transport
                                                        .Read(read =>
                                                        {
                                                            read.Action("GetInvoiceClientStatus", "Dropdown", new { area = "Finance" });
                                                        }))
                                                        .ServerFiltering(false)
                                                    ))*@

                                <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_d4ny9s36oh"><i class="la la-expand"></i></a>
                                <div class="m-tooltip m-tooltip--portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_d4ny9s36oh" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(372px, -33px, 0px);">
                                    <div class="tooltip-arrow arrow" style="left: 48px;"></div>
                                    <div class="tooltip-inner">Fullscreen</div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" id="m_blockui_list">
                    <!--begin: Selected Rows Group Action Form -->

                    @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.InvoiceClient>()
                                    .Name("grid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p=>p.MultiPceId).ClientTemplateId("invno-template").Title("Invoice No").Width(150);
                                        columns.Bound(p => p.InvoiceDate).ClientTemplateId("invdate-template").Title("Date").Width(140);
                                        columns.Bound(p => p.PceId).Width(160).HeaderHtmlAttributes(new { @style = "white-space: normal" });
                                        columns.Bound(p => p.JobId).Width(160).ClientTemplateId("jobid-template").HeaderHtmlAttributes(new { @style = "white-space: normal" }).Title("Job ID-Name");
                                        columns.Bound(p => p.ClientName).Format("{0:n0}").Width(180).HtmlAttributes(new { @style = "text-align:right" });
                                        columns.Bound(p => p.StatusName).Title("Status").ClientTemplateId("status-template").Width(100);
                                        columns.Bound(p => p.GrandTotal).Title("Amount").Format("{0:n0}").Width(150).HtmlAttributes(new { @style = "text-align:right" });
                                       //columns.Bound("").Width(160).ClientTemplate("#=AccountBankName# - #=AccountBankNumber#").HeaderHtmlAttributes(new { @style = "white-space: normal" }).Title("Bank-Acccount No");
                                        columns.Bound(p => p.LegalEntity).Width(150);
                                        columns.Bound(p => p.Division).Width(150).Title("Business Unit");
                                    })
                                    .Pageable(pageable => pageable
                                        .Refresh(true)
                                        .PageSizes(true)
                                        .ButtonCount(5))
                                    .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                    .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                        .Extra(false)
                                        .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Start sWith")
                                            .EndsWith("End sWith")
                                        )))
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(rsz => rsz.Columns(true))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        // .Events(events => events.Error("errorHandler"))
                                        .Model(model => { model.Id(p => p.PceCode); })
                                        .Read(read => read.Action("ReadIndex", "InvoiceClientMultiPce").Data("grid_params"))
                                    )
                    )

                </div>
            </div>


        </div>
    </div>
</div>
<script id="invno-template" type="text/x-kendo-template">
    <a href='javascript: void(0);' onclick='editGridRow(this)' title='Edit' class='edit'><span style='color:blue; text-decoration:underline;'>#=MultiPceId#</span></a>
</script>
<script id="invdate-template" type="text/x-kendo-template">
    #if(InvoiceDate != null){# #= kendo.toString(kendo.parseDate(InvoiceDate), 'dd MMMM yyyy') # #}#
</script>
<script id="jobid-template" type="text/x-kendo-template">
    <span'>#=JobId# - #=JobName# </span'>
</script>
<script id="status-template" type="text/x-kendo-template">
    #if (Status == '1'){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--warning m-badge--wide'> #=StatusName#</a></center>
    #}#
    #if (Status == '2'){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--warning m-badge--wide'> #=StatusName#</a></center>
    #}#
    #if (Status == '5'){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--warning m-badge--wide'> #=StatusName#</a></center>
    #}#
    #if (Status == '6'){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--success m-badge--wide'> #=StatusName#</a></center>
    #}#
    #if (Status == '3'){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--danger m-badge--wide'> #=StatusName#</a></center>
    #}#
    #if (Status == '4'){ #
    <center><a href='javascript: void(0);' class='m-badge m-badge--success m-badge--wide'> #=StatusName#</a></center>
    #}#
</script>
<script>

    function OnChange() {
        mApp.block("#m_blockui_list", {
            overlayColor: "#000000",
            type: "loader",
            state: "primary",
            message: "Processing..."
        });

        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();
        mApp.unblock("#m_blockui_list");
    }

    function GetStatusButton(data) {
        var buttonType = "";
        console.log('Status :' + data.Status);
        if (data.Status == "@PhoenixERPWebApp.Models.MultipleInvoiceClientStatus.Open") buttonType = "m-badge--danger";
        else if (data.Status == "@PhoenixERPWebApp.Models.MultipleInvoiceClientStatus.Invoiced") buttonType = " m-badge--warning";
        else if (data.Status == "@PhoenixERPWebApp.Models.MultipleInvoiceClientStatus.Closed") buttonType = " m-badge--success";
        return "<center><a href='javascript: void(0);' onclick='#' class='m-badge " + buttonType + " m-badge--wide'>" + data.Status + "</a></center>";
    }

    function grid_params() {
        return {
            //status: $("#status").data("kendoDropDownList").value(),
            //legal: $("#legalentity").data("kendoDropDownList").value(),
            //mainservice: $("#mainservicecategory").data("kendoDropDownList").value(),
            //division: $("#division").data("kendoDropDownList").value()
            status: '',
            legal: '',
            mainservice: '',
            division: ''
        };
    }

    function LinktoInv(data) {
        return "<center><a href='javascript: void(0);' onclick='editGridRow(this)' title='Detail' class='edit'>" + data.MultiPceId + "</a></center>";
    }

    function editGridRow(e) {
        var item = dataItem(e);
        var serviceType = item.ServiceType;
         if (parseInt(item.Status) > 1)
            window.location.href = '@Url.Action("Detail", "InvoiceClientMultiPce")?multipceid=' + item.MultiPceId + '&st=' + serviceType + '&sts=' + item.Status+ '&isApprove=true';
        else
            window.location.href = '@Url.Action("Detail", "InvoiceClientMultiPce")?multipceid=' + item.MultiPceId + '&st=' + serviceType + '&sts=' + item.Status;

    }
</script>
