﻿<input hidden id="detail-id" value="@ViewBag.RecordID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Organization Setup</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-gear"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">System</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Application</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Settings/Organization")" class="m-nav__link">
                        <span class="m-nav__link-text">Organization</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->


<div class="m-content">
    <div class="row">
        <div class="col-lg-12 m--padding-bottom-10">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button id="btn-save" type="button" class="btn btn-primary"><i class="la la-save"></i>Save</button>
                <a href="@Url.Content("~/Settings/Organization/Detail")" class="m-btn btn btn-default"><i class="la la-plus"></i></a>
                <button type="button" class="m-btn btn btn-default"><i class="la la-trash"></i></button>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="m-portlet">
                <form id="form-organization" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed m--padding-bottom-50">
                    <input hidden name="id" value="@ViewBag.RecordID" />
                    <div class="m-portlet__body m-portlet__body--no-padding">
                        <ul class="nav nav-pills" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#tab-information">Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#tab-mail">Mail Configuration</a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <partial name="~/Areas/Settings/Views/Organization/Editor/Information.cshtml" />
                            <partial name="~/Areas/Settings/Views/Organization/Editor/MailConfiguration.cshtml" />


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <script src="~/Areas/Settings/Scripts/Organization.Detail.js" asp-append-version="true"></script>
}
