﻿@model PhoenixERPWebApp.Models.Finance.Transaction.Budget.TypeBudgetHdr;
@{
    ViewData["Title"] = "Form Input Budget";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

<input hidden id="detail-id" value="@ViewBag.RecordID" />
<input hidden id="entity_id" value="@ViewBag.EntityID" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Form Input Budget</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="@Url.Content("~/Finance/Budget")" class="m-nav__link">
                        <span class="m-nav__link-text">Form Input Budget</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<!-- MODAL REMOTE -->
<div class="modal-container"></div>

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__body">

                    <div class="m-form__group">
                        <h5>Form Input Budget <span style="width: 100px;" id="status"></span></h5>

                        <!--begin::Form-->
                        <input hidden name="approval_id" />
                        <form id="form-financial_transaction" class="form-horizontal form-bordered" role="form" asp-action="submit" asp-controller="budget" asp-area="finance">
                            <input hidden name="Id" value="@ViewBag.RecordID" />
                            <input type="hidden" asp-for="financialyear" />
                            <input type="hidden" asp-for="employee_basic_info_id" value="@ViewBag.employee_basic_info_id" />
                            <div class="row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Budget Id :</label>
                                        @if (Model.Id != null)
                                        {
                                            @Html.Kendo().TextBoxFor(m => m.Id).HtmlAttributes(new
                                           {
                                               style = "width:100%",
                                               @readonly = "readonly",
                                               @class = "form-control form-control-sm m-input",
                                               placeholder = $""+Model.Id
                                           })
                                        }
                                        else
                                        {
                                            @Html.Kendo().TextBoxFor(m => m.Id).HtmlAttributes(new
                                            {
                                                style = "width:100%",
                                                @readonly = "readonly",
                                                @class = "form-control form-control-sm m-input",
                                                placeholder = $"Auto generated by system"
                                            })
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Fiscal Year :</label>
                                        @(Html.Kendo().DropDownListFor(m => m.financial_year_id)
                                                                            .DataTextField("Text")
                                                                            .DataValueField("Value")
                                                                            .Filter(FilterType.Contains)
                                                                            .DataSource(source =>
                                                                            {
                                                                                source.Read(read =>
                                                                                {
                                                                                    read.Action("GetFiscalyearList", "Budget");
                                                                                });
                                                                            })
                                                                            .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Month :</label>
                                        @(Html.Kendo().DropDownListFor(m => m.bulan)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .BindTo(new List<SelectListItem>() {
                                                new SelectListItem() {
                                                Text = "Jan",
                                                Value = "01"
                                                },
                                                new SelectListItem() {
                                                Text = "FEB",
                                                Value = "02"
                                                },
                                                new SelectListItem() {
                                                    Text = "MAR",
                                                    Value = "03"
                                                },
                                                new SelectListItem() {
                                                    Text = "APR",
                                                    Value = "04"
                                                },
                                                new SelectListItem() {
                                                    Text = "MEI",
                                                    Value = "05"
                                                },
                                                new SelectListItem() {
                                                    Text = "JUN",
                                                    Value = "06"
                                                },
                                                new SelectListItem() {
                                                    Text = "JUL",
                                                    Value = "07"
                                                },
                                                new SelectListItem() {
                                                    Text = "AGT",
                                                    Value = "08"
                                                },
                                                new SelectListItem() {
                                                    Text = "SEP",
                                                    Value = "09"
                                                },
                                                new SelectListItem() {
                                                    Text = "OCT",
                                                    Value = "10"
                                                },
                                                new SelectListItem() {
                                                    Text = "NOV",
                                                    Value = "11"
                                                },
                                                new SelectListItem() {
                                                    Text = "DEC",
                                                    Value = "12"
                                            }
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">

                                        <label>Revision :</label>
                                        <div class="input-group input-group-sm">
                                            @Html.Kendo().TextBoxFor(m => m.revision).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.Id == null)
                            {

                                <div class="row">
                                    <hr>
                                    <div class="col-lg-6  m-form__group-sub">
                                        <div class="form-group" style="text-align: left;">
                                            <label>Upload File :</label>
                                            @Html.Kendo().Upload().Name("file").Multiple(false)

                                        </div>
                                    </div>
                                    <div class="col-lg-6  m-form__group-sub">
                                        &nbsp;
                                    </div>
                                </div>
                            }
                        </form>
                        <!--end::Form-->
                    </div>
                    @if (Model.Id != null)
                    {

                        <div class="row">
                            <label>Detail Data</label>
                            <div class="col-lg-12">
                                @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.Budget.TypeBudget>()
                                    .Name("gridDetail")
                                    .Columns(columns =>
                                    {
                                        
                                        columns.Bound(p => p.accountname).Width(200);
                                        columns.Bound(p => p.financialyear).Width(200);
                                        columns.Bound(p => p.bulan).Width(200);
                                        columns.Bound(p => p.revisi).Width(200);
                                        columns.Bound(p => p.skor).Width(200);
                                        columns.Bound(p => p.Interface).Width(200);
                                        columns.Bound(p => p.tm_advis).Width(200);
                                        columns.Bound(p => p.brandcoma).Width(200);
                                        columns.Bound(p => p.brandcomb).Width(200);
                                        columns.Bound(p => p.marketingservicesampling).Width(200);
                                        columns.Bound(p => p.marketingservicerm).Width(200);
                                        columns.Bound(p => p.pr).Width(200);
                                        columns.Bound(p => p.pathfinder).Width(200);
                                        columns.Bound(p => p.totaliris).Width(200);
                                        columns.Bound(p => p.bodcentral).Width(200);
                                        columns.Bound(p => p.totalgroup).Width(200);
                                    })
                                    .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(5))
                                    .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(false))
                                    .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                    .Filterable(ftb => ftb.Mode(GridFilterMode.Menu)
                                        .Extra(false)
                                        .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains("Contains")
                                            .StartsWith("Start sWith")
                                            .EndsWith("End sWith")
                                        )))
                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                    .Resizable(rsz => rsz.Columns(true))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .Events(events => events.Error("errorHandler"))
                                        .Model(model => { model.Id(p => p.Id); })
                                        .Read(read => read.Action("ReadDataDetail", "Budget").Data("grid_params"))
                                    )

                                )

                            </div>
                        </div>
                    }
                    <br />
                    @if (Model.Id != null)
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="@Url.Content("~/Finance/Budget")" class="fakelink btn btn-sm btn-secondary">Cancel</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" id="btn-save1" class="btn btn-sm btn-success">Submit</button>
                                @*<button type="button" id="btn-submit" class="btn btn-sm btn-primary" disabled="disabled">Submit</button>*@
                                <a href="@Url.Content("~/Finance/Budget")" class="fakelink btn btn-sm btn-secondary">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function grid_params() {
        return {
            headerId :"@Model.Id"
        }
    }

    function editAdditionalEvent(e) {
        //document.getElementById("Percent").setAttribute("id", "AdditionalPercent");
        //document.getElementById("Amount").setAttribute("id", "AdditionalAmount");
    }

    function editDeducationEvent(e) {
        //document.getElementById("Percent").setAttribute("id", "DeducationPercent");
        // document.getElementById("Amount").setAttribute("id", "DeducationAmount");
    }

    function saveAdditionalEvent(e) {
        //var percent = $("#AdditionalPercent").data("kendoNumericTextBox").value();
        //var amount = $("#AdditionalAmount").data("kendoNumericTextBox").value();
        //var salaryComponentValue = $("#SalaryComponentAdditionalId").data("kendoDropDownList").value();
        //var salaryComponentName = $("#SalaryComponentAdditionalId").data("kendoDropDownList").text();
        //var ComponentTypeValue = $("#ComponentTypeAdditionalId").data("kendoDropDownList").value();
        //var ComponentTypeName = $("#ComponentTypeAdditionalId").data("kendoDropDownList").text();

        //e.model.set("Percent", percent);
        //e.model.set("Amount", amount);
        //e.model.set("SalaryComponent", salaryComponentValue);
        //e.model.set("SalaryComponentName", salaryComponentName);
        //e.model.set("ComponentId", ComponentTypeValue);
        //e.model.set("ComponentTypeName", ComponentTypeName);
    }

    function saveDeducationEvent(e) {
        //var percent = $("#DeducationPercent").data("kendoNumericTextBox").value();
        //var amount = $("#DeducationAmount").data("kendoNumericTextBox").value();
        //var salaryComponentValue = $("#SalaryComponentDeductionId").data("kendoDropDownList").value();
        //var salaryComponentName = $("#SalaryComponentDeductionId").data("kendoDropDownList").text();
        //var ComponentTypeValue = $("#ComponentTypeDeductionId").data("kendoDropDownList").value();
        //var ComponentTypeName = $("#ComponentTypeDeductionId").data("kendoDropDownList").text();

        //e.model.set("Percent", percent);
        //e.model.set("Amount", amount);
        //e.model.set("SalaryComponent", salaryComponentValue);
        //e.model.set("SalaryComponentName", salaryComponentName);
        //e.model.set("ComponentId", ComponentTypeValue);
        //e.model.set("ComponentTypeName", ComponentTypeName);
    }


</script>
<script>
  
     var param = (function (param) {
        param.processUrl = "@Url.Action("Process", "Budget")";
        param.saveUrl = "@Url.Action("Save", "Budget")";
        param.submitUrl = "@Url.Action("Submit", "Budget")";
        return param;
    })(param || {});

    (function ($) {
        'use strict';
        var pageFunction = (function (pageFunction) {
            pageFunction.init = function () {
                //initialize
            };
            //pageFunction.process = function () {
            //    callActionFile({ formId: "form", title: "process", type: "POST", url: param.processUrl });
            //};
            pageFunction.save = function () {
                callActionFile({ formId: "form-financial_transaction", title: "save", type: "POST", url: param.saveUrl });
            };
            pageFunction.submit = function () {
                callActionFile({ formId: "form-financial_transaction", title: "submit", type: "POST", url: param.submitUrl });
            };
            return pageFunction;
        })(pageFunction || {});

        $(document).ready(function () {
            //pageFunction.init();
            //$('#btn-process').click(pageFunction.process);
            $('#btn-save1').click(pageFunction.save);
            //$('#btn-submit').click(pageFunction.submit);
            $("#financial_year_id").change(function () {
                $('#financialyear').val($("#financial_year_id").data("kendoDropDownList").text());
            });
           
        });

    }(jQuery));



</script>

