@{
    ViewBag.ModalTitle = "JobTitle";
    ViewBag.ModalId = "JobTitleModalSearch";
    Layout = "~/Views/Shared/metronic/_ModalNormal.cshtml";
}
<form id="JobTitleFormSearch" method="post">
    <input name="Search_business_unit_type_id" id="Search_business_unit_type_id" type="hidden" value="">
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="business_unit_id">business_unit_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_business_unit_id" id="search_business_unit_id" maxlength="50" type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="jobgrade_id">jobgrade_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_jobgrade_id" id="search_jobgrade_id" maxlength="100" type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="parent_id">parent_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_parent_id" id="search_parent_id" maxlength="100" type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="title_code">title_code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_title_code" id="search_title_code" maxlength="50" type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="title_name">title_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="search_title_name" id="search_title_name" maxlength="100" type="text">
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" onclick="fnJobTitle.initsearch()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> <span class="translate" data-args="app-search">search</span></button>
            <button type="button" onclick="fnJobTitle.initsearch('reset')" class="btn btn-success btn-sm"><i class="fa fa-backspace"></i> <span class="translate" data-args="app-reset">reset</span></button>
            <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="fa fa-times-circle"></i>  Close</button>
        </div>

    </div>
</form>