@{
    ViewData["Title"] = "JobTitle";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="update">Update</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="JobTitleFormUpdate" method="post">
   
    <div class="row ">
        <input value="@ViewBag.RecordID" type="hidden" name="id" id="id" />
        <input type="hidden" name="created_on" id="created_on" />
        <div class="col-lg-12">
            <div class="form-group">
                <label><span class="translate" data-args="Code">Code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="title_code" id="title_code" maxlength="50" type="text">
            </div>

            <div class="form-group">
                <label><span class="translate" data-args="Job Title">Job Title</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="title_name" id="title_name" maxlength="100" type="text">
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/Hris/JobTitle" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/Hris/Form/TitleMaster.update.js"></script>
}
