@{
    ViewData["Title"] = "City";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{
<span class="translate" data-args="create">Create</span>
}

@section Paneltools{

}
@section Panelbody{
<form id="CityFormCreate" method="post">
    <div class="row ">
        <div class="col-lg-12">

            <div class="form-group">
                <label><span class="translate" data-args="city_code">city_code</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="city_code" id="city_code"  maxlength="5" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="city_name">city_name</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="city_name" id="city_name"  maxlength="400" type="text">
            </div>
            
            <div class="form-group">
                <label><span class="translate" data-args="country_id">country_id</span> :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="country_id" id="country_id"  maxlength="50" type="text">
            </div>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            <a href="~/General/City" class="fakelink btn btn-secondary">Close</a>
        </div>

    </div>
</form>
}
@section Panelscript{
    <script src="~/assets/js/Areas/General/Form/City.create.js"></script>
}
