@{
    ViewData["Title"] = "City";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}
@section Panelhead{

    <a href="@Url.Content("~/General/City/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
    <a href="@Url.Content("~/General/City/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
    <a href="@Url.Content("~/General/City/create")" class="fakelink m-btn btn btn-primary btn-sm m-btn--sm"><i class="la la-plus"></i></a>
}

@section Paneltools{
    <a data-target="#CityModalSearch" data-toggle="modal" class="btn btn-circle btn-outline btn-sm"><i class="la la-search"></i> <span class="translate" data-args="app-search">Search</span></a>
}
@section Panelbody{

    <table class="table table-striped table-bordered table-hover table-checkable" id="CityList"></table>
    @Html.Partial("City/Search")
}
@section Panelscript{
    <script src="~/assets/js/Areas/General/Form/City.js"></script>
}
