﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Attachment</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="m-form__group">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Purchase Order</label>
                    </div>
                    <div class="col-lg-4">
                        @Html.Kendo().Upload().Name("Upload_1")
                    </div>
                    <div class="col-lg-4">
                        @Html.Kendo().CheckBox().Name("chkUpload_1")
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Tax</label>
                    </div>
                    <div class="col-lg-4">
                        @Html.Kendo().Upload().Name("Upload_2")
                    </div>
                    <div class="col-lg-4">
                        @Html.Kendo().CheckBox().Name("chkUpload_2")
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Delivery Order</label>
                    </div>
                    <div class="col-lg-4">
                        @Html.Kendo().Upload().Name("Upload_3")
                    </div>
                    <div class="col-lg-4">
                        @Html.Kendo().CheckBox().Name("chkUpload_3")
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Good Received</label>
                    </div>
                    <div class="col-lg-4">
                        @Html.Kendo().Upload().Name("Upload_4")
                    </div>
                    <div class="col-lg-4">
                        @Html.Kendo().CheckBox().Name("chkUpload_4")
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Contract</label>
                    </div>
                    <div class="col-lg-4">
                        @Html.Kendo().Upload().Name("Upload_5")
                    </div>
                    <div class="col-lg-4">
                        @Html.Kendo().CheckBox().Name("chkUpload_5")
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
        </div>
    </div>
</div>
