﻿@model PhoenixERPWebApp.Models.Finance.Transaction.TemporaryAccountPayable.TemporaryAccountPayable
@{
    ViewData["Title"] = "Temporary Account Payable Detail";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";

}

<style>
    .k-checkbox-label {
        margin: 25px;
    }

        .k-checkbox-label::before {
            border-radius: unset;
        }

        .k-checkbox-label::before, .k-radio-label::before {
            width: 25px;
            height: 25px;
            border-style: none;
        }

    .k-checkbox:checked + .k-checkbox-label::before {
        border-color: unset;
        background-color: red;
    }

    .k-checkbox:checked + .k-checkbox-label::after {
        display: none;
    }
</style>

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            @*<h3 class="m-subheader__title m-subheader__title--separator">Temporary Account Payable</h3>*@
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="javascript:return;" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-suitcase"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:return;" class="m-nav__link">
                        <span class="m-nav__link-text">Finance</span>
                    </a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    <a asp-action="Index" asp-controller="TemporaryAccountPayable" asp-area="Finance" class="m-nav__link"><span class="m-nav__link-text">TemporaryAccountPayable</span></a>
                </li>
                <li class="m-nav__separator"><i class="fa fa-angle-double-right"></i></li>
                <li class="m-nav__item">
                    @if (string.IsNullOrEmpty(Model.Id))
                    {
                        <a asp-action="Detail" asp-controller="TemporaryAccountPayable" asp-area="Finance" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                    else
                    {
                        <a asp-action="Detail" asp-controller="TemporaryAccountPayable" asp-area="Finance" asp-route-Id="@Model.Id" class="m-nav__link"><span class="m-nav__link-text"> @ViewBag.Header</span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet m-portlet--head-sm" m-portlet="true">
                <div class="m-portlet__head" style="background:#fafafa">
                    <div class="m-portlet__head-wrapper">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--font-success">
                                    @if (string.IsNullOrEmpty(Model.Id))
                                    {
                                        <span>Create Temporary Account Payable  &nbsp;</span>
                                    }
                                    else
                                    {
                                        <span>Edit Temporary Account Payable  &nbsp;</span>
                                    }

                                    @if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.Open)
                                    {
                                        <span class="m-badge m-badge--info m-badge--wide" id="status">Open</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.ApproveFrontDesk)
                                    {
                                        <span class="m-badge m-badge--success m-badge--wide" id="status">Approved FrontDesk</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.ApproveAdmin)
                                    {
                                        <span class="m-badge m-badge--success m-badge--wide" id="status">Approved by Admin Financ</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.TAP)
                                    {
                                        <span class="m-badge m-badge--warning m-badge--wide" id="status">TAP</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.JournalConfirm)
                                    {
                                        <span class="m-badge m-badge--info m-badge--wide" id="status">JournalConfirm</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.TaxVerivication)
                                    {
                                        <span class="m-badge m-badge--dark m-badge--wide" id="status">TaxVerification</span>
                                    }
                                    else if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.AP)
                                    {
                                        <span class="m-badge m-badge--success m-badge--wide" id="status">Account Payable</span>
                                    }

                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">


                            <a href="#" m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" aria-describedby="tooltip_qf2tcah4xx"><i class="la la-expand"></i></a>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-form__group">
                        <form id="form" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="OurRefId" />
                            <input type="hidden" asp-for="AffiliationId" />
                            <input type="hidden" asp-for="LegalEntityId" />
                            <input type="hidden" asp-for="POId" />
                            <div class="row">
                                <!--Begin: Vendor-->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Vendor :</label>
                                        @(Html.Kendo().DropDownListFor(m => m.VendorId)
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .Filter(FilterType.Contains)
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action("GetDDLCompany", "Dropdown", new { area = "Finance" });
                                                        });
                                                    })
                                                    .OptionLabel(new
                                                    {
                                                        Text = "Select Vendor...",
                                                        Value = 0
                                                    })
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                </div>
                                <!--End: Vendor-->
                                <!-- Begin: Type -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">Type :</label>
                                    <div class="input-group input-group-sm">
                                        @*@Html.Kendo().TextBoxFor(m => m.Type).HtmlAttributes(new { @class = "form-control form-control-sm" })*@
                                        @(Html.Kendo().DropDownListFor(m => m.Type)
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .Filter(FilterType.Contains)
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action("GetDDLMainServiceCategory", "Dropdown", new { area = "Finance" });
                                                        });
                                                    })
                                                    .OptionLabel(new
                                                    {
                                                        Text = "Select Type...",
                                                        Value = 0
                                                    })
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                </div>
                                <!-- End: Type -->
                                <!-- Begin: Date -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Date :</label>
                                        @Html.Kendo().DatePickerFor(m => m.TransactionDate).HtmlAttributes(new { @class = "m-input", style = "width:100%" })
                                    </div>
                                </div>
                                <!-- End: Date -->
                                <!-- Begin: Invoice -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">Invoice :</label>
                                    <div class="input-group input-group-sm">
                                        @Html.Kendo().TextBoxFor(m => m.InvoiceVendorNumber).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <!-- End: Invoice -->
                            </div>

                            <!-- Begin: Requester -->
                            <div class="row">
                                <!-- Begin: OurRef -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">OurRef : </label><br />
                                    @*<div class="row">
                                        <div class="col-sm-6">
                                            @Html.Kendo().RadioButtonFor(m => m.APType).Label("Other").Value(PhoenixERPWebApp.Models.Enum.AccountPayableTypeConst.OtherForm)
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.Kendo().RadioButtonFor(m => m.APType).Label("Normal").Value(PhoenixERPWebApp.Models.Enum.AccountPayableTypeConst.Normal)
                                        </div>
                                    </div>*@

                                    @*<div class="row">
                    <div class="col-sm-6">
                        @Html.Kendo().RadioButtonFor(m => m.APType).Label("Cash Advance").Value(PhoenixERPWebApp.Models.Enum.AccountPayableTypeConst.CashAdvance)
                    </div>
                    <div class="col-sm-6">
                        @Html.Kendo().RadioButtonFor(m => m.APType).Label("Petty Cash").Value(PhoenixERPWebApp.Models.Enum.AccountPayableTypeConst.PettyCash)
                    </div>
                </div>*@


                                    @*<label class="form-control-label">OurRef :</label>
                @Html.Kendo().DropDownListFor(m => m.OurRef).HtmlAttributes(new { @class = "form-control form-control-sm" })*@
                                <div class="input-group input-group-sm">
                                    <input type="hidden" asp-for="APType" value="@PhoenixERPWebApp.Models.Enum.AccountPayableTypeConst.Normal" />
                                    <input type="hidden" asp-for="InvoiceReceivableId" />
                                    @Html.Kendo().TextBoxFor(m => m.OurRef).HtmlAttributes(new { @class = "form-control form-control-sm", @readonly = true })
                                    <button class="k-button" id="btn-PopUpRef" type="button">Find</button>
                                </div>


                                </div>
                                <!-- End: OurRef -->
                                <!-- Begin: Product -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label class="">Product :</label>
                                        @(Html.Kendo().DropDownListFor(m => m.BrandId)
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .Filter(FilterType.Contains)
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action("GetDDLBrand", "Dropdown", new { area = "Finance", param1 = "4", level = "4" });
                                                        });
                                                    })
                                                    .OptionLabel(new
                                                    {
                                                        Text = "Select Product...",
                                                        Value = 0
                                                    })
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                </div>
                                <!-- End: Product -->
                                <!-- Begin: Periode -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Periode :</label>
                                        @(Html.Kendo().DatePickerFor(m => m.Periode)
                                                    .Depth(CalendarView.Year)
                                                    .Start(CalendarView.Year)
                                                    .Format("MMMM/yyyy").HtmlAttributes(new { @class = "m-input", style = "width:100%" })
                                        )
                                    </div>
                                </div>
                                <!-- End: Periode -->
                                <!-- Begin: YourRef -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>YourRef :</label>
                                        <input type="hidden" asp-for="JobId" />
                                        @Html.Kendo().TextBoxFor(m => m.JobName).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <!-- End: YourRef -->
                            </div>

                            <!-- End: Requester -->
                            <!-- Begin: Business Purposes -->

                            <div class="row">
                                <!-- Begin: Division -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label class="">Division :</label>
                                        @(Html.Kendo().DropDownListFor(m => m.BusinessUnitId)
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .Filter(FilterType.Contains)
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action("GetDivision", "Dropdown", new { area = "Finance" });
                                                        });
                                                    })
                                                    .OptionLabel(new
                                                    {
                                                        Text = "Select Division...",
                                                        Value = 0
                                                    })
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                </div>
                                <!-- End: Division -->
                                <!-- Begin: Currency -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label class="">Currency :</label>
                                        @(Html.Kendo().DropDownListFor(m => m.CurrencyId)
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .Filter(FilterType.Contains)
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action("GetDDLCurrency", "Dropdown", new { area = "Finance" });
                                                        });
                                                    })
                                                    .OptionLabel(new
                                                    {
                                                        Text = "Select Currency...",
                                                        Value = 0
                                                    })
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                </div>
                                <!-- End: Currency -->
                                <!-- Begin: Exchange -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label class="">Exchange :</label>
                                        @Html.Kendo().TextBoxFor(m => m.ExchangeRate).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <!-- End: Exchange -->
                                <!-- Begin: Received -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label>Received :</label>
                                        @Html.Kendo().DatePickerFor(m => m.Received).HtmlAttributes(new { @class = "m-input", style = "width:100%" })
                                    </div>
                                </div>
                                <!-- End: Received -->
                            </div>
                            <div class="row">
                                <!-- Begin: TaxNo -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label class="">Due Days :</label>
                                        @Html.Kendo().NumericTextBoxFor(m => m.DueDays).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                                <!-- End: TaxNo -->
                                <!-- Begin: DueDays -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="form-group">
                                        <label class="">Allocation Ratio :</label>
                                        @(Html.Kendo().DropDownListFor(m => m.AllocationRatio)
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .BindTo(new List<SelectListItem>() {
                                                                                                                new SelectListItem() {
                                                                                                                    Text = "Normal",
                                                                                                                    Value = "0"
                                                                                                                },
                                                                                                                new SelectListItem() {
                                                                                                                    Text = "Cost Allocation",
                                                                                                                    Value = "1"
                                                                                                                }
                                                            })
                                                            .Value("1")
                                                            .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                                <!-- End: DueDays -->
                                <!-- Begin: TaxDate -->
                                
                                <!-- End: AllocationRatio -->
                            </div>
                            <div class="row">
                                <div class="col-lg-3 m-form__group-sub"></div>
                                <div class="col-lg-3 m-form__group-sub"></div>
                                <div class="col-lg-4 m-form__group-sub"></div>
                                <div class="col-lg-2 m-form__group-sub">
                                    <button type="button" id="btn-attachment" class="btn btn-primary">Attachment</button>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Begin: Remarks -->
                                <div class="col-lg-12 m-form__group-sub">
                                    <div class="form-group">
                                        <label class="">Remarks :</label>
                                        <textarea asp-for="Remarks" rows="5" cols="40" class="form-control form-control-sm"></textarea>
                                    </div>
                                </div>
                                <!-- End: Remarks -->
                            </div>          
                            <br />
                            <div class="row" id="inv_data_detail" style="display:block">
                                <div class="col-lg-12 m-row--no-padding">
                                    <div class="m-accordion m-accordion--bordered m-accordion--solid" id="inv_detail" role="tablist">
                                        <!--begin::Item-->
                                        <div class="m-accordion__item">
                                            <div class="m-accordion__item-head collapsed" role="tab" id="inv_detail_head" data-toggle="collapse" href="#inv_detail_body" aria-expanded="true">
                                                <span class="m-accordion__item-icon"><i class="fa flaticon-interface-4"></i></span>
                                                <span class="m-accordion__item-title">Invoice Detail</span>
                                                <span class="m-accordion__item-mode"></span>
                                            </div>
                                            <div class="m-accordion__item-body collapse" id="inv_detail_body" role="tabpanel" aria-labelledby="inv_detail_head" data-parent="#inv_detail" style="">
                                                <div class="m-accordion__item-content">
                                                    <div class="row">
                                                        <!-- Begin: TotalNet -->
                                                        <div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Total Invoice Net :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.Amount).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Prompt Payment :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.PromptPayment).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">&nbsp</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.PromptPayment2).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Other Discount :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.OtherDiscount).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <!-- End: TotalNet -->
                                                    </div>
                                                    <div class="row">
                                                        <!-- Begin: PromptPayment -->
                                                        <div class="col-lg-2 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Value Added Tax :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.ValueAddedTax).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">&nbsp</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.ValueAddedTaxPercent).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">&nbsp</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.ValueAddedTaxOn).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Advertising Tax :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.AdvertisingTax).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Total Cost Vendor :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.TotalCostVendor).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                                            </div>
                                                        </div>
                                                        <!-- End: PromptPayment -->
                                                    </div>
                                                    <div class="row">
                                                        <!-- Begin: OtherDiscount -->
                                                        <div class="col-lg-2 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">Tax Payable :</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.TaxPayable).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">&nbsp</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.TaxPayablePercent).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 m-form__group-sub">
                                                            <div class="form-group">
                                                                <label class="">&nbsp</label>
                                                                @Html.Kendo().NumericTextBoxFor(m => m.TaxPayableOn).HtmlAttributes(new { @class = "form-control form-control-sm" }).Events(e => e.Change("onChangeValue"))
                                                            </div>
                                                        </div>
                                                        @*<div class="col-lg-4 m-form__group-sub">
                                                            <div class="form-group top_u_2">
                                                                <a href="javascript:;" class="m-btn btn btn-primary btn-sm m-btn--sm" onclick="GenerateDetialDataList()">Create Detail List</a>
                                                            </div>
                                                        </div>*@

                                                        <!-- End: OtherDiscount -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <!-- End: Business Purposes -->
                            <div class="row">
                                <div class="col-lg-12">
                                    
                                        @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.TemporaryAccountPayable.TemporaryAccountPayableDetailList>()
                                            .Name("grid")
                                            //.ToolBar(x => {
                                            //    if (string.IsNullOrEmpty(Model.Id))
                                            //    {
                                            //        x.Create();
                                            //    }
                                            //})
                                            .Columns(columns =>
                                            {
                                                //if (string.IsNullOrEmpty(Model.Id))
                                                //{

                                                //    columns.Command(command =>
                                                //    {
                                                //        command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                //        command.Destroy().Text(" ");
                                                //    }).Title("Action").HtmlAttributes(new { style = "text-align:center;" }).HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);

                                                //}
                                                columns.Bound(p => p.Item_type_id).EditorTemplateName("Finance/TemporaryAccountPayable/ItemTypeDropdown").ClientTemplate("#=getTypeName(data)#").Width(200).Title("Item");
                                                columns.Bound(p => p.TaskDetail).Width(200);
                                                columns.Bound(p => p.AmountPaid).Title("Amount").Width(200).Format("{0:n2}");
                                            })
                                            .Pageable(pageable => pageable
                                                .Refresh(true)
                                                .PageSizes(true)
                                                .ButtonCount(5))
                                            .Editable(x => x.Mode(GridEditMode.InLine))
                                            .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                            .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .PageSize(10)
                                                .Events(events => events.Error("errorHandler"))
                                                .Model(model => { model.Id(p => p.Id); })
                                                .Read(read => read.Action("ReadDetail", "TemporaryAccountPayable"))
                                                .Create(update => update.Action("CreateDetailList", "TemporaryAccountPayable"))
                                                .Update(update => update.Action("UpdateDetailList", "TemporaryAccountPayable"))
                                                .Destroy(update => update.Action("DestroyDetailList", "TemporaryAccountPayable"))
                                            )
                                            .Events(e => e.Save("saveDetailList"))
                                            .NoRecords()
                                        )
                                </div>
                            </div>

                            @if (!string.IsNullOrEmpty(Model.Id))
                            {
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-lg-12">
                                        @if (Model.InvoiceStatusId != @PhoenixERPWebApp.Models.InvoiceReceivedStatus.TaxVerivication && Model.InvoiceStatusId != @PhoenixERPWebApp.Models.InvoiceReceivedStatus.AP)
                                        {
                                            <a href="javascript:;" class="m-btn btn btn-primary btn-sm m-btn--sm" onclick="ProcessData()">Create Journal</a>
                                            <a href="javascript:;" class="m-btn btn btn-primary btn-sm m-btn--sm" onclick="ConfirmJournal()">Confirm Journal</a>
                                        }
                                        <br /> <br />
                                        @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.ExecJournalAPView.ExecJournalAPView>()
                                                                    .Name("grid-1")
                                                                      .ToolBar(m =>
                                                                      {
                                                                          if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.TAP)
                                                                          {
                                                                              m.Create();
                                                                          }
                                                                      })
                                                                    .Columns(columns =>
                                                                    {
                                                                        if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.TAP)
                                                                        {
                                                                            columns.Command(command =>
                                                                            {
                                                                                command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                                                command.Destroy().Text(" ");
                                                                            }).Title("Action").HtmlAttributes(new { style = "text-align:center;" })
                                                                            .HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                                        }
                                                                        columns.Bound(p => p.coa_id).EditorTemplateName("Finance/TemporaryAccountPayable/AccountNumberDropdown").ClientTemplate("#=code_rec#").Title("AccountId").Width(200);
                                                                        columns.Bound(p => p.AccountName).EditorTemplateName("StringReadOnly").ClientTemplate("#=AccountName#").Title("AccountName").Width(200);
                                                                        columns.Bound(p => p.Description).Width(200);
                                                                        columns.Bound(p => p.JobIdName).EditorTemplateName("StringReadOnly").ClientTemplate("#=JobIdName#").Title("JobId").Width(200);
                                                                        columns.Bound(p => p.DivisiName).EditorTemplateName("StringReadOnly").ClientTemplate("#=DivisiName#").Title("Divisi").Width(200);
                                                                        columns.Bound(p => p.Debit).Width(200).Format("{0:n2}");
                                                                        columns.Bound(p => p.Credit).Width(200).Format("{0:n2}");
                                                                    })
                                                                    .Pageable(pageable => pageable
                                                                        .Refresh(true)
                                                                        .PageSizes(true)
                                                                        .ButtonCount(5))
                                                                    .Editable(x => x.Mode(GridEditMode.InLine))
                                                                    .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                                    .NoRecords()
                                                                    .Scrollable(s => s.Enabled(true).Height("auto"))
                                                                    .Resizable(rsz => rsz.Columns(true))
                                                                    .DataSource(dataSource => dataSource
                                                                        .Ajax()
                                                                        .PageSize(10)
                                                                        .Events(events => events.Error("errorHandler"))
                                                                        .Model(model => { model.Id(p => p.coa_id); })
                                                                        .Read(read => read.Action("ReadJournalEmpty", "TemporaryAccountPayable").Data("GetreferenceId"))
                                                                    )
                                                                    .Events(e => e.Edit("editAdditionalEvent").Save("saveAdditionalEvent"))
                                        )
                                    </div>
                                </div>

                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-lg-12">
                                        @if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.JournalConfirm)
                                        {
                                            <a href="javascript:;" class="m-btn btn btn-primary btn-sm m-btn--sm" onclick="TaxVerivication()">Tax Verification</a>
                                        }
                                        <br /> <br />
                                        @(Html.Kendo().Grid<PhoenixERPWebApp.Models.Finance.Transaction.ExecJournalAPView.ExecJournalAPView>()
                                                            .Name("grid-2")
                                                            .ToolBar(m =>
                                                            {
                                                                if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.TaxVerivication)
                                                                {
                                                                    m.Create();
                                                                }
                                                            })
                                                            .Columns(columns =>
                                                            {
                                                                if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.TAP || Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.JournalConfirm)
                                                                {
                                                                    columns.Command(command =>
                                                                    {
                                                                        command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                                        command.Destroy().Text(" ");
                                                                    }).Title("Action").HtmlAttributes(new { style = "text-align:center;" })
                                                                    .HeaderHtmlAttributes(new { style = "text-align:center;" }).Width(90);
                                                                }
                                                                columns.Bound(p => p.coa_id).EditorTemplateName("Finance/TemporaryAccountPayable/AccountNumberDropdown").ClientTemplate("#=code_rec#").Title("AccountId").Width(200);
                                                                columns.Bound(p => p.AccountName).EditorTemplateName("StringReadOnly").ClientTemplate("#=AccountName#").Title("AccountName").Width(200);
                                                                columns.Bound(p => p.Description).Width(200);
                                                                columns.Bound(p => p.JobIdName).EditorTemplateName("StringReadOnly").ClientTemplate("#=JobIdName#").Title("JobId").Width(200);
                                                                columns.Bound(p => p.DivisiName).EditorTemplateName("StringReadOnly").ClientTemplate("#=DivisiName#").Title("Divisi").Width(200);
                                                                columns.Bound(p => p.Debit).Width(200).Format("{0:n2}");
                                                                columns.Bound(p => p.Credit).Width(200).Format("{0:n2}");
                                                            })
                                                            .Pageable(pageable => pageable
                                                                .Refresh(true)
                                                                .PageSizes(true)
                                                                .ButtonCount(5))
                                                            .Sortable(srt => srt.SortMode(GridSortMode.MultipleColumn))
                                                            .NoRecords()
                                                            .Editable(x => x.Mode(GridEditMode.InLine))
                                                            .Scrollable(s => s.Enabled(true).Height("auto"))
                                                            .Resizable(rsz => rsz.Columns(true))
                                                            .DataSource(dataSource => dataSource
                                                                .Ajax()
                                                                .PageSize(10)
                                                                .Events(events => events.Error("errorHandler"))
                                                                .Model(model => { model.Id(p => p.coa_id); })
                                                                .Read(read => read.Action("ReadJournalEmpty", "TemporaryAccountPayable").Data("GetreferenceId"))
                                                            )
                                        )
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Begin: VATNumber -->
                                    <div class="col-lg-8 m-form__group-sub">
                                    </div>
                                    <div class="col-lg-4 m-form__group-sub">
                                        <div class="form-group">
                                            <label class="">VAT Number :</label>
                                            @Html.Kendo().TextBoxFor(m => m.TaxNumber).HtmlAttributes(new { @class = "form-control form-control-sm" })
                                        </div>
                                    </div>
                                    <!-- End: VATNumber -->
                                </div>
                                <div class="row">
                                    <!-- Begin: ReceivedDate -->
                                    <div class="col-lg-8 m-form__group-sub">
                                    </div>
                                    <div class="col-lg-4 m-form__group-sub">
                                        <div class="form-group">
                                            <label class="">Received Date :</label>
                                            @Html.Kendo().DatePickerFor(m => m.TaxDate).HtmlAttributes(new { @class = "m-input", style = "width:100%" })
                                        </div>
                                    </div>
                                    <!-- End: ReceivedDate -->
                                </div>
                            }
                            <hr />
                            <div class="row">
                                <div class="col-lg-12">
                                    @*<button type="button" id="btn-taxVerification" class="btn btn-sm btn-success">Tax Verification</button>*@
                                    @if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.AP)
                                    {
                                        <button type="button" id="btn-save" class="btn btn-sm btn-success" disabled="disabled">Save</button>
                                    }
                                    else
                                    {

                                        <button type="button" id="btn-save" class="btn btn-sm btn-success">Save</button>
                                    }

                                    @if (Model.InvoiceStatusId == @PhoenixERPWebApp.Models.InvoiceReceivedStatus.TaxVerivication)
                                    {
                                        <button type="button" id="btn-submit" class="btn btn-sm btn-primary">Submit</button>
                                    }
                                    else
                                    {
                                        <button type="button" id="btn-submit" class="btn btn-sm btn-primary" disabled="disabled">Submit</button>

                                    }

                                    <a asp-action="Index" asp-controller="TemporaryAccountPayable" asp-area="Finance" class="fakelink btn btn-sm btn-secondary">Close</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="refModal" class="modal fade" role="dialog"></div>

<script>
    function getTypeName(data) {
        return data.ItemTypeName;
    }
    function GetreferenceId() {
        return {
            referenceId: $("#POId").val()
        };
    }
    var counter = 1;

    function onDataBound(e) {
        counter = 1;
    }

    function renderNumber(data) {
        return counter++;
    }

    function selectData(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        console.log(dataItem)
        var id = dataItem.Id;
        var no = dataItem.MCSNumber;
        $('#OurRef').val(no);
        $('#OurRefId').val(id);
        changeData();
    };
    function onChangeValue() {
        var varPercent = 10;
        var amount = 0;
        if ($("#Id").val() == "undefined"|| $("#Id").val() == "") {
            amount = $("#Amount").data("kendoNumericTextBox").value() * $("#ExchangeRate").val();
            $("#Amount").data("kendoNumericTextBox").value(amount);

            if ($("#ValueAddedTaxPercent").data("kendoNumericTextBox").value() != null) {
                $("#ValueAddedTaxPercent").data("kendoNumericTextBox").value($("#ValueAddedTaxPercent").data("kendoNumericTextBox").value());
            } else {
                $("#ValueAddedTaxPercent").data("kendoNumericTextBox").value(varPercent);
            }
            var discount = $("#OtherDiscount").data("kendoNumericTextBox").value(0)
            var discount = $("#OtherDiscount").data("kendoNumericTextBox").value() == null ? 0 : $("#OtherDiscount").data("kendoNumericTextBox").value();
            var vat = (amount - discount) * (varPercent/100);
            var total = (amount - discount) + vat;
            $("#ValueAddedTax").data("kendoNumericTextBox").value(vat);
            $("#ValueAddedTaxOn").data("kendoNumericTextBox").value(total);
            $("#PromptPayment").data("kendoNumericTextBox").value(0);
            $("#PromptPayment2").data("kendoNumericTextBox").value(0);
            $("#AdvertisingTax").data("kendoNumericTextBox").value(0);

            //tax payable
            $("#TaxPayable").data("kendoNumericTextBox").value(0);
            $("#TaxPayableOn").data("kendoNumericTextBox").value(0);
            $("#TaxPayablePercent").data("kendoNumericTextBox").value(0);

            $("#TotalCostVendor").data("kendoNumericTextBox").value(total);
            //var grid = $("#grid").data("kendoGrid");
            //grid.dataSource.at(1).AmountPaid = total;
        } else {
            amount = $("#Amount").data("kendoNumericTextBox").value() * $("#ExchangeRate").val();
            $("#Amount").data("kendoNumericTextBox").value(amount);

            if ($("#ValueAddedTaxPercent").data("kendoNumericTextBox").value() != 0) {
                $("#ValueAddedTaxPercent").data("kendoNumericTextBox").value($("#ValueAddedTaxPercent").data("kendoNumericTextBox").value());
            } else {
                $("#ValueAddedTaxPercent").val(varPercent);
            }

            if ($("#TaxPayablePercent").data("kendoNumericTextBox").value() != 0) {
                $("#TaxPayablePercent").data("kendoNumericTextBox").value($("#TaxPayablePercent").data("kendoNumericTextBox").value());
            } else {
                $("#TaxPayablePercent").data("kendoNumericTextBox").value(0);
            }

            if ($("#AdvertisingTax").data("kendoNumericTextBox").value() != 0) {
                $("#AdvertisingTax").data("kendoNumericTextBox").value($("#AdvertisingTax").data("kendoNumericTextBox").value());
            } else {
                $("#AdvertisingTax").data("kendoNumericTextBox").value(0);
            }
            var discount = $("#OtherDiscount").data("kendoNumericTextBox").value() == 0 ? 0 : $("#OtherDiscount").data("kendoNumericTextBox").value();
            var vat = ($("#Amount").data("kendoNumericTextBox").value() - discount) * ($("#ValueAddedTaxPercent").data("kendoNumericTextBox").value() / 100);
            var adv = $("#AdvertisingTax").data("kendoNumericTextBox").value();
            var tp = ($("#Amount").data("kendoNumericTextBox").value() - discount) * ($("#TaxPayablePercent").data("kendoNumericTextBox").value() / 100);
            var total = ($("#Amount").data("kendoNumericTextBox").value() - discount) + vat + adv;
            $("#ValueAddedTax").data("kendoNumericTextBox").value(vat);
            $("#ValueAddedTaxOn").data("kendoNumericTextBox").value(($("#Amount").data("kendoNumericTextBox").value() - discount) + vat);
            $("#PromptPayment").data("kendoNumericTextBox").value(0);
            // $("#PromptPayment2").val(0);
            //$("#AdvertisingTax").data("kendoNumericTextBox").value(0);

            //tax payable
            $("#TaxPayable").data("kendoNumericTextBox").value(tp);
            $("#TaxPayableOn").data("kendoNumericTextBox").value(($("#Amount").data("kendoNumericTextBox").value() - discount) + tp);
            $("#TaxPayablePercent").data("kendoNumericTextBox").value($("#TaxPayablePercent").data("kendoNumericTextBox").value());

            $("#TotalCostVendor").data("kendoNumericTextBox").value(total);
            changeData();
        }



    };
    function changeData() {
        var id = $('#OurRefId').val();
        if (id) {
            var aptype = 1;
            aptype = $('#APType').val();
            //if ($('#APType_4').is(':checked')) {
            //    aptype = $('#APType_4').val();
            //} else if ($('#APType_3').is(':checked')){
            //    aptype = $('#APType_3').val();
            //} else if ($('#APType_2').is(':checked')) {
            //    aptype = $('#APType_2').val();
            //} else if ($('#APType_1').is(':checked')) {
            //    aptype = $('#APType_1').val();
            //}
            $.ajax({
                type: 'GET',
                url: '@Url.Action("ChangeData")',
                data: {
                    id : id,
                    aptype: aptype
                },
                success: function (result) {
                    console.log(result);
                    if (aptype == @PhoenixERPWebApp.Models.Enum.AccountPayableTypeConst.PettyCash) {
                        $('#ExchangeRate').val(result.ExchangeRate);
                        $('#TransactionDate').data('kendoDatePicker').value(result.SettlementDate);
                        $('#Amount').data('kendoNumericTextBox').value(result.Amount)

                        var CurrencyDDL = $("#CurrencyId").data("kendoDropDownList");
                        CurrencyDDL.value(result.CurrencyId);
                        CurrencyDDL.refresh();
                        //Hidden Value
                        $('#AffiliationId').val(result.AffiliationId);
                        var DivisionDDL = $("#BusinessUnitId").data("kendoDropDownList");
                        DivisionDDL.value(result.DivisionId);
                        DivisionDDL.refresh();
                        $('#LegalEntityId').val(result.LegalEntityId);
                    } else if (aptype == @PhoenixERPWebApp.Models.Enum.AccountPayableTypeConst.CashAdvance) {
                        $('#TransactionDate').data('kendoDatePicker').value(result.CaDate);
                        //Hidden Value
                        var DivisionDDL = $("#BusinessUnitId").data("kendoDropDownList");
                        DivisionDDL.value(result.DivisionId);
                        DivisionDDL.refresh();
                        $('#LegalEntityId').val(result.LegalEntityId);
                    } else if (aptype == @PhoenixERPWebApp.Models.Enum.AccountPayableTypeConst.Normal) {
                        $('#ExchangeRate').val(result.ExchangeRate);
                        $('#TransactionDate').data('kendoDatePicker').value('@DateTime.Now');
                        $('#Periode').data('kendoDatePicker').value(result.TransactionDate);
                        $('#InvoicePayableId').val(result.InvoiceReceivedNumber);
                        //$('#TaxDate').data('kendoDatePicker').value(result.TaxDate);
                        $('#TaxNumber').val(result.TaxNumber);
                        if ($("#Id").val() == "undefined" || $("#Id").val() == "") {
                            $('#ValueAddedTax').data('kendoNumericTextBox').value(result.ValueAddedTax);
                        } else {
                            $('#ValueAddedTax').val(result.ValueAddedTax);
                        }
                        if ($("#Id").val() == "undefined" || $("#Id").val() == "") {
                            $('#Amount').data('kendoNumericTextBox').value(result.Amount);
                        } else {
                            $('#Amount').val(result.Amount);
                        }
                        $('#InvoiceVendorNumber').val(result.InvoiceVendor);
                        $('#AllocationRatio').data('kendoDropDownList').value("0");
                        $('#Remarks').val(result.Description);
                        $('#Received').data('kendoDatePicker').value(result.InvoiceDate);
                        $('#JobId').val(result.JobId);
                        $('#JobName').val(result.JobName);
                        $('#Periode').data('kendoDatePicker').value(result.Periode);
                        $('#DueDays').data("kendoNumericTextBox").value(result.DueDays);
                        $('#InvoiceReceivableId').val(result.Id);
                        //$('#BusinessUnitId').val(result.DivisionId);
                        $('#POId').val(result.PoId);


                        //Hidden Value
                        $('#AffiliationId').val(result.AffiliationId);
                        //$('#BusinessUnitId').val(result.BusinessUnitId);
                        $('#LegalEntityId').val(result.LegalEntityId);

                        var CurrencyDDL = $("#CurrencyId").data("kendoDropDownList");
                        CurrencyDDL.value(result.CurrencyId);
                        CurrencyDDL.refresh();

                        var ClientDDL = $("#VendorId").data("kendoDropDownList");
                        ClientDDL.value(result.VendorId);
                        ClientDDL.refresh();

                        //var DivisionDDL = $("#DivisionId").data("kendoDropDownList");
                        //DivisionDDL.value(result.DivisionId);
                        //DivisionDDL.refresh();

                        var DivisionDDL = $("#BusinessUnitId").data("kendoDropDownList");
                        DivisionDDL.value(result.DivisionId);
                        DivisionDDL.refresh();

                        if (result.purchaseOrder.company_brand_id != null) {
                            $('#BrandId').data('kendoDropDownList').value(result.purchaseOrder.company_brand_id);
                        }

                        if (result.purchaseOrder.mainservice_category_id != null) {
                            var TypeDDL = $("#Type").data("kendoDropDownList");
                            TypeDDL.value(result.purchaseOrder.mainservice_category_id);
                            TypeDDL.refresh();
                        }
                        if ($("#Id").val() == "undefined" || $("#Id").val() == "") {
                            onChangeValue();
                        }
                        var dataSource = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: '@Url.Action("ReadDetailFromPOId")',
                                    data: {
                                        poId: result.PoId,
                                        invoiceId: result.Id,
                                        AmountPaid : $("#TotalCostVendor").val()
                                    }
                                }
                            },
                            pageSize: 10
                        });
                        var grid = $('#grid').data('kendoGrid');
                        grid.setDataSource(dataSource);

                    } else {
                        $('#ExchangeRate').val(result.ExchangeRate);
                        $('#TransactionDate').data('kendoDatePicker').value(result.PurchaseOrderDate);
                        $('#Periode').data('kendoDatePicker').value(result.DeliveryDate);

                        var ClientDDL = $("#CurrencyId").data("kendoDropDownList");
                        ClientDDL.value(result.CurrencyId);
                        ClientDDL.refresh();

                         var dataSource = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: '@Url.Action("ReadDetailFromPOId")',
                                    data: {
                                        poId: result.Id,
                                        AmountPaid: $("#TotalCostVendor").val()
                                    }
                                }
                            },
                            pageSize: 10
                        });
                        var grid = $('#grid').data('kendoGrid');
                        grid.setDataSource(dataSource);
                    }


                    $('#refModal').modal('hide');
                },
                error: function (e, t, s) {
                    swal('Information', 'Ooops, something went wrong !', 'info');
                    mApp.unblock("#m_blockui_list");
                }
            }).then(setTimeout(function () {
                mApp.unblock("#m_blockui_list");
            }, 2e3));
        }
    }
    function editAdditionalEvent(e) {

        //document.getElementById("DivisiId").setAttribute("id", "AdditionalDivisi");
        //document.getElementById("JobId").setAttribute("id", "AdditionalJobId");
    }

    function saveAdditionalEvent(e) {
        var AccountId = $("#AccountAdditionalId").data("kendoDropDownList").value();
        var AccountCode = $("#AccountAdditionalId").data("kendoDropDownList").text();
        var AccountName = $("#AccountName").val();
        var JobListId = $("#JobIdName").val();
        var DivisiName = $("#DivisiName").val();
        var Description = $("#Description").val();
        var Debit = $("#Debit").data("kendoNumericTextBox").value();
        var Credit = $("#Credit").data("kendoNumericTextBox").value();

        e.model.set("AccountId", AccountId);
        e.model.set("AccountCode", AccountCode);
        e.model.set("AccountName", AccountName);
        e.model.set("JobId", $("#JobId").val());
        e.model.set("JobIdName", JobListId);
        e.model.set("DivisiId", $("#BusinessUnitId").data("kendoDropDownList").value());
        e.model.set("DivisiName", DivisiName);
        e.model.set("Description", Description);
        e.model.set("Debit", Debit);
        e.model.set("Credit", Credit);

    }
    function editDetailList(e) {

        //document.getElementById("DivisiId").setAttribute("id", "AdditionalDivisi");
        //document.getElementById("JobId").setAttribute("id", "AdditionalJobId");
     

    }

    function saveDetailList(e) {
        var Item_type_id = $("#ItemTypeAdditionalId").data("kendoDropDownList").value();
        var Item_type_name = $("#ItemTypeAdditionalId").data("kendoDropDownList").text();
        var AmountPaid = $("#AmountPaid").data("kendoNumericTextBox").value();
        var TaskDetail = $("#TaskDetail").val();
       

        e.model.set("Item_type_id", Item_type_id);
        e.model.set("ItemTypeName", Item_type_name);
        e.model.set("Ite", Item_type_name);
        e.model.set("ItemName", TaskDetail);
        e.model.set("AmountPaid", AmountPaid);
        e.model.set("amountTotal", AmountPaid);
        e.model.set("unit_price", AmountPaid);
        e.model.set("TaskDetail", TaskDetail);

        
    }

    function AccountNumber_Select(e) {
        if (e.dataItem) {
            var dataItem = e.dataItem;

            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            $("#AccountName").val("");
            //$("#AdditionalAmount").data("kendoNumericTextBox").value(0);

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetAccountData", "TemporaryAccountPayable")',
                data: { id: dataItem.Value },
                success: function (result) {
                    if (result != undefined) {
                        $("#AccountName").val(result.Name5);
                        $("#JobIdName").val($("#JobName").val());
                        $("#DivisiName").val($("#BusinessUnitId").data("kendoDropDownList").text());
                    }
                    mApp.unblock("#m_blockui_list");
                },
                error: function (e, t, s) {
                    swal('Information', 'Ooops, something went wrong !', 'info');
                    mApp.unblock("#m_blockui_list");
                }
            }).then(setTimeout(function () {
                mApp.unblock("#m_blockui_list");
            }, 2e3));


        }
    }

    function ItemType_Select(e) {

        if (e.dataItem) {
            var dataItem = e.dataItem;

            mApp.block("#m_blockui_list", {
                overlayColor: "#000000",
                type: "loader",
                state: "primary",
                message: "Processing..."
            });

            onChangeValue();
            var ttl_cost_vendor = $("#TotalCostVendor").data("kendoNumericTextBox").value();
            var tax_payable = $("#TaxPayable").data("kendoNumericTextBox").value();
            $("#AmountPaid").data("kendoNumericTextBox").value((ttl_cost_vendor - tax_payable));
            mApp.unblock("#m_blockui_list");
        }

    }

     function ProcessData() {

            swal({
            title: "Are you sure want to Create Automatic Journal?",
            text: "You won't be able to revert this!",
            type: "warning",
            showCancelButton: !0,
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            reverseButtons: !0
        }).then(function (ok) {
            if (ok.value) {
                mApp.block("#m_blockui_list", {
                    overlayColor: "#000000",
                    type: "loader",
                    state: "primary",
                    message: "Processing..."
                });
                var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: '@Url.Action("ReadJournal")',
                            data: {
                                referenceId: $('#POId').val()
                            }
                        }
                    }, schema: {
                        data: (response) => {
                            //console.log(response)
                            // Augment returned data with a slice() method used internally by Kendo DataSource 
                            // in the absence of "schema.model" to obtain a pristine copy of the object.
                            response.slice = () => JSON.parse(JSON.stringify(response.Data));
                            return response.Data;
                        },
                        total: (response) => {
                            return response.Total;
                        }
                    },
                    pageSize: 10
                });
                var grid = $('#grid-1').data('kendoGrid');
                grid.setDataSource(dataSource);

                var dataSource2 = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: '@Url.Action("ReadJournalTax")',
                            data: {
                                referenceId: $('#POId').val(),
                                invoiceReceivedId: $('#Id').val()
                            }
                        }
                    }, schema: {
                        data: (response) => {
                            //console.log(response)
                            // Augment returned data with a slice() method used internally by Kendo DataSource 
                            // in the absence of "schema.model" to obtain a pristine copy of the object.
                            response.slice = () => JSON.parse(JSON.stringify(response.Data));
                            return response.Data;
                        },
                        total: (response) => {
                            return response.Total;
                        }
                    },
                    pageSize: 10
                });
                var grid = $('#grid-2').data('kendoGrid');
                grid.setDataSource(dataSource2);
            }
        }).then(setTimeout(function () {
            mApp.unblock("#m_blockui_list");
        }, 2e3));
    }

    function ConfirmJournal() {

            swal({
            title: "Are you sure want to Confirm this Journal?",
            text: "You won't be able to revert this!",
            type: "warning",
            showCancelButton: !0,
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            reverseButtons: !0
        }).then(function (ok) {
            if (ok.value) {
                mApp.block("#m_blockui_list", {
                    overlayColor: "#000000",
                    type: "loader",
                    state: "primary",
                    message: "Processing..."
                });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ConfirmJournal", "TemporaryAccountPayable")',
                    data: { TapId : $("#Id").val()},
                    success: function (result) {
                        if (result.success) {
                            swal('Information', result.message, 'success')
                                .then(function (ok) {
                                    if (ok.value) {
                                        window.location.href = "/Finance/TemporaryAccountPayable";
                                    }
                                });
                        } else {
                            swal('Error', result.message, 'error');
                        }
                        mApp.unblock("#m_blockui_list");
                    },
                    error: function (e, t, s) {
                        var errorMessage = e.responseJSON.errorMessage;
                        if (errorMessage === "" || errorMessage === undefined) {
                            errorMessage = "Ooops, something went wrong !";
                        }
                        swal('Error', errorMessage, 'error');
                        mApp.unblock("#m_blockui_list");
                    }
                }).then(setTimeout(function () {
                    mApp.unblock("#m_blockui_list");
                }, 2e3));
            }
        }).catch(swal.noop);
    }

   function TaxVerivication() {

            swal({
            title: "Are you sure want to Process Tax Verification?",
            text: "You won't be able to revert this!",
            type: "warning",
            showCancelButton: !0,
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            reverseButtons: !0
        }).then(function (ok) {
            if (ok.value) {
                mApp.block("#m_blockui_list", {
                    overlayColor: "#000000",
                    type: "loader",
                    state: "primary",
                    message: "Processing..."
                });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("TaxVerification", "TemporaryAccountPayable")',
                    data: { TapId : $("#Id").val()},
                    success: function (result) {
                        if (result.success) {
                            swal('Information', result.message, 'success')
                                .then(function (ok) {
                                    if (ok.value) {
                                        window.location.href = "/Finance/TemporaryAccountPayable";
                                    }
                                });
                        } else {
                            swal('Error', result.message, 'error');
                        }
                        mApp.unblock("#m_blockui_list");
                    },
                    error: function (e, t, s) {
                        var errorMessage = e.responseJSON.errorMessage;
                        if (errorMessage === "" || errorMessage === undefined) {
                            errorMessage = "Ooops, something went wrong !";
                        }
                        swal('Error', errorMessage, 'error');
                        mApp.unblock("#m_blockui_list");
                    }
                }).then(setTimeout(function () {
                    mApp.unblock("#m_blockui_list");
                }, 2e3));
            }
        }).catch(swal.noop);
    }

     $('#btn-submit').click(function () {

         swal({
            title: "Are you sure want to Process This TAP Become Real Account Payable?",
            text: "You won't be able to revert this!",
            type: "warning",
            showCancelButton: !0,
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            reverseButtons: !0
        }).then(function (ok) {
            if (ok.value) {
                mApp.block("#m_blockui_list", {
                    overlayColor: "#000000",
                    type: "loader",
                    state: "primary",
                    message: "Processing..."
                });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateAPData", "TemporaryAccountPayable")',
                    data: { TapId : $("#Id").val()},
                    success: function (result) {
                        if (result.success) {
                            swal('Information', result.message, 'success')
                                .then(function (ok) {
                                    if (ok.value) {
                                        window.location.href = "/Finance/AccountPayable";
                                    }
                                });
                        } else {
                            swal('Error', result.message, 'error');
                        }
                        mApp.unblock("#m_blockui_list");
                    },
                    error: function (e, t, s) {
                        var errorMessage = e.responseJSON.errorMessage;
                        if (errorMessage === "" || errorMessage === undefined) {
                            errorMessage = "Ooops, something went wrong !";
                        }
                        swal('Error', errorMessage, 'error');
                        mApp.unblock("#m_blockui_list");
                    }
                }).then(setTimeout(function () {
                    mApp.unblock("#m_blockui_list");
                }, 2e3));
            }
        }).catch(swal.noop);
    });

    function runningNumber(data, grid) {
        var grid = $('#' + grid).data('kendoGrid');
        return grid.dataSource.indexOf(data) + 1;
    };

    var param = (function (param) {
        param.saveUrl = '@Url.Action("Save")';
        param.indexRefUrl = '@Url.Action("IndexRef")';
        param.attachmentUrl = '@Url.Action("Attachment")';
        param.taxVerificationUrl = '@Url.Action("TaxVerification")';
        return param;
    })(param || {});

    (function ($) {
        'use strict';
        var pageFunction = (function (pageFunction) {
            pageFunction.init = function () {
                //initialize


            };
            pageFunction.popUpRef = function (e) {
                e.preventDefault();
                var aptype = 1;
                //if ($('#APType_4').is(':checked')) {
                //    aptype = $('#APType_4').val();
                //} else if ($('#APType_3').is(':checked')) {
                //    aptype = $('#APType_3').val();
                //} else if ($('#APType_2').is(':checked')) {
                //    aptype = $('#APType_2').val();
                //} else if ($('#APType_1').is(':checked')) {
                //    aptype = $('#APType_1').val();
                //}
                $.ajax({
                    type: 'GET',
                    url: param.indexRefUrl,
                    data: {
                        aptype: aptype,
                        VendorId: $('#VendorId').val()
                    },
                    success: function (result) {
                        $('#refModal').html(result);

                        $('#refModal').modal('show');
                        mApp.unblock("#m_blockui_list");
                    },
                    error: function (e, t, s) {
                        swal('Information', 'Ooops, something went wrong !', 'info');
                        mApp.unblock("#m_blockui_list");
                    }
                }).then(setTimeout(function () {
                    mApp.unblock("#m_blockui_list");
                }, 2e3));
            };
            pageFunction.attachment = function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: param.attachmentUrl,
                    success: function (result) {
                        $('#refModal').html(result);

                        $('#refModal').modal('show');
                        mApp.unblock("#m_blockui_list");
                    },
                    error: function (e, t, s) {
                        swal('Information', 'Ooops, something went wrong !', 'info');
                        mApp.unblock("#m_blockui_list");
                    }
                }).then(setTimeout(function () {
                    mApp.unblock("#m_blockui_list");
                }, 2e3));
            };
            pageFunction.save = function () {
                //callAction({ formId: "form", title: "save", type: "POST", url: param.saveUrl });
                var details = $("#grid").data("kendoGrid").dataSource.data().toJSON();
                var list = [];
                for (var i = 0; i < details.length; i++) {
                    var z = JSON.parse(JSON.stringify(details[i]));
                    list.push(z);
                }

                callActionWithDetails({ formId: "form", title: "save", type: "POST", url: param.saveUrl, objects: list });

            };
            pageFunction.taxVerification = function () {

                swal({
                    title: "Confirmation",
                    text: 'Are you sure want to verify the tax?',
                    type: "question",
                    showCancelButton: !0,
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    reverseButtons: !0
                }).then(function (ok) {
                    swal('Information', result.message, 'success')
                        .then(function (ok) {
                            if (ok.value) {
                                if (result.url !== undefined) window.location = result.url;
                            }
                        });
                }).catch(swal.noop);

            };
            return pageFunction;
        })(pageFunction || {});

        $(document).ready(function () {
            pageFunction.init();
            $('#btn-PopUpRef').click(pageFunction.popUpRef);
            $('#btn-save').click(pageFunction.save);
            $('#btn-attachment').click(pageFunction.attachment);
            $('#btn-taxVerification').click(pageFunction.taxVerification);

            if ($('#Id').val() != null && $('#Id').val() != "") {
                //add default value forinv detail
                //$("#Amount").data('kendoNumericTextBox').value(0);
                //$("#ValueAddedTax").data('kendoNumericTextBox').value(0);
                //$("#ValueAddedTaxOn").data('kendoNumericTextBox').value(0);
                //$("#ValueAddedTaxPercent").data('kendoNumericTextBox').value(0);
                //$("#TotalCostVendor").data('kendoNumericTextBox').value(0);
                //$("#PromptPayment").data('kendoNumericTextBox').value(0);
                //$("#PromptPayment2").data('kendoNumericTextBox').value(0);
                //$("#TaxPayable").data('kendoNumericTextBox').value(0);
                //$("#TaxPayableOn").data('kendoNumericTextBox').value(0);
                //$("#TaxPayablePercent").data('kendoNumericTextBox').value(0);
                $("#OtherDiscount").data('kendoNumericTextBox').value(0);
                //$("#AdvertisingTax").data('kendoNumericTextBox').value(0);
                onChangeValue();
                if (@Model.InvoiceStatusId != '@PhoenixERPWebApp.Models.Enum.InvoiceReceivedStatus.TAP'){
                        mApp.block("#m_blockui_list", {
                            overlayColor: "#000000",
                            type: "loader",
                            state: "primary",
                            message: "Processing..."
                        });
                            var dataSource = new kendo.data.DataSource({
                                transport: {
                                    read: {
                                        url: '@Url.Action("ReadJournal")',
                                        data: {
                                            referenceId: $('#POId').val()
                                        }
                                    }
                                }, schema: {
                                    data: (response) => {
                                        //console.log(response)
                                        // Augment returned data with a slice() method used internally by Kendo DataSource 
                                        // in the absence of "schema.model" to obtain a pristine copy of the object.
                                        response.slice = () => JSON.parse(JSON.stringify(response.Data));
                                        return response.Data;
                                    },
                                    total: (response) => {
                                        return response.Total;
                                    }
                                },
                                pageSize: 10
                            });
                            var grid = $('#grid-1').data('kendoGrid');
                            grid.setDataSource(dataSource);

                            var dataSource2 = new kendo.data.DataSource({
                                transport: {
                                    read: {
                                        url: '@Url.Action("ReadJournalTax")',
                                        data: {
                                            referenceId: $('#POId').val()
                                        }
                                    }
                                }, schema: {
                                    data: (response) => {
                                        //console.log(response)
                                        // Augment returned data with a slice() method used internally by Kendo DataSource 
                                        // in the absence of "schema.model" to obtain a pristine copy of the object.
                                        response.slice = () => JSON.parse(JSON.stringify(response.Data));
                                        return response.Data;
                                    },
                                    total: (response) => {
                                        return response.Total;
                                    }
                                },
                                pageSize: 10
                            });
                            var grid = $('#grid-2').data('kendoGrid');
                            grid.setDataSource(dataSource2);
                }
            }

            //if ($('#VendorId').data("kendoDropDownList").value() != "" && $('#OurRef').val() != "" && $('#InvoiceReceivableId').val() != "") {
            //    alert("mode lempar");
            //}
        });
    }(jQuery));
</script>
@*<script src="~/Areas/Finance/Scripts/TemporaryAccountPayable/TemporaryAccountPayable.Detail.js" asp-append-version="true"></script>*@