﻿@{
    ViewData["Title"] = "Bidding Detail";
    Layout = "~/Views/Shared/metronic/_formpanel.cshtml";
}

@section Panelhead{

}

@section Paneltools{

}
@section Panelbody{
<style>
    .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
     display: block;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
}
table.vendor tr:nth-child(even) {background: #CCC} 
table.vendor tr:nth-child(odd) {background: #FFF} 
</style>
<div class="row">
    <div class="col-md-3">
        <a href="@Url.Content("~/Finance/Biddings/Vendorquotation")"
         class="btn btn-sm m-btn--sm btn-secondary m-btn m-btn--icon m-btn--wide m--margin-right-10">
            <span>
                <i class="la la-plus"></i>
                    <span>Add</span>
            </span>
        </a>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
        <div class="form-group">
           
            <input type="text" id="search_val" class="form-control" placeholder="Search for...">
            
        </div>
    </div>
</div>
    

<div class="row">
    <div class="col-md-12">

<div class="form-group">
    <table class="table table-responsive table-striped table-bordered table-hover table-checkable" id="JobList">
        <thead>
            <th>#</th>
            <th>Bidding ID</th>
            <th>Bidding Date</th>
            <th>RFQ Number</th>
            <th>Task Name</th>
            <th>Internal Cost</th>
            <th>Delivery Place</th>
            <th>Vendor Name</th>
            <th>Quotation Price</th>
            <th>Status</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
            <td style="width:12%;">
                <a class="btn btn-outline-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--air fakelink" 
                href="#"><i class="fa fa-eye"></i> </a>
                  <a class="btn btn-outline-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--air fakelink" 
                  href="#"><i class="la la-edit"></i> </a> 
                  <a class="btn btn-outline-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--air" 
                  href="#"><i class="la la-trash"></i> 
                  </a>
            </td>
                <td>BID001</td>
            <td>04/Feb/2016</td>
            <td>RFQ001</td>
            <td>Laptop</td>
           
            <td>
                Rp.10.000,00
            </td>
            <td>Jakarta</td>
             <td style="padding:0px;">
                <table class="vendor" style="width:100%;">
                  <tr>
                      <td >Argantha</td>
                      
                  </tr>
                  <tr>
                      <td>Dimensi</td>
                      
                  </tr>
                  <tr>
                      <td>Okerot</td>
                      
                  </tr>
              </table>
            </td>
            <td style="padding:0px;">
               
                <table class="vendor" style="width:100%;">
                  <tr>
                      <td ><input type="checkbox"> 10.000.000</td>
                      
                  </tr>
                  <tr>
                      <td><input type="checkbox"> 15.000.000</td>
                      
                  </tr>
                  <tr>
                      <td><input type="checkbox"> 20.000.000</td>
                      
                  </tr>
              </table>
            </td>
            <td>In Process</td>
            <td>
                <a href="@Url.Content("~/Finance/Biddings/VendorsSelection")">
                    Selection
                </a>
            </td>
            </tr>
            <tr>
           <td>
                <a class="btn btn-outline-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--air fakelink" 
                href="#"><i class="fa fa-eye"></i> </a>
                  <a class="btn btn-outline-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--air fakelink" 
                  href="#"><i class="la la-edit"></i> </a> 
                  <a class="btn btn-outline-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--air" 
                  href="#"><i class="la la-trash"></i> 
                  </a>
            </td>
                <td>BID002</td>
            <td>04/Feb/2016</td>
            <td>RFQ002</td>
            <td>Print Billboard</td>
            <td>
                Rp.10.000,00
            </td>
            <td>Jakarta</td>
            <td style="padding:0px;">
              <table class="vendor" style="width:100%;">
                  <tr>
                      <td>Argantha</td>
                      
                  </tr>
                  <tr>
                      <td>Dimensi</td>
                      
                  </tr>
                  <tr>
                      <td>Okerot</td>
                      
                  </tr>
              </table>
               
            </td>
            <td style="padding:0px;">
                 <table class="vendor" style="width:100%;">
                  <tr>
                      <td ><input type="checkbox"> 9.000.000</td>
                      
                  </tr>
                  <tr>
                      <td><input type="checkbox"> 9.200.000</td>
                      
                  </tr>
                  <tr>
                      <td><input type="checkbox"> 8.000.000</td>
                      
                  </tr>
              </table>
                
            </td>
            <td>In Process</td>
            <td>
                <a href="@Url.Content("~/Finance/Biddings/VendorsSelection")">
                    Selection
                </a>
            </td>
            </tr>
        </tbody>
    </table>
        </div>
</div>
</div>
}
@section Panelscript{
    <!-- <script src="~/assets/js/Areas/ProjectManagement/Form/Job/index.js"></script> -->
    }

