@{
    ViewBag.ModalTitle = "Employee Basic Education Info Modal";
    ViewBag.ModalId = "EmployeeBasicEducationInfoModal";
    Layout = "~/Views/Shared/metronic/_ModalLarge.cshtml";
}
<form id="EmployeeBasicFormEducationInfo" method="post">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="education_level_id">Last Education :</label>
                <select class="form-control form-control-sm m-input m-input--square" name="education_level_id" id="education_level_id" maxlength="50" type="text"></select>
            </div>
            <div class="form-group">
                <label for="from_year">Year :</label>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="start_education" name="start_education">
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="end_education" name="end_education">
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="qualification">Qualification Attained :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="qualification" id="qualification" maxlength="50" type="text">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="education_major">Major :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="education_major" id="education_major" maxlength="50" type="text">
            </div>
            <div class="form-group">
                <label for="education_institution_name">Institution Name :</label>
                <select class="form-control form-control-sm m-input m-input--square" name="education_institusion_id" id="education_institusion_id" maxlength="50" type="text"></select>
            </div>
            <div class="form-group">
                <label for="education_location">Location :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="education_location" id="education_location" maxlength="50" type="text">
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" id="btn-save" class="btn btn-primary" onclick="CheckAndAddRowEducationInfo()">Save</button>
            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>

    </div>

</form>
<script src="~/assets/js/Areas/Hris/Form/EmployeeBasic.educationinfo.js"></script>