@{
    ViewBag.ModalTitle = "Employee Basic Employment History Modal";
    ViewBag.ModalId = "EmployeeBasicEmploymentHistoryModal";
    Layout = "~/Views/Shared/metronic/_ModalLarge.cshtml";
}
<form id="EmployeeBasicFormEmploymentHistory" name="EmployeeBasicFormEmploymentHistory" method="post">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="company_name">Company Name :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="company_name" id="company_name" maxlength="50" type="text">
            </div>
            <div class="form-group">
                <label for="from_year">Year :</label>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="history_start" name="history_start">
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="history_end" name="history_end">
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="history_remark">Remark :</label>
                <textarea class="form-control form-control-sm m-input m-input--square" name="history_remark" id="history_remark" rows="5" type="text"></textarea>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="history_phone">Company Phone :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="history_phone" id="history_phone" maxlength="50" type="text">
            </div>
            <div class="form-group">
                <label for="history_position">Position :</label>
                <input class="form-control form-control-sm m-input m-input--square" name="history_position" id="history_position" maxlength="50" type="text">
            </div>
            <div class="form-group">
                <label for="history_address">Address :</label>
                <textarea class="form-control form-control-sm m-input m-input--square" name="history_address" id="history_address" rows="5" type="text"></textarea>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="button" id="btn-save" class="btn btn-primary" onclick="CheckAndAddRowEmploymentHistory()">Save</button>
            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>

    </div>

</form>
<script src="~/assets/js/Areas/Hris/Form/EmployeeBasic.employmenthistory.js"></script>